<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOnePoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://apidemo.myfarebox.com/V2/OnePoint.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnePoint"
                contract="OnePointService.OnePoint" name="BasicHttpBinding_IOnePoint" />
        </client>
    </system.serviceModel>
</configuration>