
@{
    ViewBag.Title = "flight";
    ViewBag.ActiveMenu = "flight";
}

<h3><i class="fa fa-angle-right"></i> Flight Booking</h3>
<div class="row">

    <div class="col-md-12">
        <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> Flight Booking List</h4>
            <hr>
            <table class="table table-hover table-flight-booking">
                <thead>
                    <tr>
                        <th class="number">#</th>
                        <th class="booking-number">Booking Number</th>
                        <th class="booking-date">Booking Date</th>
                        <th class="booking-reserve-name">Reserve Name</th>
                        <th class="booking-status">Status</th>
                        <th class="booking-passengers">Passengers</th>
                        <th class="booking-flight-type">Flight type</th>
                        <th class="booking-departure-flight">Departure Flight</th>
                        <th class="booking-return-flight">Return Flight</th>
                        <th class="booking-action">Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="number">1</td>
                        <td class="booking-number"><a href="/Home/FlightDetail">12345678901234</a></td>
                        <td class="booking-date">2015 Februari 25</td>
                        <td class="booking-reserve-name">Rama Adhitia</td>
                        <td class="booking-status"><span class="label label-success">Complete</span></td>
                        <td class="booking-passengers">Rama Adhitia</td>
                        <td class="booking-flight-type">One Way</td>
                        <td class="booking-departure-flight">
                            <h4>Jakarta - Bali</h4>
                            <h5>
                                2015 Februari 30 <br> 20 : 15
                            </h5>
                            <p>
                                Airline : Air Asia <br>
                                Flight Number : AB12345
                            </p>
                        </td>
                        <td class="booking-return-flight"><span class="label label-default">Not applicable</span></td>
                        <td class="booking-action"><a href="#" class="btn btn-info btn-xs"><span class="fa fa-eye"> view</span></a> <a href="#" class="btn btn-xs btn-danger"><span class="fa fa-trash"> delete</span></a></td>
                    </tr>

                    <tr>
                        <td class="number">2</td>
                        <td class="booking-number"><a href="#">12345678901234</a></td>
                        <td class="booking-date">2015 Februari 25</td>
                        <td class="booking-reserve-name">Rama Adhitia</td>
                        <td class="booking-status"><span class="label label-success">Complete</span></td>
                        <td class="booking-passengers">Rama Adhitia</td>
                        <td class="booking-flight-type">Return</td>
                        <td class="booking-departure-flight">
                            <h4>Jakarta - Bali</h4>
                            <h5>
                                2015 Februari 30 <br> 08 : 15
                            </h5>
                            <p>
                                Airline : Air Asia <br>
                                Flight Number : AB12345
                            </p>
                        </td>
                        <td class="booking-return-flight">
                            <h4>Bali - Jakarta</h4>
                            <h5>
                                2015 Februari 31 <br> 21 : 15
                            </h5>
                            <p>
                                Airline : Air Asia <br>
                                Flight Number : AB12345
                            </p>
                        </td>
                        <td class="booking-action"><a href="#" class="btn btn-info btn-xs"><span class="fa fa-eye"> view</span></a> <a href="#" class="btn btn-xs btn-danger"><span class="fa fa-trash"> delete</span></a></td>
                    </tr>

                </tbody>
            </table>
        </div><!--/content-panel -->
    </div><!-- /col-md-12 -->

</div><!-- row -->
