
@{
    ViewBag.Title = "HotelDetail";
    ViewBag.ActiveMenu = "hotel";
}

<h3><i class="fa fa-angle-right"></i> Flight Booking <small> > 1234566789</small></h3>
<div class="row">

    <div class="col-md-6">

        <div class="showback">
            <h4>Flight Booking Detail</h4>
            <hr>
            <table class="table table-hover table-no-border">
                <tbody>
                    <tr>
                        <td>Booking ID</td>
                        <td>12345678901234</td>
                    </tr>
                    <tr>
                        <td>Booking Date</td>
                        <td>2015 Februari 30</td>
                    </tr>
                    <tr>
                        <td>Booking Status</td>
                        <td><span class="label label-success">complete</span></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="showback">
            <h4>User Detail</h4>
            <hr>
            <table class="table table-hover table-no-border">
                <tbody>
                    <tr>
                        <td>User ID</td>
                        <td>12345678901234</td>
                    </tr>
                    <tr>
                        <td>User Name</td>
                        <td>Rama Adhitia</td>
                    </tr>
                    <tr>
                        <td>User Email</td>
                        <td><a href="#">rama.adhitia@gmail.com</a></td>
                    </tr>
                    <tr>
                        <td>User Phone</td>
                        <td>+62 821 234 5678</td>
                    </tr>
                    <tr>
                        <td>User Address</td>
                        <td>Jalan Simacanmangaraja no.xxi</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Jakarta Barat</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Indonesia</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="showback">
            <h4>Hotel Detail</h4>
            <hr>
            <table class="table table-hover table-no-border">
                <tbody>
                    <tr>
                        <td>Hotel ID</td>
                        <td>12345678901234</td>
                    </tr>
                    <tr>
                        <td>Hotel Name</td>
                        <td>Lorem Ipsum Dolor Sit Amet</td>
                    </tr>
                    <tr>
                        <td>Hotel Address</td>
                        <td>Jalan Jalan bebas no.30</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Jakarta Barat</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Indonesia</td>
                    </tr>
                    <tr>
                        <td>Hotel Contact</td>
                        <td>+62 21 1234 567</td>
                    </tr>
                    <tr>
                        <td>Hotel Website</td>
                        <td><a href="#">http://www.hotelbebas.com</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div><!-- col-md-6 -->

    <div class="col-md-6">

        <div class="showback">
            <h4>Payment Detail Detail</h4>
            <hr>
        </div>

    </div><!-- col-md-6 -->

</div><!-- row -->