<div class="search-calendar">
    <header class="calendar-header">
        <p class="departure calendar-title">Tanggal Keberangkatan <span class="close-calendar">X</span></p>
        <p class="return calendar-title hidden">Tanggal Kepulangan <span class="close-calendar">X</span></p>
    </header>
    <section class="calendar-body">
        
        <div class="home-nav">
            <a class="nav-prev"></a>
            <a class="nav-next"></a>
        </div>

        <div class="date-picker"></div>
    </section>
</div><!-- .search-calendar -->