<div class="search-calendar">
    <header class="calendar-header">
        <p class="departure calendar-title">Tanggal Keberangkatan <span class="close-calendar" style="z-index: 10000">X</span></p>
        <p class="return calendar-title hidden">Tanggal Kepulangan <span class="close-calendar" style="z-index: 10000">X</span></p>
    </header>
    <section class="calendar-body">
        
        <div class="home-nav">
            <a  class="nav-prev"></a> <!--href="#" is omitted-->
            <a  class="nav-next"></a> <!--href="#" is omitted-->
        </div>

        <div class="date-picker"></div>
    </section>
</div><!-- .search-calendar -->