<section class="section-feedback">
    <div class="container">
        
        <div class="row">
            <div class="col-xs-6">

                <h2>Pendapat Orang-Orang Mengenai Travorama</h2>
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>
                    <footer>John Aliwarga</footer>
                </blockquote>

            </div>
        </div>

    </div>
</section><!-- .section-feedback -->