@using Lunggo.ApCommon.Identity.User
<aside class="account-menu">

    <header>
        <span>{{userProfile.firstname}} {{userProfile.lastname}}</span>
    </header>
    <ul>
        <li class="profile"><a href="@(Request.Url.AbsolutePath.Contains("OrderFlightHistoryDetail") ? Url.Action("OrderHistory", "UW620OrderHistory")+"#profile" : "#")" class="" ng-click="changeSection('profile')" ng-class="{'active': currentSection == 'profile'}">Ubah Profil</a></li>
        <li class="order"><a href="@(Request.Url.AbsolutePath.Contains("OrderFlightHistoryDetail") ? Url.Action("OrderHistory", "UW620OrderHistory")+"#order" : "#")" class="" ng-click="changeSection('order')" ng-class="{'active': currentSection == 'order'}">Cek Pemesanan</a></li>
    </ul>

</aside><!-- -.account-menu -->