<section class="section-subscribe">
    <div class="container">
        
        <img class="subscribe-bg" src="/Assets/images/subscribe-bg.jpg" alt="Email" />

        <div class="row">
            <div class="col-sm-7">
                <h2><b>Daftar &amp; Dapatkan</b> Info Promo dan Travel Terkini dari <b>Travorama!</b></h2>
            </div>
            <div class="col-sm-5">
                <form class="form subscribe-form">
                    <div class="form-group">
                        <input type="text" name="address" value="" class="subscribe-email form-control" placeholder="Alamat Email Anda" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="name" value="" class="subscribe-name form-control" placeholder="Nama Anda" />
                        <input type="submit" class="btn btn-yellow" value="DAFTAR"/>
                    </div>
                </form>
                <div class="subscribe-form subscribed">
                    <h2>Terima kasih telah mendaftar di Travorama</h2>
                </div>
            </div>
        </div>

    </div>
</section><!-- .section-subscribe -->