<section class="section-payment">
    <div class="container text-center">
        
        <h2 class="section-title stripe text-center">KAMI MENERIMA <span>PEMBAYARAN</span> DARI</h2>
        
        <p class="text-center">
            <img src="/Assets/images/payment-method.jpg" alt="Visa and Master Card, ATM Bersama" />
        </p>

    </div>
</section><!-- .section-payment -->