<section class="site-footer-menu">
    
    <div class="container">
        <div class="row">
            <div class="col-sm-3 menu-left">
                <img src="/Assets/images/travorama-logo.png" alt="Travorama" class="footer-logo" />
                <a href="#" class="googlePlay"><img src="/Assets/images/googlePlay.png" /></a>
                <a href="#" class="appStore"><img src="/Assets/images/appStore.png" /></a>
            </div>
            <div class="col-sm-9 menu-right">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="call-center">
                            <img src="/Assets/images/phone-icon.png" alt="Travorama Call Center" />
                            <p>Call Center:</p>
                            <h2>1500 650</h2>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="asita">
                            <img src="/Assets/images/asita-logo.png" alt="ASITA" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="verisign">
                            <img src="/Assets/images/verisign.jpg" alt="Verisign" />
                            <img src="/Assets/images/rapidSsl.jpg" alt="RapidSSL" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 menu-flight">
                        <p class="list-title">Tiket Rute Populer</p>
                        <ul>
                            <li><a href="#">Tiket murah Jakarta-Bali</a></li>
                            <li><a href="#">Tiket murah Jakarta-Surabaya</a></li>
                            <li><a href="#">Tiket murah Jakarta-Singapura</a></li>
                            <li><a href="#">Tiket murah Jakarta-Malang</a></li>
                            <li><a href="#">Tiket murah Jakarta-Yogyakarta</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 menu-hotel">
                        <p class="list-title">Hotel Populer</p>
                        <ul>
                            <li><a href="#">Hotel di Jakarta</a></li>
                            <li><a href="#">Hotel di Bandung</a></li>
                            <li><a href="#">Hotel di Yogyakarta</a></li>
                            <li><a href="#">Hotel di Bali</a></li>
                            <li><a href="#">Hotel di Singapura</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 menu-about">
                        <p class="list-title">Tentang Travorama</p>
                        <ul>
                            <li><a href="#">Cara Pesan</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">FAQ - Reward Point</a></li>
                            <li><a href="#">Karir</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 menu-other">
                        <p class="list-title">Lainnya</p>
                        <ul>
                            <li><a href="#">Kebijakan Privasi</a></li>
                            <li><a href="#">Daftarkan Activity Anda</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section><!-- .site-footer-menu -->
