<header class="site-header">
    
    <div class="container">
        
        <div class="row">
            <div class="col-sm-3">
                <a href="#" class="site-logo"><img src="/Assets/images/travorama20/travorama-logo.png" alt="TRAVORAMA" /></a>
            </div>
            <div class="col-sm-9">
                <div class="menu-top">
                    <nav>
                        <ul>
                            <li class="check-order"><a href="#">Cek Pemesanan</a></li>
                            <li class="currency-select"><a href="#">IDR <span class="caret"></span></a></li>
                            <li class="language-select"><a href="#"><img src="/Assets/images/flag-indonesia.png" alt="Indonesia" /> <span class="caret"></span></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="menu-bottom">
                    <div class="menu-side">
                        <nav>
                            <ul>
                                <li><a href="#">Scratchpad <span class="caret"></span></a></li>
                                <li><a href="#">Account <span class="caret"></span></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="menu-main">
                        <nav>
                            <ul>
                                <li><a href="#">HOTEL</a></li>
                                <li><a href="#">FLIGHT</a></li>
                                <li><a href="#">TOUR &amp; ACTIVITY</a></li>
                                <li><a href="#">PROMOTION</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </div>

</header><!-- .site-header -->
