<footer class="site-footer">
    
    <div class="container">
        
        <h4 class="text-center"><b>Follow Us</b> on:</h4>
        
        <div class="text-center">
            <a href="#" class="facebook"></a>
            <a href="#" class="twitter"></a>
            <a href="#" class="google-plus"></a>
            <a href="#" class="instagram"></a>
        </div>
        
        <h5 class="text-center">Copyright 2015 Travel Madezy International. All Rights Reserved</h5>

    </div>

</footer><!-- .site-footer -->