@using Lunggo.CustomerWeb.Models
@using Lunggo.Framework.Config
@{
    Layout = "/Views/Shared/mobile/_LayoutMobile.cshtml";
    ViewBag.Title = "Diskon untuk semua penerbangan dan hotel domestik dan internasional";
    ViewBag.BodyClass = "page page-home";
    ViewBag.AngularController = "homeController";
    ViewBag.CurrentPage = "home";
    ViewBag.SiteHeader = "mobile-home-page";
    ViewBag.Page = "Index";
}

@section AdditionalCSS{
    <link rel="stylesheet" type="text/css" href="/Assets/vendor/slick/slick.css" />
    <link href="/Assets/css/jquery-ui.min.css" rel="stylesheet" />
}

@section AdditionalJS {

    <script src="/Config/JsConfig.js"></script>
    <!-- jquery datepicker -->
    <script src="/Assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Assets/js/jquery.ui.datepicker-id.js"></script>
    <script src="/Assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Assets/vendor/slick/slick.min.js"></script>
    <script src="/Assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/Assets/vendor/slick/slick.min.js"></script>
    <script src="/Assets/js/js.cookie.js"></script>
    @*<script type="text/javascript" src="/Assets/vendor/fullcalendar/fullcalendar.min.js"></script>
    <script type="text/javascript" src="/Assets/vendor/fullcalendar/fullcalendar-id.min.js"></script>*@
}

@section PageJS {
    <script src="/Assets/travorama20/angularDirectory/search/hotelSearch.service.js"></script>
    <script src="/Assets/mobile/js/HomeController.js"></script>
}

<div class="page-loading form-container" ng-class="{'page-loaded' : PageConfig.Loaded}" ng-init="getCookies()">
    <div class="carousel-inner" role="listbox">
        
            <div class="item">
                <a href="/id/Promo/BTNTerbanginHemat"><img src="/Assets/images/campaign/TerbanginHemat/TerbanginHemat-slider-mobile.jpg" alt="Terbangin Hemat (Terbang & Nginap Hemat)" /></a>
            </div>
        
        <div class="item">
            <a href="http://onelink.to/travoramaapp"><img src="/Assets/images/banner/download-app.jpg" alt="Download Applikasi Travorama!" /></a>
        </div>
    </div>
    <div class="main-tab clearfix">
        <div class="row group-kategori">
            <a href="#">
                <div class="col-xs-12 btn-flight">
                    <div class="col-xs-4"><img src="/Assets/mobile/images/btn-flight.png" alt="Flight" /></div>
                    <div class="col-xs-8 title-btn "><h3 class=" bold-txt">Pesawat</h3><span>Lorem ipsum dolor sit amet</span></div>
                </div>
            </a>
            <a href="#">
                <div class="col-xs-12 btn-flight">
                    <div class="col-xs-4"><img src="/Assets/mobile/images/btn-hotel.png" alt="Hotel" /></div>
                    <div class="col-xs-8 title-btn "><h3 class=" bold-txt">Hotel</h3><span>Lorem ipsum dolor sit amet</span></div>
                </div>
            </a>
            <a href="#">
                <div class="col-xs-12 btn-flight">
                    <div class="col-xs-4"><img src="/Assets/mobile/images/btn-Promo.png" alt="Promo" /></div>
                    <div class="col-xs-8 title-btn"><h3 class=" bold-txt">Promo</h3><span>Lorem ipsum dolor sit amet</span></div>
                </div>
            </a>
        </div>  
    </div>
    <div class="main-tab slider-mobile clearfix">
        <div class="row">
            <h2 class="section-title stripe text-center xlg-txt">Mengapa Memilih <span>Travorama</span></h2>
            <div class="carousel-inner-mobile" role="listbox">
                <div class="item">
                    <img src="/Assets/images/harga.jpg" alt="" />
                </div>
                <div class="item">
                    <img src="/Assets/images/waktu.jpg" alt="" />
                </div>
                <div class="item">
                    <img src="/Assets/images/tanpa.jpg" alt="" />
                </div>
                <div class="item">
                    <img src="/Assets/images/rute.jpg" alt="" />
                </div>
                <div class="item">
                    <img src="/Assets/images/pilihan.jpg" alt="" />
                </div>
                <div class="item">
                    <img src="/Assets/images/jaminan.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="main-tab clearfix">
        <div class="row partner">
            <h2 class="section-title stripe text-center xlg-txt">Partner <span>Maskapai</span></h2>
            <div class="img-partner"><img src="/Assets/mobile/images/partner.png" alt="Partner" /></div>
        </div>
    </div
    <div class="main-tab clearfix">
        <div class="row partner">
            <h2 class="section-title stripe text-center xlg-txt">Partner <span>Hotel</span></h2>
            <div class="img-partner"><img src="/Assets/mobile/images/partner.png" alt="Partner" /></div>
        </div>
    </div>
    <div class="main-tab clearfix">
        <div class="row konten-download-apps">
            <div class="title-download-apps"><h3 class=" bold-txt-new">Booking Tiket Mudah & Cepat</h3> <span>Rasakan kemudahan booking tiket di HP Anda</span><br/><span>dengan mendownload GRATIS Travorama Mobile App</span></div>
            <div class="col-xs-6 align-right"><a href="https://play.google.com/store/apps/details?id=com.travorama&amp;hl=en"><img src="/Assets/mobile/images/play-store.png" alt="Partner" /></a></div>
            <div class="col-xs-6 align-left"><a href="https://appsto.re/id/N8Dgeb.i"><img src="/Assets/mobile/images/app-store.png" alt="Partner" /></a></div>
        </div>
    </div>
    <div class="main-tab clearfix">
        <div class="row contact-mobile">
            <div class="list-sosmed">
                <ul>
                    <li><a href="https://www.facebook.com/travorama" target="_blank"><img src="/Assets/mobile/images/fb-mobile.png" alt="Facebook" /></a></li>
                    <li><a href="https://twitter.com/travoramaid" target="_blank"><img src="/Assets/mobile/images/twitter-mobile.png" alt="Twitter" /></a></li>
                    <li><a href="https://www.instagram.com/travorama/" target="_blank"><img src="/Assets/mobile/images/instagram-mobile.png" alt="Instagram" /></a></li>
                    <li><a href="#"><img src="/Assets/mobile/images/gplus-mobile.png" alt="Google Plus" /></a></li>
                </ul>
            </div>
            <div class="no-contact clearfix">
                <div class="col-xs-5 logo-cs"><img src="/Assets/mobile/images/logo-cs.png" alt="Partner" /></div>
                <div class="col-xs-7 info-customer">Customer Service <br/> <h3>0855 - 7467 - 9737</h3><span>Cs@travorama.com</span><br/><span>Senin - Jumat: 09.00-18.00</span></div>
            </div>
        </div>
    </div>

    <!-- sticky banner -->
    
    <div class="sticky-banner">
        <img src="/Assets/mobile/images/sticky-banner.jpg" alt="Download Apps" />
    </div>

    
</div><!-- .page-loading -->