<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/ionicons.css" rel="stylesheet">
  </head>

  <body>

    <!-- Navigation -->
    <nav class="mynav">
      <div class="row" style="display: flex; align-items: center;">
        <div class="col-xs-1 no-padding-left"><i class="icon ion-android-arrow-back icon-pembayaran-tertiary"></i></div>
        <div class="col-xs-6  no-padding-left">Transfer</div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="mother-container">

      <div class="row">
        <div class="col-xs-8 no-padding-left">
          <div class="info-total-harga"><p>Total Pembayaran</p><span>tidak bisa refund untuk aktivitas ini</span></div>
        </div>
        <div class="col-xs-4 text-right no-padding-right no-padding-left">
          <div class="info-total-angka"><p>Rp 899.978</p></div>
        </div>
      </div>





      <div class="section-container">


        
        <div class="section-label">Instruksi Pembayaran</div>
          <div class="row">
            <div class="col-xs-12 info-container">
              <div class="info-transfer">
                <ol>
                  <li>Gunakan ATM/Mbanking/Setor Tunai untuk transfer</li>
                  <li>No. Rek: 12344565767676766<br>Cabang: Senayan <br>Nama Rekening: PT. Travel Madezy</li>
                  <li style="margin:0">Lakukan pembayaran sebelum tanggal<br>dd/mm/yy : 10.00 PM</li>
                <ol>
              </div>
            </div>
        </div>




        <div class="more-info">
          Dengan klik tombol bayar, anda telah setuju dengan <a href="#">Syarat & Ketentuan</a> dan <a href="#">Kebijakan</a> yang berlaku
        </div>
        <div class="button-container">
          <div class="row">
            <div class="col-xs-12 no-padding">
              <a href="#" class="button-primary">Bayar Sekarang</a>
            </div>
            <div class="col-xs-12 no-padding">
              <a href="#" class="button-secondary">Ganti Metode Pembayaran</a>
            </div>
          </div>
        </div>
      </div>


    </div> <!-- end mother-container -->

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>

  </body>

</html>
