<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/ionicons.css" rel="stylesheet">
  </head>

  <body>

    <!-- Navigation -->
    <nav class="mynav">
      Syarat dan Ketentuan
    </nav>

    <!-- Page Content -->
    <div class="mother-container">

      <div class="row">
        <div class="col-xs-6 text-center no-padding-left">
          <div class="btn-potonganharga selected-discount">
            <p>Gunakan Credit</p>
            <span>Rp 50.000</span>
          </div>
        </div>
        <a class="col-xs-6 text-center no-padding-right" data-toggle="collapse" href="#kodevoucher">
          <div class="btn-potonganharga">
            <p>Gunakan Voucher</p>
            <span class="sub-info">masukan kode voucher disini</span>
          </div>
        </a>
      </div>

      <div class="section-container collapse" id="kodevoucher">
        <div class="row">
          <div class="col-xs-12 info-container">
            <form>
              <div class="form-group">
                <label class="label-form" for="nokartu">Kode Voucher</label>
                <input type="number" class="form-control form-payment validation-form-true" id="nokartu" placeholder="Masukkan kode voucher disini">
                <div class="text-validation-true">Kode diterima</div>
              </div>

              <div class="row">
                <div class="col-xs-12 no-padding">
                  <a href="#" class="button-primary">Gunakan</a>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>

      <div class="section-container">
        <div class="section-label">Rincian Harga</div>
        <div class="row">
          <div class="col-xs-12 info-container">
            <div class="row" style="margin-bottom: 5px !important">
              <div class="col-xs-6 no-padding-left">
                <div class="info-biaya">Trip to Bandung</div>
              </div>
              <div class="col-xs-6 text-right no-padding-right">
                <div class="info-biaya">Rp 400.000</div>
              </div>
            </div>
            <div class="row" style="margin-bottom: 5px !important">
              <div class="col-xs-6 no-padding-left">
                <div class="info-biaya">Trip to Bandung</div>
              </div>
              <div class="col-xs-6 text-right no-padding-right">
                <div class="info-biaya">Rp 400.000</div>
              </div>
            </div>
            <div class="row" style="margin-bottom: 5px !important">
              <div class="col-xs-6 no-padding-left">
                <div class="info-biaya">Potongan harga</div>
              </div>
              <div class="col-xs-6 text-right no-padding-right">
                <div class="info-potongan">-Rp 100.000</div>
              </div>
            </div>
            <div class="row" style="margin-bottom: 5px !important">
              <div class="col-xs-6 no-padding-left">
                <div class="info-biaya">Kode unik</div>
              </div>
              <div class="col-xs-6 text-right no-padding-right">
                <div class="info-potongan">-Rp 22</div>
              </div>
            </div>
            <div class="row total-container">
              <div class="col-xs-6 no-padding-left">
                <div class="info-total">Total</div>
              </div>
              <div class="col-xs-6 text-right no-padding-right">
                <div class="info-total">Rp 899.978</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section-container">
        <div class="section-label">Pembayaran yang terakhir digunakan</div>
        <div class="row">
            <a class="col-xs-12 btn-method-transfer" style="margin-bottom: 0" data-toggle="collapse" href="#transferbank">
              <div class="col-xs-3 no-padding-left">
                <i class="icon ion-cash icon-pembayaran-primary"></i>
              </div>
              <div class="col-xs-7 no-padding">
                <div class="info-total">Transfer Bank</div>
              </div>
              <div class="col-xs-2 no-padding-right text-right">
                <i class="icon ion-chevron-right icon-pembayaran-tertiary"></i>
              </div>
            </a>
        </div>
        <div class="row">
          <div class="collapse" id="transferbank" style="margin-top:5px">
            <div class="btn-method-transfer-dropdown clearfix">

              <div class="col-xs-12 btn-method-transfer-dropdown-child">
                <div class="col-xs-3 no-padding-left">
                  <img class="img-pembayaran" src="images/mandiri.png">
                </div>
                <div class="col-xs-7 no-padding">
                  <div class="info-total">Bank Mandiri</div>
                </div>
                <div class="col-xs-2 no-padding-right text-right">
                  <i class="icon ion-chevron-right icon-pembayaran-tertiary"></i>
                </div>
              </div>
              <div class="col-xs-12 btn-method-transfer-dropdown-child">
                <div class="col-xs-3 no-padding-left">
                  <img class="img-pembayaran" src="images/bca.png">
                </div>
                <div class="col-xs-7 no-padding">
                  <div class="info-total">Bank BCA</div>
                </div>
                <div class="col-xs-2 no-padding-right text-right">
                  <i class="icon ion-chevron-right icon-pembayaran-tertiary"></i>
                </div>
              </div>
              <div class="col-xs-12 btn-method-transfer-dropdown-child">
                <div class="col-xs-3 no-padding-left">
                  <img class="img-pembayaran" src="images/bni.png">
                </div>
                <div class="col-xs-7 no-padding">
                  <div class="info-total">Bank BNI</div>
                </div>
                <div class="col-xs-2 no-padding-right text-right">
                  <i class="icon ion-chevron-right icon-pembayaran-tertiary"></i>
                </div>
              </div>
              <div class="col-xs-12 btn-method-transfer-dropdown-child">
                <div class="col-xs-3 no-padding-left">
                  <img class="img-pembayaran" src="images/danamon.png">
                </div>
                <div class="col-xs-7 no-padding">
                  <div class="info-total">Bank Danamon</div>
                </div>
                <div class="col-xs-2 no-padding-right text-right">
                  <i class="icon ion-chevron-right icon-pembayaran-tertiary"></i>
                </div>
              </div>
              <div class="col-xs-12 btn-method-transfer-dropdown-child">
                <div class="col-xs-3 no-padding-left">
                  <img class="img-pembayaran" src="images/cimbniaga.png">
                </div>
                <div class="col-xs-7 no-padding">
                  <div class="info-total">Bank CIMB Niaga</div>
                </div>
                <div class="col-xs-2 no-padding-right text-right">
                  <i class="icon ion-chevron-right icon-pembayaran-tertiary"></i>
                </div>
              </div>
              <div class="col-xs-12 btn-method-transfer-dropdown-child">
                <div class="col-xs-3 no-padding-left">
                  <img class="img-pembayaran" src="images/permata.png">
                </div>
                <div class="col-xs-7 no-padding">
                  <div class="info-total">Bank Permata</div>
                </div>
                <div class="col-xs-2 no-padding-right text-right">
                  <i class="icon ion-chevron-right icon-pembayaran-tertiary"></i>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Link with href
      </a>
      <div class="collapse" id="collapseExample">
        <div class="well">
          ...
        </div>
      </div> -->

      <div class="section-container">
        <div class="section-label">Metode Pembayaran</div>
        <div class="row">
            <a href="/detail-creditcard.html" class="col-xs-12 btn-method-transfer">
              <div class="col-xs-3 no-padding-left">
                <img class="img-pembayaran" src="images/kredit.png">
              </div>
              <div class="col-xs-7 no-padding">
                <div class="info-total">Kartu Kredit/Debit</div>
              </div>
              <div class="col-xs-2 no-padding-right text-right">
                <i class="icon ion-chevron-right icon-pembayaran-tertiary"></i>
              </div>
            </a>
            <div class="col-xs-12 btn-method-transfer">
              <div class="col-xs-3 no-padding-left">
               <img class="img-pembayaran" src="images/bcaklikpay.png">
              </div>
              <div class="col-xs-7 no-padding">
                <div class="info-total">BCA Klikpay</div>
              </div>
              <div class="col-xs-2 no-padding-right text-right">
                <i class="icon ion-chevron-right icon-pembayaran-tertiary"></i>
              </div>
            </div>

            <div class="row">
              <a class="col-xs-12 btn-method-transfer" style="margin-bottom: 10px" data-toggle="collapse" href="#debitonline">
                <div class="col-xs-3 no-padding-left">
                  <i class="icon ion-card icon-pembayaran-primary"></i>
                </div>
                <div class="col-xs-7 no-padding">
                  <div class="info-total">Debit Online</div>
                </div>
                <div class="col-xs-2 no-padding-right text-right">
                  <i class="icon ion-chevron-right icon-pembayaran-tertiary"></i>
                </div>
              </a>
            </div>

            <div class="row">
              <div class="collapse" id="debitonline" style="margin-top:-5px">
                <div class="btn-method-transfer-dropdown clearfix">

                  <div class="col-xs-12 btn-method-transfer-dropdown-child">
                    <div class="col-xs-3 no-padding-left">
                      <img class="img-pembayaran" src="images/cimbclick.png">
                    </div>
                    <div class="col-xs-7 no-padding">
                      <div class="info-total">CIMB Cliks</div>
                    </div>
                    <div class="col-xs-2 no-padding-right text-right">
                      <i class="icon ion-chevron-right icon-pembayaran-tertiary"></i>
                    </div>
                  </div>
                  <div class="col-xs-12 btn-method-transfer-dropdown-child">
                    <div class="col-xs-3 no-padding-left">
                      <img class="img-pembayaran" src="images/mandiriclickpay.png">
                    </div>
                    <div class="col-xs-7 no-padding">
                      <div class="info-total">Mandiri Clickpay</div>
                    </div>
                    <div class="col-xs-2 no-padding-right text-right">
                      <i class="icon ion-chevron-right icon-pembayaran-tertiary"></i>
                    </div>
                  </div>
                  <div class="col-xs-12 btn-method-transfer-dropdown-child">
                    <div class="col-xs-3 no-padding-left">
                      <img class="img-pembayaran" src="images/epaybri.png">
                    </div>
                    <div class="col-xs-7 no-padding">
                      <div class="info-total">e-pay BRI</div>
                    </div>
                    <div class="col-xs-2 no-padding-right text-right">
                      <i class="icon ion-chevron-right icon-pembayaran-tertiary"></i>
                    </div>
                  </div>
                  <div class="col-xs-12 btn-method-transfer-dropdown-child">
                    <div class="col-xs-3 no-padding-left">
                      <img class="img-pembayaran" src="images/btn.png">
                    </div>
                    <div class="col-xs-7 no-padding">
                      <div class="info-total">BTN Mobile Banking</div>
                    </div>
                    <div class="col-xs-2 no-padding-right text-right">
                      <i class="icon ion-chevron-right icon-pembayaran-tertiary"></i>
                    </div>
                  </div>
                  <div class="col-xs-12 btn-method-transfer-dropdown-child">
                    <div class="col-xs-3 no-padding-left">
                      <img class="img-pembayaran" src="images/muamalat.png">
                    </div>
                    <div class="col-xs-7 no-padding">
                      <div class="info-total">IB Muamalat</div>
                    </div>
                    <div class="col-xs-2 no-padding-right text-right">
                      <i class="icon ion-chevron-right icon-pembayaran-tertiary"></i>
                    </div>
                  </div>
                  <div class="col-xs-12 btn-method-transfer-dropdown-child">
                    <div class="col-xs-3 no-padding-left">
                      <img class="img-pembayaran" src="images/permata.png">
                    </div>
                    <div class="col-xs-7 no-padding">
                      <div class="info-total">PermataNet</div>
                    </div>
                    <div class="col-xs-2 no-padding-right text-right">
                      <i class="icon ion-chevron-right icon-pembayaran-tertiary"></i>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="row">
              <a class="col-xs-12 btn-method-transfer" style="margin-bottom: 10px" data-toggle="collapse" href="#ewallet">
                <div class="col-xs-3 no-padding-left">
                  <img src="images/dompet.png">
                </div>
                <div class="col-xs-7 no-padding">
                  <div class="info-total">E-Wallet</div>
                </div>
                <div class="col-xs-2 no-padding-right text-right">
                  <i class="icon ion-chevron-right icon-pembayaran-tertiary"></i>
                </div>
              </a>
            </div>

            <div class="row">
              <div class="collapse" id="ewallet" style="margin-top:-5px">
                <div class="btn-method-transfer-dropdown clearfix">
                  <div class="col-xs-12 btn-method-transfer-dropdown-child">
                    <div class="col-xs-3 no-padding-left">
                      <img class="img-pembayaran" src="images/gopay.png">
                    </div>
                    <div class="col-xs-7 no-padding">
                      <div class="info-total">Go Pay</div>
                    </div>
                    <div class="col-xs-2 no-padding-right text-right">
                      <i class="icon ion-chevron-right icon-pembayaran-tertiary"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>


    </div> <!-- end mother-container -->

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>

  </body>

</html>
