@using System.Globalization
@using System.Web.Optimization
@using Lunggo.ApCommon.Activity.Model
@using Lunggo.ApCommon.Flight.Constant
@using Lunggo.ApCommon.Flight.Model
@using Lunggo.ApCommon.Hotel.Model
@using Lunggo.ApCommon.Hotel.Service
@using Lunggo.ApCommon.Identity.Users
@using Lunggo.ApCommon.Payment.Constant
@using Lunggo.CustomerWeb.Helper
@using Lunggo.Framework.Context
@using Lunggo.Framework.Extension
@using Lunggo.Framework.Config
@model Lunggo.ApCommon.Payment.Model.CartPaymentDetails
@using Lunggo.ApCommon.Product.Model
@using React.Web.Mvc

@{
    Layout = "/Views/Shared/Desktop/_LayoutDesktop.cshtml";
    ViewBag.BodyClass = "page-checkout page-checkout-flight";
    ViewBag.SiteHeader = "Payment";
    ViewBag.Title = "Pembayaran";
}

@section AdditionalCSS {
    <link href="/Areas/Payment_v2/Views/Payment/css/style.css" rel="stylesheet" />
}

@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/jquery.countdown.min.js"></script>
    <script src="/Assets/js/CryptoJS/rollups/sha512.js"></script>
    <script src="/Assets/js/CryptoJS/components/enc-base64-min.js"></script>
    <!-- veritrans JS -->
    <script src=@(ConfigManager.GetInstance().GetConfigValue("veritrans", "endPoint") + "/v2/assets/js/midtrans.min.js")></script>
}

@*@Html.React("CommentBox", new
    {
        //headerTitle = "Halaman Pembayaran",
        ////creditBalance = ViewBag.CreditsAvailable,

        //cartId = Model.CartId,
        //originalPrice = Model.OriginalPriceIdr,
        //termsUrl = Url.Action("Terms","StaticPage"),
        //privacyUrl = Url.Action("Privacy","StaticPage"),

        //rsvNo = Model.RsvNo,
        //lastMethodUsed = 'pembayaran yang terakhir di gunakan',


        //pricingDetails = 'rincian transaksi',
        //mandiriClickpayToken = Model.TrxId.GetHashCode() % 100000,
        //uniqueCode = UniqueCodePaymentConfig.UniqueCode,
    })*@

<div id="react"></div>

<script src="/Assets/js/paymentReact.js"></script>


@Html.ReactInitJavaScript()

