<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/ionicons.css" rel="stylesheet">
  </head>

  <body>

    <!-- Navigation -->

    <!-- Page Content -->
    <div class="mother-container">
      <div style="text-align: center; margin-top: 40%;">
        <div class="icon-success">
          <img style="width:100px" src="images/icon-success.png">
        </div>
        <div class="text-success">Proses Pembayaran Berhasil</div>
        <div class="text-success">No. Transaksi: 1234567890</div>
        <div class="button-container-thankyou">
          <div class="row">
            <div class="col-xs-12 no-padding">
              <a href="#" class="button-primary">Kembali ke Pesananku</a>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- end mother-container -->

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>

  </body>

</html>
