body {font-family: 'Source Sans Pro', sans-serif;}
body img { max-width: 100%;}

/*-----------------------------------*/
/* general styling */
.breadcrumb {background:none; margin-top:10px; margin-bottom:10px; padding-left:0;}

.hotel-star {color:orange;}

.btn.btn-gray {color:#fff; background:#ccc;}

.site-header {}

.site-content { padding-bottom: 30px;}

.site-footer {}

/*-----------------------------------*/
/* page */
.page {}

.page .page-title { margin-top: 0;}

/* sidebar */
.sidebar { border:1px solid #ddd; padding:15px; margin-bottom:30px;}
.sidebar .sidebar-title {margin-top:0;}


/*-----------------------------------*/
/* hotel section */
.hotel-section {}

/* hotel search list */
.hotel-search-list-page {}

.filter {border-bottom:1px solid #ddd; margin-bottom:10px; padding-bottom:10px;}
.filter:last-child {border-bottom:0; margin-bottom:0;}
.filter .filter-title {font-weight:bold;}
.filter .filter-content {}
.filter .filter-content label {font-weight:normal;}
.filter .filter-hotel-star {}
.filter.filter-hotel-star .form-group { margin-bottom: 0;}

.hotel-list-detail {margin-bottom:10px;}
.hotel-list-detail .hotel-list-total {}
.hotel-list-detail .hotel-list-option {}
.hotel-list-detail .hotel-list-option .hotel-list-option-view {margin-right:10px;}
.hotel-list-detail .hotel-list-option .hotel-list-option-view .change-listing-view {font-size:24px; vertical-align:middle; margin-left:5px; color:#aaa;}
.hotel-list-detail .hotel-list-option .hotel-list-option-view .change-listing-view.active { color: #428bca;}

.hotel-list-wrapper {}

.hotel-list-wrapper	ul {padding:0; list-style:none;}
.hotel-list-wrapper ul .hotel {margin-bottom:30px;border: 1px solid #dddddd;}
.hotel-list-wrapper ul .hotel .hotel-name {margin:0; padding:15px; }
.hotel-list-wrapper ul .hotel .hotel-star {font-size:12px; display:inline-block; color: orange;}
.hotel-list-wrapper ul .hotel .hotel-price {margin:0; padding:15px; padding-top:0;}
.hotel-list-wrapper ul .hotel .hotel-price small {display:block;}
.hotel-list-wrapper ul .hotel .hotel-price span {display:block; margin-bottom:5px;}
.hotel-list-wrapper ul .hotel .hotel-action {padding:15px; padding-top:0;}
.hotel-list-wrapper ul .hotel .hotel-action a.btn {width:100%;}

.hotel-list-pagination {text-align:center;}
.hotel-list-pagination .pagination {margin-top:0;}

/* hotel detail */
.hotel-detail {border:1px solid #ddd;}

.hotel-detail .section-title {text-align:center; margin-top:0;}

.hotel-detail .hotel-header {padding:20px; padding-bottom:0;}
.hotel-detail .hotel-header .hotel-name {margin-top:0;}
.hotel-detail .hotel-header .hotel-star {font-size:16px;}

.hotel-detail .hotel-address {}

.hotel-detail .hotel-nav {}
.hotel-detail .hotel-nav a {display:inline-block; margin-right:10px; border-bottom:3px solid #fff; padding-bottom:3px;}
.hotel-detail .hotel-nav a:hover {text-decoration:none;}
.hotel-detail .hotel-nav a.active {border-bottom-color:#6dc0f9;}

.hotel-detail .hotel-images {}
.hotel-detail .hotel-images .image-main {background:#000;}
.hotel-detail .hotel-images .image-main img {width:100%; height:auto;}

.hotel-detail .image-slide {text-align:center; background:#000; padding:10px 0;}
.hotel-detail .image-slide img {height:50px; width:auto; margin-right:5px; margin-left:5px;}

.hotel-detail .hotel-rate {padding:20px; background:#ddd;}
.hotel-detail .hotel-rate .hotel-rate-search {}
.hotel-detail .hotel-rate .hotel-rate-list {}

.hotel-detail .hotel-rate .hotel-rate-list .hotel-room-name {width:50%; display:inline-block;}
.hotel-detail .hotel-rate .hotel-rate-list .hotel-room-guest {width:29%; display:inline-block; text-align:center;}
.hotel-detail .hotel-rate .hotel-rate-list .hotel-room-price {width:20%; display:inline-block; text-align:right;}

.hotel-detail .hotel-rate .hotel-rate-list .hotel-rate-list-header {margin-bottom:10px;}
.hotel-detail .hotel-rate .hotel-rate-list .hotel-rate-list-header .hotel-room-name {padding-left:20px;}
.hotel-detail .hotel-rate .hotel-rate-list .hotel-rate-list-header .hotel-room-price {padding-right:20px;}
				
.hotel-detail .hotel-rate .hotel-rate-list .hotel-rate-list-content {padding:0; margin:0; list-style:none;}
.hotel-detail .hotel-rate .hotel-rate-list .hotel-rate-list-content .hotel-room {background:#eee; margin-bottom:10px; padding:20px;}
.hotel-detail .hotel-rate .hotel-rate-list .hotel-rate-list-content .hotel-room .hotel-room-name {}
.hotel-detail .hotel-rate .hotel-rate-list .hotel-rate-list-content .hotel-room .hotel-room-name h3 {margin-top:0;}

.hotel-detail .hotel-rate .hotel-rate-list .hotel-rate-list-content .hotel-room .hotel-room-guest {vertical-align:top;}
.hotel-detail .hotel-rate .hotel-rate-list .hotel-rate-list-content .hotel-room .hotel-room-price {text-align:right; vertical-align:top;}
.hotel-detail .hotel-rate .hotel-rate-list .hotel-rate-list-content .hotel-room .hotel-room-price h3 {margin-top:0; margin-bottom:0;}
.hotel-detail .hotel-rate .hotel-rate-list .hotel-rate-list-content .hotel-room .hotel-room-price span {display:block; margin-bottom:5px; font-style:italic; color:#999;}
.hotel-detail .hotel-rate .hotel-rate-list .hotel-rate-list-content .hotel-room .hotel-room-price.btn {width:100%;}

.hotel-detail .hotel-location {padding-top:20px;}
.hotel-detail .hotel-description {padding:20px; padding-right:10px;}
.hotel-detail .hotel-description h3 {margin-top:0;}
.hotel-detail .hotel-facilities {padding:20px; padding-left:10px;}
.hotel-detail .hotel-facilities h3 {margin-top:0;}


/*-----------------------------------*/
/* flight section */
.flight-section {}

.flight-list-page {}

.flight-list-page .flight-list-filter {}
.flight-list-page .flight-list-filter .filter-flight-transit, .filter-list-page .flight-list-filter .filter-flight-facilities, .filter-flight-schedule {}
.flight-list-page .flight-list-filter .filter-flight-transit label, .filter-list-page .flight-list-filter .filter-flight-facilities, .filter-flight-schedule label {display:block; font-weight:normal;}
.flight-list-page .flight-list-filter .filter-flight-transit input[type="checkbox"] ,.filter-list-page .flight-list-filter .filter-flight-facilities .filter-flight-schedule input[type="checkbox"] {margin-right:5px;}

.flight-list-page .flight-list {}
.flight-list-page .flight-list .flight-list-header {}
.flight-list-page .flight-list .flight-list-header .flight-row {}
.flight-list-page .flight-list .flight-list-header .flight-row>div {float:left; text-align:center; font-weight:bold; padding:10px;}
.flight-list-page .flight-list .flight-list-header .flight-row .flight-airline {width:20%; text-align:left;}
.flight-list-page .flight-list .flight-list-header .flight-row .flight-departure {width:15%;}
.flight-list-page .flight-list .flight-list-header .flight-row .flight-arrival {width:15%;}
.flight-list-page .flight-list .flight-list-header .flight-row .flight-facilities {width:15%;}
.flight-list-page .flight-list .flight-list-header .flight-row .flight-duration {width:15%;}
.flight-list-page .flight-list .flight-list-header .flight-row .flight-price {width:20%; text-align:right;}

.flight-list-page .flight-list-body {padding:0; margin:0; list-style:none;}
.flight-list-page .flight-list-body .flight {border:1px solid #ddd; margin-bottom:20px; padding:10px;}
.flight-list-page .flight-list-body .flight	table {width:100%;}
.flight-list-page .flight-list-body .flight	table tr {border-top:1px dashed #aaa;}
.flight-list-page .flight-list-body .flight	table tr:first-child {border-top:0;}
.flight-list-page .flight-list-body .flight	table td {text-align:center;}
.flight-list-page .flight-list-body .flight	table .flight-airline {width:20%;}
.flight-list-page .flight-list-body .flight	table .flight-airline img {max-height:30px; width:auto;}
.flight-list-page .flight-list-body .flight	table .flight-airline span {display:block;}

.flight-list-page .flight-list-body .flight	table .flight-departure {width:15%;}
.flight-list-page .flight-list-body .flight	table .flight-departure h4 {font-weight:bold;}

.flight-list-page .flight-list-body .flight	table .flight-arrival {width:15%;}
.flight-list-page .flight-list-body .flight	table .flight-arrival h4 {font-weight:bold;}

.flight-list-page .flight-list-body .flight	table .flight-facilities {width:15%;}
.flight-list-page .flight-list-body .flight	table .flight-duration {width:15%;}
.flight-list-page .flight-list-body .flight	table .flight-price {width:20%; text-align:right;}
.flight-list-page .flight-list-body .flight	table .flight-price sup {font-size:12px;}

