@using System.Diagnostics.Eventing.Reader
@using System.Globalization
@using Lunggo.ApCommon.Constant
@using Lunggo.ApCommon.Flight.Constant
@using Lunggo.ApCommon.Flight.Model
@using Lunggo.ApCommon.Flight.Service
@using Lunggo.Framework.Config
@using Lunggo.ApCommon.Payment.Constant
@model Lunggo.ApCommon.Product.Model.ReservationForDisplayBase

@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.Title = "Konfirmasi Pembayaran";
    ViewBag.BodyClass = "page page-confirmation";
    ViewBag.AngularController = "ConfirmationController";
}
@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
    <script src="/Assets/js/jquery.countdown.min.js"></script>
}
@section PageJS{
    <!-- angular controller -->
    <script src="/Assets/mobile/js/CheckoutController.js"></script>
<script src="/Assets/travorama20/angularDirectory/search/hotelSearch.service.js"></script>
    <script>
        accordionFunctions();
    </script>
}

<div class="confirmation-content">
    <div class="container-page">
        <div class="instruction">
            <div class="va-wrapper">
                <div class="page__header">
                    <h1 class="text-center section-title stripe">Panduan <span>ATM</span></h1>
                </div>
                <div class="no-pemesanan">No. Pesanan: <b>1234567890</b></div>
                <section class="text">
                    <div>Pemesanan dan harga sudah di konfirmasi oleh Maskapai. Setelah pembayaran diterima, e-tiket akan dikirimkan ke e-mail Anda dalam waktu maks. <b>60 menit</b></div>
                    <div class="dash-border"></div>
                    <div>Mohon selesaikan pembayaran melalui <b>ATM</b></div>
                </section>
                <section class="bank-detail">
                    <div class="bank">
                        <div class="row">
                            <p align="center"><span style="font-size: 13px;">No Virtual Account:</span> <span style="font-size: 15px;"><b>1234567890</b></span></p>
                        </div>
                    </div>
                </section>
                <div class="instruction-accordion">
                    <div class="accordion-content">
                        <div class="accordion-wrapper">
                            <div class="accordion-title accordion">ATM Mandiri/Jaringan ATM Bersama:</div>
                            <div class="accordion-content">
                                <ol>
                                    <li><p>Masukkan PIN Anda.</p></li>
                                    <li><p>Di Menu Utama, pilih <b>Transaksi Lainnya.</b></p></li>
                                    <li><p>Pilih <b>Transfer</b>.</p></li>
                                    <li><p>Pilih <b>Antar Bank Online</b>.</p></li>
                                    <li><p>Masukkan nomor <b>013 1234567890</b> (kode 013 dan 16 digit nomor akun virtual pembayaran).</p></li>
                                    <li><p>Masukkan jumlah harga tiket yang harus Anda bayar Rp. <b>999.999.999</b> (jika jumlah yang dimasukkan tidak sama dengan jumlah tagihan, transaksi akan ditolak).</p></li>
                                    <li><p>No. referensi dapat dikosongkan, lalu tekan <b>Benar</b>.</p></li>
                                    <li><p>Di halaman konfirmasi transfer akan muncul jumlah yang dibayarkan, no. rekening tujuan. Jika informasinya telah cocok, tekan <b>Benar</b>.</p></li>
                                    <li><p>Transaksi berhasil.</p></li>
                                </ol>
                            </div>

                            <div class="accordion-title accordion">ATM BCA/Jaringan ATM PRIMA:</div>
                            <div class="accordion-content">
                                <ol>
                                    <li><p>Masukkan PIN Anda.</p></li>
                                    <li><p>Di Menu Utama, pilih <b>Transaksi Lainnya</b>.</p></li>
                                    <li><p>Pilih <b>Transfer</b>.</p></li>
                                    <li><p>Pilih <b>Ke Rekening Bank Lain</b>.</p></li>
                                    <li><p>Masukkan kode <b>013</b> (Kode Bank Permata) lalu tekan <b>Benar</b>.</p></li>
                                    <li><p>Masukkan jumlah harga tiket yang harus Anda bayar Rp. <b>999.999.999</b> (jika jumlah yang dimasukkan tidak sama dengan jumlah tagihan, transaksi akan ditolak).</p></li>
                                    <li><p>Masukkan <b>1234567890</b> (16 digit nomor akun virtual pembayaran) lalu tekan <b>Benar</b>.</p></li>
                                    <li><p>Di halaman konfirmasi transfer akan muncul jumlah yang dibayarkan, no. rekening tujuan. Jika informasinya telah cocok, tekan <b>Benar</b>.</p></li>
                                    <li><p>Transaksi berhasil.</p></li>
                                </ol>
                            </div>

                            <div class="accordion-title accordion">ATM Bank Permata/Jaringan ATM Alto:</div>
                            <div class="accordion-content">
                                <ol>
                                    <li><p>Masukkan PIN Anda.</p></li>
                                    <li><p>Di Menu Utama, pilih <b>Transaksi Lainnya</b>.</p></li>
                                    <li><p>Pilih <b>Transaksi Pembayaran</b>.</p></li>
                                    <li><p>Pilih <b>Pembayaran Virtual Account</b>.</p></li>
                                    <li><p>Masukkan 16 digit nomor akun virtual pembayaran <b>1234567890</b>.</p></li>
                                    <li><p>Di halaman konfirmasi transfer akan muncul jumlah yang dibayarkan, no. rekening tujuan. Jika informasinya telah cocok, tekan <b>Benar</b>.</p></li>
                                    <li><p>Transaksi berhasil.</p></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="transfer-wrapper">
                <div class="page__header">
                    <h1 class="text-center section-title stripe">Panduan <span>Transfer</span></h1>
                </div>
                <div class="no-pemesanan">No. Pesanan: <b>1234567890</b></div>
                <div class="summary summary--price">

                    <h3 class="summary__title"><b>RINCIAN</b> HARGA</h3>
                    <div class="summary__body">
                        <dl>
                            <dt>Total Tiket</dt>
                            <dd>Rp 999.999.999</dd>
                        </dl>
                        @*@if (Model.Payment.DiscountNominal != 0)
                        {
                            <dl>
                                <dt>Potongan Harga</dt>
                                <dd>Rp @Model.Payment.DiscountNominal.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</dd>
                            </dl>
                        }
                        @if (Model.Payment.UniqueCode != 0)
                        {
                            <dl>
                                <dt>Kode Unik Pembayaran</dt>
                                <dd>- Rp @(Math.Abs(Model.Payment.UniqueCode).ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID")))</dd>
                            </dl>
                        }*@
                        <dl class="total-price">
                            <dt>Total</dt>
                            <dd>Rp 999.999.999</dd>
                        </dl>
                    </div>
                </div>
                <section class="text">
                    <div>Pemesanan dan harga sudah di konfirmasi oleh Maskapai. Setelah pembayaran diterima, e-tiket akan dikirimkan ke e-mail Anda dalam waktu maks. <b>60 menit</b></div>
                    <div class="dash-border"></div>
                    <div>Mohon selesaikan pembayaran melalui <b>ATM / Internet Banking / M-Banking</b></div>
                </section>
                <section class="bank-detail">
                    <div class="bank">
                        <div class="image-wrapper">
                            <img src="/Assets/images/Bank-Mandiri.png" alt="Bank Mandiri" />
                        </div>
                        <dl>
                            <dt>Nama Bank</dt>
                            <dd>Bank Mandiri</dd>
                        </dl>
                        <dl>
                            <dt>Cabang</dt>
                            <dd>KC Jakarta Sudirman</dd>
                        </dl>
                        <dl>
                            <dt>Atas Nama</dt>
                            <dd>TRAVEL MADEZY INTERNASIONAL</dd>
                        </dl>
                        <dl>
                            <dt>Nomor Rekening</dt>
                            <dd>1020006675802</dd>
                        </dl>
                        <dl>
                            <dt>Jumlah</dt>
                            <dd>Rp 999.999.999</dd>
                        </dl>
                    </div>
                </section>
                <div class="transfer-instruction">
                    <ol>
                        <li class="order-list">Pastikan Anda melakukan transfer ke rekening <b>Travel Madezy Internasional</b></li>
                        <li class="order-list">Transfer keseluruhan jumlah harga hingga tiga angka terakhir yang diperlukan untuk menjaga keamanan transaksi, dengan mengidentifikasi transfer yang telah Anda lakukan.</li>
                        <li class="order-list">E-tiket akan dikirimkan secara otomatis ke e-mail Anda dalam waktu 30 menit – 1 jam setelah pembayaran.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="widget countdown">
            <h3 class="widget-title"><b>SISA</b> WAKTU</h3>
            <div class="widget-content">
                <p>Sisa waktu Anda untuk melakukan pembayaran</p>
                <div class="timer">
                    <div>
                        <h5 class="hour">00</h5>
                        <span>jam</span>
                    </div>
                    <div class="separator"><h5>:</h5></div>
                    <div>
                        <h5 class="minute">00</h5>
                        <span>menit</span>
                    </div>
                    <div class="separator"><h5>:</h5></div>
                    <div>
                        <h5 class="second">00</h5>
                        <span>detik</span>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-yellow form-control">SAYA SUDAH BAYAR</button>
        </div>
    </div>
</div>