@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-hotel page-detail";
    ViewBag.Title = "Detail Hotel";
}

@section AdditionalCSS{
    <link href="/Assets/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="/Assets/vendor/flexslider/flexslider.css" rel="stylesheet" />
}

@section AdditionalJS {
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
    <script src="/Assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
}

@section PageJS{
    <script>
        $(function(){
            SyntaxHighlighter.all();
        });
        $(window).load(function(){
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails",
                start: function(slider){
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <script src="/Assets/vendor/flexslider/jquery.flexslider.js"></script>
}

@Html.Partial("/Views/Hotel/Shared/_PageSlider.cshtml")
<div class="travorama-hotel">
    <div class="container">
        <div class="detail-hotel-content">
            @Html.Partial("/Views/Hotel/Shared/_BreadCrumb.cshtml")

            <div class="detail-hotel">
                <div class="big-slider">
                    <div class="top-desc">
                        <span class="slider-title-lg blue-txt">Bliss Hotel Singapore</span>
                        <span class="star star-5"></span>
                        <br />
                        <span class="address">Kios Tower AB No. 26, Jl. Karet Pasar Gang Tiong No: 62 - Jakarta Barat</span>
                        <a href="#" class="btn-blue small">Lihat Peta</a>
                    </div>
                    <div class="slider-container clearfix">
                        <div class="col-left-slider">
                            <div class="slider">
                                <div class="flexslider">
                                    <ul class="slides">
                                        <li data-thumb="/Assets/travorama20/images/Hotel/big-slider-img.jpg">
                                            <img src="/Assets/travorama20/images/Hotel/big-slider-img.jpg" alt="Alternate Text" />
                                        </li>
                                        <li data-thumb="/Assets/travorama20/images/Hotel/big-slider-img.jpg">
                                            <img src="/Assets/travorama20/images/Hotel/big-slider-img.jpg" alt="Alternate Text" />
                                        </li>
                                        <li data-thumb="/Assets/travorama20/images/Hotel/big-slider-img.jpg">
                                            <img src="/Assets/travorama20/images/Hotel/big-slider-img.jpg" alt="Alternate Text" />
                                        </li>
                                        <li data-thumb="/Assets/travorama20/images/Hotel/big-slider-img.jpg">
                                            <img src="/Assets/travorama20/images/Hotel/big-slider-img.jpg" alt="Alternate Text" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-right-slider">
                            <div class="rs-title md-txt">Review Hotel</div>
                            <div class="rs-list rs-rating clearfix">
                                <div class="col-left-rs"><span class="rs-txt-big blue-txt">8.0</span></div>
                                <div class="col-right-rs">
                                    Sangat Baik <br />
                                    <span class="blue-txt italic-txt sm-txt">Dari 100 Ulasan</span>
                                </div>
                            </div>
                            <div class="rs-list rs-review">
                                <div class="blue-txt"><b>Ulasan dari Travorama</b></div>
                                <div class="review-bar clearfix">
                                    <div class="rb-container clearfix">
                                        <div class="rb-left">Kebersihan</div>
                                        <div class="rb-mid">:</div>
                                        <div class="rb-right">
                                            <div class="bar-horizontal">
                                                <span class="bar-range"></span>
                                            </div>
                                            <span class="total-review blue-txt">(8.6)</span>
                                        </div>
                                    </div>
                                    <div class="rb-container clearfix">
                                        <div class="rb-left">Kenyamanan</div>
                                        <div class="rb-mid">:</div>
                                        <div class="rb-right">
                                            <div class="bar-horizontal">
                                                <span class="bar-range"></span>
                                            </div>
                                            <span class="total-review blue-txt">(8.6)</span>
                                        </div>
                                    </div>
                                    <div class="rb-container clearfix">
                                        <div class="rb-left">Pelayanan</div>
                                        <div class="rb-mid">:</div>
                                        <div class="rb-right">
                                            <div class="bar-horizontal">
                                                <span class="bar-range"></span>
                                            </div>
                                            <span class="total-review blue-txt">(8.6)</span>
                                        </div>
                                    </div>
                                    <div class="rb-container clearfix">
                                        <div class="rb-left">Makanan</div>
                                        <div class="rb-mid">:</div>
                                        <div class="rb-right">
                                            <div class="bar-horizontal">
                                                <span class="bar-range"></span>
                                            </div>
                                            <span class="total-review blue-txt">(8.6)</span>
                                        </div>
                                    </div>
                                    <div class="rb-container clearfix">
                                        <div class="rb-left">Lokasi</div>
                                        <div class="rb-mid">:</div>
                                        <div class="rb-right">
                                            <div class="bar-horizontal">
                                                <span class="bar-range"></span>
                                            </div>
                                            <span class="total-review blue-txt">(8.6)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-container"><a class="btn-blue big" href="#">Selengkapnya</a></div>

                            </div>
                            <div class="rs-list rs-ta">
                                <div class="ta-title green-txt"><b>Rating dari TripAdvisor</b></div>
                                <div class="grey-txt sm-txt italic-txt">Dari 900 ulasan</div>
                                <div class="btn-container"><a class="btn-green" href="#">Selengkapnya</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>