@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-account page-account-profile";
    ViewBag.Title = "Detail Pemesanan";
    ViewBag.PageActiveSection = "order";
}

@section AdditionalJS{
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}

@section PageJS{
    <!-- angular controller -->
    <script src="/Assets/travorama20/js/accountController.js"></script>
}


<div class="container">
    <div class="row">
        <div class="col-xs-3">
            @Html.Partial("/Views/Shared/travorama20/_SectionUserMenu.cshtml")
        </div>
        <div class="col-xs-9">
            <section class="account-content">
                <div class="order-detail">
                    <header class="content-header">
                        <h2>NOMOR PESANAN : <b>1234567890</b></h2>
                    </header>
                    <section class="content-body">

                        <div class="info-buyer">
                            <header>
                                <form action="" method="post" name="submitForm" id="rsvno" class="hidden">
                                    <input type="text" name="RsvNo" value="" id="rsvno-input" />
                                    <input type="text" name="Status" value="" id="message-input" />
                                </form>
                                <h4>
                                    <b>INFO PEMESANAN</b>
                                    <button class="pull-right btn btn-yellow">Cari Hotel</button>
                                </h4>
                            </header>
                            <section>
                                <div class="form form-horizontal">

                                    <div class="form-group">
                                        <label class="control-label col-xs-3">Nama Pemesan</label>
                                        <div class="col-xs-9">
                                            <p class="form-control-static">Mrs. Anonymous</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-3">Tanggal Pemesanan</label>
                                        <div class="col-xs-9">
                                            <p class="form-control-static">5 November 2016</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-3">Tipe</label>
                                        <div class="col-xs-9">
                                            <p class="form-control-static">Hotel</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-3">Harga Pesanan</label>
                                        <div class="col-xs-9">
                                            <p class="form-control-static">Rp 999.999</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-3">Metode Pembayaran</label>
                                        <div class="col-xs-9">
                                            <p class="form-control-static">Credit Card</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-3">Status Pembayaran</label>
                                        <div class="col-xs-9">
                                            <p class="form-control-static">Pending</p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div><!-- .info-buyer -->

                        <div class="info-hotel">
                            <header>
                                <h4><b>DETAIL PEMESANAN</b></h4>
                            </header>
                            <section class="order-wrapper page-hotel">
                                <div class="order-top">
                                    <div class="ot clearfix">
                                        <div class="otl"><img src="/Assets/travorama20/images/Hotel/hotel-sm.jpg" alt="Alternate Text" /></div>
                                        <div class="otr">
                                            <span class="blue-txt bold-txt">Bliss Hotel Singapore</span>
                                            <br /><span class="star star-4"></span>
                                            <div class="wt-location">
                                                Kios Tower AB No. 26, Jl. Karet Pasar Gang Tiong No: 62 ; Jakarta Barat
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="order-bottom">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <span>Check in</span>
                                            </div>
                                            <div class="col-xs-8">
                                                <span>: <b>5 November 2016</b></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <span>Check out</span>
                                            </div>
                                            <div class="col-xs-8">
                                                <span>: <b>9 November 2016</b></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <span>Malam</span>
                                            </div>
                                            <div class="col-xs-8">
                                                <span>: <b>3 Malam</b></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <span>Kamar</span>
                                            </div>
                                            <div class="col-xs-8">
                                                <span>: <b>2 Kamar</b></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <span>Jenis Kamar</span>
                                            </div>
                                            <div class="col-xs-8">
                                                <span>: <b>Superior Room</b></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <span>Tamu per Kamar</span>
                                            </div>
                                            <div class="col-xs-8">
                                                <span>: <b>2 Orang</b></span>
                                            </div>
                                        </div>

                                    </div>
                            </section>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
</div>