@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.BodyClass = "page-hotel page-search";
    ViewBag.Title = "Pencarian Hotel";
}

@section AdditionalCSS{
    <link href="/Assets/css/jquery-ui.min.css" rel="stylesheet" />
}

@section AdditionalJS {
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
    <script src="/Assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
}

@section PageJS{
}

<div class="travorama-hotel-mobile">
    <div class="top-content">
        @Html.Partial("/Views/Hotel/Shared/Mobile/_Summary.cshtml")
        <div class="hotel-sort-filter clearfix">
            <div class="hotel-sort-filter-action">
                <a href="#">FILTER</a>
                <a href="#">SORTIR</a>
            </div>
        </div>
    </div>
    <div class="search-list">
        <ul class="hotel-list-container">
            <li>
                <div class="hotel-list clearfix">
                    <div class="col-left-hotel"><img src="/Assets/mobile/images/Hotel/hotel-list-lg.jpg" alt="Hotel" /></div>
                    <div class="col-right-hotel">
                        <div class="blue-txt bold-txt lg-txt">Bliss Hotel Singapore</div>
                        <div class="star star-4 e-star"></div>
                        <div class="price orange-txt">
                            <div class="txt-md semibold-txt">Harga per malam mulai dari:</div>
                            <div class="underline-txt sm-txt">Rp 899.999.999</div>
                            <a href="/id/Hotel/DetailHotel" class="detail"></a>
                            <div class="lg-txt"><b><sup>Rp</sup> 999.999.999</b></div>
                            <span class="xs-txt">(*Termasuk Pajak & Service Charge)</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="hotel-list clearfix">
                    <div class="col-left-hotel"><img src="/Assets/mobile/images/Hotel/hotel-list-lg.jpg" alt="Hotel" /></div>
                    <div class="col-right-hotel">
                        <div class="blue-txt bold-txt lg-txt">Bliss Hotel Singapore</div>
                        <div class="star star-4 e-star"></div>
                        <div class="price orange-txt">
                            <div class="txt-md semibold-txt">Harga per malam mulai dari:</div>
                            <div class="underline-txt sm-txt">Rp 899.999.999</div>
                            <a href="/id/Hotel/DetailHotel" class="detail"></a>
                            <div class="lg-txt"><b><sup>Rp</sup> 999.999.999</b></div>
                            <span class="xs-txt">(*Termasuk Pajak & Service Charge)</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>