@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-hotel page-search";
    ViewBag.Title = "Pencarian Hotel";
}

@section AdditionalCSS{
    <link href="/Assets/css/jquery-ui.min.css" rel="stylesheet" />
}

@section AdditionalJS {
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
    <script src="/Assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
}

@section PageJS{
    <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 500,
                values: [75, 300],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) +
                " - $" + $("#slider-range").slider("values", 1));
        });
    </script>
    <script type="text/javascript" src="/Assets/travorama20/js/HotelController.js"></script>
}

@Html.Partial("/Views/Hotel/Shared/Desktop/_PageSlider.cshtml")
<div class="travorama-hotel">
    <div class="container">
        <div class="search-list">
            @Html.Partial("/Views/Hotel/Shared/Desktop/_BreadCrumb.cshtml")
            <div class="top-title clearfix">
                <div class="col-left bg-title"><b>Hasil</b> Pencarian </div>
                <div class="col-right total-result">Hotels Found: <b>332</b></div>
            </div>
            <div class="search-list-result clearfix">
                <div class="col-left-result filter">
                    <div class="filter-container">
                        <div class="header-filter">Filter Pencarian</div>
                        <div class="filter-group">
                            <label class="filter-title">Nama Hotel</label>
                            <input type="text" value="" class="form-hotel-name form-control">
                        </div>
                        <div class="filter-group">
                            <label class="filter-title">Harga Hotel</label>
                            <div class="slider-price" id="slider-range"></div>
                            <div class="slider-minmax">
                                <span>Rp 500.000</span>
                                <span class="pull-right">Rp 100.000.000</span>
                            </div>
                        </div>
                        <div class="filter-group">
                            <label class="filter-title">Bintang Hotel</label>
                            <div class="rating">
                                <label class="sqr">
                                    <span class="checkbox"></span>
                                    <input type="checkbox" name="check" class="check" value="false" />
                                    <span class="star star-5"></span>
                                </label>
                                <label class="sqr">
                                    <span class="checkbox"></span>
                                    <input type="checkbox" name="check" class="check" value="false" />
                                    <span class="star star-4"></span>
                                </label>
                                <label class="sqr">
                                    <span class="checkbox"></span>
                                    <input type="checkbox" name="check" class="check" value="false" />
                                    <span class="star star-3"></span>
                                </label>
                                <label class="sqr">
                                    <span class="checkbox"></span>
                                    <input type="checkbox" name="check" class="check" value="false" />
                                    <span class="star star-2"></span>
                                </label>
                                <label class="sqr">
                                    <span class="checkbox"></span>
                                    <input type="checkbox" name="check" class="check" value="false" />
                                    <span class="star star-1"></span>
                                </label>
                            </div>
                        </div>
                        <div class="filter-group">
                            <label class="filter-title">Hotel Area:</label><span class="city-name blue-txt"><a href="#">(Jakarta)</a></span>
                            <div class="area">
                                <label class="sqr city-point">
                                    <span class="checkbox"></span>
                                    <input type="checkbox" name="check" class="check" value="false" />
                                    <span class="name">Jakarta Utara</span>
                                </label>
                                <span class="city-hotel">54</span>

                                <label class="sqr city-point">
                                    <span class="checkbox"></span>
                                    <input type="checkbox" name="check" class="check" value="false" />
                                    <span class="name">Jakarta Barat</span>
                                </label>
                                <span class="city-hotel">54</span>

                                <label class="sqr city-point">
                                    <span class="checkbox"></span>
                                    <input type="checkbox" name="check" class="check" value="false" />
                                    <span class="name">Jakarta Selatan</span>
                                </label>
                                <span class="city-hotel">54</span>

                                <label class="sqr city-point">
                                    <span class="checkbox"></span>
                                    <input type="checkbox" name="check" class="check" value="false" />
                                    <span class="name">Jakarta Timur</span>
                                </label>
                                <span class="city-hotel">54</span>
                            </div>
                        </div>
                        <div class="filter-group">
                            <label class="filter-title">Tipe Kamar</label>
                            <div class="room">
                                <label class="sqr city-point">
                                    <span class="checkbox"></span>
                                    <input type="checkbox" name="check" class="check" value="false" />
                                    <span class="name">Single</span>
                                </label>
                                <label class="sqr city-point">
                                    <span class="checkbox"></span>
                                    <input type="checkbox" name="check" class="check" value="false" />
                                    <span class="name">Twin</span>
                                </label>
                                <label class="sqr city-point">
                                    <span class="checkbox"></span>
                                    <input type="checkbox" name="check" class="check" value="false" />
                                    <span class="name">King</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-right-result">
                    <div class="sort clearfix">
                        <div class="col-xs-left"><b>Sort By:</b></div>
                        <div class="col-xs-middle">
                            <label class="round">
                                <span class="radio"></span>
                                <input type="radio" name="optradio" class="check-radio" value="false" />
                                <span class="name">Harga Tertinggi</span>
                            </label>
                        </div>
                        <div class="col-xs-right">
                            <label class="round">
                                <span class="radio"></span>
                                <input type="radio" name="optradio" class="check-radio" value="false" />
                                <span class="name">Harga Terendah</span>
                            </label>
                        </div>
                    </div>
                    <div class="hotel-list-container">
                        <div class="hotel-list clearfix">
                            <div class="col-left-hotel"><img class="img-list" src="https://pix6.agoda.net/hotelImages/335/335359/335359_14031813330018743804.jpg?s=1100x825" alt="Hotel" /></div>
                            <div class="col-right-hotel">
                                <div class="clearfix">
                                    <div class="col-half blue-txt bg">Bliss Hotel Singapore</div>
                                    <div class="col-half facility">
                                        <span class="wifi"></span>
                                        <span class="meal"></span>
                                    </div>
                                </div>
                                <div class="star star-5"></div>
                                <div class="location">
                                    Kios Tower AB No. 26, Jl. Karet Pasar Gang Tiong No: 62 ;
                                    Jakarta Barat
                                </div>
                                <div class="review clearfix">
                                    <div class="col-half left">
                                        <b><span class="md-txt">8.0</span> - </b> Sangat Baik
                                        <br /><span class="grey-txt">540 ulasan</span>
                                    </div>
                                    <div class="col-half">
                                        <span class="trip-advisor"></span>
                                        <br /><span class="grey-txt">540 ulasan</span>
                                    </div>
                                </div>
                                <div class="price clearfix">
                                    <div class="col-half">
                                        <span class="txt-md"><b>Harga per malam mulai dari:</b></span>
                                        <br /><span class="xs-txt">(*Termasuk Pajak & Service Charge)</span>
                                    </div>
                                    <div class="col-half">
                                        <span class="underline-txt">Rp 899.999.999</span>
                                        <br /><span class="lg-txt"><b><sup>Rp</sup> 999.999.999</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hotel-list clearfix">
                            <div class="col-left-hotel"><img class="img-list" src="https://aff.bstatic.com/images/hotel/840x460/195/19588787.jpg" alt="Hotel" /></div>
                            <div class="col-right-hotel">
                                <div class="clearfix">
                                    <div class="col-half blue-txt bg">Bliss Hotel Singapore</div>
                                    <div class="col-half facility">
                                        <span class="wifi"></span>
                                        <span class="meal"></span>
                                    </div>
                                </div>
                                <div class="star star-5"></div>
                                <div class="location">
                                    Kios Tower AB No. 26, Jl. Karet Pasar Gang Tiong No: 62 ;
                                    Jakarta Barat
                                </div>
                                <div class="review clearfix">
                                    <div class="col-half left">
                                        <b><span class="md-txt">8.0</span> - </b> Sangat Baik
                                        <br /><span class="grey-txt">540 ulasan</span>
                                    </div>
                                    <div class="col-half">
                                        <span class="trip-advisor"></span>
                                        <br /><span class="grey-txt">540 ulasan</span>
                                    </div>
                                </div>
                                <div class="price clearfix">
                                    <div class="col-half">
                                        <span class="txt-md"><b>Harga per malam mulai dari:</b></span>
                                        <br /><span class="xs-txt">(*Termasuk Pajak & Service Charge)</span>
                                    </div>
                                    <div class="col-half">
                                        <span class="underline-txt">Rp 899.999.999</span>
                                        <br /><span class="lg-txt"><b><sup>Rp</sup> 999.999.999</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hotel-list clearfix">
                            <div class="col-left-hotel"><img class="img-list" src="/Assets/travorama20/images/Hotel/hotel.jpg" alt="Hotel" /></div>
                            <div class="col-right-hotel">
                                <div class="clearfix">
                                    <div class="col-half blue-txt bg">Bliss Hotel Singapore</div>
                                    <div class="col-half facility">
                                        <span class="wifi"></span>
                                        <span class="meal"></span>
                                    </div>
                                </div>
                                <div class="star star-5"></div>
                                <div class="location">
                                    Kios Tower AB No. 26, Jl. Karet Pasar Gang Tiong No: 62 ;
                                    Jakarta Barat
                                </div>
                                <div class="review clearfix">
                                    <div class="col-half left">
                                        <b><span class="md-txt">8.0</span> - </b> Sangat Baik
                                        <br /><span class="grey-txt">540 ulasan</span>
                                    </div>
                                    <div class="col-half">
                                        <span class="trip-advisor"></span>
                                        <br /><span class="grey-txt">540 ulasan</span>
                                    </div>
                                </div>
                                <div class="price clearfix">
                                    <div class="col-half">
                                        <span class="txt-md"><b>Harga per malam mulai dari:</b></span>
                                        <br /><span class="xs-txt">(*Termasuk Pajak & Service Charge)</span>
                                    </div>
                                    <div class="col-half">
                                        <span class="underline-txt">Rp 899.999.999</span>
                                        <br /><span class="lg-txt"><b><sup>Rp</sup> 999.999.999</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hotel-list clearfix">
                            <div class="col-left-hotel"><img class="img-list" src="/Assets/travorama20/images/Hotel/hotel.jpg" alt="Hotel" /></div>
                            <div class="col-right-hotel">
                                <div class="clearfix">
                                    <div class="col-half blue-txt bg">Bliss Hotel Singapore</div>
                                    <div class="col-half facility">
                                        <span class="wifi"></span>
                                        <span class="meal"></span>
                                    </div>
                                </div>
                                <div class="star star-5"></div>
                                <div class="location">
                                    Kios Tower AB No. 26, Jl. Karet Pasar Gang Tiong No: 62 ;
                                    Jakarta Barat
                                </div>
                                <div class="review clearfix">
                                    <div class="col-half left">
                                        <b><span class="md-txt">8.0</span> - </b> Sangat Baik
                                        <br /><span class="grey-txt">540 ulasan</span>
                                    </div>
                                    <div class="col-half">
                                        <span class="trip-advisor"></span>
                                        <br /><span class="grey-txt">540 ulasan</span>
                                    </div>
                                </div>
                                <div class="price clearfix">
                                    <div class="col-half">
                                        <span class="txt-md"><b>Harga per malam mulai dari:</b></span>
                                        <br /><span class="xs-txt">(*Termasuk Pajak & Service Charge)</span>
                                    </div>
                                    <div class="col-half">
                                        <span class="underline-txt">Rp 899.999.999</span>
                                        <br /><span class="lg-txt"><b><sup>Rp</sup> 999.999.999</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hotel-list clearfix">
                            <div class="col-left-hotel"><img class="img-list" src="/Assets/travorama20/images/Hotel/hotel.jpg" alt="Hotel" /></div>
                            <div class="col-right-hotel">
                                <div class="clearfix">
                                    <div class="col-half blue-txt bg">Bliss Hotel Singapore</div>
                                    <div class="col-half facility">
                                        <span class="wifi"></span>
                                        <span class="meal"></span>
                                    </div>
                                </div>
                                <div class="star star-5"></div>
                                <div class="location">
                                    Kios Tower AB No. 26, Jl. Karet Pasar Gang Tiong No: 62 ;
                                    Jakarta Barat
                                </div>
                                <div class="review clearfix">
                                    <div class="col-half left">
                                        <b><span class="md-txt">8.0</span> - </b> Sangat Baik
                                        <br /><span class="grey-txt">540 ulasan</span>
                                    </div>
                                    <div class="col-half">
                                        <span class="trip-advisor"></span>
                                        <br /><span class="grey-txt">540 ulasan</span>
                                    </div>
                                </div>
                                <div class="price clearfix">
                                    <div class="col-half">
                                        <span class="txt-md"><b>Harga per malam mulai dari:</b></span>
                                        <br /><span class="xs-txt">(*Termasuk Pajak & Service Charge)</span>
                                    </div>
                                    <div class="col-half">
                                        <span class="underline-txt">Rp 899.999.999</span>
                                        <br /><span class="lg-txt"><b><sup>Rp</sup> 999.999.999</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination">
                        Halaman
                        <div class="page-container">
                            <a href="#" class="prev"></a>
                            <ul class="page-list">
                                <li><a href="#" class="active">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">....</a></li>
                                <li><a href="#">3</a></li>
                            </ul>
                            <a href="#" class="next"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>