
@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-hotel page-search";
    ViewBag.Title = "Pencarian Hotel";
}

<!DOCTYPE html>

<div class="search-list">
    <div class="container"></div>
</div>