@using System.Globalization
@using Lunggo.ApCommon.Hotel.Service
@using Lunggo.Framework.Config
@using Lunggo.ApCommon.Constant
@model Lunggo.ApCommon.Hotel.Model.HotelReservationForDisplay
@{
    ViewBag.SiteHeader = "header-email";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" type="image/ico" href="/Assets/images/favico.ico" />

    <title>Travorama - eTicket</title>

    <link rel="stylesheet" href="/Assets/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/Assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/Assets/css/neweticket.css" />
</head>

<body class="eticket">
    <div class="page page-hotel-voucher">
        <header class="page-header">
            <div class="row">
                <div class="col-xs-4">
                    <img class="img-logo" src="/Assets/images/voucher/travorama-white.png" />
                </div>
                <div class="col-xs-8">
                    <div class="page-header-right pull-right">
                        <div class="page-title"><h3 class="white-txt bold-txt">HOTEL VOUCHER</h3></div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="pull-right">
                        <img class="img-email" src="/Assets/images/voucher/email-white.png" /><span class="white-txt">cs@travorama.com</span>
                    </div>
                </div>
            </div>
        </header>
        <section class="page-content">
            <div class="hotel-wrapper">
                <div class="hotel-top">
                    <div style="background-image: url(/Assets/images/voucher/hotel.jpg);" class="img-hotel"></div>
                </div>
                <div class="hotel-bottom grey-txt">
                    <div class="hb-top">
                        <div class="row">
                            <div class="col-xs-7">
                                <h4 class="hotel-name blue-txt uppercase bold-txt">B hotel bali & spa</h4>
                                <p class="star star-5"></p>
                                @* (Model.HotelDetail.StarRating == 0 || Model.HotelDetail.StarRating == 1)
                                        {
                                    <p class="star"></p>
                                    }
                                         (Model.HotelDetail.StarRating == 2)
                                        {
                                            <p class="star star-2"></p>
                                        }
                                         (Model.HotelDetail.StarRating == 3)
                                        {
                                            <p class="star star-3"></p>
                                        }
                                         (Model.HotelDetail.StarRating == 4)
                                        {
                                            <p class="star star-4"></p>
                                        }
                                         (Model.HotelDetail.StarRating == 5)
                                        {
                                            <p class="star star-5"></p>
                                        }*@
                                <p class="grey-txt location">
                                    Jl. Imam Bonjol No 508, Denpasar,
                                    Denpasar, Indonesia 80119
                                </p>
                                <p class="grey-txt phone">
                                    000 000 000
                                </p>
                            </div>
                            <div class="col-xs-5 right-txt">
                                <div class="row">
                                    <h4 class="regular-txt no-reserve">
                                        Nomor Pesanan
                                        <h3 class="blue-txt bold-txt">123456789000</h3>
                                    </h4>
                                </div>
                                <div class="row">
                                    Bookable and Payable<br />by HOTELBEDS

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="hb-bottom">
                        <h4 class="semibold-txt">DETAIL PEMESANAN</h4>
                        <div class="hotel-detail">
                            <div class="row semibold-txt">
                                <div class="col-xs-3">Nomor Pesanan</div>
                                <div class="col-xs-9">123456789000</div>
                            </div>
                            <div class="row semibold-txt">
                                <div class="col-xs-3">Nama Tamu</div>
                                <div class="col-xs-9">Mr. Anonymous</div>
                            </div>
                            <div class="row semibold-txt">
                                <div class="col-xs-3">Special Request</div>
                                <div class="col-xs-9">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </div>
                            </div>
                            <div class="row semibold-txt">
                                <div class="col-xs-3">Reference Number</div>
                                <div class="col-xs-9">123-4567890</div>
                            </div>
                            <div class="row semibold-txt">
                                <div class="col-xs-3"></div>
                                <div class="col-xs-9 unpoint clearfix">
                                    <div class="row clearfix blue-txt semibold-txt">
                                        <div class="col-xs-4">Check-in-from</div>
                                        <div class="col-xs-3"><div class="dash-border"></div></div>
                                        <div class="col-xs-4">Check-out-until</div>
                                    </div>
                                    <div class="row clearfix blue-txt semibold-txt">
                                        <div class="col-xs-4"><h4>04 November 2016</h4></div>
                                        <div class="col-xs-3"></div>
                                        <div class="col-xs-4"><h4>04 November 2016</h4></div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-xs-4">14.00</div>
                                        <div class="col-xs-3"></div>
                                        <div class="col-xs-4">12.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="page page-2 page-hotel-voucher">
        <header class="page-header white-txt">
            <div class="row">
                <div class="col-xs-6">
                    <h4 class="bold-txt room-title">Room Type 2</h4>
                    <div class="semibold-txt">Deluxe Roon</div>
                </div>
                <div class="col-xs-6 right-txt clearfix">
                    <div class="regular-txt room-title">Nomor Pesanan</div>
                    <h4 class="semibold-txt">123456789000</h4>
                </div>
            </div>
        </header>
        <section class="page-content">
            <div class="hotel-wrapper room grey-txt clearfix">
                <div class="room-top">
                    <h4 class="semibold-txt">Jumlah Tamu per Kamar</h4>
                    <div class="guest bold-txt clearfix">
                        <div class="col-xs-2">1 Kamar</div>
                        <div class="col-xs-5 blue-txt">
                            <span class="">2</span> Dewasa
                            <span class="space"></span>&<span class="space"></span>
                            <span class="">4</span> Anak
                            <span class="space"></span>
                            <span class="semibold-txt">(5th, 6th, 7th, 8th)</span>
                        </div>
                        <div class="col-xs-5">All Inclusive</div>
                    </div>
                </div>
                <div class="room-bottom clearfix">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="bold-txt">Ketentuan Pembatalan</div>
                        </div>
                        <div class="col-xs-9">
                            Pembatalan setelah tanggal 09 November 2016 akan dikenakan
                            biaya sebesar Rp 499.500 per kamar
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="bold-txt">Ketentuan</div>
                        </div>
                        <div class="col-xs-9">
                            Room rate inclusive of : complimentary wireless internet access
                            in­room and across the hotel, complimentary 5 pieces pressing
                            per stay, 24­hour Capella Personal Assistant service.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="bold-txt">Termasuk Sarapan?</div>
                        </div>
                        <div class="col-xs-9">
                            Ya
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="bold-txt">Fasilitas</div>
                        </div>
                        <div class="col-xs-9 clearfix">
                            <ul class="blue-point">
                                <li class="col-half">WiFi</li>
                                <li class="col-half">Kolam Renang</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>