@using System.Globalization
@using Lunggo.ApCommon.Hotel.Service
@using Lunggo.Framework.Config
@using Lunggo.ApCommon.Constant
@model Lunggo.ApCommon.Hotel.Model.HotelReservationForDisplay
@{
    ViewBag.SiteHeader = "header-email";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" type="image/ico" href="/Assets/images/favico.ico" />

    <title>Travorama - eTicket</title>

    <link rel="stylesheet" href="/Assets/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/Assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/Assets/css/neweticket.css" />
</head>

<body class="eticket">
    <div class="page page-hotel-voucher">
        <header class="page-header white-txt">
            <div class="row">
                <div class="col-xs-10">
                    <h4 class="bold-txt room-title">Room Type 2</h4>
                    <div class="semibold-txt">Deluxe Roon</div>
                </div>
                <div class="col-xs-2 right-txt clearfix">
                    <div class="col-7">Jumlah Kamar</div>
                    <h3 class="col-3 semibold-txt">1</h3>
                </div>
            </div>
        </header>
        <section class="page-content">
            <div class="hotel-wrapper room grey-txt clearfix">
                <div class="room-top">
                    <h4 class="semibold-txt black-txt">Jumlah Tamu per Kamar</h4>
                    <div class="guest clearfix">
                        <div class="col-half">
                            <h3 class="semibold-txt blue-txt">2</h3><span class="blue-txt semibold-txt">&nbsp;&nbsp;Dewasa</span>
                            <h3 class="lightgrey-txt semibold-txt">&</h3>
                            <h3 class="semibold-txt blue-txt">2</h3><span class="blue-txt semibold-txt">&nbsp;&nbsp;Anak - anak</span>
                        </div>
                        <div class="col-half">
                            <div class="italic-txt semibold-txt">Anak 1 usia 8 th, Anak 2 usia 4 th</div>
                        </div>
                    </div>
                </div>
                <div class="room-bottom clearfix">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="semibold-txt black-txt">Ketentuan Pembatalan</div>
                        </div>
                        <div class="col-xs-9">
                            Pembatalan setelah tanggal 09 November 2016 akan dikenakan
                            biaya sebesar Rp 499.500 per kamar
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="semibold-txt black-txt">Ketentuan</div>
                        </div>
                        <div class="col-xs-9">
                            Room rate inclusive of : complimentary wireless internet access
                            in­room and across the hotel, complimentary 5 pieces pressing
                            per stay, 24­hour Capella Personal Assistant service.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="semibold-txt black-txt">Termasuk Sarapan?</div>
                        </div>
                        <div class="col-xs-9">
                            Ya
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="semibold-txt black-txt">Fasilitas</div>
                        </div>
                        <div class="col-xs-9 clearfix">
                            <div class="col-half"><img class="img-wifi" src="/Assets/images/wifi.png" />WiFi</div>
                            <div class="col-half"><img class="img-swim" src="/Assets/images/swim.png" />Kolam Renang</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="semibold-txt black-txt">Client Reference</div>
                        </div>
                        <div class="col-xs-9">
                            123456789000
                        </div>
                    </div>
                </div>
                <div class="tnc sm-txt italic-txt">
                    &quot;Payable through HotelDetail.SupplierName, acting as agent for the service operating
                    company, details of which can be provided upon request&quot;. VAT: HotelDetail.SupplierVat
                    Reference: HotelDetail.BookingReference
                </div>
            </div>
        </section>
    </div>
</body>
</html>