<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <trace>
            <listeners>
                
            </listeners>
        </trace>
    </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOnePoint" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IDynamicDataService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IDynamicDataService1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webservices.myfarebox.com/V2/OnePoint.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnePoint" contract="Mystifly.OnePointService.Flight.OnePoint" name="BasicHttpBinding_IOnePoint" />
      <endpoint address="http://services.carsolize.com/BookingServices/DynamicDataService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDynamicDataService" contract="Travolutionary.WebService.Hotel.IDynamicDataService" name="BasicHttpBinding_IDynamicDataService" />
      <endpoint address="https://rd00155d3a2c6b/BookingServices/DynamicDataService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDynamicDataService1" contract="Travolutionary.WebService.Hotel.IDynamicDataService" name="BasicHttpBinding_IDynamicDataService1" />
    </client>
  </system.serviceModel>
</configuration>