@using Lunggo.CustomerWeb.Models
@using Lunggo.Framework.Config
@using RestSharp
@{
    var baseUrl = ConfigManager.GetInstance().GetConfigValue("api", "apiUrl");
    var client = new RestClient(baseUrl);
    var roles = new List<String>();
    try
    {
        var request = new RestRequest("/v1/profile", Method.GET);
        var key = Request.Cookies["authkey"];

        request.AddHeader("Authorization", "Bearer " + key.Value);
        // execute the request
        IRestResponse<GetProfileModel> response = client.Execute<GetProfileModel>(request);

        var contentDeserialize = Lunggo.Framework.Extension.JsonExtension.Deserialize<GetProfileModel>(response.Content);
        roles = contentDeserialize.RoleName;
    }
    catch
    {
        
    }
    
}
<div class="page-sidebar" data-pages="sidebar">
    <div class="sidebar-header">
        <img src="/Assets/B2BTravorama/assets/img/logo_white.png" alt="logo" class="brand" data-src="/Assets/B2BTravorama/assets/img/logo_white.png" data-src-retina="/Assets/B2BTravorama/assets/img/logo_white_2x.png" width="78" height="22">
        <div class="sidebar-header-controls">
            <button data-toggle-pin="sidebar" class="m-l-60 btn btn-link visible-lg-inline" type="button">
                <i class="fa fs-12"></i>
            </button>
        </div>
    </div>
    <div class="sidebar-menu">
        <ul class="menu-items">
            <li class="m-t-30">
                <a href="/id/B2BTemplate/Index">
                    <span class="title">Dashboard</span>
                </a>
                <span class="icon-thumbnail "><i class="pg-home"></i></span>
            </li>
            @if (roles != null && roles.Count > 0 && roles.Contains("Booker"))
            {
            <li class="">
                <a href="javascript:;">
                    <span class="title">Booking</span>
                    <span class=" arrow"></span>
                </a>
                <span class="icon-thumbnail"><i class="fa fa-check-square"></i></span>
                <ul class="sub-menu">
                    <li class="">
                        <a href="/id/B2BTemplate/SearchFlight">Tiket Pesawat</a>
                        <span class="icon-thumbnail"><i class="fa fa-plane"></i></span>
                    </li>
                    <li class="">
                        <a href="/id/B2BTemplate/SearchHotel">Tiket Hotel</a>
                        <span class="icon-thumbnail"><i class="fa fa-building"></i></span>
                    </li>
                </ul>
            </li>
            }
            @if (roles != null && roles.Count > 0 && roles.Contains("Booker"))
            {
                <li class="">
                    <a href="/id/B2BTemplate/SavePassenger">
                        <span class="title">Save Passenger</span>
                    </a>
                    <span class="icon-thumbnail "><i class="fa fa-users"></i></span>
                </li>
            }
           
            @if (roles != null && roles.Count > 0 && roles.Contains("Finance"))
            {
                <li class="paymentmgmt">
                <a href="/id/B2BTemplate/Payment">
                    <span class="title">Payment Management</span>
                </a>
                <span class="icon-thumbnail "><i class="pg-credit_card"></i></span>
            </li>
            }
            @if (roles != null && roles.Count > 0 && roles.Contains("Admin"))
            {
            <li class="">
                <a href="/id/B2BTemplate/UserManagement">
                    <span class="title">User Management</span>
                </a>
                <span class="icon-thumbnail "><i class="fa fa-user"></i></span>
            </li>
            }

            @if (roles != null && roles.Count > 0 && roles.Contains("Approver"))
            {
            <li class="">
                <a href="/id/B2BTemplate/OrderListApprover">
                    <span class="title">Order List Approver</span>
                </a>
                <span class="icon-thumbnail">A</span>
            </li>
            }

            @if (roles != null && roles.Count > 0 && roles.Contains("Booker"))
            {
            <li class="">
                <a href="/id/B2BTemplate/OrderListBooker">
                    <span class="title">Order List Booker</span>
                </a>
                <span class="icon-thumbnail">B</span>
            </li>
            }
            @if (roles != null && roles.Count > 0 && roles.Contains("Finance"))
            {
                <li class="">
                    <a href="javascript:;">
                        <span class="title">Order List Finance</span>
                        <span class=" arrow"></span>
                    </a>
                    <span class="icon-thumbnail">F</span>
                    <ul class="sub-menu">
                        <li class="">
                            <a href="/id/B2BTemplate/OrderListFlightFinance">Pesawat</a>
                            <span class="icon-thumbnail"><i class="fa fa-plane"></i></span>
                        </li>
                        <li class="">
                            <a href="/id/B2BTemplate/OrderListHotelFinance">Hotel</a>
                            <span class="icon-thumbnail"><i class="fa fa-building"></i></span>
                        </li>
                    </ul>
                </li>
            }

            <li class="">
                <a href="/id/B2BTemplate/Login">
                    <span class="title">Logout</span>
                </a>
                <span class="icon-thumbnail "><i class="pg-power"></i></span>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>