<div class="page-sidebar" data-pages="sidebar">
    <div class="sidebar-header">
        <img src="/Assets/B2BTravorama/assets/img/logo_white.png" alt="logo" class="brand" data-src="/Assets/B2BTravorama/assets/img/logo_white.png" data-src-retina="/Assets/B2BTravorama/assets/img/logo_white_2x.png" width="78" height="22">
        <div class="sidebar-header-controls">
            <button data-toggle-pin="sidebar" class="m-l-60 btn btn-link visible-lg-inline" type="button">
                <i class="fa fs-12"></i>
            </button>
        </div>
    </div>
    <div class="sidebar-menu">
        <ul class="menu-items">
            <li class="m-t-30">
                <a href="javascript:;">
                    <span class="title">Booking</span>
                    <span class=" arrow"></span>
                </a>
                <span class="icon-thumbnail"><i class="pg-grid"></i></span>
                <ul class="sub-menu">
                    <li class="">
                        <a href="/id/B2BTemplate/SearchFlight">Tiket Pesawat</a>
                        <span class="icon-thumbnail">sp</span>
                    </li>
                    <li class="">
                        <a href="/id/B2BTemplate/SearchHotel">Tiket Hotel</a>
                        <span class="icon-thumbnail">sp</span>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="/id/B2BTemplate/Payment" class="detailed">
                    <span class="title">Payment Management</span>
                </a>
                <span class="icon-thumbnail "><i class="pg-mail"></i></span>
            </li>
            <li class="">
                <a href="#">
                    <span class="title">User Management</span>
                </a>
                <span class="icon-thumbnail "><i class="pg-social"></i></span>
            </li>
            <li class="">
                <a href="javascript:;">
                    <span class="title">List Order</span>
                    <span class=" arrow"></span>
                </a>
                <span class="icon-thumbnail"><i class="pg-grid"></i></span>
                <ul class="sub-menu">
                    <li class="">
                        <a href="#">Pesawat</a>
                        <span class="icon-thumbnail">sp</span>
                    </li>
                    <li class="">
                        <a href="#">Hotel</a>
                        <span class="icon-thumbnail">sp</span>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>