@{
    ViewBag.BodyClass = "page-hotel bread-crumb";
}

@section AdditionalJS {
    @*<script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>*@
    <script src="/Assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
}

@section PageJS{
}

<div class="bread-crumb">
    Beranda  / Hotel List / <span class="blue-txt"><b>Hotel List</b></span>
</div>