@{
    ViewBag.BodyClass = "page-hotel page-slider";
}

@section AdditionalJS {
    @*<script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>*@
    <script src="/Assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
}

@section PageJS{
}

<div class="page-slider">
    <div class="container">
        <div class="main-title header-title">Feel The <br /> <b>Excitement!</b><br></div>
    </div>
</div>
<div class="search-result-form">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="result-form-left">
                    <span class="md-txt">Hasil Pencarian Hotel di: <b>Bandar Lampung, Indonesia</b></span><br />
                    <span class="sm-txt">3 Nights <b>( Wed, 15 Dec 2015 - Thu, 18 Dec 2015 )</b></span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="result-form-right">
                    <a class="btn btn-yellow block search-result-form-trigger">UBAH PENCARIAN</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="search-result-form-content">
            @Html.Partial("/Views/Flight/FlightSearchForm.cshtml")
        </div><!-- .search-result-form-content -->
        @Html.Partial("/Views/Shared/Travorama20/_SearchLocation.cshtml")
        @Html.Partial("/Views/Shared/Travorama20/_SearchCalendar.cshtml")
    </div>
</div>