@{
    ViewBag.BodyClass = "page-hotel page-slider";
}

@section AdditionalJS {
    @*<script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>*@
    <script src="/Assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
}

<div class="page-slider">
    <div class="container">
        <div class="main-title header-title">Feel The <br /> <b>Excitement!</b><br></div>
    </div>
</div>
<div class="search-result-form">
    <div class="container clearfix">
        <div class="col-8">
            <div class="result-form-left">
                <span class="md-txt">Hasil Pencarian Hotel di: <b>{{loc}}</b></span><br />
                <span class="">{{hotelSearch.destinationNightCount}} Malam <b>( {{hotelSearch.destinationCheckinDate | date : 'EEEE, dd MMM yyyy'}} - {{hotelSearch.destinationCheckoutDate | date : 'EEEE, dd MMM yyyy'}} )</b></span>
            </div>
            @*<div>cekindate {{hotelSearch.checkinDate}} | {{hotelSearch.checkinDate | date : 'EEE, dd MMM yyyy'}}</div>
            <div>out {{hotelSearch.checkoutDate}}</div>
            <div>checkinDateDisplay {{hotelSearch.checkinDateDisplay}}</div>*@
        </div>
        <div class="col-2">
            <div class="result-form-right">
                <a class="btn btn-yellow block search-result-form-trigger">UBAH PENCARIAN</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="search-result-form-content">
            @Html.Partial("/Views/Hotel/Shared/Desktop/_SearchHotelForm.cshtml")
        </div><!-- .search-result-form-content -->
        @Html.Partial("/Views/Shared/Travorama20/_SearchHotel.cshtml")
        @Html.Partial("/Views/Shared/Travorama20/_SearchCalendarHotel.cshtml")
    </div>
</div>