<form class="hotel-form" name="hotel-form" ng-submit="FlightSearchForm.Submit()" novalidate>
    <div class="th-form clearfix">
        <div class="form-group form__hotel col-half">
            <input style ="display:none" type="text" name="fakelocation" class="hidden">
            <input type="text" value="" class="change-hotel form-control" placeholder="Kota, Wilayah atau Nama Hotel">
        </div>
        <div class="form-group form__date col-half">
            <div class="field-container">
                <div class="form-control form-date">
                    <span class="sm-txt grey-txt">Tanggal Masuk</span>
                    <span class="md-txt bold-txt darkgrey-txt">28 Oktober 2016</span>
                </div>
            </div>
        </div>
        <div class="form-group form__night col-2">
            <div class="field-container">
                <div class="form-control form-night">
                    <div class="col-half">
                        <span class="sm-txt grey-txt">Malam</span>
                    </div>
                    <div class="col-half clearfix">
                        <div class="col-8 input-hotel xlg-txt right-txt semibold-txt darkgrey-txt">1</div>
                        <div class="col-2 clearfix">
                            <a href="" class="increase" ng-click="addValue('childCount', 1)"></a>
                            <a href="" class="decrease" ng-click="addValue('childCount', -1)"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form__room col-2">
            <div class="field-container">
                <div class="form-control form-room">
                    <div class="col-half">
                        <span class="sm-txt grey-txt">Kamar</span>
                    </div>
                    <div class="col-half clearfix">
                        <div class="col-8 input-hotel xlg-txt right-txt semibold-txt darkgrey-txt">1</div>
                        <div class="col-2 clearfix">
                            <a href="" class="increase" ng-click="addValue('childCount', 1)"></a>
                            <a href="" class="decrease" ng-click="addValue('childCount', -1)"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form__adult col-2">
            <div class="form-control form-adult clearfix">
                <div class="col-half">
                    <span class="sm-txt grey-txt">Dewasa</span>
                </div>
                <div class="col-half clearfix">
                    <div class="col-8 input-hotel xlg-txt right-txt semibold-txt darkgrey-txt">2</div>
                    <div class="col-2 clearfix">
                        <a href="" class="increase" ng-click="addValue('childCount', 1)"></a>
                        <a href="" class="decrease" ng-click="addValue('childCount', -1)"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form__child col-2">
            <div class="form-control form-child">
                <div class="col-half">
                    <span class="sm-txt grey-txt">Anak</span>
                </div>
                <div class="col-half clearfix">
                    <div class="col-8 input-hotel xlg-txt right-txt semibold-txt darkgrey-txt">1</div>
                    <div class="col-2 clearfix">
                        <a href="" class="increase" ng-click="addValue('childCount', 1)"></a>
                        <a href="" class="decrease" ng-click="addValue('childCount', -1)"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form__submit col-2">
            <button class="btn btn-yellow btn-block btn-lg btnSubmit">CARI HOTEL</button>
        </div>
    </div>
</form>