@{
    ViewBag.Title = "Home Page";
    ViewBag.ShowTagline = true;
    ViewBag.ShowHeaderForm = true;
    
    Layout = "/Views/Shared/_layout_20150506.cshtml";
}

@section PageJavascript {
    <script>
        $('#flight-search').click(function(evt) {
            evt.preventDefault();
            var info = function() {
                var s = "";
                var ori = $('#flight-origin').val();
                var dest = $('#flight-destination').val();
                var date = $('#flight-date').val();
                s = s.concat(ori, dest, date.substring(0, 2), date.substring(3, 5), date.substring(8, 10));
                if ($('#return-flight').prop('checked')) {
                    var ori2 = $('#flight-destination').val();
                    var dest2 = $('#flight-origin').val();
                    var date2 = $('#flight-return-date').val();
                    s = s.concat('.', ori2, dest2, date2.substring(0, 2), date2.substring(3, 5), date2.substring(8, 10));
                }
                var cabin = 'y';
                var adult = $('#flight-adult').val();
                var child = $('#flight-child').val();
                var infant = $('#flight-infant').val();
                s = s.concat('-', adult, child, infant, cabin);
                return s;
            }
            $('#flight-info').val(info);
            $(this).closest('form').submit();
        })
    </script>
}

<section class="home-info">

    <h3 class="section-title">FIND THE <b>BEST FLIGHT</b> AND <b>HOTELS</b> AROUND THE WORLD</h3>

    <div class="section-content">
        <div class="container">
            <div class="hex-row row-1">
                <div class="hexagon blue" style="background-image:url(/Assets/images/_sample/hotel-image.jpg);">
                    <a href="#1">
                        <span>Package to <b>NEW ZEALAND</b></span>
                    </a>
                    <div class="face1"></div>
                    <div class="face2"></div>
                </div>
                <div class="hexagon yellow" style="background-image:url(/Assets/images/_sample/room-thumb.jpg);">
                    <a href="#2">
                        <span>Package to <b>NEW ZEALAND</b></span>
                    </a>
                    <div class="face1"></div>
                    <div class="face2"></div>
                </div>
                <div class="hexagon blue" style="background-image:url(/Assets/images/_sample/hotel-image.jpg);">
                    <a href="#3">
                        <span>Package to <b>NEW ZEALAND</b></span>
                    </a>
                    <div class="face1"></div>
                    <div class="face2"></div>
                </div>
            </div>
            <div class="hex-row row-1">

                <div class="hexagon blue" style="background-image:url(/Assets/images/_sample/hotel-image.jpg);">
                    <a href="#5">
                        <span>Package to <b>NEW ZEALAND</b></span>
                    </a>
                    <div class="face1"></div>
                    <div class="face2"></div>
                </div>
                <div class="hexagon yellow" style="background-image:url(/Assets/images/_sample/hotel-image.jpg);">
                    <a href="#6">
                        <span>Package to <b>NEW ZEALAND</b></span>
                    </a>
                    <div class="face1"></div>
                    <div class="face2"></div>
                </div>
            </div>
            <div class="hex-row row-3">
                <div class="hexagon blue" style="background-image:url(/Assets/images/_sample/hotel-image.jpg);">
                    <a href="#8">
                        <span>Package to <b>NEW ZEALAND</b></span>
                    </a>
                    <div class="face1"></div>
                    <div class="face2"></div>
                </div>
                <div class="hexagon yellow" style="background-image:url(/Assets/images/_sample/hotel-image.jpg);">
                    <a href="#9">
                        <span>Package to <b>NEW ZEALAND</b></span>
                    </a>
                    <div class="face1"></div>
                    <div class="face2"></div>
                </div>
                <div class="hexagon blue" style="background-image:url(/Assets/images/_sample/hotel-image.jpg);">
                    <a href="#9">
                        <span>Package to <b>NEW ZEALAND</b></span>
                    </a>
                    <div class="face1"></div>
                    <div class="face2"></div>
                </div>
            </div>

        </div>
    </div>

</section><!-- .home-info -->