@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    ViewBag.BodyClass = "page page-home";
    ViewBag.AngularController = "HomePageController";
    ViewBag.CurrentPage = "home";
}

@section AdditionalJS {
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
    <script src="/Config/JsConfig.js"></script>
    <!-- jquery datepicker -->
    <script src="/Assets/js/jquery-ui.min.js"></script>}

@section PageJS {
    <script src="/Assets/mobile/js/HomeController.js"></script>
}

<div class="page-loading" ng-class="{'page-loaded' : PageConfig.Loaded}">
    
    <div class="form-wrapper">

        <h1>CARI <b>TIKET PESAWAT</b></h1>

        <form class="flight-form" name="flight-form" ng-submit="FlightSearchForm.Submit()" novalidate>

            <div class="form-group form__origin">
                <p class="form-control" ng-click="FlightSearchForm.AutoComplete.Reset('departure'); PageConfig.SetOverlay('airport-select')">
                    {{FlightSearchForm.AirportOrigin.City}} ({{FlightSearchForm.AirportOrigin.Code}})
                </p>
            </div>

            <div class="form-group form__destination">
                <p class="form-control" ng-click="FlightSearchForm.AutoComplete.Reset('return'); PageConfig.SetOverlay('airport-select')">
                    {{FlightSearchForm.AirportDestination.City}} ({{FlightSearchForm.AirportDestination.Code}})
                </p>
            </div>

            <div class="form-group form__departure">
                <p class="form-control" ng-click="DatePicker.SetOption({Target : 'departure'}, ' '); PageConfig.SetOverlay('datepicker-departure')">
                    <b>Berangkat</b> <span>{{FlightSearchForm.DepartureDate | date : 'EEE, dd MMM yyyy'}}</span>
                </p>
                <input type="text" value="" ng-model="FlightSearchForm.DepartureDate" class="flight-search-form-departure hidden" />
            </div>

            <div class="form-group form__roundtrip">
                <p>Pulang Pergi ?</p>
                <div class="switch">
                    <label class="flight-trip" ng-class="{'active' : FlightSearchForm.Trip == 'false'}"><input type="radio" name="roundtrip" value="false" ng-model="FlightSearchForm.Trip" class="hidden" />Tidak</label>
                    <label class="flight-trip" ng-class="{'active' : FlightSearchForm.Trip == 'true'}"><input type="radio" name="roundtrip" value="true" ng-model="FlightSearchForm.Trip" class="hidden" />Ya</label>
                </div>
            </div>

            <div class="form-group form__return" ng-hide="FlightSearchForm.Trip == 'false'">
                <p class="form-control" ng-click="DatePicker.SetOption({Target : 'return'}, ' '); PageConfig.SetOverlay('datepicker-return')">
                    <b>Kembali</b> <span>{{FlightSearchForm.ReturnDate | date : 'EEE, dd MMM yyyy'}}</span>
                    <input type="text" value="" ng-model="FlightSearchForm.ReturnDate" class="flight-search-form-return hidden" />
                </p>
            </div>

            <div class="form-group form__passenger">
                <div class="form__adult">
                    <p class="form-control" ng-click="FlightSearchForm.PassengerPicker.Reset('adult'); PageConfig.SetOverlay('passenger-select')">{{FlightSearchForm.Passenger[0]}}</p>
                </div>
                <div class="form__child">
                    <p class="form-control" ng-click="FlightSearchForm.PassengerPicker.Reset('children'); PageConfig.SetOverlay('passenger-select')">{{FlightSearchForm.Passenger[1]}}</p>
                </div>
                <div class="form__infant">
                    <p class="form-control" ng-click="FlightSearchForm.PassengerPicker.Reset('infant'); PageConfig.SetOverlay('passenger-select')">{{FlightSearchForm.Passenger[2]}}</p>
                </div>
            </div>
        
            <div class="form-group form__flightclass">
                <select class="form-control" name="cabinclass" ng-model="FlightSearchForm.Cabin" ng-init="FlightSearchForm.Cabin = flightclass[0].value">
                    <option ng-repeat="cabin in flightclass" value="{{cabin.value}}">{{cabin.name}}</option>
                </select>       
            </div>
        
            <div class="form-group form__submit">
                <button class="btn btn-yellow btn-block btn-lg">CARI</button>
            </div>

        </form><!-- .flight-form -->

    </div><!-- .form-wrapper -->
    
    <!-- overlays -->
    <!-- overlay date picker -->
    <div class="overlay overlay--theme--blue overlay--datepicker overlay--datepicker--departure" ng-class="{ 'active' : (PageConfig.ActiveOverlay == 'datepicker-departure') }">
        <header class="overlay__header">
            <h3 class="overlay__title">
                Pilih Tanggal Keberangkatan
                <span class="overlay__close" ng-click="PageConfig.SetOverlay()">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <div class="ui-datepicker departure-date"></div>
        </section>
    </div><!-- .overlay--datepicker-->

    <!-- overlay date picker -->
    <div class="overlay overlay--theme--blue overlay--datepicker overlay--datepicker--return" ng-class="{ 'active' : (PageConfig.ActiveOverlay == 'datepicker-return') }">
        <header class="overlay__header">
            <h3 class="overlay__title">
                Pilih Tanggal Kepulangan
                <span class="overlay__close" ng-click="PageConfig.SetOverlay()">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <div class="ui-datepicker departure-date"></div>
        </section>
    </div><!-- .overlay--datepicker-->
    
    <!-- overlay airport selector -->
    <div class="overlay overlay--theme--blue overlay--airport-select" ng-class="{'active' : (PageConfig.ActiveOverlay == 'airport-select')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                <small>PILIH TUJUAN PENERBANGAN</small>
                 <span class="overlay__close" ng-click="PageConfig.SetOverlay();">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
        
            <div class="autocomplete-input">
                <input type="text" class="form-control" name="name" value="" placeholder="Masukkan lokasi tujuan penerbangan" ng-model="FlightSearchForm.AutoComplete.Keyword" ng-change="FlightSearchForm.AutoComplete.GetAirport()" />
            </div><!-- .autocomplete-input -->
        
            <div class="autocomplete-preload" ng-show="FlightSearchForm.AutoComplete.Keyword.length < FlightSearchForm.AutoComplete.MinLength">
                <div class="list__header">
                    <h4>POPULAR DESTINATION</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.Popular" >
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay();" ></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>INDONESIA</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.Indonesia">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay()"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>ASIA TENGGARA</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.SouthEastAsia">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay()"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>ASIA TIMUR</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.EastAsia">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay()"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>EROPA</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.Europe">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay()"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>OSEANIA</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.Oceania">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay()"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
                <div class="list__header">
                    <h4>DESTINASI LAINNYA</h4>
                </div>
                <ul class="result">
                    <li class="airport" ng-repeat="result in PageConfig.PopularDestination.Others">
                        <a class="airport__link" ng-click="FlightSearchForm.AutoComplete.SetAirport( FlightSearchForm.AutoComplete.Target , result); PageConfig.SetOverlay()"></a>
                        <span class="airport__code">{{result.Code}}</span>
                        <div class="airport__detail">
                            <p class="airport__location">{{result.City}}, {{result.Country}}</p>
                            <p class="airport__name">{{result.Name}}</p>
                        </div>
                    </li>
                </ul>
            </div><!-- .autocomplete-preload -->
        
            <div class="autocomplete-loading">
                <h4 class="text-center text-loading">Mencari Bandara</h4>
            </div>

            <div class="autocomplete-no-result">
                <h4 class="text-center">Hasil tidak ditemukan</h4>
            </div>

            <div class="autocomplete-result">
                <ul class="result" ng-click= "PageConfig.SetOverlay()"></ul>
            </div>
        </section><!-- .overlay__content -->
    </div><!-- .overlay--airport-select -->
    
    <!-- overlay passenger picker -->
    <div class="overlay overlay--theme--blue overlay--passenger-selector" ng-class="{'active' : (PageConfig.ActiveOverlay == 'passenger-select')}">
        <header class="overlay__header">
            <h3 class="overlay__title">
                Jumlah Penumpang
                <span class="overlay__close" ng-click="PageConfig.SetOverlay()">X</span>
            </h3>
        </header><!-- .overlay__header -->
        <section class="overlay__content">
            <div class="passenger-selector">
                <div class="passenger-selector__header">
                    <ul>
                        <li><a class="adult" ng-class="{'active' : FlightSearchForm.PassengerPicker.ActiveType == 'adult'}" ng-click="FlightSearchForm.PassengerPicker.Reset('adult')"></a></li>
                        <li><a class="children" ng-class="{'active' : FlightSearchForm.PassengerPicker.ActiveType == 'children'}" ng-click="FlightSearchForm.PassengerPicker.Reset('children')"></a></li>
                        <li><a class="infant" ng-class="{'active' : FlightSearchForm.PassengerPicker.ActiveType == 'infant'}" ng-click="FlightSearchForm.PassengerPicker.Reset('infant')"></a></li>
                    </ul>
                </div>
                <div class="passenger-selector__body">
                    <div class="selected">
                        <p ng-show="FlightSearchForm.PassengerPicker.ActiveType == 'adult'">
                            <span class="number">{{FlightSearchForm.Passenger[0]}}</span>
                            <span class="description"><b>Dewasa</b><br />(&gt; 12 Tahun)</span>
                        </p>
                        <p ng-show="FlightSearchForm.PassengerPicker.ActiveType == 'children'">
                            <span class="number">{{FlightSearchForm.Passenger[1]}}</span>
                            <span class="description"><b>Anak</b><br />(2-12 Tahun)</span>
                        </p>
                        <p ng-show="FlightSearchForm.PassengerPicker.ActiveType == 'infant'">
                            <span class="number">{{FlightSearchForm.Passenger[2]}}</span>
                            <span class="description"><b>Bayi</b><br />(&lt; 2 Tahun)</span>
                        </p>
                    </div>
                    <div class="selector" ng-show="FlightSearchForm.PassengerPicker.ActiveType != 'infant'">
                        <span ng-repeat="number in FlightSearchForm.PassengerPicker.List" ng-click="FlightSearchForm.PassengerPicker.Set(number, ' ')" ng-class="{'disabled' : (number > (FlightSearchForm.PassengerPicker.TotalMaxPassenger - FlightSearchForm.PassengerPicker.TotalCurrentPassenger) )}">{{number}}</span>
                    </div>
                    <div class="selector" ng-show="FlightSearchForm.PassengerPicker.ActiveType == 'infant'">
                        <span ng-repeat="number in FlightSearchForm.PassengerPicker.List" ng-click="FlightSearchForm.PassengerPicker.Set(number, ' ')" ng-class="{'disabled' : (number > (FlightSearchForm.PassengerPicker.TotalMaxPassenger - FlightSearchForm.PassengerPicker.TotalCurrentPassenger) || ( number > FlightSearchForm.Passenger[0] ) )}">{{number}}</span>
                    </div>
                    <div class="note">
                        <p ng-show="FlightSearchForm.PassengerPicker.ActiveType == 'infant'">Jumlah bayi tidak boleh lebih dari jumlah penumpang dewasa</p>
                        <p>Jumlah total penumpang tidak boleh lebih dari 9 orang</p>
                    </div>
                </div>
            </div>
        </section>
    </div><!-- .overlay--passenger-selector -->


</div><!-- .page-loading -->
