<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  
  <!-- This key is for Application Insights resource 'Lunggo.WebJobFlightSearch' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>e856689d-1169-4290-a051-78b6d209b89c</InstrumentationKey>
</ApplicationInsights>