<div class="airline-page">
    <div id="am-profile">
        <h2 class="section-title stripe text-center xlg-txt text-uppercase">Profil <span>Garuda Indonesia</span></h2>
        <div class="normal-txt">
            <p>
                Seiring semakin meningkatnya permintaan jasa industri penerbangan, Perusahaan terus mengembangkan jaringan penerbangan hingga ke kota-kota pertumbuhan ekonomi dan wisata baru di wilayah Barat dan Timur Indonesia. Sejarah penerbangan komersial Indonesia dimulai saat bangsa Indonesia sedang mempertahankan kemerdekaannya. Penerbangan komersial pertama menggunakan pesawat DC-3 Dakota dengan registrasi RI 001 dari Calcutta ke Rangoon dan diberi nama “Indonesian Airways” dilakukan pada 26 Januari 1949. Pada tahun yang sama, 28 Desember 1949, pesawat tipe Douglas DC-3 Dakota dengan registrasi PK-DPD dan sudah dicat dengan logo “Garuda Indonesian Airways”, terbang dari Jakarta ke Yogyakarta untuk menjemput Presiden Soekarno. Inilah penerbangan yang pertama kali dengan nama Garuda Indonesian Airways. . Nama “Garuda” diberikan oleh Presiden Soekarno dimana nama tersebut diambil dari sajak Belanda yang ditulis oleh penyair terkenal pada masa itu, Noto Soeroto; "Ik ben Garuda, Vishnoe's vogel, die zijn vleugels uitslaat hoog bovine uw einladen", yang artinya, “Saya Garuda, burung Vishnu yang melebarkan sayapnya tinggi di atas kepulauan Anda”.
            </p>
            <p>
                <div class="blue-txt bold-txt">Vision Statement</div>
                To be a sustainable airline company through customer-oriented services and growth in profit
            </p>
            <p>
                <div class="blue-txt bold-txt">Company Vision</div>
                To maximize shareholder return through strong revenue growth, cost leadership in full service operations, and group synergy while providing the highest value to customers through excellent Indonesian hospitality
            </p>
        </div>
        <div class="airline-info white-txt">
            <div class="clearfix">
                <div class="col-sm-2 text-uppercase center-txt bold-txt">
                    <div class="xlg-txt">Informasi</div>
                    <div style="font-size: 16px; letter-spacing: 1px; margin-bottom: 10px;">Penerbangan</div>
                    <div class="" style="margin-bottom: 5px;">rating maskapai:</div>
                    <div class="">
                        @*<span class="star-white"></span>
                            <span class="star-white sw-2"></span>
                            <span class="star-white sw-3"></span>
                            <span class="star-white sw-4"></span>*@
                        <span class="star-white sw-5"></span>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="clearfix">
                        <div class="col-xs-2">
                            <div class="airline-box">
                                <div class="icon-bagage"></div>
                                <div>30 Kg</div>
                            </div>
                            <div class="text-uppercase bold-txt">bagasi</div>
                        </div>
                        <div class="col-xs-2">
                            <div class="airline-box">
                                <div class="icon-lugage"></div>
                                <div>30 Kg</div>
                            </div>
                            <div class="text-uppercase bold-txt">kabin</div>
                        </div>
                        <div class="col-xs-2">
                            <div class="airline-box">
                                <div class="icon-checkin"></div>
                                <div>30 Kg</div>
                            </div>
                            <div class="text-uppercase bold-txt">waktu check in</div>
                        </div>
                        <div class="col-xs-2">
                            <div class="airline-box">
                                <div class="icon-disc"></div>
                                <div>30 Kg</div>
                            </div>
                            <div class="text-uppercase bold-txt">promo tersedia</div>
                        </div>
                        <div class="col-xs-2 col-xs-offset-1">
                            <div class="text-uppercase bold-txt" style="margin-top: 45px;">
                                <div class="">service  standard:</div>
                                <div class="normal-txt">full service</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="how-to row normal-txt">
            <div class="col-sm-7">
                <p class="bold-txt md-txt">Cara Pemesanan Tiket Garuda Indonesia</p>
                <div class="">
                    Anda dapat melakukan reservasi dengan langkah-langkah berikut:
                    <ol style="padding-left: 13px;">
                        <li>Cari rute Lion Air yang diinginkan di search box di atas (lihat <a href="#" class="blue-txt">Cara Pakai</a> untuk bantuan).</li>
                        <li>Lakukan booking dengan cara mengisi data penumpang.</li>
                        <li>Pilih cara pembayaran.</li>
                        <li>Bayar dan tiket Lion akan dikirimkan ke alamat email Anda.</li>
                    </ol>
                </div>
            </div>
            <div class="col-sm-5">
                <p class="bold-txt md-txt">E- Tiket Garuda Indonesia</p>
                <div class="">
                    E-tiket Lion Air dapat berlaku sebagai bukti untuk terbang dengan menggunakan pesawat Lion Air. Jika Anda telah mendapatkan e-tiket pada email, maka e-tiket dapat di-print sebagai bukti sah dan untuk dibawa pada saat melakukan check-in.
                </div>
            </div>
        </div>
    </div>
    <div id="am-plane">
        <h2 class="section-title stripe text-center xlg-txt text-uppercase">armada pesawat <span>Garuda Indonesia</span></h2>
        <div class="plane-type text-center text-uppercase clearfix">
            <div class="clearfix">
                <div class="col-sm-6">
                    <div class="plane-box">
                        <div class="plane-img p1"></div>
                    </div>
                    <div class="blue-txt bold-txt" style="margin: 10px 0 20px;">Boeing 777-300er</div>
                </div>
                <div class="col-sm-6">
                    <div class="plane-box">
                        <div class="plane-img p2"></div>
                    </div>
                    <div class="blue-txt bold-txt" style="margin: 10px 0 20px;">Boeing 747-400</div>
                </div>
            </div>
            <div class="clearfix">
                <div class="col-sm-6">
                    <div class="plane-box">
                        <div class="plane-img p3"></div>
                    </div>
                    <div class="blue-txt bold-txt" style="margin: 10px 0 20px;">airbus a330-300</div>
                </div>
                <div class="col-sm-6">
                    <div class="plane-box">
                        <div class="plane-img p4"></div>
                    </div>
                    <div class="blue-txt bold-txt" style="margin: 10px 0 20px;">airbus a330-200</div>
                </div>
            </div>
            <div class="clearfix">
                <div class="col-sm-6">
                    <div class="plane-box">
                        <div class="plane-img p5"></div>
                    </div>
                    <div class="blue-txt bold-txt" style="margin: 10px 0 20px;">boeing 737-800ng</div>
                </div>
                <div class="col-sm-6">
                    <div class="plane-box">
                        <div class="plane-img p6"></div>
                    </div>
                    <div class="blue-txt bold-txt" style="margin: 10px 0 20px;">CRJ1000 NexGen</div>
                </div>
            </div>
            <div class="clearfix">
                <div class="col-sm-6">
                    <div class="plane-box">
                        <div class="plane-img p7"></div>
                    </div>
                    <div class="blue-txt bold-txt" style="margin: 10px 0 20px;">ATR 72-600</div>
                </div>
            </div>
        </div>
    </div>
    <div id="am-rute">
        <h2 class="section-title stripe text-center xlg-txt text-uppercase">armada pesawat <span>Garuda Indonesia</span></h2>
        <div class="plane rute normal-txt">
            <div class="blue-txt bold-txt text-center md-txt" style="margin-bottom: 20px;">Rute Domestik</div>
            <div class="pr-domestik white-txt clearfix">
                <div class="pr-left">
                    <div class="prl-t">
                        <p class="bold-txt">Sumatera</p>
                        <div class="">
                            Banda Aceh - Batam - Bengkulu - Jambi - Lhokseumawe - Medan - Gunung Sitoli - Padang - Palembang - Pangkal Pinang - Pekanbaru - Sabang - Sibolga - Tanjung Karang - Tanjung Pandan - Tanjung Pinang - Silangit
                        </div>
                    </div>
                    <div class="prl-b">
                        <p class="bold-txt">Papua</p>
                        <div class="">
                            Biak - Jayapura - Manokwari - Merauke - Timika - Sorong - Nabire
                        </div>
                    </div>
                </div>
                <div class="pr-mid">
                    <div class="prm-t">
                        <p class="bold-txt">Jawa</p>
                        <div class="">
                            Bandung - Banyuwangi - Jakarta - Jember - Malang - Semarang - Solo - Surabaya - Yogyakarta
                        </div>
                    </div>
                    <div class="prm-b">
                        <p class="bold-txt">Sulawesi, Ambon & Ternate</p>
                        <div class="">
                            Ambon - BauBau - Gorontalo - Kendari - Langgur - Luwuk - Makassar - Mamuju - Manado - Palu - Saumlaki - Ternate
                        </div>
                    </div>
                </div>
                <div class="pr-right">
                    <div class="prr-t">
                        <p class="bold-txt">Kalimantan</p>
                        <div class="">
                            Balikpapan - Banjarmasin - Berau - Palangkaraya - Pontianak - Tarakan - Putussibau - Ketapang - Pangkalan Bun
                        </div>
                    </div>
                    <div class="prr-b">
                        <p class="bold-txt">Bali & Nusa Tenggara</p>
                        <div class="">
                            Bali - Bima - Ende - Kupang - Labuan Bajo - Lombok - Sumbawa - Tambolaka
                        </div>
                    </div>
                </div>
            </div>
            <div class="blue-txt bold-txt text-center md-txt" style="margin-bottom: 20px;">Rute Internasional</div>
            <div class="pr-inter white-txt clearfix">
                <div class="pr-left">
                    <div class="prl-t">
                        <p class="bold-txt">Australia</p>
                        <div class="">
                            Melbourne - Perth - Sydney
                        </div>
                    </div>
                    <div class="prl-b">
                        <p class="bold-txt">Asia Tenggara</p>
                        <div class="">
                            Bandar Seri Begawan - Bangkok - Chiang Mai -  Chiang Rai - Koh Samui - Krabi - Kuala Lumpur - Lampang - Manila - Phuket - Saigon - Singapore - Udon Thani - Yangoon
                        </div>
                    </div>
                </div>
                <div class="pr-mid">
                    <div class="prm-t">
                        <p class="bold-txt">Hong Kong, China, Jepang & Korea</p>
                        <div class="">
                            Beijing - Chitose - Fukuoka - Guangzhou - Hong Kong - Itami Osaka - Komatsu - Nagoya - Osaka - Sendai - Seoul - Shanghai - Taipei - Takamatsu
                            Tokyo (Narita) - Tokyo (Haneda)
                        </div>
                    </div>
                    <div class="prm-b">
                        <p class="">Australia</p>
                        <div class="bold-txt">
                            Melbourne - Perth - Sydney
                        </div>
                    </div>
                </div>
                <div class="pr-right">
                    <div class="prr-t">
                        <p class="bold-txt">Timur Tengah & Eropa</p>
                        <div class="">
                            Abu Dhabi -  Amsterdam - Athens - Bahrain - Barcelona - Brussels - Dubai - Dublin - Dusseldorf -
                            Frankfurt - Istanbul - Jeddah - London (Gatwick) -
                            London (Heathrow) - Madinah - Madrid -  Manchester - Milan - Moscow - Munich - Muscat - Paris - Paris (Charles De Gaulle) - Rome - Berlin -
                            Copenhagen - Sheremetyevo - Oslo - Stockholm Venice - Salalah
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="am-privacy">
        <h2 class="section-title stripe text-center xlg-txt text-uppercase">kebijakan perubahan / penbatalan / refund <span>Garuda Indonesia</span></h2>
        <div class="row  normal-txt">
            <div class="col-sm-6">
                <div class="">
                    <p class="bold-txt md-txt">
                        Prosedur Refund
                    </p>
                    <p class="">
                        Untuk keterangan lebih lanjut, silakan baca halaman FAQ ketentuan dan prosedur refund.
                    </p>
                </div>
                <div class="">
                    <p class="bold-txt md-txt">
                        Pengubahan Detail Penerbangan
                    </p>
                    <p class="">
                        Pengubahan detail penerbangan Singapore Airlines hanya dapat dilakukan melalui Traveloka. Untuk mengetahui estimasi biaya perubahan jadwal penerbangan atau pembatalan tiket, silakan menghubungi Customer Service kami melalui email cs@traveloka.com atau menelepon ke nomor berikut:
                        Indonesia	: 0804-1500-308 <br />
                        Singapura	: +65-3157-1471<br />
                        Malaysia	: +60-15-4840-9469<br />
                        Thailand	: +66-2-118-5400<br />
                        Vietnam	    : 1900-6978
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <p class="bold-txt md-txt">Lainnya</p>
                <p>
                    Pihak Singapore Airlines berhak melakukan pengubahan jadwal penerbangan atau membatalkan penerbangan jika dianggap perlu demi alasan keselamatan, komersil, maupun teknis.
                </p>
                <p>
                    Pihak Singapore Airlines akan mengusahakan secepat mungkin untuk menyediakan peralihan dan armada pengganti. Hal ini akan diumumkan kepada para penumpang melalui pengumuman di bandara ataupun via telepon dan dilakukan oleh pihak Singapore Airlines secara langsung.
                </p>
                <p>Maskapai dapat mengubah ketentuan kapan pun tanpa pemberitahuan terlebih dahulu.</p>
            </div>
        </div>
    </div>
    <div id="am-history">
        <h2 class="section-title stripe text-center xlg-txt text-uppercase">sejarah <span>Garuda Indonesia</span></h2>
        <div class="normal-txt" style="margin-bottom: 30px;">
            <p class="bold-txt blue-txt">Tahun 1980</p>
            <p>
                Sepanjang tahun 1980-an, Garuda Indonesia melakukan revitalisasi dan restrukturisasi berskala besar untuk operasi dan armadanya. Hal ini mendorong perusahaan untuk mengembangkan program pelatihan yang komprehensif untuk awak kabin dan awak darat Garuda Indonesia dan mendirikan fasilitas pelatihan khusus di Jakarta Barat dengan nama Garuda Indonesia Training Center.
            </p>
            <p class="bold-txt blue-txt">Tahun 1990</p>
            <p>
                Armada Garuda Indonesia dan kegiatan operasionalnya mengalami revitalisasidan restrukturisasi besar-besarandi sepanjang tahun 1980-an. Hal ini menuntut Perusahaan merancang pelatihan yang menyeluruh bagi karyawannya dan mendorong Perusahaan mendirikan Pusat Pelatihan Karyawan, Garuda Indonesia Training Center di Jakarta Barat.
            </p>
            <p class="bold-txt blue-txt">Tahun 2000</p>
            <p>
                Seiring dengan upaya pengembangan usaha, di awal tahun 2005, Garuda Indonesia memiliki tim manajemen baru, yang kemudian membuat perencanaan baru bagi masa depan Perusahaan. Manajemen baru Garuda Indonesia melakukan evaluasi ulang dan restrukturisasi Perusahaan secara menyeluruh dengan tujuan meningkatkan efisiensi kegiatan operasional, membangun kembali kekuatan keuangan yang mencakup keberhasilan Perusahaan dalam menyelesaikan restrukturisasi utang, menambah tingkat kesadaran para karyawan dalam memahami pelanggan, dan yang terpenting memperbarui dan membangkitkan semangat karyawan Garuda Indonesia.
            </p>
            <p class="bold-txt blue-txt">Tahun 2010</p>
            <p>
                Penyelesaian seluruh restrukturisasi utang Perusahaan mengantarkan Garuda Indonesia siap untuk mencatatkan sahamnya ke publik pada 11 Februari 2011. Perusahaan resmi menjadi perusahaan publik setelah penawaran umum perdana atas 6.335.738.000 saham Perusahaan kepada masyarakat. Saham tersebut telah dicatatkan pada Bursa Efek Indonesia pada tanggal 11 Februari 2011 dengan kode GIAA. Salah satu tonggak sejarah penting ini dilakukan setelah Perusahaan menyelesaikan transformasi bisnisnya melalu kerja keras serta dedikasi berbagai pihak. Per 31 Desember 2013, struktur kepemilikan saham Garuda Indonesia sebagai emiten dan Perusahaan publik adalah Negara Republik Indonesia (69,14%), karyawan (0,4%), investor domestik (24,34%), dan investor internasional (6,12%).
                <br /><br />
                Untuk mendukung kegiatan operasionalnya, Garuda Indonesia memiliki 5 (lima) Entitas Anak yang fokus pada produk/jasa pendukung bisnis Perusahaan induk, yaitu PT Abacus Distribution Systems Indonesia, PT Aero Wisata, PT Garuda Maintenance Facility Aero Asia, PT Aero Systems Indonesia, dan PT Citilink Indonesia. Dalam menjalani kegiatan operasionalnya, Perusahaan didukung oleh 7.861 orang karyawan, termasuk 2.010 orang siswa yang tersebar di Kantor Pusat dan Kantor Cabang.
                <br /><br />
                Garuda Indonesia, pada Januari 2015, mengoperasikan 134 pesawat yang terdiri dari 2 pesawat Boeing 747-400, 11 pesawat Airbus A330-300, 11 pesawat Airbus A330-200, 5 pesawat Boeing 737 Classic (seri 300/500), 76 pesawat Boeing 737-800NG, 15 pesawat CRJ1000 NextGen, 8 pesawat ATR72-600, 6 pesawat Boeing 777-300ER, dan 30 pesawat Citilink yang terdiri dari 24 pesawat Airbus A320-200, 5 pesawat Boeing 737-300 serta 1 pesawat Boeing 737-400.
                <br /><br />
                Menghadirkan standar baru kualitas layanan dalam industri air travel, Garuda Indonesia saat ini melayani penerbangan ke 64 destinasi pilihan yang terdiri dari 44 kota di area domestik dan 20 kota di area internasional.
                <br /><br />
                Selain melayani penerbangan di rute-rute tujuan yang dioperasikan, saat ini Garuda Indonesia juga melaksanakan perjanjian “code share” dengan 14 maskapai internasional.
                <br /><br />
                Selain itu, pada tanggal 5 Maret 2014, Garuda Indonesia secara resmi bergabung dengan aliansi global, SkyTeam, sebagai bagian dari program perluasan jaringan internasionalnya. Dengan bergabung bersama SkyTeam, penumpang Garuda Indonesia kini dapat terbang ke 1.064 tujuan di 178 negara yang dilayani oleh semua maskapai anggota SkyTeam dengan lebih dari 15.700 penerbangan per hari dan akses ke 564 lounge di seluruh dunia.
                <br /><br />
                Sebagai bagian dari upaya Perusahaan untuk terus meningkatkan layanan kepada pengguna jasa, Garuda Indonesia memperkenalkan layanan khas “Garuda Indonesia Experience”, yang menghadirkan kerahmahtamahan, budaya, dan segala hal terbaik dari Indonesia melalui kelima panca indera, yaitu sight, sound, taste, scent, dan touch, untuk diimplementasikan dalam layanan pre-journey, pre-flight, in-flight, post-flight, dan post-journey.
                <br /><br />
                Garuda Indonesia juga merupakan salah satu maskapai yang terdaftar sebagai IATA Operational Safety Audit (IOSA) Operator dan menerapkan standar kemanan dan keselamatan yang setara dengan maskapai internasional besar anggota IATA lainnya. Garuda Indonesia menerima sertifikat IOSA pada tahun 2008 lalu.
            </p>
        </div>

        <div class="blue-top">
            <div class="md-txt bold-txt" style="margin-bottom: 15px">Seragam Awak Maskapai Garuda Indonesia</div>
            <div class="row normal-txt">
                <div class="col-sm-6">
                    <div class="food-img"></div>
                </div>
                <div class="col-sm-6">
                    Warna jingga dan hijau toska menandakan semangat awak kabin yang enerjik dan dinamis. Warna tersebut digunakan oleh awak kabin junior dan senior sebagai pelaksana di dalam kabin pesawat.
                    <br /><br />
                    Awak kabin dengan warna ungu menunjukkan anggun dan dewasa, mature. Kemudian untuk warna biru menunjukan suatu sifat dewasa, bertanggung jawab, inspiratif. Itu makna dari keempat warna. Dasarnya ketika digabung tetap menjadi keanekaragaman tapi bentuk memerlihatkan Indonesian hospitality
                    <br /><br />
                    Warna ungu, digunakan oleh awak kabin yang bertugas sebagai koordinator di setiap kelas penerbangan. Sementara warna biru digunakan oleh awak kabin yang bertanggung jawab terhadap pelayanan di seluruh kabin pesawat.
                </div>
            </div>
        </div>
        <div class="blue-top row normal-txt">
            <div class="md-txt bold-txt" style="margin-bottom: 15px">Makanan di Pesawat Garuda Indonesia</div>
            <div class="row normal-txt">
                <div class="col-sm-6">
                    <div class="food-img"></div>
                </div>
                <div class="col-sm-6">
                    Penumpang Singapore Airlines dapat memilih berbagai menu makanan Asia maupun internasional. Makanan ringan berkualitas tinggi juga tersedia di antara hidangan utama pada penerbangan berjarak jauh. Selain itu, penumpang dapat memilih sajian minuman anggur pilihan yang lulus seleksi konsultan anggur terkemuka kelas dunia.                <br /><br />
                </div>
            </div>
        </div>
    </div>
</div>