<div class="airline-page">
    <div id="am-profile">
        <h2 class="section-title stripe text-center xlg-txt text-uppercase">Profil <span>Garuda Indonesia</span></h2>
        <div class="normal-txt">
            Seiring semakin meningkatnya permintaan jasa industri penerbangan, Perusahaan terus mengembangkan jaringan penerbangan hingga ke kota-kota pertumbuhan ekonomi dan wisata baru di wilayah Barat dan Timur Indonesia. Sejarah penerbangan komersial Indonesia dimulai saat bangsa Indonesia sedang mempertahankan kemerdekaannya. Penerbangan komersial pertama menggunakan pesawat DC-3 Dakota dengan registrasi RI 001 dari Calcutta ke Rangoon dan diberi nama “Indonesian Airways” dilakukan pada 26 Januari 1949. Pada tahun yang sama, 28 Desember 1949, pesawat tipe Douglas DC-3 Dakota dengan registrasi PK-DPD dan sudah dicat dengan logo “Garuda Indonesian Airways”, terbang dari Jakarta ke Yogyakarta untuk menjemput Presiden Soekarno. Inilah penerbangan yang pertama kali dengan nama Garuda Indonesian Airways. . Nama “Garuda” diberikan oleh Presiden Soekarno dimana nama tersebut diambil dari sajak Belanda yang ditulis oleh penyair terkenal pada masa itu, Noto Soeroto; "Ik ben Garuda, Vishnoe's vogel, die zijn vleugels uitslaat hoog bovine uw einladen", yang artinya, “Saya Garuda, burung Vishnu yang melebarkan sayapnya tinggi di atas kepulauan Anda”.
            <br /><br />
            <div class="blue-txt bold-txt">Vision Statement</div>
            To be a sustainable airline company through customer-oriented services and growth in profit
            <br /><br />
            <div class="blue-txt bold-txt">Company Vision</div>
            To maximize shareholder return through strong revenue growth, cost leadership in full service operations, and group synergy while providing the highest value to customers through excellent Indonesian hospitality
        </div>
        <div class="airline-info white-txt">
            <div class="clearfix">
                <div class="col-sm-2 text-uppercase center-txt bold-txt" style="padding-left: 20px;">
                    <div class="xlg-txt">Informasi</div>
                    <div style="font-size: 16px; letter-spacing: 1px; margin-bottom: 10px;">Penerbangan</div>
                    <div class="">rating maskapai:</div>
                    <div class=""></div>
                </div>
                <div class="col-sm-10">
                    <div class="clearfix">
                        <div class="col-xs-2">
                            <div class="airline-box">
                                <div class="icon-bagage"></div>
                                <div>30 Kg</div>
                            </div>
                            <div class="text-uppercase bold-txt">bagasi</div>
                        </div>
                        <div class="col-xs-2">
                            <div class="airline-box">
                                <div class="icon-lugage"></div>
                                <div>30 Kg</div>
                            </div>
                            <div class="text-uppercase bold-txt">kabin</div>
                        </div>
                        <div class="col-xs-2">
                            <div class="airline-box">
                                <div class="icon-checkin"></div>
                                <div>30 Kg</div>
                            </div>
                            <div class="text-uppercase bold-txt">waktu check in</div>
                        </div>
                        <div class="col-xs-2">
                            <div class="airline-box">
                                <div class="icon-disc"></div>
                                <div>30 Kg</div>
                            </div>
                            <div class="text-uppercase bold-txt">promo tersedia</div>
                        </div>
                        <div class="col-xs-2 col-xs-offset-1">
                            <div class="text-uppercase bold-txt">
                                <div class="">service  standard:</div>
                                <div class="normal-txt">full service</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>