<div class="airline-menu">
    <div class="md-txt os-bold">Info Garuda Indonesia</div>
    <div class="am-container normal-txt clearfix">
        <a href="#" class="">
            <div class="am-content">Profil Garuda Indonesia</div>
        </a>
        <a href="#" class="">
            <div class="am-content">Armada Pesawat Garuda Indonesia</div>
        </a>
        <a href="#" class="">
            <div class="am-content">Rute Tujuan Garuda Indonesia</div>
        </a>
        <a href="#" class="">
            <div class="am-content">Cara Pemesanan Tiket Garuda Indonesia</div>
        </a>
        <a href="#" class="">
            <div class="am-content">E-Tiket Garuda Indonesia</div>
        </a>
        <a href="#" class="">
            <div class="am-content">Kebijakan Garuda Indonesia</div>
        </a>
        <a href="#" class="">
            <div class="am-content">Sejarah Garuda Indonesia</div>
        </a>
        <a href="#" class="">
            <div class="am-content">Seragam Awak Maskapai Garuda Indonesia</div>
        </a>
        <a href="#" class="">
            <div class="am-content">Makanan Garuda Indonesia</div>
        </a>
    </div>
    <div class="am-address white-txt">
        <div class="bold-txt md-txt" style="margin-bottom: 6px">Alamat Garuda Indonesia</div>
        <div class="">
            <div class="bold-txt">Garuda Indonesia Head Office</div>
            Jl. M1, Area Perkantoran Gedung Garuda City Center
            Soekarno-Hatta International Airport
            Cengkareng 19120 - Indonesia
            P.O.Box 1004
        </div>
    </div>
</div>