<div class="form-child-age page-hotel custom-scroll">
    <ul class="fc-wrapper">
        <li class="fc-list clearfix" ng-repeat="n in [0,1,2,3,4,5,6,7] track by $index" ng-show="hotelSearch.roomCount > $index">
            <div class="form-group hotel-visitor col-4 clearfix">
                <div class="fc-title bold-txt blue-txt">Kamar {{n+1}}</div>
                <div class="col-half dropdown-container">
                    <div class="form-control form-hotel-visitor adult clearfix">
                        <div class="col-4"><span class="grey-txt">Dewasa</span></div>
                        <div class="col-6 input-hotel">{{hotelSearch.occupancies[n].adultCount}}</div>
                        <div class="option" ng-model="hotelSearch.occupancies[n].adultCount">
                            <span data-value="" ng-repeat="adultCount in hotelSearch.adultrange"
                                  ng-click="(hotelSearch.occupancies[n].adultCount = adultCount)">{{adultCount}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-half dropdown-container">
                    <div class="form-control form-hotel-visitor child clearfix">
                        <div class="col-4"><span class="grey-txt">Anak</span></div>
                        <div class="col-6 input-hotel">{{hotelSearch.occupancies[n].childCount}}</div>
                        <div class="option" ng-model="hotelSearch.occupancies[n].childCount">
                            <span data-value="" ng-repeat="childCount in hotelSearch.childrange"
                                  ng-click="(hotelSearch.occupancies[n].childCount = childCount)">{{childCount}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group hotel-visitor col-6 clearfix" ng-show="hotelSearch.occupancies[n].childCount > 0">
                <div class="fc-title white-txt">Usia Anak (th)</div>
                <div class="quarter dropdown-container" ng-repeat="child in [0,1,2,3] track by $index"
                     ng-show="hotelSearch.occupancies[n].childCount > $index">
                    <div class="form-control form-hotel-visitor select-age clearfix">
                        <div class="col-6"><span class="grey-txt">Anak {{$index+1}}</span></div>
                        <div class="col-4 input-hotel">{{hotelSearch.occupancies[n].childrenAges[child]}}</div>
                        <div class="option" ng-model="hotelSearch.occupancies[n].childrenAges[child]">
                            <span data-value="" ng-repeat="childAge in hotelSearch.childagerange"
                                  ng-click="(hotelSearch.occupancies[n].childrenAges[child] = childAge)">{{childAge}}</span>
                        </div>

                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="col-2 pull-left">
        <input type="submit" name="FormAgeSubmit" value="SELESAI" class="btn btn-yellow block form-control">
    </div>
</div>