<div class="flight-to-destination normal-txt">
    <div class="ft-title text-uppercase xlg-txt">tiket murah penerbangan <span class="bold-txt">ke bali/denpasar (dps)</span></div>
    <div class="row">
        <div class="col-xs-4">
            <div class="flight-to-content">
                <div class="ft-top bold-txt white-txt text-uppercase clearfix">
                    <span class="pull-left">Sub</span>
                    <span class="pull-right">Dps</span>
                </div>
                <div class="ft-bottom">
                    Surabaya ke Bali
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="flight-to-content">
                <div class="ft-top bold-txt white-txt text-uppercase clearfix">
                    <span class="pull-left">Sub</span>
                    <span class="pull-right">Dps</span>
                </div>
                <div class="ft-bottom">
                    Surabaya ke Bali
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="flight-to-content">
                <div class="ft-top bold-txt white-txt text-uppercase clearfix">
                    <span class="pull-left">Sub</span>
                    <span class="pull-right">Dps</span>
                </div>
                <div class="ft-bottom">
                    Surabaya ke Bali
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="flight-to-content">
                <div class="ft-top bold-txt white-txt text-uppercase clearfix">
                    <span class="pull-left">Sub</span>
                    <span class="pull-right">Dps</span>
                </div>
                <div class="ft-bottom">
                    Surabaya ke Bali
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="flight-to-content">
                <div class="ft-top bold-txt white-txt text-uppercase clearfix">
                    <span class="pull-left">Sub</span>
                    <span class="pull-right">Dps</span>
                </div>
                <div class="ft-bottom">
                    Surabaya ke Bali
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="flight-to-content">
                <div class="ft-top bold-txt white-txt text-uppercase clearfix">
                    <span class="pull-left">Sub</span>
                    <span class="pull-right">Dps</span>
                </div>
                <div class="ft-bottom">
                    Surabaya ke Bali
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="flight-to-content">
                <div class="ft-top bold-txt white-txt text-uppercase clearfix">
                    <span class="pull-left">Sub</span>
                    <span class="pull-right">Dps</span>
                </div>
                <div class="ft-bottom">
                    Surabaya ke Bali
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="flight-to-content">
                <div class="ft-top bold-txt white-txt text-uppercase clearfix">
                    <span class="pull-left">Sub</span>
                    <span class="pull-right">Dps</span>
                </div>
                <div class="ft-bottom">
                    Surabaya ke Bali
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="flight-to-content">
                <div class="ft-top bold-txt white-txt text-uppercase clearfix">
                    <span class="pull-left">Sub</span>
                    <span class="pull-right">Dps</span>
                </div>
                <div class="ft-bottom">
                    Surabaya ke Bali
                </div>
            </div>
        </div>
    </div>
</div>