@using Lunggo.CustomerWeb.Models
@model HotelLocation
@{
    ViewBag.BodyClass = "page-hotel page-slider";
}

<div class="page-slider">
    <div class="container">
        <div class="main-title header-title">Feel The <br /> <b>Excitement!</b><br></div>
    </div>
</div>
<div class="search-result-form">
    <div class="container clearfix">
        <div class="col-8">
            <div class="result-form-left">
                <span class="md-txt">Hasil Pencarian Hotel di: <b>@ToTitleCase.ConvertToTitleCase(Model.Location)</b ></span><br /> 
                @if (!Model.IsHotelSearch)
                {
                    <span class="">{{hotelSearch.destinationNightCount}} Malam <b>({{hotelSearch.destinationCheckinDate | date : 'EEEE, dd MMM yyyy'}} - {{hotelSearch.destinationCheckoutDate | date : 'EEEE, dd MMM yyyy'}})</b></span>
                }
                
            </div>
        </div>
        <div class="col-2">
            <div class="result-form-right pull-right">
                <a class="btn btn-yellow search-result-form-trigger md-txt lg-btn">UBAH PENCARIAN</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="search-result-form-content">
            @Html.Partial("/Views/Shared/Desktop/_SearchHotelForm.cshtml", new HotelLocation
            {
                IsHotelSearch = Model.IsHotelSearch
            })
        </div><!-- .search-result-form-content -->  
        @Html.Partial("/Views/Shared/Desktop/_SearchHotel.cshtml")
        @Html.Partial("/Views/Shared/Desktop/_SearchCalendarHotel.cshtml")
    </div>
</div>