<div class="popular-hotel">
    <h2 class="section-title stripe text-center xlg-txt">TUJUAN HOTEL <span>TERPOPULER</span></h2>
    <div class="row">
        <div class="col-xs-6">
            <div class="pop-hotel" style="background-image: url('/Assets/images/hotel/popular/jakarta.jpg')">
                <div class="pop-inner">
                    <div class="white-txt normal-txt">Hotel di</div>
                    <div class="xlg-txt os-bold white-txt">Jakarta</div>
                    <div class="bottom-txt" ng-hide="priceHotel.Jakarta.cheapestPrice == null">
                        <span class="normal-txt white-txt">mulai dari</span>
                        <span class="md-txt os-bold yellow-txt">Rp {{priceHotel.Jakarta.cheapestPrice | currency:'':0}}</span>
                    </div>
                    <div class="view-hotel">
                        <button class="btn btn-yellow sm-btn normal-txt os-bold" href="/id/jakarta" ng-click="gotoCheapestDateHotel('JKT')" data-target="jakarta">LIHAT HOTEL</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="pop-hotel" style="background-image: url('/Assets/images/hotel/popular/yogya.jpg')">
                <div class="pop-inner">
                    <div class="white-txt normal-txt">Hotel di</div>
                    <div class="xlg-txt os-bold white-txt">Yogyakarta</div>
                    <div class="bottom-txt" ng-hide="priceHotel.Yogyakarta.cheapestPrice == null">
                        <span class="normal-txt white-txt">mulai dari</span>
                        <span class="md-txt os-bold yellow-txt">Rp {{priceHotel.Yogyakarta.cheapestPrice | currency:'':0}}</span>
                    </div>
                    <div class="view-hotel">
                        <button class="btn btn-yellow sm-btn normal-txt os-bold" href="/id/jakarta" ng-click="gotoCheapestDateHotel('JOG')" data-target="jakarta">LIHAT HOTEL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="pop-hotel" style="background-image: url('/Assets/images/hotel/popular/surabaya.jpg')">
                <div class="pop-inner">
                    <div class="white-txt normal-txt">Hotel di</div>
                    <div class="xlg-txt os-bold white-txt">Surabaya</div>
                    <div class="bottom-txt" ng-hide="priceHotel.Surabaya.cheapestPrice == null">
                        <span class="normal-txt white-txt">mulai dari</span>
                        <span class="md-txt os-bold yellow-txt">Rp {{priceHotel.Surabaya.cheapestPrice | currency:'':0}}</span>
                    </div>
                    <div class="view-hotel">
                        <button class="btn btn-yellow sm-btn normal-txt os-bold" href="/id/jakarta" ng-click="gotoCheapestDateHotel('SUB')" data-target="jakarta">LIHAT HOTEL</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="pop-hotel" style="background-image: url('/Assets/images/hotel/popular/bali.jpg')">
                <div class="pop-inner">
                    <div class="white-txt normal-txt">Hotel di</div>
                    <div class="xlg-txt os-bold white-txt">Bali</div>
                    <div class="bottom-txt" ng-hide="priceHotel.Bali.cheapestPrice == null">
                        <span class="normal-txt white-txt">mulai dari</span>
                        <span class="md-txt os-bold yellow-txt">Rp {{priceHotel.Bali.cheapestPrice| currency:'':0}}</span>
                    </div>
                    <div class="view-hotel">

                        <button class="btn btn-yellow sm-btn normal-txt os-bold" href="/id/jakarta" ng-click="gotoCheapestDateHotel('BAI')" data-target="jakarta">LIHAT HOTEL</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="pop-hotel" style="background-image: url('/Assets/images/hotel/popular/macau.jpg')">
                <div class="pop-inner">
                    <div class="white-txt normal-txt">Hotel di</div>
                    <div class="xlg-txt os-bold white-txt">Bandung</div>
                    <div class="bottom-txt" ng-hide="priceHotel.Bandung.cheapestPrice == null">
                        <span class="normal-txt white-txt">mulai dari</span>
                        <span class="md-txt os-bold yellow-txt">Rp {{priceHotel.Bandung.cheapestPrice | currency:'':0}}</span>
                    </div>
                    <div class="view-hotel">

                        <button class="btn btn-yellow sm-btn normal-txt os-bold" href="/id/jakarta" ng-click="gotoCheapestDateHotel('BDO')" data-target="jakarta">LIHAT HOTEL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>