<div class="popular-flight">
    <div class="md-txt os-bold">Tujuan Penerbangan Terpopuler</div>
    <div class="pop-flight" style="background: url(/Assets/images/hotel/popular/flight-1.jpg) no-repeat;">
        <a href="#" class="pf-wrapper">
            <div class="pf-txt">
                <div class="top-txt white-txt pull-left">
                    <div class="normal-txt">Tiket Pesawat ke</div>
                    <div class="xlg-txt os-bold">Bandung</div>
                </div>
                <div class="bottom-txt pull-right">
                    <span class="normal-txt white-txt">mulai dari</span>
                    <span class="md-txt os-bold yellow-txt">Rp 999.999</span>
                </div>
            </div>
        </a>
    </div>
    <div class="pop-flight" style="background: url(/Assets/images/hotel/popular/flight-2.jpg) no-repeat;">
        <a href="#" class="pf-wrapper">
            <div class="pf-txt">
                <div class="top-txt white-txt pull-left">
                    <div class="normal-txt">Tiket Pesawat ke</div>
                    <div class="xlg-txt os-bold">Bandung</div>
                </div>
                <div class="bottom-txt pull-right">
                    <span class="normal-txt white-txt">mulai dari</span>
                    <span class="md-txt os-bold yellow-txt">Rp 999.999</span>
                </div>
            </div>
        </a>
    </div>
    <div class="pop-flight" style="background: url(/Assets/images/hotel/popular/flight-3.jpg) no-repeat;">
        <a href="#" class="pf-wrapper">
            <div class="pf-txt">
                <div class="top-txt white-txt pull-left">
                    <div class="normal-txt">Tiket Pesawat ke</div>
                    <div class="xlg-txt os-bold">Bandung</div>
                </div>
                <div class="bottom-txt pull-right">
                    <span class="normal-txt white-txt">mulai dari</span>
                    <span class="md-txt os-bold yellow-txt">Rp 999.999</span>
                </div>
            </div>
        </a>
    </div>
    <div class="pop-flight" style="background: url(/Assets/images/hotel/popular/flight-4.jpg) no-repeat;">
        <a href="#" class="pf-wrapper">
            <div class="pf-txt">
                <div class="top-txt white-txt pull-left">
                    <div class="normal-txt">Tiket Pesawat ke</div>
                    <div class="xlg-txt os-bold">Bandung</div>
                </div>
                <div class="bottom-txt pull-right">
                    <span class="normal-txt white-txt">mulai dari</span>
                    <span class="md-txt os-bold yellow-txt">Rp 999.999</span>
                </div>
            </div>
        </a>
    </div>
</div>