<div class="price-slider-flight container">
    <div class="price-slider-title os-bold" ng-show="ready.departure || ready.ret">PERKIRAAN HARGA (mulai dari):</div>
    <div id="myCarousel" class="ps-carousel carousel slide" data-interval="false" ng-show="ready.departure">
        <div class="carousel-inner" role="listbox">
            <div class="item-title bold-txt normal-txt">Tujuan: {{originCity}}<span class="dash"></span>{{destinationCity}}</div>
            <div class="item active">
                <div class="price-slider-container clearfix">
                    <div class="clearfix">
                        <div ng-repeat="harga in weeklyPrice.departureFlight" class="ps-item blue-txt normal-txt clearfix">
                            <div class="ps-content clearfix" ng-click="goto('departure', harga.fulldate)">
                                <div class="ps-wrapper">
                                    <div class="ps-date md-txt bold-txt" ng-show="harga.price == '0'">{{harga.date}}</div>
                                    <div class="ps-date regular-txt" ng-show="harga.price != '0'">{{harga.date}}</div>
                                    <div class="ps-price bold-txt" ng-show="harga.price != '0'">
                                        <span class="md-txt"><sup>Rp</sup> {{harga.price | currency:'':0}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-title">{{harga.day}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" ng-click ="prev('departure')">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" ng-click="next('departure')">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div id="myCarousel2" class="ps-carousel carousel slide" data-interval="false" ng-show="ready.ret">
        <div class="carousel-inner" role="listbox">
            <div class="item-title bold-txt normal-txt">Tujuan: {{destinationCity}}<span class="dash"></span>{{originCity}}</div>
            <div class="item active">
                <div class="price-slider-container clearfix">
                    <div class="clearfix">
                        <div ng-repeat="harga in weeklyPrice.returnFlight" class="ps-item blue-txt normal-txt clearfix">
                            <div class="ps-content clearfix" ng-click="goto('return', harga.fulldate)">
                                <div class="ps-wrapper">
                                    <div class="ps-date md-txt bold-txt" ng-show="harga.price == '0'">{{harga.date}}</div>
                                    <div class="ps-date regular-txt" ng-show="harga.price != '0'">{{harga.date}}</div>
                                    <div class="ps-price bold-txt" ng-show="harga.price != '0'">
                                        <span class="md-txt"><sup>Rp</sup> {{harga.price | currency:'':0}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-title">{{harga.day}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev" ng-click="prev('return')">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next" ng-click="next('return')">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>