<div class="search-calendar-hotel">
    <header class="calendar-header">
        <p class="check-in calendar-title">Tanggal Check in <span class="close-calendar-hotel">X</span></p>
        <p class="check-out calendar-title hidden">Tanggal Checkout <span class="close-calendar-hotel">X</span></p>
    </header>
    <section class="calendar-body">
        <div class="home-nav">
            <a class="nav-prev"></a>
            <a class="nav-next"></a>
        </div>

        <div class="hotel-date-picker"></div>
    </section>
</div><!-- .search-calendar -->