@using Lunggo.CustomerWeb.Models
@model HotelLocation

<form class="hotel-form" name="hotel-form" novalidate>
    <div class="th-form clearfix">
        <div class="clearfix">
            @if (!Model.IsHotelSearch)
            {
            <div class="form-group form__hotel col-4">
                <input type="text" value="" class="change-hotel form-control normal-txt grey-txt" placeholder="Kota, Wilayah atau Nama Hotel" id="inputLocationHotel"
                       ng-init="hotelSearch.locationDisplay = loc" ng-model="hotelSearch.locationDisplay" ng-click="view.showHotelSearch = true"
                       autocomplete="off">
            </div>
            }

            <div class="col-6 clearfix">
                <div class="form-group form__date col-half">
                    <div class="field-container">
                        <div class="form-control form-date clearfix">
                            <div class=" normal-txt grey-txt">Tanggal Check in</div>
                            <div class="pull-right md-txt bold-txt darkgrey-txt" style="line-height: 10px;">{{hotelSearch.checkinDateDisplay}}</div>
                        </div>
                    </div>
                </div>
                <div class="form-group form__night quarter">
                    <div class="field-container">
                        <div class="form-control form-night">
                            <div class="col-4"><span class="normal-txt grey-txt">Malam</span></div>
                            <div class="col-6 input-hotel xlg-txt right-txt semibold-txt darkgrey-txt">{{hotelSearch.nightCount}}</div>
                            <div class="option" ng-model="hotelSearch.nightCount">
                                <span data-value="" ng-repeat="nightCount in hotelSearch.nightrange track by $index"
                                      ng-click="hotelSearch.nightCount = nightCount">{{nightCount}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group form__room quarter">
                    <div class="field-container">
                        <div class="form-control form-room">
                            <div class="col-4"><span class="normal-txt grey-txt">Jumlah Kamar</span></div>
                            <div class="col-6 input-hotel xlg-txt right-txt semibold-txt darkgrey-txt">{{hotelSearch.roomCount}}</div>
                            <div class="option" ng-model="hotelSearch.roomCount">
                                <span data-value="" ng-repeat="roomCount in hotelSearch.roomrange track by $index"
                                      ng-click="hotelSearch.roomCount = roomCount">{{roomCount}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="room-row clearfix" ng-repeat="n in [0,1,2,3,4,5,6,7] track by $index" ng-init="initChildrenAges(n)" ng-show="hotelSearch.roomCount > $index">
                <div class="white-txt bold-txt md-txt">Kamar {{$index+1}}</div>
                <div class="col-4">
                    <div class="form-group form__adult col-half">
                        <div class="form-control form-adult clearfix">
                            <div class="col-4"><span class="normal-txt grey-txt">Dewasa</span></div>
                            <div class="col-6 input-hotel xlg-txt right-txt semibold-txt darkgrey-txt">{{hotelSearch.occupancies[n].adultCount}}</div>
                            <div class="option" ng-model="hotelSearch.occupancies[n].adultCount">
                                <span data-value="" ng-repeat="adultCount in hotelSearch.adultrange" ng-init="hotelSearch.occupancies[n].adultCount = hotelSearch.occupancies[n].adultCount || 1"
                                      ng-click="(hotelSearch.occupancies[n].adultCount = adultCount)">{{adultCount}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form__child col-half">
                        <div class="form-control form-child">
                            <div class="col-4"><span class="normal-txt grey-txt">Anak</span></div>
                            <div class="col-6 input-hotel xlg-txt right-txt semibold-txt darkgrey-txt">{{hotelSearch.occupancies[n].childCount}}</div>
                            <div class="option" ng-model="hotelSearch.occupancies[n].childCount">
                                <span data-value="" ng-repeat="childCount in hotelSearch.childrange" ng-init="hotelSearch.occupancies[n].childCount = hotelSearch.occupancies[n].childCount || 0"
                                      ng-click="(hotelSearch.occupancies[n].childCount = childCount)">{{childCount}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6" ng-show="hotelSearch.occupancies[n].childCount > 0">
                    <div class="form-group form__child quarter" ng-repeat="child in [0,1,2,3] track by $index"
                         ng-show="hotelSearch.occupancies[n].childCount > $index">
                        <div class="form-control select-age">
                            <div class="col-6"><span class="normal-txt grey-txt">Usia Anak {{$index}} (th)</span></div>
                            <div class="col-4 input-hotel xlg-txt right-txt semibold-txt darkgrey-txt">{{hotelSearch.occupancies[n].childrenAges[child]}}</div>
                            <div class="option" ng-model="hotelSearch.occupancies[n].childrenAges[child]">
                                <span data-value="" ng-repeat="childAge in hotelSearch.childagerange" @*hotelSearch.occupancies[n].childrenAges = [0,0,0,0]; *@
                                      ng-click="(hotelSearch.occupancies[n].childrenAges[child] = childAge)">{{childAge}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        @if (Model.IsHotelSearch)
        {
            <div class="form-group form__submit pull-left">
                <button class="btn btn-yellow btn-block btn-lg btnSubmit" ng-click=" slideToResults('Desktop');
                        availableRates(hotelSearch.nightCount,
                        hotelSearch.checkinDate, hotelSearch.checkoutDate, hotelSearch.occupancies,hotelSearch.roomCount)">
                    CARI KAMAR
                </button>
            </div>
        }
        else
        {
            <div class="form-group form__submit pull-right">
            <button class="btn btn-yellow btn-block btn-lg btnSubmit md-txt lg-btn" ng-click="hotelSearch.getHotels(hotelSearch)">CARI HOTEL</button>
        </div>
        }
        
    </div>
</form>