@model Lunggo.ApCommon.Flight.Model.FlightReservationForDisplay

@{
    Layout = "~/Views/Shared/_layout_eticket.cshtml";
    ViewBag.Title = "DUMMY";
}

<h2>Dummy</h2>
@using (Html.BeginForm("Dummy", "Home", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-2">
            @Html.TextBox("rsvNo")
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Last Name
            @Html.TextBox("lastName", null, new { @maxlength = "10", @minlength = "10" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(item => item.Contact)
            @Html.TextBox("Contact", null, new { @maxlength = "10", @minlength = "10" })
        </div>
    </div>
    <div class="row rowMarginTop15px">
        <div class="col-md-1">
            <input type="submit" value="Change" />
        </div>
    </div>
}





