@model  String

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>3 Col Portfolio - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/Assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/Assets/css/style-activity-edit-detail.css" rel="stylesheet">

  </head>

  <body>


    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-lg-12 col-sm-12 align-center">
          <div><img src="/Assets/img/icon.png"></div>
        </div>
        <div class="col-lg-12 col-sm-12 align-center">
          <div style="color:#454545; font-family: hind-semibold; font-size: 20px; margin:30px 0 10px 0">@Model?</div>
        </div>
        <div class="col-lg-12 col-sm-12 align-center">
          <div style="color:#454545; font-family: hind-light;">Jika @Model.ToLower(), hubungi kami melalui kontak dibawah ini: </div>
        </div>
        <div class="col-lg-12 col-sm-12">
          <div style="margin-top:45px; padding-left: 10px;">
            <div style="margin-bottom: 10px">
              <div style="float:left;"><img src="/Assets/img/email.jpg"></div>
              <div style="float:left;color:#23d3c3; font-family: hind-semibold; font-size: 16px; margin-left:10px">Email:</div>
              <div style=" font-family: hind-light; clear: both; font-size: 16px;"> 
                <a style="color:#454545;" href="#"> alizainal@travelamadezy.com</a>
              </div>
            </div>
            <div style="margin-bottom: 10px">
              <div style="float:left;"><img src="/Assets/img/whatsapp.jpg"></div>
              <div style="float:left;color:#23d3c3; font-family: hind-semibold; font-size: 16px; margin-left:10px">Whatsapp:</div>
              <div style="font-family: hind-light; clear: both; font-size: 16px;">
                <a style="color:#454545;" href="#">081380312331</a>
              </div>
            </div>
            <div style="margin-bottom: 10px">
              <div style="float:left;"><img src="/Assets/img/chat.jpg"></div>
              <div style="float:left;color:#23d3c3; font-family: hind-semibold; font-size: 16px; margin-left:10px">Live Chat:</div>
              <div style=" font-family: hind-light; clear: both; font-size: 16px;">
                <a style="color:#454545;" href="#">chat disini</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
