@{
    Layout = "/Views/Shared/B2BTravorama/_B2BLayout.cshtml";
    ViewBag.BodyClass = "b2b-confirm-password";
    ViewBag.SiteHeader = "b2b-confirm-password";
    ViewBag.Title = "Confirm Password";
    ViewBag.AngularController = "b2bResetPasswordController";

}

@section AdditionalCSS{
}

@section AdditionalJS{
    <script src="/Assets/js/js.cookie.js"></script>
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/xml2json.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-resource.js"></script>
    <script src="/Assets/B2BTravorama/assets/js/form_elements.js" type="text/javascript"></script>
}

@section PageJS{
    <script src="/Assets/travorama20/js/B2BTravorama20.js"></script>
    <script src="/Assets/travorama20/js/B2BAccountController.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $('body .confirm-password-notif').hide();
            $('body #confirm-pass').on('click', function () {
                $('body .confirm-password-notif').fadeIn();
                $('body .confirm-password').hide();
            });
        })
    </script>
}

<div class="confirm-password" ng-app="travoramaB2B" ng-controller="b2bResetPasswordController" ng-class="{'active' : pageLoaded}">
    <p class="p-t-35">Masukkan password baru Anda</p>
    <form id="form-login" class="p-t-15" role="form">
        <div class="form-group form-group-default">
            <label>Password Baru</label>
            <div class="controls">
                <input type="password" name="username" placeholder="Password" class="form-control" required ng-model="form.password">
            </div>
        </div>
        <div class="form-group form-group-default">
            <label>Konfirmasi Password Baru</label>
            <div class="controls">
                <input type="password" name="username" placeholder="Password" class="form-control" required>
            </div>
        </div>
        <a class="btn btn-primary btn-cons m-t-10" id="confirm-pass">Reset Password</a>
    </form>
</div>
<div class="confirm-password-notif">
    <p class="p-t-35">Anda telah berhasil melakukan reset password. Silahkan kembali ke halaman <a href="/id/B2BTemplate/Login" class="bold">Login</a>.</p>
</div>