@{
    Layout = "/Views/Shared/B2BTravorama/_B2BLayout.cshtml";
    ViewBag.BodyClass = "b2b-confirm-password";
    ViewBag.SiteHeader = "b2b-confirm-password";
    ViewBag.Title = "Confirm Password";
    ViewBag.AngularController = "";

}

@section AdditionalCSS{
}

@section AdditionalJS{
}

@section PageJS{
    <script>
        jQuery(document).ready(function ($) {
            $('body .confirm-password-notif').hide();
            $('body #confirm-pass').on('click', function () {
                $('body .confirm-password-notif').fadeIn();
                $('body .confirm-password').hide();
            });
        })
    </script>
}

<div class="confirm-password">
    <p class="p-t-35">Masukkan password baru Anda</p>
    <form id="form-login" class="p-t-15" role="form" action="index.html">
        <div class="form-group form-group-default">
            <label>Password Baru</label>
            <div class="controls">
                <input type="password" name="username" placeholder="Password" class="form-control" required>
            </div>
        </div>
        <div class="form-group form-group-default">
            <label>Konfirmasi Password Baru</label>
            <div class="controls">
                <input type="password" name="username" placeholder="Password" class="form-control" required>
            </div>
        </div>
        <a class="btn btn-primary btn-cons m-t-10" id="confirm-pass">Reset Password</a>
    </form>
</div>
<div class="confirm-password-notif">
    <p class="p-t-35">Anda telah berhasil melakukan reset password. Silahkan kembali ke halaman <a href="/id/B2BTemplate/Login" class="bold">Login</a>.</p>
</div>