@{
    Layout = "/Views/Shared/B2BTravorama/_B2BLayout.cshtml";
    ViewBag.BodyClass = "b2b-login";
    ViewBag.SiteHeader = "b2b-login";
    ViewBag.Title = "Login";
    ViewBag.AngularController = "";
}

@section AdditionalCSS{
}

@section AdditionalJS{
}

@section PageJS{
}

<div class="login-form">
    <p class="p-t-35">Masuk dengan akun <span class="bold">Travorama Serko</span></p>
    <form id="form-login" class="p-t-15" role="form" action="index.html">
        <div class="form-group form-group-default">
            <label>Username</label>
            <div class="controls">
                <input type="text" name="username" placeholder="User Name" class="form-control" required>
            </div>
        </div>
        <div class="form-group form-group-default">
            <label>Password</label>
            <div class="controls">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 no-padding">
                <div class="checkbox ">
                    <input type="checkbox" value="1" id="checkbox1">
                    <label for="checkbox1">Ingat Saya</label>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a href="/id/B2BTemplate/ResetPassword" class="text-info small bold">Lupa password</a>
            </div>
        </div>
        <button class="btn btn-primary btn-cons m-t-10" type="submit">Login</button>
    </form>
</div>