@{
    Layout = "/Views/Shared/B2BTravorama/_B2BLayout.cshtml";
    ViewBag.BodyClass = "b2b-order-list hotel";
    ViewBag.SiteHeader = "b2b-order-list";
    ViewBag.Title = "Order List Hotel (Finance)";
    ViewBag.AngularController = "";

}

@section AdditionalCSS{
}

@section AdditionalJS{
    <script src="/Assets/B2BTravorama/assets/plugins/jquery-datatable/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/Assets/B2BTravorama/assets/plugins/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
    <script src="/Assets/B2BTravorama/assets/plugins/jquery-datatable/media/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="/Assets/B2BTravorama/assets/plugins/jquery-datatable/extensions/Bootstrap/jquery-datatable-bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Assets/B2BTravorama/assets/plugins/datatables-responsive/js/datatables.responsive.js"></script>
    <script type="text/javascript" src="/Assets/B2BTravorama/assets/plugins/datatables-responsive/js/lodash.min.js"></script>
}

@section PageJS{
    <script src="/Assets/B2BTravorama/assets/js/tables.js" type="text/javascript"></script>
    <script>
        jQuery(document).ready(function ($) {
            $('.sort-content, .filter-content').hide();

            $('#btn-um-filter').click(function () {
                $('.filter-content').show();
                $(this).css('background', '#eee');
                $('#btn-um-sort').css('background', '#fff');
                $('.sort-content').hide();
            });

            $('#btn-um-sort').click(function () {
                $('.sort-content').show();
                $(this).css('background', '#eee');
                $('#btn-um-filter').css('background', '#fff');
                $('.filter-content').hide();
            });

            $('#btn-um-add').click(function () {
                $('#btn-um-filter, #btn-um-sort').css('background', '#fff');
                $('.sort-content, .filter-content').hide();
            });
        });
    </script>
}

<div class="order-list">
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">
                Order List Hotel
            </div>
        </div>
        <div class="panel-body bg-white">
            <div class="fs-container">
                <div class="clearfix">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default no-padding p-t-10 p-b-10" id="btn-um-sort">
                                <span class="m-r-5">
                                    <i class="fa fa-sort fs-15"></i>
                                </span>
                                <span class="fs-12 bold font-montserrat text-uppercase">Sort</span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default no-padding p-t-10 p-b-10" id="btn-um-filter">
                                <span class="m-r-5">
                                    <i class="fa fa-filter fs-15"></i>
                                </span>
                                <span class="fs-12 bold font-montserrat text-uppercase">Filter</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="bg-white" style="border: 1px solid rgba(230, 230, 230, 0.7); border-top: none" id="sf-container">
                    <div class="sort-content">
                        <div class="panel-heading">
                            <span class="fs-11 bold font-montserrat text-uppercase">Urutkan Berdasarkan</span>
                        </div>
                        <div class="panel-body m-t-10">
                            <div class="btn-group dropdown-default">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"> Waktu Reservasi <span class="caret"></span> </a>
                                <ul class="dropdown-menu ">
                                    <li>
                                        <a href="#">Waktu Reservasi</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="filter-content">
                        <div class="panel-heading">
                            <span class="fs-11 bold font-montserrat text-uppercase">Filter Berdasarkan</span>
                        </div>
                        <div class="panel-body m-t-10">
                            <div class="clearfix">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <div class="">
                                            <span class="checkbox check-primary">
                                                <input type="checkbox" value="1" id="checkbox-approved">
                                                <label for="checkbox-approved">Approved</label>
                                            </span>
                                            <span class="checkbox check-primary">
                                                <input type="checkbox" value="1" id="checkbox-rejected">
                                                <label for="checkbox-rejected">Rejected</label>
                                            </span>
                                            <span class="checkbox check-primary">
                                                <input type="checkbox" value="1" id="checkbox-pending">
                                                <label for="checkbox-pending">Pending</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group typehead" id="sample-three">
                                        <label>Jabatan</label>
                                        <input class="typeahead form-control sample-typehead" type="text" placeholder="Cari Berdasarkan Jabatan">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group typehead" id="sample-three">
                                        <label>Departemen</label>
                                        <input class="typeahead form-control sample-typehead" type="text" placeholder="Cari Berdasarkan Departemen">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group typehead" id="sample-three">
                                        <label>Cabang</label>
                                        <input class="typeahead form-control sample-typehead" type="text" placeholder="Cari Berdasarkan Cabang">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover" id="">
                    <thead>
                        <tr>
                            <th style="width:10%">Waktu Reservasi</th>
                            <th style="width:10%">No. Reservasi</th>
                            <th style="width:10%">Destinasi</th>
                            <th style="width:10%">Nama Hotel</th>
                            <th style="width:10%">Jabatan</th>
                            <th style="width:10%">Departemen</th>
                            <th style="width:10%">Cabang</th>
                            <th style="width:10%">Status</th>
                            <th style="width:10%">Waktu Expired</th>
                            <th style="width:10%">Order Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="v-align-middle">
                                <p>1 Jan 2017 10:48:38</p>
                            </td>
                            <td class="v-align-middle">
                                <p>100026540405</p>
                            </td>
                            <td class="v-align-middle">
                                <p>Kabupaten Badung, Bali, Indonesia</p>
                            </td>
                            <td class="v-align-middle">
                                <p>Aston Imperium Hotel & Convention Center</p>
                            </td>
                            <td class="v-align-middle">
                                <p>Project Manager</p>
                            </td>
                            <td class="v-align-middle">
                                <p>Production</p>
                            </td>
                            <td class="v-align-middle">
                                <p>Jakarta Selatan</p>
                            </td>
                            <td class="v-align-middle">
                                <button class="btn btn-success btn-cons">Approved</button>
                            </td>
                            <td class="v-align-middle">
                                <p>1 Jan 2017 10:48:38</p>
                            </td>

                            <td class="v-align-middle">
                                <a class="btn btn-primary btn-cons" href="/id/B2BTemplate/OrderDetailHotelFinance"><i class="fa fa-eye m-r-5"></i>View</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="v-align-middle">
                                <p>1 Jan 2017 10:48:38</p>
                            </td>
                            <td class="v-align-middle">
                                <p>100026540405</p>
                            </td>
                            <td class="v-align-middle">
                                <p>Kabupaten Badung, Bali, Indonesia</p>
                            </td>
                            <td class="v-align-middle">
                                <p>Aston Imperium Hotel & Convention Center</p>
                            </td>
                            <td class="v-align-middle">
                                <p>Project Manager</p>
                            </td>
                            <td class="v-align-middle">
                                <p>Production</p>
                            </td>
                            <td class="v-align-middle">
                                <p>Jakarta Selatan</p>
                            </td>
                            <td class="v-align-middle">
                                <button class="btn btn-danger btn-cons">Rejected</button>
                                <div class="detail-box m-t-10">
                                    <div class="bold">Keterangan:</div>
                                    lorem ipsum lorem ipsum lorem ipsum
                                </div>
                            </td>
                            <td class="v-align-middle">
                                <p>1 Jan 2017 10:48:38</p>
                            </td>

                            <td class="v-align-middle">
                                <a class="btn btn-primary btn-cons" href="/id/B2BTemplate/OrderDetailHotelFinance"><i class="fa fa-eye m-r-5"></i>View</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="v-align-middle">
                                <p>1 Jan 2017 10:48:38</p>
                            </td>
                            <td class="v-align-middle">
                                <p>100026540405</p>
                            </td>
                            <td class="v-align-middle">
                                <p>Kabupaten Badung, Bali, Indonesia</p>
                            </td>
                            <td class="v-align-middle">
                                <p>Aston Imperium Hotel & Convention Center</p>
                            </td>
                            <td class="v-align-middle">
                                <p>Project Manager</p>
                            </td>
                            <td class="v-align-middle">
                                <p>Production</p>
                            </td>
                            <td class="v-align-middle">
                                <p>Jakarta Selatan</p>
                            </td>
                            <td class="v-align-middle">
                                <button class="btn btn-default btn-cons">Pending</button>
                            </td>
                            <td class="v-align-middle">
                                <p>1 Jan 2017 10:48:38</p>
                            </td>

                            <td class="v-align-middle">
                                <a class="btn btn-primary btn-cons" href="/id/B2BTemplate/OrderDetailHotelFinance"><i class="fa fa-eye m-r-5"></i>View</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>