@{
    Layout = "/Views/Shared/B2BTravorama/_B2BLayout.cshtml";
    ViewBag.BodyClass = "b2b-order-detail hotel";
    ViewBag.SiteHeader = "b2b-order-detail";
    ViewBag.Title = "Order Detail Hotel";
    ViewBag.AngularController = "";

}

@section AdditionalCSS{
}

@section AdditionalJS{
}

@section PageJS{
}

<div class="order-detail">
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">
                Order Detail Hotel
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body bg-white">
        </div>
    </div>
</div>