@{
    Layout = "/Views/Shared/B2BTravorama/_B2BLayout.cshtml";
    ViewBag.BodyClass = "b2b-payment";
    ViewBag.SiteHeader = "b2b-payment";
    ViewBag.Title = "Payment Management";
    ViewBag.AngularController = "";

}

@section AdditionalCSS{
}

@section AdditionalJS{
}

@section PageJS{
    <script>
        jQuery(document).ready(function ($) {
            $('body .remove-payment').hide();
            var cloneIndex = $(".payment-item").length;

            function clone() {
                cloneIndex++;
                $(this).closest('.payment-body').find('#payment-item-1').clone(false, false)
                    .insertAfter('#payment-item-1')
                    .attr('id', "payment-item-" + cloneIndex)
                    .attr('count', cloneIndex);
                if (cloneIndex > 1) {
                    $(this).closest('.payment-body').find('#payment-item-' + cloneIndex + ' .remove-payment').show();
                    $(this).closest('.payment-body').find('#payment-item-' + cloneIndex + ' .pi-status').find('.current-status').hide();
                    $(this).closest('.payment-body').find('#payment-item-' + cloneIndex + ' .pi-status').append('<a class="set-status">' + 'Set As Primary' + '</a>');
                }
            }

            function remove() {
                $(this).parents('.payment-item').remove();
            }

            $('body #add-payment').on('click', clone);

            $('body').on('click', '.remove-payment', remove);
        })
    </script>
}

<div class="payment-page">
    <div class="panel panel-transparent">
        <div class="panel-heading ">
            <div class="panel-title">
                Payment Management
            </div>
        </div>
        <div class="panel-body m-t-10 payment-body">
            <div class="payment-item col-sm-6 m-b-20" id="payment-item-1">
                <div class="pi-wrapper clearfix">
                    <div class="pi-top clearfix">
                        <div class="">
                            <div class="icon-default"><span><i class="fa fa-credit-card m-r-10"></i></span></div>
                            @*<div class="icon-visa"></div>
                            <div class="icon-jcb"></div>
                            <div class="icon-amex"></div>
                            <div class="icon-mastercard"></div>*@
                        </div>
                        <div class="clearfix">
                            <div class="font-montserrat bold">Visa ****0003</div>
                            <div class="small hint-text">Expires 05/20</div>
                        </div>
                        <button class="btn remove-payment">
                            <i class="pg-trash"></i>
                        </button>
                    </div>
                    <div class="pi-bottom clearfix font-montserrat bold small">
                        <div class="pi-status"><span class="current-status">Primary</span></div>
                        <div class="pull-right"><a href="#" class="btn-edit-payment" data-toggle="modal" data-target=".modal-edit-payment">Edit</a></div>
                    </div>
                </div>
            </div>
            <div class="payment-add col-sm-6 m-b-20">
                <div class="pa-wrapper clearfix">
                    <a class="font-montserrat bold" id="add-payment"><i class="fa fa-plus-square m-r-5"></i>ADD PAYMENT METHOD</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade slide-up disable-scroll modal-edit-payment" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog ">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="pg-close fs-14"></i>
                    </button>
                    <h5 class="p-b-10">Update your <span class="semi-bold">Payment Method</span></h5>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group-attached">
                            <div class="row">
                                <div class="col-sm-12 clearfix m-b-10">
                                    <div class="font-montserrat bold"><i class="fa fa-credit-card m-r-10"></i>Visa ****0003</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group form-group-default">
                                        <label>MM</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group form-group-default">
                                        <label>YY</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group form-group-default">
                                        <label>CVC</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group form-group-default">
                                        <label>Nama Pengguna</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group form-group-default">
                                        <label>Alamat</label>
                                        <textarea type="text" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix m-t-10">
                        <button type="button" class="btn btn-primary m-t-5 pull-right" data-dismiss="modal"><i class="fa fa-save m-r-10"></i>Simpan</button>
                        <button type="button" class="btn btn-default m-t-5 m-r-10 pull-right" data-dismiss="modal"><i class="fa fa-arrow-left m-r-10"></i>Kembali</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>