@{
    Layout = "/Views/Shared/B2BTravorama/_B2BLayout.cshtml";
    ViewBag.BodyClass = "b2b-reset-password";
    ViewBag.SiteHeader = "b2b-reset-password";
    ViewBag.Title = "Reset Password";
    ViewBag.AngularController = "";

}

@section AdditionalCSS{
}

@section AdditionalJS{
}

@section PageJS{
    <script>
        jQuery(document).ready(function ($) {
            $('body .reset-password-notif').hide();
            $('body #reset-pass').on('click', function () {
                $('body .reset-password-notif').fadeIn();
                $('body .reset-password').hide();
            });
        })
    </script>
}

<div class="reset-password">
    <p class="p-t-35">Masukkan alamat email Anda dan kami akan mengirimkan email instruksi untuk mengganti password Anda</p>
    <form id="form-login" class="p-t-15" role="form" action="index.html">
        <div class="form-group form-group-default">
            <label>Alamat Email</label>
            <div class="controls">
                <input type="email" name="username" placeholder="example@domail.com" class="form-control" required>
            </div>
        </div>
        <a class="btn btn-primary btn-cons m-t-10" type="submit" id="reset-pass">Kirim Email</a>
    </form>
</div>
<div class="reset-password-notif">
    <p class="p-t-35">Pesan verifikasi telah dikirimkan ke alamat email Anda. Klik link yang telah dikirimkan ke email Anda untuk melanjutkan proses reset password Anda.</p>
</div>