@{
    Layout = "/Views/Shared/B2BTravorama/_B2BLayout.cshtml";
    ViewBag.BodyClass = "b2b-search flight";
    ViewBag.SiteHeader = "b2b-search-flight";
    ViewBag.Title = "Search Flight";
    ViewBag.AngularController = "B2BFlightSearchFormController";

}

@section AdditionalCSS{
}

@section AdditionalJS{
    <script src="/Assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Assets/js/jquery.ui.datepicker-id.js"></script>
}

@section PageJS{
    <script src="/Assets/travorama20/js/B2BTravorama20.js"></script>    
    <script src="/Assets/travorama20/js/B2BHomeController.js"></script>   
}

<div class="search-flight" ng-app="travoramaB2B" ng-controller="B2BFlightSearchFormController">
    <div class=" panel panel-transparent">
        <div class="panel-heading ">
            <div class="panel-title">
                Cari Tiket Pesawat
            </div>
        </div>
        <div class="panel-body">
            <form id="form-flight" role="form" autocomplete="off" novalidate="novalidate">
                <div class="row clearfix radio radio-primary">
                    <div class="col-sm-6 col-xs-6">
                        <input type="radio" checked="checked" value="return" name="triptype" id="no">
                        <label for="no">Pulang Pergi</label>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <input type="radio" value="oneway" name="triptype" id="yes">
                        <label for="yes">Sekali Jalan</label>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group form-group-default">
                            <label>Dari</label>
                            <input type="text" class="form-control" placeholder="Jakarta (CGK)" ng-click="showLocation('origin')" 
                                id="originPlace" ng-model="searchParam.Origin">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-default">
                            <label>Ke</label>
                            <input type="text" class="form-control" placeholder="Denpasar (DPS)" id="destinationPlace"
                                   ng-click="showLocation('destination')" ng-model="searchParam.Destination">
                        </div>
                    </div>
                    <p>
                        {{searchParam.OriginAirport}} {{searchParam.DestinationAirport}}
                    </p>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group form-group-default input-group">
                            <label>Tanggal Berangkat</label>
                            <input type="email" class="form-control" placeholder="Pilih tanggal berangkat" id="datepicker-component">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-default input-group">
                            <label>Tanggal Kembali</label>
                            <input type="email" class="form-control" placeholder="Pilih tanggal kembali" id="datepicker-component2">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-4">
                        <div class="form-group form-group-default input-custom">
                            <label class="label-custom">Dewasa</label>
                            <span class="help m-l-5">(> 12 tahun)</span>
                            <select class="cs-select cs-skin-slide" data-init-plugin="cs-select" ng-model="Passenger.Adult">
                                <option value="{{amount}}" ng-repeat="amount in Passenger.PaxAmtAdult">{{amount}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group form-group-default">
                            <label class="label-custom">Anak-anak</label>
                            <span class="help m-l-5">(2 - 12 tahun)</span>
                            <select class="cs-select cs-skin-slide" data-init-plugin="cs-select" ng-model="Passenger.Child">
                                <option value="{{amount}}" ng-repeat="amount in Passenger.PaxAmtElse">{{amount}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group form-group-default">
                            <label class="label-custom">bayi</label>
                            <span class="help m-l-5">(< 2 tahun)</span>
                            <select class="cs-select cs-skin-slide" data-init-plugin="cs-select" ng-model="Passenger.Infant">
                                <option value="{{amount}}" ng-repeat="amount in Passenger.PaxAmtElse">{{amount}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="clearfix m-t-10">
                    <button class="btn btn-primary" type="submit">Cari Penerbangan</button>
                </div>
            </form>
        </div>
    </div>

    @Html.Partial("/Views/Shared/Desktop/_SearchLocation.cshtml")
    
</div>