@{
    Layout = "/Views/Shared/B2BTravorama/_B2BLayout.cshtml";
    ViewBag.BodyClass = "b2b-search hotel";
    ViewBag.SiteHeader = "b2b-search-hotel";
    ViewBag.Title = "Search Hotel";
    ViewBag.AngularController = "B2BHotelSearchFormController";

}

@section AdditionalCSS{
}

@section AdditionalJS{
    <script src="/Assets/js/js.cookie.js"></script>
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>

    <script src="/Assets/js/moment.min.js"></script>
    <script src="/Assets/js/moment-with-locales.min.js"></script>
    <script src="/Assets/js/xml2json.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-resource.js"></script>
}

@section PageJS{
    <script src="/Assets/travorama20/js/B2BTravorama20.js"></script>
    <script src="/Assets/travorama20/angularDirectory/search/hotelSearch.service.js"></script>
    <script src="/Assets/travorama20/js/B2BHomeController.js"></script>
    
<script>
    jQuery(document).ready(function ($) {
        $('body #room-hotel-detail').hide();
        var room = $('body #room-hotel').find('.cs-select');
        $(room).on('click', function () {
            $('body #room-hotel-detail').fadeIn();
        });
    })
</script>

}

<div ng-app="travoramaB2B" ng-controller="B2BHotelSearchFormController" ng-class="{'page-loaded' : pageLoaded}">
    <div class=" panel panel-transparent">
    <div class="panel-heading ">
        <div class="panel-title">
            Cari Kamar Hotel
        </div>
    </div>
    <div class="panel-body">
        <form id="form-flight" role="form" autocomplete="off" novalidate="novalidate">
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group form-group-default">
                        <label>Tujuan</label>
                        <input type="text" class="form-control hotel-location" placeholder="Bali, Indonesia" ng-model="hotelSearch.locationDisplay">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-group-default input-group">
                        <label>Tanggal Check in</label>
                        <input hidden name="checkInDate" id="checkInDate" />
                        <input type="email" class="form-control" placeholder="Pilih tanggal check-in" id="valueCheckInDate" />
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group form-group-default">
                        <label class="label-custom">Malam</label>
                        <select class="cs-select cs-skin-slide" data-init-plugin="cs-select" ng-model="hotelSearch.nightCount">
                            <option class="option" value="{{amount}}" ng-repeat="amount in searchParam.NightList">{{amount}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-group-default" id="room-hotel">
                        <label class="label-custom">Jumlah Kamar</label>
                        <select class="cs-select cs-skin-slide" data-init-plugin="cs-select" ng-model="hotelSearch.roomCount">
                            <option class="option" value="{{amount}}" ng-repeat="amount in searchParam.RoomList">{{amount}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" id="room-hotel-detail">
                <div class="panel-heading">
                    <div class="panel-title">Rincian Jumlah Tamu</div>
                </div>
                <div class="room-item" ng-repeat="n in [0,1,2,3,4,5,6,7] track by $index" ng-show="$index < hotelSearch.roomCount">
                    <div class="panel-heading">
                        <div class="panel-title">Kamar {{n + 1}}</div>
                    </div>
                    <div class="panel-body">
                        <div class="row clearfix">
                            <div class="col-xs-4">
                                <div class="form-group form-group-default input-custom">
                                    <label class="label-custom">Dewasa</label>
                                    <select class="cs-select cs-skin-slide" data-init-plugin="cs-select" ng-model="hotelSearch.occupancies[n].adultCount">
                                        <option class="option" value="{{amount}}" ng-repeat="amount in searchParam.AdultList">{{amount}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group form-group-default">
                                    <label class="label-custom">Anak-anak</label>
                                    <select class="cs-select cs-skin-slide" data-init-plugin="cs-select" ng-model="hotelSearch.occupancies[n].childCount">
                                        <option class="option" value="{{amount}}" ng-repeat="amount in searchParam.ChildList">{{amount}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-4" ng-show="hotelSearch.occupancies[n].childCount > 0">
                                <div class="form-group form-group-default" ng-repeat="child in [0,1,2,3] track by $index"
                                     ng-show="hotelSearch.occupancies[n].childCount > $index">
                                    <label class="label-custom">Umur Anak ke-{{$index+1}}</label>
                                    <select class="cs-select cs-skin-slide" data-init-plugin="cs-select" ng-model="hotelSearch.occupancies[n].childrenAges[child]">
                                        <option class="option" value="{{age}}" ng-repeat="age in searchParam.ChildAgeList">{{age}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix m-t-10">
                <button class="btn btn-primary" type="submit" ng-click="hotelSearch.getHotels()">Cari Hotel</button>
            </div>
        </form>
    </div>
</div>
    
    @Html.Partial("/Views/Shared/B2BTravorama/_SearchHotel.cshtml")
</div>