@{
    Layout = "/Views/Shared/B2BTravorama/_B2BLayout.cshtml";
    ViewBag.BodyClass = "b2b-search hotel";
    ViewBag.SiteHeader = "b2b-search-hotel";
    ViewBag.Title = "Search Hotel";
    ViewBag.AngularController = "";

}

@section AdditionalCSS{
    <link href="/Assets/css/autocomplete.css" rel="stylesheet" />
}

@section AdditionalJS{
    @*<script src="/Assets/B2BTravorama/assets/js/form_elements.js" type="text/javascript"></script>*@
}

@section PageJS{
    @*<script>
        jQuery(document).ready(function ($) {
            $('body #room-hotel-detail').hide();
            var room = $('body #room-hotel').find('.cs-select');
            $(room).on('click', function () {
                $('body #room-hotel-detail').fadeIn();
            });
        })
    </script>*@
}

<div class="search-hotel">
    <div class="panel panel-transparent">
        <div class="panel-heading ">
            <div class="panel-title">
                Cari Kamar Hotel
            </div>
        </div>
        <div class="panel-body m-t-10">
            <form id="form-flight" role="form" autocomplete="off" novalidate="novalidate">
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group form-group-default">
                            <label>Tujuan</label>
                            <input type="text" class="form-control" placeholder="Bali, Indonesia">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-default input-group">
                            <label>Tanggal Check in</label>
                            <input type="email" class="form-control" placeholder="Pilih tanggal check in" id="datepicker-component">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group input-custom">
                            <label class="m-b-0">Malam</label>
                            <div class="btn-group dropdown-default required btn-input-custom">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="dropdown-selected">1</span> <span class="caret"></span> </a>
                                <ul class="dropdown-menu ">
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                    <li>5</li>
                                    <li>6</li>
                                    <li>7</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group input-custom" id="room-hotel">
                            <label class="m-b-0">Jumlah Kamar</label>
                            <div class="btn-group dropdown-default required btn-input-custom">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="dropdown-selected">1</span> <span class="caret"></span> </a>
                                <ul class="dropdown-menu ">
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                    <li>5</li>
                                    <li>6</li>
                                    <li>7</li>
                                    <li>8</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="room-hotel-detail">
                    <div class="panel-heading">
                        <div class="panel-title">Rincian Jumlah Tamu</div>
                    </div>
                    <div class="room-item">
                        <div class="panel-heading">
                            <div class="panel-title">Kamar 1</div>
                        </div>
                        <div class="panel-body">
                            <div class="row clearfix">
                                <div class="col-xs-6">
                                    <div class="form-group input-custom">
                                        <label class="m-b-0">Dewasa</label>
                                        <div class="btn-group dropdown-default required btn-input-custom">
                                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="dropdown-selected">1</span> <span class="caret"></span> </a>
                                            <ul class="dropdown-menu ">
                                                <li>1</li>
                                                <li>2</li>
                                                <li>3</li>
                                                <li>4</li>
                                                <li>5</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group input-custom">
                                        <label class="m-b-0">Anak-anak</label>
                                        <div class="btn-group dropdown-default required btn-input-custom">
                                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="dropdown-selected">1</span> <span class="caret"></span> </a>
                                            <ul class="dropdown-menu ">
                                                <li>0</li>
                                                <li>1</li>
                                                <li>2</li>
                                                <li>3</li>
                                                <li>4</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix m-t-10">
                    <button class="btn btn-primary" type="submit">Cari Hotel</button>
                </div>
            </form>
        </div>
    </div>
</div>