@{
    Layout = "/Views/Shared/B2BTravorama/_B2BLayout.cshtml";
    ViewBag.BodyClass = "b2b-search flight";
    ViewBag.SiteHeader = "b2b-search-flight";
    ViewBag.Title = "Search Flight";
    ViewBag.AngularController = "";

}

@section AdditionalCSS{
    <link href="/Assets/css/autocomplete.css" rel="stylesheet" />
}

@section AdditionalJS{
    <script src="/Assets/B2BTravorama/assets/js/form_elements.js" type="text/javascript"></script>
}

@section PageJS{

}

<div class="search-flight">
    <div class="panel panel-transparent">
        <div class="panel-heading ">
            <div class="panel-title">
                Cari Tiket Pesawat
            </div>
        </div>
        <div class="panel-body">
            <form id="form-flight" role="form" autocomplete="off" novalidate="novalidate">
                <div class="row clearfix radio radio-primary">
                    <div class="col-sm-6 col-xs-6">
                        <input type="radio" checked="checked" value="no" name="optionyes" id="no">
                        <label for="no">Pulang Pergi</label>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <input type="radio" value="yes" name="optionyes" id="yes">
                        <label for="yes">Sekali Jalan</label>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group form-group-default">
                            <label>Dari</label>
                            <input type="text" class="form-control" placeholder="Jakarta (CGK)">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-default">
                            <label>Ke</label>
                            <input type="text" class="form-control" placeholder="Denpasar (DPS)">
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group form-group-default input-group">
                            <label>Tanggal Berangkat</label>
                            <input type="email" class="form-control" placeholder="Pilih tanggal berangkat" id="datepicker-component">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-default input-group">
                            <label>Tanggal Kembali</label>
                            <input type="email" class="form-control" placeholder="Pilih tanggal kembali" id="datepicker-component2">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-4">
                        <div class="form-group input-custom">
                            <label class="m-b-0">Dewasa</label>
                            <span class="help m-l-5">(> 12 tahun)</span>
                            <div class="btn-group dropdown-default required btn-input-custom">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="dropdown-selected">1</span> <span class="caret"></span> </a>
                                <ul class="dropdown-menu ">
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                    <li>5</li>
                                    <li>6</li>
                                    <li>7</li>
                                    <li>8</li>
                                    <li>9</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group input-custom">
                            <label class="m-b-0">Anak-anak</label>
                            <span class="help m-l-5">(2 - 12 tahun)</span>
                            <div class="btn-group dropdown-default required btn-input-custom">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="dropdown-selected">1</span> <span class="caret"></span> </a>
                                <ul class="dropdown-menu ">
                                    <li>0</li>
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                    <li>5</li>
                                    <li>6</li>
                                    <li>7</li>
                                    <li>8</li>
                                    <li>9</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group input-custom">
                            <label class="m-b-0">bayi</label>
                            <span class="help m-l-5">(< 2 tahun)</span>
                            <div class="btn-group dropdown-default required btn-input-custom">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="dropdown-selected">1</span> <span class="caret"></span> </a>
                                <ul class="dropdown-menu ">
                                    <li>0</li>
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix m-t-10">
                    <button class="btn btn-primary" type="submit">Cari Penerbangan</button>
                </div>
            </form>
        </div>
    </div>
</div>