@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.Title = "Promo BTN";
    ViewBag.BodyClass = "page-promo promo-btn-mobile-app";
    ViewBag.SiteHeader = "header-promo-btn";
    ViewBag.AngularController = "PromoController";
}

@section AdditionalCSS {
    <link href="/Campaign/PromoBTN/css/promo-btn.css" rel="stylesheet" />
}

@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>

    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
}

<div class="promo-btn">
    <div class="mini-banner">
        <img class="img-promo" src="/Assets/images/campaign/PromoBTN/PromoBTN-slider.jpg" alt="Promo BTN" />
    </div>
    <div class="tab-promo">
        <ul class="nav nav-tabs tab-detail">
            <li class="col-xs-6 active">
                <a data-toggle="tab" href="#tnc-promo">Syarat & Ketentuan</a>
            </li>
            <li class="col-xs-6">
                <a data-toggle="tab" href="#how-to">Cara Mendapatkan <br />Program Promo</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tnc-promo" class="tab-pane active">
                <div class="container-page">
                    <div class="section-title text-center">Syarat & <span class="blue-text">Ketentuan</span></div>
                    <div class="tnc">
                        <ol class="list-number">
                            <li>Promo berlaku untuk pembayaran menggunakan Kartu Debit dan Kartu Kredit BTN</li>
                            <li>Periode Booking tanggal <span class="blue-text">20 September - 20 Desember 2016</span></li>
                            <li>Diskon sebesar 10% (maks Rp 300.000) untuk setiap pemesanan tiket pesawat minimum transaksi Rp 1.500.000 dalam satu No. Pemesanan</li>
                            <li>Untuk semua periode terbang dan rute penerbangan domestik</li>
                            <li>Untuk pemesanan via situs dan aplikasi Travorama</li>
                            <li>Program dapat digunakan satu kali per hari untuk satu user dan satu Card Holder</li>
                            <li>Kuota transaksi per hari sebanyak 50 transaksi</li>
                            <li>Program tidak dapat digabungkan dengan voucher dan promo lainnya</li>
                            <li>Travorama berhak penuh untuk mengubah syarat dan ketentuan tanpa pemberitahuan terlebih dahulu</li>
                            <li>Harga diluar promo Travorama</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div id="how-to" class="tab-pane">
                <div class="container-page">
                    <div class="section-title text-center">Cara Mendapatkan <br /><span class="blue-text">Program Promo</span></div>
                    <div class="how-to">
                        <ol class="list-number">
                            <li>Cari dan pesan tiket pesawat melalui situs atau aplikasi Travorama</li>
                            <li>Pilih metode pembayaran kartu kredit</li>
                            <li>Isi detail Kartu Debit atau Kartu Kredit BTN sesuai dengan instruksi</li>
                            <li>Harga akan otomatis terpotong sesuai program promo yang berlaku</li>
                            <li>Selesaikan proses pembayaran</li>
                            <li>E-tiket akan dikirimkan ke alamat email Anda</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>