@{
    Layout = "/Views/Shared/Desktop/_LayoutDesktop.cshtml";
    ViewBag.BodyClass = "page-promo promo-imlek";
    ViewBag.Title = "Promo Imlek 2017";
    //ViewBag.AngularController = "PromoController";
}

@section AdditionalCSS{
    <!-- additional CSS -->
    <link href="/Assets/css/promo.css" rel="stylesheet" />
}

@section AdditionalJS{
    <!-- additional Angular JS-->
}

<div class="promo-btn">
    <div class="top-section"><a href="/"></a></div>
    <div class="bottom-section">
        <div class="container">
            <div class="section-title text-center xlg-txt">KETERANGAN <span class="blue-text">PROMO</span></div>
            <div class="content-banner normal-txt">
                <div class="promo-desc">Rayakan kebersamaan imlek bersama keluarga di hotel terbaik pilihan Anda. Gunakan kode promo untuk mendapatkan secret deal harga kamar hotel. Berlaku tanpa minimum pembelian, untuk hotel domestik dan internasional.</div>
                <div class="booking">
                    <div class="bold-title">Periode Booking:</div>
                    <div class="blue-text"><b>28 Januari - 15 Februari 2017</b></div>
                </div>
                <div class="booking">
                    <div class="bold-title">Periode Inap:</div>
                    <div class="blue-txt os-bold">Kapan saja</div>
                </div>
                <div class="tnc">
                    <div class="bold-title">Syarat dan Ketentuan:</div>
                    <ol class="list-number">
                        <li>Berlaku untuk pemesanan hotel domestik dan internasional.</li>
                        <li>Periode booking <span class="os-bold blue-txt">28 Januari - 15 Februari 2017</span> untuk periode inap kapan saja.</li>
                        <li>Diskon sebesar 5% tanpa maksimum diskon.</li>
                        <li>Berlaku tanpa minimum transaksi.</li>
                        <li>Berlaku untuk semua metode pembayaran.</li>
                        <li>Program tidak dapat digabungkan dengan voucher dan promo lainnya.</li>
                        <li>Travorama berhak penuh untuk mengubah syarat dan ketentuan tanpa pemberitahuan terlebih dahulu.</li>
                    </ol>
                </div>
                <div class="how-to">
                    <div class="bold-title">Cara Mendapatkan Program Promo:</div>
                    <ol class="list-number">
                        <li>Cari dan pesan hotel melalui situs Travorama.</li>
                        <li>Pilih metode pembayaran yang Anda inginkan.</li>
                        <li>Masukkan kode promo <span class="blue-txt os-bold">'FIERYROOSTER'</span>, harga akan otomatis terpotong sesuai program promo.</li>
                        <li>E-voucher akan dikirimkan ke alamat email Anda.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>