@{
    Layout = "/Views/Shared/mobile/_LayoutMobile.cshtml";
    ViewBag.Title = "Promo Matahari Mall";
    ViewBag.BodyClass = "page-promo promo-btn-mobile-app";
    ViewBag.SiteHeader = "header-promo-btn";
    ViewBag.AngularController = "PromoController";
}

@section AdditionalCSS {
    <link href="/Assets/css/promo.css" rel="stylesheet" />
}

@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>

    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
}

@section PageJS{
    <!-- angular controller -->
    <script src="/Assets/travorama20/angularDirectory/search/hotelSearch.service.js"></script>
}

<div class="promo-btn">
    <div class="mini-banner">
        <img class="img-promo" src="/Assets/images/campaign/MatahariMall2016/MatahariMall-page-mobile.jpg" alt="MatahariMall" />
    </div>
    <div class="tab-promo">
        <ul class="nav nav-tabs tab-detail">
            <li class="col-xs-6 active">
                <a data-toggle="tab" href="#tnc-promo">Syarat & Ketentuan</a>
            </li>
            <li class="col-xs-6">
                <a data-toggle="tab" href="#how-to">Cara Mendapatkan <br />Program Promo</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tnc-promo" class="tab-pane active">
                <div class="container-page">
                    <div class="section-title text-center">Syarat & <span class="blue-text">Ketentuan</span></div>
                    <div class="tnc">
                        <ol class="list-number">
                            <li>Promo berlaku untuk semua jenis pembayaran</li>
                            <li>Periode program <span class="blue-text">22 November - 15 Desember 2016</span></li>
                            <li>Tanpa minimum pembelian</li>
                            <li>Untuk pemesanan via situs dan aplikasi Travorama</li>
                            <li>Gratis voucher potongan harga yang bisa digunakan di Mataharimall.com</li>
                            <li>Voucher dalam bentuk electronic voucher yang akan dikirimkan ke alamat email pemesan</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div id="how-to" class="tab-pane">
                <div class="container-page">
                    <div class="section-title text-center">Cara Mendapatkan <br /><span class="blue-text">Program Promo</span></div>
                    <div class="how-to">
                        <ol class="list-number">
                            <li>Lakukan transaksi pembelian tiket penerbangan di situs atau aplikasi Travorama</li>
                            <li>E-voucher MatahariMall.com akan dikirimkan ke alamat email pemesan</li>
                            <li>Voucher dapat digunakan untuk mendapatkan potongan harga di MatahariMall.com</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>