@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-promo promo-btn";
    ViewBag.Title = "Promo Online Revolution 2016";
    ViewBag.AngularController = "PromoController";
}

@section AdditionalCSS{
    <!-- additional CSS -->
    <link href="/Campaign/PromoBTN/css/promo-btn.css" rel="stylesheet" />
}

@section AdditionalJS{
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}

<div class="promo-btn">
    <div class="top-section"><a href="/"></a></div>
    <div class="bottom-section">
        <div class="container">
            <div class="section-title text-center">KETERANGAN <span class="blue-text">PROMO</span></div>
            <div class="content-banner">
                <div class="promo-desc">Spesial untuk pemegang Kartu Debit dan Kartu Kredit BTN, nikmati diskon hingga Rp 300.000 untuk rute penerbangan domestik. Buat perjalanan kamu lebih hemat dengan menggunakan Kartu Debit dan Kartu Kredit BTN.</div>
                <div class="card clearfix">
                    <div class="debit">
                        <div class="title-italic blue-text">Kartu Debit BTN</div>
                    </div>
                    <div class="credit">
                        <div class="title-italic blue-text">Kartu Kredit BTN</div>
                    </div>
                </div>
                <div class="booking">
                    <div class="bold-title">Periode Booking:</div>
                    <div class="blue-text"><b>21 November - 31 Desember 2016</b></div>
                </div>
                <div class="tnc">
                    <div class="bold-title">Syarat dan Ketentuan:</div>
                    <ol class="list-number">
                        <li>Promo berlaku untuk pembayaran menggunakan Kartu Debit dan Kartu Kredit BTN</li>
                        <li>Periode Booking tanggal <span class="blue-text">21 November - 31 Desember 2016</span></li>
                        <li>Diskon sebesar 10% (maks Rp 300.000) untuk setiap pemesanan tiket pesawat minimum transaksi Rp 1.500.000 dalam satu No. Pemesanan</li>
                        <li>Untuk semua periode terbang dan rute penerbangan domestik</li>
                        <li>Untuk pemesanan via situs dan aplikasi Travorama</li>
                        <li>Program dapat digunakan satu kali per hari untuk satu user dan satu Card Holder</li>
                        <li>Program tidak dapat digabungkan dengan voucher dan promo lainnya</li>
                        <li>Travorama berhak penuh untuk mengubah syarat dan ketentuan tanpa pemberitahuan terlebih dahulu</li>
                        <li>Harga diluar promo Travorama</li>
                    </ol>
                </div>
                <div class="how-to">
                    <div class="bold-title">Cara Mendapatkan Program Promo:</div>
                    <ol class="list-number">
                        <li>Cari dan pesan tiket pesawat melalui situs atau aplikasi Travorama</li>
                        <li>Pilih metode pembayaran kartu kredit</li>
                        <li>Isi detail Kartu Debit atau Kartu Kredit BTN sesuai dengan instruksi</li>
                        <li>Harga akan otomatis terpotong sesuai program promo yang berlaku</li>
                        <li>Selesaikan proses pembayaran</li>
                        <li>E-tiket akan dikirimkan ke alamat email Anda</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>