@{
    Layout = "/Views/Shared/mobile/_LayoutMobile.cshtml";
    ViewBag.Title = "Payday Mega Deals";
    ViewBag.BodyClass = "page-promo promo-mobile promo-bankmega";
    ViewBag.AngularController = "PromoController";
}

@section AdditionalCSS {
    <link href="/Assets/css/promo.css" rel="stylesheet" />
}

@section AdditionalJS {
    <script src="/Assets/js/bootstrap.js"></script>
}

@section PageJS{
    <!-- angular controller -->
    <script src="/Assets/travorama20/js/PromoController.js"></script>
    <script src="/Assets/travorama20/angularDirectory/search/hotelSearch.service.js"></script>
}

<div class="promo-bankmega">
    <div class="mini-banner">
        <a href="/"><img class="img-promo" src="/Assets/images/campaign/PaydayMegaDeals/PaydayMegaDeals-page-mobile.jpg" alt="Payday Mega Deals" /></a>
    </div>
    <div class="tab-promo">
        <ul class="nav nav-tabs tab-detail">
            <li class="col-xs-6 active">
                <a data-toggle="tab" href="#tnc-promo">Syarat & Ketentuan</a>
            </li>
            <li class="col-xs-6">
                <a data-toggle="tab" href="#how-to">Cara Mendapatkan <br />Program Promo</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tnc-promo" class="tab-pane active">
                <div class="container-page">
                    <div class="section-title text-center">Syarat & <span class="blue-text">Ketentuan</span></div>
                    <div class="tnc">
                        <ol class="list-number">
                            <li>Tambahan potongan harga sebesar 10% diluar harga promo Travorama. Tanpa maksimum potongan harga.</li>
                            <li>Berlaku tanpa minimum transaksi.</li>
                            <li>Periode pemesanan tanggal <span class="os-bold blue-txt">24 Maret - 2 April 2017.</span></li>
                            <li>Periode inap kapan saja.</li>
                            <li>Berlaku untuk semua hotel di dalam dan luar negeri.</li>
                            <li>Berlaku untuk pembayaran menggunakan semua tipe kartu kredit Bank Mega.</li>
                            <li>Berlaku untuk pemesanan melalui situs Travorama.</li>
                            <li>Program promo hanya dapat digunakan satu kali per hari untuk satu user.</li>
                            <li>Program promo tidak dapat digabung dengan voucher dan promo lainnya.</li>
                            <li>Travorama berhak penuh untuk mengubah syarat dan ketentuan tanpa pemberitahuan terlebih dahulu.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div id="how-to" class="tab-pane">
                <div class="container-page">
                    <div class="section-title text-center">Cara Mendapatkan <br /><span class="blue-text">Program Promo</span></div>
                    <div class="how-to">
                        <ol class="list-number">
                            <li>Cari dan pesan kamar hotel melalui situs Travorama.</li>
                            <li>Pilih metode pembayaran kartu kredit. Lakukan pengisian data pembayaran.</li>
                            <li>Harga akan otomatis terpotong sesuai program promo yang berlaku (harga setelah promo Travorama).</li>
                            <li>Selesaikan proses pembayaran.</li>
                            <li>E-voucher hotel akan dikirimkan ke alamat email Anda.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>