  <!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <!-- Bootstrap core CSS -->
    <link href="../../Assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../Assets/css/promolandingpage.css" rel="stylesheet">

  </head>

  <body>


    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-lg-12 col-sm-12 no-padding">
          <div><img class="img-fluid" src="../../Assets/images/dummypromo.jpg"></div>
        </div>
        <div class="col-lg-12 col-sm-12">
          <div class="judul-landing-page">Judul landing page #1</div>
        </div>
        <div class="col-lg-12 col-sm-12">
          <div class="desc-landing-page">
            Freak human out make funny noise mow mow mow mow mow mow success now attack human attack dog, run away and pretend to be victim, mewl for food at 4am spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce. Meowing non stop for food. Cough furball into food bowl then scratch owner for a new one 
          </div>
        </div>
        <div class="col-lg-12 col-sm-12 container-label-promo">
          <div class="label-promo" >
            Info Promo
          </div>
        </div>
        <div class="col-lg-12 col-sm-12 container-isi-promo">
          <div>
            <p style="font-size: 13px; font-family: hind-light; margin:0; color:#8a8a8a;">Periode Promo</p>
            <p style="font-size: 16px; font-family: hind; margin:0">1 Januari 2018 - 3 Maret 2018</p>
          </div>
          <div class="separator"></div>
          <div>
            <p style="font-size: 13px; font-family: hind-light; margin:0; color:#8a8a8a;">Kode Promo</p>
            <p style="font-size: 16px; font-family: hind; margin:0">ABCD221</p>
          </div>
        </div>
        <div class="col-lg-12 col-sm-12" style="margin-top: 25px; padding:0">
          <div class="label-collapse">
            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="font-size: 16px; font-family: hind; margin:0; color:#333">
              Syarat dan Ketentuan
            </a>
          </div>
          <div class="collapse" id="collapseExample">
            <div class="isi-collapse" style="padding-left:15px">
              <ul>
                <li>Freak human out make funny noise</li>
                <li>Meow for food at 4am</li>
                <li>Licks your face this cat happen now</li>
                <li>Run outside as soon as door open</li>
              </ul>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>

</html>
