<div class="main-tab clearfix">
    <div class="row partner">
        <h2 class="section-title stripe text-center xlg-txt">Partner <span>Maskapai</span></h2>
        <div class="img-partner col-xs-12">
            @Html.Partial("/Views/common/partner-flight.cshtml")
        </div>
    </div>
</div>

<div class="main-tab clearfix">
    <div class="row partner">
        <h2 class="section-title stripe text-center xlg-txt">Partner <span>Hotel</span></h2>
        <div class="img-partner container">
            @Html.Partial("/Views/common/partner-hotel.cshtml")
        </div>
    </div>
</div>