<div class="partner-hotel aston-international"></div>
<div class="partner-hotel ibis"></div>
<div class="partner-hotel santika-indonesia-hotels-resorts" alt="Hotel Santika"></div>
<div class="partner-hotel mercure"></div>
<div class="partner-hotel topotel" alt="Topotel"></div>
<div class="partner-hotel redplanet" alt="Tune Hotels"></div>
<div class="partner-hotel swiss-belhotel-international" alt="Swiss-Belhotel"></div>
<div class="partner-hotel tauzia-hotel-management" alt="Tauzia Hotel"></div>
<div class="partner-hotel intiwhiz" alt="Intiwhiz"></div>
<div class="partner-hotel maxone" alt="Maxone"></div>
<div class="partner-hotel horison" alt="Horison"></div>
<div class="partner-hotel kagum" alt="Kagum"></div>
<div class="partner-hotel parador" alt="Parador"></div>
<div class="partner-hotel mphg" alt="Mphg"></div> 
<div class="partner-hotel best-western-international" alt="Best Western"></div>
