<div class="subscribe-mobile">
    <img class="bg-subscribe" src="/Assets/mobile/images/bg-subscribe.png" />
    <div class="subscribe-before">
        <div class="judul-subscribe">Subscribe now!</div>
        <div class="container-form-subscribe">
            <!-- <div class=""> -->
                <form class="subscribe-form">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-mobile subscribe-name" id="exampleInputEmail1" placeholder="Masukkan Nama Anda" name="name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control form-control-mobile subscribe-email" id="exampleInputEmail1" placeholder="Masukkan Alamat Email">
                    </div>
                    <input type="submit" class="btn-subscribe" value="SUBSCRIBE">
                </form>
            <!-- </div> -->
        </div>
    </div>
    <div class="subscribe-after" style="display: none; padding-top: 20px">
        <div class="judul-subscribe">Terima Kasih Telah Mendaftar di Newsletter Kami</div>
    </div>
</div>