.imlek-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/Campaign/Imlek2016/images/wrapper-bg.png);
  z-index: 9999;
  display: block; }
  .imlek-wrapper .imlek-wrapper__close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999; }
  .imlek-wrapper .draw__wrapper {
    min-height: 100%;
    overflow: auto; }
    .imlek-wrapper .draw__wrapper .draw__header {
      text-align: center;
      margin-bottom: 20px; }
    .imlek-wrapper .draw__wrapper .draw__body {
      text-align: center;
      background: url(/Campaign/Imlek2016/images/imlek-bg.png) center center no-repeat;
      height: 550px;
      position: relative; }
      .imlek-wrapper .draw__wrapper .draw__body .tree {
        width: 500px;
        position: absolute;
        left: 50%;
        margin-left: -250px;
        z-index: 100;
        opacity: 0.5; }
        .imlek-wrapper .draw__wrapper .draw__body .tree .monkey {
          position: absolute;
          left: 50%;
          top: 200px;
          margin-left: 50px; }
        .imlek-wrapper .draw__wrapper .draw__body .tree .card {
          width: 50px;
          position: absolute;
          cursor: pointer; }
          .imlek-wrapper .draw__wrapper .draw__body .tree .card:before {
            content: "";
            display: block;
            position: absolute;
            width: 4px;
            height: 30px;
            background: #fbde31;
            left: 50%;
            top: -20px;
            margin-left: -2px;
            z-index: 1; }
          .imlek-wrapper .draw__wrapper .draw__body .tree .card img {
            z-index: 2;
            position: relative; }
          .imlek-wrapper .draw__wrapper .draw__body .tree .card.card-1 {
            top: 50px;
            left: 240px; }
          .imlek-wrapper .draw__wrapper .draw__body .tree .card.card-2 {
            top: 135px;
            left: 150px; }
          .imlek-wrapper .draw__wrapper .draw__body .tree .card.card-3 {
            top: 160px;
            left: 340px; }
          .imlek-wrapper .draw__wrapper .draw__body .tree .card.card-4 {
            top: 270px;
            left: 70px; }
          .imlek-wrapper .draw__wrapper .draw__body .tree .card.card-5 {
            top: 230px;
            left: 420px; }
          .imlek-wrapper .draw__wrapper .draw__body .tree .card.active {
            cursor: default; }
            .imlek-wrapper .draw__wrapper .draw__body .tree .card.active:before {
              display: none; }
          .imlek-wrapper .draw__wrapper .draw__body .tree .card .prize__wrapper {
            width: 240px;
            height: 150px;
            background: url(/Campaign/Imlek2016/images/card-content.jpg);
            position: absolute;
            left: 50%;
            margin-left: -120px;
            display: none; }
            .imlek-wrapper .draw__wrapper .draw__body .tree .card .prize__wrapper .prize__close {
              position: absolute;
              top: -20px;
              right: -20px;
              z-index: 2; }
            .imlek-wrapper .draw__wrapper .draw__body .tree .card .prize__wrapper .prize__body {
              font-size: 14px; }
              .imlek-wrapper .draw__wrapper .draw__body .tree .card .prize__wrapper .prize__body.no-prize {
                padding-top: 30px; }
              .imlek-wrapper .draw__wrapper .draw__body .tree .card .prize__wrapper .prize__body.prize {
                position: absolute;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center 15px; }
                .imlek-wrapper .draw__wrapper .draw__body .tree .card .prize__wrapper .prize__body.prize.prize-50 {
                  background-image: url(/Campaign/Imlek2016/images/voucher-50.png); }
                .imlek-wrapper .draw__wrapper .draw__body .tree .card .prize__wrapper .prize__body.prize.prize-100 {
                  background-image: url(/Campaign/Imlek2016/images/voucher-100.png); }
                .imlek-wrapper .draw__wrapper .draw__body .tree .card .prize__wrapper .prize__body.prize.prize-150 {
                  background-image: url(/Campaign/Imlek2016/images/voucher-150.png); }
                .imlek-wrapper .draw__wrapper .draw__body .tree .card .prize__wrapper .prize__body.prize.prize-200 {
                  background-image: url(/Campaign/Imlek2016/images/voucher-200.png); }
                .imlek-wrapper .draw__wrapper .draw__body .tree .card .prize__wrapper .prize__body.prize .text-info {
                  font-size: 12px;
                  line-height: 100%;
                  top: 77px;
                  color: #7a4d00;
                  position: absolute; }
                .imlek-wrapper .draw__wrapper .draw__body .tree .card .prize__wrapper .prize__body.prize .voucher-code {
                  position: absolute;
                  color: #fff;
                  background: #d92a15;
                  padding: 5px 10px;
                  top: 110px;
                  width: 200px;
                  left: 50%;
                  margin-left: -100px;
                  font-weight: bold;
                  font-size: 18px; }
                .imlek-wrapper .draw__wrapper .draw__body .tree .card .prize__wrapper .prize__body.prize .loading {
                  padding-top: 40px; }
              .imlek-wrapper .draw__wrapper .draw__body .tree .card .prize__wrapper .prize__body.no-eligible {
                padding-top: 30px; }
              .imlek-wrapper .draw__wrapper .draw__body .tree .card .prize__wrapper .prize__body p {
                padding: 0 10px; }
        .imlek-wrapper .draw__wrapper .draw__body .tree .note {
          margin-top: -180px; }
      .imlek-wrapper .draw__wrapper .draw__body .cloud {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10; }
      .imlek-wrapper .draw__wrapper .draw__body .email {
        position: absolute;
        bottom:0%;
        left: 5%;
        width: 300px;
        margin-top: -150px;
        margin-left: -150px;
        background: #fff;
        padding: 15px;
        z-index: 999; }
        .imlek-wrapper .draw__wrapper .draw__body .email .form-group {
          margin-bottom: 0; }
        .imlek-wrapper .draw__wrapper .draw__body .email input[type="email"] {
          margin-bottom: 15px; }
        .imlek-wrapper .draw__wrapper .draw__body .email .help-block {
          margin-top: -10px;
          display: none; }
        .imlek-wrapper .draw__wrapper .draw__body .email button {
          margin-bottom: 15px; }
        .imlek-wrapper .draw__wrapper .draw__body .email p:last-child {
          margin-bottom: 0; }
