@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-password page-check-order";
}


<section class="form-section">
    
    <h1 class="text-center section-title stripe">CEK <span>PEMESANAN</span></h1>

    <div class="container form-container">

        <h3>Semakin mudah mengetahui setatus pemesanan Anda di Travorama.com. Masukan data pemesanan Anda di formulir dibawah.</h3>
        <ul>
            <li>Jika Anda memiliki pemesanan yang belum terbayarkan, pemesanan tersebut juga dapat dilanjutkan.</li>
            <li>Hingga 2 jam setelah pemesanan awal dilakukan.</li>
        </ul>

        <div class="form-wrapper">
            <section class="form-content">
                <form class="form form-horizontal" name="check-order-form">
                    <div class="row">
                        <div class="col-xs-5">
                            <label class="control-label">Nomor Pemesanan:</label>
                            <input type="text" name="orderNo" value="" class="form-control" placeholder="Ex : 123456789012" />
                        </div>
                        <div class="col-xs-5">
                            <label class="control-label">Nama Belakang Pemesan:</label>
                            <input type="text" name="name" value="" class="form-control" placeholder="Ex : Juliana" />
                        </div>
                        <div class="col-xs-2">
                            <label class="control-label">&nbsp;</label>
                            <input type="submit" value="CEK PEMESANAN" class="btn btn-yellow form-control" />
                        </div>
                    </div>
                </form>
            </section><!-- .form-content -->
        </div>

    </div><!-- .form-container -->

</section><!-- .form-section -->