@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-checkout page-checkout-flight";
    ViewBag.FooterSubscribe = false;
    ViewBag.FooterPayment = false;
    ViewBag.FooterFeedback = false;

    ViewBag.SiteHeader = "checkout";
}

<section class="checkout-step active-1">
    <div class="container">
        <div class="step step-1 active">01. <span>Data Pesanan</span></div>
        <div class="step step-2">02. <span>Data Kontak</span></div>
        <div class="step step-3">03. <span>Data Penumpang</span></div>
        <div class="step step-4">04. <span>Pembayaran</span></div>
    </div>
</section><!-- .checkout-step -->

<section class="checkout-content">

    <div class="container">

        <div class="row">

            <div class="col-sm-8">

                <div class="content-step" id="step-1">
                
                
                    <h3><b>RINCIAN</b> PENERBANGAN</h3>    
                    <div class="flight-detail" id="departure-flight">
                        <header>
                            <span>Penerbangan Pergi</span>
                            <div class="fare-detail">
                                <b>JKT</b> to <b>DPS</b> | 15-02-2015
                            </div>
                        </header>
                        <section class="detail-content">
                            <div class="segment">
                                <h5 class="segment-airline-name">Singapore Airlines ABC-1234 <span class="pull-right"></span></h5>
                                <div class="segment-number">
                                    <span>1<sup>st</sup></span>
                                </div>
                                <div class="segment-left">
                                    <img src="/Assets/images/airlines/AK.png" alt="AirAsia" class="segment-airline-logo" />
                                </div>
                                <div class="segment-right">
                                    <div class="segment-departure">
                                        <h5>Selasa, 15 Feb 2015</h5>
                                        <h3>15.00</h3>
                                        <h4>Jakarta (CGK)</h4>
                                        <h5>Soekarno Hatta Intl.</h5>
                                    </div>
                                    <div class="segment-duration">
                                        <h5><span>Duration :</span> 9h 20m</h5>
                                    </div>
                                    <div class="segment-arrival">
                                        <h5>Selasa, 15 Feb 2015</h5>
                                        <h3>15.00</h3>
                                        <h4>Jakarta (CGK)</h4>
                                        <h5>Soekarno Hatta Intl.</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="transit" ng-if="$index > 0">
                                <p>Transit di Singapore selama 2h 55m</p>
                            </div>
                            <div class="segment">
                                <h5 class="segment-airline-name">Singapore Airlines ABC-1234 <span class="pull-right"></span></h5>
                                <div class="segment-number">
                                    <span>2<sup>nd</sup></span>
                                </div>
                                <div class="segment-left">
                                    <img src="/Assets/images/airlines/AK.png" alt="AirAsia" class="segment-airline-logo" />
                                </div>
                                <div class="segment-right">
                                    <div class="segment-departure">
                                        <h5>Selasa, 15 Feb 2015</h5>
                                        <h3>15.00</h3>
                                        <h4>Jakarta (CGK)</h4>
                                        <h5>Soekarno Hatta Intl.</h5>
                                    </div>
                                    <div class="segment-duration">
                                        <h5><span>Duration :</span> 9h 20m</h5>
                                    </div>
                                    <div class="segment-arrival">
                                        <h5>Selasa, 15 Feb 2015</h5>
                                        <h3>15.00</h3>
                                        <h4>Jakarta (CGK)</h4>
                                        <h5>Soekarno Hatta Intl.</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div><!-- .flight-detail -->
                
                    <div class="flight-detail" id="return-flight">
                        <header>
                            <span>Penerbangan Pulang</span>
                            <div class="fare-detail">
                                <b>JKT</b> to <b>DPS</b> | 15-02-2015
                            </div>
                        </header>
                        <section class="detail-content">
                            <div class="segment">
                                <h5 class="segment-airline-name">Singapore Airlines ABC-1234 <span class="pull-right"></span></h5>
                                <div class="segment-number">
                                    <span>1<sup>st</sup></span>
                                </div>
                                <div class="segment-left">
                                    <img src="/Assets/images/airlines/AK.png" alt="AirAsia" class="segment-airline-logo" />
                                </div>
                                <div class="segment-right">
                                    <div class="segment-departure">
                                        <h5>Selasa, 15 Feb 2015</h5>
                                        <h3>15.00</h3>
                                        <h4>Jakarta (CGK)</h4>
                                        <h5>Soekarno Hatta Intl.</h5>
                                    </div>
                                    <div class="segment-duration">
                                        <h5><span>Duration :</span> 9h 20m</h5>
                                    </div>
                                    <div class="segment-arrival">
                                        <h5>Selasa, 15 Feb 2015</h5>
                                        <h3>15.00</h3>
                                        <h4>Jakarta (CGK)</h4>
                                        <h5>Soekarno Hatta Intl.</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="transit" ng-if="$index > 0">
                                <p>Transit di Singapore selama 2h 55m</p>
                            </div>
                            <div class="segment">
                                <h5 class="segment-airline-name">Singapore Airlines ABC-1234 <span class="pull-right"></span></h5>
                                <div class="segment-number">
                                    <span>2<sup>nd</sup></span>
                                </div>
                                <div class="segment-left">
                                    <img src="/Assets/images/airlines/AK.png" alt="AirAsia" class="segment-airline-logo" />
                                </div>
                                <div class="segment-right">
                                    <div class="segment-departure">
                                        <h5>Selasa, 15 Feb 2015</h5>
                                        <h3>15.00</h3>
                                        <h4>Jakarta (CGK)</h4>
                                        <h5>Soekarno Hatta Intl.</h5>
                                    </div>
                                    <div class="segment-duration">
                                        <h5><span>Duration :</span> 9h 20m</h5>
                                    </div>
                                    <div class="segment-arrival">
                                        <h5>Selasa, 15 Feb 2015</h5>
                                        <h3>15.00</h3>
                                        <h4>Jakarta (CGK)</h4>
                                        <h5>Soekarno Hatta Intl.</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div><!-- .flight-detail -->
                
                    <div class="step-button">
                        <a href="#" class="btn btn-yellow">LANJUTKAN</a>
                    </div>

                </div><!-- .content-step#step-1 -->

            </div>
            <div class="col-sm-4">

                <div class="widget-container">
                    <div class="widget price-detail">
                        <h3 class="widget-title"><b>RINCIAN</b> HARGA</h3>
                        <div class="widget-content">
                            <dl>
                                <dt>Total Tiket</dt>
                                <dd>Rp 999.999.999</dd>
                            </dl>
                            <dl class="total-price">
                                <dt>Total</dt>
                                <dd>Rp 999.999.999</dd>
                            </dl>
                        </div>
                        <footer>
                            <small>* Harga ini masih bisa berubah, harga final maskapai akan dikonfirmasi kembali pada proses pembayaran</small>
                        </footer>
                    </div><!-- .widget.price-detail -->
                    <div class="widget voucher"></div><!-- .widget.voucher -->
                    <div class="widget flight-detail"></div><!-- .widget.flight-detail -->
                    <div class="widget passenger-detail"></div><!-- .widget.passenger-detail -->
                </div><!-- .widget-container -->

            </div>

        </div>

    </div>

</section><!-- .checkout-content -->
