@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-checkout page-checkout-flight";
    ViewBag.FooterSubscribe = false;
    ViewBag.FooterPayment = false;
    ViewBag.FooterFeedback = false;

    ViewBag.SiteHeader = "checkout";
}

<section class="checkout-step active-1">
    <div class="container">
        <div class="step step-1 active">01. <span>Data Pesanan</span></div>
        <div class="step step-2">02. <span>Data Kontak</span></div>
        <div class="step step-3">03. <span>Data Penumpang</span></div>
        <div class="step step-4">04. <span>Pembayaran</span></div>
    </div>
</section><!-- .checkout-step -->

<section class="checkout-content">

    <div class="container">

        <div class="row">

            <div class="col-sm-8">



            </div>
            <div class="col-sm-4">

                <div class="widget-container">
                    <div class="widget price-detail">
                        <h3 class="widget-title"><b>RINCIAN</b> HARGA</h3>
                        <div class="widget-content">
                            <dl>
                                <dt>Total Tiket</dt>
                                <dd>Rp 999.999.999</dd>
                            </dl>
                            <dl class="total-price">
                                <dt>Total</dt>
                                <dd>Rp 999.999.999</dd>
                            </dl>
                        </div>
                        <footer>
                            <small>* Harga ini masih bisa berubah, harga final maskapai akan dikonfirmasi kembali pada proses pembayaran</small>
                        </footer>
                    </div><!-- .widget.price-detail -->
                    <div class="widget voucher"></div><!-- .widget.voucher -->
                    <div class="widget flight-detail"></div><!-- .widget.flight-detail -->
                    <div class="widget passenger-detail"></div><!-- .widget.passenger-detail -->
                </div><!-- .widget-container -->

            </div>

        </div>

    </div>

</section><!-- .checkout-content -->
