@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-checkout page-checkout-flight";
    ViewBag.FooterSubscribe = false;
    ViewBag.FooterPayment = false;
    ViewBag.FooterFeedback = false;

    ViewBag.SiteHeader = "checkout";
}

<section class="checkout-progress">
    <div class="container">
        <div class="progress progress-1"><span>01. Data Pesanan</span></div>
        <div class="progress progress-2"><span>02. Data Kontak</span></div>
        <div class="progress progress-3"><span>03. Data Penumpang</span></div>
        <div class="progress progress-4"><span>04. Pembayaran</span></div>
    </div>
</section><!-- .checkout-progress -->

<section class="checkout-content">
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-sm-8">
                
                Lorem ipsum

            </div>
            <div class="col-sm-4">
                
                <div class="widget-container">
                    <div class="widget price-detail"></div><!-- .widget.price-detail -->
                    <div class="widget voucher"></div><!-- .widget.voucher -->
                    <div class="widget flight-detail"></div><!-- .widget.flight-detail -->
                    <div class="widget passenger-detail"></div><!-- .widget.passenger-detail -->
                </div><!-- .widget-container -->

            </div>

        </div>

    </div>

</section><!-- .checkout-content -->
