@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-thankyou";

    ViewBag.BookingFailed = false;
    
}

@if (ViewBag.BookingFailed)
{
    <div>
    
        <h2 class="section-title stripe text-center">BOOKING <span>FAILED</span></h2>
    
        <div class="container">
            <p>Mohon maaf, transaksi Anda gagal. Silahkan mengulang transaksi atau gunakan metode pembayaran yang lain. Payment Gateway Authentication Failed.</p>
        </div>
        <div class="container text-center">
            <a href="/" class="btn btn-yellow">KEMBALI KE HALAMAN DEPAN</a>
        </div>
        
    </div>
}
else
{
    <div>

        <h2 class="section-title stripe text-center">TERIMA <span>KASIH</span></h2>

        <div class="container">
            <p>Telah memesan penerbangan di Travorama.com. Anda dapat mencetak e-ticket Anda melalui tombol berikut atau mengunduhnya di email setelah :</p>

            <section class="countdown">

                <div class="row">
                    <div class="col-xs-5 col-xs-offset-2">
                        <div class="timer">
                            <div class="hour">
                                <h5>00</h5>
                                <span>Jam</span>
                            </div>
                            <div class="separator">:</div>
                            <div class="minute">
                                <h5>00</h5>
                                <span>Menit</span>
                            </div>
                            <div class="separator">:</div>
                            <div class="second">
                                <h5>00</h5>
                                <span>Detik</span>
                            </div>
                        </div><!-- .timer -->
                    </div>
                    <div class="col-xs-4">
                        <div class="print">
                            <a href="#" class="btn btn-yellow block"><span>CETAK eTICKET</span></a>
                        </div>
                    </div>
                </div>

                <p>Anda dapat  menutup halaman ini dan mengecek status penerbitan e-ticket di menu cek pemesanan setiap saat.</p>

            </section><!-- .section -->

            <section class="order-detail">
                <header>
                    <h4><b>Tanda Bukti Pembayaran</b> <span class="pull-right">Order ID: <b>123456789012</b></span></h4>
                </header>
                <section>

                    <div class="container">
                        <div class="row">

                            <div class="order-detail-left col-xs-8">
                                <div class="passenger">
                                    <h4>INFO PENUMPANG</h4>

                                    <ol>
                                        <li><p>Dewasa : Shinta Tamara Purnawan</p></li>
                                        <li><p>Dewasa : Chyntia Budiwati</p></li>
                                    </ol>

                                </div>
                                <div class="order">
                                    <h4>DETAIL PESANAN</h4>

                                    <div class="flight departure">
                                        <p><img src="/Assets/images/airlines/AK.png" alt="AirAsia" /> <span>AIRASIA</span> </p>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <p>Berangkat : </p>
                                            </div>
                                            <div class="col-xs-9">
                                                <p>Jakarta (CGK) - Denpasar, Bali (DPS)</p>
                                                <p>Kamis, 15 Okt 2015</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flight return">
                                        <p><img src="/Assets/images/airlines/AK.png" alt="AirAsia" /> <span>AIRASIA</span> </p>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <p>Berangkat : </p>
                                            </div>
                                            <div class="col-xs-9">
                                                <p>Jakarta (CGK) - Denpasar, Bali (DPS)</p>
                                                <p>Kamis, 15 Okt 2015</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="order-detail-right col-xs-4">
                                <div class="price-detail">
                                    <h4>RINCIAN HARGA</h4>
                                    <dl>
                                        <dt>Penerbangan Pergi <span>(4 Penumpang)</span></dt>
                                        <dd>Rp 999.999.999</dd>
                                    </dl>
                                    <dl>
                                        <dt>Penerbangan Pulang (4 penumpang)</dt>
                                        <dd>Rp 999.999.999</dd>
                                    </dl>
                                    <dl class="total-price">
                                        <dt>Total</dt>
                                        <dd>Rp 999.999.999</dd>
                                    </dl>
                                </div>

                                <div class="payment-detail">
                                    <h4>METODE PEMBAYARAN</h4>
                                    <h5>Credit Card</h5>
                                    <img src="/Assets/images/payment-cc.jpg" alt="Credit Card" />
                                </div>

                            </div>

                        </div>
                    </div>

                </section>
            </section><!-- .order-detail -->

        </div>

    </div>
}