@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-checkout page-checkout-flight";

    ViewBag.SiteHeader = "checkout";
}
@section AdditionalCSS {
    <link href="/Assets/css/jquery-ui.min.css" rel="stylesheet" />
}
@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}
@section PageJS{
    <script>
        var langCode = 'en';
        var currentPage = 1;
        // flight detail
        var token = @Model.Token;
        var paymentDetail = '';
        var flightDetail = '';
        var expiryDate = '@Model.ExpiryTime.ToString("o")';
        var itinerary = '@Model.Itinerary.Trips';
        var price = @Model.Itinerary.TotalFare;
        // passenger number
        var adultPassenger = 1;
        var adultTypeName = 'Adult';
        var childPassenger = 0;
        var childTypeName = 'Child';
        var infantPassenger = 0;
        var infantTypeName = 'Infant';
        // passport or id requirement
        var passportRequired = true;
        var idRequired = true;
        var nationalityRequired = true;

        // change current page
        if (getParam('page') == 2) {
            currentPage = getParam('page');
        } else {
            currentPage = 1;
        }

</script>
    <!-- angular controller -->
    <script src="/Assets/travorama20/js/checkoutController.js"></script>
}

<div ng-app="travorama" ng-controller="checkoutController" class="page-loading" ng-class="{'page-loaded' : pageLoaded}">

    <section class="checkout-step {{stepClass}}">
        <div class="container">
            <div class="step step-1" ng-class="{'active' : currentPage == 1, 'inactive' : currentPage > 1}"><span>01. <b>Data Pesanan</b></span></div>
            <div class="step step-2" ng-class="{'active' : currentPage == 2, 'inactive' : currentPage > 2}"><span>02. <b>Data Kontak</b></span></div>
            <div class="step step-3" ng-class="{'active' : currentPage == 3, 'inactive' : currentPage > 3}"><span>03. <b>Data Penumpang</b></span></div>
            <div class="step step-4" ng-class="{'active' : currentPage == 4}"><span>04. <b>Pembayaran</b></span></div>
        </div>
    </section><!-- .checkout-step -->

    <section class="checkout-content">

        <div class="container">

            <div class="row">

                <div class="col-sm-8">

                    <div class="content-step" id="step-1" ng-show="currentPage == 1">

                        <h3><b>RINCIAN</b> PENERBANGAN</h3>
                        <div class="flight-detail" id="departure-flight">
                            <header>
                                <span>Penerbangan Pergi</span>
                                <div class="fare-detail">
                                    <b>JKT</b> to <b>DPS</b> | 15-02-2015
                                </div>
                            </header>
                            <section class="detail-content">
                                <div class="segment">
                                    <h5 class="segment-airline-name">Singapore Airlines ABC-1234 <span class="pull-right"></span></h5>
                                    <div class="segment-number">
                                        <span>1<sup>st</sup></span>
                                    </div>
                                    <div class="segment-left">
                                        <img src="/Assets/images/airlines/AK.png" alt="AirAsia" class="segment-airline-logo" />
                                    </div>
                                    <div class="segment-right">
                                        <div class="segment-departure">
                                            <h5>Selasa, 15 Feb 2015</h5>
                                            <h3>15.00</h3>
                                            <h4>Jakarta (CGK)</h4>
                                            <h5>Soekarno Hatta Intl.</h5>
                                        </div>
                                        <div class="segment-duration">
                                            <h5><span>Duration :</span> 9h 20m</h5>
                                        </div>
                                        <div class="segment-arrival">
                                            <h5>Selasa, 15 Feb 2015</h5>
                                            <h3>15.00</h3>
                                            <h4>Jakarta (CGK)</h4>
                                            <h5>Soekarno Hatta Intl.</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="transit">
                                    <p>Transit di Singapore selama 2h 55m</p>
                                </div>
                                <div class="segment">
                                    <h5 class="segment-airline-name">Singapore Airlines ABC-1234 <span class="pull-right"></span></h5>
                                    <div class="segment-number">
                                        <span>2<sup>nd</sup></span>
                                    </div>
                                    <div class="segment-left">
                                        <img src="/Assets/images/airlines/AK.png" alt="AirAsia" class="segment-airline-logo" />
                                    </div>
                                    <div class="segment-right">
                                        <div class="segment-departure">
                                            <h5>Selasa, 15 Feb 2015</h5>
                                            <h3>15.00</h3>
                                            <h4>Jakarta (CGK)</h4>
                                            <h5>Soekarno Hatta Intl.</h5>
                                        </div>
                                        <div class="segment-duration">
                                            <h5><span>Duration :</span> 9h 20m</h5>
                                        </div>
                                        <div class="segment-arrival">
                                            <h5>Selasa, 15 Feb 2015</h5>
                                            <h3>15.00</h3>
                                            <h4>Jakarta (CGK)</h4>
                                            <h5>Soekarno Hatta Intl.</h5>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div><!-- .flight-detail -->

                        <div class="flight-detail" id="return-flight">
                            <header>
                                <span>Penerbangan Pulang</span>
                                <div class="fare-detail">
                                    <b>JKT</b> to <b>DPS</b> | 15-02-2015
                                </div>
                            </header>
                            <section class="detail-content">
                                <div class="segment">
                                    <h5 class="segment-airline-name">Singapore Airlines ABC-1234 <span class="pull-right"></span></h5>
                                    <div class="segment-number">
                                        <span>1<sup>st</sup></span>
                                    </div>
                                    <div class="segment-left">
                                        <img src="/Assets/images/airlines/AK.png" alt="AirAsia" class="segment-airline-logo" />
                                    </div>
                                    <div class="segment-right">
                                        <div class="segment-departure">
                                            <h5>Selasa, 15 Feb 2015</h5>
                                            <h3>15.00</h3>
                                            <h4>Jakarta (CGK)</h4>
                                            <h5>Soekarno Hatta Intl.</h5>
                                        </div>
                                        <div class="segment-duration">
                                            <h5><span>Duration :</span> 9h 20m</h5>
                                        </div>
                                        <div class="segment-arrival">
                                            <h5>Selasa, 15 Feb 2015</h5>
                                            <h3>15.00</h3>
                                            <h4>Jakarta (CGK)</h4>
                                            <h5>Soekarno Hatta Intl.</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="transit">
                                    <p>Transit di Singapore selama 2h 55m</p>
                                </div>
                                <div class="segment">
                                    <h5 class="segment-airline-name">Singapore Airlines ABC-1234 <span class="pull-right"></span></h5>
                                    <div class="segment-number">
                                        <span>2<sup>nd</sup></span>
                                    </div>
                                    <div class="segment-left">
                                        <img src="/Assets/images/airlines/AK.png" alt="AirAsia" class="segment-airline-logo" />
                                    </div>
                                    <div class="segment-right">
                                        <div class="segment-departure">
                                            <h5>Selasa, 15 Feb 2015</h5>
                                            <h3>15.00</h3>
                                            <h4>Jakarta (CGK)</h4>
                                            <h5>Soekarno Hatta Intl.</h5>
                                        </div>
                                        <div class="segment-duration">
                                            <h5><span>Duration :</span> 9h 20m</h5>
                                        </div>
                                        <div class="segment-arrival">
                                            <h5>Selasa, 15 Feb 2015</h5>
                                            <h3>15.00</h3>
                                            <h4>Jakarta (CGK)</h4>
                                            <h5>Soekarno Hatta Intl.</h5>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div><!-- .flight-detail -->

                        <div class="step-button">
                            <button class="btn btn-yellow" ng-click="changePage(2)">LANJUTKAN</button>
                        </div>

                    </div><!-- .content-step#step-1 -->
                    <!-- ******************** -->

                    <div class="content-step" id="step-2" ng-show="currentPage == 2">

                        <h3><b>DETAIL</b> PEMESAN</h3>

                        <div class="travorama-login" ng-class="{'active' : loginShown}">
                            <a class="login-toggle" ng-click="toggleLogin()"><b>Login</b> with your <b>TRAVORAMA</b> Account <span class="caret"></span></a>
                            <div class="login-content">
                                <form class="form form-horizontal">
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                            <input type="text" class="form-control" id="login-username" value="" placeholder="Email Address" />
                                        </div>
                                        <div class="col-xs-5">
                                            <input type="password" class="form-control" id="login-password" value="" placeholder="Password" />
                                        </div>
                                        <div class="col-xs-2">
                                            <input type="submit" value="LOG IN" class="btn btn-yellow form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-10 text-right">
                                            <a href="#">Lupa Password?</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!-- .travorama-login -->

                        <form class="form" id="buyer-form" name="buyerForm" novalidate >

                            <div class="form-group">
                                <label class="control-label">Title:</label>
                                <div>
                                    <select class="form-control" id="buyer-title" name="title" ng-model="buyerInfo.title" ng-init="buyerInfo.title = titles[0].name">
                                        <option ng-repeat="title in titles" value="{{title.name}}">{{title.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error' : buyerForm.fullname.$touched && buyerForm.fullname.$invalid}">
                                <label class="control-label important">Nama Lengkap :</label>
                                <div>
                                    <input type="text" class="form-control" value="" id="buyer-fullname" placeholder="Full Name" name="fullname" ng-model="buyerInfo.fullname" required />
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error' : (buyerForm.phone.$touched && buyerForm.phone.$invalid) || (buyerForm.countryCode.$touched && buyerForm.countryCode.$invalid)}">
                                <label class="control-label important">Nomor Telepon:</label>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <p>Country Code</p>
                                        <input type="number" name="countryCode" value="" class="form-control" placeholder="ex : 62 for Indoneisa" required ng-model="buyerInfo.countryCode" />
                                    </div>
                                    <div class="col-xs-9">
                                        <p>Nomor Telepon (Tanpa Kode Negara)</p>
                                        <input type="number" class="form-control" value="" id="buyer-phone" placeholder="Ex: 821 2345 6789 (without Country Code)" name="phone" ng-model="buyerInfo.phone" required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error' : buyerForm.email.$touched && buyerForm.email.$invalid}">
                                <label class="control-label important">Masukan Alamat Email Anda:</label>
                                <div>
                                    <input type="email" class="form-control" value="" id="buyer-email" placeholder="Ex: Email@Travel Madezy.com" name="email" ng-model="buyerInfo.email" required />
                                </div>
                            </div>

                        </form><!-- #buyer-form -->

                        <div class="step-button">
                            <button class="btn btn-grey" ng-click="changePage(1)">KEMBALI</button>
                            <button class="btn btn-yellow" ng-click="changePage(3)" ng-disabled="buyerForm.$invalid">LANJUTKAN</button>
                        </div>

                    </div><!-- .content-step#step-2 -->
                    <!-- ******************** -->
                    <div class="content-step" id="step-3" ng-show="currentPage == 3">
                        <h3><b>DETAIL</b> PENUMPANG</h3>

                        <div class="passenger-detail">

                            <div class="passenger-form" id="passenger-{{$index}}" ng-repeat="passenger in passengers track by $index">
                                <header>
                                    <span>Penumpang {{$index + 1}} ({{passenger.typeName}}) <span ng-show="passenger.firstname || passenger.lastname"> : {{ passenger.title + ' ' + passenger.firstname + ' ' + passenger.lastname}}</span></span>
                                    <span class="toggle hidden"></span>
                                </header>
                                <div class="passenger-content">

                                    <form novalidate name="passengerForm_{{$index}}" ng-init="initPassenger(passenger)">

                                        <div class="form-group">
                                            <label class="control-label">Title</label>
                                            <select class="form-control" name="title" ng-model="passenger.title" ng-init="passenger.title = titles[0].name">
                                                <option ng-repeat="title in titles" value="{{title.name}}" ng-selected="title.name == 'Mr'" ng-if="!(title.name == 'Mrs' && passenger.type != 'adult')">{{title.name}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': passengerForm_{{$index}}.firstname.$invalid && passengerForm_{{$index}}.firstname.$touched }">
                                            <label class="control-label important">Nama Depan (dan Nama Tengah) :</label>
                                            <input type="text" value="" name="firstname" class="form-control" placeholder="First Name" ng-model="passenger.firstname" ng-change="passenger.firstname = passenger.firstname.split(' ').join('')" required />
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': passengerForm_{{$index}}.lastname.$invalid && passengerForm_{{$index}}.lastname.$touched }">
                                            <label class="control-label important">Nama Belakang / Nama Keluarga :</label>
                                            <input type="text" value="" name="lastname" class="form-control" placeholder="Last Name" ng-model="passenger.lastname" ng-change="passenger.lastname = passenger.lastname.split(' ').join('')" required />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label important">Tanggal Lahir :</label>
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <select class="form-control" ng-model="passenger.birth.date" required ng-change="validateBirthday(passenger)">
                                                        <option value="{{date}}" ng-repeat="date in dates(passenger.birth.month, passenger.birth.year)" ng-selected="date == passenger.birth.date">{{date}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4">
                                                    <select class="form-control" ng-model="passenger.birth.month" required ng-change="validateBirthday(passenger)">
                                                        <option value="{{month.value}}" ng-repeat="month in months" ng-selected="month.value == passenger.birth.month" ng-if="passenger.type == 'adult'">{{month.name}}</option>
                                                        <option value="{{month.value}}" ng-repeat="month in months" ng-selected="month.value == passenger.birth.month" ng-if="passenger.type == 'child' && !(passenger.birth.year == flightDetail.minYearChild && month.value < flightDetail.departureMonth)">{{month.name}}</option>
                                                        <option value="{{month.value}}" ng-repeat="month in months" ng-selected="month.value == passenger.birth.month" ng-if="passenger.type == 'infant' && !(passenger.birth.year == flightDetail.minYearInfant && month.value < flightDetail.departureMonth)">{{month.name}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4">
                                                    <select class="form-control" ng-model="passenger.birth.year" required ng-change="validateBirthday(passenger)">
                                                        <option value="{{year}}" ng-repeat="year in generateYear(passenger.type)" ng-selected="year == passenger.birth.year">{{year}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- passport detail for international flight -->
                                        <div class="form-group" ng-if="passportRequired">
                                            <label class="control-label important">Passport</label>
                                            <div class="row">
                                                <div class="col-xs-6" ng-class="{'has-error' : passengerForm_{{$index}}.passportNumber.$invalid && passengerForm_{{$index}}.passportNumber.$touched}">
                                                    <label class="control-label"><small>No. Passport</small></label>
                                                    <input type="text" value="" class="form-control" name="passportNumber" ng-model="passenger.passport.number" ng-required="passportRequired" />
                                                </div>
                                                <div class="col-xs-6">
                                                    <label class="control-label"><small>Passport Country</small></label>
                                                    <select class="form-control" name="passportCountry" ng-model="passenger.passport.country" ng-init="passenger.passport.country = countries[87]" ng-required="passportRequired">
                                                        <option ng-repeat="country in countries" value="{{country}}" ng-selected="country == 'Indonesia'">{{country}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label class="control-label"><small>Passport Expires</small></label>
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <select class="form-control" ng-model="passenger.passport.expire.date" ng-required="passportRequired" ng-change="validatePassport(passenger)">
                                                                <option value="{{date}}" ng-repeat="date in dates(passenger.passport.expire.month, passenger.passport.expire.year)" ng-selected="date == passenger.passport.expire.date" ng-if="!(passenger.passport.expire.year == flightDetail.passportYear && passenger.passport.expire.month == flightDetail.passportMonth && date < flightDetail.passportDate)">{{date}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <select class="form-control" ng-model="passenger.passport.expire.month" ng-required="passportRequired" ng-change="validatePassport(passenger)">
                                                                <option value="{{month.value}}" ng-repeat="month in months" ng-if="!(passenger.passport.expire.year == flightDetail.passportYear && month.value < flightDetail.passportMonth)">{{month.name}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <select class="form-control" ng-model="passenger.passport.expire.year" ng-required="passportRequired" ng-change="validatePassport(passenger)">
                                                                <option value="{{year}}" ng-repeat="year in generateYear('passport')">{{year}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="idRequired" ng-class="{'has-error': passengerForm_{{$index}}.idNumber.$invalid && passengerForm_{{$index}}.idNumber.$touched }">
                                            <label class="control-label important">Nomer KTP / SIM</label>
                                            <input type="text" class="form-control" name="idNumber" ng-model="passenger.idNumber" value="" ng-required="idRequired" ng-change="passenger.idNumber = passenger.idNumber.split(' ').join('')" />
                                        </div>
                                        <div class="form-group" ng-if="nationalityRequired">
                                            <label class="control-label">Kewarganegaraan</label>
                                            <select class="form-control" ng-model="passenger.nationality" ng-init="passenger.nationality = countries[87]" ng-required="nationalityRequired">
                                                <option ng-repeat="country in countries" value="{{country}}" ng-selected="country == 'Indonesia'">{{country}}</option>
                                            </select>
                                        </div>

                                    </form>
                                </div>
                            </div><!-- .passenger-form -->

                        </div><!-- .passengerdetail -->

                        <div class="step-button">
                            <a class="btn btn-grey" ng-click="changePage(2)">KEMBALI</a>
                            <a class="btn btn-yellow" ng-click="changePage(4)">LANJUTKAN</a>
                        </div>
                        <h4 style="padding:15px;" class="bg-danger" ng-show="!passengersForm.valid && passengersForm.checked">Perika kembali form Anda.</h4>

                    </div><!-- .content-step#step-3 -->
                    <!-- ******************** -->
                    <div class="content-step" id="step-4" ng-show="currentPage == 4">
                        <h3><b>METODE</b> PEMBAYARAN</h3>
                    
                        <hr />
                        <p>Silahkan pilih <b>metode pembayaran</b> dibawah ini yang ingin Anda gunakan:</p>        
                    
                        <div class="payment-wrapper">
                        
                            <div class="row">

                                <div class="payment transfer col-xs-4">
                                    <label>
                                        <header>
                                            <div class="input-wrapper">
                                                <input type="radio" name="paymentMethod" value="transfer" ng-model="paymentMethod" checked />
                                            </div>
                                            <h5>Bank Transfer</h5>
                                        </header>
                                        <section>
                                            <img src="/Assets/images/payment-atm.jpg" alt="Bank Transfer" />
                                        </section>
                                    </label>
                                </div><!-- .payment -->

                                <div class="payment creditcard col-xs-4">
                                    <label>
                                        <header>
                                            <div class="input-wrapper">
                                                <input type="radio" name="paymentMethod" value="creditcard" ng-model="paymentMethod" checked />
                                            </div>
                                            <h5>Kartu Kredit</h5>
                                        </header>
                                        <section>
                                            <img src="/Assets/images/payment-cc.jpg" alt="kartu Kredit" />
                                        </section>
                                    </label>
                                </div><!-- .payment -->

                                <div class="payment virtualAccount col-xs-4">
                                    <label>
                                        <header>
                                            <div class="input-wrapper">
                                                <input type="radio" name="paymentMethod" value="virtualAccount" ng-model="paymentMethod" checked />
                                            </div>
                                            <h5>Virtual Account</h5>
                                        </header>
                                        <section>
                                            <img src="/Assets/images/payment-atm.jpg" alt="Virtual Account" />
                                        </section>
                                    </label>
                                </div><!-- .payment -->

                            </div>
                        
                            <div class="row">
                                <div class="payment mandiri col-xs-4">
                                    <label>
                                        <header>
                                            <div class="input-wrapper">
                                                <input type="radio" name="paymentMethod" value="mandiri" ng-model="paymentMethod" checked />
                                            </div>
                                            <h5>Mandiri Clickpay</h5>
                                        </header>
                                        <section>
                                            <img src="/Assets/images/payment-mandiri.jpg" alt="Bank Transfer" />
                                        </section>
                                    </label>
                                </div><!-- .payment -->
                            </div>

                        </div><!-- .payment-wrapper -->

                        <div class="step-button">
                            <p>*Dengan klik tombol ‘Bayar’, Anda telah setuju dengan <a href="#">syarat &amp; ketentuan</a> dan <a href="#">kebijakan privasi</a></p>
                            <button class="btn btn-grey" ng-click="changePage(3)" ng-disabled="checkoutForm.loading">KEMBALI</button>
                            <button class="btn btn-yellow" ng-click="submitCheckoutForm()" ng-disabled="checkoutForm.loading">{{ !checkoutForm.loading ? "Bayar" : "MEMPROSES" }}</button>
                        </div>

                    </div><!-- .content.step#step-4 -->


                </div>
                <div class="col-sm-4">

                    <div class="widget-container">
                        <div class="widget price-detail">
                            <h3 class="widget-title"><b>RINCIAN</b> HARGA</h3>
                            <div class="widget-content">
                                <dl>
                                    <dt>Total Tiket</dt>
                                    <dd><sup>Rp</sup> {{price | number}}</dd>
                                </dl>
                                <dl class="total-price">
                                    <dt>Total</dt>
                                    <dd><sup>Rp</sup> {{totalPrice | number}}</dd>
                                </dl>
                            </div>
                            <footer>
                                <small>* Harga ini masih bisa berubah, harga final maskapai akan dikonfirmasi kembali pada proses pembayaran</small>
                            </footer>
                        </div><!-- .widget.price-detail -->
                        <div class="widget voucher" ng-show="currentPage == 4">
                            <h3 class="widget-title"><b>KODE</b> VOUCHER</h3>
                            <div class="widget-content">
                                <span><b>Punya Kupon Travorama ?</b></span>
                                <p>Masukan disini</p>
                                <form class="form">
                                    <div class="form-group">
                                        <input type="text" name="voucher" value="" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-6 col-xs-offset-6">
                                                <input type="submit" value="REDEEM" class="btn btn-yellow form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!-- .widget.voucher -->
                        <div class="widget flight" ng-show="currentPage > 1">
                            <div class="flight-detail" id="departure-flight">
                                <h3 class="widget-title"><b>RINCIAN</b> PENERBANGAN</h3>
                                <div>
                                    <header><span>PENERBANGAN PERGI</span></header>
                                    <div class="widget-content">
                                        <div class="airline">
                                            <img src="/Assets/images/airlines/AK.png" alt="AirAsia" class="airline-image" />
                                            <h4 class="airline-name">Singapore Airline</h4>
                                        </div>
                                        <div class="route">
                                            <div class="origin">
                                                <h5>21-12-2015</h5>
                                                <h4>21:35</h4>
                                                <h4>JKT</h4>
                                                <h5>Bandar Lampung</h5>
                                            </div>
                                            <div class="duration"></div>
                                            <div class="destination">
                                                <h5>21-12-2015</h5>
                                                <h4>21:35</h4>
                                                <h4>JKT</h4>
                                                <h5>Bandar Lampung</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .widget.flight-detail -->
                            <div class="flight-detail" id="return-flight">
                                <div>
                                    <header><span>PENERBANGAN PERGI</span></header>
                                    <div class="widget-content">
                                        <div class="airline">
                                            <img src="/Assets/images/airlines/AK.png" alt="AirAsia" class="airline-image" />
                                            <h4 class="airline-name">Singapore Airline</h4>
                                        </div>
                                        <div class="route">
                                            <div class="origin">
                                                <h5>21-12-2015</h5>
                                                <h4>21:35</h4>
                                                <h4>JKT</h4>
                                                <h5>Bandar Lampung</h5>
                                            </div>
                                            <div class="duration"></div>
                                            <div class="destination">
                                                <h5>21-12-2015</h5>
                                                <h4>21:35</h4>
                                                <h4>JKT</h4>
                                                <h5>Bandar Lampung</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .widget.flight-detail -->
                        </div>
                        <div class="widget passenger-detail"></div><!-- .widget.passenger-detail -->
                    </div><!-- .widget-container -->

                </div>

            </div>

        </div>

    </section><!-- .checkout-content -->
    
    <div class="checkout-form">
        <form action="/" method="post">
            
            <input type="text" name="Token" value=""/>
            <input type="text" name="Payment.Currency" value="IDR" />
            
            <p>Buyer Info</p>
            <input type="text" name="Contact.Name" value="" ng-model="buyerInfo.fullname" />
            <input type="text" name="Contact.CountryCode" value="" ng-model="buyerInfo.countryCode" />
            <input type="text" name="Contact.Phone" value="" ng-model="buyerInfo.phone" />
            <input type="text" name="Contact.Email" value="" ng-model="buyerInfo.email" />
            
            <p>Passenger Info</p>
            <div ng-repeat="passenger in passengers track by $index">
                
                <input type="text" name="Passengers[{{$index}}].Type" value="" />
                <input type="text" name="Passengers[{{$index}}].Title" value="" />
                <input type="text" name="Passengers[{{$index}}].FirstName" value="" />
                <input type="text" name="Passengers[{{$index}}].LastName" value="" />
                <input type="text" name="Passengers[{{$index}}].BirthDate" value="" />
                
                <input type="text" name="Passengers[{{$index}}].PassportNumber" value="" />
                <input type="text" name="Passengers[{{$index}}].PassportExpiryDate" value="" />
                <input type="text" name="Passengers[{{$index}}].Country" value="" />

            </div>
            
            <p>Payment Method</p>
            <input type="text" name="Payment.Method" value="" />


        </form>
    </div><!-- .checkout-form -->

</div>