@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-flight page-flight-oneway";
    ViewBag.FooterSubscribe = false;
    ViewBag.FooterPayment = false;
    ViewBag.FooterFeedback = false;
}

@section PageJS{
    <script>
        flightPageFunctions();
    </script>
}

<section class="slider">
    
</section><!-- .slider -->
<section class="search-form">
    
</section><!-- .search-form -->
<section class="search-result one-way">
    <div class="container">
        <h2><b>HASIL</b> PENCARIAN</h2>
    </div>
    <div class="search-result-filter">
        
    </div><!-- .flight-result-filter -->
    <div class="search-result-sort">
        <div class="container">
            <div class="sort-airline">
                <span>Maskapai</span>
            </div>
            <div class="sort-departure">
                <span>Berangkat</span>
            </div>
            <div class="sort-duration">
                <span>Durasi</span>
            </div>
            <div class="sort-arrival">
                <span>Tiba</span>
            </div>
            <div class="sort-price">
                <span>Harga Total</span>
            </div>
        </div>
    </div><!-- .flight-result-sort -->
    <div class="search-result-list">
        <div class="container">
            
            <div class="flight">
                <div class="flight-summary">
                    <div class="flight-summary-left">
                        <div class="summary-top">
                            <div class="summary-top-left flight-airline">
                                <h5>AIRASIA</h5>
                                <img src="/Assets/images/airlines/AK.png" alt="AirAsia" />
                            </div><!-- .flight-airline -->
                            <div class="summary-top-right flight-date">
                                <div class="flight-date-departure">
                                    <h4>JKT <span>21:35</span></h4>
                                    <h5>15 - Feb - 2015</h5>
                                </div>
                                <div class="flight-date-duration">
                                    <h5 class="time">9h 20m</h5>
                                    <h5 class="transit">1 Transit</h5>
                                </div>
                                <div class="flight-date-arrival">
                                    <h4>DPS <span>22:35</span></h4>
                                    <h5>15 - Feb - 2015</h5>
                                </div>
                            </div><!-- .flight-date -->
                        </div><!-- .summary-top -->
                        <div class="summary-bottom">
                            <div class="summary-bottom-left flight-facilities">
                                <span class="flight-baggage">15</span>
                                <span class="flight-tax"></span>
                                <span class="flight-meal"></span>
                            </div><!-- .flight-facilities -->
                            <div class="summary-bottom-right flight-button">
                                <a href="#" class="flight-detail-trigger">Detail Penerbangan <span class="caret"></span></a>
                                <a href="#" class="flight-rules-trigger">Syarat &amp; Ketentuan <span class="caret"></span></a>
                            </div><!-- .flight-button -->
                        </div><!-- .summar-bottom -->
                    </div>
                    <div class="flight-summary-right">
                        <h4 class="flight-price"><sup>Rp</sup> 999.999.999</h4>
                        <small>*Harga Sudah Termasuk Pajak &amp; Service Charge</small>
                        <a href="#" class="btn btn-yellow blcok">PESAN</a>
                    </div>
                </div><!-- .flight-summary -->
                <div class="flight-detail">
                    <h3>Detail Penerbangan <span class="close-flight-detail pull-right">X</span></h3>
                    <div class="segment">
                        <div class="segment-number"><span>1<sup>st</sup></span></div>
                        <div class="segment-left">
                            <img src="/Assets/images/airlines/AK.png" alt="Airasia" class="segment-airline-logo" />
                            <h5 class="segment-airline-name">Airasia</h5>
                            <h5 class="segment-airline-number">QZK-1234</h5>
                        </div>
                        <div class="segment-right">
                            <div class="segment-departure">
                                <h5>Selasa, 15 Feb 2015</h5>
                                <h3>15.00</h3>
                                <h4>Jakarta (CGK)</h4>
                                <h5>Soekarno Hatta Intl</h5>
                            </div>
                            <div class="segment-duration">
                                <h5><span>Duration :</span> 9h 20m</h5>
                            </div>
                            <div class="segment-arrival">
                                <h5>Selasa, 15 Feb 2015</h5>
                                <h3>15.00</h3>
                                <h4>Jakarta (CGK)</h4>
                                <h5>Soekarno Hatta Intl</h5>
                            </div>
                        </div>
                    </div>
                    <div class="transit">
                        <p>Transit di Singapore selama 2:25:00</p>
                    </div>
                    <div class="segment">
                        <div class="segment-number"><span>2<sup>nd</sup></span></div>
                        <div class="segment-left">
                            <img src="/Assets/images/airlines/AK.png" alt="Airasia" class="segment-airline-logo" />
                            <h5 class="segment-airline-name">Airasia</h5>
                            <h5 class="segment-airline-number">QZK-1234</h5>
                        </div>
                        <div class="segment-right">
                            <div class="segment-departure">
                                <h5>Selasa, 15 Feb 2015</h5>
                                <h3>15.00</h3>
                                <h4>Jakarta (CGK)</h4>
                                <h5>Soekarno Hatta Intl</h5>
                            </div>
                            <div class="segment-duration">
                                <h5>Duration : 9h 20m</h5>
                            </div>
                            <div class="segment-arrival">
                                <h5>Selasa, 15 Feb 2015</h5>
                                <h3>15.00</h3>
                                <h4>Jakarta (CGK)</h4>
                                <h5>Soekarno Hatta Intl</h5>
                            </div>
                        </div>
                    </div>
                </div><!-- .flight-detail -->
            </div><!-- .flight-->

        </div>
    </div><!-- .search-result-list -->
</section><!-- .search-result.one-way -->