@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-password page-password-forgot";
}


<section class="form-section">
    
    <div class="container">
        
        <h1 class="text-center section-title stripe">INDENTIFIKASI <span>AKUN</span></h1>
        
        <p>Masukan alamat email Anda dan kami akan mengirimkan email instruksi untuk mengganti password Anda.</p>
        
        <div class="form-wrapper">
            <section class="form-content">
                <form class="form form-horizontal" name="forgot-password-form">
                    <div class="form-group">
                        <div class="col-xs-2 text-right">
                            <label class="control-label">Email :</label>
                        </div>
                        <div class="col-xs-7">
                            <input type="email" name="email" value="" class="form-control" placeholder="ex: your_name&#64;emaildomain.com" />
                        </div>
                        <div class="col-xs-3">
                            <input type="submit" value="KIRIM" class="btn btn-yellow form-control" />
                        </div>
                    </div>
                </form>
            </section><!-- .form-content -->
            <section class="form-content email-sent">
                <p><i>Pesan verifikasi telah dikirimkan ke alamat email Anda. Klik link yang telah dikirimkan ke email Anda untuk melanjutkan proses reset password Anda.</i></p>
            </section><!-- .form-content -->
        </div>

    </div>
    
</section><!-- .form-section -->