@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-account page-account-profile";
    ViewBag.PageActiveSection = "order";
}

@section AdditionalJS{
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}

@section PageJS{
    <script>
        var langCode = 'en';
    </script>
    <!-- angular controller -->
    <script src="/Assets/travorama20/js/accountController.js"></script>
}


<div class="container">
    <div class="row">

        <div class="col-xs-3">
            @Html.Partial("/Views/Shared/travorama20/_SectionUserMenu.cshtml")
        </div>
        <!-- ******************** -->

        <div class="col-xs-9">
            <section class="account-content">
            
                <div class="history-content">
                    <header class="content-header">
                        <h2><b>CEK</b> PEMESANAN</h2>
                    </header>
                    <section class="content-body">
                        
                        
                        <div class="order-wrapper">
                            @for (var i = 1; i <= 3; i++)
                            {
                                <div class="order flight">
                                    <header>
                                        <div class="row">
                                            <div class="col-xs-3">Maskapai </div>
                                            <div class="col-xs-9">: <span><b>GARUDA INDONESIA</b></span> <span class="pull-right">Order ID : <b>123456789012</b></span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">Maskapai 2</div>
                                            <div class="col-xs-9">: <span><b>GARUDA INDONESIA</b></span></div>
                                        </div>
                                    </header>
                                    <section>
                                        <div class="row">
                                            <div class="col-xs-10">
                                                <div class="detail">
                                                    <div class="row">
                                                        <div class="col-xs-4">Tujuan</div>
                                                        <div class="col-xs-8">: <span>Jakarta (CGK) to Denpasar, Bali (DPS) - (One Way)</span></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-4">Tanggal Ketibaan</div>
                                                        <div class="col-xs-8">: <b>15 Nov 2015</b> | Tanggal Pulang : <b>20 Nov 2015</b></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-4">Status</div>
                                                        <div class="col-xs-8">: <span class="status success">COMPLETE</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="action">
                                                    <a href="#" class="btn btn-yellow">DETAIL</a>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            }
                        </div><!-- .order-wrapper -->


                    </section>
                </div><!-- .history-content -->

            </section><!-- .account-content -->
        </div>

    </div>
</div>