@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-account page-account-register";
}

@section AdditionalJS{
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}
@section PageJS{
    <script>
        var langCode = 'en';
    </script>
    <!-- angular controller -->
    <script src="/Assets/travorama20/js/accountController.js"></script>
}
<section class="form-section" ng-app="travorama" ng-controller="authController">

    <div class="container">
        
        <div class="row">
            <div class="col-xs-7 col-xs-offset-4">
                <hgroup>
                    <h1>Bergabung dengan Travorama Sekarang!</h1>
                    <h4>Dan Dapatkan Banyak Keuntungan</h4>
                </hgroup>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-xs-offset-7">

                <form class="register-form form form-horizontal" name="registerForm">

                    <div class="form-group">
                        <input type="email" name="email" value="" placeholder="Alamat Email Anda" class="form-control" ng-model="form.email" required />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="LOGIN" class="btn btn-yellow form-control" ng-disabled="registerForm.$invalid" />
                    </div>

                    <div class="form-group text-right">
                        <a href="#linkToForgotPassword">Lupa Password?</a> | <a href="#linkToRegister">Register</a>
                    </div>

                </form>

            </div>
        </div>

    </div>

</section><!-- .form-section -->
@Html.Partial("/Views/Shared/travorama20/_SectionBenefit.cshtml")


