@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-account page-account-profile";
}

<div class="container">
    <div class="row">

        <div class="col-xs-3">
            <aside class="account-menu">

                <header>
                    <span>Shinta Tamara</span>
                </header>
                <ul>
                    <li class="profile"><a class="active">Ubah Profile</a></li>
                    <li class="order"><a>Cek Pemesanan</a></li>
                </ul>

            </aside><!-- -.account-menu -->
        </div>
        <!-- ******************** -->

        <div class="col-xs-9">
            <section class="account-content">

                <div>

                </div>

            </section><!-- .account-content -->
        </div>

    </div>
</div>