@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-account page-account-profile";
}

<div class="container">
    <div class="row">

        <div class="col-xs-3">
            <aside class="account-menu">

                <header>
                    <span>Shinta Tamara</span>
                </header>
                <ul>
                    <li class="profile"><a class="active">Ubah Profile</a></li>
                    <li class="order"><a>Cek Pemesanan</a></li>
                </ul>

            </aside><!-- -.account-menu -->
        </div>
        <!-- ******************** -->

        <div class="col-xs-9">
            <section class="account-content">

                <div class="profile-content">
                    <header class="content-header">
                        <h2><b>UBAH</b> PROFILE</h2>
                    </header>
                    <section class="content-body">
                        
                        <form name="profileForm" class="form form-horizontal">
                            <header>
                                <h4><b>LOGIN ID</b> <span class="pull-right"><a class="btn btn-yellow">EDIT PROFILE</a></span></h4>
                            </header>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <p class="control-label">Alamat Email</p>
                                </div>
                                <div class="col-xs-9">
                                    <p class="form-control-static">alamat@email.com</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <p class="control-label">Nama Depan</p>
                                </div>
                                <div class="col-xs-9">
                                    <p class="form-control-static">Shinta</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <p class="control-label">Nama Belakang</p>
                                </div>
                                <div class="col-xs-9">
                                    <p class="form-control-static">Tamara</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <p class="control-label">Nomor Telepon</p>
                                </div>
                                <div class="col-xs-9">
                                    <p class="form-control-static">082123456789</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <p class="control-label">Kewarganegaraan</p>
                                </div>
                                <div class="col-xs-9">
                                    <p class="form-control-static">Indonesia</p>
                                </div>
                            </div>
                        </form>
                        
                        <form name="passwordForm" class="form form-horizontal">
                            <header>
                                <h4><b>PASSWORD</b> <span class="pull-right"><a class="btn btn-yellow">EDIT PASSWORD</a></span></h4>
                            </header>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <p class="control-label">Alamat Email</p>
                                </div>
                                <div class="col-xs-9">
                                    <p class="form-control-static">alamat@email.com</p>
                                </div>
                            </div>
                        </form>

                    </section>
                </div><!-- .profile-content -->
            
                <!-- ***** -->
            
                <div class="history-content">
                    <header class="content-header">
                        <h2><b>CEK</b> PEMESANAN</h2>
                    </header>
                    <section class="content-body">
                        
                        
                        <div class="order-wrapper">
                            <div class="order flight">
                                <header>
                                    <span>Order ID : 123456798012</span>
                                </header>
                                <section class="container">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <div class="airline">
                                                <span>AIRASIA</span>
                                                <img src="/Assets/images/airlines/AK.png" alt="Airasia" />
                                            </div>
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="detail">
                                                <p>Tujuan : <b>JKT</b> to <b>DPS</b> (Roundtrip)</p>
                                                <p>Tanggal berangkat: 17 Des 2015 | Tanggal pulang: 20 Des 2015</p>
                                                <p>Status : <span class="success">COMPLETE</span></p>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <div class="action">
                                                <a href="#" class="btn btn-yellow">DETAIL</a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div><!-- .order-wrapper -->


                    </section>
                </div><!-- .history-content -->

            </section><!-- .account-content -->
        </div>

    </div>
</div>