@{
    ViewBag.Title = "ContactUs";
    ViewBag.SiteHeader = "header-contact";
    ViewBag.BodyClass = "contact-us";
}
<!DOCTYPE html>
<head>
    @section AdditionalCSS{
    <link rel="stylesheet" href="/Assets/travorama20/css/help_section.css">
    }

    @section PageJS {
    <script>
        staticPageFunctions();
    </script>
    }
</head>

<section>
    <div class="contactus-page">
        <div class="accordion-wrapper">
            <div class="accordion-title accordion">Section 1</div>
            <div class="accordion-content">
                <div class="accordion-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>

            <div class="accordion-title accordion">Section 1</div>
            <div class="accordion-content">
                <div class="accordion-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
            
            <div class="accordion-title accordion">Section 1</div>
            <div class="accordion-content">
                <div class="accordion-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
        </div>
    </div>
</section>