@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.Title = "Hubungi Kami";
    ViewBag.BodyClass = "page page-contact contact-us";
    ViewBag.SiteHeader = "header-contact-us";
    ViewBag.AngularController = "ContactController";
}
@section AdditionalCSS{
    <link rel="stylesheet" href="/Assets/travorama20/css/help_section.css">
}
@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}
@section PageJS{
    <script>
        var LoginMessage = '@ViewBag.Message';
    </script>
    <!-- angular controller -->
    <script src="/Assets/mobile/js/AccountController.js"></script>
}

<section>
    <div class="contactus-page">
        <div class="contact-map">
            <div class="container">

                <div class="contact-list">
                    <div class="address">
                        <h4>Alamat: </h4>
                        <p>Equity Tower 25th Floor, SCBD lot 9 Jl. Jenderal Sudirman kav.52-53 Jakarta 12190</p>
                    </div>
                    <div class="email">
                        <h4>E-mail: </h4>
                        <p><a href="mailto:cs@travorama.com">cs@travorama.com</a></p>
                    </div>
                </div>

            </div>
        </div><!-- .contact-map -->

        <div class="contact-social">
            <a href="https://www.facebook.com/travorama" class="facebook"></a>
            <a href="https://twitter.com/travoramaid" class="twitter"></a>
            <a href="https://www.instagram.com/travorama/" class="instagram"></a>
        </div><!-- .contact-social -->

        <div class="contact-form">
            <div class="container">

                <header class="page__header">
                    <h1 class="text-center section-title stripe">Hubungi <span>Kami</span></h1>
                </header><!-- .page__header -->

                <form novalidate>
                    <p>Kami menerima pertanyaan anda dengan senang hati. Silahkan kirim pesan melalui formulir di bawah ini.</p>
                    <div class="form-group">
                        <label class="control-label">Nama: </label>
                        <input type="text" name="Name" value="" class="form-control" placeholder="Nama Lengkap"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">E-mail: </label>
                        <input type="email" name="Email" value="" class="form-control" placeholder="email@example.com"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Subjek: </label>
                        <input type="text" name="Subjek" value="" class="form-control" placeholder="Judul pesan" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Pesan: </label>
                        <textarea class="form-control" placeholder="Tulis pesan Anda ..."></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-yellow btn-block">KIRIM</button>
                    </div>
                </form>
                <!-- if message sent start -->
                @*<div>
                    <p>Terima kasih telah menghubungi kami.</p>
                </div>*@
                <!-- if message sent end -->

            </div>
        </div><!-- .contact-form -->
    </div>
</section>