@{
    ViewBag.Title = "FAQs";
    ViewBag.SiteHeader = "header-faq";
    ViewBag.BodyClass = "faq";
}
<!DOCTYPE html>
<head>
    @section AdditionalCSS{
        <link rel="stylesheet" href="/Assets/travorama20/css/help_section.css">
    }
    @section AdditionalJS{
        <!-- additional Angular JS-->
        <script src="/Assets/vendor/dotdotdot/jquery.dotdotdot.js"></script>
    }
    @section PageJS {
        <script>
            accordionFunctions();
        </script>
    }
</head>

<section>
    <div class="faq-page">
        <div class="faq-header">
            Halaman ini berisikan pertanyaan yang sering ditanyakan serta jawabannya. Anda dapat mencari pertanyaan yang sesuai dengan apa yang anda butuhkan serta jawabannya.
        </div>
        <div class="faq-content">
            <div class="accordion-wrapper clearfix">
                <div class="accordion-title accordion"><div class="txt-title">Tentang Travorama</div></div>
                <div class="accordion-content">
                    <div class="accordion-subtitle">Siapa Travorama?</div>
                    <div class="accordion-desc">
                        Travorama adalah situs pencarian dan pembelian tiket pesawat di Indonesia untuk tujuan domestik maupun internasional dengan pilihan penerbangan lebih dari 900 maskapai. Kami menyediakan berbagai informasi, harga, ketersediaan, dan layanan pemesanan tiket pesawat yang dapat diakses oleh Anda kapan pun dan dimana pun. Kami berkomitmen untuk selalu membuat Anda merasakan pengalaman yang terbaik dalam melakukan perjalanan.
                    </div>
                </div>

                <div class="accordion-title accordion"><div class="txt-title">Kontak Travorama</div></div>
                <div class="accordion-content">
                    <div class="accordion-subtitle">Apakah akun social media Travorama?</div>
                    <div class="accordion-desc">
                        Facebook : <a href="http://www.facebook.com/travorama" target="_blank">www.facebook.com/travorama</a>
                        <br />
                        Instagram : <a href="http://www.instagram.com/travorama" target="_blank">www.instagram.com/travorama</a>
                        <br />
                        Twitter : <a href="http://www.twitter.com/travoramaid" target="_blank">www.twitter.com/travoramaid</a>
                    </div>
                </div>

                <div class="accordion-title accordion"><div class="txt-title">Berlangganan Newsletter</div></div>
                <div class="accordion-content">
                    <div class="accordion-subtitle">Apakah dikenakan biaya jika berlangganan Newsletter?</div>
                    <div class="accordion-desc">
                        Tidak ada biaya apapun yang dikenakan dengan berlangganan newsletter Travorama. Dengan berlangganan newsletter, Anda akan mendapatkan informasi penawaran terbaik, promo serta diskon special Travorama langsung di email Anda.
                    </div>
                </div>

                <div class="accordion-title accordion"><div class="txt-title">Diskon Voucher</div></div>
                <div class="accordion-content">
                    <ul>
                        <li>
                            <div class="accordion-subtitle">Apa yang dimaksud dengan Voucher Travorama?</div>
                            <div class="accordion-desc">
                                Voucher Travorama adalah voucher elektronik, yang diberikan kepada pelanggan Travorama dalam bentuk diskon atau potongan harga dengan nilai tertentu yang dapat digunakan untuk membeli tiket elektronik di Travorama.com dan Travorama App.
                            </div>
                        </li>
                        <li>
                            <div class="accordion-subtitle">Bagaimana cara untuk mendapatkan Voucher Travorama?</div>
                            <div class="accordion-desc">
                                Voucher Travorama dapat diperoleh dari promosi yang disampaikan di website, event yang digelar, voucher yang didistribusikan melalui newsletter, serta kuis di akun media sosial Travorama.
                            </div>
                        </li>
                        <li>
                            <div class="accordion-subtitle">Bagaimana cara menggunakan Voucher Travorama?</div>
                            <div class="accordion-desc">
                                <ol>
                                    <li>Cari tiket pesawat yang Anda inginkan (Pulang Pergi atau Sekali Jalan).</li>
                                    <li>Pilih penerbangan dengan mengklik tombol pesan.</li>
                                    <li>Isi data pelanggan.</li>
                                    <li><b>Masukkan kode voucher di halaman pembayaran</b> kemudian pilih metode pembayaran. Nominal pembayaran akan otomatis berkurang apabila kode voucher yang diinput telah selesai. </li>
                                    <li>Isi form pembayaran.</li>
                                    <li>Klik tombol Bayar.</li>
                                    <li>Transaksi selesai dan tunggu email Travorama yang berisi tiket penerbangan.</li>
                                </ol>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="accordion-title accordion"><div class="txt-title">Pemesanan Tiket Pesawat</div></div>
                <div class="accordion-content">
                    <ul>
                        <li>
                            <div class="accordion-subtitle">Bagaimana cara melakukan pemesanan atau booking tiket pesawat lewat Travorama?</div>
                            <div class="accordion-desc">
                                Cara pemesanan atau booking tiket pesawat dapat dilihat dari halaman <a href="#">cara pesan</a>.
                            </div>
                        </li>
                        <li>
                            <div class="accordion-subtitle">Apakah ada biaya pemesanan di Travorama?</div>
                            <div class="accordion-desc">
                                Tidak ada biaya pemesanan (booking fee) untuk setiap pemesanan dan pembelian tiket yang dilakukan di Travorama. Travorama selalu berusaha untuk mendapatkan harga tiket yang paling bersaing untuk Anda.
                            </div>
                        </li>
                        <li>
                            <div class="accordion-subtitle">Apakah nama yang terdaftar pada pesanan harus sama dengan tanda pengenal?</div>
                            <div class="accordion-desc">
                                Ya. Nama yang terdaftar pada pesanan harus sama dengan tanda pengenal (KTP, SIM, atau paspor).
                            </div>
                        </li>
                        <li>
                            <div class="accordion-subtitle">Apakah saya bisa menahan pesanan saya? Berapa waktu maksimal penahanan pemesanan?</div>
                            <div class="accordion-desc">
                                Anda dapat menahan pesanan Anda sekitar 2 jam sebelum Anda melakukan pembelian tiket. Apabila Anda belum melakukan pembayaran lebih dari 2 jam, maka pemesanan Anda akan dibatalkan secara otomatis. Anda tidak akan dapat menahan reservasi Anda apabila maskapai tidak mengijinkan Anda untuk menahannya lebih lama.
                            </div>
                        </li>
                        <li>
                            <div class="accordion-subtitle">Dari mana saya tahu bahwa pemesanan saya telah dikonfirmasi?</div>
                            <div class="accordion-desc">
                                Konfirmasi pemesanan berupa notifikasi e-mail yang berupa detail dan kode booking penerbangan, yang akan dibutuhkan untuk check in.
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="accordion-title accordion"><div class="txt-title">Harga</div></div>
                <div class="accordion-content">
                    <ul>
                        <li>
                            <div class="accordion-subtitle">Mengapa harga tiket dapat berubah?</div>
                            <div class="accordion-desc">
                                Harga dapat berubah dikarenakan penentuan harga yang merupakan hak dari masing-masing maskapai penerbangan. Untuk harga tiket penerbangan internasional, terdapat perubahan kurs sehingga perlu adanya konversi dari mata uang asing dengan Rupiah.
                            </div>
                        </li>
                        <li>
                            <div class="accordion-subtitle">Apakah harga yang tertera sudah termasuk biaya bagasi, pajak maskapai, dan biaya bensin tambahan?</div>
                            <div class="accordion-desc">
                                Harga yang tertera sudah termasuk pajak maskapai dan biaya bensin tambahan. Biaya bagasi tergantung pada kebijakan maskapai penerbangan yang dipilih.
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="accordion-title accordion"><div class="txt-title">Sistem Pembayaran</div></div>
                <div class="accordion-content">
                    <ul>
                        <li>
                            <div class="accordion-subtitle">Metode pembayaran apa saja yang dapat diterima di Travorama?</div>
                            <div class="accordion-desc">
                                Travorama menerima metode pembayaran dengan melalui Kartu Kredit (Visa dan Mastercard), CIMB Clicks, Mandiri Clickpay, Transfer (via ATM/SMS Banking/setoran bank), dan ATM (semua ATM Bank dalam jaringan ATM bersama, Prima, Alto).
                            </div>
                        </li>
                        <li>
                            <div class="accordion-subtitle">Apa perbedaan metode pembayaran Transfer dan ATM?</div>
                            <div class="accordion-desc">
                                Metode Transfer tersedia dari pukul 00.00-23.59 WIB, dan metode ATM tersedia 24 jam. Metode Transfer dapat Anda pilih apabila Anda ingin melakukan transfer pembayaran ke rekening Travorama pada BCA, BNI, BRI, atau Mandiri melalui Internet Banking, Mobile Banking, maupun setoran bank atau Non-ATM. Metode ATM dapat Anda pilih apabila Anda ingin melakukan pembayaran menggunakan mesin ATM dengan bank yang tergabung dalam jaringan ATM Bersama, Prima, dan Alto.
                            </div>
                        </li>
                        <li>
                            <div class="accordion-subtitle">Bagaimana jika saya tidak melakukan pembayaran setelah melakukan pemesanan?</div>
                            <div class="accordion-desc">
                                Apabila Anda tidak melakukan pembayaran setelah melakukan pemesanan sampai pada batas waktu yang telah ditentukan, maka tiket yang telah dipesan akan hangus dan dibatalkan secara otomatis oleh sistem.
                            </div>
                        </li>
                        <li>
                            <div class="accordion-subtitle">Apakah harga tiket bayi dan anak-anak berbeda dengan tiket dewasa?</div>
                            <div class="accordion-desc">
                                Beberapa maskapai penerbangan menawarkan harga tiket yang sama antara bayi dan anak-anak serta dewasa. Namun, banyak dari maskapai penerbangan lainnya yang memberikan diskon serta potongan harga untuk penumpang bayi atau anak-anak yang jumlahnya bervariasi, tergantung kepada masing-masing maskapai penerbangan.
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="accordion-title accordion"><div class="txt-title">Pembatalan, Penjadwalan Ulang, Pengembalan Dana</div></div>
                <div class="accordion-content">
                    <ul>
                        <li>
                            <div class="accordion-subtitle">Apakah saya dapat membatalkan pemesanan tiket pesawat saya?</div>
                            <div class="accordion-desc">
                                Apabila Anda belum melakukan pembayaran dan tiket konfirmasi kode booking belum dikeluarkan, maka Anda dapat mengabaikan pemesanan Anda.
                            </div>
                        </li>
                        <li>
                            <div class="accordion-subtitle">Apakah saya dapat mengubah jadwal penerbangan?</div>
                            <div class="accordion-desc">
                                Apabila Anda telah menerima tiket konfirmasi kode booking Anda, Anda dapat menghubungi pihak maskapai terkait untuk mengubah jadwal penerbangan Anda.
                            </div>
                        </li>
                        <li>
                            <div class="accordion-subtitle">Apakah saya akan mendapatkan pengembalian dana tiket?</div>
                            <div class="accordion-desc">
                                Beberapa maskapai penerbangan memberikan biaya pembatalan tiket, tergantung dari kebijakan maskapai penerbangan masing-masing.
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="accordion-title accordion"><div class="txt-title">Online Check-in</div></div>
                <div class="accordion-content">
                    <ul>
                        <li>
                            <div class="accordion-subtitle">Bagaimana cara melakukan online check-in?</div>
                            <div class="accordion-desc">
                                Mayoritas maskapai penerbangan menyediakan fasilitas online/web check-in di situs utama mereka. Berikut adalah standar cara online check-in:
                                <ol>
                                    <li>Buka halaman online check-in maskapai.</li>
                                    <li>Masukkan kode booking (PNR) atau Nama Belakang Penumpang.</li>
                                    <li>Lakukan online check-in pada halaman tersebut.</li>
                                    <li>Setelah online check-in berhasil, cetak boarding pass Anda.</li>
                                </ol>
                            </div>
                        </li>
                        <li>
                            <div class="accordion-subtitle">Mengapa saya tidak bisa online check-in?</div>
                            <div class="accordion-desc">
                                Beberapa maskapai seperti Lion Air (rute internasional), Nam Air, Sriwijaya Air, Wings Air hanya menyediakan check-in langsung di bandara.
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="accordion-title accordion"><div class="txt-title">Check-in di Bandara</div></div>
                <div class="accordion-content">
                    <ul>
                        <li>
                            <div class="accordion-subtitle">Apa yang perlu saya berikan pada counter check in untuk mendapatkan boarding pass?</div>
                            <div class="accordion-desc">
                                Anda perlu untuk menunjukkan tanda pengenal Anda (KTP, SIM, atau paspor) di counter check in, sehingga Anda dapat memperoleh boarding pass.
                            </div>
                        </li>
                        <li>
                            <div class="accordion-subtitle">Kapan waktu minimal saya harus sampai di bandara?</div>
                            <div class="accordion-desc">
                                Anda harus tiba di bandara paling lambat 2 jam sebelum waktu keberangkatan, karena Anda perlu untuk melakukan check interlebih dahulu untuk mendapatkan boarding pass.
                            </div>
                        </li>
                        <li>
                            <div class="accordion-subtitle">Bagaimana apabila saya ketinggalan pesawat?</div>
                            <div class="accordion-desc">
                                Pihak maskapai penerbangan akan mengenakan biaya pembataan atau ketentuan harus membeli tiket baru. Anda dapat mengirimkan email Anda ke cs@travorama.com.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>