@{
    Layout = "/Views/Shared/Desktop/_LayoutDesktop.cshtml";
    ViewBag.Title = "How To";
    ViewBag.SiteHeader = "header-how-to";
    ViewBag.BodyClass = "how-to";
}
<!DOCTYPE html>
<head>
    @section AdditionalCSS{
        <link rel="stylesheet" href="/Assets/css/help_section.css">
    }

    @section PageJS {
        <script>
            accordionFunctions();
        </script>
    }
</head>

<section>
    <div class="how-to-page">
        <div class="how-to-header">
            Berikut adalah langkah-langkah pemesanan yang akan anda lakukan untuk memesan penerbangan yang anda cari.
        </div>
        <div class="how-to-content">
            <div class="accordion-wrapper clearfix">
                <div class="accordion-title accordion">01&ensp; Isi Formulir Pencarian</div>
                <div class="accordion-content">
                    <div class="accordion-desc">
                        <b>Isi formulir di tiap baris.</b> Mulai dari kota asal, kota tujuan, tanggal keberangkatan sampai jumlah penumpang.
                        <br /><br /><img src="/Assets/images/helpSection/howtoorder-image-1.jpg" alt="How to Order Image 1"><br /><br />
                        Setiap baris akan membawa Anda ke halaman pengisian, contohnya di bawah ini <b>(kota tujuan)</b>
                        <br /><br /><img src="/Assets/images/helpSection/howtoorder-image-2.jpg" alt="How to Order Image 2">
                    </div>
                </div>

                <div class="accordion-title accordion">02&ensp; Pilih Penerbangan</div>
                <div class="accordion-content">
                    <div class="accordion-desc">
                        Di halaman hasil pencarian, <b>pilihlah dan <span class="italic">click</span> penerbangan yang sesuai dengan kebutuhan Anda</b>
                        <br /><br /><img src="/Assets/images/helpSection/howtoorder-image-3.jpg" alt="How to Order Image 3"><br /><br />
                        Pilih penerbangan yang ingin Anda pesan dengan menekan langsung baris penerbangan yang ada. Anda akan lanjut ke halaman formulir pemesanan
                    </div>
                </div>

                <div class="accordion-title accordion">03&ensp; Isi Formulir Pemesanan</div>
                <div class="accordion-content">
                    <div class="accordion-desc">
                        <b>Isi dengan nama lengkap, nomor telepon, dan alamat email Anda.</b> Pastikan informasi yang Anda berikan benar sebelum menekan tombol <b>Lanjut.</b>
                        <br /><br /><img src="/Assets/images/helpSection/howtoorder-image-4.jpg" alt="How to Order Image 4"><br /><br />
                        Setelah itu, Anda akan lanjut ke formulir <b>data penumpang</b> seperti dibawah ini
                        <br /><br /><img src="/Assets/images/helpSection/howtoorder-image-5.jpg" alt="How to Order Image 5">
                    </div>
                </div>

                <div class="accordion-title accordion">04&ensp; Pembayaran</div>
                <div class="accordion-content">
                    <div class="accordion-desc">
                        Pilih halaman pembayaran, <b>pilih metode pembayaran yang Anda ingin gunakan dengan menekan langsung pada pilihan metode.</b>
                        <br /><br /><img src="/Assets/images/helpSection/howtoorder-image-6.jpg" alt="How to Order Image 6"><br /><br />
                        Ikuti petunjuk pembayaran yang tertera dan selesaikan pembayaran Anda. E-ticket akan dikirim ke e-mail Anda dalam waktu 1 Jam.
                        <br /><br /><img src="/Assets/images/helpSection/howtoorder-image-7.jpg" alt="How to Order Image 7"><br /><br />
                        E-ticket seperti gambar di atas akan dikirimkan ke email yang Anda berikan dalam pengisian formulir pemesanan. Anda juga akan menerima SMS yang berisikan nomor pemesanan.
                    </div>
                </div>
            </div>
        </div>
        <div class="how-to-footer">
            <b>NOTE:</b>
            <br />
            <span class="italic">Jika Anda mengalami kendala dalam pemesanan, atau jika e-tiket belum diterima dalam waktu lebih dari 60 menit, silakan langsung hubungi kami.</span>
        </div>
    </div>
</section>