@{
    ViewBag.Title = "ContactUs";
    ViewBag.SiteHeader = "header-how-to";
    ViewBag.BodyClass = "how-to";
}
<!DOCTYPE html>
<head>
    @section AdditionalCSS{
    <link rel="stylesheet" href="/Assets/travorama20/css/help_section.css">
    }

    @section PageJS {
    <script>
        staticPageFunctions();
    </script>
    }
</head>

<section>
    <div class="how-to-page">
        <div class="how-to-header">
            
        </div>
        <div class="how-to-content">
            <div class="accordion-wrapper">
                <div class="accordion-title accordion">Isi Formulir Pencarian</div>
                <div class="accordion-content">
                    <div class="accordion-desc">
                        Isi formulir di tiap baris, mulai dari kota asal, kota tujuan, tanggal keberangkatan sampai jumlah penumpang
                        <br /><img src="/Assets/images/helpSection/howtoorder-image-1.jpg" alt="How to Order Image 1"><br />
                        Setiap baris akan membawa Anda ke halaman pengisian, contohnya di bawah ini (kota asal)
                        <br /><img src="#" alt="Alternate Text" />
                    </div>
                </div>

                <div class="accordion-title accordion">Pilih Penerbangan</div>
                <div class="accordion-content">
                    <div class="accordion-desc">
                        Di halaman hasil pencarian, pilihlah penerbangan yang ingin Anda pesan.
                        <br /><img src="#" alt="Alternate Text" /><br />
                        Pilih penerbangan yang ingin Anda pesan dengan menekan tombol Pesan, Anda akan dibawa ke halaman formulir pemesanan
                    </div>
                </div>

                <div class="accordion-title accordion">Isi Formulir Pemesanan</div>
                <div class="accordion-content">
                    <div class="accordion-desc">
                        Isi dengan nama lengkap, nomor telepon, dan alamat email Anda. Pastikan informasi yang Anda berikan benar sebelum menekan tombol Lanjutkan
                        <br /><img src="#" alt="Alternate Text" /><br />
                        Setelah itu, Anda akan dibawa ke halaman formulir data penumpang seperti dibawah ini:
                        <br /><img src="#" alt="Alternate Text" />
                    </div>
                </div>
                
                <div class="accordion-title accordion">Pembayaran</div>
                <div class="accordion-content">
                    <div class="accordion-desc">
                        Di halaman pembayaran, pilih metode pembayaran yang Anda ingin gunakan dengan menekan tombol Bayar.
                        <br /><img src="#" alt="Alternate Text" /><br />
                        Ikuti petunjuk pembayaran yang tertera dan selesaikan pembayaran Anda. Etiket akan dikirim ke e-mail Anda dalam waktu 1 Jam.
                        <br /><img src="#" alt="Alternate Text" /><br />
                        Etiket seperti gambar di atas akan dikirimkan ke email yang Anda berikan dalam pengisian formulir pemesanan. Anda juga akan menerima SMS yang berisikan nomor pemesanan.
                    </div>
                </div>
            </div>
        </div>
        <div class="how-to-footer">
            <b>NOTE:</b>
            <br />
            Jika Anda mengalami kendala dalam pemesanan, atau jika e-tiket belum diterima dalam waktu lebih dari 60 menit, silakan hubungi kami 24 jam non-stop.
        </div>
    </div>
    
</section>