<div class="guest-detail clearfix">
    <h3 class="summary__title"><b>RINCIAN</b> TAMU</h3>
    <div class="clearfix">
        <div class="rr-row clearfix">
            <div class="">Deluxe 2 Kings Bed Rooms</div>
            <div class="col-2">Tamu</div>
            <div class="col-8">Anonymous</div>
        </div>
        <div class="rr-row clearfix">
            <div class="">Deluxe Twin Bed Rooms</div>
            <div class="col-2">Tamu</div>
            <div class="col-8">Anonymous</div>
        </div>
    </div>
</div>