<div class="fb-hotel">
    <div class="clearfix">
        <div class="col-6 lg-txt blue-txt bold-txt">B Hotel Bali & Spa</div>
        <div class="col-4"><span class="star star-4 e-star pull-right"></span></div>
    </div>
    <div class="location sm-txt">Kios Tower AB No. 26, Jl. Karet Pasar Gang Tiong No: 62</div>
    <div class="fb-img" style="background-image: url(/Assets/mobile/images/Hotel/hotel-detail-lg.jpg)"></div>
    <div class="clearfix">
        <div class="fb-row clearfix">
            <div class="col-4">Check in</div>
            <div class="col-6 bold-txt">5 November 2016</div>
        </div>
        <div class="fb-row clearfix">
            <div class="col-4">Check out</div>
            <div class="col-6 bold-txt">9 November 2016</div>
        </div>
        <div class="fb-row clearfix">
            <div class="col-4">Malam</div>
            <div class="col-6 bold-txt">3 Malam</div>
        </div>
        <div class="fb-row clearfix">
            <div class="col-4">Kamar</div>
            <div class="col-6 bold-txt">2 Kamar</div>
        </div>
    </div>
    <div class="fb-req">
        <p class="bold-txt">Permintaan khusus:</p>
        <div>Dolor sit amet, consectetuer adipiscing elit, sed diam nonummy. ectetuer adipiscing elit, sed diam nonummy. </div>
    </div>
</div>