<div class="price-detail clearfix">
    <h3 class="summary__title"><b>RINCIAN</b> HARGA</h3>
    <div class="rr-row clearfix">
        <div class="col-half">1 Deluxe 2 Kings Bed Rooms  x 3 night</div>
        <div class="col-half right-txt semibold-txt">Rp 999.999.999</div>
    </div>
    <div class="rr-row clearfix">
        <div class="col-half">1 Standard Twin Rooms x 4 night</div>
        <div class="col-half right-txt semibold-txt">Rp 999.999.999</div>
    </div>
    <div class="rr-row clearfix">
        <div class="col-half">Pelayanan Kamar</div>
        <div class="col-half right-txt semibold-txt">Rp 999.999.999</div>
    </div>
    <div class="rr-row clearfix total">
        <div class="col-half bold-txt lg-txt">Total</div>
        <div class="col-half bold-txt lg-txt right-txt orange-txt">Rp 999.999.999</div>
    </div>
</div>