<form class="hotel-form" name="hotel-form" novalidate>
    <div class="th-form">
        <div class="top-wrap">
        <div class="form-group form__hotel">
            <div class="field-container" ng-click="PageConfig.SetOverlay('hotel-select')">
                @*<p class="form-control form-hotel" ng-click="PageConfig.SetOverlay('hotel-select')">Tujuan <span class="hotel-placeholder">Kota, Wilayah atau Nama Hotel</span></p>*@
                <p class="form-control form-hotel">
                    Tujuan
                    <span class="hotel-placeholder" placeholder="Kota, Wilayah atau Nama Hotel">{{hotelSearch.locationDisplay}}</span>
                </p>
                @*| filter:placeholderFilter(hotelSearch.locationDisplay)*@
            </div>
        </div>
        <div class="form-group form__date">
            <div class="field-container">
                <p class="form-control form-date" ng-click="DatePicker.SetOption({Target : 'checkin'}, ' ', 'hotel'); PageConfig.SetOverlay('datepicker-hotel')">
                        Tanggal Masuk <span class="date-placeholder placeholder">{{hotelSearch.checkinDateDisplay}}</span>
                </p>
            </div>
        </div>
            <div class="form-group form__time clearfix">
            <div class="field-container clearfix">
                    <div class="col-half">
                        <p class="form-control form-time">Durasi</p>
            </div>
                <div class="col-half">
                    <select class="form-control" name="nightclass" ng-model="hotelSearch.nightCount" ng-init="hotelSearch.nightCount = hotelSearch.nightrange[1]" >
                        <option ng-repeat="number in hotelSearch.nightrange" value="{{number}}">{{number}} Malam</option>
                    </select>
                </div>
                </div>
            <div class="checkout-date placeholder">Tanggal Keluar: {{hotelSearch.checkoutDateDisplay}}</div>
        </div>
            <div class="form-group form__room">
                <div class="field-container clearfix">
                    <div class="col-half">
                        <p class="form-control form-room">Jumlah Kamar</p>
                    </div>
                    <div class="col-half">
                        <select class="form-control" name="roomclass" ng-model="hotelSearch.roomCount">
                            <option ng-repeat="number in hotelSearch.roomrange" value="{{number}}">{{number}} Kamar</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form__visitor clearfix">
            <div class="mid-wrap clearfix">
                <div class="field-container form-v-adult col-half">
                    <div class="field-wrapper form-adult">
                        <select class="form-control" name="adultclass" ng-model="hotelSearch.adultCount">
                                <option ng-repeat="number in hotelSearch.adultrange" value="{{number}}">{{number}} Dewasa</option>
                        </select>
                    </div>
                </div>
                <div class="field-container form-v-child col-half">
                    <div class="field-wrapper form-child">
                        <select class="form-control" name="childclass" ng-model="hotelSearch.childCount">
                            <option ng-repeat="number in hotelSearch.childrange" value="{{number}}">{{number}} Anak</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="age-child clearfix" ng-hide ="hotelSearch.childCount == 0">
                <div id="ac-1" class="ac-list clearfix" ng-show ="hotelSearch.childCount >= 1 && hotelSearch.childCount <= 4">
                    <div class="col-8">Usia Anak 1</div>
                    <div class="col-2">
                        <select class="form-control" name="agelist" ng-model="hotelSearch.childrenAges[0]">
                            <option ng-repeat="age in hotelSearch.childagerange" value="{{age}}">{{age}} Tahun</option>
                        </select>
                    </div>
                </div>
                <div class="ac-list clearfix" ng-show="hotelSearch.childCount >= 2 && hotelSearch.childCount <= 4">
                    <div id="ac-2" class="col-8">Usia Anak 2</div>
                    <div class="col-2">
                        <select class="form-control" name="agelist" ng-model="hotelSearch.childrenAges[1]">
                            <option ng-repeat="age in hotelSearch.childagerange" value="{{age}}">{{age}} Tahun</option>
                        </select>
                    </div>
                </div>
                <div id="ac-3" class="ac-list clearfix" ng-show="hotelSearch.childCount >= 3 && hotelSearch.childCount <= 4">
                    <div class="col-8">Usia Anak 3</div>
                    <div class="col-2">
                        <select class="form-control" name="agelist" ng-model="hotelSearch.childrenAges[2]">
                            <option ng-repeat="age in hotelSearch.childagerange" value="{{age}}">{{age}} Tahun</option>
                        </select>
                    </div>
                </div>
                <div id="ac-4" class="ac-list clearfix" ng-show="hotelSearch.childCount == 4">
                    <div class="col-8">Usia Anak 4</div>
                    <div class="col-2">
                        <select class="form-control" name="agelist" ng-model="hotelSearch.childrenAges[3]">
                            <option ng-repeat="age in hotelSearch.childagerange" value="{{age}}">{{age}} Tahun</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-wrap form-group form__submit">
        <button class="btn btn-yellow btn-block btn-lg btnSubmit" ng-click="hotel.searchHotel()">CARI HOTEL</button>
    </div>
</form>