<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Full - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/full.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-white">
      <div class="container">
        <a class="navbar-brand container-logo" href="#">
          <img class="img-logo" src="./img/travorama-logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Flight</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Hotel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Masuk</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Daftar</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="ballon">
      Kamu masih bisa pesan tiket pesawat dan hotel disini
    </div>
    <div class="triangle">
      <img style="width:21px" src="./img/triangel.png">
    </div>

    <div class="container-content">
      <div style="text-align: center; font-size: 22px; font-weight:600;">THE NEW FACE IS COMING</div>
      <div class="container-timer clearfix">
        <div class="box-timer">
          <div class="time">30</div>
          <div class="day">dys</div>
        </div>
        <div class="box-divider">
          <div class="divider">:</div>
        </div>
        <div class="box-timer">
          <div class="time">14</div>
          <div class="day">hrs</div>
        </div>
        <div class="box-divider">
          <div class="divider">:</div>
        </div>
        <div class="box-timer">
          <div class="time">01</div>
          <div class="day">min</div>
        </div>
        <div class="box-divider">
          <div class="divider">:</div>
        </div>
        <div class="box-timer">
          <div class="time">22</div>
          <div class="day">sec</div>
        </div>
      </div>
      <div class="container-timer clearfix">
        <div style="font-size: 16px; font-weight:400; color:#494949; text-align:center; margin-top: 5px;`">Stay in touch?</div>
        <div style="width:100%; margin-top: 10px">
          <div class="form-group">
            <input type="email" class="form-control subscribe-form" placeholder="your email address">
          </div>
        </div>
        <div style="margin-top: 10px; text-align:center;">
          <button type="submit" class="btn btn-default btn-submit">Submit</button>
        </div>
      </div>
    </div>

    <!-- Page Content -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
