.site-header {background:url(../images/header-bg-2.jpg) center top no-repeat #005892; padding:20px 0 40px; position:relative;}

.main-menu {color:#fff; text-transform:uppercase; text-align:center;
	img {}
	li+li {margin-right:10px; margin-top:25px; font-weight:bold;}
	li+li a {font-size:18px;}
	li+li.active a {color:#f3bd00;}
	li:last-child {margin-right:0;}
	li:last-child a {font-weight:normal;}
	a {color:#fff;}
}

.ui-autocomplete {max-height:200px; overflow:auto;}

.site-header-search-form {padding:30px 50px; background:rgba(100,100,100,0.8); margin-top:20px; margin-bottom:20px; min-height:280px;
    &:before, &:after {clear:both; display:block; width:100%; content:"";}

    .form-switch {width:20%; float:left;
        .switch {background:#ffb911; width:100px; padding:2px;
            label {cursor:pointer; display:block; width:100%; text-align:center; margin-bottom:0; color:#fff;
                &.active {background:#ffe794; color:#5c470c;}
                span {font-size:50px; padding:20px 0;}
                input[type="radio"] {display:none;}
            }
        }
    }
    .form-main-content {color:#fff; width:80%; float:left;
        .form-hotel-search {display:none;
            &.active {display:block;}
            form {
                .hotel-location-wrapper {
                    .hotel-location {width:100%; margin-bottom:15px;}
                }
                .hotel-data-wrapper {margin-bottom:10px;
                    input[type="text"], select {padding-left:50px;}
                    .hotel-checkin {background:url(../images/cal-bg.png) 10px center no-repeat #fff; width:33%;}
                    .hotel-checkout {background:url(../images/cal-bg.png) 10px center no-repeat #fff; width:33%; margin-right:1%;}
                    .hotel-room {background:url(../images/bed-bg.png) 10px center no-repeat #fff; width:30%; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; border:0;}
                    .separator {font-size:18px; font-weight:bold; display:inline-block; text-align:center; width:1%;}
                }
                .hotel-submit-wrapper {text-align:right;
                    .submit-button {font-weight:bold; padding:10px; width:22%;}
                }
                // *****
                input[type="text"], select {padding:10px;}
            }
        }
        .form-flight-search {display:none;
            &.active {display:block;}
            form {
                .flight-type-wrapper {
                    label {margin-right:10px; cursor:pointer; font-size:16px;}
                }
                .flight-airport-wrapper {margin-bottom:10px;
                    .flight-origin {width:49%; margin-right:1%;}
                    .flight-destination {width:48%;}
                }
                .flight-date-wrapper {margin-bottom:10px;
                    .flight-departure-date {background:url(../images/cal-bg.png) 10px center no-repeat #fff; padding-left:50px; width:33%}
                    .flight-return-date, .flight-return-disable {background:url(../images/cal-bg.png) 10px center no-repeat #fff; padding-left:50px; width:33%; margin-right:1%;}
                    .flight-return-disable {display:none; background-color:#aaa;}
                    .flight-cabin {width:29%;}
                    .separator {display:inline-block; font-weight:bold; font-size:18px; text-align:center; width:1%;}
                }
                .flight-submit-wrapper {
                    .flight-adult {width:24%; margin-right:1%; background:url(../images/adult-icon.png) 10px center no-repeat #fff; padding-left:40px;}
                    .flight-child {width:24%; margin-right:1%; background:url(../images/child-icon.png) 10px center no-repeat #fff; padding-left:40px;}
                    .flight-infant {width:24%; margin-right:1%; background:url(../images/infant-icon.png) 10px center no-repeat #fff; padding-left:40px;}
                    .submit-button {width:22%; padding:10px; font-weight:bold;}
                }
                // *****
                input[type="text"], select {padding:10px;}
            }
        }
        // *****
        h3 {margin:0; padding:0; margin-bottom:15px;}
        input[type="text"], select {color:#333; font-size:16px; border:0; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}
        select {font-size:20px;}
    }

}
