#site-header {background:url(../images/header-bg.jpg) center top no-repeat #005892; padding:20px 0 40px; position:relative;}

.main-menu {color:#fff; text-transform:uppercase; text-align:center;
	img {}
	li+li {margin-right:10px; margin-top:25px; font-weight:bold;}
	li+li a {font-size:18px;}
	li+li.active a {color:#f3bd00;}
	li:last-child {margin-right:0;}
	li:last-child a {font-weight:normal;}
	a {color:#fff;}
}

.site-tag {text-align:center; color:#fff; margin-bottom:20px; margin-top:20px;
	img {margin-bottom:10px;}
	h1 {font-size:15px;}
}
.home-header .search {margin-top:0;}

.home-page #site-header section.search {margin-top:0;}

// hotel search form
.hotel-form {
    section.search {margin-top:40px;
	    section.search-hotel {color:#fff; text-align:center;
		    .fa {font-size:42px; vertical-align:middle;}
		    input[type="text"] {padding:20px 10px; font-size:14px;}
		    .form-dash {font-size:32px;}
		    .input-location {width:250px;}
		    input.input-checkin, input.input-checkout {width:150px; background:url(../images/cal-bg.png) 10px center no-repeat #fff; padding-left:45px;}
		    input.input-room {width:200px; background:url(../images/bed-bg.png) 10px center no-repeat #fff; padding-left:50px;}
		    .btn {@extend .gotham; padding:10px 20px;}

		    // if container wide
		    .container.wide {
			    input[type="text"] {font-size:18px;}
			    input.input-location {width:350px;}
			    input.input-checkin {width:150px;}
			    input.input-checkout {width:150px;}
			    input.input-room {width:200px;}
		    }
	    }
    }
}

// flight search form
.flight-form {
    section.search {margin-top:40px;
        section.search-flight {text-align:center; color:#fff;
            .form-group {position:relative;}
            .fa {font-size:42px; vertical-align:middle;}
		    input[type="text"] {padding:20px 10px; font-size:14px;}
		    .form-dash {font-size:32px;}
		    .btn {@extend .gotham; padding:10px 20px;}

            input.flight-date, input.flight-return-date {background:url(../images/cal-bg.png) 10px center no-repeat #fff; padding-left:45px; width:120px;}
            input.flight-return-date:disabled {background:#ddd;}

            label[for="return-flight"] {position:absolute; left:0; cursor:pointer;}

            .flight-passenger {height:42px; padding-top:8px;
                label {width:40px; display:inline-block;
                    span {text-align:center; display:inline-block;}
                    img {width:20px;}
                    input[type="text"] {text-align:center; width:25px; padding:0; color:#000; border:0;}
                }
            }

		    // if container wide
		    .container.wide {
                input[type="text"] {font-size:17px;}
                input.flight-date, input.flight-return-date {padding-left:45px; width:150px;}
                .flight-passenger label {width:50px;}
		    }
        }
    }
}

#site-header .search-switch-button {font-size:42px; color:#fff; position:absolute; top:50%; cursor:pointer; left:100%; margin-left:-10%;
    img {max-width:none;}
    &.flight {}
    &.hotel {}
}
.header-form-wrapper {width:100%; overflow:hidden;
    &.home-page-header {height:230px;}
}
#site-header .header-form {width:200%;
    &>section {display:block; width:50%; float:left;}
    &.hotel-form {}
    &.flight-form {}
}


