/*
 * common CSS for desktop and mobile
 *
 */

.regular-txt {
  font-family: 'Open Sans';
  font-weight: 400; }

.semibold-txt {
  font-family: 'Open Sans';
  font-weight: 600; }

.bold-txt {
  font-family: 'Open Sans';
  font-weight: 700; }

.darkgrey-txt {
  color: #555555; }

.blue-txt {
  color: #1daee4; }
  .blue-txt.bg {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px; }

.grey-txt {
  color: #999; }

.green-txt {
  color: #3a8e1b; }

.orange-txt {
  color: #ff7200; }

.white-txt {
  color: #ffffff; }

.img-partner {
  text-align: center;
}

.partner {
  background: #eef0f3;
}

.partner-hotel {
  background: url(/Assets/images/hotel/logo/sprite-partner-hotel.png) no-repeat;
  display: inline-block;
  margin: 5px;
}

.notification {
  position: absolute;
  top: 15px;
  left: 30px;
  background: red;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  text-align: center;
  font-weight: bold;
}

.notification span {
  color: white !important;
}

.box-payment .accordion-content {
  display: none;
}