/*

Travorama eTicket
ver 0.1 Alpha

*/
@font-face {
  font-family: 'din';
  src: url("../fonts/DINB-webfont.eot");
  src: url("../fonts/DINB-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DINB-webfont.woff2") format("woff2"), url("../fonts/DINB-webfont.woff") format("woff"), url("../fonts/DINB-webfont.ttf") format("truetype"), url("../fonts/DINB-webfont.svg#din-boldregular") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'din';
  src: url("../fonts/DINR-webfont.eot");
  src: url("../fonts/DINR-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DINR-webfont.woff2") format("woff2"), url("../fonts/DINR-webfont.woff") format("woff"), url("../fonts/DINR-webfont.ttf") format("truetype"), url("../fonts/DINR-webfont.svg#din-regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@page {
  size: A4;
  margin: 0;
  position: relative;
  padding: 1cm; }

/**
General Styling
*/
body {
  font-family: 'din', helvetica, arial, sans-serif;
  width: 100%;
  height: 100%; }

p {
  margin-bottom: 0; }

.page {
  width: 21cm;
  height: 29.6cm;
  position: absolute;
  background: url(/Assets/images/eticket-background.png) left 60% no-repeat;
  background-size: cover; }
  .page:before, .page:after {
    content: "";
    clear: both;
    width: 100%;
    display: block; }

.page.page-2 {
  top: 29.6cm; }

/**
Site Header
*/
.page-header {
  margin: 0;
  padding: 1cm 1cm 0;
  border-bottom: 0; }
  .page-header .page-header-right:before, .page-header .page-header-right:after {
    content: "";
    clear: both;
    width: 100%;
    display: block; }
  .page-header .page-header-right > div {
    float: left; }
  .page-header .page-header-right .page-title {
    padding-right: 3mm; }
    .page-header .page-header-right .page-title h3 {
      color: #38B3E3;
      font-weight: bold;
      margin: 0;
      margin-top: 5.5mm;
      font-size: 24pt;
      vertical-align: bottom;
      line-height: 100%; }
  .page-header .page-header-right .page-help {
    padding-left: 3mm;
    padding-top: 15px;
    border-left: 2px solid #ddd; }
    .page-header .page-header-right .page-help p {
      margin-bottom: 0;
      line-height: 100%;
      margin-bottom: 5px; }
    .page-header .page-header-right .page-help p:last-child {
      margin-bottom: 0; }
    .page-header .page-header-right .page-help span {
      color: #38B3E3;
      font-weight: bold; }

/**
Site Content
*/
.page-content {
  padding: 0 1cm; }

/* flight list detail */
.flight-list-wrapper {
  width: 100%;
  margin-bottom: 25px; }
  .flight-list-wrapper .flight-title {
    text-align: center;
    position: relative;
    font-size: 12pt;
    font-weight: bold;
    color: #666; }
    .flight-list-wrapper .flight-title span {
      background: #fff;
      z-index: 2;
      position: relative;
      padding: 0 20px; }
    .flight-list-wrapper .flight-title:after {
      content: "";
      display: block;
      clear: both;
      width: 100%;
      border-top: 2px solid #666;
      position: absolute;
      margin-top: -10px; }
  .flight-list-wrapper .flight-list .flight {
    width: 100%;
    margin-bottom: 3mm; }
    .flight-list-wrapper .flight-list .flight:before, .flight-list-wrapper .flight-list .flight:after {
      content: "";
      clear: both;
      width: 100%;
      display: block; }
    .flight-list-wrapper .flight-list .flight h3, .flight-list-wrapper .flight-list .flight h4 {
      margin: 0;
      padding: 0; }
    .flight-list-wrapper .flight-list .flight .flight-icon {
      text-align: center;
      float: left;
      width: 12%;
      margin-right: 3%; }
      .flight-list-wrapper .flight-list .flight .flight-icon .flight-airline {
        width: 75%; }
      .flight-list-wrapper .flight-list .flight .flight-icon .flight-pnr {
        background: #38B3E3 url(/Assets/images/blue-bg.png) center center repeat;
        border: 1px solid #38B3E3;
        color: #fff;
        padding: 1mm 0;
        font-weight: bold;
        text-align: center;
        font-size: 6pt; }
    .flight-list-wrapper .flight-list .flight .flight-detail {
      float: left;
      width: 85%; }
      .flight-list-wrapper .flight-list .flight .flight-detail .flight-number {
        border-bottom: 1px dashed #666;
        margin-bottom: 10px;
        padding-bottom: 5px;
        font-size: 8pt;
        font-style: italic; }
      .flight-list-wrapper .flight-list .flight .flight-detail .flight-route {
        width: 100%; }
        .flight-list-wrapper .flight-list .flight .flight-detail .flight-route:before, .flight-list-wrapper .flight-list .flight .flight-detail .flight-route:after {
          content: "";
          clear: both;
          width: 100%;
          display: block; }
        .flight-list-wrapper .flight-list .flight .flight-detail .flight-route > div {
          float: left; }
          .flight-list-wrapper .flight-list .flight .flight-detail .flight-route > div h3:first-child {
            font-weight: bold; }
        .flight-list-wrapper .flight-list .flight .flight-detail .flight-route h3 {
          font-size: 10pt;
          margin-bottom: 1mm; }
        .flight-list-wrapper .flight-list .flight .flight-detail .flight-route .departure-airline {
          text-align: right;
          width: 15%; }
        .flight-list-wrapper .flight-list .flight .flight-detail .flight-route .departure-date {
          text-align: right;
          width: 20%; }
        .flight-list-wrapper .flight-list .flight .flight-detail .flight-route .duration {
          text-align: center;
          width: 30%;
          padding: 0 15px; }
          .flight-list-wrapper .flight-list .flight .flight-detail .flight-route .duration :after {
            content: "";
            display: block;
            width: 100%;
            clear: both;
            border-bottom: 1px solid #333;
            padding-top: 5px; }
          .flight-list-wrapper .flight-list .flight .flight-detail .flight-route .duration h3 {
            font-weight: normal !important;
            font-size: 8pt; }
        .flight-list-wrapper .flight-list .flight .flight-detail .flight-route .arrival-date {
          width: 20%; }
        .flight-list-wrapper .flight-list .flight .flight-detail .flight-route .arrival-airline {
          width: 15%; }
  .flight-list-wrapper .flight-list .transit {
    border: 1px dashed #666;
    padding: 2mm 0;
    text-align: center;
    margin-bottom: 3mm;
    font-size: 8pt; }

/* passengers */
.passenger-wrapper {
  width: 100%;
  margin-bottom: 25px; }
  .passenger-wrapper thead {
    border: 2px solid #666; }
    .passenger-wrapper thead th {
      padding: 1mm 0;
      font-size: 10pt; }
  .passenger-wrapper tbody td {
    padding: 1mm 0;
    font-size: 10pt; }
  .passenger-wrapper .no {
    width: 10%;
    text-align: center; }
  .passenger-wrapper .name {
    width: 70%; }
  .passenger-wrapper .type {
    width: 20%;
    text-align: center; }

/**
Site Footer
*/
.page-footer {
  background: #303030 url(/Assets/images/gray-bg.png) center center repeat;
  color: #fff;
  padding: 20px;
  position: absolute;
  bottom: 0; }

/* previous eTicket styling
.din, body {font-family: 'din', helvetica, arial, sans-serif;}

h2 {font-size:18px;}
h3 {font-size:14px; margin:5px 0;}
h4 {font-size:12px;}
h5 {font-size:11px;}
p {font-size:11px;}

.ticket-wrapper {
    .doc-header {
        .doc-logo {text-align:right;}
    }
    .doc-content {}
    .doc-footer {}
}

.flight-section {
    .section-title {}
    .flight-detail {border:1px solid #2CB3E6; padding:5px;
        .booking-code {text-align:center;
            img {height:50px;}
        }
        .flight-number {margin:0; padding:5px 0; border-bottom:1px solid #ddd;}
        .flight-origin {
            h3 {font-weight:bold}
            h4 {margin:5px 0;}
        }
        .flight-destination {
            h3 {font-weight:bold;}
            h4 {margin:5px 0;}
        }
    }
    .flight-note {
        p {margin-bottom:0;}
    }
}

.passenger-detail {
    table {border:1px solid #2CB3E6; font-size:11px;
        thead {
            th {border-color:#2CB3E6; background-color:#2CB3E6 !important; color:#fff; -webkit-print-color-adjust: exact; }
        }
        tbody {}
    }
}
*/
