@font-face {
  font-family: 'din';
  src: url("../fonts/DINB-webfont.eot");
  src: url("../fonts/DINB-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DINB-webfont.woff2") format("woff2"), url("../fonts/DINB-webfont.woff") format("woff"), url("../fonts/DINB-webfont.ttf") format("truetype"), url("../fonts/DINB-webfont.svg#din-boldregular") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'din';
  src: url("../fonts/DINR-webfont.eot");
  src: url("../fonts/DINR-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DINR-webfont.woff2") format("woff2"), url("../fonts/DINR-webfont.woff") format("woff"), url("../fonts/DINR-webfont.ttf") format("truetype"), url("../fonts/DINR-webfont.svg#din-regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.din, body {font-family: 'din', helvetica, arial, sans-serif;}

h2 {font-size:18px;}
h3 {font-size:14px; margin:5px 0;}
h4 {font-size:12px;}
h5 {font-size:11px;}
p {font-size:11px;}

.ticket-wrapper {
    .doc-header {
        .doc-logo {text-align:right;}
    }
    .doc-content {}
    .doc-footer {}
}

.flight-section {
    .section-title {}
    .flight-detail {border:1px solid #2CB3E6; padding:5px;
        .booking-code {text-align:center;
            img {height:50px;}
        }
        .flight-number {margin:0; padding:5px 0; border-bottom:1px solid #ddd;}
        .flight-origin {
            h3 {font-weight:bold}
            h4 {margin:5px 0;}
        }
        .flight-destination {
            h3 {font-weight:bold;}
            h4 {margin:5px 0;}
        }
    }
    .flight-note {
        p {margin-bottom:0;}
    }
}

.passenger-detail {
    table {border:1px solid #2CB3E6; font-size:11px;
        thead {
            th {border-color:#2CB3E6; background-color:#2CB3E6 !important; color:#fff; -webkit-print-color-adjust: exact; }
        }
        tbody {}
    }
}

