/* FONT FACE */
@font-face {
  font-family: 'din';
  src: url("../fonts/DINB-webfont.eot");
  src: url("../fonts/DINB-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DINB-webfont.woff2") format("woff2"), url("../fonts/DINB-webfont.woff") format("woff"), url("../fonts/DINB-webfont.ttf") format("truetype"), url("../fonts/DINB-webfont.svg#din-boldregular") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'din';
  src: url("../fonts/DINR-webfont.eot");
  src: url("../fonts/DINR-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DINR-webfont.woff2") format("woff2"), url("../fonts/DINR-webfont.woff") format("woff"), url("../fonts/DINR-webfont.ttf") format("truetype"), url("../fonts/DINR-webfont.svg#din-regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.din {
  font-family: 'din', helvetica, arial, sans-serif; }

body {
  font-family: 'din',sans-serif;
  padding-top: 70px; }

.page {
  background: #fff;
  color: #000; }

.btn-yellow {
  background: #ffeaa8;
  background: -moz-linear-gradient(top, #ffeaa8 0%, #f3b400 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffeaa8), color-stop(99%, #f3b400));
  background: -webkit-linear-gradient(top, #ffeaa8 0%, #f3b400 99%);
  background: -o-linear-gradient(top, #ffeaa8 0%, #f3b400 99%);
  background: -ms-linear-gradient(top, #ffeaa8 0%, #f3b400 99%);
  background: linear-gradient(to bottom, #ffeaa8 0%, #f3b400 99%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeaa8', endColorstr='#f3b400',GradientType=0 );
  border-color: #ebb600;
  color: #59544b; }

.btn-blue {
  background: #2fb4e6;
  color: #fff;
  font-weight: bold;
  background: #80ddff;
  background: -moz-linear-gradient(top, #80ddff 0%, #2eb5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #80ddff), color-stop(100%, #2eb5e5));
  background: -webkit-linear-gradient(top, #80ddff 0%, #2eb5e5 100%);
  background: -o-linear-gradient(top, #80ddff 0%, #2eb5e5 100%);
  background: -ms-linear-gradient(top, #80ddff 0%, #2eb5e5 100%);
  background: linear-gradient(to bottom, #80ddff 0%, #2eb5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ddff', endColorstr='#2eb5e5',GradientType=0 ); }

h1 {
  font-size: 30px; }

.hotel-star, .fa.fa-star, .fa.fa-star-o {
  color: #f1bf00; }

/*-----------------------------*/
/* site footer */
.site-header {
  background: #fff;
  text-align: center;
  padding: 10px 0;
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999; }
  .site-header .site-menu {
    background-image: url(../images/menu-icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 50px;
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0; }
    .site-header .site-menu.active {
      background-color: #444;
      background-image: url(../images/menu-icon-white.png); }
  .site-header .user-menu {
    background-image: url(../images/user-icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 50px;
    height: 100%;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0; }
    .site-header .user-menu.active {
      background-color: #444;
      background-image: url(../images/user-icon-white.png); }

/*-----------------------------*/
/* site footer */
/*-----------------------------*/
/* site menu */
.site-menu-content {
  position: fixed;
  top: 70px;
  left: 0;
  background: #737373;
  z-index: 9999;
  display: none;
  width: 100%; }
  .site-menu-content .section-title {
    text-align: center;
    color: #fff;
    margin: 0;
    background: #444;
    padding: 10px 0;
    margin-bottom: 20px; }
  .site-menu-content .menu {
    padding-bottom: 10px; }
    .site-menu-content .menu:before, .site-menu-content .menu:after {
      content: "";
      clear: both;
      display: block;
      width: 100%; }
    .site-menu-content .menu a {
      color: #fff;
      display: block;
      float: left;
      width: 48%;
      margin-left: 1%;
      margin-right: 1%;
      text-align: center;
      padding: 10px 0;
      margin-bottom: 10px;
      border-bottom: 1px solid #fff;
      position: relative; }
      .site-menu-content .menu a .fa {
        font-size: 50px;
        display: block;
        margin-bottom: 5px; }
      .site-menu-content .menu a span {
        display: block; }
    .site-menu-content .menu a:active {
      text-decoration: none; }
    .site-menu-content .menu a:nth-child(2n):before {
      content: "";
      position: absolute;
      height: 100%;
      left: -4px;
      top: -5px;
      border-left: 1px solid #fff; }
    .site-menu-content .menu .no-border {
      border-bottom: 0; }

/*-----------------------------*/
/* user menu */
.user-menu-content {
  position: fixed;
  top: 70px;
  left: 0;
  background: #737373;
  z-index: 9999;
  display: none;
  width: 100%; }
  .user-menu-content .section-title {
    text-align: center;
    color: #fff;
    margin: 0;
    background: #444;
    padding: 10px 0;
    margin-bottom: 20px; }
  .user-menu-content .menu {
    padding-bottom: 10px; }
    .user-menu-content .menu:before, .user-menu-content .menu:after {
      content: "";
      clear: both;
      display: block;
      width: 100%; }
    .user-menu-content .menu a {
      color: #fff;
      display: block;
      float: left;
      width: 48%;
      margin-left: 1%;
      margin-right: 1%;
      text-align: center;
      padding: 10px 0;
      margin-bottom: 10px;
      position: relative; }
      .user-menu-content .menu a .fa {
        font-size: 50px;
        display: block; }
      .user-menu-content .menu a span {
        display: block; }
    .user-menu-content .menu a:active {
      text-decoration: none; }
    .user-menu-content .menu a + a {
      border-left: 1px solid #fff; }
    .user-menu-content .menu .no-border {
      border-bottom: 0; }
  .user-menu-content .menu.logged-in a {
    width: 31%; }

/*-----------------------------*/
/* site footer */
.site-footer {
  background: #fff; }
  .site-footer .footer-adv {
    padding: 20px 0;
    color: #000; }
    .site-footer .footer-adv h4 {
      margin-bottom: 0; }
    .site-footer .footer-adv img {
      margin-bottom: 15px; }
  .site-footer .footer-nav {
    background: #303030; }
    .site-footer .footer-nav li {
      border-bottom: 1px solid #575757; }
    .site-footer .footer-nav li:last-child {
      border-bottom: 0; }
    .site-footer .footer-nav a {
      color: #fff; }
  .site-footer .footer-copyright {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 20px 0; }
    .site-footer .footer-copyright ul {
      padding: 0 0 20px; }
      .site-footer .footer-copyright ul li {
        display: inline; }
        .site-footer .footer-copyright ul li a {
          display: inline; }

/*-----------------------------*/
/* home page */
.home-page {
  background: url(../images/home-page-bg.jpg) top center repeat-x #2fb4e6;
  color: #fff; }
  .home-page .section-search {
    padding-bottom: 20px;
    padding-top: 20px; }
    .home-page .section-search a {
      background-position: center center;
      color: inherit;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top center;
      display: block;
      width: 100%;
      padding-top: 165px;
      text-align: center; }
    .home-page .section-search .search-flight {
      background-image: url(../images/search-flight-bg.png); }
    .home-page .section-search .search-hotel {
      background-image: url(../images/search-hotel-bg.png); }
  .home-page .home-search {
    display: none; }
    .home-page .home-search.active {
      display: block; }
    .home-page .home-search .home-search-header:before, .home-page .home-search .home-search-header:after {
      content: "";
      clear: both;
      display: block;
      width: 100%; }
    .home-page .home-search .home-search-header button {
      display: block;
      float: left;
      width: 50%;
      background: #2eb4e7;
      border: none;
      font-size: 16px;
      padding: 15px 0; }
      .home-page .home-search .home-search-header button.active {
        background: none; }
    .home-page .home-search .home-search-content {
      padding-top: 20px;
      padding-bottom: 20px; }
      .home-page .home-search .home-search-content h1 {
        text-align: center; }
      .home-page .home-search .home-search-content .fa {
        font-size: 24px;
        color: #ffdd01;
        position: absolute;
        text-align: center;
        margin-left: -5px;
        padding-top: 3px; }
      .home-page .home-search .home-search-content span.form-control {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        font-size: 16px; }
      .home-page .home-search .home-search-content .btn-yellow {
        font-weight: bold;
        padding: 15px;
        width: 100%; }
      .home-page .home-search .home-search-content > section {
        display: none; }
        .home-page .home-search .home-search-content > section.active {
          display: block; }
    .home-page .home-search #search-flight .flighttype-select {
      display: inline;
      float: right;
      background: #fff; }
      .home-page .home-search #search-flight .flighttype-select label {
        background: #fff;
        padding: 5px;
        margin-bottom: 0;
        color: #000;
        width: 50px;
        text-align: center;
        display: inline-block; }
        .home-page .home-search #search-flight .flighttype-select label input[type="radio"] {
          display: none; }
        .home-page .home-search #search-flight .flighttype-select label.active {
          background: #0c7499;
          color: #fff; }
    .home-page .home-search #search-flight .flight-passenger {
      text-align: center; }
      .home-page .home-search #search-flight .flight-passenger img {
        height: 20px;
        margin-right: 15px; }
    .home-page .home-search #search-flight .flight-oneway {
      background: #ccc; }

/*-----------------------------*/
/* hotel search page */
.hotel-search-page {
  border-bottom: 1px solid #ccc; }
  .hotel-search-page .hotel-search-param {
    background: #2eb4e7;
    color: #fff; }
    .hotel-search-page .hotel-search-param .param {
      float: left;
      background: #2eb4e7;
      width: 75%;
      padding: 10px; }
    .hotel-search-page .hotel-search-param .change-hotel-param {
      background: #0e84b2;
      color: #fff;
      font-weight: bold;
      display: block;
      float: right;
      width: 25%;
      text-align: center;
      padding: 10px 0; }
    .hotel-search-page .hotel-search-param .hotel-search-form-wrapper {
      padding: 10px;
      clear: both;
      display: none; }
      .hotel-search-page .hotel-search-param .hotel-search-form-wrapper .hotel-search-form .form-group {
        display: block;
        height: auto;
        overflow: hidden; }
      .hotel-search-page .hotel-search-param .hotel-search-form-wrapper .hotel-search-form input[type="submit"] {
        width: 100%;
        font-weight: bold; }
  .hotel-search-page .hotel-search-filter .hotel-search-trigger {
    background: #878787; }
    .hotel-search-page .hotel-search-filter .hotel-search-trigger:after, .hotel-search-page .hotel-search-filter .hotel-search-trigger:before {
      content: "";
      clear: both;
      display: block;
      width: 100%; }
    .hotel-search-page .hotel-search-filter .hotel-search-trigger a {
      color: #fff;
      font-weight: bold;
      text-align: center;
      display: block;
      float: left;
      width: 50%;
      padding: 10px 0; }
    .hotel-search-page .hotel-search-filter .hotel-search-trigger .hotel-sort-trigger {
      background: #616161; }
  .hotel-search-page .hotel-search-filter .hotel-search-filter-content .hotel-filter-wrapper {
    background: #878787;
    color: #fff;
    display: none; }
    .hotel-search-page .hotel-search-filter .hotel-search-filter-content .hotel-filter-wrapper .filter-group {
      padding: 10px; }
      .hotel-search-page .hotel-search-filter .hotel-search-filter-content .hotel-filter-wrapper .filter-group .filter-title {
        margin: 0; }
      .hotel-search-page .hotel-search-filter .hotel-search-filter-content .hotel-filter-wrapper .filter-group .filter-content {
        clear: both; }
        .hotel-search-page .hotel-search-filter .hotel-search-filter-content .hotel-filter-wrapper .filter-group .filter-content:before, .hotel-search-page .hotel-search-filter .hotel-search-filter-content .hotel-filter-wrapper .filter-group .filter-content:after {
          content: "";
          clear: both;
          display: block;
          width: 100%; }
      .hotel-search-page .hotel-search-filter .hotel-search-filter-content .hotel-filter-wrapper .filter-group .btn.btn-yellow {
        width: 100%;
        display: block;
        font-weight: bold; }
    .hotel-search-page .hotel-search-filter .hotel-search-filter-content .hotel-filter-wrapper .filter-star label {
      display: block;
      float: left;
      width: 20%;
      text-align: center; }
    .hotel-search-page .hotel-search-filter .hotel-search-filter-content .hotel-filter-wrapper .filter-group + .filter-group {
      border-top: 1px solid #ccc; }
  .hotel-search-page .hotel-search-filter .hotel-search-filter-content .hotel-sort-wrapper {
    background: #616161;
    color: fff;
    display: none; }
    .hotel-search-page .hotel-search-filter .hotel-search-filter-content .hotel-sort-wrapper a {
      display: block;
      color: #fff;
      padding: 15px 0;
      margin: 0 15px;
      text-align: center; }
    .hotel-search-page .hotel-search-filter .hotel-search-filter-content .hotel-sort-wrapper a + a {
      border-top: 1px solid #ddd; }
  .hotel-search-page .hotel-search-result .hotel {
    position: relative;
    padding: 10px; }
    .hotel-search-page .hotel-search-result .hotel:before, .hotel-search-page .hotel-search-result .hotel:after {
      content: "";
      clear: both;
      display: block;
      width: 100%; }
    .hotel-search-page .hotel-search-result .hotel .hotel-image {
      float: left;
      width: 25%; }
    .hotel-search-page .hotel-search-result .hotel .hotel-detail {
      float: left;
      width: 72%;
      margin-left: 3%; }
      .hotel-search-page .hotel-search-result .hotel .hotel-detail .hotel-name {
        margin: 0;
        color: #40aae4;
        font-weight: bold;
        font-size: 18px; }
      .hotel-search-page .hotel-search-result .hotel .hotel-detail .hotel-star {
        margin: 0;
        color: #f1bf00; }
      .hotel-search-page .hotel-search-result .hotel .hotel-detail .hotel-address {
        margin: 0;
        font-size: 14px;
        font-style: italic; }
      .hotel-search-page .hotel-search-result .hotel .hotel-detail .hotel-price-then {
        margin-bottom: 0; }
      .hotel-search-page .hotel-search-result .hotel .hotel-detail .hotel-price {
        font-weight: bold; }
    .hotel-search-page .hotel-search-result .hotel .hotel-link {
      position: absolute;
      z-index: 999;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .hotel-search-page .hotel-search-result .hotel + .hotel {
    border-top: 1px solid #ccc; }
  .hotel-search-page .hotel-search-footer {
    text-align: center;
    border-top: 1px solid #ccc;
    position: relative;
    padding: 5px 0; }
    .hotel-search-page .hotel-search-footer a {
      position: absolute;
      top: 25%;
      font-size: 18px;
      font-weight: bold; }
    .hotel-search-page .hotel-search-footer .prev-page {
      left: 10px; }
    .hotel-search-page .hotel-search-footer .next-page {
      right: 10px; }

/*-----------------------------*/
/* hotel detail page */
.hotel-detail-page {
  border-bottom: 1px solid #ddd; }
  .hotel-detail-page .hotel-name {
    font-size: 18px;
    color: #3daae3;
    font-weight: bold;
    padding: 10px;
    margin: 0; }
    .hotel-detail-page .hotel-name .hotel-star {
      font-size: 14px; }
  .hotel-detail-page .hotel-image {
    padding: 10px; }
  .hotel-detail-page .hotel-room .section-content {
    padding: 0 10px; }
  .hotel-detail-page .hotel-room .room {
    padding: 10px 0; }
    .hotel-detail-page .hotel-room .room:before, .hotel-detail-page .hotel-room .room:after {
      content: "";
      clear: both;
      display: block;
      width: 100%; }
    .hotel-detail-page .hotel-room .room .room-image {
      display: block;
      width: 25%;
      float: left; }
    .hotel-detail-page .hotel-room .room .room-detail {
      width: 72%;
      margin-left: 3%;
      float: left; }
      .hotel-detail-page .hotel-room .room .room-detail .room-name {
        margin: 0;
        font-size: 16px;
        color: #3daae3;
        font-weight: bold;
        margin-top: 5px; }
      .hotel-detail-page .hotel-room .room .room-detail .room-action {
        margin-top: 30px; }
        .hotel-detail-page .hotel-room .room .room-detail .room-action .room-price {
          float: left;
          font-weight: bold; }
        .hotel-detail-page .hotel-room .room .room-detail .room-action .room-book {
          background: red;
          font-weight: bold;
          color: #fff;
          float: right;
          border: 1px solid #8cd7fe;
          background: #2eb4e7; }
  .hotel-detail-page .hotel-room .room + .room {
    border-top: 1px solid #ddd; }
  .hotel-detail-page .section-title {
    background: #dbdbdb;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    margin: 0; }
  .hotel-detail-page .section-content {
    padding: 10px; }

/*-----------------------------*/
/* flight search page */
.flight-search-page {
  border-bottom: 1px solid #ddd; }
  .flight-search-page .flight-search-param {
    background: #2eb4e7;
    color: #fff; }
    .flight-search-page .flight-search-param .param {
      float: left;
      background: #2eb4e7;
      width: 75%;
      padding: 10px; }
    .flight-search-page .flight-search-param .change-hotel-param {
      background: #0e84b2;
      color: #fff;
      font-weight: bold;
      display: block;
      float: right;
      width: 25%;
      text-align: center;
      padding: 10px 0; }
    .flight-search-page .flight-search-param .hotel-search-form-wrapper {
      padding: 10px;
      clear: both;
      display: none; }
      .flight-search-page .flight-search-param .hotel-search-form-wrapper .hotel-search-form .form-group {
        display: block;
        height: auto;
        overflow: hidden; }
      .flight-search-page .flight-search-param .hotel-search-form-wrapper .hotel-search-form input[type="submit"] {
        width: 100%;
        font-weight: bold; }
  .flight-search-page .flight-search-filter .flight-search-trigger {
    background: #878787; }
    .flight-search-page .flight-search-filter .flight-search-trigger:after, .flight-search-page .flight-search-filter .flight-search-trigger:before {
      content: "";
      clear: both;
      display: block;
      width: 100%; }
    .flight-search-page .flight-search-filter .flight-search-trigger a {
      color: #fff;
      font-weight: bold;
      text-align: center;
      display: block;
      float: left;
      width: 50%;
      padding: 10px 0; }
    .flight-search-page .flight-search-filter .flight-search-trigger .flight-sort-trigger {
      background: #616161; }
  .flight-search-page .flight-search-result .flight.return-flight {
    padding: 10px;
    color: #333; }
    .flight-search-page .flight-search-result .flight.return-flight .flight-container {
      margin-bottom: 20px; }
      .flight-search-page .flight-search-result .flight.return-flight .flight-container > div {
        display: block;
        width: 50%;
        float: left;
        font-size: 12px; }
        .flight-search-page .flight-search-result .flight.return-flight .flight-container > div > h5 {
          font-size: 16px; }
        .flight-search-page .flight-search-result .flight.return-flight .flight-container > div .flight-name img {
          height: 30px; }
      .flight-search-page .flight-search-result .flight.return-flight .flight-container:before, .flight-search-page .flight-search-result .flight.return-flight .flight-container:after {
        content: "";
        clear: both;
        display: block;
        width: 100%; }
      .flight-search-page .flight-search-result .flight.return-flight .flight-container .flight-return {
        text-align: right;
        border-left: 1px solid #ddd; }
    .flight-search-page .flight-search-result .flight.return-flight .flight-action {
      clear: both; }
      .flight-search-page .flight-search-result .flight.return-flight .flight-action h5 {
        margin-bottom: 5px; }
      .flight-search-page .flight-search-result .flight.return-flight .flight-action h4 {
        font-weight: bold;
        margin: 0; }
      .flight-search-page .flight-search-result .flight.return-flight .flight-action .flight-book {
        float: right; }
  .flight-search-page .flight-search-result .flight.single-flight {
    padding: 10px;
    color: #333; }
    .flight-search-page .flight-search-result .flight.single-flight:before, .flight-search-page .flight-search-result .flight.single-flight:after {
      content: "";
      clear: both;
      display: block;
      width: 100%; }
    .flight-search-page .flight-search-result .flight.single-flight .flight-name {
      font-size: 16px; }
      .flight-search-page .flight-search-result .flight.single-flight .flight-name img {
        height: 35px; }
    .flight-search-page .flight-search-result .flight.single-flight .flight-detail {
      display: block;
      width: 60%;
      float: left;
      font-size: 12px; }
      .flight-search-page .flight-search-result .flight.single-flight .flight-detail .flight-airport {
        margin-bottom: 5px;
        margin-top: 0; }
      .flight-search-page .flight-search-result .flight.single-flight .flight-detail .flight-duration {
        margin-bottom: 5px; }
    .flight-search-page .flight-search-result .flight.single-flight .flight-action {
      display: block;
      width: 40%;
      float: left;
      text-align: right; }
      .flight-search-page .flight-search-result .flight.single-flight .flight-action h5 {
        margin-bottom: 5px; }
      .flight-search-page .flight-search-result .flight.single-flight .flight-action .flight-price {
        font-weight: bold;
        margin-top: 5px;
        color: #333; }
      .flight-search-page .flight-search-result .flight.single-flight .flight-action .flight-book {
        padding-top: 10px;
        padding: 3px 5px; }
  .flight-search-page .flight-search-result .flight + .flight {
    border-top: 1px solid #ddd; }

/*-----------------------------*/
/* form set */
.form-set {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  z-index: 9999;
  background: #fff;
  overflow: auto; }
  .form-set .form {
    display: none; }
    .form-set .form.active {
      display: block; }
    .form-set .form .form-header {
      padding-top: 10px;
      padding-bottom: 10px;
      background: #2fb4e6;
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      height: 55px; }
      .form-set .form .form-header span {
        font-size: 24px; }
      .form-set .form .form-header .fa {
        font-size: 24px;
        text-align: right; }
    .form-set .form .form-content {
      padding-top: 55px;
      color: #000; }
      .form-set .form .form-content ul.autocomplete-result {
        padding: 0;
        margin: 0;
        list-style: none; }
        .form-set .form .form-content ul.autocomplete-result li {
          color: #000;
          padding: 10px;
          border-bottom: 1px solid #aaa; }
    .form-set .form.hotel-room .btn {
      background: #2eb4e7;
      color: #fff;
      font-size: 24px;
      padding: 0 10px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      border-radius: 50px; }
    .form-set .form.hotel-room .btn.close-formset {
      width: 100%;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
    .form-set .form.hotel-room .form-content > div {
      border-bottom: 1px solid #ddd;
      padding: 10px 0;
      text-align: center; }
      .form-set .form.hotel-room .form-content > div span {
        padding: 10px 0;
        display: inline-block; }
    .form-set .form.flight-passenger .btn {
      background: #2eb4e7;
      color: #fff;
      font-size: 24px;
      padding: 0 10px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      border-radius: 50px; }
    .form-set .form.flight-passenger .btn.close-formset {
      width: 100%;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
    .form-set .form.flight-passenger .form-content > div {
      border-bottom: 1px solid #ddd;
      padding: 10px 0;
      text-align: center; }
      .form-set .form.flight-passenger .form-content > div span {
        background-position: left center;
        padding: 10px 0;
        padding-left: 30px;
        background-repeat: no-repeat;
        display: inline-block; }
    .form-set .form.flight-passenger .adult-passenger span {
      background-image: url(../images/adult-icon.png);
      background-position: 5px center !important; }
    .form-set .form.flight-passenger .child-passenger span {
      background-image: url(../images/child-icon.png); }
    .form-set .form.flight-passenger .infant-passenger span {
      background-image: url(../images/infant-icon.png);
      background-position: 8px center !important; }
    .form-set .form .ui-datepicker-inline {
      width: 100%;
      border: none;
      padding: 0; }
      .form-set .form .ui-datepicker-inline .ui-widget-header {
        background: none;
        border: none;
        border-bottom: 1px solid #ccc; }
      .form-set .form .ui-datepicker-inline .ui-datepicker-calendar {
        border-collapse: collapse;
        border-spacing: 0; }
      .form-set .form .ui-datepicker-inline td a, .form-set .form .ui-datepicker-inline td span {
        height: 50px; }
      .form-set .form .ui-datepicker-inline .ui-state-default {
        background: #ddd; }
      .form-set .form .ui-datepicker-inline .ui-state-active {
        background: #2eb4e7; }
