@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin clearfix {
    content:""; 
    clear:both; 
    display:block; 
    width:100%;
}
@mixin transition($params){
-webkit-transition:$params;
-moz-transition:$params;
-o-transition:$params;
transition:$params;
}

$border-default :1px solid #ddd;

/* FONT FACE */
@font-face {
    font-family: 'din';
    src: url('../fonts/DINB-webfont.eot');
    src: url('../fonts/DINB-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINB-webfont.woff2') format('woff2'),
         url('../fonts/DINB-webfont.woff') format('woff'),
         url('../fonts/DINB-webfont.ttf') format('truetype'),
         url('../fonts/DINB-webfont.svg#din-boldregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'din';
    src: url('../fonts/DINR-webfont.eot');
    src: url('../fonts/DINR-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINR-webfont.woff2') format('woff2'),
         url('../fonts/DINR-webfont.woff') format('woff'),
         url('../fonts/DINR-webfont.ttf') format('truetype'),
         url('../fonts/DINR-webfont.svg#din-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.din {font-family:'din', helvetica, arial, sans-serif;}

$color-main-blue:#2eb4e7;

html {}
body {font-family:'din',sans-serif; padding-top:70px;}
body.modal-active {overflow:hidden;}

.page {background:#fff; color:#000;}

.btn-yellow {background: #ffeaa8; background: -moz-linear-gradient(top,  #ffeaa8 0%, #f3b400 99%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffeaa8), color-stop(99%,#f3b400)); background: -webkit-linear-gradient(top,  #ffeaa8 0%,#f3b400 99%); background: -o-linear-gradient(top,  #ffeaa8 0%,#f3b400 99%); background: -ms-linear-gradient(top,  #ffeaa8 0%,#f3b400 99%); background: linear-gradient(to bottom,  #ffeaa8 0%,#f3b400 99%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeaa8', endColorstr='#f3b400',GradientType=0 ); border-color:#ebb600; color:#59544b;}
.btn-blue {background: #2fb4e6; color: #fff; font-weight: bold; background: #80ddff; background: -moz-linear-gradient(top, #80ddff 0%, #2eb5e5 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #80ddff), color-stop(100%, #2eb5e5)); background: -webkit-linear-gradient(top, #80ddff 0%, #2eb5e5 100%); background: -o-linear-gradient(top, #80ddff 0%, #2eb5e5 100%); background: -ms-linear-gradient(top, #80ddff 0%, #2eb5e5 100%); background: linear-gradient(to bottom, #80ddff 0%, #2eb5e5 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ddff', endColorstr='#2eb5e5',GradientType=0 );}
.btn-facebook {background:#3b5998; color:#fff;
    .fa {position:relative !important; margin-right:5px; display:inline-block; vertical-align:middle;}
}
.btn-block-lg {display:block; width:100%; font-weight:bold; font-size:16px; padding:15px 0;}

h1 {font-size:30px;}

.hotel-star, .fa.fa-star, .fa.fa-star-o {color:#f1bf00;}

/*-----------------------------*/
/* site footer */
.site-header {background:#fff; text-align:center; padding:10px 0; height:70px; position:fixed; width:100%; top:0; left:0; z-index:9999; border-bottom:$border-default;
    .site-menu {background-image:url(../images/menu-icon.png); background-position:center center; background-repeat:no-repeat; width:50px; height:100%; display:inline-block; position:absolute; left:0; top:0;
        &.active {background-color:#444; background-image:url(../images/menu-icon-white.png);}
    }
    .user-menu {background-image:url(../images/user-icon.png); background-position:center center; background-repeat:no-repeat; width:50px; height:100%; display:inline-block; position:absolute; right:0; top:0;
        &.active {background-color:#444; background-image:url(../images/user-icon-white.png);}
    }
}

/*-----------------------------*/
/* site footer */
.site-content {color:#333;}

/*-----------------------------*/
/* site menu */
.site-menu-content {position:fixed; top:70px; left:0; background:#737373; z-index:9999; display:none; width:100%;
    .section-title {text-align:center; color:#fff; margin:0; background:#444; padding:10px 0; margin-bottom:20px;}
    .menu {padding-bottom:10px;
        &:before, &:after {content:""; clear:both; display:block; width:100%;}
        a {color:#fff; display:block; float:left; width:48%; margin-left:1%; margin-right:1%; text-align:center; padding:10px 0; margin-bottom:10px; border-bottom:1px solid #fff; position:relative;
            .fa {font-size:50px; display:block; margin-bottom:5px;}
            span {display:block;}
        }
        a:active {text-decoration:none;}
        a:nth-child(2n):before {content:"";  position:absolute; height:100%; left:-4px; top:-5px; border-left:1px solid #fff;}
        .no-border {border-bottom:0;}
    }
}

/*-----------------------------*/
/* user menu */
.user-menu-content {position:fixed; top:70px; left:0; background:#737373; z-index:9999; display:none; width:100%;
    .section-title {text-align:center; color:#fff; margin:0; background:#444; padding:10px 0; margin-bottom:20px;}
    .menu {padding-bottom:10px;
        &:before, &:after {content:""; clear:both; display:block; width:100%;}
        a {color:#fff; display:block; float:left; width:48%; margin-left:1%; margin-right:1%; text-align:center; padding:10px 0; margin-bottom:10px; position:relative;
            .fa {font-size:50px; display:block;}
            span {display:block;}
        }
        a:active {text-decoration:none;}
        a+a {border-left:1px solid #fff;}
        .no-border {border-bottom:0;}
    }
    .menu.logged-in {
        a {width:31%;}
    }
}

/*-----------------------------*/
/* site footer */
.site-footer {background:#fff;
    .footer-adv {padding:20px 0; color:#000; border-top:$border-default;
        h4 {margin-bottom:0;}
        img {margin-bottom:15px;}
    }
    .footer-nav {background:#303030;
        li {border-bottom:1px solid #575757;}
        li:last-child {border-bottom:0;}
        a {color:#fff;}
    }
    .footer-copyright {background:#111; color:#fff; text-align:center; padding:20px 0;
        ul {padding:0 0 20px;
            li {display:inline;
                a {display:inline;}
            }
        }
    }
}

/*-----------------------------*/
/* home page */
.home-page {background:url(../images/home-page-bg.jpg) top center repeat-x #2fb4e6; color:#fff;
    .section-search {padding-bottom:20px; padding-top:20px;
        a {background-position:center center; color:inherit; background-repeat:no-repeat; background-size:contain; background-position:top center; display:block; width:100%; padding-top:165px; text-align:center;}
        .search-flight {background-image:url(../images/search-flight-bg.png);}
        .search-hotel {background-image:url(../images/search-hotel-bg.png);}
    }
    .home-search {display:none;
        &.active {display:block;}
        .home-search-header {
            &:before, &:after {@include clearfix;}
            button {display:block; float:left; width:50%; background:$color-main-blue; border:none; font-size:16px; padding:15px 0;
                &.active {background:none;}
            }
        }
        .home-search-content {padding-top:20px; padding-bottom:20px;
            h1 {text-align:center;}
            .fa {font-size:24px; color:#ffdd01; position:absolute; text-align:center; margin-left:-5px; padding-top:3px;}
            span.form-control {@include border-radius(2px); font-size:16px;}
            .btn-yellow {font-weight:bold; padding:15px; width:100%;}
            &>section {display:none;
                &.active {display:block;}
            }
        }
        //---
        #search-hotel {}
        #search-flight {
            .flighttype-select {display:inline; float:right; background:#fff;
                label {background:#fff; padding:5px; margin-bottom:0; color:#000; width:50px; text-align:center; display:inline-block;
                    input[type="radio"] {display:none;}
                    &.active {background:#0c7499; color:#fff;}
                }
            }
            .flight-passenger {text-align:center;
                img {height:20px; margin-right:15px;}
            }
            .flight-oneway {background:#ccc;}
        }
    }
}

/*-----------------------------*/
/* hotel search page */
.hotel-search-page {
    // hotel search param
    .hotel-search-param {background:#2eb4e7; color:#fff;
        &:after {@include clearfix;}
        .param {float:left; background:#2eb4e7; width:75%; padding:10px; font-size:12px;}
        .change-hotel-param {background:#0e84b2; color:#fff; font-weight:bold; display:block; float:right; width:25%; text-align:center; padding:10px 0;}
        .hotel-search-form-wrapper {clear:both; display:none;
            h1 {text-align:center;}
            .fa {font-size:24px; color:#ffdd01; position:absolute; text-align:center; margin-left:-5px; padding-top:3px;}
            span.form-control {@include border-radius(2px); font-size:16px;}
            .btn-yellow {font-weight:bold; padding:15px; width:100%;}
            &>section {display:none;
                &.active {display:block;}
            }
        }
    }
    // hotel search filter and sort
    .hotel-search-filter {
        .hotel-search-trigger {background:#878787;
            &:after, &:before {@include clearfix;}
            a {color:#fff; font-weight:bold; text-align:center; display:block; float:left; width:50%; padding:10px 0;}
            .hotel-filter-trigger {}
            .hotel-sort-trigger {background:#616161;}
        }
        .hotel-search-filter-content {
            // hotel search filter
            .hotel-filter-wrapper {background:#878787; color:#fff; display:none;
                .filter-group {padding:10px;
                    .filter-title {margin:0;}
                    .filter-content {clear:both;
                        &:before, &:after {@include clearfix;}
                    }
                    .btn.btn-yellow {width:100%; display:block; font-weight:bold;}
                }
                .filter-star {
                    label {display:block; float:left; width:20%; text-align:center;
                        p {margin-bottom:0;}
                        .fa {color:#ccc;
                        }
                    }
                    label.active .fa {color:#f1bf00;}
                }
                .filter-group + .filter-group {border-top:1px solid #ccc;}
            }
            // hotel search sort
            .hotel-sort-wrapper {background:#616161; color:#fff; display:none;
                a {display:block; color:#fff; padding:15px 0; margin:0 15px; text-align:center;}
                a + a {border-top:$border-default;}
            }
        }
    }
    // hotel search result
    .hotel-search-result {
        .hotel {position:relative; padding:10px;
            &:before, &:after {@include clearfix;}
            .hotel-image {float:left; width:25%;}
            .hotel-detail {float:left; width:72%; margin-left:3%;
                .hotel-name {margin:0; color:#40aae4; font-weight:bold; font-size:18px;}
                .hotel-star {margin:0; color:#f1bf00;}
                .hotel-address {margin:0; font-size:14px; font-style:italic;}
                .hotel-price-then {margin-bottom:0;}
                .hotel-price {font-weight:bold;}
            }
            .hotel-link {position:absolute; z-index:999; top:0; left:0; width:100%; height:100%;}
        }
        .hotel+.hotel {border-top:1px solid #ccc;}
    }
    .hotel-search-footer {text-align:center; border-top:1px solid #ccc; position:relative; padding:5px 0;
        a {position:absolute; top:25%; font-size:18px; font-weight:bold;}
        .prev-page {left:10px;}
        .next-page {right:10px;}
    }
}

/*-----------------------------*/
/* hotel detail page */
.hotel-detail-page {
    .hotel-name {font-size:18px; color:#3daae3; font-weight:bold; padding:10px; margin:0;
        .hotel-star {font-size:14px;}
    }
    .hotel-image {padding:10px 0;}
    .hotel-room {
        .section-content {padding:0 10px;}
        .room {padding:10px 0;
            &:before,&:after {@include clearfix;}
            .room-image {display:block; width:25%; float:left;}
            .room-detail {width:72%; margin-left:3%; float:left;
                .room-name {margin:0; font-size:16px; color:#3daae3; font-weight:bold; margin-top:5px;}
                .room-action {margin-top:30px;
                    .room-price {float:left; font-weight:bold;}
                    .room-book {background:red; font-weight:bold; color:#fff; float:right; border:1px solid #8cd7fe; background:#2eb4e7;}
                }
            }
        }
        .room+.room {border-top:$border-default;}
    }
    .hotel-facilities {}
    .hotel-description {}
    // section
    .section-title {background:#dbdbdb; text-align:center; padding:10px 0; font-size:16px; margin:0;}
    .section-content {padding:10px;}
}

/*-----------------------------*/
/* flight search page */
.flight-search-page {
    // flight search param
    .flight-search-param {background:#2eb4e7; color:#fff; position:fixed; width:100%; z-index:101; top:70px; display:none;
        &:after {@include clearfix;}
        .param {float:left; background:#2eb4e7; width:75%; padding:10px; font-size:12px;}
        .change-hotel-param {background:#0e84b2; color:#fff; font-weight:bold; display:block; float:right; width:25%; text-align:center; padding:10px 0;}
        .flight-search-form-wrapper {clear:both; display:none; clear:both; overflow:auto;
            h1 {text-align:center;}
            .fa {font-size:24px; color:#ffdd01; position:absolute; text-align:center; margin-left:-5px; padding-top:3px;}
            span.form-control {@include border-radius(2px); font-size:16px;}
            .btn-yellow {font-weight:bold; padding:15px; width:100%;}
            .flighttype-select {display:inline; float:right; background:#fff;
                label {background:#fff; padding:5px; margin-bottom:0; color:#000; width:50px; text-align:center; display:inline-block;
                    input[type="radio"] {display:none;}
                    &.active {background:#0c7499; color:#fff;}
                }
            }
            .flight-passenger {text-align:center;
                img {height:20px; margin-right:15px;}
            }
            .flight-oneway {background:#ccc;}
        }
    }
    // flight search filter and sort
    .flight-search-filter {position:fixed; width:100%; top:110px; z-index:100; display:none;
        .flight-search-trigger {background:#878787;
            &:after, &:before {@include clearfix;}
            a {color:#fff; font-weight:bold; text-align:center; display:block; float:left; width:50%; padding:10px 0;}
            .flight-filter-trigger {}
            .flight-sort-trigger {background:#616161;}
        }
        .flight-search-content {
            // flight filter
            .flight-filter-wrapper {background:#878787; color:#fff; display:none; overflow:auto;
                .filter-group {padding:10px;
                    .filter-title {margin:0;}
                    .filter-content {clear:both;
                        &:before, &:after {@include clearfix;}
                    }
                    .btn.btn-yellow {width:100%; display:block; font-weight:bold;}
                    .slider-wrapper {padding:0 15px;}
                    //**********
                    // filter by transit
                    &.filter-transit {
                        .filter-content {text-align:center; padding-top:15px;
                            label {text-align:center; width:32%; opacity:0.5;
                                input {display:none;}
                                img {display:block; width:70%; margin-left:auto; margin-right:auto;}
                                span {display:block;}
                            }
                            label.active {opacity:1;}
                        }
                    }
                    // filter by price
                    &.filter-price {
                        .filter-title {margin-bottom:15px;}
                    }
                    // filter by airline
                    &.filter-airline {
                        label {display:block;
                            input {}
                            img {height:30px;}
                            span {}
                        }
                    }
                    // filter by onward flight
                    &.filter-onward {}
                    // filter by return fligtht
                    &.filter-return {}
                }
                .filter-group + .filter-group {border-top:1px solid #ccc;}
            }
            // flight sort
            .flight-sort-wrapper {background:#616161; color:#fff; display:none; overflow:auto;
                a {display:block; color:#fff; padding:15px 0; margin:0 15px; text-align:center;}
                a + a {border-top:$border-default;}
            }
        }
    }
    // flight search result
    .flight-search-result {
        .loading-wrapper {height:100%; padding:15px 0;
            h1 {margin:0;}
        }
        .flight-wrapper {padding-top:110px;}
        // return flight
        .flight {padding:10px; color:#333; position:relative; border-top:$border-default;
            &+.flight {border-top:$border-default;}
            &:before,&:after {@include clearfix;}
            .flight-link {position:absolute; width:100%; height:100%; top:0; left:0; z-index:99;}
            .flight-header {
                .flight-airline {
                    img {height:30px; margin-right:5px;}
                }
                .flight-price {font-weight:bold; font-size:16px; color:$color-main-blue;}
            }
            .flight-content {
                &:before,&:after {@include clearfix;}
                &>div {float:left; display:block;}
                .flight-origin {width:35%;}
                .flight-destination {width:35%;}
                .flight-duration {text-align:right; width:30%;}
                // ---
                .time {font-weight:bold; display:block;}
                .airport {}
                .transit {}
            }
        }
    }
}
// flight detail
.flight-detail {position:fixed; width:100%; height:100%; background:#fff; left:0; top:0; z-index:9999; @include transition(all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s);
    &.active {top:0%;}
    h1 {margin-top:10px; display:none;}
    .flight-detail-header {width:100%; border-bottom:$border-default; background:$color-main-blue; color:#fff; font-size:16px; position:relative; position:absolute; top:0; left:0; height:50px;
        h3 {margin:0; padding:10px;}
        .flight-detail-close {position:absolute; top:10px; right:10px; font-size:24px;}
    }
    .flight-detail-content {padding-top:50px; padding-bottom:75px; height:100%; overflow:auto;
        .details {
            .trip-list {padding:0 15px; padding-top:15px;
                .trip-general {display:block; padding-top:15px; font-style:italic; text-align:center;}
                &.return {border-top:$border-default;}
                h3 {margin:0;}
                .trip {padding:10px 0;
                    &+.trip {border-top:$border-default;}
                    .airline-name {margin:0;
                        img {height:30px;}
                    }
                    .trip-wrapper {
                        &:before,&:after {@include clearfix;}
                        &>div {display:block; float:left; width:33.33334%;}
                        & span {display:block; line-height:120%;}
                        .trip-origin {}
                        .trip-destination {}
                        .trip-duration {text-align:right;}
                        .time {font-weight:bold; font-size:18px;} .date {} .airport {} .city {font-style:italic;}
                    }
                    .trip-operator {font-size:12px; margin-top:10px; font-style:italic;
                        img {height:30px;}
                    }
                }
            }
        }
    }
    .flight-detail-footer {position:absolute; width:100%; bottom:0; background:#ddd;
        .footer-left {padding:10px; text-align:right;
            span {}
            .footer-price {margin:0; font-size:16px; font-weight:bold;}
        }
        .footer-right {padding:10px;}
    }
}


/*-----------------------------*/
/* register and login page */
.auth-page {border-bottom:$border-default; background:url(../images/grey-bg.png) top center repeat-x; padding:30px 0;
    .page-title {margin-top:0; margin-bottom:5px;}
    .page-subtitle {margin-top:0;}
    form {
        .form-group {margin-bottom:15px;}
        .fa {position:absolute; font-size:24px; text-align:center; margin-left:-5px;}
        .or-border {margin-bottom:0; position:relative;
            &:before {content:""; display:block; width:40%; border-top:1px solid #333; position:absolute; top:50%; left:0;}
            &:after {content:""; display:block; width:40%; border-top:1px solid #333; position:absolute; top:50%; right:0;}
        }
    }
}

/*-----------------------------*/
/* user account page */
.user-account-page {
    .section-title {background:$color-main-blue; color:#fff; text-align:center; margin:0; font-size:16px; padding:5px 0; font-weight:bold;}
    .page-nav {
        &:before,&:after {@include clearfix;}
        a {display:table-cell; width:33.3333%; float:left; background:#666; color:#fff; font-weight:bold; padding:10px; padding-left:30px; position:relative; line-height:100%; height:50px;
            &+a {border-left:1px solid #444;}
            &.active {background:#878787;}
            .fa {position:absolute; left:10px; top:15px;}
        }
    }
    .page-content {padding-top:10px;
        .tab {display:none;
            &.active {display:block;}
        }
    }
    // update profile
    #update-profile {}
    // change password
    #change-password {}
    // order history
    .order-wrapper {
        .order {padding:10px 15px;
            &.pending {background:#f9eedc;}
            &.canceled {background:#ffefef;}
            &+.order {border-top:$border-default;}
            // if order is flight
            &.flight {
                .fa-building {display:none;}
                .order-subtitle {font-weight:bold; font-style:normal;}
            }
            // if order is hotel
            &.hotel {
                .fa-plane {display:none;}
            }
            // general styling
            .order-header {
                .fa {color:$color-main-blue; font-size:32px;}
                &:before,&:after {@include clearfix;}
                .order-type {float:left; width:10%;}
                .order-main {float:left; width:90%;}
            }
            .order-title {color:$color-main-blue; font-weight:bold; font-size:16px; margin-bottom:0;}
            .order-subtitle {color:#666; font-style:italic; line-height:100%;}
            .order-content {margin-top:10px;
                &:before,&:after {@include clearfix;}
                &>div {display:block; float:left;}
                .order-detail {width:70%;
                    table {width:100%;
                        td {width:50%;}
                        td:first-child {font-weight:bold;}
                    }
                }
                .order-action {width:30%;
                    a {display:block; text-align:center; padding:5px; margin-bottom:15px; color:#fff; font-weight:bold;}
                    .detail {}
                    .refund {background:#ccc;}
                }
            }
        }
    }
}


/*-----------------------------*/
/* checkout page */
.group-checkout {
    .checkout-progress {padding:10px 0; margin-bottom:10px;
        &:before, &:after {content:""; clear:both; display:block; width:100%;}
        .checkout-step {
            &:before,&:after {@include clearfix;}
            div {float:left; width:20%; text-align:center; position:relative; font-size:12px;}
        }
        .checkout-bar {height:2px; background:#ccc; width:84%; margin-left:8%; position:relative; margin-top:10px;
            .checkout-current-progress {position:absolute; background:#333; height:2px; left:0; top:0;
                &.step-2 {width:25%;}
                &.step-3 {width:50%;}
                &.step-4 {width:75%;}
                &.step-5 {width:100%;}
            }
            div[class^=bar] {width:10px; height:10px; background:#ccc; position:absolute; margin-top:-3px; @include border-radius(50px);}
            div[class^=bar].active {background:#333;}
            .bar-1 {left:0;}
            .bar-2 {left:25%;}
            .bar-3 {left:50%;}
            .bar-4 {left:75%;}
            .bar-5 {right:0;}
        }
    }
    .section-title {background:#dedede; margin:0; margin-bottom:10px; padding:10px 0 10px 15px; font-weight:bold; font-size:16px;}
}
.group-flight-checkout {padding-bottom:15px;
    .checkout-page {display:none;}
    .checkout-page.step-1 {display:block;}
    .btn-back {background:#ddd; margin-top:15px; display:block; width:100%;}
    // passenger detail page
    .passenger-detail {
        .passenger {padding:15px; border:1px solid #ccc; margin-bottom:15px;
            .passenger-detail-title {margin-top:0; font-size:16px;}
        }
    }    
    // review page
    .flight-detail {position:relative; z-index:1;
        &.return {border-top:$border-default;}
        h3 {margin:0;}
        .trip {padding:10px 0;
            &+.trip {border-top:$border-default;}
            .airline-name {margin:0;
                img {height:30px;}
            }
            .trip-wrapper {
                &:before,&:after {@include clearfix;}
                &>div {display:block; float:left; width:33.33334%;}
                & span {display:block; line-height:120%;}
                .trip-origin {}
                .trip-destination {}
                .trip-duration {text-align:right;}
                .time {font-weight:bold; font-size:18px;} .date {} .airport {} .city {font-style:italic;}
            }
            .trip-operator {font-size:12px; margin-top:10px; font-style:italic;
                img {height:30px;}
            }
        }        
    }
    .flight-contact {
        ul {margin:0; padding:0 10px; margin-bottom:10px;
            li {
                table {width:100%;
                    td {width:50%;}
                    td+td {text-align:right;}
                }
            }
        }
    }
    .flight-passenger {
        p {font-weight:bold; margin-bottom:0;}
        ol {margin:0; padding:0 10px;
            li {margin-bottom:10px;
                table {width:100%;
                    td {width:50%;}
                    td+td {text-align:right;}
                }
            }
        }
    }
    .flight-price {margin-bottom:15px;
        table {width:100%;
            td {width:50%; padding:5px 10px;}
            td+td {text-align:right;}
            tfoot {
                td {background:$color-main-blue; color:#fff;}
            }
        }
    }
    // payment page
    .payment {border-top:$border-default; border-bottom:$border-default; padding:10px 0;
        &+.payment {border-top:0; border-bottom:$border-default;}
        .payment-name {
            h2 {margin:0; font-size:14px;}
        }
        .payment-button {text-align:right;
            a {font-weight:bold;}
        }
    }
    // ticket page
    &.ticket-page {padding-bottom:0;
        .section-content {padding:0 15px;}
        .ticket-detail {margin-bottom:15px;}
        .order-number {border-bottom:1px solid #ccc;}
        .passenger-detail {border-bottom:1px solid #ccc;}
        .flight-detail {border-bottom:1px solid #ccc;}
        .payment-detail {}
    }
}


/*-----------------------------*/
/* form set */
.form-set {position:fixed; width:100%; height:100%; top:100%; left:0; z-index:9999; background:#fff; overflow:auto;
    .form {display:none;
        &.active {display:block;}
        .form-header {padding-top:10px; padding-bottom:10px; background:#2fb4e6; position:fixed; width:100%; left:0; top:0; height:55px; color:#fff;
            span {font-size:24px;}
            .fa {font-size:24px; text-align:right;}
        }
        .form-content {padding-top:55px; color:#000;
            ul.autocomplete-result {padding:0; margin:0; list-style:none;
                li {color:#000; padding:10px; border-bottom:1px solid #aaa;}
            }
        }
        // room count
        &.hotel-room {
            .btn {background:$color-main-blue; color:#fff; font-size:24px; padding:0 10px; @include border-radius(50px);}
            .btn.close-formset {width:100%; @include border-radius(0);}
            & .form-content>div {border-bottom:$border-default; padding:10px 0; text-align:center;
                span {padding:10px 0; display:inline-block;}
            }
        }
        // flight passenger
        &.flight-passenger {
            .btn {background:$color-main-blue; color:#fff; font-size:24px; padding:0 10px; @include border-radius(50px);}
            .btn.close-formset {width:100%; @include border-radius(0);}
            & .form-content>div {border-bottom:$border-default; padding:10px 0; text-align:center;
                span {background-position:left center; padding:10px 0; padding-left:30px; background-repeat:no-repeat; display:inline-block;}
            }
            .adult-passenger {
                span {background-image:url(../images/adult-icon.png); background-position:5px center !important;}
            }
            .child-passenger {
                span {background-image:url(../images/child-icon.png);}
            }
            .infant-passenger {
                span {background-image:url(../images/infant-icon.png); background-position:8px center !important;}
            }
        }
        // jqueryui datepicker
        .ui-datepicker-inline {width:100%; border:none; padding:0;
            .ui-widget-header {background:none; border:none; border-bottom:1px solid #ccc;}
            .ui-datepicker-calendar {border-collapse:collapse; border-spacing:0;}
            .ui-datepicker-prev, .ui-datepicker-next {}
            td a, td span {height:50px;}
            .ui-state-default {background:#ddd;}
            .ui-state-active {background:$color-main-blue; border:$color-main-blue;}
        }
    }

}

// swiper styling
.swiper-container {width:100%; height:300px;
    .swiper-slide {text-align:center;
        img {height:100%; width:auto;}
    }
}

// loading overlay
.loading-overlay {position:fixed; width:100%; height:100%; top:0; left:0; z-index:9999; background:rgba(100,100,100,0.7); display:none;
    #spinner {width:100%; height:100%;}
    .text {position:absolute; top:48%; font-size:16px; display:block; text-align:center; width:100%; font-weight:bold; color:#fff;}
}