@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* FONT FACE */
@font-face {
    font-family: 'din';
    src: url('../fonts/DINB-webfont.eot');
    src: url('../fonts/DINB-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINB-webfont.woff2') format('woff2'),
         url('../fonts/DINB-webfont.woff') format('woff'),
         url('../fonts/DINB-webfont.ttf') format('truetype'),
         url('../fonts/DINB-webfont.svg#din-boldregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'din';
    src: url('../fonts/DINR-webfont.eot');
    src: url('../fonts/DINR-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINR-webfont.woff2') format('woff2'),
         url('../fonts/DINR-webfont.woff') format('woff'),
         url('../fonts/DINR-webfont.ttf') format('truetype'),
         url('../fonts/DINR-webfont.svg#din-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.din {font-family:'din', helvetica, arial, sans-serif;}


html {}
body {font-family:'din',sans-serif; padding-top:70px;}

.page {}

/*-----------------------------*/
/* site footer */
.site-header {background:#fff; text-align:center; padding:10px 0; height:70px; position:fixed; width:100%; top:0; left:0;
    .site-menu {background-image:url(../images/menu-icon.png); background-position:center center; background-repeat:no-repeat; width:50px; height:100%; display:inline-block; position:absolute; left:0; top:0;
        &.active {background-color:#444; background-image:url(../images/menu-icon-white.png);}
    }
    .user-menu {background-image:url(../images/user-icon.png); background-position:center center; background-repeat:no-repeat; width:50px; height:100%; display:inline-block; position:absolute; right:0; top:0;
        &.active {background-color:#444; background-image:url(../images/user-icon-white.png);}
    }
}

/*-----------------------------*/
/* site footer */
.site-content {}

/*-----------------------------*/
/* site menu */
.site-menu-content {position:fixed; top:70px; left:0; background:#737373; z-index:9999; display:none; width:100%;
    .section-title {text-align:center; color:#fff; margin:0; background:#444; padding:10px 0; margin-bottom:20px;}
    .menu {padding-bottom:10px;
        &:before, &:after {content:""; clear:both; display:block; width:100%;}
        a {color:#fff; display:block; float:left; width:48%; margin-left:1%; margin-right:1%; text-align:center; padding:10px 0; margin-bottom:10px; border-bottom:1px solid #fff; position:relative;
            .fa {font-size:50px; display:block; margin-bottom:5px;}
            span {display:block;}
        }
        a:active {text-decoration:none;}
        a:nth-child(2n):before {content:"";  position:absolute; height:100%; left:-4px; top:-5px; border-left:1px solid #fff;}
        .no-border {border-bottom:0;}
    }
}

/*-----------------------------*/
/* user menu */
.user-menu-content {position:fixed; top:70px; left:0; background:#737373; z-index:9999; display:none; width:100%;
    .section-title {text-align:center; color:#fff; margin:0; background:#444; padding:10px 0; margin-bottom:20px;}
    .menu {padding-bottom:10px;
        &:before, &:after {content:""; clear:both; display:block; width:100%;}
        a {color:#fff; display:block; float:left; width:48%; margin-left:1%; margin-right:1%; text-align:center; padding:10px 0; margin-bottom:10px; position:relative;
            .fa {font-size:50px; display:block;}
            span {display:block;}
        }
        a:active {text-decoration:none;}
        a+a {border-left:1px solid #fff;}
        .no-border {border-bottom:0;}
    }
    .menu.logged-in {
        a {width:31%;}
    }
}

/*-----------------------------*/
/* site footer */
.site-footer {
    .footer-adv {padding:20px 0;}
    .footer-nav {background:#303030;
        li {border-bottom:1px solid #575757;}
        li:last-child {border-bottom:0;}
        a {color:#fff;}
    }
    .footer-copyright {background:#111; color:#fff; text-align:center; padding:20px 0;
        ul {padding:0 0 20px;
            li {display:inline;
                a {display:inline;}
            }
        }
    }
}

