/*

Travorama eTicket
ver 0.1 Alpha

*/

@font-face {
  font-family: 'din';
  src: url("../fonts/DINB-webfont.eot");
  src: url("../fonts/DINB-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DINB-webfont.woff2") format("woff2"), url("../fonts/DINB-webfont.woff") format("woff"), url("../fonts/DINB-webfont.ttf") format("truetype"), url("../fonts/DINB-webfont.svg#din-boldregular") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'din';
  src: url("../fonts/DINR-webfont.eot");
  src: url("../fonts/DINR-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DINR-webfont.woff2") format("woff2"), url("../fonts/DINR-webfont.woff") format("woff"), url("../fonts/DINR-webfont.ttf") format("truetype"), url("../fonts/DINR-webfont.svg#din-regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@mixin clearfix {content:""; clear:both; width:100%; display:block;}

@page {size:A4; margin:0; position:relative; padding:1cm;}

/**
General Styling
*/
body {font-family:'din', helvetica, arial, sans-serif; width:100%; height:100%; -webkit-print-color-adjust: exact; }

p {margin-bottom:0;}

.page {width:21cm; height:29.6cm; position:absolute; -webkit-print-color-adjust:exact; //background:url(/Assets/images/eticket-background.png) left 70% no-repeat;
    &:before, &:after {@include clearfix;}
}
.page.page-2 {top:29.6cm;}
.page.page-3 {top:59.2cm;}

/**
Site Header
*/
.page-header {margin:0; padding:1cm 1cm 0; border-bottom:0;
    .page-header-right {
        &:before, &:after {@include clearfix;}
        &>div {float:left;}
        .page-title {padding-right:3mm;
            h3 {color:#38B3E3; font-weight:bold; margin:0; margin-top:5.5mm; font-size:24pt; vertical-align:bottom; line-height:100%;}
        }
        .page-help {padding-left:3mm; padding-top:15px; border-left:2px solid #ddd;
            p {margin-bottom:0; line-height:100%; margin-bottom:5px;}
            p:last-child {margin-bottom:0;}
            span {color:#38B3E3; font-weight:bold;}
        }
    }
}

/**
Site Content
*/
.page-content {padding:0 1cm;}

/* flight list detail */
.flight-list-wrapper {width:100%; margin-bottom:25px;
    .flight-title {text-align:center; position:relative; font-size:12pt; font-weight:bold; color:#666; -webkit-print-color-adjust:exact;
        &>span {background:url(/Assets/images/white-bg.png) top center repeat #fff; z-index:2; position:relative; padding:0 20px; overflow:hidden; z-index:2; -webkit-print-color-adjust:exact;
        }
        &:after {content:""; display:block; clear:both; width:100%; border-top:2px solid #666; position:absolute; margin-top:-10px;}
    }

    /*Adding Changes here*/
    .flight-name{ width:100%;margin-bottom:3mm;
        .flight-icon {text-align:center; float:left; width:13%; margin-right:2%; /* ini buat icon maskapai dan no pnr, width 12, margin 3*/
                .flight-airline {width:100%;}
            }
        .flight-det{ width:100%; position:relative;
            .flight-number { float:left;width:67%; margin-right:3%; margin-bottom:10px; padding-bottom:5px; font-size:8pt; font-style:italic;} /* buat no penerbangan*/
            .flight-pnr {position:absolute; top:0; right:0;float:right; width:21%; background:#38B3E3 url(/Assets/images/blue-bg.png) center center repeat; border:1px solid #38B3E3; color:#fff; padding:1mm 0; font-weight:bold; text-align:center; font-size:8pt;}
            .ticket-date{width:100%;position:relative;
                .date-now{float:left; width:50%; margin-right:3%}
                .line-date{top:40px;right:0;position: absolute;width:62%}
            }
        }
    }    

    .flight-list {
        .flight {width:100%; margin-bottom:3mm;
            &:before, &:after {@include clearfix;}
            h3, h4 {margin:0; padding:0;}
            .flight-name{ width:100%;margin-bottom:3mm;
        .flight-icon {text-align:center; float:left; width:13%; margin-right:2%; /* ini buat icon maskapai dan no pnr, width 12, margin 3*/
                .flight-airline {width:100%;}
            }
        .flight-det{ width:100%; position:relative;
            .flight-number { float:left;width:67%; margin-right:3%; margin-bottom:10px; padding-bottom:5px; font-size:8pt; font-style:italic;} /* buat no penerbangan*/
            .flight-pnr {position:absolute; top:0; right:0;float:right; width:21%; background:#38B3E3 url(/Assets/images/blue-bg.png) center center repeat; border:1px solid #38B3E3; color:#fff; padding:1mm 0; font-weight:bold; text-align:center; font-size:8pt;}
            .ticket-date{width:100%;position:relative;
                .date-now{float:left; width:50%; margin-right:3%}
                .line-date{right:0;position: absolute;width:62%}
            }
        }
    }
            .flight-detail {float:right; width:85%;margin-top:10px;
                .flight-route {width:100%;     /* ini membentuk table buat table detail penerbangan*/
                    &:before,&:after {@include clearfix;}
                    &>div {float:left;
                        h3:first-child {font-weight:bold;}
                    }
                    h3 {font-size:10pt; margin-bottom:1mm;}
                    .departure-airline {text-align:right; width:20%;}
                    .departure-date {text-align:right; width:15%;}
                    .duration {text-align:center; width:30%; padding:0 15px;
                        :after {content:""; display:block; width:100%; clear:both; border-bottom:1px solid #333; padding-top:5px;}
                        h3 {font-weight:normal !important; font-size:8pt;}
                    }
                    .arrival-date {width:15%;}
                    .arrival-airline {width:20%;}
                }
            }
        }
        .transit {float:right; width:100%; border:1px dashed #666; padding:2mm 0; text-align:center; margin-bottom:3mm; font-size:8pt;}
    }
}

/* passengers */
.passenger-wrapper {width:100%; margin-bottom:25px;
    thead {border:2px solid #666;
        th {padding:1mm 0; font-size:10pt;}
    }
    tbody {
        td {padding:1mm 0; font-size:10pt;}
    }
    .no {width:10%; text-align:center;}
    .name {width:70%;}
    .type {width:20%; text-align:center;}
}

.flight-title2 {text-align:center; position:relative; font-size:12pt; font-weight:bold; color:#666; -webkit-print-color-adjust:exact;
        &>span {background:url(/Assets/images/white-bg.png) top center repeat #fff; z-index:2; position:relative; padding:0 20px; overflow:hidden; z-index:2; -webkit-print-color-adjust:exact;
        }
        &:after {content:""; display:block; clear:both; width:100%; border-top:2px solid #666; position:absolute; margin-top:-10px;}
    }

/**
Site Footer
*/
.page-footer {position:absolute; width:100%; bottom:0; padding-bottom:10px; -webkit-print-color-adjust:exact; 
}

/*Voucher Hotel*/
.page-hotel-voucher {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    h4 {font-size: 16px;}
    h3 {font-size: 20px;}
    .page-content {padding-bottom: 1cm;}
    .black-txt {color: #000000;}
    .blue-txt {color: #15b1e4;}
    .grey-txt {color: #525252;}
    .uppercase {text-transform: uppercase;}
    .md-txt {font-size: 15px;}
    .hotel-wrapper {width: 100%;
        .hotel-top {
            margin: 1cm 0 0.5cm;
            &>p {
                border-bottom: 2px solid #15b1e4;
                margin-bottom: 0.5cm;
            }
        }
        .hotel-middle {margin-top: 0.5cm;
            .right-side {
                padding-left: 30px; 
                border-left: 1px solid #ddd;
                p {margin-bottom: 0.25cm;}
            }
        }
        .hotel-bottom {
            margin-top: 0.5cm;
            border-top: 1px solid #ddd;
            .hotel-detail .row {margin-bottom: 0.25cm;}
        }
        .img-wifi, .img-phone, .img-email{padding-right: 5px;}
        .img-swim {
            padding-right: 5px; 
            padding-left: 15px;
        }
        .img-hotel {width: 100%;}
    }

    /*Icon*/
    .star-outline {
        content: '';
        display: inline-block;
        background: url(/Assets/travorama20/images/Hotel/star-outline.png);
        height: 16px;
    } .so-1 {
        @extend .star-outline;
        width: 19px;
        margin-left: 68px;
    } .so-2 {
        @extend .star-outline;
        width: 38px;
        margin-left: 51px;
    } .so-3 {
        @extend .star-outline;
        width: 57px;
        margin-left: 34px;
    } .so-4 {
        @extend .star-outline;
        width: 76px;
        margin-left: 17px;
    }
    .star {
        display: block;
        background: url(/Assets/travorama20/images/Hotel/star.png);
        height: 16px;
        width: 17px;
        &.star-2 {width: 34px;} 
        &.star-3 {width: 51px;}
        &.star-4 {width: 68px;}
        &.star-5 {width: 85px;}
        
        &.e-star {
            &:after {@extend .so-4;}
            &.star-2 {width: 34px;
                &:after {@extend .so-3;}
            } &.star-3 {width: 51px; 
                &:after {@extend .so-2;}
            } &.star-4 {width: 68px;
                &:after {@extend .so-1;}
            } &.star-5 {width: 85px;}
        }
    }
}

