body {
    /*Custom Sidebar Menu*/
    &.mobile .sidebar-menu {overflow: hidden;}
    .bg-pic {
        background-image: url(/Assets/B2BTravorama/assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg);
        background-repeat: no-repeat; 
        background-size: cover; 
        opacity: 0.6;
    }
    /*Custom Search Form*/
    &.b2b-search {
        .form-group-default label.label-custom {display: inline;}
        .cs-backdrop {border: none;}
        .cs-select > span::after {display: none;}
        .cs-wrapper { position: relative;
            &:after {
                right: 0;
                position: absolute;
                content: "\f0d7";
                font-family: FontAwesome;
                color: #5e5e5e;
            }
        }
        .form-group-default .cs-skin-slide > span {
            padding: 0; 
            width: 240px;
        }
        .cs-select.cs-active .cs-options {text-align: center;}
        &.hotel {
            .room-item {
                .panel-body {padding-bottom: 0;}
                &:last-child .panel-body {padding-bottom: 20px;}
            }
        }
        .form-group.input-custom {
            padding: 5px 0;
            background-color: #fff;
            position: relative;
            border: 1px solid rgba(0, 0, 0, 0.07);
            border-radius: 2px;
            label {padding-left: 12px;}
        }

        .btn-group.btn-input-custom {
            width: 100%;
            a.btn.dropdown-toggle {
                width: 100% !important;
                padding: 0 12px;
                border: none;
                &:hover {background: transparent;}
            }
            .dropdown-menu {
                background: #fff;
                text-align: center;
                margin-top: 6px; 
                padding: 0; 
                li:hover {cursor: pointer; background: #f0f0f0;}
            }
        }
        .dropdown-default .dropdown-menu:after {display: none;}
        .dropdown-menu > li:first-child, .dropdown-menu > li:last-child {padding: 0}
    }
    &.b2b-payment {
        .payment-item {
            .pi-wrapper {
                background-color: #fff;
                position: relative;
                border: 1px solid rgba(0, 0, 0, 0.07);
                border-radius: 2px;
                overflow: hidden;
                -webkit-transition: background-color 0.2s ease;
                transition: background-color 0.2s ease;
                box-shadow: 0 2px 3px 0 #ccc;
            }
            .pi-top, .pi-bottom {
                padding: 15px 20px;
                &>div {
                    display: inline;
                    float: left;
                }
            }
            .set-status {cursor: pointer;}
            .pi-top {position: relative;}
            .pi-bottom {border-top: 1px solid rgba(0, 0, 0, 0.07); text-transform: uppercase;}
        }
        .remove-payment {
            position: absolute;
            cursor: pointer;
            right: 0;
            margin-right: 20px;
        }
        .icon-visa {
            background-image: url(/Assets/images/visa.png);
            width: 70px;
            height: 46px;
            display: block;
            background-size: 100%;
            background-repeat: no-repeat;
            margin-right: 20px;
        }
        .payment-add {
            .pa-wrapper {
                height: 129px;
                border: 3px dashed #3a8fc8;
                position: relative;
            }
            #add-payment {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
                text-align: center;
            }
        }
    }
    &.b2b-order-detail {
        .flight-reservation .table.table-condensed.table-detailed > tbody > tr > td:first-child:after,
        .flight-payment .table.table-condensed.table-detailed > tbody > tr > td:first-child:after,
        .flight-departure .table.table-condensed.table-detailed > tbody > tr > td:first-child:after {
            content: ':';
            float: right;
        }
        .table.table-condensed.table-detailed > tbody > tr > td:first-child:before {display: none;}
    }

    .search-location, .search-hotel {
        .location-header {font-size:14px; height:45px; padding:10px 27px; padding-right:16px;
            p {padding:4px 0;}
        }
        .location-body .location-recommend .tab-header nav ul li span {padding:0 10px; padding-left:17px;}
    }
    .search-location {width: 600px;
        .location-body .location-recommend .tab-header nav {
            width: 540px;
        }
    }
}