body {
  /*Custom Sidebar Menu*/
  /*Custom Search Form*/ }
  body.mobile .sidebar-menu {
    overflow: hidden; }
  body .bg-pic {
    background-image: url(/Assets/B2BTravorama/assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6; }
  body.b2b-search .form-group-default label.label-custom {
    display: inline; }
  body.b2b-search .cs-backdrop {
    border: none; }
  body.b2b-search .cs-select > span::after {
    display: none; }
  body.b2b-search .cs-wrapper {
    position: relative; }
    body.b2b-search .cs-wrapper:after {
      right: 0;
      position: absolute;
      content: "\f0d7";
      font-family: FontAwesome;
      color: #5e5e5e; }
  body.b2b-search .form-group-default .cs-skin-slide > span {
    padding: 0;
    width: 240px; }
  body.b2b-search .cs-select.cs-active .cs-options {
    text-align: center; }
  body.b2b-search.hotel .room-item .panel-body {
    padding-bottom: 0; }
  body.b2b-search.hotel .room-item:last-child .panel-body {
    padding-bottom: 20px; }
  body.b2b-payment .payment-item.col-sm-6 {
    padding: 0 10px 0 0; }
  body.b2b-payment .payment-item .pi-wrapper {
    background-color: #fff;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 2px;
    overflow: hidden;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    box-shadow: 0 2px 3px 0 #ccc; }
  body.b2b-payment .payment-item .pi-top, body.b2b-payment .payment-item .pi-bottom {
    padding: 15px 20px; }
    body.b2b-payment .payment-item .pi-top > div, body.b2b-payment .payment-item .pi-bottom > div {
      display: inline;
      float: left; }
  body.b2b-payment .payment-item .pi-bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.07); }
  body.b2b-payment .icon-visa {
    background-image: url(/Assets/images/visa.png);
    width: 70px;
    height: 46px;
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 20px; }
  body .search-location .location-header, body .search-hotel .location-header {
    font-size: 14px;
    height: 45px;
    padding: 10px 27px;
    padding-right: 16px; }
    body .search-location .location-header p, body .search-hotel .location-header p {
      padding: 4px 0; }
  body .search-location .location-body .location-recommend .tab-header nav ul li span, body .search-hotel .location-body .location-recommend .tab-header nav ul li span {
    padding: 0 10px;
    padding-left: 17px; }
  body .search-location {
    width: 600px; }
    body .search-location .location-body .location-recommend .tab-header nav {
      width: 540px; }
