body.page-mobileApp {
  background: #ffffff; }

.travorama-mobileApp .mobileApp-top {
  background-image: url("/Assets/images/campaign/MobileApp/background.jpg");
  display: block;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 780px;
  text-align: center; }
  .travorama-mobileApp .mobileApp-top .big-txt {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    padding-top: 120px; }
  .travorama-mobileApp .mobileApp-top .sm-txt {
    font-size: 14px;
    margin: 35px 0 25px; }
  .travorama-mobileApp .mobileApp-top .app-download a.playstore-icon {
    background: url("/Assets/images/campaign/MobileApp/play-store.png") no-repeat;
    width: 134px;
    height: 46px;
    display: inline-block; }
  .travorama-mobileApp .mobileApp-top .app-download a.appstore-icon {
    background: url("/Assets/images/campaign/MobileApp/app-store.png") no-repeat;
    width: 138px;
    height: 46px;
    display: inline-block;
    margin-left: 30px; }

.travorama-mobileApp .mobileApp-bottom {
  margin: 45px auto; }
  .travorama-mobileApp .mobileApp-bottom .title-bg {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 45px; }
    .travorama-mobileApp .mobileApp-bottom .title-bg span.blue-txt {
      color: #1daee4; }
  .travorama-mobileApp .mobileApp-bottom .mobileApp-content {
    background: url("/Assets/images/campaign/MobileApp/box-photo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 100px 0 50px; }
  .travorama-mobileApp .mobileApp-bottom .mobileApp-txtbx {
    height: 220px; }
    .travorama-mobileApp .mobileApp-bottom .mobileApp-txtbx.right {
      margin-left: 415px; }
    .travorama-mobileApp .mobileApp-bottom .mobileApp-txtbx.left {
      margin-right: 435px;
      text-align: right; }
    .travorama-mobileApp .mobileApp-bottom .mobileApp-txtbx .txtbx-title {
      color: #1daee4;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 5px; }
    .travorama-mobileApp .mobileApp-bottom .mobileApp-txtbx.txtbx-1 {
      padding: 18px 67px 0; }
    .travorama-mobileApp .mobileApp-bottom .mobileApp-txtbx.txtbx-2 {
      padding: 10px 60px 0; }
    .travorama-mobileApp .mobileApp-bottom .mobileApp-txtbx.txtbx-3 {
      padding: 16px 67px 0; }
    .travorama-mobileApp .mobileApp-bottom .mobileApp-txtbx.txtbx-4 {
      padding: 16px 60px 0; }
    .travorama-mobileApp .mobileApp-bottom .mobileApp-txtbx.txtbx-5 {
      padding: 18px 67px 0; }
    .travorama-mobileApp .mobileApp-bottom .mobileApp-txtbx.txtbx-6 {
      padding: 22px 60px 0; }
    .travorama-mobileApp .mobileApp-bottom .mobileApp-txtbx.txtbx-7 {
      padding: 52px 67px 0; }
    .travorama-mobileApp .mobileApp-bottom .mobileApp-txtbx .txtbx-desc {
      line-height: 14px; }

.travorama-mobileApp .mobileApp-wrapper {
  max-width: none; }
  .travorama-mobileApp .mobileApp-wrapper.container {
    width: 860px;
    padding: 0; }
