@{
    Layout = "/Views/Shared/B2BTravorama/_B2BHomePageLayout.cshtml";
    ViewBag.BodyClass = "b2b-index";
    ViewBag.SiteHeader = "b2b-index";
    ViewBag.Title = "Dashboard";
    ViewBag.AngularController = "";

}

@section AdditionalCSS{
    <link href="/Assets/css/style_b2b_homepage.css" rel="stylesheet" type="text/css" />
}

@section AdditionalJS{
}

@section PageJS{
}

<div class="homepage-content">
    <div class="homepage-register">
        <div class="hr-wrapper container">
            <div class="hr-header white-txt">
                <div class="clearfix">
                    <div class="col-sm-5">
                        <span class="bold lg-txt">Travorama </span><span class="italic">for </span><span class="uppercase-txt bold">Bussiness</span>
                    </div>
                    <div class="col-sm-7" style="padding-top: 10px">
                        <ul class="hr-menu uppercase-txt bold pull-right">
                            <li><a href="#" class="white-txt">Tentang kami</a></li>
                            <li><a href="#" class="white-txt">Fitur</a></li>
                            <li><a href="#" class="white-txt">Brosur</a></li>
                            <li><a href="#" class="white-txt">Request Demo</a></li>
                            <li><button href="#" class="btn btn-primary btn-sm white-txt" style="margin-top: -10px">Masuk</button></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="hr-content white-txt">
                <div class="center-txt">
                    <div class="bold xlg-txt">Simplify corporate travel management</div>
                    <div class="italic md-txt">
                        Permudah perjalanan bisnis anda dan karyawan dengan menggunakan
                        portal travel yang dirancang untuk memenuhi kebutuhan perusahaan anda.
                    </div>
                    <div class="hr-input clearfix">
                        <div class="col-sm-8">
                            <input type="email" name="hr-email" value=" " placeholder="Alamat Email Anda" class="italic" />
                        </div>
                        <div class="col-sm-4">
                            <button href="#" class="btn btn-primary btn-lg pull-left">DAFTAR</button>
                        </div>
                    </div>
                    <div class="italic">Sudah punya akun? <a href="#" class="underline-txt yellow-txt">Masuk</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="homepage-benefit">
        <div class="container">
        </div>
    </div>
    <div class="homepage-feature">
        <div class="container">
        </div>
    </div>
</div>