@using System.Web.UI.WebControls
@{
    Layout = "/Views/Shared/Desktop/_LayoutDesktop.cshtml";
    ViewBag.BodyClass = "page-static page-contact";
    ViewBag.Title = "Kontak Travorama";
    ViewBag.Angular = "ContactController";
    ViewBag.Page = "ContactUs";
}

@section AdditionalJS{
    <!-- additional Angular JS-->
}

@section PageJS{
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC3powciSUlRRkM9xsX4n-nKozXVW2yEg&callback=initMap"></script>
    <script>
        var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -6.226352, lng: 106.808520 },
                zoom: 15,
                styles: [
                    {
                        "stylers": [
                            { "saturation": -100 }
                        ]
                    }
                ]
            });
        }
    </script>
    <script src="/Assets/travorama20/js/ContactController.js"></script>
}

<section class="section-map">
    <div id="map"></div>
</section>

<section class="section-contact normal-txt container" ng-app="travorama" ng-controller="ContactController">

    <h1 class="text-center section-title stripe xlg-txt up-txt">Hubungi <span>Kami</span></h1>

    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="contact-info">

                    <div class="contact address">
                        <h5 class="md-txt">Alamat :</h5>
                        <p class="normal-txt">
                            Equity Tower 25th Floor, SCBD lot 9<br />
                            Jl. Jenderal Sudirman Kav.52-53<br />
                            Jakarta 12190
                        </p>
                    </div>
                    <div class="contact email">
                        <h5 class="md-txt">E-mail :</h5>
                        <p class="normal-txt">
                            <a href="mailto:cs@travorama.com">cs@travorama.com</a>
                        </p>
                    </div>
                    <div class="contact phone hidden">
                        <h5 class="md-txt">Call Center :</h5>
                        <h4 class="normal-txt">1 500 650</h4>
                    </div>
                    <div class="contact social">
                        <h5 class="md-txt">Media Sosial:</h5>
                        <div class="container normal-txt">
                            <div class="row">
                                <div class="col-sm-4">Facebook</div>
                                <div class="col-sm-6">: <a target="_blank" href="https://www.facebook.com/travorama">Travorama</a></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">Twitter</div>
                                <div class="col-sm-6">: <a target="_blank" href="https://twitter.com/travoramaid">@@TravoramaID</a></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">Instagram</div>
                                <div class="col-sm-6">: <a target="_blank" href="https://instagram.com/travorama">Travorama</a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-6 contact-form-wrapper">
                @if (ViewBag.Message != "")
                {
                    <div style="font-weight: bold">
                        <p>@ViewBag.Message</p>
                    </div>
                }

                @using (Html.BeginForm("Contact", "StaticPage", FormMethod.Post, new { @class = "form form-horizontal", role = "form", name = "checkForm" }))
                { @Html.AntiForgeryToken()
                    <p class="form-group">Kami menerima pertanyaan Anda dengan senang hati. Silakan kirimkan pesan melalui form di bawah ini.</p>

                    <div class="form-group">
                        <label class="control-label">Nama : </label>
                        <input type="text" name="name" value="" class="form-control" ng-model="name" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">E-mail : </label>
                        <input type="email" name="email" value="" class="form-control" ng-model="email" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Pesan : </label>
                        <textarea class="form-control" name="message" ng-model="message"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-yellow lg-btn pull-right md-txt " type="submit" ng-disabled="!send()">KIRIM</button>
                    </div>
                }
            </div>
        </div>
    </div>
</section><!-- .contact-form -->
