@{
    Layout = "/Views/Shared/mobile/_LayoutMobile.cshtml";
    ViewBag.Title = "Kontak Travorama";
    ViewBag.BodyClass = "page page-contact";
    ViewBag.AngularController = "ContactController";
    ViewBag.CurrentPage = "contact";
    ViewBag.Page = "ContactUs";
}
@section AdditionalJS {
    <!-- additional Angular JS-->
}
@section PageJS{
    <script>
        var LoginMessage = '@ViewBag.Message';
    </script>
    <!-- angular controller -->
    <script src="/Assets/travorama20/js/ContactController.js"></script>
}

<div class="contact-map">
    <div class="container">
        <div class="contact-list">
            <div class="address">
                <h4>Alamat : </h4>
                <p>Equity Tower 25th Floor, SCBD lot 9 Jl. Jenderal Sudirman Kav.52-53 Jakarta 12190</p>
            </div>
            <div class="email">
                <h4>Customer Service : </h4>
                <p>
                    0855-7467-9737<br/>
                    <a href="mailto:cs@travorama.com">cs@travorama.com</a><br/>
                    Senin - Jumat: 09:00 - 18:00
                </p>
            </div>
        </div>

    </div>
</div><!-- .contact-map -->

<div class="contact-social">
    <a href="https://www.facebook.com/travorama" class="facebook"></a>
    <a href="https://twitter.com/travoramaid" class="twitter"></a>
    <a href="https://www.instagram.com/travorama/" class="instagram"></a>
</div><!-- .contact-social -->

<div class="contact-form" ng-app="travorama" ng-controller="ContactController">
    <div class="container-page">

        <header class="page__header">
            <h1 class="text-center section-title stripe">Hubungi <span>Kami</span></h1>
        </header><!-- .page__header -->
        
        @if (ViewBag.Message != "")
        {
            <div style="font-weight: bold">
                <p>@ViewBag.Message</p>
            </div>
        }

        @using (Html.BeginForm("Contact", "StaticPage", FormMethod.Post, new {@class = "form form-horizontal", role = "form", name = "checkForm"}))
        {
            
            @Html.AntiForgeryToken()
            <p>Kami menerima pertanyaan Anda dengan senang hati. Silakan kirimkan pesan melalui form di bawah ini.</p>
            <div class="form-group">
                <label class="control-label">Nama : </label>
                <input type="text" name="name" value="" class="form-control"  ng-model ="name"/>
            </div>
            <div class="form-group">
                <label class="control-label">E-mail : </label>
                <input type="email" name="email" value="" class="form-control" ng-model ="email" />
            </div>
            <div class="form-group">
                <label class="control-label">Pesan : </label>
                <textarea class="form-control" name ="message" ng-model ="message"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-yellow btn-block" type="submit" ng-disabled="!send()">KIRIM</button>
            </div>
        }
    </div>
</div><!-- .contact-form -->