@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-static page-contact";
    ViewBag.Title = "Hubungi Travorama";
    ViewBag.Angular = "ContactController";
}

@section AdditionalJS{
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}

@section PageJS{
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC3powciSUlRRkM9xsX4n-nKozXVW2yEg&callback=initMap"></script>
    <script>
        var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -6.226352, lng: 106.808520 },
                zoom: 15,
                styles: [
                    {
                        "stylers": [
                            { "saturation": -100 }
                        ]
                    }
                ]
            });
        }
    </script>
    <script src="/Assets/travorama20/js/ContactController.js"></script>
}

<section class="section-map">
    <div id="map"></div>
</section>

<section class="section-contact" ng-app="travorama" ng-controller="ContactController">

    <h1 class="text-center section-title stripe">Hubungi <span>Kami</span></h1>
    @*<h4 class="text-center section-subtitle">We are Here to Help You</h4>*@

    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="contact-info">

                    <div class="contact address">
                        <h5>Alamat :</h5>
                        <p>
                            Equity Tower 25th Floor, SCBD lot 9<br />
                            Jl. Jenderal Sudirman Kav.52-53<br />
                            Jakarta 12190
                        </p>
                    </div>
                    <div class="contact email">
                        <h5>E-mail :</h5>
                        <p>
                            <a href="mailto:cs@travorama.com">cs@travorama.com</a>
                        </p>
                    </div>
                    <div class="contact phone hidden">
                        <h5>Call Center :</h5>
                        <h4>1 500 650</h4>
                    </div>
                    <div class="contact social">
                        <h5>Media Sosial:</h5>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4">Facebook</div>
                                <div class="col-sm-6">: <a target="_blank" href="https://www.facebook.com/travorama">Travorama</a></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">Twitter</div>
                                <div class="col-sm-6">: <a target="_blank" href="http://twitter.com/travoramaid">@@TravoramaID</a></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">Instagram</div>
                                <div class="col-sm-6">: <a target="_blank" href="http://instagram.com/travorama">Travorama</a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-6 contact-form-wrapper">
                
                    @using (Html.BeginForm("Contact", "StaticPage", FormMethod.Post, new { @class = "form form-horizontal", role = "form", name = "checkForm" }))
                    { @Html.AntiForgeryToken()  <p>Kami senang membantu Anda. Silakan kirimkan pesan melalui form di bawah ini.</p>

                        <div class="form-group">
                            <label class="control-label">Nama : </label>
                            <input type="text" name="name" value="" class="form-control" ng-model="name" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">E-mail : </label>
                            <input type="email" name="email" value="" class="form-control" ng-model="email" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Pesan : </label>
                            <textarea class="form-control" name="message" ng-model="message"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-yellow btn-lg pull-right" type="submit" ng-disabled="!send()">KIRIM</button>
                        </div>
                    }
                    <!-- if message sent start -->
                    <div>
                        <p>Terima kasih telah menghubungi kami. </p>
                    </div>
                
                <!-- if message sent end -->
            </div>
        </div>
    </div>

</section><!-- .contact-form -->
