@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-campaign campaign-danamon-sweet-valentine";
    ViewBag.Title = "Danamon Sweet Campaign";
}

@section AdditionalJS{
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}

<img src="/Assets/images/campaign/DanamonSweetValentine/danamonSweetValentine-head.jpg" alt="Danamon Sweet Valentine" class="promo-image" />

<div class="container" style="padding-bottom:50px;">

    <h1 class="text-center section-title stripe">KETERANGAN <span>PROMO</span></h1>

    <div class="row">
        <div class="col-sm-6">
            <h4><b>Tentang Promo :</b></h4>
            <p>Valentine days sebentar lagi! Rencanakan moment romantis kamu dengan pasangan.</p>
            <p>Penawaran ini berlaku untuk semua rute penerbangan pilihan kamu dan pasangan.</p>
            <div class="promo-duration">
                <h4><b>Periode Promo :</b></h4>
                <p><b>14 Februari 2016</b>, from 12.00 am until 11.59 pm</p>
            </div>
        </div>
        <div class="col-sm-6">
            <h4><b>Syarat dan Ketentuan</b></h4>
            <ol class="list-blue">
                <li><p>Promo hanya berlaku  pada tanggal 14 Februari 2016, pukul 12.00 AM - 11.59 PM</p></li>
                <li><p>Promo berlaku untuk semua rute & semua pilihan maskapai</p></li>
                <li><p>Promo berlaku untuk semua tanggal keberangkatan</p></li>
                <li><p>Promo hanya berlaku apabila menggunakan credit card bank danamon</p></li>
                <li><p>Tidak ada minimum pembelian</p></li>
                <li><p>Tidak dapat digabung dengan promo lain</p></li>
                <li><p>Tidak dapat diuangkan</p></li>
            </ol>
        </div>
    </div>

</div><!-- .container -->

