@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-static page-contact";
    ViewBag.Title = "Get 2016 Calendar Campaign";
}

<div class="container">
    
    <h1 class="text-center section-title stripe">GET <span>2016</span> CALENDAR</h1>
    
    <h4 class="text-center">SPECIAL UNTUK TRAVELERS!<br/>
        SIGN UP MENJADI MEMBER TRAVORAMA DAN DAPATKAN KALENDER EKSKLUSIF TAHUN 2016 GRATIS!<br/>
        MERENCANAKAN LIBURAN LEBIH MUDAH KARENA KALENDER TRAVORAMA TELAH DILENGKAPI<br/>
        DENGAN TANGGAL PERKIRAAN CUTI TAHUN 2016<br/>
        JUMLAH KALENDER TERBATAS, SO GRAB IT FAST TRAVELERS!
    </h4>

    <h3><b>KADO EKSKLUSIF AWAL TAHUN</b></h3>
    <p>Travorama mengerti kebutuhan Travelers akan cuti. Jadikan liburan tahun 2016 Travelers lebih terencana dengan kalender dari Travorama yang telah dilengkapi dengan perkiraan cuti 2016. Dapatkan kalender cuti tahun 2016 gratis hanya dengan Sign Up menjadi member Travorama.</p>
    <h4>Periode promo : 15 Desember 2015 – 15 Januari 2015</h4>
    
    <h3><b>SYARAT &amp; KETENTUAN :</b></h3>
    <ol>
        <li><p>Kalender diperoleh hanya dengan Sign Up menjadi member Travorama.</p></li>
        <li><p>Kalender terbatas hanya untuk 500 orang pendaftar pertama.</p></li>
        <li><p>Kalender akan dikirimkan hanya setelah Anda melakukan konfirmasi member melalui email dan konfirmasi email alamat pengiriman.</p></li>
        <li><p>Travorama tidak memberikan notifikasi ketersediaan kalender, tidak menutup kemungkinan apabila setelah melakukan sign up dan mengirimkan kembali email konfirmasi alamat pengiriman, kalender sudah tidak tersedia.</p></li>
        <li><p>Kalender akan dikirimkan ke alamat Anda sesuai dengan data alamat yang Anda isi melalui email konfirmasi alamat pengiriman.</p></li>
        <li><p>Periode promo 15 Desember 2015 – 15 Januari 2015.</p></li>
    </ol>
    
    <h3><b>CARA SIGNUP :</b></h3>
    <ol>
        <li>
            <p>Masuk ke website <a href="http://www.travorama.com">www.travorama.com</a>, klik <i>'Member'</i> dan pilih sign up.</p>
            <img src="/Assets/images/campaign/free2016calendar/RegisterStep/1.jpg" alt="Halaman Travorama" />
        </li>
        <li>
            <p>Isi data dan klik <i>'Register'</i>. </p>
            <img src="/Assets/images/campaign/free2016calendar/RegisterStep/2.jpg" alt="Halaman Register" />
        </li>
        <li>
            <p>Cek email dari Travorama di inbox atau spam pada alamat email terdaftar Anda. Klik button 'Konfirmasi Email' untuk melakukan konfirmasi.</p>
            <img src="/Assets/images/campaign/free2016calendar/RegisterStep/3.jpg" alt="Konfirmasi Email" />
        </li>
        <li>
            <p>Isi password baru (minimal 6 karakter) dan klik 'Set Password'.</p>
            <img src="/Assets/images/campaign/free2016calendar/RegisterStep/4.jpg" alt="Ganti Password" />
        </li>
        <li>
            <p>Set password Anda telah berhasil dilakukan.</p>
            <img src="/Assets/images/campaign/free2016calendar/RegisterStep/5.jpg" alt="Selesai Ganti Password" />
        </li>
        <li>
            <p>Setelah konfirmasi berhasil, Travorama akan mengirimkan email kedua yang berisi data alamat pengiriman kalender. Klik button 'Kirim Data Diri' pada email.</p>
            <img src="/Assets/images/campaign/free2016calendar/RegisterStep/6.jpg" alt="Form kalender" />
        </li>
        <li>
            <p>Isi data alamat dan nomor telepon dengan lengkap. Klik 'Submit' untuk mengirimkan data.</p>
            <img src="/Assets/images/campaign/free2016calendar/RegisterStep/7.jpg" alt="Kirim Kalender" />
        </li>
    </ol>
    
    <h2 class="text-center">
        <a class="btn btn-yellow btn-lg" href="@Url.Action("Register","Account")">DAFTAR SEKARANG</a>
    </h2>

</div><!-- .container -->