@{
    Layout = "/Views/Shared/Desktop/_LayoutDesktop.cshtml";
    ViewBag.BodyClass = "page-static page-howtoorder";
    ViewBag.Title = "Cara Pemesanan";
    ViewBag.ActiveSection = "order";
}

@section AdditionalJS{
    <!-- additional Angular JS-->
}

<section class="howto-header">
    <div class="line"><span></span></div>
    <hgroup>
        <h2>Cara Pesan Tiket Pesawat di <b>Travorama</b></h2>
        <h4 class="md-txt">Mudah dan Cepat! Cukup 5 menit</h4>
    </hgroup>
</section><!-- .howto-header -->
@Html.Partial("/Views/StaticPage/_SectionHowTo.cshtml")

<section class="section-howtoorder container">

    <h1 class="text-center section-title stripe xlg-txt">CARA <span>PEMESANAN</span></h1>

    <div class="list-wrapper normal-txt">

        <div class="list">
            <div class="list-summary">
                <div class="container">
                    <h4 class="md-txt">CARI PENERBANGAN</h4>
                    <p>Mulai pencarian Anda di halaman utama Travorama dan masukkan data penerbangan yang diinginkan.</p>
                    <div class="list-image">
                        <img src="/Assets/images/howtoorder.jpg" alt="How To Order" />
                    </div>
                </div>
            </div>
            <div class="list-detail"></div>
        </div>

        <div class="list">
            <div class="list-summary">
                <div class="container">
                    <h4 class="md-txt">PILIH DAN PESAN PENERBANGAN</h4>
                    <p>Pada halaman hasil pencarian, pilih penerbangan yang Anda inginkan. Klik "pesan" untuk melakukan pemesanan.</p>
                    <div class="list-image"></div>
                </div>
            </div>
            <div class="list-detail"></div>
        </div>

        <div class="list">
            <div class="list-summary">
                <div class="container">
                    <h4 class="md-txt">ISI DATA KONTAK DAN PENUMPANG</h4>
                    <p>Isi form detail pemesan dilanjutkan dengan detail penumpang.</p>
                    <div class="list-image"></div>
                </div>
            </div>
            <div class="list-detail"></div>
        </div>

        <div class="list">
            <div class="list-summary">
                <div class="container">
                    <h4 class="md-txt">LAKUKAN PEMBAYARAN</h4>
                    <p>Pilih metode pembayaran yang Anda inginkan dan klik "lanjutkan" untuk proses pembayaran.</p>
                    <div class="list-image"></div>
                </div>
            </div>
            <div class="list-detail"></div>
        </div>

        <div class="list">
            <div class="list-summary">
                <div class="container">
                    <h4 class="md-txt">E-TIKET DIKIRIMKAN</h4>
                    <p>Anda akan menerima e-tiket dan invoice di alamat email sesuai data pemesan maksimal 60 menit setelah pembayaran berhasil.</p>
                    <div class="list-image"></div>
                </div>
            </div>
            <div class="list-detail"></div>
        </div>


    </div>

</section><!-- .section-howtoorder -->
