@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.Title = "Cara Pemesanan";
    ViewBag.BodyClass = "page page-howtoorder";
    ViewBag.AngularController = "HowToOrderController";
    ViewBag.CurrentPage = "howtoorder";
}
@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}

@section PageJS{
    <script src="/Assets/mobile/js/StaticController.js"></script>
}

<section>
    
    <div class="container">
    
        <header class="page__header">
            <h1 class="text-center section-title stripe">Cara <span>Pesan</span></h1>
        </header><!-- .page__header -->    
    
        <div class="howto-content">
            <ol class="list__wrapper">
                <li class="list">
                    <header class="list__header">
                        <h3>Isi Formulir Pencarian</h3>
                    </header><!-- .list-header -->
                    <section class="list__content">
                        <p><b>Isi formulir di tiap baris</b>, mulai dari kota asal, kota tujuan, tanggal keberangkatan sampai jumlah penumpang</p>
                        <img src="/Assets/mobile/images/howtoorder-image-1.jpg" alt="How to Order Image 1" />
                        <p>Setiap baris akan membawa Anda ke halaman pengisian, contohnya di bawah ini <b>(kota asal)</b></p>
                        <img src="/Assets/mobile/images/howtoorder-image-2.jpg" alt="How to Order Image 2" />
                    </section><!-- .list-content -->
                </li>
                <li class="list">
                    <header class="list__header">
                        <h3>Pilih Penerbangan</h3>
                    </header>
                    <section class="list__content">
                        <p>Di halaman hasil pencarian, <b>pilihlah penerbangan yang ingin Anda pesan.</b></p>
                        <img src="/Assets/mobile/images/howtoorder-image-3.jpg" alt="How to Order Image 3" />
                        <p>Pilih penerbangan yang ingin Anda pesan dengan <b>menekan tombol Pesan</b>, Anda akan dibawa ke halaman formulir pemesanan</p>
                    </section>
                </li>
                <li class="list">
                    <header class="list__header">
                        <h3>Isi Formulir Pemesanan</h3>
                    </header>
                    <section class="list__content">
                        <p><b>Isi dengan nama lengkap, nomor telepon, dan alamat email Anda.</b> Pastikan informasi yang Anda berikan benar sebelum menekan tombol Lanjutkan</p>
                        <img src="/Assets/mobile/images/howtoorder-image-4.jpg" alt="How to Order Image 4" />
                        <p>Setelah itu, Anda akan dibawa ke <b>halaman formulir data penumpang</b> seperti dibawah ini:</p>
                        <img src="/Assets/mobile/images/howtoorder-image-5.jpg" alt="How to Order Image 5" />
                    </section>
                </li>
                <li class="list">
                    <header class="list__header">
                        <h3>Pembayaran</h3>
                    </header>
                    <section class="list__content">
                        <p>Di halaman pembayaran, <b>pilih metode pembayaran yang Anda ingin gunakan dengan menekan tombol Bayar.</b></p>
                        <img src="/Assets/mobile/images/howtoorder-image-6.jpg" alt="How to Order Image 6" />
                        <p>Ikuti petunjuk pembayaran yang tertera dan selesaikan pembayaran Anda. Etiket akan dikirim ke e-mail Anda dalam waktu 1 Jam.</p>
                        <img src="/Assets/mobile/images/howtoorder-image-7.jpg" alt="How to Order image 7" />
                        <p>Etiket seperti gambar di atas akan dikirimkan ke email yang Anda berikan dalam pengisian formulir pemesanan. Anda juga akan menerima SMS yang berisikan nomor pemesanan.</p>
                    </section>
                </li>
            </ol><!-- .list__wrapper -->
            <div class="howto-note">
                <h3>NOTE:</h3>
                <p><i>Jika Anda mengalami kendala dalam pemesanan, atau jika e-tiket belum diterima dalam waktu lebih dari 60 menit, silakan <span>hubungi kami</span> 24 jam non-stop.</i></p>
            </div>
        </div><!-- .howto-content -->

    </div><!-- .container -->

</section>