@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-static page-howtopay";
    ViewBag.Title = "Cara Pembayaran";
}


<section class="section-howtopay">
    
    <h1 class="text-center section-title stripe">CAYA <span>PEMBAYARAN</span></h1>
    
    <div class="list-wrapper">
        
        <div class="list">
            <div class="list-summary">
                <div class="container">
                    <h4>TRANFER BANK</h4>
                    <p>Travorama menerima pembayaran via Transfer melalui Teller Bank dan melalui ATM.</p>
                </div>
            </div>
            <div class="list-detail"></div>
        </div>
        
        <div class="list">
            <div class="list-summary">
                <div class="container">
                    <h4>KARTU KREDIT</h4>
                    <p>Travorama menerima pembayaran dengan kartu kredit berlogo Visa dan Mastercard.</p>
                </div>
            </div>
            <div class="list-detail"></div>
        </div>
        
        <div class="list">
            <div class="list-summary">
                <div class="container">
                    <h4>DIRECT DEBIT</h4>
                    <p>Travorama menerima pembayaran dengan fasilitas internet banking seperti Mandiri Clickpay, CIMB Clicks & BCA Klikpay.</p>
                </div>
            </div>
            <div class="list-detail"></div>
        </div>
        
        <div class="list">
            <div class="list-summary">
                <div class="container">
                    <h4>E WALLET</h4>
                    <p>Travorama menerima pembayaran dengan sistem e-wallet dari mandiri e-cash, t-cash, xl tunai & indosat dompetku.</p>
                </div>
            </div>
            <div class="list-detail"></div>
        </div>


    </div>

</section><!-- .section-howtopay -->
