@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-campaign campaign-imlek2016";
    ViewBag.Title = "Imlek 2016";
}

<a href="/">
    <img src="/Assets/images/campaign/Imlek2016/imlek2016-banner.jpg" alt="Petik Keberuntunganmu!" />
</a>

<div class="container" style="padding-bottom:50px;">
    
    <h1 class="text-center section-title stripe">SYARAT DAN <span>KETENTUAN</span> PROMO</h1>
    
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <ol class="list-blue">
                <li><p>Periode promo tanggal 5 Feb - 8 Feb 2016</p></li>
                <li><p>Customer harus memasukkan alamat email terlebih dahulu</p></li>
                <li><p>Satu alamat email memiliki 2 kali kesempatan mengambil angpao per hari selama periode</p></li>
                <li><p>Promo berlaku setiap mengakses travorama versi website desktop</p></li>
            </ol>
        </div>
    </div>
    
    <h1 class="text-center section-title stripe">SYARAT DAN <span>KETENTUAN</span> VOUCHER</h1>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <ol class="list-blue">
                <li><p>Voucher berlaku hingga 31 Mei 2016</p></li>
                <li><p>Tanpa minimum pembelian</p></li>
                <li><p>Satu kode voucher hanya bisa digunakan untuk 1x transaksi</p></li>
                <li><p>Voucher hanya bisa digunakan dengan alamat email yang telah terdaftar</p></li>
                <li><p>Voucher berlaku untuk semua pembelian di www.travorama.com</p></li>
                <li><p>Voucher tidak dapat digabung dengan promo lain</p></li>
                <li><p>Voucher tidak dapat diuangkan</p></li>
            </ol>
        </div>
    </div>
    
    <h1 class="text-center section-title stripe">CARA PENGGUNAAN VOUCHER</h1>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <ol class="list-blue">
                <li><p>Buka <a href="http://www.travorama.com">www.travorama.com</a> dan pilih penerbangan yang Anda inginkan, klik "PESAN" dan klik "LANJUTKAN"</p></li>
                <li><p>Isi data pesanan, data kontak dan data penumpang</p></li>
                <li><p>Pada "METODE PEMBAYARAN" pilih metode pembayaran yang akan digunakan</p></li>
                <li><p>Pada bagian "Kode Voucher" masukkan Kode Voucher Anda. Lalu klik "Redeem"</p></li>
                <li><p>Selesaikan transaksi belanja Anda dengan klik "BAYAR"</p></li>
            </ol>
        </div>
    </div>

</div><!-- .container -->