@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.Title = "Promo";
    ViewBag.BodyClass = "page page-promo";
    ViewBag.AngularController = "PromoController";
    ViewBag.CurrentPage = "promo";
}
@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}
@section PageJS{
    <!-- angular controller -->
    <script src="/Assets/mobile/js/StaticController.js"></script>
}

<section class="site-content">
    <header class="page_header">
        <h1 class="text-center section-title stripe">Promo <span>Berlangsung</span></h1>
    </header>
    <div class=" container-page">
        <div class="promo-list">
            <p>
                <a href="@Url.Action("OnlineRevolution", "Promo")"><div class="img-promo" style="background-image: url(/Assets/images/campaign/OnlineRevolution2016/OnlineRevolution-page-mobile.jpg);"></div></a>
            </p>
            <p>
                Spesial untuk pemegang Kartu Debit dan Kartu Kredit BTN, nikmati diskon hingga Rp 300.000 untuk rute penerbangan domestik. Buat perjalanan kamu lebih hemat dengan menggunakan Kartu Debit dan Kartu Kredit BTN.
            </p>
            <p>
                Periode booking: <b>21 November - 31 Desember 2016</b>
                <br />
                <a href="@Url.Action("OnlineRevolution", "Promo")">Selengkapnya</a>
            </p>
        </div>
    </div><!-- .section-search -->
</section><!-- .home-page -->