@{
    Layout = "/Views/Shared/mobile/_LayoutMobile.cshtml";
    ViewBag.Title = "Promo";
    ViewBag.BodyClass = "page page-promo";
    ViewBag.AngularController = "PromoController";
    ViewBag.CurrentPage = "promo";
}
@section AdditionalJS {
    <!-- additional Angular JS-->
}
@section PageJS{
    <!-- angular controller -->
    <script src="/Assets/mobile/js/StaticController.js"></script>
}

<section class="site-content">
    <header class="page_header">
        <h1 class="text-center section-title stripe">Promo <span>Berlangsung</span></h1>
    </header>
    <div class=" container-page">
        <div class="promo-list">
            <p>
                <a href="@Url.Action("Imlek", "Promo")"><div class="img-promo" style="background-image: url(/Assets/images/campaign/Imlek2017/Imlek2017-page-mobile.jpg); height: 180px"></div></a>
            </p>
            <p>
                Rayakan kebersamaan imlek bersama keluarga di hotel terbaik pilihan Anda. Gunakan kode promo untuk mendapatkan secret deal harga kamar hotel. Berlaku tanpa minimum pembelian, untuk hotel domestik dan internasional.
            </p>
            <p>
                Periode booking: <b>28 Januari - 15 Februari 2017</b>
                <br />
                <a href="@Url.Action("Imlek", "Promo")">Selengkapnya</a>
            </p>
        </div>
    </div><!-- .section-search -->
</section><!-- .home-page -->