@{
    @*
    Layout = "/Views/Shared/mobile/_LayoutMobile.cshtml";
    ViewBag.Title = "Promo";
    ViewBag.BodyClass = "page page-promo";
    ViewBag.AngularController = "PromoController";
    ViewBag.CurrentPage = "promo";
    *@
}
@section AdditionalJS {
    <!-- additional Angular JS-->
}
@section PageJS{
    <!-- angular controller -->
    <script src="/Assets/mobile/js/StaticController.js"></script>
}

<section class="site-content">
    <header class="page_header">
        <h1 class="text-center section-title stripe">Promo <span>Berlangsung</span></h1>
    </header>
    <div class=" container-page">
        @if (DateTime.UtcNow.AddHours(7).Date <= new DateTime(2017, 02, 15))
        {
            <div class="promo-list">
                <p>
                    <a href="@Url.Action("Imlek", "Promo")"><img src="/Assets/images/campaign/Imlek2017/Imlek2017-promo-mobile.jpg" /></a>
                </p>
                <p>
                    Rayakan kebersamaan imlek bersama keluarga di hotel terbaik pilihan Anda. Gunakan kode promo untuk mendapatkan secret deal harga kamar hotel. Berlaku tanpa minimum pembelian, untuk hotel domestik dan internasional.
                </p>
                <p>
                    Periode booking: <b>28 Januari - 15 Februari 2017</b>
                    <br />
                    <a href="@Url.Action("Imlek", "Promo")">Selengkapnya</a>
                </p>
            </div>
        }
        @if (DateTime.UtcNow.AddHours(7).Date >= new DateTime(2017, 03, 25) && DateTime.UtcNow.AddHours(7).Date <= new DateTime(2017, 08, 27))
        {
            <div class="promo-list">
                <p>
                    <a href="@Url.Action("PaydayMadnessPermataBank", "Promo")"><img src="/Assets/images/campaign/PaydayMadness/PaydayMadness-promo-mobile.jpg" /></a>
                </p>
                <p>
                    Yeay payday time! Saatnya memanjakan diri bersama keluarga atau sahabat dengan menginap di hotel-hotel terbaik pilihan kamu.
                    Nikmati diskon 15% maksimal Rp 150.000 untuk setiap reservasi kamar hotel di Indonesia dan luar negeri dengan menggunakan metode pembayaran transfer bank melalui ATM Bank Permata.
                </p>
                <p>
                    Periode booking: <b>25 - 27 Agustus 2017</b>
                    <br />
                    <span style="color: #1daee4"><a href="@Url.Action("PaydayMadnessPermataBank", "Promo")">Selengkapnya</a></span>
                </p>
            </div>
        }
    </div><!-- .section-search -->
</section><!-- .home-page -->