@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-static page-faq page-question";
    ViewBag.StaticActivePage = "faq";
}

@Html.Partial("/Views/Shared/Travorama20/_SectionStaticHeader.cshtml");

@section PageJS {
    <script>
        staticPageFunctions();
    </script>
}

<section>
    
    <div class="container">
        
        <h1 class="section-title stripe text-center">FREQUENTLY <span>ASKED QUESTION</span></h1>
        
        <p>Halaman ini berisikan pertanyaan yang sering ditanyakan serta jawabannya. Anda dapat mencari pertanyaan yang sesuai dengan apa yang Anda butuhkan serta jawabannya.</p>
        
        <div class="question-wrapper">
            <ol>
                <li>
                    <header>
                        <h2>Tentang Travorama <span class="pull-right toggle-all">Hide All</span></h2>
                    </header>
                    <ol>
                        <li>
                            <header>
                                <h3>Siapa Travorama? <span class="pull-right toggle-one"></span></h3>
                            </header>
                            <section>
                                <p>Travorama merupakan situs pencarian dan pembelian tiket pesawat di Indonesia untuk tujuan domestik maupun internasional dengan pilihan penerbangan lebih dari 900 maskapai. Kami menyediakan berbagai informasi, harga, ketersediaan, dan layanan pemesanan tiket pesawat yang dapat diakses oleh Anda kapan pun dan dimana pun. Kami berkomitmen untuk selalu membuat Anda merasakan pengalaman yang terbaik dalam melakukan perjalanan.</p>
                            </section>
                        </li>
                    </ol>
                </li>
                <li>
                    <header>
                        <h2>Tentang Travorama <span class="pull-right toggle-all">Hide All</span></h2>
                    </header>
                    <ol>
                        <li>
                            <header>
                                <h3>Siapa Travorama? <span class="pull-right toggle-one"></span></h3>
                            </header>
                            <section>
                                <p>Travorama merupakan situs pencarian dan pembelian tiket pesawat di Indonesia untuk tujuan domestik maupun internasional dengan pilihan penerbangan lebih dari 900 maskapai. Kami menyediakan berbagai informasi, harga, ketersediaan, dan layanan pemesanan tiket pesawat yang dapat diakses oleh Anda kapan pun dan dimana pun. Kami berkomitmen untuk selalu membuat Anda merasakan pengalaman yang terbaik dalam melakukan perjalanan.</p>
                            </section>
                        </li>
                        <li>
                            <header>
                                <h3>Siapa Travorama? <span class="pull-right toggle-one"></span></h3>
                            </header>
                            <section>
                                <p>Travorama merupakan situs pencarian dan pembelian tiket pesawat di Indonesia untuk tujuan domestik maupun internasional dengan pilihan penerbangan lebih dari 900 maskapai. Kami menyediakan berbagai informasi, harga, ketersediaan, dan layanan pemesanan tiket pesawat yang dapat diakses oleh Anda kapan pun dan dimana pun. Kami berkomitmen untuk selalu membuat Anda merasakan pengalaman yang terbaik dalam melakukan perjalanan.</p>
                            </section>
                        </li>
                        <li>
                            <header>
                                <h3>Siapa Travorama? <span class="pull-right toggle-one"></span></h3>
                            </header>
                            <section>
                                <p>Travorama merupakan situs pencarian dan pembelian tiket pesawat di Indonesia untuk tujuan domestik maupun internasional dengan pilihan penerbangan lebih dari 900 maskapai. Kami menyediakan berbagai informasi, harga, ketersediaan, dan layanan pemesanan tiket pesawat yang dapat diakses oleh Anda kapan pun dan dimana pun. Kami berkomitmen untuk selalu membuat Anda merasakan pengalaman yang terbaik dalam melakukan perjalanan.</p>
                            </section>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>

    </div>

</section>

