@{
    Layout = "/Views/Shared/Desktop/_LayoutDesktop.cshtml";
    ViewBag.BodyClass = "page-mobileApp mobileApp-campaign";
    ViewBag.Title = "Mobile App Campaign";
}

@section AdditionalCSS{
    <link rel="stylesheet" href="/Campaign/MobileAppCampaign/css/travorama-mobileApp.css">
}

@section AdditionalJS{
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}

<div class="travorama-mobileApp">
    <div class="mobileApp-top">
        <div class="mobileApp-wrapper container">
            <div class="big-txt">BOOKING TIKET MUDAH & CEPAT</div>
            <div class="sm-txt">Rasakan kemudahan booking tiket di HP Anda dengan mendownload <b>GRATIS Travorama Mobile App</b></div>
            <div class="app-download">
                <a href="https://play.google.com/store/apps/details?id=com.travorama&hl=en" class="playstore-icon"></a>
                <a href="https://appsto.re/id/N8Dgeb.i" class="appstore-icon"></a>
            </div>
        </div>
    </div>
    <div class="mobileApp-bottom">
        <div class="mobileApp-wrapper container">
            <div class="title-bg">mengapa download <br /><span class="blue-txt">travorama mobile app?</span></div>
            <div class="mobileApp-content">
                <div class="mobileApp-txtbx txtbx-1 right">
                    <div class="txtbx-title">Hasil Pencarian Tercepat</div>
                    <div class="txtbx-desc">Travorama selalu berusaha memberikan hasil pencarian penerbangan secepat mungkin. Karena waktu Anda sangat berharga.</div>
                </div>
                <div class="mobileApp-txtbx txtbx-2 left">
                    <div class="txtbx-title">Pilihan Maskapai Terlengkap</div>
                    <div class="txtbx-desc">Travorama menyediakan lebih dari <b>900 pilihan</b> maskapai dengan rute penerbangan ke 70 negara di wilayah Asia Pasifik, Eropa, Asia Utara, Amerika, Afrika dan Timur Tengah.</div>
                </div>
                <div class="mobileApp-txtbx txtbx-3 right">
                    <div class="txtbx-title">Harga Bersaing</div>
                    <div class="txtbx-desc">Customer membayar sesuai harga tercantum tanpa ada tambahan biaya. Harga yang tercantum merupakan harga yang telah dikurangi promo potongan harga dari Travorama.</div>
                </div>
                <div class="mobileApp-txtbx txtbx-4 left">
                    <div class="txtbx-title">Proses Reservasi Mudah</div>
                    <div class="txtbx-desc">Langkah-langkah reservasi yang simple dan ringkas sehingga proses reservasi Anda menjadi lebih mudah.</div>
                </div>
                <div class="mobileApp-txtbx txtbx-5 right">
                    <div class="txtbx-title">Status & Riwayat Pemesanan</div>
                    <div class="txtbx-desc">Hanya dengan log in, Anda bisa melakukan pengecekan status pemesanan dan riwayat pemesanan di Travorama App. Anda tidak perlu khawatir kehilangan data pemesanan.</div>
                </div>

                <div class="mobileApp-txtbx txtbx-6 left">
                    <div class="txtbx-title">Tidak Perlu Cetak E-tiket</div>
                    <div class="txtbx-desc">Anda hanya perlu menunjukkan e-tiket pada saat boarding. Tidak perlu khawatir kehilangan lembar tiket Anda.</div>
                </div>

                <div class="mobileApp-txtbx txtbx-7 right">
                    <div class="txtbx-title">Keamanan Transaksi Online</div>
                    <div class="txtbx-desc">Travorama menjamin transaksi online yang aman.</div>
                </div>
            </div>
        </div>
    </div>
</div>