@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-campaign campaign-visa";
    ViewBag.Title = "Wonderful Wednesday with VISA";
}

<a href="/">
    <img src="/Assets/images/campaign/VisaWonderfulWednesday/visa-wonderful-wednesday.jpg" alt="Wonderful Wednesday with VISA" />
</a>

<div class="container" style="padding-bottom:50px;">
    
    <h1 class="text-center section-title stripe">SYARAT DAN <span>KETENTUAN</span></h1>
    
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <ol class="list-blue">
                <li><p>Promo ini hanya berlaku setiap hari <b>Rabu, tanggal 20 Januari - 31 Maret 2016</b></p></li>
                <li><p>Berlaku dengan minimum pembelian <b>Rp 200.000</b></p></li>
                <li><p>Berlaku hanya <b>1x transaksi</b> di tanggal yang sama</p></li>
                <li><p>Berlaku untuk pembayaran menggunakan <b>kartu berlogo Visa</b></p></li>
                <li><p><b>Tidak dapat digabung</b> dengan promo lain</p></li>
                <li><p><b>Tidak dapat diuangkan</b></p></li>
                <li><p>Promo <b>tidak berlaku kelipatan</b></p></li>
            </ol>
        </div>
    </div>

</div><!-- .container -->