@using Lunggo.ApCommon.Flight.Model
@using Lunggo.BackendWeb.Model
@model Lunggo.ApCommon.Flight.Model.SearchFlightOutput

@{
    ViewBag.Title = "List";
}

<div>
     @foreach (var itin in Model.FlightItineraries)
     {
         <div class="row">
             <div class="col-md-1">
                 @Html.ActionLink("Select", "InputData", new TestInputData
                 {
                     FareId = itin.FareId,
                     TotalFare = itin.TotalFare
                 })
             </div>
             <div class="col-md-11">
                 @{ Html.RenderPartial("PartialItinerary", itin); }
             </div>
         </div>
         <hr/>
     }
</div>
