@model Lunggo.ApCommon.Flight.Model.FlightReservationForDisplay

@{
    ViewBag.Title = "Flight Reservation Detail";
}

@if (Model != null)
{
    <h3>
        <i class="fa fa-angle-right"></i> Flight Reservation <small> > @Model.RsvNo</small>
    </h3>

    <div class="row">
        @{ Html.RenderPartial("RenderReservation", Model); }
    </div>

    <div class="row">
        @foreach (var trip in Model.Itinerary.Trips)
        {
            <div class="col-md-4">
                @{ Html.RenderPartial("RenderTrip", trip); }
            </div>
        }
    </div>

    <div class="row">
        <div class="col-md-12">
            @{ Html.RenderPartial("RenderPassenger", Model.Passengers); }
        </div>
    </div>
}
else
{
    <h3><i class="fa fa-angle-right"></i> Flight Reservation <h1> > NOT FOUND</h1></h3>
}