.form-wrapper {
    margin: 0 0 15px;
    min-height: 100%;
    background: none; 
    border: 0;
    h1 {
        text-align:center; 
        margin-bottom:25px; 
        color: $color-white;
    }
    form {
        .form-group {
            margin-bottom: 0;
            p.form-control { 
                height:auto;
            }
        }
        .form__destination, .form__origin {
            .title-destination {
                @extend .os-light;
                font-size: 13px;
                text-align: center;
                margin-bottom: 10px;
                color: $color-black;
            }
            p.form-control {
                text-align:center;
                background: #ecf0f4;
                max-width: 120px;
                margin: 0 auto;
                box-shadow: none;
                @include border-radius($border-radius-big);
                border: $border-grey-btn;
                cursor: pointer;
            }
        }
        span.code-airport, span.city {
            margin: 0 auto;
        }
        span.code-airport {
            @extend .os-regular;
            font-size: 40px; 
            line-height: 44px;
            color: $color-black;
        }
        span.city {
            @extend .os-light;
            font-size: 12px; 
            line-height: 20px;
            color:#686868;
        }
        span {
            &.icon-pp {
                background-image: url($icon-calendar);
                @extend .display-icon;
                @include size(37px, 26px);
                top: 20px;
            } &.icon-return {
                background-image: url($icon-loop);
                @extend .display-icon;
                @include size(33px, 23px);
                top: 20px;
            } &.icon-fc {
                background-image: url($icon-medals);
                @extend .display-icon;
                @include size(39px, 26px);
                top: 20px;
            } &.icon-people {
                background-image: url($icon-people);
                @extend .display-icon;
                @include size(41px, 57px);
                top: 16px;
            } &.arrow {
                background-image: url($icon-arrow-down-bw);
                @extend .display-icon;
                @include size(24px, 15px);
                z-index: 1;
                bottom: auto;
                right: 0;
                top: 29px;
                left: auto;
                margin: 0;
                display: block;
                cursor: pointer;
                background-position-x: 80%;
            }
        }
        .middle-form .form-group {position: relative;}
        .top-form {
            max-width: 300px;
            margin: 0px auto;
        }
        .form__submit {margin-top: 24px;}
        .form__departure, .form__return, .form__roundtrip, .form__passenger, 
        .form__flightclass, .form__hotel, .form__date, .form__time, .form__visitor, 
        .form__room {
            p, p.form-control, select.form-control {
                @include appearance(none);
                font-size:13px;
                color: $color-black;
                padding: 0;
                height: auto;
                border: none;
                box-shadow: none;
                @include border-radius(0);
                display: inline;
                background: $color-white;
                span {float:right;}
            }
        }
        .form__passenger > .row {
            margin: 0;
            text-align: center;
        }
        .field-container {
            border-bottom: $border-form;
            padding: 21px 0;
            margin-left: 30px;
            &.form-adult, &.form-child, &.form-infant,
            &.form-v-adult, &.form-v-child {
                border-bottom: none;
                margin-left: 0;
            }
            &.form-adult, &.form-child, &.form-v-adult {
                padding: 0 10px 0 28px;
            }
            &.form-infant, &.form-v-child {
                padding: 0 0 0 28px;
            }
            &.form-v-adult, &.form-v-child {
                .field-wrapper select.form-control {
                    text-align: center;
                    text-align-last: center;
                }
            }
            p, select {
                cursor: pointer;
            }
            .field-wrapper {
                padding: 21px 0;
                border-bottom: 1px solid #dddddd;
                text-align: center;
                &.form-adult:before {
                    background-size: 40%;
                    background-repeat: no-repeat;
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    position: absolute;
                    left: 0;
                    @include size(41px, 57px);
                    background-image: url(/Assets/mobile/images/adult.png);
                }
                &.form-child:before {
                    background-size: 40%;
                    background-repeat: no-repeat;
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    position: absolute;
                    left: 0;
                    @include size(42px, 53px);
                    background-image: url(/Assets/mobile/images/child.png);
                }
            }
        }
        .flip-container {
            padding-top: 50px;
            min-height: 104px;
            .flip {
                width: 35px;
                height: 37px;
                background: #ecf0f4;
                border: $border-grey-btn;
                display: inline-block;
                @include border-radius($border-radius-big);
                &:before {
                    background-image: url($icon-flip);
                    @extend .display-icon;
                    @include size(43px, 40px);
                    margin-top: 7px;
                    margin-left: 5px;
                    content: '';
                } 
            }
        } 
        .form__roundtrip {
            .switch {
                float: right;
                position: relative;
                display: inline-block;
                width: 40px;
                height: 24px;
                input {display:none;}
            }
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                @include transition($transition-default);
                &:before {
                    position: absolute;
                    content: "";
                    height: 16px;
                    width: 16px;
                    left: 4px;
                    bottom: 4px;
                    background-color: $color-white;
                    @include transition($transition-default);
                }
            }
            input {
                &:checked + .slider {background-color: #2ea1e8;}
                &:checked + .slider:before {@include translate(16px, 0);}
                &:focus + .slider {@include box-shadow($toggle-box-shadow);}
            }
            .slider {
                &.round {
                    @include border-radius(24px);
                    &:before {@include border-radius(50%);}
                }
            }
        }
        .form__slider {margin-top: 20px;
            .sa-title {font-size: 13px;}
            .range-title {
                .range-max {float:right;}
            }
            .ui-slider-horizontal {
                margin: 10px 0;
                background: $color-main-blue;
                border: none !important;
                border-radius: 0;
                height: 9px;
                .ui-slider-range {
                    background: #ecf0f4;
                    border-radius: 0;
                }
                .ui-slider-handle {
                    -webkit-border-radius: 1px 1px 5px #666;
                    -moz-border-radius: 1px 1px 5px #666;
                    -ms-border-radius: 1px 1px 5px #666;
                    box-shadow: 1px 1px 5px #666;
                    width: 16px;
                    height: 16px;
                    background: #ffffff;
                    border: 0;
                    @include border-radius(16px);
                    &:after {
                        content: '';
                        width: 10px;
                        height: 10px;
                        display: inline-block;
                        background: #2fb4e6;
                        @include border-radius(10px);
                        margin: 3px;
                    }
                }
            }
        }
        .form__visitor {
            .age-child {
                background: #ecf0f4;
                margin-top: 20px;
                padding: 10px 25px;
                font-size: 13px;
                &:before {
                    content: '';
                    position: absolute;
                    margin-top: -30px;
                    right: 0;
                    margin-right: 60px;
                    display: inline-block;
                    width: 0;
                    height: 0;
                    margin-left: 2px;
                    vertical-align: middle;
                    border-bottom: 20px dashed #ecf0f4;
                    border-right: 20px solid #fff;
                    border-left: 20px solid #fff;
                }
                .ac-list {
                    &>.col-8, &>.col-2 {padding: 10px 0;}
                    &>.col-2 {border-bottom: 1px solid #ccc;
                        &:after {
                            content: '';
                            display: inline-block;
                            width: 13px;
                            height: 8px;
                            background: url(/Assets/mobile/images/Hotel/arrow-down-grey.png) no-repeat;
                            float: right;
                            margin-top: 5px;
                        }
                    }
                    &:last-child {&>.col-2 {border-bottom: none;}}
                }
            }
        }
        &.hotel-form {
            .placeholder {
                color: #999;
                float: right;
                font-size: 13px
            }
            .checkout-date {
                margin-top: 6px;
                font-size: 13px;
                width: 100%;
                text-align: right;
            }
            p {
                &.form-hotel:before {
                    background-size: 40%;
                    background-repeat: no-repeat;
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    position: absolute;
                    left: 0;
                    @include size(47px, 52px);
                    background-image: url(/Assets/mobile/images/find.png);
                    margin-left: 12px;
                }
                &.form-date:before {
                    background-size: 40%;
                    background-repeat: no-repeat;
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    position: absolute;
                    left: 0;
                    @include size(47px, 46px);
                    background-image: url(/Assets/mobile/images/date.png);
                    margin-left: 12px;
                }
                &.form-time{
                    .duration-title {    
                        float: left;
                        margin-top: 10px;
                    }
                    .placeholder {margin-top: 10px;}
                    input[name="hotel-night"] {
                        float: right;
                        width: 60px;
                    }
                    &:before {
                        background-size: 40%;
                        background-repeat: no-repeat;
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        position: absolute;
                        left: 0;
                        @include size(53px, 52px);
                        background-image: url(/Assets/mobile/images/time.png);
                        margin-left: -28px;
                    }
                }
                &.form-room{
                    &:before {
                        background-size: 40%;
                        background-repeat: no-repeat;
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        position: absolute;
                        left: 0;
                        width: 35px;
                        height: 35px;
                        background-image: url(/Assets/mobile/images/Hotel/room.png);
                        margin-left: -28px;
                        margin-top: -6px;
                    }
                }
                .vt-title {
                    margin-top: 10px;
                    text-align: left;
                }
            }
            
        }
    }    
}
.tab-content {
    .tp-flight .form-wrapper {padding: 20px 15px;}
    .tp-hotel .form-wrapper {padding: 0 12px 20px;}
}
.col-custom-logo {
    &.icon-adult:before {
        @extend .display-icon;
        @include size(36px, 24px);
        background-image:url($icon-adult); 
        top: 20px;
    } &.icon-child:before {
        @extend .display-icon;
        @include size(36px, 24px);
        background-image:url($icon-children); 
        top: 20px;
    } &.icon-infant:before {
        @extend .display-icon;
        @include size(35px, 24px);
        background-image:url($icon-infant);
        top: 20px; 
    }
}

input[name="hotel-night"], input[name="hotel-visitor"] {
    padding: 10px;
    text-align: right;
    display: inline;
    box-shadow: none;
    border: none;
    background: transparent;
    border-radius: 0;
}

/*Column*/
.col-custom-field {width: 33.333333333333332%;}
.col-half {width: 50%;}
.col-2 {width: 20%;} .col-4 {width: 40%;} .col-6 {width: 60%;} .col-8 {width: 80%;} 
.col-custom-logo, .col-custom-field, .col-half, .col-2, .col-4, .col-6, .col-8 {
    float: left;
    position: relative;
    min-height: 1px;
}