.page-hotel {
    /*General*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #000;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    
    /*Fonts*/
    .lg-txt {    
        font-size: 16px;
        line-height: 20px;
    }
    .md-txt {font-size: 13px;}
    .sm-txt {font-size: 9px;}
    .xs-txt {font-size: 8px;}
    .italic-txt {font-style: italic;}
    .underline-txt {text-decoration: line-through;} 
    .bold-txt {font-weight: 700;}
    .semibold-txt {font-weight: 600;}
    .normal-txt {font-weight: 400;}   
    .blue-txt {color: $color-main-blue;
        &.bg {
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
        }
    }
    .grey-txt {color: #999;}
    .green-txt {color: #3a8e1b;}
    .orange-txt {color: #ff7200;}
    .bg-title {
        font-size: 19px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    /*Custom Column*/
    .col-left-hotel, .col-right-hotel, .col-half {
        position: relative;
        min-height: 1px;
    }

    .col-left-hotel, .col-right-hotel, .col-half {float: left;}
    
    .col-left-hotel {width: 40%;} .col-right-hotel {width: 60%;}

    .col-half {width: 50%;}

    /*Icon*/
    .star-outline {
        content: '';
        display: inline-block;
        background: url(/Assets/travorama20/images/Hotel/star-outline.png);
        height: 16px;
    } .so-1 {
        @extend .star-outline;
        width: 19px;
        margin-left: 68px;
    } .so-2 {
        @extend .star-outline;
        width: 38px;
        margin-left: 51px;
    } .so-3 {
        @extend .star-outline;
        width: 57px;
        margin-left: 34px;
    } .so-4 {
        @extend .star-outline;
        width: 76px;
        margin-left: 17px;
    }
    .star {
        display: block;
        background: url(/Assets/travorama20/images/Hotel/star.png);
        height: 16px;
        width: 17px;
        &.star-2 {width: 34px;} 
        &.star-3 {width: 51px;}
        &.star-4 {width: 68px;}
        &.star-5 {width: 85px;}
        
        &.e-star {
            &:after {@extend .so-4;}
            &.star-2 {width: 34px;
                &:after {@extend .so-3;}
            } &.star-3 {width: 51px; 
                &:after {@extend .so-2;}
            } &.star-4 {width: 68px;
                &:after {@extend .so-1;}
            } &.star-5 {width: 85px;}
        }
    }
    .maps-icon {
        content: '';
        display: inline-block;
        background: url(/Assets/travorama20/images/Hotel/location.png) no-repeat;
        width: 12px;
        height: 17px;
        vertical-align: middle;
    }

    /*Shared Page*/
    .top-content {
        .hotel-sort-filter .hotel-sort-filter-action a {
            float: left;
            color: #fff;
            text-align: center;
            display: block;
            width: 33.333333333333336%;
            font-weight: bold;
            padding: 15px 0;
            background: #616161;
            text-decoration:none;
            + a {border-left: 1px solid #8f8f8f;}
        }
        .hotel-summary {background-color:#2eb4e7; color:#fff; position:relative; @include clearfix();
            p {margin-bottom:0;}
            .summary-left {float:left; width:77%; padding:12px;}
            .summary-right {@extend & .summary-left; padding:0; width:25%; color:#fff; height:100%; background-color:#0b84b1; display:block; vertical-align:middle; text-align:center; font-weight:bold; position:absolute; right:0;
                span {position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; height:auto; width:auto; width:50px; height:20px;}
            }
        }
    }
    .travorama-hotel-mobile {
        /*--------------------*/
        /* imports */
        @import 'page_hotel_search';
    }
}