.detail-hotel { /*display: none;*/
    .dh-title {
        padding: 20px 15px;
        border-bottom: 1px solid #e9e9e9;
        .dh-name {margin-bottom: 12px;}
    }
    .dh-location {
        padding: 20px 50px;
        border-bottom: 1px solid #e9e9e9;
        line-height: 12px;
        color: #666;
        &:before {@extend .maps-icon;}
    }
    .dh-listing {
        .dh-list-title {padding: 20px 15px 15px;}
        .dh-list-container {
            padding: 0;
            margin: 0;
            list-style: none;
            &>li{border-top: 1px solid #e9e9e9;
                &:first-child {border-top:none;}
            }
            .dh-list {padding: 10px 15px;
                .col-right-hotel .sm-txt.grey-txt {margin: 5px 0;}
            }
            .dh-accordion {
                .accordion-wrapper {
                    .accordion-dh {
                        &:before {@extend .arrow-down;}
                        &.active:before {@extend .arrow-up;}
                    }
                    .accordion-content {
                        margin-bottom: 0;
                        &.show {
                            padding: 15px;
                            border: none;
                            background: #eceff4;
                        }
                    }
                }
                .dh-list-detail {
                    .dh-top img {width: 100%;}
                    .dh-bottom {
                        margin-top: 15px;
                        &>.sm-txt.grey-txt {
                            line-height: 12px;
                            margin-top: 6px;
                        }
                        &>.price {
                            margin: 6px 0;
                        }
                        .facility {
                            margin-top: 6px;
                            .wifi {@extend .wifi-icon-sm;}
                            .meal {@extend .meal-icon-sm;}
                            .ac {@extend .ac-icon-sm;}
                        }
                        .room {
                            margin-top: 15px;
                            .room-title {
                                float: left;
                                line-height: 30px;
                            }
                            .counter-room {
                                float: left;
                                margin-left: 20px;
                            }
                            .btn-room {
                                background: #2eb4e7;
                                color: #fff !important;
                                vertical-align: middle;
                                font-size: 0;
                                line-height: 30px;
                                width: 30px;
                                height: 30px;
                                display: inline-block;
                                &.btn-min {
                                    margin-right: -3px;
                                    &:before {
                                        content: '-';
                                        display: inline-block;
                                        color: #fff;
                                        font-size: 20px;
                                        padding: 0 12px;
                                    }
                                }
                                &.btn-plus {
                                    margin-left: -3px;
                                    &:before {
                                        content: '+';
                                        display: inline-block;
                                        color: #fff;
                                        font-size: 20px;
                                        padding: 0 9px;
                                    }
                                }

                            }
                            .result-room {
                                background: #fff;
                                vertical-align: middle;
                                font-size: 14px;
                                line-height: 30px;
                                height: 30px;
                                display: inline-block;
                                width: 50px;
                                text-align: center;
                                border: 1px solid #ccc;
                            }
                            &>a.btn-yellow {float:right;}
                        }
                    }
                }
            }
        }
    }
}
.spec-hotel { display: none;
    .sh-title {margin-bottom: 15px;}
    .sh-desc, .sh-facility, .sh-policy {padding: 25px 15px;}
    .sh-desc, .sh-facility {border-bottom: 1px solid #e9e9e9;}
    .sh-txt {
	    height: 160px;
        &.opened {height: auto;
            .toggle {
                .sh-open {display: none;}
                .sh-close {display: block;}
            }
        }
        .toggle {
            .sh-open {display: block;}
            .sh-close {display: none;}

        }
        .sh-open {@extend .arrow-down-grey;}
        .sh-close {@extend .arrow-up-grey;}
    }
    .sh-facility {
        .sh-list-facility {padding-left: 15px;}
    }
}