// page FAQS
.page.page-faqs {
    .question-wrapper {
        &>ol {padding-left:25px; list-style:none; counter-reset:main-number;
            &>li {position:relative;
                &:before {
                    content: counter(main-number);
                    counter-increment: main-number;
                    background: #ffd632;
                    color: #4f3500;
                    position: absolute;
                    height: 20px;
                    width: 20px;
                    text-align: center;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    -ms-border-radius: 50px;
                    border-radius: 50px;
                    font-size: 14px;
                    font-weight: 700;
                    margin-left: -25px;
                    margin-top: 12px;
                }
                .faq-title {
                    padding: 12px 0;
                    font-size: 16px;
                    font-weight: bold;
                    color: #2eb4e7;
                    margin-left: 5px;
                }
                /*&>header {color:#1daee4;
                    h2 {font-size:16px; font-weight:bold;}
                }*/
                &>ol {padding-left:0; list-style:none; counter-reset:sub-number;
                    &>li {background:#fff; margin-left:-25px; padding:10px; border:$border-default; position:relative; padding-left:30px; margin-bottom: 5px;
                        &:before {content:counter(main-number) '.' counter(sub-number); counter-increment:sub-number; position:absolute; top:8px; left:5px; color:#1daee4; font-size:14px; font-weight:bold;}
                        &>header {color:#1daee4;
                            h3 {font-size:14px; margin-top:0; font-weight:bold;}
                        }
                        & + li {margin-top:15px;}
                    }
                }
            }
        }
        .toggle {position:relative;
            header {position:relative; padding-right:25px;
                &:after {width:20px; height:20px; background:url(/assets/mobile/images/arrow-down.png); background-size:contain; content:''; display:block; top:0; right:0; position:absolute;}
            }
            section {display:none;}
            //
            &.active {
                header:after {background:url(/assets/mobile/images/arrow-up.png); background-size:contain;}
                section {display:block;}
            }
        }
    }
}// page FAQS


// page terms
.page.page-terms {
    ol.listing {padding-left:20px;
        &>li {
            &>ol, &>ul {padding-left:20px;
                &>li {}
            }
        }
    }
}// page terms

// page privacy
.page.page-privacy {
    ol.listing {padding-left:20px;
        &>li {
            &>ol, &>ul {padding-left:20px;
                &>li {}
            }
        }
    }
}// page privacy

// page how to order
.page.page-howtoorder {
    .howto-content {
        .list__wrapper {padding:0; margin:0; list-style:none; counter-reset:howto-counter;
            .list {margin-bottom:15px; counter-increment: howto-counter;
                .list__header {background:$color-main-blue;
                    h3 {color:#fff; padding:15px; @extend .os-semibold; font-weight:600; margin:0; position:relative; padding-left:60px;
                        &:before {content:counter(howto-counter); background:#028ec3; color:#fff; @extend .os-semibold; font-weight:600; display:inline-block; vertical-align:middle; position:absolute; left:0; top:0; height:100%; padding:15px;}
                    }
                }
                .list__content {background:#fff; padding:15px; border:$border-default; border-top:0;
                    img {margin:15px 0; max-width:100%;}
                }
            }
        }
        .howto-note {
            h3 {font-weight:bold;}
            p {
                span {color:$color-main-blue;}
            }
        }
    }
}// page how to order

 .page.page-newsletter {
     .container-page {
         p {
             color: #3fabe3;
             font-size: 16px;
             text-align: center;
         }
     }
     .overlay-content{
         p {
             color: $color-black;
             font-size: 12px;
         }
     }
 }

.page.page-promo {
    .promo-list {
        margin-bottom: 15px;
        a {
            font-weight: 700;
            text-decoration: underline;
        }
        .img-promo {
            background-repeat: no-repeat;
            height: 110px;
            background-size: cover;
            background-position: center;
        }
    }
}
