// page user account
.page.page-useraccount {
    .menu-user {display:block; background:$color-main-blue; color:#fff; padding:15px;
        &:before {content:''; display:inline-block; width:50px; height:50px; background-image:url(/Assets/mobile/images/user-account-bg.png); background-repeat:no-repeat; vertical-align:middle;}
        span {display:inline-block; padding-left:15px; font-weight:600; font-size:14px; vertical-align:middle}
    }
    // user menu section
    .user-menu {
        .menu-wrapper {@include border-radius($border-radius-default);
            ul {margin:0; padding:0; list-style:none; border-bottom:$border-default;
                li {
                    a {display:block; padding:15px; padding-left:50px; font-weight:600; position:relative; font-size:14px;
                        &:before {display:block; content:''; position:absolute; top:0; left:0; width:50px; height:50px; background-image:url(/Assets/mobile/images/user-account-bg.png); background-repeat:no-repeat;}
                        &:after {display:block; content:''; position:absolute; top:0; right:0; width:50px; height:50px; background-image:url(/Assets/mobile/images/user-account-bg.png); background-position:-200px 0; background-repeat:no-repeat;}
                    }
                    // styling
                    &+li {border-top:$border-default;}
                    &.menu-profile {
                        a:before {background-position:-50px 0;}
                    }
                    &.menu-history {
                        a:before {background-position:-100px 0;}
                    }
                    &.menu-logout {
                        a:before {background-position:-150px 0;}
                        a:after {display:none;}
                    }
                }
            }
        }
    }
    // user profile section
    .user-profile {
        .form-wrapper {padding:0;
            &>div {
                &>header {background:$color-main-blue; color:#fff; padding:15px;
                    span {font-weight:600; font-size:14px;}
                }
                &>div {padding:15px;}
            }
            
        }
    }
    // user history section
    .user-history {
        .page-title {background:$color-main-blue; color:#fff; padding:15px;
            span {text-align:center; font-weight:600; margin:0; font-size:14px; display:block;}
        }
        .history-list {margin:0; padding:0; list-style:none;
            &>li {padding:30px; padding-left:30px; padding-right:0; position:relative;
                &+li {border-top:$border-default;}
                &:before {display:block; content:''; width:60px; height:60px; position:absolute; top:0; left:0; background-image:url(/Assets/mobile/images/flight-history-status.png); background-repeat:no-repeat;}
                // styling
                &.done {
                    &:before {background-position:0 0;}
                }
                &.pending {
                    &:before {background-position:-60px 0;}
                }
                &.canceled {
                    &:before {background-position:-120px 0;}
                }
                .btn {margin-top:15px;}
            }
        }
    }
}

// page order detail
.page.page-orderdetail {
    .order-detail {
        .content-header {background:#2eb4e7; color:#fff; padding:10px 0; text-align:center;}
        .content-body {
            &>div {
                &>header {background:#dedede; padding:10px 5px; color:#575757;}
                &>section {padding:10px;}
            }
        }
    }
    .passenger-list {padding:0; margin:0; padding-left:30px; counter-reset:number; list-style:none;
        li {position:relative; counter-increment:number;
            &:before {background:$color-main-blue; content:counter(number); position:absolute; color:#fff; top:0; left:-30px; width:20px; height:20px; text-align:center; padding:2px;}
        }
    }
    .info-flight {
        .flight {position:relative; padding-left:30px; margin-bottom:20px;
            .flight__airline__logo {}
            .flight__airline__name {color:$color-main-blue; font-weight:bold; padding-top:10px;}
            &:before {content:''; width:20px; height:20px; position:absolute; top:0; left:0; background-color:$color-main-blue; background-repeat:no-repeat; background-size:200%; border:2px solid $color-main-blue; background-image:url(/assets/images/plane-updown-sprite.png);}
            &.departure {}
            &.return {
                &:before {background-position:-16px;}
            }
        }
    }
}

// forgot password page
.page.page-forgotpassword {
    .desc {margin-bottom: 25px;} 
}

.page-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    .overlay-content {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
        width: 300px;
        min-height: 200px;
    }
    .overlay-container {
        background: $color-white;
        @include border-radius(2px);
        header.overlay-header {
            background: $color-main-blue;
            padding: 15px;
            text-align: center;
            font-weight: 600;
            font-size: 14px;
            color: #fff;
        }
        .img {margin-top: 25px;}
        .overlay-body {padding: 15px;}
        .overlay-footer {padding: 0 0 15px;}
    }
}
   
// page contact
.page.page-contact {
    .contact-map {background:url(/Assets/mobile/images/contact-map.jpg) center center; background-size:cover;
        .container {padding:0 30px;}
        .contact-list {background:#0c9ed5; padding:15px; color:#fff; margin-top:15px; margin-bottom:35px; position:relative; margin-top:60px; padding-top:35px; padding-bottom:0; @include box-shadow(0px -2px 15px #555); @include border-radius(5px);
            &:before {width:154px; height:154px; background:url(/Assets/mobile/images/contact-plane.png) center center no-repeat; content:""; position:absolute; top: -154px; @include translate(50%, 50%); right: 50%; background-size: 50%;}
            a {color:#fff;}
            &>div {padding:15px; padding-left:35px; position:relative;
                &:before {position:absolute; content:''; width:30px; height:30px; background-image:url(/Assets/mobile/images/contact-list-bg.png); background-repeat:no-repeat; position:absolute; margin-left:-35px;}
                &.address:before {background-position:0 0;}
                &.email:before {background-position:-30px 0;}
            }
            &>div+div {border-top:1px solid #7fcae7;}
            h4 {font-weight:bold;}
        }
    }
    .contact-social {@include clearfix();
        a {display:block; float:left; width:33.333333334%; height:65px; position:relative;
            &:before {width:55px; height:55px; content:""; background:url(/Assets/mobile/images/contact-social-bg.png); position:absolute; left:50%; margin-left:-26px; margin-top:5px;}
            &.facebook {background-color:#004787;
                &:before {background-position:0 0;}
            }
            &.twitter {background-color:#009dd7;
                &:before {background-position:-55px 0;}
            }
            &.instagram {background-color:#36c8ff;
                &:before {background-position:-110px 0;}
            }
        }
    }
    .contact-form {}
    textarea.form-control {
        height: 110px;
        resize: none;
    }
    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }
}

 
.page-password.page-check-order{
    .page__body{
        h4{
            font-size: 8px;
            color: green;
        }
    }
}



.forgotpasswordtext {
    p {text-align:justify;}
}

.page-cekpesanan {
    .cek-pesan-list {
        padding: 10px 15px 0;
        li {padding: 10px 0;}
    }
}

.page-resetpassword {
    .passwordform {
        margin: 0 15px;
        .resetpassword {margin: 15px 0 30px;
            header {background:$color-main-blue; color:#fff; padding: 10px 20px; font-size:13px; font-weight:bold; position:relative;
                .toggle {content:""; position:absolute; top:0; right:0; padding:0; background:#028ec3; height:100%; display:block; width:40px; cursor:pointer;
                    &:after {content:"-"; position:absolute; font-size:28px; color:#fff; font-weight:bold; top:0; left:0; text-align:center; width:100%;}
                }
            }
            .content {padding:15px; border:$border-default; border-top:none; background:#fff; 
                      p{color: red; padding-left: 10px; margin-top:10px; margin-bottom:10px;}}
            // if passenger form inactive
            &.inactive {
                header .toggle:after {content:"+";}
                .passenger-content {display:none;}
            }
            input.btn.btn-yellow.form-control {
                height: 40px;
                font-size: 15px
            }
            .red-text {color: red;}
        }
    }

    .reset-success {margin: 0 30px;
        img.lock {max-width: 30%;}
        .success-txt {
            font-size: 15px;
            margin: 20px 0 15px;
        }
        .btn.btn-yellow {
            font-size: 14px;
            padding: 10px;
            width: 100%;
        }
    }
}