﻿.page.page-checkout {
    // *****
    // page header

    .page__header {margin:0; padding:0; @include clearfix(); overflow:hidden;
        .step__wrapper {position:relative;
            .step {float:left; width:33.3333334%; background:#2eb4e7; color:#fff; border-right:1px solid #1c99c7; position:relative; z-index:2; @include skew-x(-30deg);
                span {font-size:14px; font-weight:600; padding:10px 15px; display:block; position:relative; z-index:2; @include skew-x(30deg);}
                &:before {background:#2eb4e7;}
                &:after {background:#2eb4e7;}
                // if active
                &.active {background:#032f56;
                    &:before {background:#032f56;}
                    &:after {background:#032f56;}
                }
                // if inactive
                &.inactive {background:#a6a6a6;
                    &:before {background:#a6a6a6;}
                }
                // if last child
                &:last-child {border-right:0;
                    &:after {content:''; display:block; position:absolute; height:100%; width:100%; top:0; left:15px; @include skew-x(30deg);}
                }
                // step 1 
                &.step-1:before {content:''; display:block; position:absolute; height:100%; width:100%; top:0; left:-15px; @include skew-x(30deg);}
            }
        }
    }

    // page body
    .page__body {padding:10px;
        .page-loading {display:none;}
        .page-loaded {display:block;}
        .page-step-1 {}
        .page-step-2 {
            .btn.btn-yellow {margin-top:25px;}
        }
        .page-step-3 {}

    }

    // *****
    // passenger
    .passenger {background:#fff; border:$border-default;
        .passenger__header {background:#2eb4e7; color:#fff; font-weight:bold; padding:10px 15px;
            .passenger__title {margin:0;}
        }
        .passenger__body {padding:10px;}
    }

    // summary
    .summary {
        .summary__title {color:#333;}
        .summary__body {}
        // price
        &.summary--price {
            dl {@include clearfix();
                dt {float:left; width:50%; font-weight:normal; position:relative; padding-left:12px;
                    &:before {position:absolute; content:''; width:7px; height:7px; background:#ff7200; top:3px; left:0;}
                }
                dd {float:left; width:50%; text-align:right; font-weight:bold;}
                // total price
                &.total-price {border-top:$border-default; padding-top:10px;
                    dt {width:35%;
                        &:before {display:none;}
                    }
                    dd {width:65%; color:#ff7200; font-size:16px;}
                }
            }
        }
        // passenger
        &.summary--passenger {color:#63c6ec;
            h4 {color:#63c6ec; font-weight:bold;}
            ol {padding-left:20px;
                li {}
            }
            dl {margin-bottom:5px; color:#333; @include clearfix();
                dt {float:left; width:50%; font-weight:normal; position:relative;
                    &:after {position:absolute; content:':'; right:10px;}
                }
                dd {float:left; width:50%; font-weight:bold;}
            }
        }
        // voucher
        &.summary--voucher {background:#eaeaea; padding:10px;
            h4 {font-weight:bold;}
            form {}
        }
        // payment
        &.summary--payment {
            label {border:$border-default; display:block; width:100%; background:#fff; color:#fff;
                header {background:#36b6e7; position:relative; @include clearfix();
                    .input-wrapper {float:left; background:#028ec3; width:30px; text-align:center; position:absolute; height:100%; padding-top:5px;}
                    h5 {padding:10px; margin:0; float:left; padding-left:40px; font-weight:bold; width:100%;}
                }
                section {text-align:center; padding:5px;}
            }
        }
    }

    // credit card form
    .credit-card-form {
        .cc-number {
            &.visa {background-image:url(/Assets/images/visa-logo.jpg); background-position:98% center; background-repeat:no-repeat;}
            &.mastercard {background-image:url(/Assets/images/mastercard-logo.jpg); background-position:98% center; background-repeat:no-repeat;}
        }
    }

    // overlay
    .overlay--flight-detail {
        .flight-detail-wrapper {padding:10px; padding-top:0;}
        .flight-fare-wrapper {padding:10px;
            .fare-note {background:#eaeaea; padding:10px;}
        }
        dl {@include clearfix();
            dt {float:left; width:50%; font-weight:normal; position:relative; padding-left:12px;
                &:before {position:absolute; content:''; width:7px; height:7px; background:#ff7200; top:3px; left:0;}
            }
            dd {float:left; width:50%; text-align:right; font-weight:bold;}
            // total price
            &.total-price {border-top:$border-default; padding-top:10px;
                dt {width:35%;
                    &:before {display:none;}
                }
                dd {width:65%; color:#ff7200; font-size:16px;}
            }
        }
    }

}


// page confirmation
.page.page-confirmation {
    .instruction {
        header {background:#2fb4e6; color:#fff; padding:5px 10px; margin-bottom:10px;}
        // bank detail
        .bank-detail {
            .bank {background:#caedfa; padding:15px;
                .image-wrapper {background:#fff; text-align:center; margin-bottom:10px;}
                dl {margin-bottom:5px; @include clearfix();
                    dt {float:left; width:40%;}
                    dd {float:left; width:60%; position:relative; padding-left:12px;
                        &:before {position:absolute; content:":"; top:0; left:0;}
                    }
                }
            }
        }
    }
    // countdown
    .countdown {
        .widget-content {background:#ffd632; padding:15px;
            .timer {background:#ffefb0; padding:12px; text-align:center; border-bottom: 1px solid #dab939; color: #4d4e4e;
                &>div {display:inline-block;}
                h5 {font-weight: bold; font-size: 36px; margin-bottom: 0; margin-top: 0;}
                span {font-size: 12px;}
                .separator {vertical-align: top; margin-left: 6px; margin-right: 6px;}
            }
        }
    }
    // form
    .confirmation-form {
        .control-label.important {
            &:after {content:'*'; color:red;}
        }
    }
}
