.page.page-home {
    height: 100%;
    @include clearfix(); 
    background:#ffffff;
    .form-container {
        height: 100%;
        .form-wrapper {
            padding: 0;
            min-height: 100%;
            margin:15px; 
            background:none; 
            border:0;
            h1 {
                text-align:center; 
                margin-bottom:25px; 
                color:#fff;
            }
            form {
                .form-group {
                    margin-bottom: 0;
                    p.form-control { 
                        height:auto;
                    }
                }
                
                .form__destination, .form__origin {
                    .title-destination {
                        font-size: 14px;
                        text-align: center;
                        margin-bottom: 10px;
                        color: #000;
                    }
                    p.form-control {
                        text-align:center;
                        background: #ecf0f4;
                        max-width: 120px;
                        margin: 0 auto;
                        box-shadow: none;
                        border-radius: 5px;
                        border: 1px solid #dde1e4;
                    }
                }
                span.code-airport, span.city {
                    margin: 0 auto;
                }
                span.code-airport {
                    font-size: 40px; 
                    line-height: 44px;
                    color: #000;
                }
                span.city {
                    font-size: 14px; 
                    line-height: 20px;
                    color:#686868;
                }
                span.icon-pp, span.icon-return, span.icon-fc, span.icon-people, span.icon-flip {
                    display: inline-block;
                    vertical-align: middle;
                    position: absolute;
                    background-repeat: no-repeat;
                    background-size: 50% 50%;
                }
                span {
                    /*&.icon-pp {
                        @extend .icon-mobile;
                        width: 24px;
                        height: 24px;
                        background-position: -101px -2px;
                        top: 18px;
                    } &.icon-return {
                        @extend .icon-mobile;
                        width: 22px;
                        height: 23px;
                        background-position: -67px -3px;
                        top: 20px;
                    } &.icon-fc {
                        @extend .icon-mobile;
                        width: 30px;
                        height: 29px;
                        background-position: -27px 0;
                        top: 16px;
                    } &.icon-people {
                        @extend .icon-mobile;
                        width: 21px;
                        height: 29px;
                        top: 16px;
                    } &.icon-flip {
                        @extend .icon-mobile;
                        width: 22px;
                        height: 21px;
                        background-position: -133px -4px;
                        top: 8px;
                        left: 4px;
                    }*/
                    &.icon-pp {
                        background-image:url(/assets/mobile/images/calendar.png);
                        width: 47px;
                        height: 46px;
                        top: 18px;
                    } &.icon-return {
                        background-image:url(/assets/mobile/images/loop.png);
                        width: 43px;
                        height: 43px;
                        top: 20px;
                    } &.icon-fc {
                        background-image:url(/assets/mobile/images/medals.png);
                        width: 59px;
                        height: 56px;
                        top: 16px;
                    } &.icon-people {
                        background-image:url(/assets/mobile/images/people.png);
                        width: 41px;
                        height: 57px;
                        top: 16px;
                    } &.icon-flip {
                        background-image:url(/assets/mobile/images/flip.png);
                        width: 43px;
                        height: 40px;
                        top: 8px;
                        left: 4px;
                    }
                }
                .middle-form {
                    margin: 10px 0 50px;
                    .form-group {
                        position: relative;
                    }
                }
                .top-form {
                    max-width: 300px;
                    margin: 0px auto;
                }
                .form__departure, .form__return, .form__roundtrip, .form__passenger, .form__flightclass {
                    p, p.form-control, select.form-control {
                        font-size:14px;
                        color: #000;
                        padding: 0;
                        height: auto;
                        border: none;
                        box-shadow: none;
                        border-radius: 0;
                        display: inline;
                        background: #ffffff;
                        span {float:right;}
                    }
                }
                .field-container {
                    margin-left:42px;
                    border-bottom: 1px solid #eeeeee;
                    padding: 20px 0;
                }
                .flip-container {
                    position: relative;
                    min-height: 104px;
                    .flip {
                        position: absolute;
                        width: 35px;
                        height: 37px;
                        background: #ecf0f4;
                        border: 1px solid #dde1e4;
                        display: inline-block;
                        border-radius: 5px;
                        top: 60%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                } 
                .form__roundtrip {
                    .switch {
                        float: right;
                        position: relative;
                        display: inline-block;
                        width: 40px;
                        height: 24px;
                        input {
                            display:none;
                        }
                    }
                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #ccc;
                        -webkit-transition: .4s;
                        transition: .4s;
                        &:before {
                            position: absolute;
                            content: "";
                            height: 16px;
                            width: 16px;
                            left: 4px;
                            bottom: 4px;
                            background-color: #ffffff;
                            -webkit-transition: .4s;
                            transition: .4s;
                        }
                    }
                    input {
                        &:checked + .slider {
                            background-color: #2ea1e8;
                        }
                        &:checked + .slider:before {
                            -webkit-transform: translateX(16px);
                            -ms-transform: translateX(16px);
                            transform: translateX(16px);
                        }
                        &:focus + .slider {box-shadow: 0 0 1px #2196F3;}
                    }
                    .slider {
                        &.round {
                            border-radius: 24px;
                            &:before {border-radius: 50%;}
                        }
                    }
                }
                .btn.btn-yellow {
                    border-radius: 5px;
                    font-weight: 600;
                }
            }
        }
    }
}

@media handheld,
only screen and (max-width: 420px) {
    .page.page-home .form-container {
        height: auto;
        min-height: 430px;
    }
}

@media handheld,
only screen and (max-width: 360px) {
    .page.page-home .form-container {
        height: auto;
        min-height: 400px;
    }
}

@media handheld,
only screen and (max-width: 320px) {
    .page.page-home .form-container {
        height: auto;
        min-height: 440px;
    }
}