// --------------------
// flight page

.page.page-flight {
    // flight loading
    .flight-loading {background:#ffae93; display:block; width:100%; height:5px; position:relative;
        .flight-progress {background:#ff7d51; position:absolute; height:100%; top:0; left:0;}
    }
    // flight summary
    .flight-summary {background-color:#2eb4e7; color:#fff; position:relative; @include clearfix();
        p {margin-bottom:0;}
        .summary-left {float:left; width:77%; padding:12px;}
        .summary-right {@extend & .summary-left; padding:0; width:25%; color:#fff; height:100%; background-color:#0b84b1; display:block; vertical-align:middle; text-align:center; font-weight:bold; position:absolute; right:0;
            span {position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; height:auto; width:auto; width:50px; height:20px;}
        }
    }
    // flight sort and filter
    .flight-sort-filter {
        .flight-sort-filter-action {background:#616161; @include clearfix();
            a {float:left; color:#fff; text-align:center; display:block; width:50%; font-weight:bold; padding:15px 0;}
            a+a {border-left:1px solid #8f8f8f;}
        }
    }
    // flight notice
    .flight-notice {background:#ff9a24; color:#fff; padding:5px;
        p {margin-bottom:0; font-size:11px;}
    }
    // flight selection
    .flight-selection {background:#e5e3e4; position:relative; font-weight:bold;
        .flight-info {padding:15px; padding-left:50px;
            &:before {content:""; position:absolute; top:50%; margin-top:-10px; left:15px; width:22px; height:20px; background:url(/Assets/images/flight-review-title-sprite.png) no-repeat;}
            &.flight-info--return {
                &:before {background-position:-22px 0;}
            }
        }
        .change-departure {width:25%; position:absolute; height:100%; background:#b7b7b7; color:#fff; text-align:center; right:0; top:0;
            span {position:absolute; top:0; right:0; bottom:0; left:0; margin:auto; width:50px; height:20px; font-weight:bold;}
        }
    }
    // flight list
    .flight-list {
        // flight
        .flight {padding:12px; @include clearfix();
            &+.flight {border-top:1px solid #ccc;}
            .flight-header {
                .flight-airline {margin-top:0; margin-bottom:0;
                    .flight-airline-image {height:30px;}
                    span {color:#2ca3e1; font-weight:bold;}
                }
                &.col-xs-8 {padding: 0;}
            }
            .flight-content {@include clearfix();
                .content-left {float:left; width:50%;
                    .flight-time {@include clearfix();
                        span {font-weight:bold; float:left; display:block;}
                        .departure {}
                        .separator {width:10%; border-top:2px solid $color-main-blue; height:10px; position:relative; top:7px; margin-left:5px; margin-right:5px;}
                        .arrival {}
                        .overday {background:#aaaaaa; color:#fff; font-weight:normal; margin-left:5px; padding:3px; font-size:12px;}
                    }
                    .flight-duration {}
                }
                .content-right {@extend & .content-left; text-align:right; color:#ff7200;
                    label {font-weight:normal;}
                    .flight-price-was {margin:0; text-decoration:line-through;}
                    .flight-price {margin-top:0; font-weight:bold; font-size:16px;}
                }
            }
            .flight-footer {
                .flight-detail-button {display:inline-block; padding:3px 0;}
                .flight-order {padding-top:3px; padding-bottom:3px;}
            }
        }
    }

    .overlay {
        &.overlay--flight-form .overlay__content { 
            @import 'home_page_layout';
            min-height: auto;
            padding: 0;
        }
        &.overlay--datepicker .overlay__content {
            max-width: 340px;
            margin: 0 auto 15px;
            min-height: auto;
        }
    }
}

// --------------------
// overlay--flight-form
.overlay--flight-form {
    .overlay__content {background:$color-white;
        form {color:#fff;
            // form group
            .form-group {
                &.origin {}
                &.destination {}
                &.departure {}
                &.return {}
                &.passenger {}
                &.submit {}
            }
            // switch
            .switch-wrapper {@include clearfix();
                span {line-height:24px; padding:3px 0; display:inline-block;}
                .switch {float:right; background:#fff; @include border-radius($border-radius-default); padding:3px;
                    label {color:#000; width:50px; text-align:center; display:block; float:left; margin-bottom:0; line-height:24px;
                        &.active {background:$color-main-blue; color:#fff; @include border-radius($border-radius-default);}
                    }
                }
            }
        }
    }
}

// --------------------
// overlay--flight-filter
.overlay--flight-filter {
    //overlay content
    .overlay__content {
        // filter group
        .filter-group {padding:12px;
            label {font-weight:normal;}
            &+.filter-group {border-top:$border-default;}
            .filter-group__header {margin-bottom:12px;
                .filter-group__title {margin:0; font-weight:normal;}
            }
            .filter-group__content {
                label {display:block; padding:12px 0;
                    &+label {border-top:$border-default;}
                }
                input[type="checkbox"] {float:right;}
            }
            // airline filter
            &.filter-group--airline {
                label {
                    img {height:30px; margin-right:10px;}
                }
            }
            // departure time filter
            &.filter-group--departure {
                .filter-group__content {@include clearfix();
                    label {display:block; float:left; width:50%; border:0; margin-bottom:0; padding-top:10px; padding-bottom:10px; position:relative;
                        .switch {float:left; width:20px; height:20px; content:""; background:#fff; border:3px solid #fff; position:absolute; top:50%; margin-top:-10px;}
                        input {display:none;}
                        span {width:100%; padding-left:30px; display:block;}
                        // if active
                        &.active {
                            .switch {background:#ffca10;}
                        }
                    }
                }
            }
            // return time filter
            &.filter-group--arrival {@extend &.filter-group--departure;}
            // transit filter
            &.filter-group--transit {@extend &.filter-group--departure;
                .filter-group__content {
                    label {width:33.3334%;}
                }
            }
            // airline filter
            &.filter-group--airline {@extend &.filter-group--departure;
                .filter-group__content {
                    label {width:100%;}
                }
            }
        }
        .reset {
            text-align: center;
            margin: 20px 0;
            .btn-reset {
                @include size(104px, 42px);
                @include border-radius(0);
                background: #696969;
                font-size: 15px;
                text-transform: uppercase;
                @extend .os-semibold;
                letter-spacing: 1px;
            }
        }
    }
}

// --------------------
// overlay--flight-sort
.overlay--flight-sort {
    .overlay__content {padding:0;
        span {display:block; padding:15px;
            &:before {content:''; width:20px; height:20px; background:#fff; display:inline-block; vertical-align:middle; margin-right:10px; border:3px solid #fff; @include border-radius(50px);}
            &+span {border-top:$border-default;}
            &.active {color:#fff;
                &:before {background:#ffca10;}
            }
        }
        label {display:block; width:100%; padding:12px 0;
            &+label {border-top:$border-default;}
            input[type="radio"] {float:right;}
        }
    }
}

// --------------------
// overlay--flight-detail
.overlay--flight-detail {
    .overlay__content {padding:0;
        .flight-title {background:#e5e3e4; position:relative; @include clearfix();
            &>div, &>a {float:left; display:block;}
            .flight-info {width:75%; padding-left:50px; position:relative;
                &:before {content:""; position:absolute; top:50%; margin-top:-10px; left:15px; width:22px; height:20px; background:url(/Assets/images/flight-review-title-sprite.png) no-repeat;}
            }
            .flight-change {width:25%; position:absolute; height:100%; background:#b7b7b7; color:#fff; text-align:center; right:0; top:0;
                span {position:absolute; top:0; right:0; bottom:0; left:0; margin:auto; width:50px; height:20px; font-weight:bold;}
            }
            // departure and arrival
            &.flight-title--departure {}
            &.flight-title--return {
                .flight-info:before {background-position:-22px 0;}
            }
        }
        .flight-notice {background:#d70000;}
        .flight-wrapper {
            .flight {position:relative; @include clearfix(); padding: 10px 0;
                .flight__number {width:15px; position:absolute; margin-top: 5px;
                    span {background:$color-main-blue; color:#fff; width:16px; height:16px; display:block; text-align:center; line-height:16px; font-size:12px;}
                }
                .flight__content {padding-left:25px;
                    .flight__summary {@include clearfix();
                        .flight__image {width:35px; height:auto; float:left;}
                        .flight__airline {color:$color-main-blue;}
                    }
                    .flight__detail {position:relative; @include clearfix();
                        &>div {float:left;}
                        .flight__departure {width:45%;}
                        .flight__separator {width:15%; height:100%; position:absolute; background:url(/Assets/mobile/images/flight-separator.png) center center no-repeat; left:35%; text-align: center;}
                        .flight__arrival {@extend & .flight__departure; margin-left:10%;}
                    }
                }

            }
            .transit {display:block; width:100%; text-align:center; padding:12px 0; margin-bottom:12px;
                &:after {content:""; display:block; width:100%; border-bottom:1px dashed $color-main-blue; margin-top:-9px;}
                span {color:$color-main-blue; font-style:italic; background:#fff; display:inline-block; position:relative; margin-left:auto; margin-right:auto; font-weight:600;}
            }
        }
        .container-detail {
            .tab-detail.nav-tabs {border: none;
                &>li {padding: 0;
                    &.active > a, & > a {
                        border-radius: 0;
                        border: none;
                        margin: 0;
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 12px;
                        font-weight: 700;
                        padding: 17px;
                    }
                    & > a {
                        color: #999;
                        background: $color-grey-tab;
                    }
                    &.active > a {
                        color: $color-main-blue;
                        background: $color-white;
                    }
                }
            }
            & > .tab-content {padding: 12px 12px 60px;
                .price-detail-mobile {
                    & > .flight-title {
                        padding: 10px 0;
                        margin-bottom: 10px;
                    }
                    .segment {
                        img.segment-airline-logo {
                            height: 35px;
                            width: auto;
                            position: absolute;
                        }
                        .segment-price {padding: 0 15px 15px;
                            h5 {
                                &.segment-price-name {
                                    padding: 8px 25px 15px;
                                    margin: 0;
                                    font-weight: 700;
                                    color: $color-main-blue;
                                    font-size: 14px;
                                }
                                &.segment-price-left, &.segment-price-middle, &.segment-price-right {
                                    float:left; 
                                    &.ng-binding {font-weight: 700;}
                                    &.discount {color: $color-main-blue;}
                                }
                                &.segment-price-left {width: 30%;}
                                &.segment-price-middle {width: 5%;}
                                &.segment-price-right {width: 65%; text-align: right;
                                    &.orange-total-price {
                                        color: $color-orange;
                                        font-size: 16px;
                                    }
                                }
                            }
                            .segment-price-total {
                                border-top: 1px dotted $color-orange;
                                & > h5.segment-price-left, & > h5.segment-price-right {width: 50%; font-weight: 700;}
                            }
                            .segment-netprice-total {
                                border-top: 1px solid $color-orange;
                                & > h5.segment-price-left, & > h5.segment-price-right {width: 50%; font-weight: 700;}
                                h6.segment-price-left {color: $color-orange;}
                            }
                            span.segment-price-q {
                                content: "";
                                position: absolute;
                                width: 7px;
                                height: 7px;
                                background: #fd8524;
                                left: 12px;
                            }
                        }
                    }
                }
            }
        }
    }// overlay__content
    .overlay__footer {
        h5 {margin-top:0; margin-bottom:0;}
        h4 {margin-top:0;}
    }// overlay__footer   
}

// Confirmation Page
.page.page-confirmation {
    .no-pemesanan {
        background-color: #35b6e7;
        color: #fff;
        padding: 11px 15px;
        margin-bottom: 15px;
        font-size: 14px;
    }
    .instruction {margin-bottom: 30px;}
    .instruction-accordion {margin-bottom: 15px;}
    .dash-border {
        border: 1px solid #6cd7ff;
        margin: 10px 0;
        border-style: dashed;
    }
    .bank-detail {margin: 15px 0;}
    .flight-fare-wrapper {margin-bottom: 15px;}
}

// Thankyou Page
.page.page-thankyou {
    .page__body {padding:10px 15px 20px; overflow-wrap:break-word;}
    .thankyou-words {
        padding: 0 15px;
        .ticket-print {
            margin: 15px 0;
            .btn.btn-yellow {width: 100%;}
        }
    }
    .tnc {margin-top: 15px;}
}

.flight-facility {display:block; padding: 5px 0;
    span {background:url(/Assets/images/flight-facilities-sprite2.png) no-repeat; display:inline-block; margin-left: 10px; float: right;
        &.flight-baggage {width: 18px; background-position: -39px 0; text-align: center; color: #fff; position: relative; top: -1px; font-size: 8px; height: 16px; line-height: 20px;}
        &.flight-tax {width: 21px; background-position: -17px -1px; height: 14px;}
        &.flight-meal {width: 14px; height: 16px;}
    }
}

.clearer {clear:both;}