.search-list {
    font-size: 11px;
    .hotel-list-container {
        .hotel-list {
            padding: 15px 10px;
            .col-right-hotel {
                .star {margin-top: 3px;}
                .price {margin-top: 10px;
                    .detail {@extend .arrow-detail}
                }
            }
        }
    }
}

 /*Shorten Text*/
.shorten-txt {
	height: 170px;
    &.opened {height: auto;
        .toggle {
            .sh-open {display: none;}
            .sh-close {display: block;}
        }
    }
    .toggle {
        .sh-open {display: block;}
        .sh-close {display: none;}

    }
    .sh-open {@extend .arrow-down-yellow;}
    .sh-close {@extend .arrow-up-yellow;}
    &.is-truncated .col-half {
        width: 100%;
    }
}