/*--------------------*/
/* icon */
$mobile-banner: '../images/mobile-app.png';
$app-store: '../images/app-store.png';
$play-store: '../images/play-store.png';

.page.page-home {
    overflow-y: auto;
    @include clearfix(); 
    background: $color-white;
    &.burger-shown {overflow-y: hidden;}
    .form-container { 
        @import 'home_page_layout';
    }
    .overlay.overlay--datepicker {overflow: hidden;}
    .calendar-container { 
        .ui-datepicker {
            max-width: 340px;
            margin: 0 auto 15px;
        }
    }
    .carousel-inner {
        border-bottom: 1px solid #dddddd;
        ul.slick-dots { 
            display: block;
            position: absolute;
            bottom: 15px;
            text-align: right;
            width: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
            padding-right: 5%;
            &>li {
                display: inline-block;
                list-style: none;
                &.slick-active > button {
                    background: $color-main-blue;
                    opacity: 1;
                }
                &>button {
                    background: #999;
                    color: #999;
                    @include border-radius(8px);
                    @include size(8px, 8px);
                    outline: none;
                    border: none;
                    font-size: 0;
                    margin: 0 4px;
                    opacity: .5;
                    padding: 0;
                }
            }
            .active {
                background-color: $color_main_blue;
                opacity: 1;
            }
        }
    }
}

@media only screen and (min-width: 375px) and (max-height: 667px) {
    .page.page-home .form-container {
        min-height: 482px;
    }
}

@media only screen and (min-width: 414px) and (max-height: 736px) {
    .page.page-home .form-container {
        min-height: 550px;
    }
}

@media only screen and (min-width: 320px) and (max-height: 640px) {
    .page.page-home .form-container {
        min-height: 450px;
    }
}

@media only screen and (max-width: 320px) and (height: 568px) {
    .page.page-home .form-container {
        min-height: auto;
    }
}

@media only screen and (max-width: 320px) and (height: 480px) {
    .page.page-home .form-container {
        min-height: auto;
    }
}