.page-hotel {
    /*General*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #000;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    background: #ffffff;

    /*Fonts*/
    .lg-txt {    
        font-size: 14px;
        line-height: 16px;
    }
    .md-txt {font-size: 12px;}
    .sm-txt {font-size: 9px;}
    .xs-txt {font-size: 8px;}
    .italic-txt {font-style: italic;}
    .underline-txt {text-decoration: line-through;} 
    .downline-txt {text-decoration: underline;} 
    .bold-txt {font-weight: 700;}
    .semibold-txt {font-weight: 600;}
    .normal-txt {font-weight: 400;}   
    .blue-txt {color: $color-main-blue;
        &.bg {
            font-size: 15px;
            font-weight: 700;
            line-height: 18px;
        }
    }
    .grey-txt {color: #999;}
    .darkgrey-txt {color: #525252;}
    .green-txt {color: #3a8e1b;}
    .orange-txt {color: #ff7200;}
    .bg-title {
        font-size: 19px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    /*Custom Column*/
    .col-half {
        position: relative;
        min-height: 1px;
    }

    .col-half {float: left;}
    
    .col-half {width: 50%;}

    /*Icon*/
    .star-outline {
        content: '';
        display: inline-block;
        background: url(/Assets/travorama20/images/Hotel/star-outline.png);
        height: 16px;
    } .so-1 {
        @extend .star-outline;
        width: 19px;
        margin-left: 68px;
    } .so-2 {
        @extend .star-outline;
        width: 38px;
        margin-left: 51px;
    } .so-3 {
        @extend .star-outline;
        width: 57px;
        margin-left: 34px;
    } .so-4 {
        @extend .star-outline;
        width: 76px;
        margin-left: 17px;
    }
    .star {
        display: block;
        background: url(/Assets/travorama20/images/Hotel/star.png);
        height: 16px;
        width: 17px;
        &.star-2 {width: 34px;} 
        &.star-3 {width: 51px;}
        &.star-4 {width: 68px;}
        &.star-5 {width: 85px;}
        
        &.e-star {
            &:after {@extend .so-4;}
            &.star-2 {width: 34px;
                &:after {@extend .so-3;}
            } &.star-3 {width: 51px; 
                &:after {@extend .so-2;}
            } &.star-4 {width: 68px;
                &:after {@extend .so-1;}
            } &.star-5 {width: 85px;}
        }
    }
    .maps-icon {
        content: '';
        width: 13px;
        height: 18px;
        display: inline-block;
        background: url(/Assets/mobile/images/Hotel/location.png);
        position: absolute;
        margin-left: -25px;
        vertical-align: middle;
    }
    .plane-icon {
        content: '';
        background: url(/Assets/travorama20/images/Hotel/plane-sm.png) no-repeat;
        width: 11px;
        height: 8px;
        display: inline-block;
        vertical-align: middle;
        background-size: 100%;
        vertical-align: middle;
    }
    .arrow-detail {
        background: url(/Assets/mobile/images/Hotel/arrow-orange.png);
        display: block;
        width: 8px;
        height: 13px;
        position: absolute;
        right: 0;
        margin-right: 15px;
        vertical-align: middle;
    }
    .arrow-down {
        content: '';
        display: block;
        background: url(/Assets/mobile/images/Hotel/arrow-down-orange.png);
        width: 13px;
        height: 8px;
        position: absolute;
        right: 0;
        margin-right: 20px;
        vertical-align: middle;
        margin-top: 10px;
    }
    .arrow-up {
        content: '';
        display: block;
        background: url(/Assets/mobile/images/Hotel/arrow-up-orange.png);
        width: 13px;
        height: 8px;
        position: absolute;
        right: 0;
        margin-right: 20px;
        vertical-align: middle;
        margin-top: 10px;
    }
    .like-icon {
        background: url(/Assets/mobile/images/Hotel/like.png);
        width: 16px;
        height: 15px;
        display: inline-block;
        float: right;
        background-color: white;
        margin-left: 10px;
        vertical-align: middle;
    }
    .share-icon {
        background: url(/Assets/mobile/images/Hotel/share.png);
        width: 14px;
        height: 14px;
        display: inline-block;
        float: right;
        vertical-align: middle;
    }
    .wifi-icon-sm {
        display: inline-block;
        background: url(/Assets/mobile/images/Hotel/wifi.png) no-repeat;
        vertical-align: middle;
        width: 15px;
        height: 11px;
        background-size: 100%;
    }    
    .meal-icon-sm {
        display: inline-block;
        background: url(/Assets/mobile/images/Hotel/meal.png) no-repeat;
        vertical-align: middle;
        width: 15px;
        height: 14px;
        background-size: 100%;
        margin: 0 8px;
    }
    .ac-icon-sm {
        display: inline-block;
        background: url(/Assets/mobile/images/Hotel/ac.png) no-repeat;
        vertical-align: middle;
        width: 18px;
        height: 18px;
        background-size: 100%;
    }

    /*Hotel Listing*/
    .dh-list-, .hotel-list-container {
        padding: 0;
        margin: 0;
        list-style: none;
        &>li{border-top: 1px solid #e9e9e9;
            &:first-child {border-top:none;}
        }
    }
    .dh-list, .hotel-list {
        .col-left-hotel>img {max-height: 110px;}
        .col-right-hotel {padding-left: 10px;}
        .col-left-hotel, .col-right-hotel {float: left;}
    }

    /*Shared Page*/
    .top-content {
        .hotel-sort-filter .hotel-sort-filter-action a,
        .hotel-detail-menu .hotel-detail-menu-action a {
            float: left;
            color: #fff;
            text-align: center;
            display: block;
            font-weight: bold;
            padding: 15px 0;
            background: #616161;
            text-decoration:none;
            width: 50%;
            + a {border-left: 1px solid #8f8f8f;}
            &.detail-menu, &.spec-menu {
                &.active {background: #878787;}
            }
        }
        .hotel-summary {background-color:#2eb4e7; color:#fff; position:relative; @include clearfix();
            p {margin-bottom:0;}
            .summary-left {float:left; width:77%; padding:12px;}
            .summary-right {@extend & .summary-left; padding:0; width:25%; color:#fff; height:100%; background-color:#0b84b1; display:block; vertical-align:middle; text-align:center; font-weight:bold; position:absolute; right:0;
                span {position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; height:auto; width:auto; width:50px; height:20px;}
            }
        }
    }
    .travorama-hotel-mobile {
        /*--------------------*/
        /* imports */
        @import 'page_hotel_search';
        @import 'page_hotel_detail';
    }
}