

/*--------------------*/
/* variables */
$color-main-blue:#1daee4;
$color-main-orange:#ff7200;
$border-default:1px solid #ccc;
$border-radius-default:2px;

$header-height:60px;


/*--------------------*/
/* mixins */
@mixin letter-spacing($value){
    letter-spacing:$value;
}

@mixin border-radius($radius){
    -webkit-border-radius:$radius;
    -moz-border-radius:$radius;
    border-radius:$radius;
}

@mixin box-shadow($properties){
    -webkit-box-shadow:$properties;
    -moz-box-shadow:$properties;
    box-shadow:$properties;
}

@mixin skew-x($value){
    -ms-transform: skewX($value);
    -webkit-transform: skewX($value);
    transform: skewX($value);
}

@mixin clearfix(){
    display:block; width:100%; content:""; clear:both;
}


/*--------------------*/
// General Styling

body {background:#f9f9f9; font-family:'Open Sans', sans-serif; font-size:12px; padding-top:$header-height;}

.no-scroll {overflow:hidden;}

.btn.btn-yellow {background:#ffd632; border:2px solid #ebb600; color:#4f3500; font-weight:bold;}
.btn.btn-grey, .btn.btn-gray {background:#adadad; color:#fff; font-weight:bold; border:2px solid #adadad;}
.btn.block {display:block; width:100%;}

// site header
.site-header {position:fixed; top:0; left:0; width:100%; height:$header-height; z-index:999;
    .header-display {background:#fff; text-align:center; height:$header-height;
        .site-menu {width:30px; height:30px; background:url(/Assets/mobile/images/mobile-header-sprite.png) no-repeat; background-position:-30px 0; display:block; position:absolute; top:15px; left:10px;}
        .site-logo {height:30px; margin-top:15px;}
        .user-menu {@extend & .site-menu; background-position:0 0; left:auto; right:10px;}
    }
}

// site content
.site-content {min-height:100%;}

// site footer
.site-footer {background-color:#111; color:#fefefe;
    .site-footer-menu {background-color:#303030;
        nav {padding:0 12px;
            ul {list-style:none; margin:0; padding:0;
                li {
                    a {color:#fefefe; padding:12px 0; display:block;}
                    &+li {border-top:$border-default;}
                }
            }
        }
    }
    .site-footer-social {text-align:center; padding:12px 0;
        nav {margin-bottom:12px;
            .facebook {
                .fa-circle {color:#4a6eaa;}
            }
            .twitter {
                .fa-circle {color:#28a9e0;}
            }
            .instagram {
                .fa-circle {color:#9a6756;}
            }
        }
        // inverse
        .fa-inverse {color:#000;}
    }
}

// popup
.popup-wrapper {background:rgba(0,0,0,0.7); position:fixed; top:0; left:0; width:100%; height:100%; z-index:1000; display:none;
    .popup {position:absolute; top:0; right:0; bottom:0; left:0; margin:auto; width:300px; height:200px; background:#fff; @include border-radius($border-radius-default);
        .popup-header {background:#1daee5; color:#fff; padding:12px;
            .popup-title {text-align:center; margin:0; font-weight:bold;}
        }
        .popup-content {padding:12px 0;}
        .popup-footer {}
    }
}

// additional page


/*--------------------*/
// Include
@import 'page_flight';