/*--------------------*/
/* variables */
/*--------------------*/
/* mixins */
/*--------------------*/
body {
  background: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  padding-top: 60px; }

.page-loading {
  display: none; }

.page-loaded {
  display: block; }

.no-scroll {
  overflow: hidden; }

.display-block {
  display: block !important; }

.btn.btn-yellow {
  background: #ffd632;
  border: 2px solid #ebb600;
  color: #4f3500;
  font-weight: bold; }

.btn.btn-grey, .btn.btn-gray {
  background: #adadad;
  color: #fff;
  font-weight: bold;
  border: 2px solid #adadad; }

.btn.block {
  display: block;
  width: 100%; }

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 999; }
  .site-header .header-display {
    background: #fff;
    text-align: center;
    height: 60px; }
    .site-header .header-display .site-menu, .site-header .header-display .user-menu {
      width: 30px;
      height: 30px;
      background: url(/Assets/mobile/images/mobile-header-sprite.png) no-repeat;
      background-position: -30px 0;
      display: block;
      position: absolute;
      top: 15px;
      left: 10px; }
    .site-header .header-display .site-logo {
      height: 30px;
      margin-top: 15px; }
    .site-header .header-display .user-menu {
      background-position: 0 0;
      left: auto;
      right: 10px; }

.site-content {
  min-height: 300px; }

.site-footer {
  background-color: #111;
  color: #fefefe; }
  .site-footer .site-footer-menu {
    background-color: #303030; }
    .site-footer .site-footer-menu nav {
      padding: 0 12px; }
      .site-footer .site-footer-menu nav ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        .site-footer .site-footer-menu nav ul li a {
          color: #fefefe;
          padding: 12px 0;
          display: block; }
        .site-footer .site-footer-menu nav ul li + li {
          border-top: 1px solid #ccc; }
  .site-footer .site-footer-social {
    text-align: center;
    padding: 12px 0; }
    .site-footer .site-footer-social nav {
      margin-bottom: 12px; }
      .site-footer .site-footer-social nav .facebook .fa-circle {
        color: #4a6eaa; }
      .site-footer .site-footer-social nav .twitter .fa-circle {
        color: #28a9e0; }
      .site-footer .site-footer-social nav .instagram .fa-circle {
        color: #9a6756; }
    .site-footer .site-footer-social .fa-inverse {
      color: #000; }

.popup-wrapper {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none; }
  .popup-wrapper .popup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 300px;
    height: 200px;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
    .popup-wrapper .popup .popup-header {
      background: #1daee5;
      color: #fff;
      padding: 12px; }
      .popup-wrapper .popup .popup-header .popup-title {
        text-align: center;
        margin: 0;
        font-weight: bold; }
    .popup-wrapper .popup .popup-content {
      padding: 12px 0; }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  z-index: 1000;
  background: #fff;
  padding-top: 60px;
  overflow: auto;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .overlay .overlay__header {
    background: #878787;
    color: #fff;
    padding: 18px;
    height: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    display: none; }
    .overlay .overlay__header .overlay__title {
      margin: 0; }
    .overlay .overlay__header .overlay__close {
      float: right; }
  .overlay .overlay__content {
    background: #fff;
    min-height: 100%;
    padding: 12px;
    padding-bottom: 60px; }
  .overlay .overlay__footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #616161;
    padding: 12px;
    color: #fff;
    height: 60px; }
  .overlay.active {
    top: 0; }
    .overlay.active .overlay__header {
      display: block; }
  .overlay.overlay--theme--blue .overlay__header {
    background: #1daee4; }

/*--------------------*/
.page.page-flight .flight-loading {
  background: #ffae93;
  display: block;
  width: 100%;
  height: 5px;
  position: relative; }
  .page.page-flight .flight-loading .flight-progress {
    background: #ff7d51;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0; }

.page.page-flight .flight-summary {
  background-color: #2eb4e7;
  color: #fff;
  position: relative; }
  .page.page-flight .flight-summary p {
    margin-bottom: 0; }
  .page.page-flight .flight-summary:before, .page.page-flight .flight-summary:after {
    display: block;
    width: 100%;
    content: "";
    clear: both; }
  .page.page-flight .flight-summary .summary-left, .page.page-flight .flight-summary .summary-right {
    float: left;
    width: 77%;
    padding: 12px; }
  .page.page-flight .flight-summary .summary-right {
    padding: 0;
    width: 25%;
    color: #fff;
    height: 100%;
    background-color: #0b84b1;
    display: block;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    position: absolute;
    right: 0; }
    .page.page-flight .flight-summary .summary-right span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      height: auto;
      width: auto;
      width: 50px;
      height: 20px; }

.page.page-flight .flight-sort-filter .flight-sort-filter-action {
  background: #616161; }
  .page.page-flight .flight-sort-filter .flight-sort-filter-action:before, .page.page-flight .flight-sort-filter .flight-sort-filter-action:after {
    display: block;
    width: 100%;
    content: "";
    clear: both; }
  .page.page-flight .flight-sort-filter .flight-sort-filter-action a {
    float: left;
    color: #fff;
    text-align: center;
    display: block;
    width: 50%;
    font-weight: bold;
    padding: 15px 0; }
  .page.page-flight .flight-sort-filter .flight-sort-filter-action a + a {
    border-left: 1px solid #8f8f8f; }

.page.page-flight .flight-list .flight {
  padding: 12px; }
  .page.page-flight .flight-list .flight + .flight {
    border-top: 1px solid #ccc; }
  .page.page-flight .flight-list .flight:before, .page.page-flight .flight-list .flight:after {
    display: block;
    width: 100%;
    content: "";
    clear: both; }
  .page.page-flight .flight-list .flight .flight-header .flight-airline {
    margin-top: 0;
    margin-bottom: 0; }
    .page.page-flight .flight-list .flight .flight-header .flight-airline .flight-airline-image {
      height: 30px; }
    .page.page-flight .flight-list .flight .flight-header .flight-airline span {
      color: #2ca3e1;
      font-weight: bold; }
  .page.page-flight .flight-list .flight .flight-content:before, .page.page-flight .flight-list .flight .flight-content:after {
    display: block;
    width: 100%;
    content: "";
    clear: both; }
  .page.page-flight .flight-list .flight .flight-content .content-left, .page.page-flight .flight-list .flight .flight-content .content-right {
    float: left;
    width: 50%; }
    .page.page-flight .flight-list .flight .flight-content .content-left .flight-time:before, .page.page-flight .flight-list .flight .flight-content .content-right .flight-time:before, .page.page-flight .flight-list .flight .flight-content .content-left .flight-time:after, .page.page-flight .flight-list .flight .flight-content .content-right .flight-time:after {
      display: block;
      width: 100%;
      content: "";
      clear: both; }
    .page.page-flight .flight-list .flight .flight-content .content-left .flight-time span, .page.page-flight .flight-list .flight .flight-content .content-right .flight-time span {
      font-weight: bold;
      float: left;
      display: block; }
    .page.page-flight .flight-list .flight .flight-content .content-left .flight-time .separator, .page.page-flight .flight-list .flight .flight-content .content-right .flight-time .separator {
      width: 10%;
      border-top: 2px solid #1daee4;
      height: 10px;
      position: relative;
      top: 7px;
      margin-left: 5px;
      margin-right: 5px; }
    .page.page-flight .flight-list .flight .flight-content .content-left .flight-time .overday, .page.page-flight .flight-list .flight .flight-content .content-right .flight-time .overday {
      background: #aaaaaa;
      color: #fff;
      font-weight: normal;
      margin-left: 5px;
      padding: 3px;
      font-size: 12px; }
  .page.page-flight .flight-list .flight .flight-content .content-right {
    text-align: right;
    color: #ff7200; }
    .page.page-flight .flight-list .flight .flight-content .content-right label {
      font-weight: normal; }
    .page.page-flight .flight-list .flight .flight-content .content-right .flight-price {
      margin-top: 0;
      font-weight: bold;
      font-size: 16px; }
  .page.page-flight .flight-list .flight .flight-footer .flight-detail-button {
    display: inline-block;
    padding: 3px 0; }
  .page.page-flight .flight-list .flight .flight-footer .flight-order {
    padding-top: 3px;
    padding-bottom: 3px; }

.overlay--flight-form .overlay__content {
  background: #1daee4; }
  .overlay--flight-form .overlay__content form {
    color: #fff; }
    .overlay--flight-form .overlay__content form .switch-wrapper:before, .overlay--flight-form .overlay__content form .switch-wrapper:after {
      display: block;
      width: 100%;
      content: "";
      clear: both; }
    .overlay--flight-form .overlay__content form .switch-wrapper span {
      line-height: 24px;
      padding: 3px 0;
      display: inline-block; }
    .overlay--flight-form .overlay__content form .switch-wrapper .switch {
      float: right;
      background: #fff;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      padding: 3px; }
      .overlay--flight-form .overlay__content form .switch-wrapper .switch label {
        color: #000;
        width: 50px;
        text-align: center;
        display: block;
        float: left;
        margin-bottom: 0;
        line-height: 24px; }
        .overlay--flight-form .overlay__content form .switch-wrapper .switch label.active {
          background: #1daee4;
          color: #fff;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px; }

.overlay--flight-filter .overlay__content .filter-group {
  padding: 12px; }
  .overlay--flight-filter .overlay__content .filter-group label {
    font-weight: normal; }
  .overlay--flight-filter .overlay__content .filter-group + .filter-group {
    border-top: 1px solid #ccc; }
  .overlay--flight-filter .overlay__content .filter-group .filter-group__header {
    margin-bottom: 12px; }
    .overlay--flight-filter .overlay__content .filter-group .filter-group__header .filter-group__title {
      margin: 0;
      font-weight: bold; }
  .overlay--flight-filter .overlay__content .filter-group .filter-group__content label {
    display: block;
    padding: 12px 0; }
    .overlay--flight-filter .overlay__content .filter-group .filter-group__content label + label {
      border-top: 1px solid #ccc; }
  .overlay--flight-filter .overlay__content .filter-group .filter-group__content input[type="checkbox"] {
    float: right; }
  .overlay--flight-filter .overlay__content .filter-group.filter-group--airline label img {
    height: 30px;
    margin-right: 10px; }

.overlay--flight-sort .overlay__content label {
  display: block;
  width: 100%;
  padding: 12px 0; }
  .overlay--flight-sort .overlay__content label + label {
    border-top: 1px solid #ccc; }
  .overlay--flight-sort .overlay__content label input[type="radio"] {
    float: right; }

.overlay--flight-detail .overlay__content {
  padding: 0;
  padding-bottom: 60px; }
  .overlay--flight-detail .overlay__content .flight-title {
    background: #e5e3e4;
    position: relative; }
    .overlay--flight-detail .overlay__content .flight-title:before, .overlay--flight-detail .overlay__content .flight-title:after {
      display: block;
      width: 100%;
      content: "";
      clear: both; }
    .overlay--flight-detail .overlay__content .flight-title > div, .overlay--flight-detail .overlay__content .flight-title > a {
      float: left;
      display: block; }
    .overlay--flight-detail .overlay__content .flight-title .flight-info {
      width: 75%;
      padding-left: 50px;
      position: relative; }
      .overlay--flight-detail .overlay__content .flight-title .flight-info:before {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -10px;
        left: 15px;
        width: 22px;
        height: 20px;
        background: url(/Assets/images/flight-review-title-sprite.png) no-repeat; }
    .overlay--flight-detail .overlay__content .flight-title .flight-change {
      width: 25%;
      position: absolute;
      height: 100%;
      background: #b7b7b7;
      color: #fff;
      text-align: center;
      right: 0;
      top: 0; }
      .overlay--flight-detail .overlay__content .flight-title .flight-change span {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 50px;
        height: 20px;
        font-weight: bold; }
    .overlay--flight-detail .overlay__content .flight-title .flight-title--arrival .flight-info:before {
      background-position: -22px 0; }
  .overlay--flight-detail .overlay__content .flight-wrapper .flight {
    position: relative; }
    .overlay--flight-detail .overlay__content .flight-wrapper .flight:before, .overlay--flight-detail .overlay__content .flight-wrapper .flight:after {
      display: block;
      width: 100%;
      content: "";
      clear: both; }
    .overlay--flight-detail .overlay__content .flight-wrapper .flight .flight__number {
      width: 15px;
      left: 5px;
      position: absolute; }
      .overlay--flight-detail .overlay__content .flight-wrapper .flight .flight__number span {
        background: #1daee4;
        color: #fff;
        width: 16px;
        height: 16px;
        display: block;
        text-align: center;
        line-height: 16px;
        font-size: 12px; }
    .overlay--flight-detail .overlay__content .flight-wrapper .flight .flight__content {
      padding-left: 25px; }
      .overlay--flight-detail .overlay__content .flight-wrapper .flight .flight__content .flight__summary:before, .overlay--flight-detail .overlay__content .flight-wrapper .flight .flight__content .flight__summary:after {
        display: block;
        width: 100%;
        content: "";
        clear: both; }
      .overlay--flight-detail .overlay__content .flight-wrapper .flight .flight__content .flight__summary .flight__image {
        width: 35px;
        height: auto;
        float: left; }
      .overlay--flight-detail .overlay__content .flight-wrapper .flight .flight__content .flight__summary .flight__airline {
        color: #1daee4; }
      .overlay--flight-detail .overlay__content .flight-wrapper .flight .flight__content .flight__detail {
        position: relative; }
        .overlay--flight-detail .overlay__content .flight-wrapper .flight .flight__content .flight__detail:before, .overlay--flight-detail .overlay__content .flight-wrapper .flight .flight__content .flight__detail:after {
          display: block;
          width: 100%;
          content: "";
          clear: both; }
        .overlay--flight-detail .overlay__content .flight-wrapper .flight .flight__content .flight__detail > div {
          float: left; }
        .overlay--flight-detail .overlay__content .flight-wrapper .flight .flight__content .flight__detail .flight__departure, .overlay--flight-detail .overlay__content .flight-wrapper .flight .flight__content .flight__detail .flight__arrival {
          width: 45%; }
        .overlay--flight-detail .overlay__content .flight-wrapper .flight .flight__content .flight__detail .flight__separator {
          width: 10%;
          height: 100%;
          position: absolute;
          background: url(/Assets/mobile/images/flight-separator.png) center center no-repeat;
          left: 45%; }
        .overlay--flight-detail .overlay__content .flight-wrapper .flight .flight__content .flight__detail .flight__arrival {
          margin-left: 10%; }
  .overlay--flight-detail .overlay__content .flight-wrapper .transit {
    display: block;
    width: 100%;
    text-align: center;
    padding: 12px 0;
    margin-bottom: 12px; }
    .overlay--flight-detail .overlay__content .flight-wrapper .transit:after {
      content: "";
      display: block;
      width: 100%;
      border-bottom: 1px dashed #1daee4;
      margin-top: -9px; }
    .overlay--flight-detail .overlay__content .flight-wrapper .transit span {
      color: #1daee4;
      font-style: italic;
      background: #fff;
      display: inline-block;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      font-weight: 600; }

.overlay--flight-detail .overlay__footer h5 {
  margin-top: 0;
  margin-bottom: 0; }

.overlay--flight-detail .overlay__footer h4 {
  margin-top: 0; }
