@{
    Layout = "/Views/Shared/_layout_mobile.cshtml";
    ViewBag.Title = "Home Page";
}

@section PageJavascript{
    <script>
        // goto page (pageNumber)
        var gotoPage = function(pageNumber) {
            // show and hide page
            $('.checkout-page').hide();
            $('.checkout-page.step-' + pageNumber).show();
            // animate scrolltop to 0
            $('html, body').stop().animate({
                scrollTop: 0
            });
            // update checkout bar progress
            $('.checkout-bar .checkout-current-progress').attr('class', 'checkout-current-progress step-' + pageNumber);
            $('.checkout-bar [class^="bar"]').each(function() {
                $(this).removeClass('active');
                if ($(this).attr('data-step') <= pageNumber) {
                    $(this).addClass('active');
                }
            });


        }

    </script>
}

<section class="page group-checkout group-flight-checkout customer-detail-page">
    <section class="checkout-progress">
        <div class="checkout-step">
            <div>Customer Detail</div>
            <div>Passenger Detail</div>
            <div>Review</div>
            <div>Payment</div>
            <div>Ticket</div>
        </div>
        <div class="checkout-bar">
            <div class="checkout-current-progress"></div>
            <div data-step="1" class="bar-1 active"></div>
            <div data-step="2" class="bar-2"></div>
            <div data-step="3" class="bar-3"></div>
            <div data-step="4" class="bar-4"></div>
            <div data-step="5" class="bar-5"></div>
        </div>
    </section><!-- .checkout-progress -->
    <section class="customer-detail step-1 checkout-page">
        <h1 class="section-title">CUSTOMER DETAIL</h1>
        <div class="section-content container">
            <form class="form form-horizontal">
                <div class="form-group">
                    <label class="col-xs-12">Name (Buyer):</label>
                    <div class="col-xs-12">
                        <input type="text" name="customerName" value="" class="form-control" placeholder="Enter your full name" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12">Phone number:</label>
                    <div class="col-xs-12">
                        <input type="number" name="customerName" value="" class="form-control" placeholder="ex: 08212345678" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12">Phone number:</label>
                    <div class="col-xs-12">
                        <input type="email" name="customerName" value="" class="form-control" placeholder="ex: your_mail@domain.com" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <button class="btn btn-yellow btn-block-lg" onclick="gotoPage(2)" >CONTINUE</button>
                    </div>
                </div>
            </form>
        </div><!-- .section-content -->
    </section><!-- .checkout-page.step-1 -->
    <section class="passenger-detail step-2 checkout-page">
        <h1 class="section-title">PASSENGER DETAIL</h1>
        <div class="section-content container">
            <form class="form form-horizontal">
                <div class="passenger">
                    <h2 class="passenger-detail-title">Adult Passenger ( > 12 years old)</h2>
                    <div class="form-group">
                        <label class="control-label col-xs-12">Title</label>
                        <div class="col-xs-12">
                            <select class="form-control">
                                <option value="mr">Mr</option>
                                <option value="mrs">Mrs</option>
                                <option value="ms">Ms</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12">Full Name</label>
                        <div class="col-xs-12">
                            <input type="text" name="FulName" value="" placeholder="Full Name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12">Birthday</label>
                        <div class="col-xs-3">
                            <select class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="9">8</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="19">18</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="29">28</option>
                                <option value="30">30</option>
                            </select>
                        </div>
                        <div class="col-xs-5">
                            <select class="form-control">
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="col-xs-4">
                            <select class="form-control">
                                <option value="2000">2000</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12">ID Number</label>
                        <div class="col-xs-12">
                            <input type="text" name="name" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12">Passport Number</label>
                        <div class="col-xs-12">
                            <input type="text" name="name" value="" class="form-control" placeholder="Passport Number" />
                        </div>
                    </div>
                </div><!-- .passenger -->
                <!-- continue -->
                <div class="form-group">
                    <div class="col-xs-12">
                        <button class="btn btn-yellow btn-block-lg" onclick="gotoPage(3)">REVIEW ORDER</button>
                        <button class="btn btn-back" onclick="gotoPage(1)">BACK</button>
                    </div>
                </div>
            </form>
        </div><!-- .section-content -->
    </section><!-- .checkout-page.step-3 -->
    <section class="review-detail step-3 checkout-page">

        <p class="container">Please review your order before make a payment</p>

        <section class="flight-detail">
            <h2 class="section-title">Flight Detail</h2>
            <div class="section-content container">

                <div class="flight onward">
                    <h3 class="text-center">Onward Flight</h3>
                    <div class="trip">
                        <h5 class="airline-name"><img ng-src="/Assets/Images/Airlines/PR.png" alt="PHILIPPINE AIRLINES" src="/Assets/Images/Airlines/PR.png"> PHILIPPINE AIRLINES : PR 320 </h5>
                        <div class="trip-wrapper">
                            <div class="trip-origin">
                                <span>Departure</span>
                                <span class="time ng-binding">00:55</span>
                                <span class="date ng-binding">25 Oct 2015</span>
                                <span class="airport ng-binding">CGK</span>
                                <span class="city ng-binding">Jakarta</span>
                            </div>
                            <div class="trip-destination">
                                <span>Arrival</span>
                                <span class="time ng-binding">06:05</span>
                                <span class="date ng-binding">25 Oct 2015</span>
                                <span class="airport ng-binding">MNL</span>
                                <span class="city ng-binding">Manila</span>
                            </div>
                            <div class="trip-duration">
                                <span>Duration</span>
                                <span class="time ng-binding">04:10:00</span>
                                <span class="ng-binding"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flight return">
                    <h3 class="text-center">Return Flight</h3>
                    <div class="trip">
                        <h5 class="airline-name"><img ng-src="/Assets/Images/Airlines/PR.png" alt="PHILIPPINE AIRLINES" src="/Assets/Images/Airlines/PR.png"> PHILIPPINE AIRLINES : PR 320 </h5>
                        <div class="trip-wrapper">
                            <div class="trip-origin">
                                <span>Departure</span>
                                <span class="time ng-binding">00:55</span>
                                <span class="date ng-binding">25 Oct 2015</span>
                                <span class="airport ng-binding">CGK</span>
                                <span class="city ng-binding">Jakarta</span>
                            </div>
                            <div class="trip-destination">
                                <span>Arrival</span>
                                <span class="time ng-binding">06:05</span>
                                <span class="date ng-binding">25 Oct 2015</span>
                                <span class="airport ng-binding">MNL</span>
                                <span class="city ng-binding">Manila</span>
                            </div>
                            <div class="trip-duration">
                                <span>Duration</span>
                                <span class="time ng-binding">04:10:00</span>
                                <span class="ng-binding"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- .flight-details -->

        <section class="flight-passenger">
            <h2 class="section-title">Passenger Detail</h2>
            <div class="section-content container">
                <ol>
                    <li>
                        <p>Mr Kang Dadang</p>
                        <table>
                            <tr>
                                <td>Birth Day</td>
                                <td>13 Jun 1980</td>
                            </tr>
                            <tr>
                                <td>Passport No</td>
                                <td>123456789</td>
                            </tr>
                        </table>
                    </li>
                </ol>
            </div>
        </section><!-- .flight-passenger -->

        <section class="flight-price">
            <h2 class="section-title">Price Detail</h2>
            <div class="section-content container">

                <table>
                    <tbody>
                        <tr>
                            <td>Total Fare</td>
                            <td>IDR 999.999.999</td>
                        </tr>
                        <tr>
                            <td>Tax and Service</td>
                            <td>Included</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total Price</td>
                            <td>IDR 999.999.999</td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </section><!-- .flight-price -->

        <section class="container">
            <button class="btn btn-yellow btn-block-lg" onclick="gotoPage(4)">CHOOSE PAYMENT METHOD</button>
            <button class="btn btn-back" onclick="gotoPage(2)">BACK</button>
        </section>

    </section><!-- .checkout-page.step-3 -->
    <section class="payment-option step-4 checkout-page">

        <h1 class="section-title">Payment Method</h1>

        <div class="section-content container">

            <div class="payment row">
                <div class="payment-name col-xs-7">
                    <h2>Transfer</h2>
                    <img src="//placehold.it/120x40" alt="Alternate Text" />
                </div>
                <div class="payment-button col-xs-5">
                    <a href="#" class="btn btn-yellow">Pay Now</a>
                </div>
            </div>

            <div class="payment row">
                <div class="payment-name col-xs-7">
                    <h2>Credit Card</h2>
                    <img src="//placehold.it/120x40" alt="Alternate Text" />
                </div>
                <div class="payment-button col-xs-5">
                    <a href="#" class="btn btn-yellow">Pay Now</a>
                </div>
            </div>

            <div class="payment row">
                <div class="payment-name col-xs-7">
                    <h2>CIMB Click</h2>
                    <img src="//placehold.it/120x40" alt="Alternate Text" />
                </div>
                <div class="payment-button col-xs-5">
                    <a href="#" class="btn btn-yellow">Pay Now</a>
                </div>
            </div>

            <div class="payment row">
                <div class="payment-name col-xs-7">
                    <h2>BCA Klikpay</h2>
                    <img src="//placehold.it/120x40" alt="Alternate Text" />
                </div>
                <div class="payment-button col-xs-5">
                    <a href="#" class="btn btn-yellow">Pay Now</a>
                </div>
            </div>

            <div class="payment row">
                <div class="payment-name col-xs-7">
                    <h2>Mandiri Clickpay</h2>
                    <img src="//placehold.it/120x40" alt="Alternate Text" />
                </div>
                <div class="payment-button col-xs-5">
                    <a href="#" class="btn btn-yellow">Pay Now</a>
                </div>
            </div>

        </div><!-- .section-content -->
    
        <div class="container">
            <button class="btn btn-back" onclick="gotoPage(3)">BACK</button>
        </div>

    </section><!-- .checkout-page.step-4 -->
</section><!-- .checkout-page -->
