@{
    Layout = "/Views/Shared/_layout_mobile.cshtml";
    ViewBag.Title = "Home Page";
}

<section class="page group-checkout group-flight-checkout payment-page">
    <section class="checkout-progress">
        <div class="checkout-step">
            <div>Customer Detail</div>
            <div>Passenger Detail</div>
            <div>Review</div>
            <div>Payment</div>
            <div>Ticket</div>
        </div>
        <div class="checkout-bar">
            <div class="checkout-current-progress step-4"></div>
            <div class="bar-1 active"></div>
            <div class="bar-2 active"></div>
            <div class="bar-3 active"></div>
            <div class="bar-4 active"></div>
            <div class="bar-5"></div>
        </div>
    </section><!-- .checkout-progress -->
    <section class="payment-option">
        
        <h1 class="section-title">Payment Method</h1>
    
        <div class="section-content container">
        
            <div class="payment row">
                <div class="payment-name col-xs-7">
                    <h2>Transfer</h2>
                    <img src="//placehold.it/120x40" alt="Alternate Text" />
                </div>
                <div class="payment-button col-xs-5">
                    <a href="#" class="btn btn-yellow">Pay Now</a>
                </div>
            </div>
        
            <div class="payment row">
                <div class="payment-name col-xs-7">
                    <h2>Credit Card</h2>
                    <img src="//placehold.it/120x40" alt="Alternate Text" />
                </div>
                <div class="payment-button col-xs-5">
                    <a href="#" class="btn btn-yellow">Pay Now</a>
                </div>
            </div>
        
            <div class="payment row">
                <div class="payment-name col-xs-7">
                    <h2>CIMB Click</h2>
                    <img src="//placehold.it/120x40" alt="Alternate Text" />
                </div>
                <div class="payment-button col-xs-5">
                    <a href="#" class="btn btn-yellow">Pay Now</a>
                </div>
            </div>
        
            <div class="payment row">
                <div class="payment-name col-xs-7">
                    <h2>BCA Klikpay</h2>
                    <img src="//placehold.it/120x40" alt="Alternate Text" />
                </div>
                <div class="payment-button col-xs-5">
                    <a href="#" class="btn btn-yellow">Pay Now</a>
                </div>
            </div>
        
            <div class="payment row">
                <div class="payment-name col-xs-7">
                    <h2>Mandiri Clickpay</h2>
                    <img src="//placehold.it/120x40" alt="Alternate Text" />
                </div>
                <div class="payment-button col-xs-5">
                    <a href="#" class="btn btn-yellow">Pay Now</a>
                </div>
            </div>

        </div><!-- .section-content -->

    </section><!-- .customer-detail -->
</section><!-- .checkout-page -->
