@{
    Layout = "/Views/Shared/_layout_mobile.cshtml";
    ViewBag.Title = "Hotel Search Page";
}

<section class="page flight-search-page">
    
    <section class="flight-search-param">
        <div class="param">
            <span><b>Jakarta</b>, 1 room, <b>12 Maret 2015</b></span>
        </div>
        <a href="#" class="change-hotel-param">CHANGE</a>
        <!-- .flight-search form start -->
        <section class="flight-search-form-wrapper">
            
        </section><!-- .flight-search-form-wrapper -->
    </section><!-- .flight-serach-param -->
    
    <section class="flight-search-filter">
        <div class="flight-search-trigger">
            <a class="flight-filter-trigger">FILTER</a>
            <a class="flight-sort-trigger">SORT</a>
        </div><!-- .flight-search-filter-trigger -->
    </section><!-- .flight-search-filter -->
    
    <section class="flight-search-result">
    
        @for (var i = 1; i <= 10; i++)
        {
            
            <div class="flight return-flight">
                <div class="flight-container">
                    <div class="flight-onward">
                        <h5>Onward Flight</h5>
                        <div class="flight-name"><span>Garuda Indonesia</span> <img src="/Assets/images/airlines/ga.png" alt="Garuda Indonesia" /> </div>
                        <div class="flight-detail">
                            <div class="flight-airport">
                                <span class="flight-origin">CGK</span> -
                                <span class="flight-destination">SIN</span>
                            </div>
                            <div class="flight-time">
                                <span class="flight-departure">12:00</span> -
                                <span class="flight-arrival">24:00</span>
                                <span>(+1 day)</span>
                            </div>
                            <div class="flight-duration">
                                1 Day 23 Hour 50 Minute <br />(2 Transits)
                            </div>
                        </div><!-- .flight-detail -->
                    </div>
                    <div class="flight-return">
                        <h5>Return Flight</h5>
                        <div class="flight-name"><img src="/Assets/images/airlines/ga.png" alt="Garuda Indonesia" />  <span>Garuda Indonesia</span></div>
                        <div class="flight-detail">
                            <div class="flight-airport">
                                <span class="flight-origin">CGK</span> -
                                <span class="flight-destination">SIN</span>
                            </div>
                            <div class="flight-time">
                                <span class="flight-departure">12:00</span> -
                                <span class="flight-arrival">24:00</span>
                                <span>(+1 day)</span>
                            </div>
                            <div class="flight-duration">
                                1 Day 23 Hour 50 Minute <br />(2 Transits)
                            </div>
                        </div><!-- .flight-detail -->
                    </div>
                </div>
                <div class="flight-action">
                    <input type="submit" class="btn btn-blue flight-book" name="" value="Book now" />
                    <h5>Total Price :</h5>
                    <h4 class="flight-price">IDR 100.000.000</h4>
                    <a href="#"><img src="/Assets/images/paperplane-icon.png" alt="Flight Detail" />Flight Detail</a>
                </div><!-- .flight-action -->
            </div><!-- .flight.return-flight -->
            
            <div class="flight single-flight hidden">
                <div class="flight-name"><span>Garuda Indonesia</span> <img src="/Assets/images/airlines/ga.png" alt="Garuda Indonesia" /> </div>
                <div class="flight-detail">
                    <div class="flight-airport">
                        <span class="flight-origin">CGK</span> - 
                        <span class="flight-destination">SIN</span>
                    </div>
                    <div class="flight-time">
                        <span class="flight-departure">12:00</span> - 
                        <span class="flight-arrival">24:00</span>
                        <span>(+1 day)</span>
                    </div>
                    <div class="flight-duration">
                        1 Day 23 Hour 50 Minute <br/>(2 Transits)
                    </div>
                    <div class="flight-detail">
                        <a href="#"><img src="/Assets/images/paperplane-icon.png" alt="Flight Detail" />Flight Detail</a>
                    </div>
                </div><!-- .flight-detail -->
                <div class="flight-action">
                    <h5>Total Price :</h5>
                    <h4 class="flight-price">IDR 100.000.000</h4>
                    <input type="submit" class="btn btn-blue flight-book" name="" value="Book now" />
                </div><!-- .flight-action -->
            </div><!-- .flight.single-flight -->
        }

    </section><!-- .flight-search-result -->

</section><!-- .flight-search-page -->
