@{
    Layout = "/Views/Shared/_layout_mobile.cshtml";
    ViewBag.Title = "Hotel Detail";
}

@section PageJavascript {
    <script>
        $(document).ready(function() {
            homePageFunctions();
        });
    </script>
}

<section class="page home-page">
    <section class="section-search active container">
        <div class="text-center">
            <h1>PICK YOUR MOMENT</h1>
            <p>Lorem ipsum dolor sit amet adpiscing elite, constecture elite humble bundle. Sed diam nohummy nibh.</p>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <a href="#search-hotel" class="search-hotel" data-trigger="showSearchForm">SEARCH FOR <b>HOTEL</b></a>
            </div>
            <div class="col-xs-6">
                <a href="#search-flight" class="search-flight" data-trigger="showSearchForm">SEARCH FOR <b>FLIGHT</b></a>
            </div>
        </div>
    </section><!-- .section-search -->
    <section class="home-search">
        <header class="home-search-header">
            <button class="search-hotel active" data-target="#search-hotel"><span class="fa fa-building"></span> HOTEL</button>
            <button class="search-flight" data-target="#search-flight"><span class="fa fa-plane"></span> FLIGHT</button>
        </header>
        <section class="home-search-content container">
            <section class="active" id="search-hotel">
                <form class="search-hotel-form form-horizontal">
                    <h1><b>HOTEL</b> BOOKING</h1>
                    <div class="form-group">
                        <span class="fa fa-map-marker col-xs-2"></span>
                        <div class="col-xs-10 col-xs-offset-1">
                            <span class="form-control hotel-locationid" data-trigger="show-formset" data-target=".hotel-locationid" >Enter your destination</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="fa fa-calendar col-xs-2"></span>
                        <div class="col-xs-10 col-xs-offset-1">
                            <span class="form-control hotel-checkin-date" data-trigger="show-formset" data-target=".hotel-checkin-date">Checkin date</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="fa fa-calendar col-xs-2"></span>
                        <div class="col-xs-10 col-xs-offset-1">
                            <span class="form-control hotel-checkout-date" data-trigger="show-formset" data-target=".hotel-checkin-date">Checkout date</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="fa fa-bed col-xs-2"></span>
                        <div class="col-xs-10 col-xs-offset-1">
                            <span class="form-control hotel-room" data-trigger="show-formset" data-target=".hotel-room">1 Room</span>
                        </div>
                    </div>
                    <div class="form-group hidden hotel-search-param">
                        <input type="text" name="LocationId" value="" />
                        <input type="text" name="StayDate" value="" />
                        <input type="text" name="StayLength" value="" />
                        <input type="text" name="RoomCount" value="" />
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1">
                            <button class="btn btn-yellow">SEARCH</button>
                        </div>
                    </div>
                </form>
            </section><!-- .search-hotel -->
            <section class="" id="search-flight">
                <form class="search-flight-form form-horizontal">
                    <h1><b>FLIGHT</b> BOOKING</h1>
                    <div class="form-group">
                        <span class="fa fa-plane col-xs-2"></span>
                        <div class="col-xs-10 col-xs-offset-1">
                            <span class="form-control flight-origin" data-trigger="show-formset" data-target=".flight-origin">Start Here</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="fa fa-plane col-xs-2"></span>
                        <div class="col-xs-10 col-xs-offset-1">
                            <span class="form-control flight-destination" data-trigger="show-formset" data-target=".flight-destination">Destination</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="fa fa-calendar col-xs-2"></span>
                        <div class="col-xs-10 col-xs-offset-1">
                            <span class="form-control flight-departure-date" data-trigger="show-formset" data-target=".flight-departure-date" >Departure Date</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1">
                            <span>Roundtrip ?</span> 
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="fa fa-calendar col-xs-2"></span>
                        <div class="col-xs-10 col-xs-offset-1">
                            <span class="form-control flight-return-date" data-trigger="show-formset" data-target=".flight-departure-date" >Return Date</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="fa fa-user col-xs-2"></span>
                        <div class="col-xs-10 col-xs-offset-1">
                            <span class="form-control flight-passenger" data-trigger="show-formset" data-target=".flight-passenger" ><span class="flight-passenger-adult">0</span> <img src="/Assets/images/adult-icon.png" alt="Adult" /> <span class="flight-passenger-child">0</span> <img src="/Assets/images/child-icon.png" alt="Child" /> <span class="flight-passenger-infant">0</span> <img src="/Assets/images/infant-icon.png" alt="Infant" /></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1">
                            <button class="btn btn-yellow">SEARCH</button>
                        </div>
                    </div>
                </form>
            </section><!-- .search-flight -->
        </section>
    </section>
    
    <!-- hotel search form set -->
    <div class="form-set hotel-set">
        <!-- group set for hotel start -->
        <div class="form hotel-locationid">
            <header class="form-header container">
                <div class="row">
                    <div class="col-xs-10">
                        <input type="text" value="" class="form-control hotel-location autocomplete initialize" placeholder="Search your destination" />
                    </div>
                    <span class="fa fa-times col-xs-2 close-formset"></span>
                </div>
            </header>
            <div class="form-content">
                <ul class="hotel-location autocomplete-result">
                    <li>Masukan kata kunci pencarian</li>
                </ul>
            </div>
        </div><!-- .hotel-location -->
        <div class="form hotel-checkin-date hotel-date">
            <header class="form-header container">
                <div class="row">
                    <div class="col-xs-10">
                        <span>Checkin Date</span>
                    </div>
                    <span class="fa fa-times col-xs-2 close-formset"></span>
                </div>
            </header>
            <div class="form-content">
                <div class="checkin-calendar"></div>
            </div>
        </div><!-- .hotel-checkin-date-->
        <div class="form hotel-checkout-date hotel-date">
            <header class="form-header container">
                <div class="row">
                    <div class="col-xs-10">
                        <span>Checkout Date</span>
                    </div>
                    <span class="fa fa-times col-xs-2 close-formset"></span>
                </div>
            </header>
            <div class="form-content">
                <div class="checkout-calendar"></div>
            </div>
        </div><!-- .hotel-checkout-date -->
        <div class="form hotel-room">
            <header class="form-header container">
                <div class="row">
                    <div class="col-xs-10">
                        <span>Room Count</span>
                    </div>
                    <span class="fa fa-times col-xs-2 close-formset"></span>
                </div>
            </header>
            <div class="form-content">
                <div class="room-count row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="btn decrease">-</div>
                            </div>
                            <div class="col-xs-8">
                                <span class="room-count-number">1 Room</span>
                            </div>
                            <div class="col-xs-2">
                                <div class="btn increase">-</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .hotel-room -->
        <!-- group set for hotel end -->
        <!-- group set for flight start -->
        <div class="form flight-origin">
            <header class="form-header container">
                <div class="row">
                    <div class="col-xs-10">
                        <input type="text" value="" class="form-control flight-airport autocomplete initialize" data-airportTarget="origin" placeholder="Search your origin" />
                    </div>
                    <span class="fa fa-times col-xs-2 close-formset"></span>
                </div>
            </header>
            <div class="form-content">
                <ul class="flight-airport autocomplete-result" data-target="origin">
                    <li>Masukan kata kunci pencarian</li>
                </ul>
            </div>
        </div><!-- .flight-origin -->
        <div class="form flight-destination">
            <header class="form-header container">
                <div class="row">
                    <div class="col-xs-10">
                        <input type="text" value="" class="form-control flight-airport autocomplete initialize" data-airportTarget="destination" placeholder="Search your destination" />
                    </div>
                    <span class="fa fa-times col-xs-2 close-formset"></span>
                </div>
            </header>
            <div class="form-content">
                <ul class="flight-airport autocomplete-result" data-target="destination">
                    <li>Masukan kata kunci pencarian</li>
                </ul>
            </div>
        </div><!-- .flight-destination -->
        <div class="form flight-departure-date">
            <header class="form-header container">
                <div class="row">
                    <div class="col-xs-10">
                        <span>Departure Date</span>
                    </div>
                    <span class="fa fa-times col-xs-2 close-formset"></span>
                </div>
            </header>
            <div class="form-content">
                <div class="departure-calendar"></div>
            </div>
        </div><!-- .flight-departure-date -->
        <div class="form flight-return-date">
            <header class="form-header container">
                <div class="row">
                    <div class="col-xs-10">
                        <span>Return Date</span>
                    </div>
                    <span class="fa fa-times col-xs-2 close-formset"></span>
                </div>
            </header>
            <div class="form-content">
                <div class="return-calendar"></div>
            </div>
        </div><!-- .flight-return-date -->
        <div class="form flight-passenger">
            <header class="form-header container">
                <div class="row">
                    <div class="col-xs-10">
                        <span>Passenger</span>
                    </div>
                    <span class="fa fa-times col-xs-2 close-formset"></span>
                </div>
            </header>
            <div class="form-content">
                <div class="adult-passenger row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="btn decrease" data-target="adult">-</div>
                            </div>
                            <div class="col-xs-8">
                                <span>0 Adult</span>
                            </div>
                            <div class="col-xs-2">
                                <div class="btn increase" data-target="adult">+</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="child-passenger row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="btn decrease" data-target="child">-</div>
                            </div>
                            <div class="col-xs-8">
                                <span>0 Child</span>
                            </div>
                            <div class="col-xs-2">
                                <div class="btn increase" data-target="child">+</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="infant-passenger row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="btn decrease" data-target="infant">-</div>
                            </div>
                            <div class="col-xs-8">
                                <span>0 Infant</span>
                            </div>
                            <div class="col-xs-2">
                                <div class="btn increase" data-target="infant">+</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .flight-passenger -->
        <!-- group set for flight end -->
    </div><!-- .form-set.hotel-->

</section><!-- .home-page -->
