@{
    Layout = "/Views/Shared/_layout_mobile.cshtml";
    ViewBag.Title = "Hotel Search Page";
}

<section class="page hotel-search-page">
    
    <section class="hotel-search-param">
        <div class="param">
            <span><b>Jakarta</b>, 1 room, <b>12 Maret 2015</b></span>
        </div>
        <a href="#" class="change-hotel-param">CHANGE</a>
        <!-- .hotel-search form start -->
        <section class="hotel-search-form-wrapper">
            <form class="hotel-search-form">
                <div class="form-group">
                    <div class="col-xs-12">
                        <span class="form-control hotel-locationid" data-trigger="show-formset" data-target=".hotel-locationid">Enter your destination</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <span class="form-control hotel-checkin-date" data-trigger="show-formset" data-target=".hotel-checkin-date">Checkin date</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <span class="form-control hotel-checkout-date" data-trigger="show-formset" data-target=".hotel-checkin-date">Checkout date</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <span class="form-control hotel-room" data-trigger="show-formset" data-target=".hotel-room">1 Room</span>
                    </div>
                </div>
                <div class="form-group hidden hotel-search-param">
                    <input type="text" name="LocationId" value="" />
                    <input type="text" name="StayDate" value="" />
                    <input type="text" name="StayLength" value="" />
                    <input type="text" name="RoomCount" value="" />
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="submit" class="btn btn-yellow" value="SEARCH">
                    </div>
                </div>
            </form>
        </section><!-- .hotel-search-form-wrapper -->
    </section><!-- .hotel-search-param -->
    
    <section class="hotel-search-filter">
        <div class="hotel-search-trigger">
            <a class="hotel-filter-trigger">FILTER</a>
            <a class="hotel-sort-trigger">SORT</a>
        </div><!-- .hotel-search-filter-trigger -->
        <div class="hotel-search-filter-content">
            <div class="hotel-filter-wrapper">
                <div class="filter-group filter-price">
                    <h4 class="filter-title">Filter by price :</h4>
                    <div class="filter-content">
                        <div class="price-slider"></div>
                    </div>
                </div>
                <div class="filter-group filter-star">
                    <h4 class="filter-title">By hotel rate :</h4>
                    <div class="filter-content">
                        <label for="hotelStar1">
                            <input id="hotelStar1" type="checkbox" name="hotelStar1" value="true" /><span>1 Star</span>
                        </label>
                        <label for="hotelStar2">
                            <input id="hotelStar2" type="checkbox" name="hotelStar2" value="true" /><span>2 Star</span>
                        </label>
                        <label for="hotelStar3">
                            <input id="hotelStar3" type="checkbox" name="hotelStar3" value="true" /><span>3 Star</span>
                        </label>
                        <label for="hotelStar4">
                            <input id="hotelStar4" type="checkbox" name="hotelStar4" value="true" /><span>4 Star</span>
                        </label>
                        <label for="hotelStar5">
                            <input id="hotelStar5" type="checkbox" name="hotelStar5" value="true" /><span>5 Star</span>
                        </label>
                    </div>
                </div>
                <div class="filter-group">
                    <button class="btn btn-yellow">UPDATE</button>
                </div>
            </div>
            <div class="hotel-sort-wrapper">
                <a href="#">by Price - Lowest to Highest</a>
                <a href="#">by Price - Highest to Lowest</a>
                <a href="#">by Name - A to Z</a>
                <a href="#">by Name - Z to A</a>
            </div>
        </div><!-- .hotel-search-filter-content -->
    </section><!-- .hotel-search-filter -->

    <section class="hotel-search-result">
        
        @for (var i = 1; i <= 10; i++)
        {
            <div class="hotel">
                <img src="http://placehold.it/100" class="hotel-image" />
                <div class="hotel-detail">
                    <h2 class="hotel-name">AMARIS HOTEL</h2>
                    <div class="hotel-star">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                    </div>
                    <h4 class="hotel-address">Jl. Karet Pasar Gang Tiong No.62</h4>
                    <h5 class="hotel-price-then"><del>Rp. 180.000.000</del></h5>
                    <h4 class="hotel-price">
                        Rp 150.000.000
                    </h4>
                </div>
                <a href="#" class="hotel-link"></a>
            </div>
            <!-- .hotel -->
        }
        
    </section><!-- .hotel-search-result -->
    
    <footer class="hotel-search-footer">
        <a href="#" class="prev-page">&lt;</a>
        <span>Halaman 2/ 8</span><br/>
        <span>Total 256 Hotels</span>
        <a href="#" class="next-page">&gt;</a>
    </footer><!-- .hotel-search-footer -->

</section><!-- .hotel-search-page -->
