@{
    Layout = "/Views/Shared/_layout_mobile.cshtml";
    ViewBag.Title = "Hotel Detail Page";
}

<section class="page hotel-detail-page">
    
    <h1 class="hotel-name">AMARIS HOTEL <span class="hotel-star"> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span> </span> </h1>
    <section class="hotel-image">
        <img src="http://placehold.it/250" alt="Alternate Text" />
    </section><!-- .hotel-image -->
    <section class="hotel-room">
        <h3 class="section-title"><b>ROOM</b> PACKAGE</h3>    
        <div class="section-content">
            
            @for (var i = 1; i <= 3; i++)
            {
                <div class="room">
                    <img src="http://placehold.it/80" alt="Alternate Text" class="room-image" />
                    <div class="room-detail">
                        <h3 class="room-name">Deluxe King Bedroom</h3>
                        <div class="room-action">
                            <h4 class="room-price">Rp 150.000.000</h4>
                            <a href="#" class="room-book btn btn-blue">Book Now!</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </section><!-- .hotel-room -->
    <section class="hotel-location">
        <h3 class="section-title"><b>HOTEL</b> LOCATION</h3>
        <div class="section-content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7932.4923808288595!2d106.7993432994751!3d-6.231240814623588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sid!4v1425374312343" width="100%" height="200" frameborder="0" style="border:0"></iframe>
        </div>
    </section>
    <section class="hotel-facilities">
        <h3 class="section-title"><b>HOTEL</b> FACILITIES</h3>
        <div class="section-content">
            <h4>Lorem ipsum dolor sit amet</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vehicula mi quis lorem ultrices, sit amet tristique metus eleifend. Integer consectetur non quam vitae consequat. Integer feugiat lacus hendrerit, euismod lacus in, varius tortor. Etiam accumsan, eros id posuere tristique, lorem odio tristique risus, iaculis gravida mi nibh vel ligula. Nunc congue erat quis ex mattis pellentesque. Curabitur ut nisi sit amet leo volutpat maximus vitae vel massa. Sed commodo est nunc, ut mattis neque bibendum in. Mauris ut commodo elit, porta euismod turpis. Fusce vel venenatis magna. Duis at convallis nulla, sit amet blandit purus. Integer posuere dictum odio. Vestibulum sit amet ultrices ante. Duis blandit vehicula tellus. Curabitur et vestibulum lectus, sit amet ultricies ante.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vehicula mi quis lorem ultrices, sit amet tristique metus eleifend. Integer consectetur non quam vitae consequat. Integer feugiat lacus hendrerit, euismod lacus in, varius tortor. Etiam accumsan, eros id posuere tristique, lorem odio tristique risus, iaculis gravida mi nibh vel ligula. Nunc congue erat quis ex mattis pellentesque. Curabitur ut nisi sit amet leo volutpat maximus vitae vel massa. Sed commodo est nunc, ut mattis neque bibendum in. Mauris ut commodo elit, porta euismod turpis. Fusce vel venenatis magna. Duis at convallis nulla, sit amet blandit purus. Integer posuere dictum odio. Vestibulum sit amet ultrices ante. Duis blandit vehicula tellus. Curabitur et vestibulum lectus, sit amet ultricies ante.</p>
        </div>
    </section>
    <section class="hotel-description">
        <h3 class="section-title"><b>HOTEL</b> DESCRIPTION</h3>
        <div class="section-content">
            <div class="row">
                <div class="col-xs-6">
                    <ul>
                        <li>Hotel Facilities 1</li>
                        <li>Hotel Facilities 1</li>
                        <li>Hotel Facilities 1</li>
                        <li>Hotel Facilities 1</li>
                        <li>Hotel Facilities 1</li>
                        <li>Hotel Facilities 1</li>
                        <li>Hotel Facilities 1</li>
                        <li>Hotel Facilities 1</li>
                    </ul>
                </div>
                <div class="col-xs-6">
                    <ul>
                        <li>Hotel Facilities 1</li>
                        <li>Hotel Facilities 1</li>
                        <li>Hotel Facilities 1</li>
                        <li>Hotel Facilities 1</li>
                        <li>Hotel Facilities 1</li>
                        <li>Hotel Facilities 1</li>
                        <li>Hotel Facilities 1</li>
                        <li>Hotel Facilities 1</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


</section><!-- .hotel-detail-page -->
