@{
    Layout = "/Views/Shared/_layout_mobile.cshtml";
    ViewBag.Title = "User Account Page";
}

<section class="page user-account-page">
    
    <h1 class="section-title">USER ACCOUNT</h1>
    
    <nav class="page-nav">
        <a href="#" class="change-profile"><span class="fa fa-users"></span>CHANGE PROFILE</a>
        <a href="#" class="active order-history"><span class="fa fa-pencil-square-o"></span>MY ORDER</a>
        <a href="#" class="change-password"><span class="fa fa-unlock-alt"></span>CHANGE PASSWORD</a>
    </nav>
    
    <div class="page-content">
        
        Lorem ipsum dolor sit amet

    </div>

</section><!-- .login-page -->
