<div class="rincian-pesanan-hotel">
    <h3 class="lg-txt"><b>RINCIAN</b> PEMESANAN</h3>
    <div class="container-rincian-penerbangan">
        <div class="content-right-payment">
            <p><b>Sisa Waktu Pembayaran </b>00:00:00</p>
        </div>
        <div class="content-right-payment">
            <div class="row">
                <div class="col-xs-12 img-hotel clear-left clear-right"><img src="https://photos.hotelbeds.com/giata/43/431483/431483a_hb_a_002.jpg" /></div>
                <div class="col-xs-12 info-penerbangan clear-left clear-right">
                    <div class="detail-hotel">
                        <h3>Maven Gunung Sahari</h3>
                        <div class="star"></div>
                        <p>Jl. Gunung Sahari II No.6, RT.12/RW.7, Gn. Sahari Sel., Jakarta, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10610</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="content-right-payment">
            <div class="rincian-harga">
                <p><b>Check in : </b><span>01 Agustus 2017</span></p>
                <p><b>Check out : </b><span>02 Agustus 2017</span></p>
                <p><b>Malam : </b><span>1 Malam</span></p>
                <p><b>Kamar : </b><span>1 Kamar</span></p>
                <p><b>Jenis Kamar : </b><span>1 Double Deluxe</span></p>
                <p><b>Jumlah Tamu : </b><span>1 Dewasa</span></p>
            </div>
        </div>
        <div class="content-right-payment content-right-payment-edit">
            <div class="kode-voucher">
                <a href="#">Punya kode Voucher ?</a>
                <div class="form-group ">
                    <input type="text" class="form-control form-kode-voucher">
                </div>
            </div>
            <div class="rincian-harga">
                <p><b>Harga Kamar : </b><span>Rp 1.500.000</span></p>
                <p><b>Diskon Travorama : </b><span class="diskon">Rp 15.250</span></p>
                <p><b>Kode Unik Pembayaran : </b><span>Rp -80</span></p>
                <div class="total-harga">
                    <p><b>TOTAL</b><span>Rp 1.376.761</span></p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ini untuk rincian hotel-->

<!-- rincian penerbangan-->
<div class="rincian-pesanan-penerbangan">
    <div class="container-rincian-pesanan-penerbangan">
        <div class="info-reservasi-penerbangan">
            <div class="row">
                <div class="col-xs-6">No. Reservasi: 123456</div>
                <div class="col-xs-6 text-right">Sisa Waktu: 02:36:05</div>
            </div>  
        </div>
        <div class="jadwal-penerbangan">
            <div class="row">
                <div class="col-xs-5 detail-airport clear-left"><h3>CGK</h3><span>20 Jul 2017 18.25</span></div>
                <div class="col-xs-2 logo-penerbangan clear-left clear-right"><img src="/Assets/mobile/images/rounded-garuda.png" /></div>
                <div class="col-xs-5 detail-airport clear-right"><h3>CGK</h3><span>20 Jul 2017 18.25</span></div>
            </div>
        </div>
        <div class="separator-jadwal-penerbangan"></div>
        <div class="jadwal-penerbangan">
            <div class="row">
                <div class="col-xs-5 detail-airport clear-left"><h3>CGK</h3><span>20 Jul 2017 18.25</span></div>
                <div class="col-xs-2 logo-penerbangan clear-left clear-right"><img src="/Assets/mobile/images/rounded-garuda.png" /></div>
                <div class="col-xs-5 detail-airport clear-right"><h3>CGK</h3><span>20 Jul 2017 18.25</span></div>
            </div>
        </div>
    </div>
</div>
<div class="total-biaya">
    <div class="row">
        <div class="col-xs-6 "><a data-toggle="modal" href="#myModal">Rincian Penerbangan</a></div>
        <div class="col-xs-6 text-right"><h3>Rp 1.376.761</h3></div>
    </div>  
</div>
<!-- end rincian penerbangan-->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Rincian Penerbangan</h4>
            </div>
            <div class="modal-body">
                <div class="container-rincian-penerbangan-modal"> <!-- start modal content-->
                    <div class="content-right-payment">
                        <p><b>Sisa Waktu Pembayaran </b>00:00:00</p>
                        <p><b>Nomor Reservasi : </b>12345678</p>
                    </div>
                    <div class="content-right-payment">
                        <p><b>Penumpang</b></p>
                        <div class="data-penumpang">
                            <p>1. Indra</p>
                        </div>
                    </div>
                    <div class="content-right-payment">
                        <div class="row">
                            <div class="col-xs-5 logo-maskapai"><img src="/Assets/images/logo-garuda.jpg" /></div>
                            <div class="col-xs-7 info-penerbangan">
                                <div class="detail-airport-modal">
                                    <p>Keberangkatan</p>
                                    <h3>Jakarta (CGK) - Bali/Denpasar (DPS)</h3>
                                    <p>20 Jul 2017</p>
                                    <p>18:25 - 21.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="separator"></div>
                        <div class="row">
                            <div class="col-xs-5 logo-maskapai"><img src="/Assets/images/logo-garuda.jpg" /></div>
                            <div class="col-xs-7 info-penerbangan">
                                <div class="detail-airport-modal">
                                    <p>Kepulangan</p>
                                    <h3>Jakarta (CGK) - Bali/Denpasar (DPS)</h3>
                                    <p>20 Jul 2017</p>
                                    <p>18:25 - 21.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-right-payment content-right-payment-edit">
                        <div class="kode-voucher">
                            <a href="#">Punya kode Voucher ?</a>
                            <div class="form-group ">
                                <input type="text" class="form-control form-kode-voucher">
                            </div>
                        </div>
                        <div class="rincian-harga">
                            <p><b>Harga Tiket : </b><span>Rp 1.500.000</span></p>
                            <p><b>Diskon Travorama : </b><span class="diskon">Rp 15.250</span></p>
                            <p><b>Kode Unik Pembayaran : </b><span>Rp -80</span></p>
                            <div class="total-harga">
                                <p><b>TOTAL</b><span>Rp 1.376.761</span></p>
                            </div>
                        </div>
                    </div>
                </div> <!-- modal content-->
            </div> <!-- modal body-->
        </div>
    </div>
</div> <!-- modal rincian perjalanan-->


<!-- <div class="summary summary--price">
    <h3 class="summary__title"><b>RINCIAN</b> HARGA</h3>
    <div class="summary__body">

        <dl>
            @if (Model.Reservation is FlightReservationForDisplay)
            {
                <dt>Harga Tiket</dt>
            }
            @if (Model.Reservation is HotelReservationForDisplay)
            {
                <dt>Harga Kamar</dt>
            }
            <dd><sup>Rp</sup> {{originalPrice | number}}</dd>
        </dl>
        <dl>
            <dt>Diskon Travorama</dt>
            <dd ng-if="!((binDiscount.replaceDiscount || methodDiscount.replaceDiscount) && !voucher.confirmedCode)">- <sup>Rp</sup> {{originalPrice - totalPrice| number}}</dd>
            <dd ng-if="(binDiscount.replaceDiscount || methodDiscount.replaceDiscount) && !voucher.confirmedCode"> <sup>Rp</sup>- 0</dd>
        </dl>
        <dl ng-show="voucher.confirmedCode">
            <dt>{{voucher.displayName}}</dt>
            <dd><sup>Rp</sup>- {{voucher.amount| number}}</dd>
        </dl>
        <dl ng-show="binDiscount.available && !voucher.confirmedCode">
            <dt>{{binDiscount.displayName}}</dt>
            <dd><sup>Rp</sup>- {{binDiscount.amount | number}}</dd>
        </dl>
        <dl ng-show="methodDiscount.available && !voucher.confirmedCode">
            <dt>{{methodDiscount.displayName}}</dt>
            <dd><sup>Rp</sup>- {{methodDiscount.amount | number}}</dd>
        </dl>
        <dl>
            <dt>Kode Unik Pembayaran</dt>
            <dd><sup>Rp</sup> {{UniqueCodePaymentConfig.UniqueCode | number}}</dd>
        </dl>
        <dl class="total-price">
            <dt>Total</dt>
            @*<dd><sup>Rp</sup> {{totalPrice - voucher.amount - CreditCardPromo.Amount + UniqueCodePaymentConfig.UniqueCode - binDiscount.amount| number}}</dd>*@
            <dd ng-if="!binDiscount.available && !methodDiscount.available && !voucher.confirmedCode">Rp {{totalPrice - CreditCardPromo.Amount + UniqueCodePaymentConfig.UniqueCode| number}}</dd>
            <dd ng-if="voucher.confirmedCode">Rp {{totalPrice - voucher.amount - CreditCardPromo.Amount + UniqueCodePaymentConfig.UniqueCode| number}}</dd>
            <dd ng-if="binDiscount.available && binDiscount.replaceDiscount && !voucher.confirmedCode">Rp {{originalPrice - CreditCardPromo.Amount + UniqueCodePaymentConfig.UniqueCode - binDiscount.amount| number}}</dd>
            <dd ng-if="binDiscount.available && !binDiscount.replaceDiscount && !voucher.confirmedCode">Rp {{totalPrice - CreditCardPromo.Amount + UniqueCodePaymentConfig.UniqueCode - binDiscount.amount| number}}</dd>
            <dd ng-if="methodDiscount.available && methodDiscount.replaceDiscount && !voucher.confirmedCode">Rp {{originalPrice - CreditCardPromo.Amount + UniqueCodePaymentConfig.UniqueCode - methodDiscount.amount| number}}</dd>
            <dd ng-if="methodDiscount.available && !methodDiscount.replaceDiscount && !voucher.confirmedCode">Rp {{totalPrice - CreditCardPromo.Amount + UniqueCodePaymentConfig.UniqueCode - methodDiscount.amount| number}}</dd>
        </dl>
    </div><!-- .summary__body -->
<!--</div> --> <!-- .summar--price -->