<div class="content-right-payment content-right-payment-edit">
    <div class="kode-voucher">
        <a>Punya kode Voucher ?</a>
        <form name="voucherForm" class="form-group" style="display: none;">
            <input type="text" name="code" class="form-control form-kode-voucher" ng-model="voucher.code" ng-disabled="voucher.checking || voucher.confirmedCode || (voucher.checked && !voucher.received)">
            <input type="submit" value="GUNAKAN" class="btn btn-yellow form-control normal-txt sm-btn" ng-click="voucher.check()" ng-disabled="!voucher.code || voucher.checking" ng-hide="voucher.checked" />
            <input type="submit" value="BATALKAN" class="btn btn-yellow form-control normal-txt sm-btn" ng-click="voucher.reset()" ng-show="voucher.checked" />
            <p class="bg-success" ng-show="voucher.checked && voucher.status == 'Success'">Voucher valid</p>
            <p class="bg-danger" ng-show="voucher.checked && voucher.status == 'ERPVCH01'">Voucher tidak dapat digunakan</p>
            <p class="bg-danger" ng-show="voucher.checked && voucher.status == 'ERPVCH02'">Kode voucher salah</p>
            <p class="bg-danger" ng-show="voucher.checked && voucher.status == 'ERPVCH03'">Voucher sudah habis</p>
            <p class="bg-danger" ng-show="voucher.checked && voucher.status == 'ERPVCH04'">Syarat dan ketentuan voucher tidak terpenuhi</p>
            <p class="bg-danger" ng-show="voucher.checked && voucher.status == 'ERPVCH05'">Voucher tidak dapat digunakan</p>
            <p class="bg-danger" ng-show="voucher.checked && voucher.status == 'ERPVCH06'">Voucher sudah digunakan</p>
            <p class="bg-danger" ng-show="voucher.checked && voucher.status == 'ERPVCH08'">Syarat dan ketentuan voucher tidak terpenuhi</p>
            <p class="bg-danger" ng-show="voucher.checked && voucher.status == 'ERPVCH09'">Voucher sudah habis</p>
            <p class="bg-danger" ng-show="voucher.checked && voucher.status == 'ERPVCH10'">Syarat dan ketentuan voucher tidak terpenuhi</p>
            <p class="bg-danger" ng-show="voucher.checked && voucher.status == 'ERPVCH11'">Syarat dan ketentuan voucher tidak terpenuhi</p>
            <p class="bg-danger" ng-show="voucher.checked && voucher.status == 'ERPVCH99'">Voucher tidak dapat digunakan</p>
        </form>
    </div>
    <div class="rincian-harga">
        <p><b>Harga Tiket : </b><span>Rp {{originalPrice | number}}</span></p>
        <p>
            <b>Diskon Travorama : </b>
            <span class="diskon" ng-if="!((binDiscount.replaceDiscount || methodDiscount.replaceDiscount)
                && !voucher.confirmedCode)">- Rp {{originalPrice - totalPrice| number}}</span>
            <span ng-if="(binDiscount.replaceDiscount || methodDiscount.replaceDiscount)
                && !voucher.confirmedCode"> Rp 0</span>
        </p>
        <p ng-if="voucher.confirmedCode">
            <b>{{voucher.displayName}} :</b>
            <span class="diskon">Rp -{{voucher.amount | number}}</span>
        </p>
        <p ng-if="binDiscount.available && !voucher.confirmedCode" style="color: #1daee4">
            <b>{{binDiscount.displayName}}</b>
            <span class="diskon">Rp -{{binDiscount.amount | number}}</span>
        </p>
        <p ng-if="methodDiscount.available && !voucher.confirmedCode" style="color: #1daee4">
            <b>{{methodDiscount.displayName}}</b>
            <span class="diskon">Rp -{{methodDiscount.amount | number}}</span>
        </p>
        <p><b>Kode Unik Pembayaran : </b><span>Rp {{UniqueCodePaymentConfig.UniqueCode}}</span></p>
        <p ng-if="getMdr()">
            <b>Biaya Layanan :</b>
            <span>Rp {{getMdr() | number:0}}</span>
        </p>
        <div class="total-harga">
            <p>
                <b>TOTAL</b>
                @* redundant di _flightDetail.mobile *@
                @* <span ng-if="voucher.confirmedCode"> *@
                <span>
                    Rp {{totalPrice - voucher.amount + UniqueCodePaymentConfig.UniqueCode + getMdr()| number:0}}
                </span>
@* 
                <span ng-if="!binDiscount.available && !methodDiscount.available && !voucher.confirmedCode">
                    Rp {{totalPrice + UniqueCodePaymentConfig.UniqueCode + getMdr()| number}}
                </span>
                <span ng-if="binDiscount.available && !binDiscount.replaceDiscount && !voucher.confirmedCode">
                    Rp {{totalPrice + UniqueCodePaymentConfig.UniqueCode - binDiscount.amount + getMdr()| number}}
                </span>
                <span ng-if="methodDiscount.available && !methodDiscount.replaceDiscount && !voucher.confirmedCode">
                    Rp {{totalPrice + UniqueCodePaymentConfig.UniqueCode - methodDiscount.amount + getMdr()| number}}
                </span>

                <span ng-if="binDiscount.available && binDiscount.replaceDiscount && !voucher.confirmedCode">
                    Rp {{originalPrice + UniqueCodePaymentConfig.UniqueCode - binDiscount.amount + getMdr()| number}}
                </span>
                <span ng-if="methodDiscount.available && methodDiscount.replaceDiscount && !voucher.confirmedCode">
                    Rp {{originalPrice + UniqueCodePaymentConfig.UniqueCode - methodDiscount.amount + getMdr()| number}}
                </span> *@
            </p>
        </div>
    </div>
</div>