
@{
    ViewBag.Title = "UW400Index";
}
@using(Html.BeginForm("UW400Book","UW400Booking",FormMethod.Post))
{ 
<form action="url booking controller">
    <input type="text" name="cc_no" />
    <input type="text" name="cvv" />
    <!--
        Other required data for credit card payment
    -->
    <input type="hidden" name="cc_token" />
    paymentType:<input type="text" value="PaymentType" name="PaymentType">
    OrderID:<input type="text" value="OrderId" name="OrderId">
    <input type="submit" value="submit" />
</form>
}


test credit card
@using (Html.BeginForm("UW400Book", "UW400Booking", FormMethod.Post, new { id = "payment-form" }))
{
    <p>
        <label>Card Number</label>
        <input class="card-number" value="4011111111111112" size="20" type="text" autocomplete="off"/>
    </p>
    <p>
        <label>Expiration (MM/YYYY)</label>
        <input class="card-expiry-month" value="12" placeholder="MM" size="2" type="text" />
        <span> / </span>
        <input class="card-expiry-year" value="2020" placeholder="YYYY" size="4" type="text" />
    </p>
    <p>
        <label>CVV</label>
        <input class="card-cvv" value="123" size="4" type="password" autocomplete="off"/>
    </p>
    <input type="hidden" value="credit_card" name="PaymentType">
    @:OrderID: <input type="text" value="OrderId" name="OrderId">
    <input id="token_id" name="TokenId" type="hidden" />
    <button class="submit-button" type="button">Pay</button>
}

@using (Html.BeginScripts())
{
    <script src="https://api.sandbox.veritrans.co.id/v2/assets/js/veritrans.min.js"></script>
    <script type="text/javascript">
        $(function () {
            Veritrans.url = "https://api.sandbox.veritrans.co.id/v2/token";
            Veritrans.client_key = "e700a6da-4773-41ad-bc8f-21f07cae48fc";
            var card = function () {
                return {
                    'card_number': $(".card-number").val(),
                    'card_exp_month': $(".card-expiry-month").val(),
                    'card_exp_year': $(".card-expiry-year").val(),
                    'card_cvv': $(".card-cvv").val(),

                }
            };

            $('.submit-button').click(function (event) {
                event.preventDefault();
                $(this).attr("disabled", "disabled");
                Veritrans.token(card, callback);
                return false;
            });

            function callback(response) {
                if (response.redirect_url) {
                    console.log('Open Dialog 3Dsecure');

                } else if (response.status_code == '200') {

                    // store token data in input #token_id and then submit form to merchant server
                    $("#token_id").val(response.token_id);
                    $("#payment-form").submit();
                } else {
                    $('.submit-button').removeAttr('disabled');
                    // Show status message.
                    $('#message').text(response.status_message);
                    console.log(JSON.stringify(response));
                }
            }

        });
    </script>
}




