@{
    ViewBag.Title = "ConfirmationRaw";
}

@using System.Globalization
@using Lunggo.ApCommon.Flight.Service
@model Lunggo.CustomerWeb.Models.FlightPaymentConfirmationData

@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-checkout page-confirmation";
    ViewBag.Title = "Konfirmasi Pembayaran";

    ViewBag.SiteHeader = "checkout";

    var beneficiaryBankList = new List<SelectListItem>
    {
        new SelectListItem {Text = "Mandiri", Value = "Mandiri"},
        new SelectListItem {Text = "BCA", Value = "BCA"},
    };
}

@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
    <script src="/Assets/js/jquery.countdown.min.js"></script>
}


<div class="confirmation-content">

    <div class="container">
        <div class="row">
            <div class="col-xs-8">

                <div class="instruction">
                    <h3>PANDUAN <b>TRANSFER</b></h3>
                    <header>
                        <h4 class="text-right">No. Pesanan: <b>121616583180</b></h4>
                    </header>
                    <section class="text">
                        <p>Pemesanan dan harga sudah di konfirmasi oleh Maskapai. Setelah pembayaran diterima, eTicket akan dikirimkan ke Email Anda dalam waktu max <b>60 menit</b></p>
                        <p>Mohon selesaikan pembayaran melalui <b>ATM / Internet Banking / M-Banking</b></p>
                    </section>
                    <section class="bank-detail">
                        <div class="bank">
                            <div class="row">
                                <div class="col-xs-4">
                                    <img src="/Assets/images/Bank-Mandiri.png" alt="Bank Mandiri" />
                                </div>
                                <div class="col-xs-8">
                                    <dl>
                                        <dt>Nama Bank</dt>
                                        <dd>: Bank Mandiri</dd>
                                    </dl>
                                    <dl>
                                        <dt>Atas Nama</dt>
                                        <dd>: TRAVEL MADEZY INTERNASIONAL</dd>
                                    </dl>
                                    <dl>
                                        <dt>Nomor Rekening</dt>
                                        <dd>: 1020006675802</dd>
                                    </dl>
                                    <dl>
                                        <dt>Jumlah</dt>
                                        <dd>: Rp 219.900</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="transfer-instruction">
                        <!--<section> -->
                        <ol style="margin-left:5px;padding-left:5px;margin-top:5px;">
                            <li class="order-list" style="margin-bottom:5px; margin-left:5px;padding-left:0px;">Pastikan Anda melakukan transfer ke rekening <b>Travel Madezy Internasional</b></li>
                            <li class="order-list" style="margin-bottom:5px; margin-left:5px;padding-left:0px;">Transfer keseluruhan jumlah harga hingga tiga angka terakhir yang diperlukan untuk menjaga keamanan transaksi, dengan mengidentifikasi transfer yang telah Anda lakukan.</li>
                            <li class="order-list" style="margin-bottom:5px; margin-left:5px;padding-left:0px;">E-tiket akan dikirimkan secara otomatis ke email Anda dalam waktu 30 menit – 1 jam setelah pembayaran.</li>
                        </ol>
                        <!--Bagian Form Konfirmasi yang dihilangin-->
                    </div>
                    <header style="margin-bottom:0px; margin-top:25px;">
                        <h4>DETAIL <b>PESANAN</b></h4>
                    </header>
                    <section class="confirmation-order" style="margin-top:0px;">
                        <div class="confirm-order-detail">
                            <div class="confirm-passenger">
                                <h4><b>INFO PENUMPANG</b></h4>
                                <ol>
                                    <li><p>Dewasa: Mr. Gianluigi Buffon</p></li>
                                </ol>

                            </div>
                            <div class="confirm-order">
                                <h4><b>DETAIL PENERBANGAN</b></h4>

                                <div class="confirm-flight departure">
                                    <p>Berangkat : </p>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <p><img src="~/Assets/images/airlines/AK.png" air asia" /></p>
                                            <p><span>Air Asia</span></p>
                                        </div>
                                        <div class="col-xs-9">
                                            <div class="col-xs-12">
                                                <div class="col-xs-4">
                                                    <p>Jakarta (CGK)</p>
                                                </div>
                                                <div class="col-xs-4">
                                                    <p>Duration: 01:00:00</p>
                                                </div>
                                                <div class="col-xs-4">
                                                    <p style="text-align:right;">Denpasar (DPS)</p>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <hr style="margin-top:0px;margin-bottom:10px;">
                                            </div>
                                            <div class="col-xs-12" >
                                                <div class="col-xs-6" style="float:left;">
                                                    <p>22 Apr 2016(18:00)</p>
                                                </div>
                                                <div class="col-xs-6" style="text-align:right;">
                                                    <p>22 Apr 2016(20:00)</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <p style="border:1px dashed #666; padding:2mm 0; text-align:center; margin-bottom:3mm; font-size:8pt;"><b>Transit Duration :</b> 01:00:00</p>
                                        </div>
                                        <div class="col-xs-3">
                                            <p><img src="~/Assets/images/airlines/AK.png" air asia" /></p>
                                            <p><span>Air Asia</span></p>
                                        </div>
                                        <div class="col-xs-9">
                                            <div class="col-xs-12">
                                                <div class="col-xs-4">
                                                    <p>Jakarta (CGK)</p>
                                                </div>
                                                <div class="col-xs-4">
                                                    <p>Duration: 01:00:00</p>
                                                </div>
                                                <div class="col-xs-4">
                                                    <p style="text-align:right;">Denpasar (DPS)</p>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <hr style="margin-top:0px;margin-bottom:10px;">
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="col-xs-6" style="float:left;">
                                                    <p>22 Apr 2016(18:00)</p>
                                                </div>
                                                <div class="col-xs-6" style="text-align:right;">
                                                    <p>22 Apr 2016(20:00)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="confirm-flight return" style="margin-top: 20px;">
                                    <p>Kembali : </p>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <p><img src="~/Assets/images/airlines/AK.png" air asia" /></p>
                                            <p><span>Air Asia</span></p>
                                        </div>
                                        <div class="col-xs-9">
                                            <div class="col-xs-12">
                                                <div class="col-xs-4">
                                                    <p>Jakarta (CGK)</p>
                                                </div>
                                                <div class="col-xs-4">
                                                    <p>Duration: 01:00:00</p>
                                                </div>
                                                <div class="col-xs-4">
                                                    <p style="text-align:right;">Denpasar (DPS)</p>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <hr style="margin-top:0px;margin-bottom:10px;">
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="col-xs-6" style="float:left;">
                                                    <p>22 Apr 2016(18:00)</p>
                                                </div>
                                                <div class="col-xs-6" style="text-align:right;">
                                                    <p>22 Apr 2016(20:00)</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <p style="border:1px dashed #666; padding:2mm 0; text-align:center; margin-bottom:3mm; font-size:8pt;"><b>Transit Duration :</b> 01:00:00</p>
                                        </div>
                                        <div class="col-xs-3">
                                            <p><img src="~/Assets/images/airlines/AK.png" air asia" /></p>
                                            <p><span>Air Asia</span></p>
                                        </div>
                                        <div class="col-xs-9">
                                            <div class="col-xs-12">
                                                <div class="col-xs-4">
                                                    <p>Jakarta (CGK)</p>
                                                </div>
                                                <div class="col-xs-4">
                                                    <p>Duration: 01:00:00</p>
                                                </div>
                                                <div class="col-xs-4">
                                                    <p style="text-align:right;">Denpasar (DPS)</p>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <hr style="margin-top:0px;margin-bottom:10px;">
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="col-xs-6" style="float:left;">
                                                    <p>22 Apr 2016(18:00)</p>
                                                </div>
                                                <div class="col-xs-6" style="text-align:right;">
                                                    <p>22 Apr 2016(20:00)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section><!-- .order-detail -->
                    <!--</section>-->
                </div>
            </div>
            <div class="col-xs-4">
                <div class="widget-container">
                    <div class="widget price-detail">
                        <h3 class="widget-title"><b>RINCIAN</b> HARGA</h3>
                        <div class="widget-content">
                            <dl>
                                <dt>Total Tiket</dt>
                                <dd>Rp 260.000</dd>
                            </dl>
                            <dl>
                                <dt>Potongan Harga</dt>
                                <dd>- Rp 40.000</dd>
                            </dl>
                            <dl>
                                <dt>Kode Unik Pembayaran</dt>
                                <dd>- Rp 100</dd>
                            </dl>
                            <dl class="total-price">
                                <dt>Total</dt>
                                <dd>Rp 219.900</dd>
                            </dl>
                        </div>
                    </div><!-- .widget.price-detail -->
                    <div class="widget countdown">
                        <h3 class="widget-title"><b>SISA</b> WAKTU</h3>
                        <div class="widget-content">
                            <p>Sisa waktu Anda untuk melakukan pembayaran</p>
                            <div class="timer">
                                <div>
                                    <h5 class="hour">00</h5>
                                    <span>jam</span>
                                </div>
                                <div class="separator"><h5>:</h5></div>
                                <div>
                                    <h5 class="minute">00</h5>
                                    <span>menit</span>
                                </div>
                                <div class="separator"><h5>:</h5></div>
                                <div>
                                    <h5 class="second">00</h5>
                                    <span>detik</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- .widget.countdown -->
                </div><!-- .widget-container -->
            </div>
        </div>
    </div>

</div><!-- .confirmation-content -->
