@using System.Collections.Specialized
@{
    Layout = "/Views/Shared/Travorama20/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-flight page-flight-oneway";
    ViewBag.Title = "Pencarian Penerbangan Sejalan";
}
@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}
@section PageJS{
    <script>

        app.controller('thankyouController', [
            '$http', '$scope', '$location', function($http, $scope, $location) {

                if ($location.$$hash == '') {
                    $location.hash('stay');
                    $location.hash('still');
                    $location.hash('thankyou');
                }

                console.log($location.$$hash);

            }
        ]);

    </script>
}

<div class="container" ng-app="travorama" ng-controller="thankyouController">
    
    <h1 class="text-center section-title stripe">DISABLE <span>BACK BUTTON</span></h1>
    
    <p class="text-center">Testing page for disabling back button</p>
    
    <p class="text-center">
        <a href="/" class="btn btn-yellow">KE HALAMAN DEPAN</a>
    </p>

</div><!-- .container -->

