@using System.Globalization
@using Lunggo.ApCommon.Constant
@using Lunggo.Framework.Config
@model Lunggo.ApCommon.Flight.Model.FlightReservationForDisplay



<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<body style="background-color:#F4F4F4; color:#535353; font-family:; font-size:12px;">


    <table style="margin-left:auto; margin-right:auto; margin-top:10px; margin-bottom:10px; width:700px; height:1500px; max-width:700px; display:block; background:url(/Assets/images/email/subscribenovoucher.png);">
        <thead width="100%">
            <tr width="100%">
                <th width="15%" style="padding-top:50px; right:0px"></th>
                <th colspan="3" width="85%" style="padding-top:50px; padding-right:60px;">
                    <p style="text-align:right;">
                        <a href="http://travorama.com" style="text-decoration:none;">
                            <img src="/Assets/images/travorama-logo-color.png" alt="Travorama" />
                        </a>
                        <br />
                    </p>
                </th>
            </tr>
        </thead>
        <tbody width="100%">
            <tr width="100%">
                <td width="15%" style="padding-top:4em;"></td>
                <td colspan="2" width="75%" style="padding-top:4em; padding-right:30px;">

                    <!-- CONTENT  -->
                    <p style="font-size:22px;"><span style="color: #15b1e4;"><b>Hi, Nice to meet you </span></b></p>
                    <p style="font-size:14px; padding-top:20px; padding-bottom:20px;">
                        <b>
                            Travorama sangat senang Anda telah terdaftar di mailing list kami.
                            Anda akan mendapatkan informasi terkini apabila ada penawaran khusus dari travorama. Rasakan kemudahan bertransaksi di travorama.
                        </b>
                    </p>
                    <p style="padding-bottom:20px;"><img src="~/Assets/images/email/garisemail.png" alt="Travorama" /></p>
                    <p style="text-align:center; padding-bottom:10px;"><span style="color: #15b1e4;font-size:16px;">Apa kelebihan <b>Travorama</b>?</span></p>
                    <table>
                        <tr>
                            <td width="22%" style="padding-bottom:20px;"><img src="~/Assets/images/email/flightjoin.png" alt="no1" /></td>
                            <td width="4%" style="padding-bottom:20px;"></td>
                            <td width="22%" style="padding-bottom:20px;"><img src="~/Assets/images/email/no2.png" alt="no2" /></td>
                            <td width="4%" style="padding-bottom:20px;"></td>
                            <td width="22%" style="padding-bottom:20px;"><img src="~/Assets/images/email/no3.png" alt="no3" /></td>
                            <td width="4%" style="padding-bottom:20px;"></td>
                            <td width="22%" style="padding-bottom:20px;"><img src="~/Assets/images/email/no4.png" alt="no4" /></td>
                        </tr>
                        <tr>
                            <td width="22%" valign="top">Banyak Pilihan, travorama memiliki lebih dari <b>900 pilihan maskapai</b> penerbangan ke seluruh dunia</td>
                            <td width="4%"></td>
                            <td width="22%" valign="top">Harga Net, &nbsp; &nbsp;yang tercantum adalah harga yang dibayarkan <b>tanpa ada biaya tambahan</b> apapun</td>
                            <td width="4%"></td>
                            <td width="22%" style="margin-top:0px;" valign="top">Harga Terbaik, kami akan selalu memberikan Anda <b>harga tiket terbaik</b></td>
                            <td width="4%"></td>
                            <td width="22%" valign="top">Cashback, <b>dapatkan cashback</b> apabila Anda mendaftarkan diri sebagai member</td>
                        </tr>
                    </table>
                    <p style="padding-top:20px; padding-bottom:10px;"><img src="~/Assets/images/email/garisemail.png" alt="Travorama" /></p>
                </td>
                <td width="15%" style="padding-top:4em;"></td>
            </tr>
            <tr width="100%">
                <td width="15%" style="padding-top:10px;"></td>
                <td colspan="2" width="75%" style="padding-top:10px;">
                    <table width="100%">
                        <tr>
                            <td width="35%" style="padding-bottom: 1em;"><h4 style="color:#15b1e4;"><b>Further Information : </b></h4></td>
                            <td style="text-align:left;padding-bottom:1em; padding-left:5px;" width="30%"><img src="~/Assets/images/email/line.png" /> travorama</td>
                            <td colspan="2" style="text-align:left; padding-bottom:1em;"><img src="~/Assets/images/email/mail.png" /> cs@travorama</td>
                        </tr>
                    </table>
                    <table width="100%">
                        <tr>
                            <td width="30%"><h4 style="color:#15b1e4;"><b>Follow Us On : </b></h4></td>
                            <td style="text-align:left;" width="20%"><img src="~/Assets/images/email-facebook.jpg" style="width:30px;height:30px;" /> travorama</td>
                            <td style="text-align:left" width="20%"><img src="~/Assets/images/email-twitter.jpg" style="width:30px;height:30px;" /> travorama</td>
                            <td style="text-align:left"><img src="~/Assets/images/email-instagram.jpg" style="width:30px;height:30px;" /> travorama</td>
                        </tr>
                    </table>
                </td>
                <td width="15%" style="padding-top:10px;"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>