@using System.Globalization
@using Lunggo.ApCommon.Constant
@using Lunggo.Framework.Config
@model Lunggo.ApCommon.Flight.Model.FlightReservationForDisplay



<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<body style="background-color:#F4F4F4; color:#535353; font-family:; font-size:12px;">


    <table style="margin-left:auto; margin-right:auto; margin-top:10px; margin-bottom:10px; width:700px; height:2000px; max-width:700px; display:block; background:url(/Assets/images/email/emailvoucher700x1100.png);">
        <thead width="100%">
            <tr width="100%">
                <th width="15%" style="padding-top:50px; right:0px"></th>
                <th colspan="3" width="85%" style="padding-top:50px; padding-right:60px;">
                    <p style="text-align:right;">
                        <a href="http://travorama.com" style="text-decoration:none;">
                            <img src="/Assets/images/travorama-logo-color.png" alt="Travorama" />
                        </a>
                        <br />
                    </p>
                </th>
            </tr>
        </thead>
        <tbody width="100%">
            <tr width="100%">
                <td width="15%" style="padding-top:4em;"></td>
                <td colspan="2" width="75%" style="padding-top:4em; padding-right:40px;">

                    <!-- CONTENT  -->
                    <p style="font-size:16px;"><span style="color: #15b1e4;">Hi, Nice to meet you </span></p>
                    <p style="font-size:22px;"><b><span style="color: #15b1e4;">Mr Iniesta</span></b></p>
                    <p style="font-size:14px; padding-top:10px; padding-bottom:5px; margin-bottom:0px;">
                        <b>
                            Travorama sangat senang Anda telah terdaftar di mailing list kami.
                            Anda akan mendapatkan informasi terkini apabila ada penawaran khusus dari travorama. Rasakan kemudahan bertransaksi di travorama.
                        </b>
                    </p>
                    <p style="padding-bottom:10px; padding-top:0px;margin-top:0px; margin-bottom:0px;padding-bottom:5px;"><img src="~/Assets/images/email/garisemail.png" alt="Travorama" /></p>
                    <p style="text-align:center; padding-bottom:0px; margin-bottom:0px; padding-top:0px; margin-top:0px;"><span style="color: #0088bb;font-size:16px;"><b>NIKMATI SPECIAL TREAT</b></span></p>
                    <p style="text-align:center; padding-bottom:0px; margin-bottom:0px;"><span style="color: #0088bb;font-size:16px;"><b>POTONGAN HARGA RP 50.000, DENGAN</b></span></p>
                    <p style="text-align:center; padding-bottom:0px; margin-bottom:0px;"><span style="color: #0088bb;font-size:16px;"><b>MENGGUNAKAN KODE BERIKUT :</b></span></p>

                    <p style="text-align:center; padding-bottom:0px; margin-bottom:0px; padding-top:10px;"><span style="color: #ff7200;font-size:40px;"><b><i>TRAVO123</i></b></span></p>
                    <!-- Blue : 36c8ff  Background : 167bb7   font-color :#F4F4F4 -->
                    <a style="background-color: #ffd632; align-content:center; border: #e9d14d; display: inline-block; margin-left:20%; text-decoration: none; font-family:arial, helvetica, sans-serif;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       width: 60%; padding-top: 17px; padding-bottom: 17px; text-align: center; margin-top: 18px; margin-bottom: 18px; font-size: 11px; color: #333333;"
                       href="@(ConfigManager.GetInstance().GetConfigValue("general", "rootUrl") + @"/id/StaticPage/GetCalendar?Email=" + Model)" target="_blank"><span style="font-size:20px;"><b>Book Now</b></span></a>
                    
                    
                    <p><b><span style="color: #15b1e4;">Syarat & Ketentuan Penggunaan Voucher :</span></b></p>
                    <ol>
                        <li><p>Voucher hanya dapat digunakan untuk pembelian pertama</p></li>
                        <li><p>Voucher berlaku dengan minimum pembelian Rp. 350.000</p></li>
                        <li><p>Masa berlaku voucher sampai dengan 31 Juli 2016</p></li>
                        <li><p>Voucher tidak dapat diuangkan</p></li>
                        <li><p>Voucher tidak dapat digabung dengan promo lain.</p></li>
                    </ol>

                    <p><span style="color: #15b1e4;"><b>Cara menggunakan Voucher :</b></span></p>
                    <ol>
                        <li><p>Buka <b>www.travorama.com</b> dan pilih penerbangan yang Anda inginkan</p>
                        <p>klik <b>"PESAN"</b> dan klik <b>"LANJUTKAN"</b></p></li>
                        <li><p>Isi data pesanan, data kontak dan data penumpang</p></li>
                        <li><p>Pada <b>"METODE PEMBAYARAN"</b> pilih metode pembayaran yang akan digunakan</p></li>
                        <li><p>Pada bagian <b>"Kode Voucher"</b> masukkan Kode Voucher Anda. Lalu klik <b>"REDEEM"</b></p></li>
                        <li><p>Selesaikan transaksi belanja Anda dengan klik <b>"BAYAR"</b>.</p></li>
                    </ol>
                    <p style="padding-top:10px; margin-bottom:0px; padding-bottom:10px;"><img src="~/Assets/images/email/garisfull.png" alt="Travorama" /></p>
                </td>
                <td width="15%" style="padding-top:4em;"></td>
            </tr>
            <tr width="100%">
                <td width="15%"></td>
                <td colspan="2" width="75%">
                    <table width="100%">
                        <tr>
                            <td width="35%" style="padding-bottom: 1em;"><h4 style="color:#15b1e4;"><b>Further Information : </b></h4></td>
                            <td style="text-align:left;padding-bottom:1em; padding-left:5px;" width="30%"><img src="~/Assets/images/email/line.png" /> travorama</td>
                            <td colspan="2" style="text-align:left; padding-bottom:1em;"><img src="~/Assets/images/email/mail.png" /> cs@travorama</td>
                        </tr>
                    </table>
                    <table width="100%">
                        <tr>
                            <td width="30%"><h4 style="color:#15b1e4;"><b>Follow Us On : </b></h4></td>
                            <td style="text-align:left;" width="20%"><img src="~/Assets/images/email-facebook.jpg" style="width:30px;height:30px;" /> travorama</td>
                            <td style="text-align:left" width="20%"><img src="~/Assets/images/email-twitter.jpg" style="width:30px;height:30px;" /> travorama</td>
                            <td style="text-align:left"><img src="~/Assets/images/email-instagram.jpg" style="width:30px;height:30px;" /> travorama</td>
                        </tr>
                    </table>
                </td>
                <td width="15%"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>