@{
    Layout = "";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Travorama Special Release</title>
</head>
<body>

    <table style="border-collapse:collapse; width:616px; margin-left:auto; margin-right:auto; font-family:helvetica, 'myriad pro', arial, sans-serif;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="3" width="616px">
                <img src="/Assets/images/email/specialrelease/mail-top.jpg" alt="TRAVORAMA Special Release" />
            </td>
        </tr>
        <tr>
            <td width="60px">
                <img src="/Assets/images/email/specialrelease/mail-left.jpg" alt="Left Image" />
            </td>
            <td width="495px" style="vertical-align:top;">
                <h5 style="margin-top:30px; margin-right:24px; margin-bottom:15px; margin-left:20px; font-size:16px;">Hai Travelers!</h5>
                <p style="margin-top:10px; margin-right:20px; margin-bottom:15px; margin-left:20px; font-size:14px; line-height:18px;">Travorama kini siap melayani kebutuhan penerbangan Anda ke seluruh dunia. </p>
                <p style="margin-top:10px; margin-right:20px; margin-bottom:15px; margin-left:20px; font-size:14px; line-height:18px;">Dengan rute penerbangan domestik dan internasional oleh lebih dari 900 maskapai yang dapat Anda pilih untuk mengunjungi kemanapun destinasi liburan dan keperluan bisnis Anda! </p>
                <p style="margin-top:10px; margin-right:20px; margin-bottom:15px; margin-left:20px; font-size:14px; line-height:18px;">Kunjungi website <a href="http://www.travorama.com" style="color:#0050ef; text-decoration:none;">www.travorama.com</a> untuk melakukan pemesanan online atau hubungi Travorama Contact Center di <b style="font-weight:bold;">1500650</b> untuk informasi lebih lanjut.</p>
                <p style="margin-top:10px; margin-right:20px; margin-bottom:15px; margin-left:20px; font-size:14px; line-height:18px;">Kirimkan saran & kritik Anda melalui <a href="http://www.travorama.com/feedback" style="color:#0050ef; text-decoration:none;">www.travorama.com/feedback</a>. Dapatkan voucher sebesar Rp 250.000 untuk 4 orang yang beruntung dengan mengisi kuesioner feedback, follow & like social media Travorama (Facebook, Twitter & Instagram). *)</p>
                <p style="margin-top:10px; margin-right:20px; margin-bottom:15px; margin-left:20px; font-size:12px; line-height:14px;">*) batas akhir pengisian kuesioner tanggal 20 September 2015. Pemenang voucher akan diundi pada tanggal 28 September 2015. Pengumuman pemenang akan diumumkan melalui website Travorama.</p>
            </td>
            <td width="61px">
                <img src="/Assets/images/email/specialrelease/mail-right.jpg" alt="Right Image" />
            </td>
        </tr>
        <tr>
            <td colspan="3" width="616px">
                <img src="/Assets/images/email/specialrelease/mail-bottom.jpg" alt="Bottom Image" />
            </td>
        </tr>
        <tr>
            <td width="60px" style="background-color:#f2f2f2; background:#f2f2f2;"></td>
            <td width="495px" style="background-color:#f2f2f2; background:#f2f2f2;">
                <p style="text-align:center; font-size:12px; padding-top:10px; padding-right:0; padding-bottom:10px; padding-left:0;">Travorama, equity tower 25th floor, scbd lot 9, jl. jendral sudirman kav 52 -53</p>
                <p style="text-align:center; font-size:12px; margin-bottom:5px;"><b>Layanan Customer:</b></p>
                <p style="text-align:center; font-size:12px; margin-top:0;"><a href="#" style="color:#0050ef; text-decoration:none;"> <img src="/Assets/images/email/mail-icon.png" alt="M" /> customercare@travorama.com</a>  | <img src="/Assets/images/email/phone-icon.png" alt="F" /> 1500650</p>
                <p style="text-align:center; font-size:12px; margin-bottom:5px;"><b>Follow kami di :</b></p>
                <p style="text-align:center; font-size:12px; margin-top:0;">
                    <a href="http://www.facebook.com/travorama" style="color:#0050ef; text-decoration:none;"> <img src="/Assets/images/email/facebook-icon.png" alt="F" /> www.facebook.com/travorama</a>  | <a href="http://twitter.com/travoramaid" style="color:#0050ef; text-decoration:none;"> <img src="/Assets/images/email/twitter-icon.png" alt="T" /> @@travoramaid</a>  | <a href="http://instagram.com/travorama" style="color:#0050ef; text-decoration:none;"><img src="/Assets/images/email/instagram-icon.png" alt="I" /> @@travorama</a>
                </p>
            </td>
            <td width="61px" style="background-color:#f2f2f2; background:#f2f2f2;"></td>
        </tr>
    </table>

</body>
</html>