@{
    ViewBag.Title = "Hotel Search List";
    Layout = "/Views/Shared/_layout_20150506.cshtml";
}



@section AdditionalPageJavascript{
    <script>
        var langCode = 'en';
    </script>
}

@section PageJavascript {
    <script>
        var SiteLanguage = 'en';


    </script>
}

<div class="search-page flight-search-page trip-flight-search-page" ng-controller="TripFlightController">

    <div class="container">

        <section class="trip-flight-list-wrapper">
        
            <section class="trip-departure-wrapper active trip-wrapper" ng-class="pageConfig.activeFlightSection == 'departure' && departureFlightConfig.chosenFlight < 0 ? 'active' : 'inactive'" ng-click="setPageActiveSection('departure')">

                <header class="wrapper-header">
                    <h3>Pilih penerbangan pergi</h3>
                    <h5>Senin, 05 oktober 2015, Jakarta - Tokyo</h5>
                </header><!-- .wrapper-header -->
                <!-- if user have chose a flight list -->
                <section class="flight-chosen" ng-show="departureFlightConfig.chosenFlight >= 0">
                    <div class="flight-detail">
                        <div class="flight-info">
                            <div class="flight-airline">
                                <img src="/Assets/images/airlines/{{departureFlightConfig.flightList[ departureFlightConfig.chosenFlight ].Trips[0].Segments[0].AirlineCode}}.png" alt="{{departureFlightConfig.flightList[ departureFlightConfig.chosenFlight ].Trips[0].Segments[0].AirlineName}}" class="airline-image" />
                                <span class="airline-name">{{departureFlightConfig.flightList[ departureFlightConfig.chosenFlight ].Trips[0].Segments[0].AirlineName}}</span>
                            </div>
                            <div class="flight-departure">
                                <h4>{{getDateTime( departureFlightConfig.flightList[ departureFlightConfig.chosenFlight ].Trips[0].Segments[0].DepartureTime ) | date: 'HH : mm' : 'UTC'}}</h4>
                                <h5>{{getDateTime( departureFlightConfig.flightList[ departureFlightConfig.chosenFlight ].Trips[0].Segments[0].DepartureTime ) | date: 'd-MMMM-yyyy' : 'UTC'}}</h5>
                                <h5>{{departureFlightConfig.flightList[ departureFlightConfig.chosenFlight ].Trips[0].OriginCity}}({{departureFlightConfig.flightList[ departureFlightConfig.chosenFlight ].Trips[0].OriginAirport}})</h5>
                            </div>
                            <div class="flight-arrival">
                                <h4>{{getDateTime( departureFlightConfig.flightList[ departureFlightConfig.chosenFlight ].Trips[0].Segments[(departureFlightConfig.flightList[ departureFlightConfig.chosenFlight ].Trips[0].Segments.length-1)].ArrivalTime ) | date: 'HH : mm' : 'UTC'}}</h4>
                                <h5>{{getDateTime( departureFlightConfig.flightList[ departureFlightConfig.chosenFlight ].Trips[0].Segments[(departureFlightConfig.flightList[ departureFlightConfig.chosenFlight ].Trips[0].Segments.length-1)].ArrivalTime ) | date: 'd-MMMM-yyyy' : 'UTC'}}</h5>
                                <h5>{{departureFlightConfig.flightList[ departureFlightConfig.chosenFlight ].Trips[0].DestinationCity}}({{departureFlightConfig.flightList[ departureFlightConfig.chosenFlight ].Trips[0].DestinationAirport}})</h5>
                            </div>
                        </div>
                        <div class="flight-duration">
                            <div class="detail-left">
                                <p><b>Durasi :</b></p>
                                <p>
                                    <span class="duration">{{departureFlightConfig.flightList[ departureFlightConfig.chosenFlight ].Trips[0].TotalDuration}}</span> |
                                    <span ng-if="departureFlightConfig.flightList[ departureFlightConfig.chosenFlight ].Trips[0].TotalTransit == 0">Direct Flight</span>
                                    <span ng-if="departureFlightConfig.flightList[ departureFlightConfig.chosenFlight ].Trips[0].TotalTransit == 1">1 Stop</span>
                                    <span ng-if="departureFlightConfig.flightList[ departureFlightConfig.chosenFlight ].Trips[0].TotalTransit == 2">2 Stops</span>
                                    <span ng-if="departureFlightConfig.flightList[ departureFlightConfig.chosenFlight ].Trips[0].TotalTransit > 2">More than 2 Stops</span>
                                </p>
                            </div>
                            <div class="detail-right">
                                <a href="#" class="flightDetail">Lihat Detail</a>
                            </div>
                        </div>
                        <div class="flight-price">
                            <div class="detail-left">
                                <label><b>Harga Pergi</b></label>
                            </div>
                            <div class="detail-right">
                                <h5 class="flight-price-was" ng-if="departureFlightConfig.flightList[ departureFlightConfig.chosenFlight ].TotalFareWas">Rp {{departureFlightConfig.flightList[ departureFlightConfig.chosenFlight ].TotalFareWas | number}}</h5>
                                <h4 class="flight-price-now">Rp {{departureFlightConfig.flightList[ departureFlightConfig.chosenFlight ].TotalFare | number}}</h4>
                            </div>
                        </div>
                        <div class="flight-change">
                            <a ng-click="setChosenFlight('departure',-1); pageConfig.activeFlightSection = 'departure'">Ganti penerbangan pergi</a>
                        </div>
                    </div>
                </section><!-- .flight-chosen-->
                <!-- flight chosen end -->

                <section class="flight-filter" ng-show="departureFlightConfig.chosenFlight < 0">
                    <div class="flight-filter-trigger">
                        <a href="#" class="filter-transit">Filter transit</a>
                        <a href="#" class="filter-airline">Filter maskapai</a>
                        <a href="#" class="filter-time">Filter waktu</a>
                        <a href="#" class="filter-price">Filter harga</a>
                    </div>
                    <div class="flight-filter-content"></div>
                </section><!-- .flight-filter -->

                <section class="flight-sort" ng-show="departureFlightConfig.chosenFlight < 0">
                    <a href="#" class="sort-airline">airline</a>
                    <a href="#" class="sort-departure">departure</a>
                    <a href="#" class="sort-arrival">arrival</a>
                    <a href="#" class="sort-price">price</a>
                </section><!-- .flight-sort -->
                <!-- flight list loop start here -->
                <section class="flight-list" ng-show="departureFlightConfig.chosenFlight < 0">

                    <div class="flight" id="departure-{{flight.SequenceNo}}" ng-class="{active: flight.SequenceNo == departureFlightConfig.activeFlight}" ng-repeat="flight in departureFlightConfig.flightList">

                        <div class="flight-main">
                            <div class="flight-info">
                                <div class="flight-top">
                                    <div class="flight-airline">
                                        <img src="/Assets/images/airlines/{{flight.Trips[0].Segments[0].AirlineCode}}.png" alt="{{flight.Trips[0].Segments[0].AirlineName}}" class="airline-image" />
                                        <span class="airline-name">{{flight.Trips[0].Segments[0].AirlineName}}</span>
                                    </div>
                                    <div class="flight-departure">
                                        <h4>{{getDateTime( flight.Trips[0].Segments[0].DepartureTime ) | date: 'HH : mm' : 'UTC'}}</h4>
                                        <h5>{{getDateTime( flight.Trips[0].Segments[0].DepartureTime ) | date: 'd-MMMM-yyyy' : 'UTC'}}</h5>
                                        <h5>{{flight.Trips[0].OriginCity}}({{flight.Trips[0].OriginAirport}})</h5>
                                    </div>
                                    <div class="flight-arrival">
                                        <h4>{{getDateTime( flight.Trips[0].Segments[(flight.Trips[0].Segments.length-1)].ArrivalTime ) | date: 'HH : mm' : 'UTC'}}</h4>
                                        <h5>{{getDateTime( flight.Trips[0].Segments[(flight.Trips[0].Segments.length-1)].ArrivalTime ) | date: 'd-MMMM-yyyy' : 'UTC'}}</h5>
                                        <h5>{{flight.Trips[0].DestinationCity}}({{flight.Trips[0].DestinationAirport}})</h5>
                                    </div>
                                </div>
                                <div class="flight-bottom">
                                    <div class="flight-detail-trigger">
                                        <a ng-click="setActiveFlight('departure',flight.SequenceNo)"><img src="/Assets/images/paperplane-icon.png" alt="" /> Detail </a>
                                    </div>
                                    <div class="flight-duration">
                                        <p>
                                            Duration : <span class="duration">{{flight.Trips[0].TotalDuration}}</span> |
                                            <span ng-if="flight.Trips[0].TotalTransit == 0">Direct Flight</span>
                                            <span ng-if="flight.Trips[0].TotalTransit == 1">1 Stop</span>
                                            <span ng-if="flight.Trips[0].TotalTransit == 2">2 Stops</span>
                                            <span ng-if="flight.Trips[0].TotalTransit > 2">More than 2 Stops</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="flight-action">
                                <h5>Harga Total :</h5>
                                <h5 class="flight-price-was" ng-if="flight.TotalFareWas">Rp {{flight.TotalFareWas | number}}</h5>
                                <h4 class="flight-price-now">Rp {{flight.TotalFare | number}}</h4>
                                <a class="btn btn-yellow flight-choose" ng-click="setChosenFlight('departure', flight.SequenceNo)">Pilih Pergi</a>
                            </div>
                        </div><!-- .flight-main -->
                        <div class="flight-detail">
                            <div ng-repeat="segment in flight.Trips[0].Segments">
                                <div class="transit" ng-if="$index > 0">
                                    <h4>Transit di {{segment.DepartureCity}} ({{flight.Trips[0].Transits[ $index-1 ].Airport}}) selama {{flight.Trips[0].Transits[ $index-1 ].Duration}}</h4>
                                </div>
                                <div class="segment">
                                    <div class="segment-airline">
                                        <img src="{{segment.AirlineLogoUrl}}" alt="{{segment.AirlineName}}" class="airline-image" />
                                        <span class="airline-name">{{segment.AirlineName}}</span>
                                        <span class="airline-number">{{segment.AirlineCode}} {{segment.FlightNumber}}</span>
                                    </div>
                                    <div class="segment-departure">
                                        <h4 class="segment-time">{{getDateTime(segment.DepartureTime) | date:'HH:mm' : 'UTC' }}</h4>
                                        <h5 class="segment-date">{{getDateTime(segment.DepartureTime) | date:'d-MMMM-yyyy' : 'UTC' }}</h5>
                                        <h4 class="segment-city">{{segment.DepartureCity}} ({{segment.DepartureAirport}})</h4>
                                        <h5 class="segment-airport">{{segment.DepartureAirportName}}</h5>
                                    </div>
                                    <div class="segment-duration">
                                        <span>Duration</span>
                                        <span>{{segment.Duration}}</span>
                                    </div>
                                    <div class="segment-arrival">
                                        <h4 class="segment-time">{{getDateTime(segment.ArrivalTime) | date:'HH:mm' : 'UTC' }}</h4>
                                        <h5 class="segment-date">{{getDateTime(segment.ArrivalTime) | date:'d-MMMM-yyyy' : 'UTC' }}</h5>
                                        <h4 class="segment-city">{{segment.ArrivalCity}} ({{segment.ArrivalAirport}})</h4>
                                        <h5 class="segment-airport">{{segment.ArrivalAirportName}}</h5>
                                    </div>
                                    <div class="flight-operator" ng-if="segment.OperatingAirlineCode != segment.AirlineCode">
                                        <p>This flight if operated by <img src="{{segment.OperatingAirlineLogoUrl}}" alt="{{segment.OperatingAirlineName}}" /> {{segment.OperatingAirlineName}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="segment-footer">
                                <a class="btn btn-yellow" ng-click="setChosenFlight('departure', flight.SequenceNo)">Pilih Pergi</a>
                                <label>Harga Total</label>
                                <h5 class="flight-price-was" ng-if="flight.TotalFareWas">Rp {{flight.TotalFareWas | number}}</h5>
                                <h4 class="flight-price-now">Rp {{flight.TotalFare | number}}</h4>
                                <small>Sudah termasuk pajak dan service charge travorama</small>
                            </div>
                        </div><!-- .flight-detail -->

                    </div>
                    <!-- .flight -->


                </section><!-- .flight-list-wrapper -->
                <!-- flight list loop end here -->

            </section><!-- .trip-departure-wrapper -->
        
            <!-- ****************************** -->

            <section class="trip-return-wrapper trip-wrapper" ng-class="pageConfig.activeFlightSection == 'return' && returnFlightConfig.chosenFlight < 0 ? 'active' : 'inactive'" ng-click="setPageActiveSection('return')">
            
                <header class="wrapper-header">
                    <h3>Pilih penerbangan pergi</h3>
                    <h5>Senin, 05 oktober 2015, Jakarta - Tokyo</h5>
                </header><!-- .wrapper-header -->
                <!-- if user have chose a flight list -->
                <section class="flight-chosen" ng-show="returnFlightConfig.chosenFlight >= 0">
                    <div class="flight-detail">
                        <div class="flight-info">
                            <div class="flight-airline">
                                <img src="/Assets/images/airlines/{{returnFlightConfig.flightList[ returnFlightConfig.chosenFlight ].Trips[0].Segments[0].AirlineCode}}.png" alt="{{departureFlightConfig.flightList[ departureFlightConfig.chosenFlight ].Trips[0].Segments[0].AirlineName}}" class="airline-image" />
                                <span class="airline-name">{{returnFlightConfig.flightList[ returnFlightConfig.chosenFlight ].Trips[0].Segments[0].AirlineName}}</span>
                            </div>
                            <div class="flight-departure">
                                <h4>{{getDateTime( returnFlightConfig.flightList[ returnFlightConfig.chosenFlight ].Trips[0].Segments[0].DepartureTime ) | date: 'HH : mm' : 'UTC'}}</h4>
                                <h5>{{getDateTime( returnFlightConfig.flightList[ returnFlightConfig.chosenFlight ].Trips[0].Segments[0].DepartureTime ) | date: 'd-MMMM-yyyy' : 'UTC'}}</h5>
                                <h5>{{returnFlightConfig.flightList[ returnFlightConfig.chosenFlight ].Trips[0].OriginCity}}({{returnFlightConfig.flightList[ returnFlightConfig.chosenFlight ].Trips[0].OriginAirport}})</h5>
                            </div>
                            <div class="flight-arrival">
                                <h4>{{getDateTime( returnFlightConfig.flightList[ departureFlightConfig.chosenFlight ].Trips[0].Segments[(returnFlightConfig.flightList[ returnFlightConfig.chosenFlight ].Trips[0].Segments.length-1)].ArrivalTime ) | date: 'HH : mm' : 'UTC'}}</h4>
                                <h5>{{getDateTime( returnFlightConfig.flightList[ departureFlightConfig.chosenFlight ].Trips[0].Segments[(returnFlightConfig.flightList[ returnFlightConfig.chosenFlight ].Trips[0].Segments.length-1)].ArrivalTime ) | date: 'd-MMMM-yyyy' : 'UTC'}}</h5>
                                <h5>{{returnFlightConfig.flightList[ returnFlightConfig.chosenFlight ].Trips[0].DestinationCity}}({{returnFlightConfig.flightList[ returnFlightConfig.chosenFlight ].Trips[0].DestinationAirport}})</h5>
                            </div>
                        </div>
                        <div class="flight-duration">
                            <div class="detail-left">
                                <p><b>Durasi :</b></p>
                                <p>
                                    <span class="duration">{{returnFlightConfig.flightList[ returnFlightConfig.chosenFlight ].Trips[0].TotalDuration}}</span> |
                                    <span ng-if="returnFlightConfig.flightList[ returnFlightConfig.chosenFlight ].Trips[0].TotalTransit == 0">Direct Flight</span>
                                    <span ng-if="returnFlightConfig.flightList[ returnFlightConfig.chosenFlight ].Trips[0].TotalTransit == 1">1 Stop</span>
                                    <span ng-if="returnFlightConfig.flightList[ returnFlightConfig.chosenFlight ].Trips[0].TotalTransit == 2">2 Stops</span>
                                    <span ng-if="returnFlightConfig.flightList[ returnFlightConfig.chosenFlight ].Trips[0].TotalTransit > 2">More than 2 Stops</span>
                                </p>
                            </div>
                            <div class="detail-right">
                                <a href="#" class="flightDetail">Lihat Detail</a>
                            </div>
                        </div>
                        <div class="flight-price">
                            <div class="detail-left">
                                <label><b>Harga Pergi</b></label>
                            </div>
                            <div class="detail-right">
                                <h5 class="flight-price-was" ng-if="returnFlightConfig.flightList[ returnFlightConfig.chosenFlight ].TotalFareWas">Rp {{returnFlightConfig.flightList[ returnFlightConfig.chosenFlight ].TotalFareWas | number}}</h5>
                                <h4 class="flight-price-now">Rp {{returnFlightConfig.flightList[ returnFlightConfig.chosenFlight ].TotalFare | number}}</h4>
                            </div>
                        </div>
                        <div class="flight-change">
                            <a ng-click="setChosenFlight('return',-1); pageConfig.activeFlightSection = 'return'">Ganti penerbangan pulang</a>
                        </div>
                    </div>
                </section><!-- .flight-chosen-->
                <!-- flight chosen end -->

                <section class="flight-filter" ng-show="returnFlightConfig.chosenFlight < 0">
                    <div class="flight-filter-trigger">
                        <a href="#" class="filter-transit">Filter transit</a>
                        <a href="#" class="filter-airline">Filter maskapai</a>
                        <a href="#" class="filter-time">Filter waktu</a>
                        <a href="#" class="filter-price">Filter harga</a>
                    </div>
                    <div class="flight-filter-content"></div>
                </section><!-- .flight-filter -->

                <section class="flight-sort" ng-show="returnFlightConfig.chosenFlight < 0">
                    <a href="#" class="sort-airline">airline</a>
                    <a href="#" class="sort-departure">departure</a>
                    <a href="#" class="sort-arrival">arrival</a>
                    <a href="#" class="sort-price">price</a>
                </section><!-- .flight-sort -->
                <!-- flight list loop start here -->
                <section class="flight-list" ng-if="returnFlightConfig.chosenFlight < 0">

                    <div class="flight" id="departure-{{flight.SequenceNo}}" ng-class="{active: flight.SequenceNo == returnFlightConfig.activeFlight}" ng-repeat="flight in returnFlightConfig.flightList">

                        <div class="flight-main">
                            <div class="flight-info">
                                <div class="flight-top">
                                    <div class="flight-airline">
                                        <img src="/Assets/images/airlines/{{flight.Trips[0].Segments[0].AirlineCode}}.png" alt="{{flight.Trips[0].Segments[0].AirlineName}}" class="airline-image" />
                                        <span class="airline-name">{{flight.Trips[0].Segments[0].AirlineName}}</span>
                                    </div>
                                    <div class="flight-departure">
                                        <h4>{{getDateTime( flight.Trips[0].Segments[0].DepartureTime ) | date: 'HH : mm' : 'UTC'}}</h4>
                                        <h5>{{getDateTime( flight.Trips[0].Segments[0].DepartureTime ) | date: 'd-MMMM-yyyy' : 'UTC'}}</h5>
                                        <h5>{{flight.Trips[0].OriginCity}}({{flight.Trips[0].OriginAirport}})</h5>
                                    </div>
                                    <div class="flight-arrival">
                                        <h4>{{getDateTime( flight.Trips[0].Segments[(flight.Trips[0].Segments.length-1)].ArrivalTime ) | date: 'HH : mm' : 'UTC'}}</h4>
                                        <h5>{{getDateTime( flight.Trips[0].Segments[(flight.Trips[0].Segments.length-1)].ArrivalTime ) | date: 'd-MMMM-yyyy' : 'UTC'}}</h5>
                                        <h5>{{flight.Trips[0].DestinationCity}}({{flight.Trips[0].DestinationAirport}})</h5>
                                    </div>
                                </div>
                                <div class="flight-bottom">
                                    <div class="flight-detail-trigger">
                                        <a ng-click="setActiveFlight('return',flight.SequenceNo)"><img src="/Assets/images/paperplane-icon.png" alt="" /> Detail </a>
                                    </div>
                                    <div class="flight-duration">
                                        <p>
                                            Duration : <span class="duration">{{flight.Trips[0].TotalDuration}}</span> |
                                            <span ng-if="flight.Trips[0].TotalTransit == 0">Direct Flight</span>
                                            <span ng-if="flight.Trips[0].TotalTransit == 1">1 Stop</span>
                                            <span ng-if="flight.Trips[0].TotalTransit == 2">2 Stops</span>
                                            <span ng-if="flight.Trips[0].TotalTransit > 2">More than 2 Stops</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="flight-action">
                                <h5>Harga Total :</h5>
                                <h5 class="flight-price-was" ng-if="flight.TotalFareWas">Rp {{flight.TotalFareWas}}</h5>
                                <h4 class="flight-price-now">Rp {{flight.TotalFare | number}}</h4>
                                <a class="btn btn-yellow flight-choose" ng-click="setChosenFlight('return', flight.SequenceNo)">Pilih Pergi</a>
                            </div>
                        </div><!-- .flight-main -->
                        <div class="flight-detail">
                            <div ng-repeat="segment in flight.Trips[0].Segments">
                                <div class="transit" ng-if="$index > 0">
                                    <h4>Transit di {{segment.DepartureCity}} ({{flight.Trips[0].Transits[ $index-1 ].Airport}}) selama {{flight.Trips[0].Transits[ $index-1 ].Duration}}</h4>
                                </div>
                                <div class="segment">
                                    <div class="segment-airline">
                                        <img src="{{segment.AirlineLogoUrl}}" alt="{{segment.AirlineName}}" class="airline-image" />
                                        <span class="airline-name">{{segment.AirlineName}}</span>
                                        <span class="airline-number">{{segment.AirlineCode}} {{segment.FlightNumber}}</span>
                                    </div>
                                    <div class="segment-departure">
                                        <h4 class="segment-time">{{getDateTime(segment.DepartureTime) | date:'HH:mm' : 'UTC' }}</h4>
                                        <h5 class="segment-date">{{getDateTime(segment.DepartureTime) | date:'d-MMMM-yyyy' : 'UTC' }}</h5>
                                        <h4 class="segment-city">{{segment.DepartureCity}} ({{segment.DepartureAirport}})</h4>
                                        <h5 class="segment-airport">{{segment.DepartureAirportName}}</h5>
                                    </div>
                                    <div class="segment-duration">
                                        <span>Duration</span>
                                        <span>{{segment.Duration}}</span>
                                    </div>
                                    <div class="segment-arrival">
                                        <h4 class="segment-time">{{getDateTime(segment.ArrivalTime) | date:'HH:mm' : 'UTC' }}</h4>
                                        <h5 class="segment-date">{{getDateTime(segment.ArrivalTime) | date:'d-MMMM-yyyy' : 'UTC' }}</h5>
                                        <h4 class="segment-city">{{segment.ArrivalCity}} ({{segment.ArrivalAirport}})</h4>
                                        <h5 class="segment-airport">{{segment.ArrivalAirportName}}</h5>
                                    </div>
                                    <div class="flight-operator" ng-if="segment.OperatingAirlineCode != segment.AirlineCode">
                                        <p>This flight if operated by <img src="{{segment.OperatingAirlineLogoUrl}}" alt="{{segment.OperatingAirlineName}}" /> {{segment.OperatingAirlineName}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="segment-footer">
                                <a href="#" class="btn btn-yellow">Pilih Pergi</a>
                                <label>Harga Total</label>
                                <h5 class="flight-price-was" ng-if="flight.TotalFareWas">Rp {{flight.TotalFareWas | number}}</h5>
                                <h4 class="flight-price-now">Rp {{flight.TotalFare | number}}</h4>
                                <small>Sudah termasuk pajak dan service charge travorama</small>
                            </div>
                        </div><!-- .flight-detail -->

                    </div>
                    <!-- .flight -->

                </section><!-- .flight-list-wrapper -->
                <!-- flight list loop end here -->    

            </section><!-- .trip-return-wrapper -->

        </section><!-- .flight-list-wrapper -->
    
        <!-- ****************************** -->
    
        <section class="page-overlay" ng-show="departureFlightSearchConfig.chosenFlight >= 0 && returnFlightSearch.chosenFlight >= 0">
        
            <div class="trip-flight-overview">
                <header>
                    <h3>Rincian Penerbangan Pulang Pergi
                        <span class="close-overview">X</span>
                    </h3>
                </header>   
                <section class="flight-main">
                    <div class="flight-departure-info">
                        <h2>Penerbangan Pergi</h2>
                        <div class="flight-airline">
                            <img src="/assets/images/airlines/qz.png" alt="Air Asia" class="airline-image" />
                            <span class="airline-name">Air Asia</span>
                        </div><!-- .flight-airline-image -->
                        <div class="flight-departure">
                            <h3>24:60</h3>
                            <h4>10 october 2015</h4>
                            <h3>Jakarta (CGK)</h3>
                            <h4>Soekarno hatta Intl</h4>
                            <!-- <h3>Jakarta</h3> -->
                        </div><!-- .departure -->
                        <div class="flight-duration">
                            <h5>Durasi<br /> 1:00:00</h5>
                            <hr />
                            <span>1 Transit</span>
                        </div><!-- .duration -->
                        <div class="flight-arrival">
                            <h3>24:60</h3>
                            <h4>10 october 2015</h4>
                            <h3>Jakarta (CGK)</h3>
                            <h4>Soekarno hatta Intl</h4>
                        </div><!-- .arrival -->
                    </div>
                    <div class="flight-return-info">
                        <h2>Penerbangan Pulang</h2>
                        <div class="flight-airline">
                            <img src="/assets/images/airlines/qz.png" alt="Air Asia" class="airline-image" />
                            <span class="airline-name">Air Asia</span>
                        </div><!-- .flight-airline-image -->
                        <div class="flight-departure">
                            <h3>24:60</h3>
                            <h4>10 october 2015</h4>
                            <h3>Jakarta (CGK)</h3>
                            <h4>Soekarno hatta Intl</h4>
                            <!-- <h3>Jakarta</h3> -->
                        </div><!-- .departure -->
                        <div class="flight-duration">
                            <h5>Durasi<br /> 1:00:00</h5>
                            <hr />
                            <span>1 Transit</span>
                        </div><!-- .duration -->
                        <div class="flight-arrival">
                            <h3>24:60</h3>
                            <h4>10 october 2015</h4>
                            <h3>Jakarta (CGK)</h3>
                            <h4>Soekarno hatta Intl</h4>
                        </div><!-- .arrival -->
                    </div>
                </section>
                <footer>
                    <div class="flight-detail-trigger">
                        <a>Detail Penerbangan</a>
                    </div>
                    <div class="flight-price">
                        <label>Harga Total</label>
                        <h3>Rp 123,456,678</h3>
                    </div>
                    <div class="flight-book">
                        <a href="#" class="btn btn-yellow">Booking sekarang</a>
                    </div>
                </footer>
                <section class="flight-detail">
                    
                </section>
            </div><!-- .trip-flight-overview -->

        </section><!-- .page-overlay -->

            

    </div><!-- .container -->

</div><!-- .search-flight -->

   