@{
    ViewBag.Title = "Hotel Search List";
    Layout = "/Views/Shared/_layout_20150506.cshtml";
}



@section AdditionalPageJavascript{
    <script>
        var langCode = 'en';
    </script>
}

@section PageJavascript {
    <script>
        var SiteLanguage = 'en';

        $('.flight-detail-trigger a').click(function(evt) {
            evt.preventDefault();
            $('.flight.active, .flight-detail.active').removeClass('active');
            $(this).closest('.flight').addClass('active');
            $(this).closest('.flight').children('.flight-detail').addClass('active');
        });

        $('.trip-departure-wrapper, .trip-return-wrapper').click(function() {
            $(this).siblings().removeClass('active').addClass('inactive');
            $(this).removeClass('inactive').addClass('active');
        });

    </script>
}

<div class="search-page flight-search-page trip-flight-search-page">

    <div class="container">
    
        <section class="trip-flight-list-wrapper">
        
            <section class="trip-departure-wrapper active">
            
                <header class="wrapper-header">
                    <h3>Pilih penerbangan pergi</h3>
                    <h5>Senin, 05 oktober 2015, Jakarta - Tokyo</h5>
                </header><!-- .wrapper-header -->
            
                <!-- if uesr have chose a flight list-->
                <section class="flight-chosen">
                </section><!-- .flight-chosen-->
                <!-- flight chosen end -->
            
                <section class="flight-filter">
                    <div class="flight-filter-trigger">
                        <a href="#" class="filter-transit">Filter transit</a>
                        <a href="#" class="filter-airline">Filter maskapai</a>
                        <a href="#" class="filter-time">Filter waktu</a>
                        <a href="#" class="filter-price">Filter harga</a>
                    </div>
                    <div class="flight-filter-content"></div>
                </section><!-- .flight-filter -->

                <section class="flight-sort">
                    <a href="#" class="sort-airline">airline</a>
                    <a href="#" class="sort-departure">departure</a>
                    <a href="#" class="sort-arrival">arrival</a>
                    <a href="#" class="sort-price">price</a>
                </section><!-- .flight-sort -->

                <!-- flight list loop start here -->
                <section class="flight-list">
                
                    @for ( var i = 0; i < 5; i++ )
                    {
                        <div class="flight">
                    
                            <div class="flight-main">
                                <div class="flight-info">
                                    <div class="flight-top">
                                        <div class="flight-airline">
                                            <img src="/Assets/images/airlines/QZ.png" alt="Air Asia" class="airline-image" />
                                            <span class="airline-name">Air Asia</span>
                                        </div>
                                        <div class="flight-departure">
                                            <h4>20:30</h4>
                                            <h5>10-Oct-2015</h5>
                                            <h5>Jakarta (CGK)</h5>
                                        </div>
                                        <div class="flight-arrival">
                                            <h4>20:30</h4>
                                            <h5>10-Oct-2015</h5>
                                            <h5>Jakarta (CGK)</h5>
                                        </div>
                                    </div>
                                    <div class="flight-bottom">
                                        <div class="flight-detail-trigger">
                                            <a href="#"><img src="/Assets/images/paperplane-icon.png" alt="" /> Detail </a>
                                        </div>
                                        <div class="flight-duration">
                                            <p>Duration : <span class="duration">1:00:00</span> | <span>Direct Flight</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="flight-action">
                                    <h5 class="flight-price-was">Rp 123,456,789</h5>
                                    <h4 class="flight-price-now">Rp 123,456,789</h4>
                                    <a href="#" class="btn btn-yellow flight-choose">Pilih Pergi</a>
                                </div>
                            </div><!-- .flight-main -->
                            <div class="flight-detail">
                                <div class="segment">
                                    <div class="segment-airline">
                                        <img src="/Assets/images/airlines/QZ.png" alt="Air Asia" class="airline-image" />
                                        <span class="airline-name">Air Asia</span>
                                        <span class="airline-number">QZ 1234</span>
                                    </div>
                                    <div class="segment-departure">
                                        <h4 class="segment-time">20:30</h4>
                                        <h5 class="segment-date">10 October 2015</h5>
                                        <h4 class="segment-city">Jakarta (CGK)</h4>
                                        <h5 class="segment-airport">Soekarno Hatta intl</h5>
                                    </div>
                                    <div class="segment-duration">
                                        <span>Direct Flight</span>
                                        <span>1:55:00</span>
                                    </div>
                                    <div class="segment-arrival">
                                        <h4 class="segment-time">20:30</h4>
                                        <h5 class="segment-date">10 October 2015</h5>
                                        <h4 class="segment-city">Jakarta (CGK)</h4>
                                        <h5 class="segment-airport">Soekarno Hatta intl</h5>
                                    </div>
                                </div>
                                <div class="transit">
                                    <h4>Transit di Jakarta selama 2:00:00</h4>
                                </div>
                                <div class="segment">
                                    <div class="segment-airline">
                                        <img src="/Assets/images/airlines/QZ.png" alt="Air Asia" class="airline-image" />
                                        <span class="airline-name">Air Asia</span>
                                        <span class="airline-number">QZ 1234</span>
                                    </div>
                                    <div class="segment-departure">
                                        <h4 class="segment-time">20:30</h4>
                                        <h5 class="segment-date">10 October 2015</h5>
                                        <h4 class="segment-city">Jakarta (CGK)</h4>
                                        <h5 class="segment-airport">Soekarno Hatta intl</h5>
                                    </div>
                                    <div class="segment-duration">
                                        <span>Direct Flight</span>
                                        <span>1:55:00</span>
                                    </div>
                                    <div class="segment-arrival">
                                        <h4 class="segment-time">20:30</h4>
                                        <h5 class="segment-date">10 October 2015</h5>
                                        <h4 class="segment-city">Jakarta (CGK)</h4>
                                        <h5 class="segment-airport">Soekarno Hatta intl</h5>
                                    </div>
                                </div>
                                <div class="segment-footer">
                                    <a href="#" class="btn btn-yellow">Pilih Pergi</a>
                                    <label>Harga Perorang</label>
                                    <h4>Rp 123,456,789</h4>
                                    <small>Sudah termasuk pajak dan service charge travorama</small>
                                </div>
                            </div><!-- .flight-detail -->

                        </div>
                        <!-- .flight -->
                    }
                    
                </section><!-- .flight-list-wrapper -->
                <!-- flight list loop end here -->

            </section><!-- .trip-departure-wrapper -->
        
            <!-- ****************************** -->

            <section class="trip-return-wrapper inactive">
            
                <header class="wrapper-header">
                    <h3>Pilih penerbangan pergi</h3>
                    <h5>Senin, 05 oktober 2015, Jakarta - Tokyo</h5>
                </header><!-- .wrapper-header -->
                <!-- if uesr have chose a flight list-->
                <section class="flight-chosen">
                    Lorem ipsum
                </section><!-- .flight-chosen-->
                <!-- flight chosen end -->
                <!-- flight list loop start here -->
                <section class="flight-list">

                    @for (var i = 0; i < 5; i++)
                    {
                        <div class="flight">

                            <div class="flight-main">
                                <div class="flight-info">
                                    <div class="flight-top">
                                        <div class="flight-airline">
                                            <img src="/Assets/images/airlines/QZ.png" alt="Air Asia" class="airline-image" />
                                            <span class="airline-name">Air Asia</span>
                                        </div>
                                        <div class="flight-departure">
                                            <h4>20:30</h4>
                                            <h5>10-Oct-2015</h5>
                                            <h5>Jakarta (CGK)</h5>
                                        </div>
                                        <div class="flight-arrival">
                                            <h4>20:30</h4>
                                            <h5>10-Oct-2015</h5>
                                            <h5>Jakarta (CGK)</h5>
                                        </div>
                                    </div>
                                    <div class="flight-bottom">
                                        <div class="flight-detail-trigger">
                                            <a href="#"><img src="/Assets/images/paperplane-icon.png" alt="" /> Detail </a>
                                        </div>
                                        <div class="flight-duration">
                                            <p>Duration : <span class="duration">1:00:00</span> | <span>Direct Flight</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="flight-action">
                                    <h5 class="flight-price-was">Rp 123,456,789</h5>
                                    <h4 class="flight-price-now">Rp 123,456,789</h4>
                                    <a href="#" class="btn btn-yellow flight-choose">Pilih Pergi</a>
                                </div>
                            </div><!-- .flight-main -->
                            <div class="flight-detail">
                                <div class="segment">
                                    <div class="segment-airline">
                                        <img src="/Assets/images/airlines/QZ.png" alt="Air Asia" class="airline-image" />
                                        <span class="airline-name">Air Asia</span>
                                        <span class="airline-number">QZ 1234</span>
                                    </div>
                                    <div class="segment-departure">
                                        <h4 class="segment-time">20:30</h4>
                                        <h5 class="segment-date">10 October 2015</h5>
                                        <h4 class="segment-city">Jakarta (CGK)</h4>
                                        <h5 class="segment-airport">Soekarno Hatta intl</h5>
                                    </div>
                                    <div class="segment-duration">
                                        <span>Direct Flight</span>
                                        <span>1:55:00</span>
                                    </div>
                                    <div class="segment-arrival">
                                        <h4 class="segment-time">20:30</h4>
                                        <h5 class="segment-date">10 October 2015</h5>
                                        <h4 class="segment-city">Jakarta (CGK)</h4>
                                        <h5 class="segment-airport">Soekarno Hatta intl</h5>
                                    </div>
                                </div>
                                <div class="transit">
                                    <h4>Transit di Jakarta selama 2:00:00</h4>
                                </div>
                                <div class="segment">
                                    <div class="segment-airline">
                                        <img src="/Assets/images/airlines/QZ.png" alt="Air Asia" class="airline-image" />
                                        <span class="airline-name">Air Asia</span>
                                        <span class="airline-number">QZ 1234</span>
                                    </div>
                                    <div class="segment-departure">
                                        <h4 class="segment-time">20:30</h4>
                                        <h5 class="segment-date">10 October 2015</h5>
                                        <h4 class="segment-city">Jakarta (CGK)</h4>
                                        <h5 class="segment-airport">Soekarno Hatta intl</h5>
                                    </div>
                                    <div class="segment-duration">
                                        <span>Direct Flight</span>
                                        <span>1:55:00</span>
                                    </div>
                                    <div class="segment-arrival">
                                        <h4 class="segment-time">20:30</h4>
                                        <h5 class="segment-date">10 October 2015</h5>
                                        <h4 class="segment-city">Jakarta (CGK)</h4>
                                        <h5 class="segment-airport">Soekarno Hatta intl</h5>
                                    </div>
                                </div>
                                <div class="segment-footer">
                                    <a href="#" class="btn btn-yellow">Pilih Pergi</a>
                                    <label>Harga Perorang</label>
                                    <h4>Rp 123,456,789</h4>
                                    <small>Sudah termasuk pajak dan service charge travorama</small>
                                </div>
                            </div><!-- .flight-detail -->

                        </div>
                        <!-- .flight -->
                    }

                </section><!-- .flight-list-wrapper -->
                <!-- flight list loop end here -->    

            </section><!-- .trip-return-wrapper -->

        </section><!-- .flight-list-wrapper -->

            

    </div><!-- .container -->

</div><!-- .search-flight -->

   