@{
    Layout = "/Views/Shared/_Layout_howto.cshtml";
    ViewBag.Title = "Hotel Detail";
}
<!-- .checkout-page content start -->
<div class="static-page">

    <div class="container">
    
        

    </div><!-- .container -->

</div>
<!-- .checkout-page content end -->
