@{
    Layout = "/Views/Shared/_layout_invoice.cshtml";
}

<div class="page">
    <header class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <img src="/Assets/images/Travel Madezy-logo.jpg" alt="Travel Madezy" />
                    <address>
                        <p><b>pt. Travel Madezy internasional</b></p>
                        <p>equity tower 25th ﬂoor, scbd lot 9, jl. jendral sudirman kav. 52 - 53</p>
                        <p>p. +62 21 29035088  / +62 21 29035089 | f. +62 21 29035099 </p>
                    </address>
                </div>
            </div>
        </div>
    </header><!-- .page-header -->
    <section class="page-content">
    
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="invoice-detail">
                        <h3>INVOICE</h3>
                        <table>
                            <tr>
                                <td>Number</td>
                                <td>#1234567890</td>
                            </tr>
                            <tr>
                                <td>Date</td>
                                <td>Monday, 18 May 2015</td>
                            </tr>
                            <tr>
                                <td>Time</td>
                                <td>Pk 12.45</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="customer-detail">
                        <h3>Customer Detail</h3>
                        <table>
                            <tr>
                                <td>Name</td>
                                <td>Dwie Agustina</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>dwie.agustina@travelmadezy.com</td>
                            </tr>
                            <tr>
                                <td>Contact Number</td>
                                <td>0812 3456 7890</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container">
            <div class="payment-detail">
                <h3>Payment Detail</h3>
                <table>
                    <thead>
                        <tr>
                            <th class="number">P.O NUMBER</th>
                            <th class="payment-method">PEMBELIAN MELALUI</th>
                            <th class="payment-status">DETAIL TRANSAKSI</th>
                            <th class="terms">TERMS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="number">1234567890</td>
                            <td class="payment-method">Mandiri ClickPay</td>
                            <td class="payment-status">Lunas</td>
                            <td class="terms">Due on Receipt</td>
                        </tr>
                        <tr>
                            <td class="number">1234567890</td>
                            <td class="payment-method">Mandiri ClickPay</td>
                            <td class="payment-status">Lunas</td>
                            <td class="terms">Due on Receipt</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
        <div class="container">
            <div class="purchase-detail">
                <h3>Puchase Detail</h3>
                <table>
                    <thead>
                        <tr>
                            <th class="no">NO.</th>
                            <th class="item">JENIS ITEM</th>
                            <th class="description">DESKRIPSI</th>
                            <th class="qty">QTY</th>
                            <th class="price">HARGA/SATUAN</th>
                            <th class="total-price">TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="no">1.</td>
                            <td class="item">TIket Pesawat</td>
                            <td class="description">Lion Air (Dewasa) DPS-CGK 2 Juni 2015</td>
                            <td class="qty">1</td>
                            <td class="price">123.456.789</td>
                            <td class="total">123.456.789</td>
                        </tr>
                        <tr>
                            <td class="no">2.</td>
                            <td class="item">TIket Pesawat</td>
                            <td class="description">Lion Air (Dewasa) DPS-CGK 2 Juni 2015</td>
                            <td class="qty">1</td>
                            <td class="price">123.456.789</td>
                            <td class="total">123.456.789</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3"></td>
                            <td colspan="2"><strong>TOTAL</strong></td>
                            <td>123.456.789</td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td colspan="2"><strong>ADMINISTRATION FEE</strong></td>
                            <td>123.456.789</td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td colspan="2"><strong>PAYMENT AMOUNT</strong></td>
                            <td>123.456.789</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </section><!-- .page-content -->
</div><!-- .page -->
