@{
    ViewBag.Title = "Hotel Detail";
    Layout = "/Views/Shared/_Layout_OrderHistory.cshtml";
}

<div class="flight-history">
    <div class="container">
        <div class="row">
            
            <div class="col-sm-8">
                <div class="history-left">
                    <div class="order-detail">
                        


                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="history-right">
                    <div class="flight-detail">
                        <h4 class="text-center"><b>ORDER</b> DETAILS</h4>
                        


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
