@{
    ViewBag.Title = "Hotel Detail";
    Layout = "/Views/Shared/_Layout_OrderHistory.cshtml";
}

<div class="flight-history">
    <div class="container">
        <div class="row">
            
            <div class="col-sm-8">
                <div class="history-left">
                    <div class="order-detail">
                        
                        <h4><b>HISTORY</b> ORDER - DETAIL <span class="order-id"><b>ORDER ID:</b> 1234567890</span></h4>
                        
                        <div class="detail-wrapper">
                            <div class="row">
                                <div class="col-sm-4"><b>User ID</b></div>
                                <div class="col-sm-8">shintatamara@gmail.com</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"><b>Order ID</b></div>
                                <div class="col-sm-8">0123456789</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"><b>Order Date</b></div>
                                <div class="col-sm-8">18 August 2015</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"><b>Order Type</b></div>
                                <div class="col-sm-8">Flight</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"><b>Order Price</b></div>
                                <div class="col-sm-8">Rp 10,000,000</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"><b>Payment Method</b></div>
                                <div class="col-sm-8">Virtual Account</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"><b>Payment Status</b></div>
                                <div class="col-sm-8">Pending</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="history-right">
                    <div class="flight-detail">
                        <h4 class="text-center"><b>ORDER</b> DETAILS</h4>
                        <div class="flight-airline">
                            <img src="/Assets/images/airlines/GA.png" alt="Garuda Indonesia" />
                            <h4>GARUDA INDONESIA</h4>
                            <h5>GA1245</h5>
                        </div>
                        <div class="flight-detail">
                            <div class="row">
                                <div class="col-sm-4">Origin</div>
                                <div class="col-sm-8">Jakarta</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">Destination</div>
                                <div class="col-sm-8">Denpasar - Bali</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">Date</div>
                                <div class="col-sm-8">18 August 2015</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
