@using System.Globalization
@using Lunggo.ApCommon.Constant
@using Lunggo.Framework.Config
@model Lunggo.ApCommon.Flight.Model.FlightReservationForDisplay



<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<body style="background-color:#F4F4F4; color:#535353; font-family:arial, helvetica, sans-serif; font-size:12px;">


    <table style="margin-left:auto; margin-right:auto; margin-top:10px; margin-bottom:10px; width:700px; height:750px; max-width:700px; display:block; background:url(/Assets/images/email/e1_03.png);">
        <thead width="100%">
            <tr width="100%">
                <!--<th width="15%" style="padding-top:0px; right:0px"><img src="~/Assets/images/email/Clip.png" align="right" style="width:70px; height:90px;padding-right: 10px;" /></th>-->
                <th colspan="3" width="85%" style="padding-top:110px; padding-right:60px;">
                    <p style="text-align:right;">
                        <a href="http://travorama.com" style="text-decoration:none;">
                            <img src="/Assets/images/travorama-logo-color.png" alt="Travorama" />
                        </a>
                        <br />
                    </p>
                </th>
            </tr>
        </thead>
        <tbody width="100%">
            <tr width="100%">
                <td width="15%" style="padding-top:2em;"></td>
                <td colspan="2" width="75%" style="padding-top:2em; padding-right:60px;">

                    <!-- CONTENT  -->
                    <p style="font-size:16px;"><b>Hi <span style="color: #15b1e4;"> Miss Juliana </span></b></span></p>
                    Terima kasih telah menggunakan <b>Travorama</b> untuk reservasi Anda
                    <br /><b>Pemesanan Anda  berhasil.</b>
                    <br /><br />
                    <p style="margin-bottom:10px;">Berikut Rincian Penerbangan Anda : </p>
                    <table width="100%" cellpadding="0" cellspacing="0" style="border-top: 3px dotted #15b1e4; margin-bottom: 4%; ">
                        <thead>
                            <tr>
                                <th colspan="6" solid=solid style="color: #15b1e4; border-bottom: 3px dotted; ">
                                    <p style="color: #15b1e4; text-align: left"><b>Flight Details</b></p>
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <p style="color: #15b1e4;">(Roundtrip)</p>

                    <table width="100%">
                        <tr>
                            <td width="3%" style="padding-top: 15px; vertical-align: top;">
                                <img src="/Assets/images/email/flight-departure-icon.png" />
                            </td>
                            <td width="2%"></td>
                            <td style="text-align: center;" width="2%">
                                <img width="100%" height="auto" src="~/Assets/images/airlines/QG.png" />
                                <b>Berangkat</b>
                            </td>
                            <td rowspan="2" width="6%">
                                <p style="text-align: center;">:</p>
                            </td>
                            <td rowspan="2" width="40%">
                                <p style="color: #15b1e4;"><b>Air Asia - AK-234571</b></p>
                                <p>Jakarta(CGK) - Medan(KNO)</p>
                                <p>Kamis, 10 Mei 2016</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 10px;"></td>
                            <td style="height: 10px;"></td>
                        </tr>
                        <tr>
                            <td width="3%" style="padding-top: 15px; vertical-align: top;">
                                <img src="/Assets/images/email/flight-return-icon.png" />
                            </td>
                            <td width="2%"></td>
                            <td style=" text-align: center;" width="2%">
                                <img width="100%" height="auto" src="/Assets/images/airlines/AK.png" />
                                <b>Kembali</b>
                            </td>
                            <td rowspan="2" width="6%">
                                <p style="text-align: center;">:</p>
                            </td>
                            <td rowspan="2" width="40%">
                                <p style="color: #15b1e4;"><b>Air Asia    -        AK-234571</b></p>
                                <p>Jakarta(CGK) - Medan(KNO)</p>
                                <p>Kamis, 10 Mei 2016</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 10px;"></td>
                            <td style="height: 10px;"></td>
                        </tr>
                    </table>

                    <p style="margin-bottom:11px; font-size:11px;">
                        Karena terdapat keterlambatan pengiriman <i>e-ticket</i> Anda akan dikirimkan paling lambat <b>3(tiga) jam</b> setelah Anda menerima email ini.
                        Apabila Anda belum menerima <i>e-ticket</i> setelah jangka waktu tersebut, mohon hubungi kami melalui email ke <span style="color: #15b1e4;">cs@travorama.com</span>
                    </p>

                    <p style="margin-bottom:30px; font-size:11px;">Mohon maaf atas ketidaknyamanan dalam proses pengiriman e-ticket Anda.</p>
                </td>
                <td width="15%" style="padding-top:2em;"></td>
            </tr>
            <tr width="100%">
                <td width="15%"></td>
                <td colspan="2" width="70%">
                    <table width="100%">
                        <tr>
                            <td width="30%" style="padding-bottom: 1em;"><h4 style="color:#15b1e4;"><b>Further Information: </b></h4></td>
                            <td style="text-align:left;padding-bottom:1em;" width="20%"><img src="~/Assets/images/email/line.png" /> travorama</td>
                            <td colspan="2" style="text-align:left; padding-bottom:1em;"><img src="~/Assets/images/email/mail.png" /> cs@travorama</td>
                        </tr>
                        <tr>
                            <td width="30%"><h4 style="color:#15b1e4;"><b>Follow Us On: </b></h4></td>
                            <td style="text-align:left;" width="20%"><img src="~/Assets/images/email-facebook.jpg" style="width:30px;height:30px;" /> travorama</td>
                            <td style="text-align:left" width="20%"><img src="~/Assets/images/email-twitter.jpg" style="width:30px;height:30px;" /> travorama</td>
                            <td style="text-align:left"><img src="~/Assets/images/email-instagram.jpg" style="width:30px;height:30px;" /> travorama</td>
                        </tr>
                    </table>
                </td>
                <td width="15%"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>