
@{
    ViewBag.Title = "Hotel Detail";
}
<!-- .checkout-page content start -->
<div class="static-page">

    <header class="page-header">
        <div class="container">
            <div class="site-nav"> <a href="#">Beranda</a> / <strong>Hotel List</strong></div>
            <hr>
            <h1 class="page-title"><b>ABOUT</b> TRAVORAMA</h1>
        </div>
    </header>

    <div class="container">
        <section class="page-content">

            <p class="text-center">
                <img src="/assets/images/_sample/travorama-display-large.png" alt="Travorama - Enjoy your every moment">
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat voluptate perspiciatis expedita magnam facilis eius temporibus esse voluptatem similique repellendus itaque maiores modi, nesciunt, consequatur autem alias atque facere consequuntur!  Lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates atque ea consectetur laborum expedita reprehenderit. Nobis, deserunt explicabo vero laboriosam cumque tempore quod consequatur suscipit animi harum incidunt repudiandae consectetur? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quod hic nemo pariatur eius debitis ad non quis, laborum et assumenda sunt sapiente, magni optio sit ab ut unde vitae.</p>
            <div class="row">
                <div class="col-sm-6">
                    <h2><b>LIST</b> DISPLAY</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque esse iste eligendi recusandae rerum excepturi repudiandae nesciunt, nobis enim, assumenda ab consectetur culpa. Nisi deserunt nemo distinctio sit tempore totam.</p>
                    <ul>
                        <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quae, nihil sed, rerum magnam labore magni ipsam quia eligendi impedit dolor eveniet, quam suscipit ullam debitis optio. Non, consectetur nam.</p></li>
                        <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia alias, incidunt, vitae error iste modi repudiandae, beatae voluptatem adipisci earum unde ipsa quam blanditiis voluptatibus rem dicta laudantium qui veritatis!</p></li>
                        <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut eaque recusandae architecto repellat illo velit laboriosam, quae modi, culpa qui debitis aliquam temporibus accusamus perspiciatis doloribus voluptatum ipsa beatae mollitia?</p></li>
                        <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit assumenda repellendus, iste excepturi pariatur maxime aliquam impedit dolorum ratione deleniti vitae facilis exercitationem adipisci, ipsam quis at et dolorem accusantium.</p></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h2><b>IMAGE</b> DISPLAY</h2>
                    <img src="/assets/images/_sample/hotel-image.jpg" alt="Lorem ipsum">
                </div>
            </div>
            <h2><b>TABLE</b> DISPLAY</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th width="20%">Name</th>
                        <th width="60%">Description</th>
                        <th width="10%">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Rama Adhitia</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod iusto quae eveniet, minus inventore architecto quasi facilis sapiente asperiores fugiat, nam alias in voluptatem amet aliquam corrupti temporibus. Eligendi, laboriosam.</td>
                        <td><span class="label label-success">Berhasil</span></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Rama Adhitia</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi deleniti aut nam ab! Reiciendis, iure consequatur dicta atque ullam tempora veniam. Iure consectetur suscipit reprehenderit, nesciunt ullam repudiandae voluptate, saepe!</td>
                        <td><span class="label label-success">Berhasil</span></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Rama Adhitia</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi deleniti aut nam ab! Reiciendis, iure consequatur dicta atque ullam tempora veniam. Iure consectetur suscipit reprehenderit, nesciunt ullam repudiandae voluptate, saepe!</td>
                        <td><span class="label label-success">Berhasil</span></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Rama Adhitia</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi deleniti aut nam ab! Reiciendis, iure consequatur dicta atque ullam tempora veniam. Iure consectetur suscipit reprehenderit, nesciunt ullam repudiandae voluptate, saepe!</td>
                        <td><span class="label label-success">Berhasil</span></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Rama Adhitia</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi deleniti aut nam ab! Reiciendis, iure consequatur dicta atque ullam tempora veniam. Iure consectetur suscipit reprehenderit, nesciunt ullam repudiandae voluptate, saepe!</td>
                        <td><span class="label label-success">Berhasil</span></td>
                    </tr>
                </tbody>
            </table>


        </section>
    </div><!-- .container -->




</div>
<!-- .checkout-page content end -->
