@{
    Layout = "/Views/Shared/_Layout_account.cshtml";
    ViewBag.Title = "Hotel Detail";
}
<!-- page start -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Travorama</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/application.css">

</head>
<body>
    <!-- page start -->
    <div class="page user-page user-page-login">

        <section class="user-login">
            <header id="site-header" class="site-header">
                @{ Html.RenderPartial("_Mainmenu"); }
            </header>

            <div class="container">
                <section class="user-form">
                    <h1 class="text-center">LOG IN</h1>
                    <h3 class="text-center">WITH TRAVORAMA ACCOUNT</h3>
                    <form action="#" class="login-form form form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                <input type="text" class="form-control" placeholder="Your email address">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" placeholder="Your account password">
                                    </div>
                                    <div class="col-sm-3">
                                        <button class="btn btn-yellow">LOGIN</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-add">
                            <div class="col-sm-8 col-sm-offset-2">
                                <label for="login-remember"><input type="checkbox" id="login-remember"> <span>Remember Me</span></label>
                                <p class="pull-right"> <a href="">Forgot password</a> | <a href="#">Register</a></p>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="or text-center">
                                <span class="or-left"></span><span>OR</span><span class="or-right"></span>
                            </div>
                        </div>
                    </div>
                    <section class="facebook-login text-center">
                        <a href="#"><span class="fa fa-facebook"></span> Log In with Facebook</a>
                    </section>
                </section>
            </div>

        </section><!-- .user-login -->
        <!-- site content start -->
        <div id="site-content" class="site-content">

            <div class="container">
                <section class="benefit">
                    <h3 class="text-center"><b>BENEFIT OF</b> TRAVORAMA MEMBERSHIP</h3>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <article class="media">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img src="/assets/images/benefit/news.png" alt="Latest News">
                                    </div>
                                    <div class="col-sm-8">
                                        <h4>GET UPDATED</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque ad suscipit consectetur! Neque unde vitae mollitia repellat blanditiis error sit possimus dicta doloremque tempore quisquam voluptate similique, voluptatem suscipit, beatae!</p>
                                    </div>
                                </div>
                            </article>
                            <article class="media">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img src="/assets/images/benefit/discount.png" alt="Discount">
                                    </div>
                                    <div class="col-sm-8">
                                        <h4>GET DISCOUNT</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas veniam consequatur, porro beatae blanditiis, deleniti voluptatibus provident, non nostrum distinctio ipsa aut ipsam id quam perspiciatis nulla, autem reiciendis voluptates.</p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6">
                            <article class="media">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img src="/assets/images/benefit/check.png" alt="Check">
                                    </div>
                                    <div class="col-sm-8">
                                        <h4>ORDER CHECKING</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam non blanditiis dicta dolores numquam totam illo earum nemo culpa excepturi facere, aut, ad. Rerum voluptatibus eveniet veniam accusantium, velit tempora?</p>
                                    </div>
                                </div>
                            </article>
                            <article class="media">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img src="/assets/images/benefit/refund.png" alt="refund">
                                    </div>
                                    <div class="col-sm-8">
                                        <h4>REFUND SYSTEM</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque odio non, sed perspiciatis dolor officia dolorum ipsam consequatur, id molestiae facilis, a nulla iusto velit quae mollitia cupiditate veritatis totam.</p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </section>
            </div><!-- .container -->
