body {
  background:#FAFAFA;
}

@font-face {
    font-family: Hind;
    src: url(fonts/hind-regular.ttf);
}
@font-face {
    font-family: Hind-Light;
    src: url(fonts/hind-light.ttf);
}
@font-face {
    font-family: Hind-SemiBold;
    src: url(fonts/hind-semibold.ttf);
}
@font-face {
    font-family: "Ionicons";
    src: url(fonts/ionicons.ttf);
}
.no-padding {
  padding:0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.row {
  margin:0 !important;
  position: relative;
}
.primary-color {
  color:#00d3c5;
}
.clearfix {
  *zoom: 1;
  position: relative;
}
.clearfix:after, .clearfix:before {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.mynav {
  background: #fff;
  height:50px;
  padding:13px 15px 17px 15px;
  font-family: Hind;
  color:#454545;
  font-size: 16px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.08);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.08);
}
.mother-container {
  padding:15px;
}
.btn-potonganharga {
  height: 50px;
  border-radius: 5px;
  padding-top:8px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(176,176,176,0.2);
}
.selected-discount {
  border: 2px solid #00d3c5;
}
.btn-potonganharga p {
  color: #454545;
  font-family: Hind;
  font-size: 12px;
  font-weight: 600;
  margin-bottom:-5px;
}
.btn-potonganharga span {
  color: #00D3C5;
  font-family: Hind;
  font-size: 12px;
  font-weight: 600;
}
.sub-info {
  color: #656565 !important;
  font-family: Hind !important;
  font-size: 10px !important;
  font-weight: 300 !important;
}
.section-container {
  margin:25px 0;
}
.section-label {
  color: #454545;
  font-family: Hind;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}
.info-container {
  border-radius: 5px;
  background-color: #FFFFFF;
  padding:10px 15px;
  box-shadow: 0 2px 4px 0 rgba(176,176,176,0.2);
}
.info-biaya {
  color: #454545;
  font-family: Hind;
  font-size: 12px;
}
.info-potongan {
  color: #00d3c5;
  font-family: Hind;
  font-size: 12px;
}
.total-container {
  border-top: 1px solid #ececec;
  padding-top:5px;
}
.info-total {
  color: #454545;
  font-family: Hind;
  font-size: 12px;
  font-weight: 600;
}
.btn-method-transfer {
  height: 50px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(176,176,176,0.2);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 10px;
}
.btn-method-transfer-dropdown {
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(176,176,176,0.2);
  margin-bottom: 10px;
}
.btn-method-transfer-dropdown-child {
  height: 50px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.icon-pembayaran-primary {
  color:#00d3c5;
  font-size: 28px;
}
.icon-pembayaran-tertiary {
  color:#878787;
  font-size: 18px;
}
.img-pembayaran {
  width: 60px
}
