@{
    Layout = "/Views/Shared/_Layout_howto.cshtml";
    ViewBag.Title = "Hotel Detail";
}
<!-- .checkout-page content start -->
<div class="static-page">

    <div class="container">
    
        <div class="howto-guide">
            <img src="/Assets/images/howtoguide.jpg" alt="" />
            <div class="text">
                <div class="point-1">
                    <h3>CARI PENERBANGAN</h3>
                    <p>Mulai pencarian Anda di halaman muka Travorama.com dan masukkan data-data penerbangan yang dibutuhkan.</p>
                </div>
                <div class="point-2">
                    <h3>PILIH DAN PESAN PENERBANGAN</h3>
                    <p>Di halaman hasil pencarian, Anda bisa langsung memilih penerbangan yang diinginkan. Tekan tombol pesan untuk memesan penerbangan yang dimaksud.</p>
                </div>
                <div class="point-3">
                    <h3>ISI DATA KONTAK DAN PENUMPANG</h3>
                    <p>Setelah memilih penerbangan, kini Anda harus mengisi data pemesanan yang dapat dihubungi, serta data dari penumpang yang akan berangkat.</p>
                </div>
                <div class="point-4">
                    <h3>LAKUKAN PEMBAYARAN</h3>
                    <p>Pilih dan klik metode pembayaran yang sesuai dengan kebutuhan Anda.</p>
                </div>
                <div class="point-5">
                    <h3>E-TIKET DIKIRIMKAN</h3>
                    <p>Setelah pembayaran sukses diterima, kami akan mengirimkan SMS konfirmasi secara instan. E-tiket resmi Travorama.com akan kami kirimkan ke alamat email dalam waktu paling lama 60 menit.</p>
                </div>
            </div>
        </div>

    </div><!-- .container -->
    
    <footer class="page-footer">
        <div class="container">
            <div class="note-wrapper">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="row">
                            <div class="col-sm-2 text-center">
                                <img src="/Assets/images/exclamation-mark.png" alt="!" />
                            </div>
                            <div class="col-sm-10">
                                <h5><b>NOTE:</b></h5>
                                <p>Jika Anda mengalami kendala dalam pemesanan, atau jika e-tiket belum diterima dalam waktu lebih dari 60 menit, silakan hubungi kami 24 jam non-stop.</p>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="contact-button">
                    <a href="#" class="btn btn-yellow"><b>HUBUNGI CUSTOMER SERVICE</b></a>
                </div>
            </div>
        </div>
    </footer>

</div>
<!-- .checkout-page content end -->
