@{
    Layout = "/Views/shared/_layout_20150506.cshtml";
    ViewBag.Title = "Privacy Policy";
}
<!-- .checkout-page content start -->
<div class="static-page">

    <header class="page-header">
        <div class="container">
            <div class="site-nav"> <a href="#">Beranda</a> / <strong>Kebijakan Privasi</strong></div>
            <hr>
            <h1 class="page-title"><b>PRIVACY</b> POLICY</h1>
        </div>
    </header>

    <div class="container">
    
        <p>Travorama.com dimiliki dan dioperasikan oleh PT Travel Madezy Internasional ("Travorama" atau "Kami"). Kebijakan Privasi ini akan menjelaskan bagaimana kami mengumpulkan, menggunakan, memproses dan melindungi informasi pribadi yang teridentifikasi ("Data Pribadi") yang Anda ("Pengguna") dapat berikan sehubungan dengan layanan Travorama yang tersedia melalui situs web di www.travorama.com ("Situs"). Data Pribadi berarti data, apakah benar atau tidak, tentang seorang individu yang dapat diidentifikasi dari data tersebut, atau dari data dan informasi lainnya yang aksesnya dimiliki atau mungkin dimiliki organisasi. Referensi ke Situs dianggap mencakup turunan daripadanya, termasuk namun tidak harus terbatas pada situs web mobile dan aplikasi. Dengan mengunjungi atau menggunakan Situs, Anda sepakat dan menyetujui pengumpulan, penggunaan, penyingkapan dan pemrosesan Data Pribadi Anda sesuai dengan Kebijakan Privasi ini dan/atau Persyaratan Situs Web. Jika Anda tidak setuju dengan Kebijakan Privasi di bawah ini, silakan segera tinggalkan Situs.</p>
        <p>Dari waktu ke waktu, Travorama dapat merevisi Kebijakan Privasi ini untuk mencerminkan perubahan dalam hukum, pengumpulan dan praktik penggunaan Data Pribadi kami, fitur Situs kami, atau kemajuan dalam teknologi. Jika kami membuat revisi yang mengubah cara kami mengumpulkan atau menggunakan Data Pribadi Anda, perubahan tersebut akan dimuat di dalam Kebijakan Privasi ini dan tanggal berlaku akan dicatat pada permulaan Kebijakan Privasi ini. Oleh karena itu, Anda harus meninjau Kebijakan Privasi ini secara berkala sehingga Anda selalu mendapatkan informasi terkini akan kebijakan dan praktik kami saat ini. Travorama juga akan memasang dengan jelas perubahan materi tersebut sebelum mengimplementasikan perubahannya. Jika Anda tidak setuju dengan perubahan terhadap Kebijakan Privasi, harap jangan melanjutkan menggunakan Situs. Anda akan dianggap telah menyetujui setiap perubahan Kebijakan Privasi ketika Anda menggunakan Situs setelah tanggal berlaku perubahan tersebut.</p>
        
        <ol>
            <li>
                <h4>Informasi yang Kami Kumpulkan</h4>
                <p>Kami mengumpulkan Data Pribadi mengenai Anda yang diberikan kepada kami saat menggunakan Situs. Data Pribadi tersebut termasuk namun tidak terbatas pada nama Anda, identifikasi pengguna Travorama dan kredensial login, alamat, nomor telepon, alamat e-mail, nama hotel, lokasi hotel dan/atau lama tinggal. Kami dapat meminta Anda untuk memberikan informasi tentang preferensi perjalanan Anda, keanggotaan <em>frequent flyer</em> maskapai, dan masukan tentang pengalaman perjalanan melalui pemesanan Travorama Anda. Kami juga mengumpulkan informasi non-pribadi yang teridentifikasi (yang tidak dapat digunakan untuk mengidentifikasi Anda), termasuk namun tidak terbatas pada alamat protokol internet ("IP") Anda, data lokasi geografis, jenis sistem operasi, kewarganegaraan, preferensi pencarian, begitu pula data umum lainnya terkait penggunaan Internet.</p>
            </li>
            <li>
                <h4>Bagaimana Kami Menggunakan Informasi Anda</h4>
                <p>Kami dapat menggunakan Data Pribadi Anda dan informasi lainnya yang dikumpulkan melalui Situs, baik untuk tujuan berikut:</p>
                <ul>
                    <li><p>mendaftar, mengelola dan/atau mengurus penggunaan dan/atau akses Situs;</p></li>
                    <li><p>mengelola, mengoperasikan, mengurus dan memberikan Anda layanan yang ditawarkan di Situs;</p></li>
                    <li><p>menghubungi Anda mengenai hal-hal yang berkaitan dengan penggunaan Anda dan/atau akses Situs serta layanan di Situs, dan setiap pertanyaan dan/atau permintaan yang diajukan oleh Anda melalui Situs atau sebaliknya;</p></li>
                    <li><p>menyesuaikan pengalaman Anda saat menggunakan Situs;</p></li>
                    <li><p>meningkatkan kemudahan dan kepuasan pelanggan</p></li>
                    <li><p>mempublikasikan ulasan pelanggan tentang situs, Penerbangan, Hotel, Aktivitas Wisata, dalam format digital dan/atau cetak untuk akses publik;</p></li>
                    <li><p>menegakkan Syarat dan Ketentuan;</p></li>
                    <li><p>menyelesaikan sengketa atau pengaduan, mengumpulkan pembayaran atau biaya, atau memecahkan masalah; dan/atau</p></li>
                    <li><p>untuk tujuan lain yang diberitahukan kepada Anda pada saat pengumpulan.</p></li>
                </ul>
                <p>Kami juga dapat menggunakan Data Pribadi Anda dan informasi lainnya yang dikumpulkan untuk pemasaran Media Sosial menggunakan teknik grafik langsung dan terbuka, dan untuk tujuan pemasaran digital dan konvensional seperti mengirimkan Anda surat elektronik langsung dan memberitahukan tentang produk baru, penawaran khusus atau informasi lain yang menurut kami akan menarik bagi Anda. Harap dicatat bahwa Anda dapat memilih untuk keluar dari setiap materi pemasaran yang mungkin kami kirimkan kepada Anda kapan pun. Harap ikuti instruksi untuk berhenti berlangganan yang diatur di dalam materi pemasaran kami jika Anda memilih untuk keluar dari setiap materi pemasaran, dan kami akan menghormati keinginan Anda.</p>
            </li>
            <li>
                <h4>Berbagi dan Mentransfer Data Pribadi Anda</h4>
                <p>Data Pribadi Anda akan/dapat disingkapkan oleh Travorama kepada perusahaan afiliasi Travorama. Travorama (dan/atau perusahaan afiliasinya) juga dapat menyingkap Data Pribadi Anda kepada penyedia layanan pihak ketiga, pemasok atau agen untuk satu atau lebih tujuan di atas dari waktu ke waktu. Layanan pihak ketiga termasuk namun tidak terbatas pada hosting situs web, analisis data, pemasaran, memproses transaksi kartu kredit, dan penyediaan layanan.</p>
                <p>Dalam beberapa kasus, ketika Anda bertransaksi langsung dengan pihak ketiga untuk mendapatkan layanan, atau saat Anda menggunakan Situs untuk memesan kamar hotel atau mendapatkan produk atau layanan lain, kami dapat memberikan Data Pribadi Anda kepada hotel tersebut atau pihak ketiga lainnya.</p>
                <p>Tergantung pada lokasi Anda, Travorama, perusahaan afiliasi dan penyedia layanan pihak ketiga, pemasok atau agen juga dapat mentransfer Data Pribadi Anda ke luar negeri.</p>
                <p>Harap dicatat bahwa Travorama dapat menyingkap Data Pribadi Anda dalam situasi berikut:</p>
                <ul>
                    <li><p>untuk mengadakan atau membela terhadap klaim atau gugatan apa pun;</p></li>
                    <li><p>untuk mematuhi perintah pengadilan, proses peradilan, permintaan yang sah, surat perintah atau setara oleh pejabat penegak hukum atau pihak yang berwenang;</p></li>
                    <li><p>untuk menyelidiki penipuan atau kesalahan lainnya, atau seperti yang dipersyaratkan lainnya atau diperlukan dalam rangka mematuhi hukum yang berlaku, atau untuk melindungi kepentingan sah kami;</p></li>
                    <li><p>untuk pembeli sehubungan dengan penjualan, pekerjaan, atau pengalihan lain dari semua atau bagian dari bisnis atau perusahaan kami;</p></li>
                    <li><p>untuk menegakkan atau menerapkan syarat dan ketentuan yang berlaku bagi produk dan layanan kami;</p></li>
                    <li><p>untuk melindungi hak, properti atau keamanan Travorama, Pengguna Situs lainnya, atau orang lain manapun sesuai dengan kebijaksanaan Travorama; dan</p></li>
                    <li><p>untuk setiap situasi lain yang diperbolehkan menurut hukum.</p></li>
                </ul>
            </li>
            <li>
                <h4>Persetujuan</h4>
                <p>Sebagaimana dinyatakan di atas, dengan menjelajah dan menggunakan Situs, atau dengan memesan produk dari Situs, atau dengan mendaftarkan untuk atau menggunakan layanan di Situs, atau dengan mengeklik tombol "Konfirmasi" atau setara ketika Anda membuat akun baru pada situs, Anda:</p>
                <ul>
                    <li><p>menyetujui Travorama dan/atau perusahaan afiliasi Travorama mengumpulkan, menggunakan, menyingkap dan/atau mengolah data pribadi yang disebutkan di atas untuk tujuan seperti yang dijelaskan di atas; dan</p></li>
                    <li><p>menyetujui Travorama dan/atau perusahaan afiliasi Travorama mentransfer data pribadi Anda keluar dari Singapura ke lokasi perusahaan afiliasi Travorama lain yang perusahaan afiliasi Travorama lain tersebut ini berada, dan untuk penyedia layanan pihak ketiga Travorama (atau perusahaan afiliasi Travorama), pemasok atau agen untuk tujuan seperti dijelaskan di atas.</p></li>
                </ul>
            </li>
            <li>
                <h4>Penarikan Persetujuan</h4>
                <p>Anda dapat menarik persetujuan terhadap pengumpulan, penggunaan atau penyingkapan kami atas data pribadi Anda setiap saat, dengan memberikan kami pemberitahuan yang beralasan. Jika Anda ingin menarik persetujuan Anda, harap beritahu kami pada detail kontak kami yang tertera di bawah ini. Kami akan berhenti mengumpulkan, menggunakan atau menyingkap data pribadi Anda setelah pemberitahuan, kecuali diwajibkan oleh hukum atau jika kami memiliki bisnis yang sah atau tujuan hukum untuk mempertahankannya. Harap memperhatikan bahwa dengan menarik persetujuan Anda terhadap pengumpulan, penggunaan atau penyingkapan kami atas data pribadi Anda, kami mungkin tidak dapat terus memberikan layanan kami kepada Anda, dan Anda setuju bahwa kami tidak akan bertanggung jawab kepada Anda atas setiap kerugian atau kerusakan yang timbul dari atau terkait penghentian layanan tersebut.</p>
            </li>
            <li>
                <h4>Kebijakan Cookie</h4>
                <p><em>"Cookie"</em> adalah pengidentifikasi alfanumerik yang kami transfer ke <em>hard drive</em> atau kartu memori Anda melalui web <em>browser</em> ketika Anda mengunjungi situs kami. Hal ini memungkinkan sistem milik kami sendiri untuk mengenali Anda ketika Anda kembali mengunjungi situs kami dan meningkatkan layanan kami kepada Anda. Informasi ini digunakan untuk melacak penggunaan pengunjung Situs dan mengkompilasi laporan statistik mengenai aktivitas Situs. Untuk informasi lebih lanjut tentang <em>cookie</em>, kunjungi www.aboutcookies.org atau www.allaboutcookies.org. <em>Cookie</em> juga dapat digunakan untuk mengkompilasi informasi keseluruhan tentang area Situs kami yang paling sering dikunjungi. Informasi lalu lintas ini dapat digunakan untuk meningkatkan konten Situs kami dan membuat penggunaan Anda menjadi lebih mudah. Jika Anda ingin menolak <em>cookie</em> kami, Anda dapat mengkonfigurasi<em>browser</em> Anda untuk melakukannya. Namun, beberapa fitur Situs kami mungkin tidak berfungsi jika Anda menghapus <em>cookie</em> dari    <em>browser</em> Anda. Jika Anda tidak mengaktifkan <em>cookie</em>, Anda mungkin tidak dapat mengakses fungsi atau fitur penting pada Situs ini, dan Anda mungkin hanya dapat menggunakan Situs secara terbatas.</p>
            </li>
            <li>
                <h4>Akses ke atau Perbaikan Data Pribadi Anda</h4>
                <p>Ketika Anda memberikan kami Data Pribadi Anda, pastikan datanya akurat dan lengkap. Jika Anda percaya bahwa setiap informasi Anda yang kami miliki atau kendalikan mengandung kesalahan atau kelalaian, harap login ke akun Anda di Situs dan perbaiki informasinya. Selain itu, harap perbarui Data Pribadi Anda melalui akun Anda pada waktu yang tepat, jika terdapat perubahan.</p>
                <p>Jika Anda ingin memperbaiki kesalahan atau kelalaian pada Data Pribadi manapun di bawah kepemilikan atau kendali kami yang tidak dapat dikoreksi melalui Situs kami, atau untuk mengakses Data Pribadi Anda di bawah kepemilikan atau kendali kami, atau sebagaimana diatur oleh hukum yang berlaku, harap kirimkan permintaan Anda ke detail kontak kami yang tertera di bawah ini. Kami mungkin membebani Anda biaya yang wajar untuk akses ke Data Pribadi, untuk tujuan pemulihan biaya tambahan karena menanggapi permintaan akses tersebut.</p>
                <p>Untuk melindungi privasi dan keamanan Anda, kami akan memverifikasi identitas Anda sebelum memberikan akses atau melakukan perubahan pada Data Pribadi Anda. Kami akan berusaha menjawab permintaan untuk akses atau perbaikan Data Pribadi Anda sesegera mungkin, kecuali berlaku pengecualian.</p>
            </li>
            <li>
                <h4>Melindungi Data Pribadi Anda</h4>
                <p>Kami melindungi Data Pribadi di bawah kepemilikan atau kendali kami dengan mempertahankan pengaturan keamanan yang wajar, termasuk prosedur fisik, teknis dan organisasi, untuk mencegah akses, pengumpulan, penggunaan, penyingkapan, penyalinan, perubahan, penghapusan yang tidak sah atau risiko yang sama.</p>
            </li>
            <li>
                <h4>Tautan ke Situs Web Lain</h4>
                <p>Situs kami dapat berisi tautan ke situs-situs lain yang menarik. Namun, setelah Anda menggunakan tautan tersebut untuk meninggalkan situs kami, Anda harus mengetahui bahwa kami tidak memiliki kendali atas situs web lain tersebut. Harap diketahui bahwa kami tidak bertanggung jawab atas praktik privasi situs web lain tersebut dan menyarankan Anda untuk membaca pernyataan privasi dari masing-masing situs web yang Anda kunjungi yang mengumpulkan informasi pribadi.</p>
            </li>
            <li>
                <h4>Pendaftaran dan Keanggotaan</h4>
                <p>Situs ini memungkinkan Anda untuk membuat satu akun pengguna dengan mendaftar keanggotaan, berdasarkan data yang Anda berikan. Dengan memberikan data, mendaftar, dan membuat akun, Anda menjamin bahwa:</p>
                <ol>
                    <li><p>Anda setidaknya berusia 18 tahun;</p></li>
                    <li><p>Informasi tentang Anda adalah benar dan akurat, terkini dan lengkap sebagaimana diperlukan dalam formulir pendaftaran di Situs ("Data Pendaftaran"); dan</p></li>
                    <li><p>1.	Anda akan memperbarui Data Pendaftaran ini agar selalu benar, akurat dan lengkap.</p></li>
                </ol>
                <p>Selanjutnya, Anda setuju bahwa Travorama tidak bertanggung jawab atas kehilangan atau kerusakan yang mungkin diderita oleh kami, Anda atau pihak ketiga manapun, yang kerugian atau kerusakan tersebut disebabkan oleh ketidakakuratan atau tidak lengkapnya informasi yang diberikan oleh Anda. Setelah mendaftar, Anda akan menerima kata sandi dan identifikasi pengguna ("Nama pengguna"). Anda bertanggung jawab untuk menjaga kerahasiaan kata sandi dan Nama pengguna, dan Anda bertanggung jawab penuh atas semua kegiatan terkait Nama pengguna atau kata sandi. Anda hanya dapat menggunakan satu Nama pengguna dan kata sandi pada satu waktu dan tidak diperbolehkan untuk menggunakan lebih dari satu Nama pengguna. Kata sandi Anda semata-mata hanya untuk Anda gunakan sendiri, dan Anda setuju untuk benar-benar merahasiakan kata sandi Anda. Anda setuju untuk segera memberitahukan Travorama tentang penggunaan kata sandi atau akun yang tidak sah atau pelanggaran keamanan lainnya. Untuk keamanan yang lebih bagus, harap pastikan bahwa Anda&nbsp;<em>logout</em>&nbsp;atau keluar dari akun setelah setiap kali penggunaan Situs ini. Anda setuju bahwa Travorama tidak akan bertanggung jawab atas setiap kerugian atau kerusakan yang diderita oleh kami, Anda atau pihak ketiga yang timbul akibat kegagalan Anda untuk mematuhi ketentuan ini.</p>
            </li>
            <li>
                <h4>Pengalihan Bisnis</h4>
                <p>Dalam hal terjadi perubahan kendali atau perubahan kepemilikan atas semua atau sebagian dari bisnis Travorama atau perusahaan, termasuk situs, maka Data Pribadi Pengguna mungkin/akan menjadi bagian dari pengalihan aset tersebut.</p>
            </li>
            <li>
                <h4>Persetujuan Perubahan Kebijakan Privasi</h4>
                <p>Dengan menggunakan Situs atau layanan yang kami sediakan, Anda setuju dengan pengumpulan, penggunaan, penyingkapan dan pengolahan Data Pribadi Anda sebagaimana diatur dalam Kebijakan Privasi ini. Lebih lanjut, jika Anda menggunakan layanan kami, kami berhak mengumpulkan, menggunakan, menyingkap dan memproses Data Pribadi Anda sesuai dengan Kebijakan Privasi ini. Dari waktu ke waktu, Travorama dapat mengubah Kebijakan Privasi ini. Sebagaimana dijelaskan pada awal Kebijakan Privasi ini, kami akan menampilkan perubahan pada Situs ini untuk informasi Anda.</p>
            </li>
            <li>
                <h4>Urutan Prioritas</h4>
                <p>Jika Anda telah menyetujui Persyaratan Situs Web kami, dalam hal terdapat perbedaan antara Persyaratan Situs Web tersebut dan Kebijakan Privasi ini, maka Persyaratan Situs Web yang akan berlaku.</p>
            </li>


        </ol>

    </div><!-- .container -->

</div>
<!-- .checkout-page content end -->
