@model Lunggo.CustomerWeb.Models.ForgotPasswordViewModel
@{
    Layout = "/Views/Shared/_Layout20150929.cshtml";
    ViewBag.BodyClass = "page-password page-password-forgot";
    ViewBag.Title = "Forgot Password";
    var loginProviders = Context.GetOwinContext().Authentication.GetAuthenticationTypes();
    var facebookProvider = loginProviders.First();
}

@section AdditionalJS{
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}

@section PageJS{
    <script>
        var langCode = 'en';
    </script>
    <!-- angular controller -->
    <script src="/Assets/travorama20/js/accountController.js"></script>
}

<section class="form-section page-loading" ng-controller="passwordController" ng-app="travorama" ng-class="{'page-loaded' : pageLoaded}">

    <div class="container">

        <h1 class="text-center section-title stripe">INDENTIFIKASI <span>AKUN</span></h1>

        <p>@Html.I18NString("CW00183")</p>

        <div class="form-wrapper">
            <section class="form-content" ng-hide="form.submitted">
                <form class="form form-horizontal" name="passwordForm" novalidate ng-submit="form.submit()">
                    <div class="form-group" ng-class="{'has-error': passwordForm.email.$invalid && passwordForm.email.$touched }">
                        <div class="col-xs-2 text-right">
                            <label class="control-label">@Html.I18NString("CW00184") :</label>
                        </div>
                        <div class="col-xs-7">
                            <input type="email" name="Email" ng-model="form.email" value="" class="form-control" placeholder="ex: your_name&#64;emaildomain.com" ng-disabled="form.submitting" required />
                        </div>
                        <div class="col-xs-3">
                            <input type="submit" value="{{form.submitting? '@Html.I18NString("CW00186")' : '@Html.I18NString("CW00185")'}}" class="btn btn-yellow form-control" ng-disabled="passwordForm.$invalid || form.submitting" />
                        </div>
                    </div>
                </form>
            </section><!-- .form-content -->
            <section class="form-content email-sent" ng-show="form.submitted">
                <p><i>Pesan verifikasi telah dikirimkan ke alamat email Anda. Klik link yang telah dikirimkan ke email Anda untuk melanjutkan proses reset password Anda.</i></p>
            </section><!-- .form-content -->
        </div>

    </div>

</section><!-- .form-section -->
        