@{
    Layout = "/Views/Shared/mobile/_LayoutMobile.cshtml";
    ViewBag.Title = "Daftar dan Dapatkan Promo Tiket Pesawat dan Hotel";
    ViewBag.BodyClass = "page page-account page-register";
    ViewBag.AngularController = "RegisterController";
    ViewBag.Page = "Register";
}
@section AdditionalJS {
    <!-- additional Angular JS-->
}
@section PageJS{
    <script>
        var LoginMessage = '@ViewBag.Message';
    </script>
    <!-- angular controller -->
    <script src="/Assets/mobile/js/AccountController.js"></script>
}
<div class="page-loading" ng-class="{'page-loaded' : pageLoaded}">
    <header class="page__header">
        <h1 class="text-center section-title stripe">Daftar<span></span></h1>
    </header>

    <!-- .page__body -->
    <div class="page__body page-loading" ng-class="{'page-loaded' : pageLoaded}">
        <div class="page-overlay" ng-show="User.Sent">
            <div class="overlay-content">
                <div class="overlay-container" ng-show="!User.Registered">
                    <header class="overlay-header">
                        <span>Terima Kasih</span>
                    </header>
                    <div class="overlay-body clearfix">
                        <div class="col-xs-4"><img src="/Assets/images/smile-image.png" alt="Registered"></div>
                        <div class="col-xs-8">
                            <span>
                                Terima kasih sudah mendaftar di Travorama. Silakan cek e-mail Anda untuk verifikasi alamat e-mail Anda.
                            </span>
                        </div>
                    </div>
                    <div class="overlay-footer text-center">
                        <a class="btn btn-yellow" ng-click="closeOverlay(); User.Email = '';">TUTUP</a>
                    </div>
                </div>
                
                <div class="overlay-container" ng-show="User.Registered && !User.EmailConfirmed && !User.Resubmitted">
                    <header class="overlay-header">
                        <span>E-mail Belum Terkonfirmasi</span>
                    </header>
                    <div class="overlay-body clearfix">
                        <div class="col-xs-4"><img src="/Assets/images/sad-image.png" alt="Registered"></div>
                        <div class="col-xs-8">
                            <span>
                                E-mail Anda belum terkonfirmasi. Silakan cek e-mail Anda untuk konfirmasi atau
                                <a ng-click="User.Reconfirm()">klik untuk kirim pesan konfirmasi</a>.
                            </span>
                        </div>
                    </div>
                    <div class="overlay-footer text-center">
                        <a class="btn btn-yellow" ng-click="closeOverlay(); User.Email = ''; User.Name = ''; ">TUTUP</a>
                    </div>
                </div>
                
                <div class="overlay-container" ng-show="User.Resubmitted">
                    <header class="overlay-header">
                        <span>E-mail Konfirmasi Berhasil Dikirim</span>
                    </header>
                    <div class="overlay-body clearfix">
                        <div class="col-xs-4"><img src="/Assets/images/smile-image.png" alt="Not Confirmed"></div>
                        <div class="col-xs-8">
                            <span>
                                Pesan untuk konfirmasi ulang telah terkirim ke e-mail Anda.
                            </span>
                        </div>
                    </div>
                    <div class="overlay-footer text-center">
                        <a class="btn btn-yellow" ng-click="closeOverlay(); User.Email = ''; User.Name = ''; User.ReconfirmSent()">TUTUP</a>
                    </div>
                </div>
                
                <div class="overlay-container" ng-show="User.Registered && User.EmailConfirmed">
                    <header class="overlay-header">
                        <span>E-mail Konfirmasi Berhasil Dikirim</span>
                    </header>
                    <div class="overlay-body clearfix">
                        <div class="col-xs-4"><img src="/Assets/images/smile-image.png" alt="Already Registered"></div>
                        <div class="col-xs-8">
                            <span>
                                Anda telah terdaftar di Travorama. Silakan masuk ke halaman akun Anda.
                            </span>
                        </div>
                    </div>
                    <div class="overlay-footer text-center">
                        <a class="btn btn-yellow" ng-click="closeOverlay(); User.Email = ''; User.Name = ''; User.ReconfirmSent()">TUTUP</a>
                    </div>
                </div>

                <div class="overlay-container" ng-show="User.Error">
                    <header class="overlay-header">
                        <span>Mohon Maaf</span>
                    </header>
                    <div class="overlay-body clearfix">
                        <div class="col-xs-4"><img src="/Assets/images/sad-image.png" alt="Error"></div>
                        <div class="col-xs-8">
                            <span>
                                Mohon maaf, permintaan Anda tidak dapat diproses.
                            </span>
                        </div>
                    </div>
                    <div class="overlay-footer text-center">
                        <a class="btn btn-yellow" ng-click="closeOverlay(); User.Email = ''; User.Name = ''; User.ReconfirmSent()">TUTUP</a>
                    </div>
                </div>
                
                <div class="overlay-container" ng-show="User.Invalid">
                    <header class="overlay-header">
                        <span>Format Alamat E-mail Tidak Tepat</span>
                    </header>
                    <div class="overlay-body clearfix">
                        <div class="col-xs-4"><img src="/Assets/images/sad-image.png" alt="Error"></div>
                        <div class="col-xs-8">
                            <span>
                                Format alamat e-mail yang Anda masukkan tidak tepat. Silakan masukkan alamat e-mail kembali
                                dengan format name@domain.com
                            </span>
                        </div>
                    </div>
                    <div class="overlay-footer text-center">
                        <a class="btn btn-yellow" href="@Url.Action("Login", "Account")">MASUK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>

        <div class="form-wrapper form-wrapper--register" >

            <header class=" form-wrapper__header">
                <h1 class="form-wrapper__title">Daftar</h1>
                <p>&amp; Dapatkan Banyak Keuntungan!</p>
            </header><!-- .form-wrapper__header -->

            <div class="form-wrapper__body">
                <form class="form register-form form-horizontal" name="RegisterForm" novalidate ng-submit="User.Send()">
                    <div class="form-group">
                        <label class="control-label">Alamat E-mail Anda :</label>
                        <input type="email" value="" name="Email" class="form-control" ng-model="User.Email" required />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-yellow btn-block" ng-click="User.Send()" ng-disabled="RegisterForm.$invalid || User.Sending">DAFTAR</button>
                    </div>
                    <div class="form-group">
                        <p><a href="@Url.Action("Login", "Account")">Kirim Ulang Email Aktivasi</a></p>
                        <p><b>Sudah Memiliki Akun?</b> <a href="@Url.Action("Login", "Account")">Masuk Sekarang</a></p>
                    </div>
                </form>
            </div><!-- .form-wrapper__body -->

        </div><!-- .form-wrapper -->
    </div><!-- .container -->
</div>
