@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.Title = "Register";
    ViewBag.BodyClass = "page page-account page-register";
    ViewBag.AngularController = "RegisterController";
}
@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}
@section PageJS{
    <script>
        var LoginMessage = '@ViewBag.Message';
    </script>
    <!-- angular controller -->
    <script src="/Assets/mobile/js/AccountController.js"></script>
}

<div class="error-message bg-warning" ng-show="User.Sent">
    <div ng-show="!User.Registered">
        <h3>Terima Kasih</h3>
        <p>Terima kasih sudah mendaftar di Travorama<br/>Silahkan cek email Anda untuk verifikasi alamat email Anda.</p>
    </div>
    <div ng-show="User.Registered && !User.EmailConfirmed">
        <h3>Email belum terkonfirmasi</h3>
        <p>Silahkan cek email Anda untuk mengkonfirmasi alamat email Anda.</p>
    </div>
    <div ng-show="User.Registered && User.EmailConfirmed">
        <h3>Telah Terdaftar</h3>
        <p>Anda telah terdaftar di Travorama<br/>Silahkan login untuk masuk ke halaman akun Anda.</p>
    </div>
</div>

<div class="container">

    <div class="form-wrapper form-wrapper--register">

        <header class="form-wrapper__header">
            <h1 class="form-wrapper__title">Sign Up</h1>
            <p>&amp; Dapatkan Banyak Keuntungan!</p>
        </header><!-- .form-wrapper__header -->

        <div class="form-wrapper__body">
            <form class="form register-form form-horizontal" name="RegisterForm" novalidate ng-submit="User.Send()">
                <div class="form-group">
                    <label class="control-label">Alamat Email Anda :</label>
                    <input type="email" value="" name="Email" class="form-control" ng-model="User.Email" required />
                </div>
                <div class="form-group">
                    <button class="btn btn-yellow btn-block" ng-click="User.Send()" ng-disabled="RegisterForm.$invalid || User.Sending">REGISTER</button>
                </div>
                <div class="form-group">
                    <p>Sudah memiliki akun ? <a href="#">Login Sekarang</a></p>
                </div>
            </form>
        </div><!-- .form-wrapper__body -->

    </div><!-- .form-wrapper -->
</div><!-- .container -->