@model Lunggo.CustomerWeb.Models.ResetPasswordViewModel
@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.Title = "Reset Password";
    ViewBag.BodyClass = "page page-account page-resetpassword";
    ViewBag.AngularController = "ResetpasswordController";
}
@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}
@section PageJS{
    <!-- angular controller -->
    <script src="/Assets/mobile/js/AccountController.js"></script>
}

<div class="page-loaded">
    <header class="page__header">
        <h1 class="text-center section-title stripe">Reset <span>Password</span></h1>
    </header>

    <div class="page__body">

        <div class="container">
            <p>Masukan alamat email Anda dan kami akan mengirimkan email instruksi untuk mengganti password Anda.</p>
        </div>
        <div class="container">
            <form name="ForgotPasswordForm" novalidate>
                <div class="form-group">
                    <label class="control-label">Alamat Email Anda :</label>
                    <input class="form-control" type="email" value="" ng-model="EmailForm.Email" required />
                </div>
                <div class="form-group">
                    <button class="btn btn-block btn-yellow" ng-click="EmailForm.SendForm()" ng-disabled="ForgotPasswordForm.$invalid || EmailForm.Sending">
                        <span ng-hide="EmailForm.Sending">KIRIM</span>
                        <span ng-show="EmailForm.Sending">MENGIRIM</span>
                    </button>
                </div>
            </form>
        </div>

    </div><!-- .page__body -->
</div>
