@model Lunggo.ApCommon.Activity.Model.ActivityReservationForDisplay

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Anda mendapatkan pesanan baru dengan nama aktivitas "@Model.ActivityDetail.Name" pada tanggal @Model.DateTime.Date
</body>
</html>