@model Lunggo.ApCommon.Activity.Model.ActivityReservationForDisplay

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Aktivitas dengan nama "@Model.ActivityDetail.Name" pada tanggal @Model.DateTime.Date telah di tolak oleh operator
</body>
</html>