@using System.Globalization
@using Lunggo.ApCommon.Constant
@using Lunggo.Framework.Environment.Variables
@model Lunggo.ApCommon.Query.ContactUs
@{ var env = EnvVariables.Get("general", "environment"); }
<html>
    <head>
        <title>
            One Person Contacted Us Today
        </title>
    </head>
    <body>
        <p>@(env != "production" ? "THIS IS A TEST EMAIL. PLEASE IGNORE THIS DREADED EMAIL. SORRY FOR THE INCONVENIENCE." : "")</p>
        <p>Name: @Model.Name</p>
        <p>E-mail address : @Model.Email</p>
        <p>Message: @Model.Message</p>
    </body>
</html>