@using System.Globalization
@using Lunggo.ApCommon.Constant
@using Lunggo.Framework.Config
@{ var env = EnvVariables.Get("general", "environment"); }
<html>
<head>
    <title>
        Flight Issue Timeout in Travorama
    </title>
</head>
<body>
    <p>@(env != "production" ? "THIS IS A TEST EMAIL. PLEASE IGNORE THIS DREADED EMAIL. SORRY FOR THE INCONVENIENCE." : "")</p>
    <p>This reservation takes too much time to issue (> 5 minutes). Manual checking advised.</p>
    <p>Reservation Number : @Model</p>
</body>

</html>