@using System.Globalization
@using Lunggo.ApCommon.Constant
@using Lunggo.Framework.Environment.Variables
@model Lunggo.ApCommon.Flight.Model.FlightDepositWarning
@{ var env = EnvVariables.Get("general", "environment"); }
<html>
<head>
    <title>
        Flight Deposit Warning
    </title>
</head>
<body>
    <p>@(env != "production" ? "THIS IS A TEST EMAIL. PLEASE IGNORE THIS DREADED EMAIL. SORRY FOR THE INCONVENIENCE." : "")</p>
    <p>Flight Agent: @Model.Suppplier</p>
    <p>Booking Price: @Model.BookingPrice.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</p>
    <p><b>Current Deposit : @Model.CurrentDeposit.ToString("##,###", CultureInfo.CreateSpecificCulture("id-ID"))</b></p>
    
</body>
</html>