@model Microsoft.AspNet.Identity.IdentityMessage

<html>
    <body>
        
        Dear @Model.Destination,<br/><br/>

        Klik link berikut untuk urusan forgotten password Anda.<br/>
        <a href="@Model.Body">Pijit Saya</a>

    </body>
</html>