@using System.Globalization
@model Lunggo.ApCommon.Subscriber.SubscriberEmailModel

<html>
    <body>
        
        Dear @Model.Email,<br/><br/>

        Klik link berikut untuk verifikasi email Anda.<br/>
        <a href="@Model.Url">Pijit Saya</a>

    </body>
</html>