@model Lunggo.ApCommon.Subscriber.SubscriberEmailModel

<html>
    <body>
        
        Dear @Model.Email,<br/><br/>

        Terima kasih telah bergabung di newsletter Travorama.<br/>

    </body>
</html>