@using System.Globalization
@using Lunggo.ApCommon.Constant
@using Lunggo.Framework.Config
@model Lunggo.ApCommon.Query.Refund
@{ var env = ConfigManager.GetInstance().GetConfigValue("general", "environment"); }
<html>
    <head>
        <title>
            One Person Request Refund
        </title>
    </head>
    <body>
        <p>@(env != "production" ? "THIS IS A TEST EMAIL. PLEASE IGNORE THIS DREADED EMAIL. SORRY FOR THE INCONVENIENCE." : "")</p>
        <p>Name: @Model.Name</p>
        <p>E-mail address : @Model.Email</p>
        <p>RsvNo: @Model.RsvNo</p>
    </body>
</html>