@using System.Globalization
@model Lunggo.ApCommon.Voucher.VoucherEmailModel

<html>
    <body>
        
        Dear @Model.Email,<br/><br/>

        Klik link berikut untuk verifikasi email Anda.<br/>
        @Model.VoucherCode

    </body>
</html>