@using Lunggo.Flight.Model
@using Microsoft.Ajax.Utilities
@model Lunggo.BackendWeb.Model.FlightReservationIntegrated

@{
    ViewBag.Title = "Flight Reservation Detail";
}

@if (Model != null)
{
    <h3>
        <i class="fa fa-angle-right"></i> Flight Reservation <small> > @Model.Reservation.RsvNo</small>
    </h3>
    var trip = Model.Trip.FirstOrDefault();
    var tripId = trip.TripId.GetValueOrDefault();
    var tripDetailList = Model.TripDetail[tripId];
    var splitSequence = Model.TripDetail[tripId].Count;
    if (trip.TripTypeCd == "RET")
    {
        splitSequence = tripDetailList.First(x => x.DepartureTimeAirportCd == trip.DestinationAirportCd).SequenceNo.GetValueOrDefault() - 1;
    }

    <div class="row">
        <div class="col-md-4">
            @{ Html.RenderPartial("RenderReservation", Model.Reservation); }
        </div>
        <div class="col-md-4">
            @{ Html.RenderPartial("RenderTripDetail", Model.TripDetail[tripId].GetRange(0, splitSequence), new ViewDataDictionary { { "Type", "DepartureTime Flight" } }); }
        </div>
        <div class="col-md-4">
            @{ Html.RenderPartial("RenderTripDetail", Model.TripDetail[tripId].GetRange(splitSequence, Model.TripDetail[tripId].Count - splitSequence), new ViewDataDictionary { { "Type", "Return Flight" } }); }
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            @{ Html.RenderPartial("RenderTrip", trip); }
        </div>
        <div class="col-md-9">
            @{ Html.RenderPartial("RenderPassenger", Model.Passenger[tripId]); }
        </div>
    </div>
}
else
{
    <h3><i class="fa fa-angle-right"></i> Flight Reservation <h1> > NOT FOUND</h1></h3>
}