@using Microsoft.Ajax.Utilities
@{
    var int1 = int.Parse(ViewData["int"].ToString());
    var int2 = int1 + 1;
}

<div class="row">
    <input type="hidden" name="TripDetail[@int1].Value.Index" value="@int2"/>
    <div class="col-md-2">
        <input class="form-control text-box single-line" id="TripDetail_@int1 __Value_@int2 __CarrierCd" name="TripDetail[@int1].Value[@int2].CarrierCd" type="text" /><br />
        <span class="field-validation-valid text-danger" data-valmsg-for="TripDetail[@int1].Value[@int2].CarrierCd" data-valmsg-replace="true"></span>
    </div>
    <div class="col-md-2">
        <input class="form-control text-box single-line" id="TripDetail_@int1 __Value_@int2 __FlightNumber" name="TripDetail[@int1].Value[@int2].FlightNumber" type="text" /><br />
        <span class="field-validation-valid text-danger" data-valmsg-for="TripDetail[@int1].Value[@int2].FlightNumber" data-valmsg-replace="true"></span>
    </div>
    <div class="col-md-2">
        <input class="form-control text-box single-line" id="TripDetail_@int1 __Value_@int2 __DepartureAirportCd" name="TripDetail[@int1].Value[@int2].DepartureAirportCd" type="text" /><br />
        <span class="field-validation-valid text-danger" data-valmsg-for="TripDetail[@int1].Value[@int2].DepartureAirportCd" data-valmsg-replace="true"></span>
    </div>
    <div class="col-md-2">
        <input class="form-control text-box single-line" data-val="true" data-val-date="The field DepartureTime must be a date." id="TripDetail_@int1 __Value_@int2 __DepartureTime" name="TripDetail[@int1].Value[@int2].DepartureTime" type="datetime" /><br />
        <span class="field-validation-valid text-danger" data-valmsg-for="TripDetail[@int1].Value[@int2].DepartureTime" data-valmsg-replace="true"></span>
    </div>
    <div class="col-md-2">
        <input class="form-control text-box single-line" id="TripDetail_@int1 __Value_@int2 __ArrivalAirportCd" name="TripDetail[@int1].Value[@int2].ArrivalAirportCd" type="text" /><br />
        <span class="field-validation-valid text-danger" data-valmsg-for="TripDetail[@int1].Value[@int2].ArrivalAirportCd" data-valmsg-replace="true"></span>
    </div>
    <div class="col-md-2">
        <input class="form-control text-box single-line" data-val="true" data-val-date="The field ArrivalTime must be a date." id="TripDetail_@int1 __Value_@int2 __ArrivalTime" name="TripDetail[@int1].Value[@int2].ArrivalTime" type="datetime" /><br />
        <span class="field-validation-valid text-danger" data-valmsg-for="TripDetail[@int1].Value[@int2].ArrivalTime" data-valmsg-replace="true"></span>
    </div>
</div>
