  <!DOCTYPE html>
<html lang="en">



  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <!-- Bootstrap core CSS -->
    <link href="../../Assets/bootstrap/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../Assets/css/register-referral.css" rel="stylesheet">

  </head>

  <body>


    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4"></div>
        <div class="col-12 col-md-4" style="text-align: center; margin-top: 30px"><img src="../../Assets/images/logo-baru2.png"></div>
        <div class="col-12 col-md-4"></div>
      </div>

      <div class="row">
        <div style="height: 1px; background:#eaeaea; width:90%; margin: 0 auto; margin-top: 20px; margin-bottom: 20px;"></div>
      </div>

      <div class="row">
        <div class="col-12 col-md-4"></div>
        <div class="col-12 col-md-4">
          <div class="judul-referral" style="font-size:26px; margin-top:10px; padding-bottom:10px;">Yuk Gabung dan Dapatkan Credits Sebanyak banyaknya</div>
          <div class="desc-landing-page">
            Freak human out make funny noise mow mow mow mow mow mow success now attack human attack dog, run away and pretend to be victim, mewl for food at 4am spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce. Meowing non stop for food. Cough furball into food bowl then scratch owner for a new one 
          </div>
        </div>
        <div class="col-12 col-md-4"></div>
      </div>

      <div class="row" style="margin:0 !important">
        <div class="col-12 col-md-4"></div>
        <div class="col-12 col-md-4 container-form">
          <div class="judul-landing-page" style="font-size:26px; margin-top:0; padding-bottom:20px; text-align:center;">Register</div>
          <form action="http://www.google.com">
            <div class="form-group">
              <input type="text" class="form-control form-input" placeholder="Nama Lengkap">
            </div>
            <div class="form-group">
              <input type="email" class="form-control form-input" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="number" class="form-control form-input" placeholder="No Handphone">
            </div>
            <div class="form-group">
              <input type="password" class="form-control form-input" placeholder="Password">
            </div>
            <div class="form-group">
              <input type="text" class="form-control form-input" placeholder="Kode Referral">
            </div>
            <div style="margin-top: 40px">
              <button type="submit" class="btn btn-gradient" >Submit</button>
            </div>
          </form>
        </div> <!-- /.container form -->
        <div class="col-12 col-md-4"></div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>

</html>
