@using Lunggo.ApCommon.Product.Constant

<!-- sticky footer -->
<footer class="site-footer sticky-menu row">
    <div class="col-xs-3">
        <a href="/">
            <div>Home</div>
        </a>
    </div>
</footer><!-- .site-footer -->