<footer class="site-footer">
    
    <div class="site-footer-menu hidden">
        <nav class="footer-menu">
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">offer</a></li>
                <li><a href="#">Promotions</a></li>
                <li><a href="#">Subscribe</a></li>
            </ul>
        </nav>
    </div><!-- .site-footer-menu -->
    
    <div class="site-footer-social">
        
        <nav>
            <a href="https://www.facebook.com/travorama" class="facebook">
                <span class="fa-stack fa-lg fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <a href="https://twitter.com/travoramaid" class="twitter">
                <span class="fa-stack fa-lg fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <a href="https://www.instagram.com/travorama/" class="instagram">
                <span class="fa-stack fa-lg fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </nav>

        <small class="text-center">Copyright &copy; 2015. Travel Madezy. All Rights Reserved.</small>

    </div><!-- .site-footer-socail -->

</footer><!-- .site-footer -->