<header class="site-header">
    
    <div class="header-display">
        <a href="#" class="site-menu"></a>
        <img src="/Assets/images/travorama-logo-color.png" alt="Travorama" class="site-logo" />
        <a href="#" class="user-menu"></a>
    </div>

</header><!-- .site-header -->