<footer class="site-footer">
    
    <div class="main-tab clearfix">
        <div class="row konten-download-apps">
            <div class="title-download-apps"><h3 class=" bold-txt-new">Booking Tiket Mudah & Cepat</h3> <span>Rasakan kemudahan booking tiket di HP Anda</span><br /><span>dengan mendownload GRATIS Travorama Mobile App</span></div>
            <div class="col-xs-6 align-right"><a href="https://play.google.com/store/apps/details?id=com.travorama&amp;hl=en"><img src="/Assets/mobile/images/play-store.png" alt="Partner" /></a></div>
            <div class="col-xs-6 align-left"><a href="https://appsto.re/id/N8Dgeb.i"><img src="/Assets/mobile/images/app-store.png" alt="Partner" /></a></div>
        </div>
    </div>
    <div class="main-tab clearfix">
        <div class="row contact-mobile">
            <div class="list-sosmed">
            <ul>
                    <li><a href="https://www.facebook.com/travorama" target="_blank"><img src="/Assets/mobile/images/fb-mobile.png" alt="Facebook" /></a></li>
                    <li><a href="https://twitter.com/travoramaid" target="_blank"><img src="/Assets/mobile/images/twitter-mobile.png" alt="Twitter" /></a></li>
                    <li><a href="https://www.instagram.com/travorama/" target="_blank"><img src="/Assets/mobile/images/instagram-mobile.png" alt="Instagram" /></a></li>
                    <li><a href="#"><img src="/Assets/mobile/images/gplus-mobile.png" alt="Google Plus" /></a></li>
            </ul>
            </div>
            <div class="no-contact clearfix">
                <div class="col-xs-5 logo-cs"><img src="/Assets/mobile/images/logo-cs.png" alt="Partner" /></div>
                <div class="col-xs-7 info-customer">Customer Service <br /> <h3>0855 - 7467 - 9737</h3><span>Cs@travorama.com</span><br /><span>Senin - Jumat: 09.00-18.00</span></div>
            </div>
        </div>
    </div><!-- .site-footer-social -->
    
    <!-- sticky banner -->
    <div class="sticky-banner">
        <div style="position: relative;">
            <a href="http://onelink.to/travoramaapp" target="_blank">
                <div style="position: absolute; width: 85%; height: 100%"></div>
            </a>
            <img src="/Assets/mobile/images/sticky-banner.jpg" alt="Download Apps" />
        </div>
    </div>

</footer><!-- .site-footer -->