@using Lunggo.ApCommon.Product.Constant

<!-- sticky footer -->
<footer class="site-footer sticky-menu row" style="display: flex">
    <div class="col-xs-3">
        <a href="/" style="height: 100%">
            <div>Home</div>
            <img src="home">
        </a>
    </div>
</footer><!-- .site-footer -->