<footer class="site-footer">
    
    <div class="site-footer-menu hidden">
        <nav class="footer-menu">
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Offer</a></li>
                <li><a href="#">Promotions</a></li>
                <li><a href="#">Subscribe</a></li>
            </ul>
        </nav>
    </div><!-- .site-footer-menu -->
    
    <div class="site-footer-social">
        
        <nav>
            <a href="https://www.facebook.com/travorama" class="facebook" target="_blank">
                <span class="fa-stack fa-lg fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <a href="https://twitter.com/travoramaid" class="twitter" target="_blank">
                <span class="fa-stack fa-lg fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <a href="https://www.instagram.com/travorama/" class="instagram" target="_blank">
                <span class="fa-stack fa-lg fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </nav>

        <div class="footer-txt text-center">Copyright &copy; @@ @DateTime.Now.Year Travel Madezy Internasional. All Rights Reserved.</div>

    </div><!-- .site-footer-social -->

</footer><!-- .site-footer -->