@model Lunggo.CustomerWeb.Models.HotelLocation

@{
    ViewBag.BodyClass = "page-hotel page-search";
    ViewBag.Title = "Pencarian Hotel";
}


@section AdditionalCSS{
    <link href="/Assets/css/jquery-ui.min.css" rel="stylesheet" />
}

<div class="hotel-summary">
    <div class="summary-left">
        <div style="text-transform:capitalize"><b>@ToTitleCase.ConvertToTitleCase(Model.Location)</b>
        </div>
        @if (!Model.IsHotelSearch)
        {
            <div class="semibold-txt">{{hotelSearch.destinationNightCount}} Malam ({{hotelSearch.destinationCheckinDate | date : 'EEEE, dd MMM yyyy'}} - {{hotelSearch.destinationCheckoutDate | date : 'EEEE, dd MMM yyyy'}})</div>
        }
        
    </div>
    <a ng-click="PageConfig.SetOverlay('hotel-form')" class="summary-right"><span>GANTI</span></a>
</div>

<!-- .overlay - change flight -->
<div class="overlay overlay--theme--blue overlay--hotel-form" ng-class="{'active' : (PageConfig.ActiveOverlay == 'hotel-form')}">
    <header class="overlay__header">
        <h3 class="overlay__title">
            <b>GANTI HOTEL</b>
            <span class="overlay__close" ng-click="PageConfig.SetOverlay()">X</span>
        </h3>
    </header><!-- .overlay__header -->
    <section class="overlay__content">
        <div class="form-wrapper">
            @Html.Partial("/Views/Shared/Mobile/_SearchHotelForm.cshtml")
        </div>
    </section>
</div>