@using Lunggo.ApCommon.Identity.User
@using Lunggo.ApCommon.Payment.Constant
@using Lunggo.Framework.Context
@using Lunggo.Framework.Extension
@model Lunggo.CustomerWeb.Models.FlightCheckoutData

@{

    var adultCount = 0;
    var childCount = 0;
    var passengerCount = 0;
    var needBirthDate = false;
    var needPassport = false;
    var needNationality = false;
    var token = "";
    var savedPassengers = Model.SavedPassengers;

    try
    {
        adultCount = Model.Itinerary.AdultCount;
        childCount = Model.Itinerary.ChildCount;
        var infantCount = Model.Itinerary.InfantCount;
        passengerCount = adultCount + childCount + infantCount;
        needBirthDate = Model.Itinerary.RequireBirthDate;
        needPassport = Model.Itinerary.RequirePassport;
        needNationality = Model.Itinerary.RequireNationality;
        token = Model.Token;
    }
    catch
    {
        ViewBag.Message = "BookExpired";
    }
}

@{
    Layout = "/Views/Shared/mobile/_Layout.cshtml";
    ViewBag.Title = "Checkout Page";
    ViewBag.BodyClass = "page page-checkout page-flight-checkout";
    ViewBag.AngularController = "CheckoutController";
}
@section AdditionalCSS {
    <link href="/Assets/css/jquery-ui.min.css" rel="stylesheet" />
}
@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}
@section PageJS{
    <script>
        var langCode = '@OnlineContext.GetActiveLanguageCode()';
    </script>
    <!-- angular controller -->
    <script src="/Assets/mobile/js/checkoutController.js"></script>
}

@switch ((string)ViewBag.Message)
{
default:
<!-- page start -->
        
    <div class="page-loaded">
    
        <header class="page__header step__wrapper">
            <div class="step step-1 active"><span>01</span></div>
            <div class="step step-2"><span>02</span></div>
            <div class="step step-3"><span>03</span></div>
        </header><!-- .page-header -->
    
        <div class="page__body">
            <div class="page__step-1">
                <div class="form-wrapper">
                    
                    <h3><b>DATA</b> KONTAK</h3>
                    
                    <div class="form-group">
                        <label class="control-label">Title : </label>
                        <select class="form-control">
                            <option value="0">Tuan</option>
                            <option value="1">Nyonya</option>
                            <option value="2">Nona</option>
                        </select>
                    </div>
                    
                    <div class="form-group important">
                        <label class="control-label">Nama Depan (dan Nama Tengah) : </label>
                        <input type="text" value="" class="form-control" />
                    </div>
                    
                    <div class="form-group important">
                        <label class="control-label">Nama Belakang / Nama Keluarga: </label>
                        <input type="text" value="" class="form-control" />
                    </div>
                    
                    <div class="form-group important">
                        <label class="control-label">Nomor Telepon : </label>
                        <input type="text" value="" class="form-control" />
                    </div>
                    
                    <div class="form-group important">
                        <label class="control-label">Masukan alamat email Anda : </label>
                        <input type="text" value="" class="form-control" />
                    </div>
                    
                    <div class="form-group">
                        <a class="btn btn-yellow form-control">LANJUT</a>
                    </div>

                </div>
            </div><!-- .page-step-1 -->
            <div class="page-step-2">
                <h3><b>DATA</b> PENUMPANG</h3>
            
                <div class="passenger">
                    <header class="passenger__header">
                        <h4 class="passenger__title">Penumpang Dewasa</h4>
                    </header><!-- .passenger__header -->
                    <div class="passenger__body">
                        <div class="form-group">
                            <label class="control-label">Title : </label>
                            <select class="form-control">
                                <option value="0">Tuan</option>
                                <option value="1">Nyonya</option>
                                <option value="2">Nona</option>
                            </select>
                        </div>

                        <div class="form-group important">
                            <label class="control-label">Nama Depan (dan Nama Tengah) : </label>
                            <input type="text" value="" class="form-control" />
                        </div>

                        <div class="form-group important">
                            <label class="control-label">Nama Belakang / Nama Keluarga: </label>
                            <input type="text" value="" class="form-control" />
                        </div>
                    
                        <div class="form-group important">
                            <label class="control-label">Tanggal Lahir: </label>
                            <div class="row">
                                <div class="col-xs-4">
                                    <select class="form-control">
                                        <option value="1">1</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control">
                                        <option value="1">Jan</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control">
                                        <option value="1">2000</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <label class="control-label">No. Passport</label>
                            <input type="text" value="" class="form-control" />
                        </div>
                    
                        <div class="form-group important">
                            <label class="control-label">Tanggal Kadaluarsa Passport: </label>
                            <div class="row">
                                <div class="col-xs-4">
                                    <select class="form-control">
                                        <option value="1">1</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control">
                                        <option value="1">Jan</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control">
                                        <option value="1">2000</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <label class="control-label">Nationality:</label>
                            <select class="form-control">
                                <option value="62">Indonesia</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <a class="btn btn-yellow form-control">LANJUT</a>
                        </div>
                    </div><!-- .passenger__body -->
                </div>

            </div><!-- .page-step-2 -->
        
            <div class="page-step-3">
            
                <div class="summary summary--payment">
                    <h3 class="summary__title"><b>METODE</b> PEMBAYARAN</h3>
                    <div class="summary__body">
                    
                        <form>
                            
                            <label>
                                <header>
                                    <div class="input-wrapper">
                                        <input type="radio" name="paymentMethod" value="BankTransfer" checked />
                                    </div>
                                    <h5>Bank Transfer</h5>
                                </header>
                                <section>
                                    <img src="/Assets/images/payment-atm.jpg" alt="Bank Transfer" />
                                </section>
                            </label>
                            <label>
                                <header>
                                    <div class="input-wrapper">
                                        <input type="radio" name="paymentMethod" value="Credit Card"/>
                                    </div>
                                    <h5>Kartu Kredit</h5>
                                </header>
                                <section>
                                    <img src="/Assets/images/payment-cc.jpg" alt="Credit Card" />
                                </section>
                            </label>
                            <label>
                                <header>
                                    <div class="input-wrapper">
                                        <input type="radio" name="paymentMethod" value="VirtualAccount"/>
                                    </div>
                                    <h5>Bank Transfer</h5>
                                </header>
                                <section>
                                    <img src="/Assets/images/payment-atm.jpg" alt="Virtual Account" />
                                </section>
                            </label>
                            <label>
                                <header>
                                    <div class="input-wrapper">
                                        <input type="radio" name="paymentMethod" value="MandiriClickpay"/>
                                    </div>
                                    <h5>Bank Transfer</h5>
                                </header>
                                <section>
                                    <img src="/Assets/images/payment-mandiri.jpg" alt="Bank Transfer" />
                                </section>
                            </label>

                        </form>    

                    </div><!-- .summary__body -->
                </div><!-- .summary--payment -->

                <div class="summary summary--price">
                    <h3 class="summary__title"><b>RINCIAN</b> HARGA</h3>
                    <div class="summary__body">
                        <dl>
                            <dt>Total Tiket</dt>
                            <dd><sup>Rp</sup> 123.456.789</dd>
                        </dl>
                        <dl>
                            <dt>Potongan Harga</dt>
                            <dd><sup>Rp</sup>- 123.456.789</dd>
                        </dl>
                        <dl class="total-price">
                            <dt>Total</dt>
                            <dd><sup>Rp</sup> 123.456.789</dd>
                        </dl>
                    </div><!-- .summary__body -->
                </div><!-- .summar--price -->
                <div class="summary summary--voucher">
                    <div class="container">
                        <h4>Punya kupon Travorama</h4>
                        <form class="form form-horizontal">
                            <div class="form-group">
                                <input type="text" value="" class="form-control" />
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6 col-xs-offset-6">
                                    <a href="#" class="btn btn-grey btn-block">RESET</a>
                                    <input class="btn btn-yellow btn-block" type="submit" value="REDEEM" />
                                </div>
                            </div>
                        </form>
                    </div>

                </div><!-- .summary--voucher-->
                <div class="summary summary--passenger">
                    <h3 class="summary__title"><b>DAFTAR</b> PENUMPANG</h3>
                    <div class="summary__body">
                    
                        <ol>
                            <li>
                                <h4>Nyonya Shinta Tamara</h4>
                                <dl>
                                    <dt>Jenis Tiket</dt>
                                    <dd>Dewasa</dd>
                                </dl>
                                <dl>
                                    <dt>Tanggal Lahir</dt>
                                    <dd>03 / 04 / 90</dd>
                                </dl>
                            </li>
                            <li>
                                <h4>Nyonya Shinta Tamara</h4>
                                <dl>
                                    <dt>Jenis Tiket</dt>
                                    <dd>Dewasa</dd>
                                </dl>
                                <dl>
                                    <dt>Tanggal Lahir</dt>
                                    <dd>03 / 04 / 90</dd>
                                </dl>
                            </li>
                            <li>
                                <h4>Nyonya Shinta Tamara</h4>
                                <dl>
                                    <dt>Jenis Tiket</dt>
                                    <dd>Dewasa</dd>
                                </dl>
                                <dl>
                                    <dt>Tanggal Lahir</dt>
                                    <dd>03 / 04 / 90</dd>
                                </dl>
                            </li>
                        </ol>

                    </div><!-- .summary__body -->
                </div><!-- .summary--passenger -->

                <a class="btn btn-yellow form-control">LANJUT</a>


            </div><!-- .page-step-3 -->

        </div><!-- .page-body -->

    </div><!-- .page-loaded -->
        
<!-- page end -->
break;
case "BookExpired":
@:[Ini ceritanya page booking expired]
break;
case "NoLongerAvailable":
@:[Ini ceritanya page kalo fare-nya uda ga available lageh]
break;
case "InvalidInputData":
@:[Ini ceritanya page kalo input datanya ga bener]
break;
}
