@model Lunggo.ApCommon.Flight.Model.FlightItineraryFare

@{
    ViewBag.Title = "FlightCheckout";
}

@{
    var adultCount = Model.AdultCount;
    var childCount = Model.ChildCount;
    var infantCount = Model.InfantCount;
    var needPassport = Model.RequirePassport;
}

<h2>FlightCheckout</h2>

