@using Lunggo.ApCommon.Flight.Constant
@model Lunggo.CustomerWeb.Models.FlightCheckoutData

@{
    Layout = "/Views/Shared/_layout_mobile.cshtml";
    ViewBag.Title = "Home Page";
}

@{
    var titleList = new List<Object>
        {
            new {Value = Title.Mister, Text = "Mr"},
            new {Value = Title.Mistress, Text = "Mrs"},
            new {Value = Title.Miss, Text = "Ms"}
        };

    var childTitleList = new List<Object>
        {
            new {Value = Title.Mister, Text = "Mr"},
            new {Value = Title.Miss, Text = "Ms"}
        };

    var adultCount = 0;
    var childCount = 0;
    var infantCount = 0;
    var needPassport = false;
    var hashKey = "";

    try
    {
        adultCount = Model.Itinerary.AdultCount;
        childCount = Model.Itinerary.ChildCount;
        infantCount = Model.Itinerary.InfantCount;
        needPassport = Model.Itinerary.RequirePassport;
        hashKey = Model.HashKey;
    }
    catch
    {

    }
}

<section class="page group-checkout group-flight-checkout passenger-detail-page">
    <section class="checkout-progress">
        <div class="checkout-step">
            <div>Customer Detail</div>
            <div>Passenger Detail</div>
            <div>Review</div>
            <div>Payment</div>
            <div>Ticket</div>
        </div>
        <div class="checkout-bar">
            <div class="checkout-current-progress step-2"></div>
            <div class="bar-1 active"></div>
            <div class="bar-2 active"></div>
            <div class="bar-3"></div>
            <div class="bar-4"></div>
            <div class="bar-5"></div>
        </div>
    </section><!-- .checkout-progress -->
    <section class="passenger-detail">
        <h1 class="section-title">PASSENGER DETAIL</h1>
        <div class="section-content container">
            @using (Html.BeginForm("Checkout3", "Flight", FormMethod.Post, new { @class = "form form-horizontal" }))
            {
                for (var i = 1; i <= adultCount; i++)
                {
                    <div class="passenger">
                        <h2 class="passenger-detail-title">Adult Passenger ( > 12 years old)</h2>
                        <div class="form-group">
                            <label class="control-label col-xs-12">Title</label>
                            <div class="col-xs-12">
                                <select class="form-control" name="AdultPassengerData[@(i-1)].Title">
                                    <option value="Title.Mister">Mr</option>
                                    <option value="Title.Mistress">Mrs</option>
                                    <option value="Title.Miss">Ms</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12">First Name</label>
                            <div class="col-xs-12">
                                <input type="text" name="AdultPassengerData[@(i-1)].FirstName" value="" placeholder="Full Name" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12">Last Name</label>
                            <div class="col-xs-12">
                                <input type="text" name="AdultPassengerData[@(i-1)].LastName" value="" placeholder="Full Name" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12">Birthday</label>
                            <div class="col-xs-3">
                                <select class="form-control" name="AdultPassengerData[@(i-1)].BirthDate.Date">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="9">8</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="19">18</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="29">28</option>
                                    <option value="30">30</option>
                                </select>
                            </div>
                            <div class="col-xs-5">
                                <select class="form-control" name="AdultPassengerData[@(i-1)].BirthDate.Month">
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>
                            <div class="col-xs-4">
                                <select class="form-control" name="AdultPassengerData[@(i-1)].BirthDate.Year">
                                    <option value="2000">2000</option>
                                </select>
                            </div>
                        </div>
                        @if (needPassport)
                        {
                            <div class="form-group">
                                <label class="control-label col-xs-12">Passport Number</label>
                                <div class="col-xs-12">
                                    <input type="text" name="AdultPassengerData[@(i-1)].PassportNumber" value="" class="form-control" placeholder="Passport Number" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12">Birthday</label>
                                <div class="col-xs-3">
                                    <select class="form-control" name="AdultPassengerData[@(i-1)].PassportExpiryDate.Date">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="9">8</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="19">18</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="29">28</option>
                                        <option value="30">30</option>
                                    </select>
                                </div>
                                <div class="col-xs-5">
                                    <select class="form-control" name="AdultPassengerData[@(i-1)].PassportExpiryDate.Month">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control" name="AdultPassengerData[@(i-1)].PassportExpiryDate.Year">
                                        <option value="2000">2000</option>
                                    </select>
                                </div>
                            </div>
                        }
                        <input type="hidden" class="form-control" name="AdultPassengerData[@(i-1)].Country" placeholder="" value="ID">
                    </div>
                    <!-- .passenger -->
                }
                if (childCount > 0)
                {
                    for (var i = 1; i <= childCount; i++)
                    {
                        <div class="passenger">
                            <h2 class="passenger-detail-title">Child Passenger ( 2-12 years old)</h2>
                            <div class="form-group">
                                <label class="control-label col-xs-12">Title</label>
                                <div class="col-xs-12">
                                    <select class="form-control" name="ChildPassengerData[@(i - 1)].Title">
                                        <option value="Title.Mister">Mr</option>
                                        <option value="Title.Miss">Ms</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12">First Name</label>
                                <div class="col-xs-12">
                                    <input type="text" name="ChildPassengerData[@(i - 1)].FirstName" value="" placeholder="Full Name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12">Last Name</label>
                                <div class="col-xs-12">
                                    <input type="text" name="ChildPassengerData[@(i - 1)].LastName" value="" placeholder="Full Name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12">Birthday</label>
                                <div class="col-xs-3">
                                    <select class="form-control" name="ChildPassengerData[@(i - 1)].BirthDate.Date">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="9">8</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="19">18</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="29">28</option>
                                        <option value="30">30</option>
                                    </select>
                                </div>
                                <div class="col-xs-5">
                                    <select class="form-control" name="ChildPassengerData[@(i - 1)].BirthDate.Month">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control" name="ChildPassengerData[@(i - 1)].BirthDate.Year">
                                        <option value="2000">2000</option>
                                    </select>
                                </div>
                            </div>
                            @if (needPassport)
                            {
                                <div class="form-group">
                                    <label class="control-label col-xs-12">Passport Number</label>
                                    <div class="col-xs-12">
                                        <input type="text" name="ChildPassengerData[@(i - 1)].PassportNumber" value="" class="form-control" placeholder="Passport Number" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12">Birthday</label>
                                    <div class="col-xs-3">
                                        <select class="form-control" name="ChildPassengerData[@(i - 1)].PassportExpiryDate.Date">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="9">8</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="19">18</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="29">28</option>
                                            <option value="30">30</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-5">
                                        <select class="form-control" name="ChildPassengerData[@(i - 1)].PassportExpiryDate.Month">
                                            <option value="1">January</option>
                                            <option value="2">February</option>
                                            <option value="3">March</option>
                                            <option value="4">April</option>
                                            <option value="5">May</option>
                                            <option value="6">June</option>
                                            <option value="7">July</option>
                                            <option value="8">August</option>
                                            <option value="9">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4">
                                        <select class="form-control" name="ChildPassengerData[@(i - 1)].PassportExpiryDate.Year">
                                            <option value="2000">2000</option>
                                        </select>
                                    </div>
                                </div>
                            }
                            <input type="hidden" class="form-control" name="ChildPassengerData[@(i - 1)].Country" placeholder="" value="ID">
                        </div>
                        <!-- .passenger -->
                    }
                }
                if (infantCount > 0)
                {
                    for (var i = 1; i <= infantCount; i++)
                    {
                        <div class="passenger">
                            <h2 class="passenger-detail-title">Infant Passenger ( < 2 years old)</h2>
                            <div class="form-group">
                                <label class="control-label col-xs-12">Title</label>
                                <div class="col-xs-12">
                                    <select class="form-control" name="InfantPassengerData[@(i - 1)].Title">
                                        <option value="Title.Mister">Mr</option>
                                        <option value="Title.Miss">Ms</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12">First Name</label>
                                <div class="col-xs-12">
                                    <input type="text" name="InfantPassengerData[@(i - 1)].FirstName" value="" placeholder="Full Name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12">Last Name</label>
                                <div class="col-xs-12">
                                    <input type="text" name="InfantPassengerData[@(i - 1)].LastName" value="" placeholder="Full Name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12">Birthday</label>
                                <div class="col-xs-3">
                                    <select class="form-control" name="InfantPassengerData[@(i - 1)].BirthDate.Date">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="9">8</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="19">18</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="29">28</option>
                                        <option value="30">30</option>
                                    </select>
                                </div>
                                <div class="col-xs-5">
                                    <select class="form-control" name="InfantPassengerData[@(i - 1)].BirthDate.Month">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control" name="InfantPassengerData[@(i - 1)].BirthDate.Year">
                                        <option value="2000">2000</option>
                                    </select>
                                </div>
                            </div>
                            @if (needPassport)
                            {
                                <div class="form-group">
                                    <label class="control-label col-xs-12">Passport Number</label>
                                    <div class="col-xs-12">
                                        <input type="text" name="InfantPassengerData[@(i - 1)].PassportNumber" value="" class="form-control" placeholder="Passport Number" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12">Birthday</label>
                                    <div class="col-xs-3">
                                        <select class="form-control" name="InfantPassengerData[@(i - 1)].PassportExpiryDate.Date">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="9">8</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="19">18</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="29">28</option>
                                            <option value="30">30</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-5">
                                        <select class="form-control" name="InfantPassengerData[@(i - 1)].PassportExpiryDate.Month">
                                            <option value="1">January</option>
                                            <option value="2">February</option>
                                            <option value="3">March</option>
                                            <option value="4">April</option>
                                            <option value="5">May</option>
                                            <option value="6">June</option>
                                            <option value="7">July</option>
                                            <option value="8">August</option>
                                            <option value="9">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4">
                                        <select class="form-control" name="InfantPassengerData[@(i - 1)].PassportExpiryDate.Year">
                                            <option value="2000">2000</option>
                                        </select>
                                    </div>
                                </div>
                            }
                            <input type="hidden" class="form-control" name="InfantPassengerData[@(i - 1)].Country" placeholder="" value="ID">
                        </div>
                        <!-- .passenger -->
                    }
                }

                <!-- continue -->
                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="submit" class="btn btn-yellow btn-block-lg" value="CONTINUE" />
                    </div>
                </div>
            }
        </div><!-- .section-content -->
    </section><!-- .customer-detail -->
</section><!-- .checkout-page -->
