@using Lunggo.ApCommon.Product.Constant
@model Lunggo.ApCommon.Flight.Model.FlightReservationForDisplay

@{
    ViewBag.Title = "Cetak E-tiket";
    Layout = "~/Views/Shared/travorama20/_Layout20150929.cshtml";
    ViewBag.Angular = "EticketController";
}

@section AdditionalCSS {

    <link rel="stylesheet" href="/Assets/travorama20/css/travorama20.css">
}

@section AdditionalJS {
    <!-- additional Angular JS-->
    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-animate.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
}

@section PageJS {
    <script src="/Assets/travorama20/js/EticketController.js"></script>
}

<div ng-app="Travorama" ng-controller="EticketController">
    @if (Model.RsvDisplayStatus == RsvDisplayStatus.Paid)
    {
        <section class="section-eticket" ng-init ="refresh()">

            <h1 class="text-center section-title stripe">CETAK <span>E-TIKET</span></h1>

            <div class="container text-center">
                <p>
                    Mohon menunggu. E-tiket Anda sedang dalam proses dan akan kami kirimkan secara otomatis ke e-mail Anda.<br />
                    Terima kasih untuk pembelian Anda.
                </p>
                <p>Jika terjadi masalah, silakan kirim e-mail Anda ke <a href="mailto:cs@travorama.com">cs@travorama.com</a> dan kami akan berusaha untuk membantu Anda.</p>
            </div>

        </section>
        <!-- .section-eticket -->
    }
    else if (Model.RsvDisplayStatus == RsvDisplayStatus.FailedPaid || Model.RsvDisplayStatus == RsvDisplayStatus.FailedUnpaid)
    {
        <div class="bookfailed-popup">
            <div class="overlay-content">
                <section style="padding-top:60px; padding-left:225px;">
                    <div><img src="/Assets/images/travorama-logo-color.png" height="22px" width="80px"></div>
                    <div style="padding-top:25px;"><span style="color: #15b1e4; font-size:26px"><b>Mohon maaf...</b></span></div>
                    <div style="padding-top:5px;"><span style="font-size:13px">E-tiket Anda gagal diterbitkan.</span></div>
                    <div><span style="font-size:13px">Silakan membuat pemesanan baru dengan metode pembayaran berbeda.</span></div>
                </section>
                <div align="right" style="padding-right:30px;padding-top:30px;">
                    <a class="btn popup-btn-yellow book-failed" href="{{returnUrl}}"><b>CARI PENERBANGAN</b></a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="bookfailed-popup">
            <div class="overlay-content">
                <section style="padding-top:60px; padding-left:225px;">
                    <div><img src="/Assets/images/travorama-logo-color.png" height="22px" width="80px"></div>
                    <div style="padding-top:25px;"><span style="color: #15b1e4; font-size:22px"><b>Mohon maaf...</b></span></div>
                    <div style="padding-top:5px;"><span style="font-size:13px">Pembayaran untuk no. reservasi @Model.RsvNo belum dilakukan.</span></div>
                    <div><span style="font-size:13px">Silakan melakukan pembayaran untuk reservasi tersebut.</span></div>
                </section>
                <div align="right" style="padding-right:30px;padding-top:30px;">
                    <a class="btn popup-btn-yellow book-failed" href="{{returnUrl}}"><b>KEMBALI</b></a>
                </div>
            </div>
        </div>
    }

</div>

