@{
    ViewBag.Title = "eTicket";
    Layout = "~/Views/Shared/travorama20/_Layout20150929.cshtml";
}

<section class="section-eticket">
    
    <h1 class="text-center section-title stripe"><span>ETICKET</span></h1>
    
    <div class="container text-center">
        <p>eTicket Anda sedang di proses. Silahkan kunjungi halaman ini beberapa saat lagi.</p>
    </div>

</section><!-- .section-eticket -->
