@{
    ViewBag.Title = "eTicket";
    Layout = "~/Views/Shared/travorama20/_Layout20150929.cshtml";
}

@section PageJS {
    <script>
        $(document).ready(function() {
            
            // refresh every 5 second
            setTimeout(function () {
                window.location.reload();
            }, 5000);

        });
    </script>
}

<section class="section-eticket">
    
    <h1 class="text-center section-title stripe">PRINT <span>ETICKET</span></h1>
    
    <div class="container text-center">
        <p>Mohon menunggu, E-tiket Anda sedang dalam proses dan akan kami kirimkan secara otomatis ke email Anda.<br/>
            Terima kasih untuk pembelian Anda.</p>
        <p>Jika terjadi masalah, silahkan kirim email Anda ke <a href="mailto:cs@travorama.com">cs@travorama.com</a> dan kami akan berusaha untuk membantu Anda</p>
    </div>

</section><!-- .section-eticket -->
