
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaymentFinish</title>
</head>
<body>
    <div>
        <h4>Payment Cancelled</h4> 
    </div>
</body>
</html>
