@using Lunggo.ApCommon.Payment.Constant
@model Lunggo.ApCommon.Payment.Constant.PaymentStatus

@{
    ViewBag.Title = "FlightCheckoutThankyou";
    Layout = "/Views/Shared/_layout_20150506.cshtml";
}

@switch (Model)
{

    case PaymentStatus.Cancelled:

        <!-- thankyou page -->
        <div class="checkout-page thankyou-page">

            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="text-center">Transaksi Dibatalkan</h1>
                        <h2 class="text-center">Carilah lagi dan segeralah bertransaksilah dengan kami</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper rhoncus eros eget condimentum. Fusce finibus enim eu libero auctor vestibulum. Vivamus eget nisl quis risus varius finibus. Phasellus quis elit semper, iaculis velit vitae, bibendum tellus. Nulla ultricies, metus in ultricies pulvinar, nulla metus viverra ipsum, in cursus nisl turpis id lacus. Sed at risus augue. Etiam eu metus non lacus luctus volutpat. In nec ante ipsum. Pellentesque id vestibulum massa. Quisque condimentum vestibulum ipsum ut porttitor. Vivamus nec tellus et elit tincidunt tristique sit amet quis mauris. Aliquam eleifend lacus sed mauris commodo, eu vestibulum erat varius. Aenean ut sapien efficitur, viverra urna sit amet, faucibus leo. Aenean scelerisque purus turpis. Integer sit amet erat lectus. In rutrum urna non maximus porta.</p>
                        <p>In maximus eget orci vitae commodo. In vel fermentum felis, eu viverra massa. Donec eu lacus ligula. Vivamus sollicitudin nunc quis diam posuere, id lobortis lectus bibendum. Integer purus tortor, porta eget pellentesque sit amet, ullamcorper et lacus. Donec scelerisque porttitor eros, at ullamcorper lacus ullamcorper nec. Morbi ultrices ipsum vel sem tristique, in pretium odio vulputate. Phasellus eget mattis diam. In semper quam ac felis tincidunt, at molestie dui pretium. Aliquam consectetur velit sapien, a consectetur mi volutpat eu. Nulla aliquam nulla eu purus mollis, accumsan rhoncus urna pharetra. Cras malesuada nec risus id pharetra. Maecenas feugiat, quam at imperdiet dictum, lectus ante ultricies dui, nec luctus arcu urna eget lorem. Mauris ut cursus nibh. Vivamus vitae tortor vitae odio facilisis condimentum. Mauris a orci elit.</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- .checkout-page.thankyou-page -->

        break;

    case PaymentStatus.Pending:

        <!-- thankyou page -->
    <div class="checkout-page thankyou-page">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center">Menunggu Pembayaran</h1>
                    <h2 class="text-center">Mohon selesaikan transaksi Anda sebelum terlambat</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper rhoncus eros eget condimentum. Fusce finibus enim eu libero auctor vestibulum. Vivamus eget nisl quis risus varius finibus. Phasellus quis elit semper, iaculis velit vitae, bibendum tellus. Nulla ultricies, metus in ultricies pulvinar, nulla metus viverra ipsum, in cursus nisl turpis id lacus. Sed at risus augue. Etiam eu metus non lacus luctus volutpat. In nec ante ipsum. Pellentesque id vestibulum massa. Quisque condimentum vestibulum ipsum ut porttitor. Vivamus nec tellus et elit tincidunt tristique sit amet quis mauris. Aliquam eleifend lacus sed mauris commodo, eu vestibulum erat varius. Aenean ut sapien efficitur, viverra urna sit amet, faucibus leo. Aenean scelerisque purus turpis. Integer sit amet erat lectus. In rutrum urna non maximus porta.</p>
                    <p>In maximus eget orci vitae commodo. In vel fermentum felis, eu viverra massa. Donec eu lacus ligula. Vivamus sollicitudin nunc quis diam posuere, id lobortis lectus bibendum. Integer purus tortor, porta eget pellentesque sit amet, ullamcorper et lacus. Donec scelerisque porttitor eros, at ullamcorper lacus ullamcorper nec. Morbi ultrices ipsum vel sem tristique, in pretium odio vulputate. Phasellus eget mattis diam. In semper quam ac felis tincidunt, at molestie dui pretium. Aliquam consectetur velit sapien, a consectetur mi volutpat eu. Nulla aliquam nulla eu purus mollis, accumsan rhoncus urna pharetra. Cras malesuada nec risus id pharetra. Maecenas feugiat, quam at imperdiet dictum, lectus ante ultricies dui, nec luctus arcu urna eget lorem. Mauris ut cursus nibh. Vivamus vitae tortor vitae odio facilisis condimentum. Mauris a orci elit.</p>
                </div>
            </div>
        </div>

    </div>
        <!-- .checkout-page.thankyou-page -->

        break;

    case PaymentStatus.BeingAuthorized:

        <!-- thankyou page -->
    <div class="checkout-page thankyou-page">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center">Menunggu Autentikasi</h1>
                    <h2 class="text-center">Alat pembayaran Anda sedang diperiksa</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper rhoncus eros eget condimentum. Fusce finibus enim eu libero auctor vestibulum. Vivamus eget nisl quis risus varius finibus. Phasellus quis elit semper, iaculis velit vitae, bibendum tellus. Nulla ultricies, metus in ultricies pulvinar, nulla metus viverra ipsum, in cursus nisl turpis id lacus. Sed at risus augue. Etiam eu metus non lacus luctus volutpat. In nec ante ipsum. Pellentesque id vestibulum massa. Quisque condimentum vestibulum ipsum ut porttitor. Vivamus nec tellus et elit tincidunt tristique sit amet quis mauris. Aliquam eleifend lacus sed mauris commodo, eu vestibulum erat varius. Aenean ut sapien efficitur, viverra urna sit amet, faucibus leo. Aenean scelerisque purus turpis. Integer sit amet erat lectus. In rutrum urna non maximus porta.</p>
                    <p>In maximus eget orci vitae commodo. In vel fermentum felis, eu viverra massa. Donec eu lacus ligula. Vivamus sollicitudin nunc quis diam posuere, id lobortis lectus bibendum. Integer purus tortor, porta eget pellentesque sit amet, ullamcorper et lacus. Donec scelerisque porttitor eros, at ullamcorper lacus ullamcorper nec. Morbi ultrices ipsum vel sem tristique, in pretium odio vulputate. Phasellus eget mattis diam. In semper quam ac felis tincidunt, at molestie dui pretium. Aliquam consectetur velit sapien, a consectetur mi volutpat eu. Nulla aliquam nulla eu purus mollis, accumsan rhoncus urna pharetra. Cras malesuada nec risus id pharetra. Maecenas feugiat, quam at imperdiet dictum, lectus ante ultricies dui, nec luctus arcu urna eget lorem. Mauris ut cursus nibh. Vivamus vitae tortor vitae odio facilisis condimentum. Mauris a orci elit.</p>
                </div>
            </div>
        </div>

    </div>
        <!-- .checkout-page.thankyou-page -->

        break;

    case PaymentStatus.Accepted:

        <!-- thankyou page -->
    <div class="checkout-page thankyou-page">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center">Pembayaran Diterima</h1>
                    <h2 class="text-center">Hatur Nuhun</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper rhoncus eros eget condimentum. Fusce finibus enim eu libero auctor vestibulum. Vivamus eget nisl quis risus varius finibus. Phasellus quis elit semper, iaculis velit vitae, bibendum tellus. Nulla ultricies, metus in ultricies pulvinar, nulla metus viverra ipsum, in cursus nisl turpis id lacus. Sed at risus augue. Etiam eu metus non lacus luctus volutpat. In nec ante ipsum. Pellentesque id vestibulum massa. Quisque condimentum vestibulum ipsum ut porttitor. Vivamus nec tellus et elit tincidunt tristique sit amet quis mauris. Aliquam eleifend lacus sed mauris commodo, eu vestibulum erat varius. Aenean ut sapien efficitur, viverra urna sit amet, faucibus leo. Aenean scelerisque purus turpis. Integer sit amet erat lectus. In rutrum urna non maximus porta.</p>
                    <p>In maximus eget orci vitae commodo. In vel fermentum felis, eu viverra massa. Donec eu lacus ligula. Vivamus sollicitudin nunc quis diam posuere, id lobortis lectus bibendum. Integer purus tortor, porta eget pellentesque sit amet, ullamcorper et lacus. Donec scelerisque porttitor eros, at ullamcorper lacus ullamcorper nec. Morbi ultrices ipsum vel sem tristique, in pretium odio vulputate. Phasellus eget mattis diam. In semper quam ac felis tincidunt, at molestie dui pretium. Aliquam consectetur velit sapien, a consectetur mi volutpat eu. Nulla aliquam nulla eu purus mollis, accumsan rhoncus urna pharetra. Cras malesuada nec risus id pharetra. Maecenas feugiat, quam at imperdiet dictum, lectus ante ultricies dui, nec luctus arcu urna eget lorem. Mauris ut cursus nibh. Vivamus vitae tortor vitae odio facilisis condimentum. Mauris a orci elit.</p>
                </div>
            </div>
        </div>

    </div>
        <!-- .checkout-page.thankyou-page -->

        break;

    case PaymentStatus.Denied:

        <!-- thankyou page -->
    <div class="checkout-page thankyou-page">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center">Alat Pembayaran Anda Ditolak</h1>
                    <h2 class="text-center">Silakan lunaskan tagihan kartu kredit Anda</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper rhoncus eros eget condimentum. Fusce finibus enim eu libero auctor vestibulum. Vivamus eget nisl quis risus varius finibus. Phasellus quis elit semper, iaculis velit vitae, bibendum tellus. Nulla ultricies, metus in ultricies pulvinar, nulla metus viverra ipsum, in cursus nisl turpis id lacus. Sed at risus augue. Etiam eu metus non lacus luctus volutpat. In nec ante ipsum. Pellentesque id vestibulum massa. Quisque condimentum vestibulum ipsum ut porttitor. Vivamus nec tellus et elit tincidunt tristique sit amet quis mauris. Aliquam eleifend lacus sed mauris commodo, eu vestibulum erat varius. Aenean ut sapien efficitur, viverra urna sit amet, faucibus leo. Aenean scelerisque purus turpis. Integer sit amet erat lectus. In rutrum urna non maximus porta.</p>
                    <p>In maximus eget orci vitae commodo. In vel fermentum felis, eu viverra massa. Donec eu lacus ligula. Vivamus sollicitudin nunc quis diam posuere, id lobortis lectus bibendum. Integer purus tortor, porta eget pellentesque sit amet, ullamcorper et lacus. Donec scelerisque porttitor eros, at ullamcorper lacus ullamcorper nec. Morbi ultrices ipsum vel sem tristique, in pretium odio vulputate. Phasellus eget mattis diam. In semper quam ac felis tincidunt, at molestie dui pretium. Aliquam consectetur velit sapien, a consectetur mi volutpat eu. Nulla aliquam nulla eu purus mollis, accumsan rhoncus urna pharetra. Cras malesuada nec risus id pharetra. Maecenas feugiat, quam at imperdiet dictum, lectus ante ultricies dui, nec luctus arcu urna eget lorem. Mauris ut cursus nibh. Vivamus vitae tortor vitae odio facilisis condimentum. Mauris a orci elit.</p>
                </div>
            </div>
        </div>

    </div>
        <!-- .checkout-page.thankyou-page -->

        break;

    case PaymentStatus.Error:

        <!-- thankyou page -->
    <div class="checkout-page thankyou-page">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center">Alamakjang</h1>
                    <h2 class="text-center">Ada apa ini?</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper rhoncus eros eget condimentum. Fusce finibus enim eu libero auctor vestibulum. Vivamus eget nisl quis risus varius finibus. Phasellus quis elit semper, iaculis velit vitae, bibendum tellus. Nulla ultricies, metus in ultricies pulvinar, nulla metus viverra ipsum, in cursus nisl turpis id lacus. Sed at risus augue. Etiam eu metus non lacus luctus volutpat. In nec ante ipsum. Pellentesque id vestibulum massa. Quisque condimentum vestibulum ipsum ut porttitor. Vivamus nec tellus et elit tincidunt tristique sit amet quis mauris. Aliquam eleifend lacus sed mauris commodo, eu vestibulum erat varius. Aenean ut sapien efficitur, viverra urna sit amet, faucibus leo. Aenean scelerisque purus turpis. Integer sit amet erat lectus. In rutrum urna non maximus porta.</p>
                    <p>In maximus eget orci vitae commodo. In vel fermentum felis, eu viverra massa. Donec eu lacus ligula. Vivamus sollicitudin nunc quis diam posuere, id lobortis lectus bibendum. Integer purus tortor, porta eget pellentesque sit amet, ullamcorper et lacus. Donec scelerisque porttitor eros, at ullamcorper lacus ullamcorper nec. Morbi ultrices ipsum vel sem tristique, in pretium odio vulputate. Phasellus eget mattis diam. In semper quam ac felis tincidunt, at molestie dui pretium. Aliquam consectetur velit sapien, a consectetur mi volutpat eu. Nulla aliquam nulla eu purus mollis, accumsan rhoncus urna pharetra. Cras malesuada nec risus id pharetra. Maecenas feugiat, quam at imperdiet dictum, lectus ante ultricies dui, nec luctus arcu urna eget lorem. Mauris ut cursus nibh. Vivamus vitae tortor vitae odio facilisis condimentum. Mauris a orci elit.</p>
                </div>
            </div>
        </div>

    </div>
        <!-- .checkout-page.thankyou-page -->

        break;

    default:

        <!-- thankyou page -->
    <div class="checkout-page thankyou-page">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center">Ente Nyasar?</h1>
                    <h2 class="text-center">404 404 404 404 404 404 404 404 404</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper rhoncus eros eget condimentum. Fusce finibus enim eu libero auctor vestibulum. Vivamus eget nisl quis risus varius finibus. Phasellus quis elit semper, iaculis velit vitae, bibendum tellus. Nulla ultricies, metus in ultricies pulvinar, nulla metus viverra ipsum, in cursus nisl turpis id lacus. Sed at risus augue. Etiam eu metus non lacus luctus volutpat. In nec ante ipsum. Pellentesque id vestibulum massa. Quisque condimentum vestibulum ipsum ut porttitor. Vivamus nec tellus et elit tincidunt tristique sit amet quis mauris. Aliquam eleifend lacus sed mauris commodo, eu vestibulum erat varius. Aenean ut sapien efficitur, viverra urna sit amet, faucibus leo. Aenean scelerisque purus turpis. Integer sit amet erat lectus. In rutrum urna non maximus porta.</p>
                    <p>In maximus eget orci vitae commodo. In vel fermentum felis, eu viverra massa. Donec eu lacus ligula. Vivamus sollicitudin nunc quis diam posuere, id lobortis lectus bibendum. Integer purus tortor, porta eget pellentesque sit amet, ullamcorper et lacus. Donec scelerisque porttitor eros, at ullamcorper lacus ullamcorper nec. Morbi ultrices ipsum vel sem tristique, in pretium odio vulputate. Phasellus eget mattis diam. In semper quam ac felis tincidunt, at molestie dui pretium. Aliquam consectetur velit sapien, a consectetur mi volutpat eu. Nulla aliquam nulla eu purus mollis, accumsan rhoncus urna pharetra. Cras malesuada nec risus id pharetra. Maecenas feugiat, quam at imperdiet dictum, lectus ante ultricies dui, nec luctus arcu urna eget lorem. Mauris ut cursus nibh. Vivamus vitae tortor vitae odio facilisis condimentum. Mauris a orci elit.</p>
                </div>
            </div>
        </div>

    </div>
        <!-- .checkout-page.thankyou-page -->

        break;
}

