/*gmail*/
#scrollbox-gmail {
    overflow: auto;
    width: 755px;
    height: 360px;
    padding: 0 5px;
}

.track-gmail {
    width: 10px;
    background-clip: padding-box;
    background: #fff;
    border-style: solid;
    border-color: transparent;
    border-width: 0;
    border-left-width: 1px;
}

    .track-gmail.dragging,
    .track-gmail:hover {
        background: #f2f2f2; /* No RGBA support */
        background: rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
        box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
    }

    .track-gmail:active {
        background: #f2f2f2; /* No RGBA support */
        background: rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14), inset -1px -1px 0 rgba(0, 0, 0, 0.07);
        box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14), inset -1px -1px 0 rgba(0, 0, 0, 0.07);
    }

.handle-gmail {
    width: 10px;
    background-clip: padding-box;
    background: #ccc; /* No RGBA support */
    background: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

    .handle-gmail:hover {
        background: #999; /* No RGBA support */
        background: rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
    }

    .dragging .handle-gmail,
    .handle-gmail:active {
        background: gray; /* No RGBA support */
        background: rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
        box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
    }

/*fb*/
#scrollbox-fb {
    overflow: auto;
    width: 700px;
    height: 360px;
    padding: 0 5px;
    border: 0px solid #b7b7b7;
}

.track-fb {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

    .track-fb:hover,
    .track-fb.dragging {
        background: #d9d9d9; /* Browsers without rgba support */
        background: rgba(0, 0, 0, 0.15);
    }

.handle-fb {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track-fb:hover .handle-fb,
.track-fb.dragging .handle-fb {
    width: 10px;
}
