<div class="feedback-button">
    <span href="#"><img src="/Assets/images/feedback-title.png" alt="Feedback" /></span>
    <div class="feedback-content">
        <h4>Give us feedback</h4>
        <p>Lorem ipsum dolor sit amet adpiscing elite. <a href="http://travorama.com/feedback">Berikan feedback</a></p>
    </div><!-- .feedback-content -->
</div><!-- .feedback-button -->