<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Travorama</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/Assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Assets/css/application.css">

</head>
<body ng-app="travorama" class="page home-page">

    <header id="site-header" class="site-header home-header" data-activeTab="hotel">
        @{ Html.RenderPartial("_Mainmenu"); }
    
        @if (ViewBag.ShowTagline == true)
        {
            <div class="container">
                <div class="site-slogan">
                    <h1><img src="assets/images/enjoy.png" alt="Enjoy Your Every Moment"></h1>
                    <h2>However you like to travel, we have 3.693 hotels in 195 countries all at seriously cheap prices!</h2>
                </div><!-- .site-slogan -->
            </div>
        }
    
        @if (ViewBag.ShowHeaderForm == true)
        {
            <div class="container">
                <div class="site-header-search-form">
                    <div class="form-switch">
                        <div class="switch">
                            <label class="" data-target="hotel"><span class="fa fa-building"></span><input type="radio" name="form-switch" value="hotel" /></label>
                            <label class="active" data-target="flight"><span class="fa fa-plane"></span><input type="radio" name="form-switch" value="flight" /></label>
                        </div>
                    </div><!-- .form-switch -->
                    <div class="form-main-content">
                        <div class="form-hotel-search">
                            <h3><b>Hotel</b> Booking</h3>
                            <form action="/UW100/UW100HotelSearch" method="GET">
                                <div class="hotel-location-wrapper">
                                    <input type="text" class="hotel-location autocomplete" placeholder="Location" />
                                </div>
                                <div class="hotel-data-wrapper">
                                    <input type="text" class="hotel-checkin date-picker" placeholder="Checkin Date"/>
                                    <span class="separator">-</span>
                                    <input type="text" class="hotel-checkout date-picker" placeholder="Checkout Date"/>
                                    <!-- <input type="text" class="hotel-room" placeholder="Rooms"/> -->
                                    <select class="hotel-room" name="RoomCount">
                                        <option value="1">1 Room</option>
                                        <option value="2">2 Rooms</option>
                                        <option value="3">3 Rooms</option>
                                        <option value="4">4 Room</option>
                                    </select>
                                </div>
                                <div class="hotel-submit-wrapper">
                                    <input type="text" class="hidden" name="LocationId" id="hotel-search-location" />
                                    <input type="text" class="hidden" name="StayDate" id="hotel-search-checkin" />
                                    <input type="text" class="hidden" name="StayLength" id="hotel-search-length" />
                                    <a class="submit-button btn btn-yellow">SEARCH</a>
                                </div>
                            </form><!-- .form-hotel-search -->
                        </div><!-- .form-hotel-search -->
                        <div class="form-flight-search active">
                            <h3><b>Flight</b> Booking</h3>
                            <form action="/id/Flight/SearchResultList" method="GET" data-flightType="round-trip">
                                <div class="flight-type-wrapper">
                                    <label for="round-trip" class="active"><input type="radio" name="flight-type" value="RET" id="round-trip" checked/> Round-Trip</label>
                                    <label for="one-way"><input type="radio" name="flight-type" value="ONE" id="one-way" /> One-Way</label>
                                </div>
                                <div class="flight-airport-wrapper">
                                    <input type="text" class="flight-origin autocomplete" placeholder="Initial Airport" data-userInputvalue="" data-airportCode=""/>
                                    <input type="text" class="flight-destination autocomplete" placeholder="Destination Airport" data-userInputValue="" data-airportCode="" />
                                </div>
                                <div class="flight-date-wrapper">
                                    <input type="text" class="flight-departure-date date-picker" placeholder="departure date" />
                                    <span class="separator">-</span>
                                    <input type="text" class="flight-return-date date-picker" placeholder="return date" />
                                    <input type="text" class="flight-return-disable" placeholder="One way" disabled />
                                    <select class="flight-cabin" placeholder="Cabin">
                                        <option value="y">Economy Class</option>
                                        <option value="c">Business Class</option>
                                        <option value="f">First Class</option>
                                    </select>
                                </div>
                                <div class="flight-submit-wrapper">
                                    <select class="flight-adult" placeholder="Adult">
                                        <option value="1">1 Adult</option>
                                        <option value="2">2 Adults</option>
                                        <option value="3">3 Adults</option>
                                        <option value="4">4 Adults</option>
                                    </select>
                                    <select class="flight-child" placeholder="Child">
                                        <option value="0">0 Child</option>
                                        <option value="1">1 Child</option>
                                        <option value="2">2 Childs</option>
                                        <option value="3">3 Childs</option>
                                        <option value="4">4 Childs</option>
                                    </select>
                                    <select class="flight-infant" placeholder="Infant">
                                        <option value="0">0 Infant</option>
                                        <option value="1">1 Infant</option>
                                        <option value="2">2 Infants</option>
                                        <option value="3">3 Infants</option>
                                        <option value="4">4 Infants</option>
                                    </select>
                                    <input type="text" class="hidden flight-departure-date-real" value="" />
                                    <input type="text" class="hidden flight-return-date-real" value="" />
                                    <input type="text" id="flight-data-info" name="info" class="hidden" />
                                    <a class="submit-button flight-submit-button btn btn-yellow">SEARCH</a>
                                </div>
                            </form><!-- .form-flight-search -->
                        </div><!-- .form-flight-search -->
                    </div><!-- .form-main-content -->
                </div><!-- .site-header-search-form -->
            </div>
        }
        

    </header><!-- .site-header -->

    <div id="site-content" class="site-content">
        @RenderBody()
    </div><!-- .site-content -->
    
    <footer id="site-footer" class="site-footer">
        <section class="footer-menu">
            <div class="container">
                <div class="row">

                    <div class="col-sm-6">

                        <div class="row">
                            <div class="col-sm-4">
                                <h4>Tentang Kami</h4>
                                <ul>
                                    <li><a href="#">Sejarah</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Syarat &amp; Ketentuan</a></li>
                                    <li><a href="#">Kebijakan &amp; privasi</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <h4>Penawaran</h4>
                                <ul>
                                    <li><a href="#">Hotel</a></li>
                                    <li><a href="#">Mitra Kami</a></li>
                                    <li><a href="#">Program Perjalanan</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <h4>Kontak</h4>
                                <ul>
                                    <li><a href="#">Lokasi</a></li>
                                    <li><a href="#">Email</a></li>
                                    <li><a href="#">Social Media</a></li>
                                    <li><a href="#">Maps</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-5 col-sm-offset-1">
                        <h4>Subscribe Email</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur odit fugit, harum, voluptas distinctio ratione enim ipsum.</p>
                        <form action="#" class="form subscribe-form">
                            <div class="form-group">
                                <input type="text" placeholder="Email address" class="form-control no-radius">
                            </div>
                            <div class="form-group text-right">
                                <button class="btn btn-primary no-radius">SUBSCRIBE</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </section>
        <section class="footer-copyright">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12">

                        <div class="text-center footer-socialmedia">
                            <a href="#" class="fa fa-instagram"></a>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-pinterest"></a>
                            <a href="#" class="fa fa-youtube"></a>
                        </div>
                        <p class="text-center">
                            Copyright 2014 - Travelmadezy. All Rights Reserved.
                        </p>

                    </div>

                </div>
            </div>
        </section>
    </footer><!-- .site-footer -->
    
    <!-- ****************************** -->
    <!-- javascripts -->
    <script src="/Assets/js/jquery.min.js"></script>
    <script src="/Assets/js/jquery-ui.min.js"></script>

    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
    
    @if (IsSectionDefined("AdditionalPageJavascript"))
    {
        @RenderSection("AdditionalPageJavascript");
    }

    <script src="/Config/JsConfig.js"></script>
    <script src="/Assets/js/application.js"></script>
    <script src="/Assets/js/angularApp.js"></script>

    @if (IsSectionDefined("PageJavascript"))
    {
        @RenderSection("PageJavascript");
    }


</body>
</html>
