

            @RenderBody()


        <!-- site footer start -->
        <footer id="site-footer" class="site-footer">
    @if (ViewBag.ShowSubscribeForm == true)
    {
        <section class="footer-subscribe">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="/Assets/images/email-image.jpg" alt="Subscribe" />
                    </div>
                    <div class="col-sm-9">
                        <h3><b>SUBSCRIBE </b> TO GET UPDATES AND PROMOTIONS FROM US</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <form class="form form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-4 col-md-5"><input type="text" class="form-control" placeholder="Your Name" /></div>
                                <div class="col-sm-4 col-md-5"><input type="text" class="form-control" placeholder="Your Email" /></div>
                                <div class="col-sm-4 col-md-2"><input type="submit" class="btn btn-yellow" value="SUBSCRIBE" /></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
            <!-- .footer-subscribe -->
    }
    @if (ViewBag.ShowPaymentInfo == true)
    {
        <section class="footer-payment">
            <div class="container">
                <h2 class="section-title"><b>PAYMENT METHOD</b> THAT WE USE</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad p ex ea commodo consequat. Ut wisi eniTm ad minim veniam:</p>
                <img src="/Assets/images/payment-method.jpg" alt="Travorama Payment Method" />
            </div>
        </section>
        <!-- .footer-payment -->
    }
        <section class="footer-menu">
            <div class="container">
                <div class="row">

                    <div class="col-sm-3">
                        <img src="/Assets/images/logo.png" alt="Travorama" />
                    </div>
                    <div class="col-sm-9">
                        <h2>CALL CENTER : 1500 650</h2>
                        <nav>
                            <ul class="list-inline">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Press</a></li>
                                <li><a href="#">Affiliate</a></li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="@Url.Action("PrivacyPolicy", "Term")" target="_blank">Privacy Policy</a></li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </section><!-- .footer-menu -->
    
    <section class="footer-copyright">
        <div class="container">
            <div class="row">

                <div class="col-sm-12">

                    <div class="text-center footer-socialmedia">
                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-pinterest"></a>
                        <a href="#" class="fa fa-youtube"></a>
                    </div>
                    <p class="text-center">
                        Copyright 2014 - Travelmadezy. All Rights Reserved.
                    </p>

                </div>

            </div>
        </div>
    </section><!-- .footer-copyright -->
</footer><!-- .site-footer -->
        <!-- site footer end -->

    </div>
    <!-- page end -->
    <!-- javascripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.cycle2.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="/assets/js/application.js"></script>

</body>
</html>
