<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="shortcut icon" type="image/ico" href="/Assets/images/favico.ico" />

    <title>Travorama - eTicket</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Assets/css/invoice.min.css">

</head>
<body class="eticket">
    
    @RenderBody()
    
    <!-- ****************************** -->
    <!-- javascripts -->
    <script src="/Assets/js/jquery.min.js"></script>

    @if (IsSectionDefined("AdditionalPageJavascript"))
    {
        @RenderSection("AdditionalPageJavascript");
    }

    @if (IsSectionDefined("PageJavascript"))
    {
        @RenderSection("PageJavascript");
    }


</body>
</html>
