<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Travorama</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="Assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="Assets/css/application.css">

</head>
<body ng-app="travorama" class="page home-page">

    <!-- site header start -->
    <header id="site-header" class="site-header home-header" data-activeTab="hotel">
        <div class="search-switch-button flight">
            <a href="#flight"><img src="/Assets/images/search-form-switch-flight.png" alt="Search for Flights" /></a>
        </div><!-- .search-switch-button -->
        @{ Html.RenderPartial("_Mainmenu"); }
        <div class="header-form-wrapper home-page-header">
            <section class="header-form">
                <section class="hotel-form">
                    <section class="site-tag">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1><img src="assets/images/enjoy.png" alt="Enjoy Your Every Moment"><br />However you like to travel, we have 3.693 hotels in 195 countries all at seriously cheap prices!</h1>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="search">
                        <section class="search-hotel">
                            <div class="container wide">
                                <div class="row">
                                    <div class="col-sm-12">

                                        <form action="/UW100/UW100HotelSearch" method="GET" class="form-inline search-hotel-form">
                                            <div class="form-group">
                                                <span class="fa fa-building	"></span> <input type="text" class="form-control input-location" placeholder="Start here. Enter Hotel Location">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-checkin select-date" placeholder="checkin" data-picked="false" data-pickedDate="">
                                            </div>
                                            <div class="form-group">
                                                <span class="form-dash">-</span>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-checkout select-date" placeholder="checkout">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-room select-room" placeholder="room">
                                            </div>
                                            <div class="form-group">
                                                <input class="hidden search-hotel-value location" name="LocationId" />
                                                <input class="hidden search-hotel-value staydate" name="StayDate" />
                                                <input class="hidden search-hotel-value staylength" name="StayLength" />
                                                <input class="hidden search-hotel-value roomcount" name="RoomCount" />
                                                <button class="btn btn-primary btn-yellow">SEARCH</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </section><!-- .search-hotel -->
                    </section>
                </section><!-- .hotel-form -->
                <section class="flight-form">
                    <section class="site-tag">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1><img src="assets/images/enjoy.png" alt="Enjoy Your Every Moment"><br />However you like to travel, we have 3.693 hotels in 195 countries all at seriously cheap prices!</h1>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="search">
                        <section class="search-flight">
                            <div class="container wide">
                                <div class="row">
                                    <div class="col-sm-12">

                                        <form action="/id/Flight/SearchResultList" method="GET" class="form-inline search-flight-form">
                                            <div class="form-group loc-auto-wrapper">
                                                <span class="fa fa-plane"></span> <input type="text" class="form-control airport-autocomplete-input flight-origin" placeholder="Start here" data-airport-for="Ori" data-inputValue="">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control airport-autocomplete-input flight-destination" placeholder="Enter your destination" data-airport-for="Dest" data-inputValue="" />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control flight-date select-date" placeholder="flight date" data-picked="false" data-pickedDate="" />
                                            </div>
                                            <div class="form-group">
                                                <span class="form-dash">-</span>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control flight-return-date select-date" placeholder="return date" data-picker="false" />
                                                <label for="return-flight" id="return-flight-label"><input type="checkbox" id="return-flight" checked /> Return Flight</label>
                                            </div>
                                            <div class="form-group flight-passenger form-control">
                                                <label class="adult-passenger"><span><img src="/Assets/images/adult-icon.png" alt="Adult"/></span> <input type="text" class="" value="1" maxlength="1" id="flight-adult" /></label>
                                                <label class="child-passenger"><span><img src="/Assets/images/child-icon.png" alt="Child"/></span> <input type="text" class="" value="0" maxlength="1" id="flight-child" /></label>
                                                <label class="infant-passenger"><span><img src="/Assets/images/infant-icon.png" alt="Infant"/></span> <input type="text" class="" value="0" maxlength="1" id="flight-infant" /></label>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="hidden flight-form-value" id="flight-origin" />
                                                <input type="text" class="hidden flight-form-value" id="flight-destination" />
                                                <input type="text" class="hidden flight-form-value" id="flight-date" />
                                                <input type="text" class="hidden flight-form-value" id="flight-return-date" />
                                                <input type="text" class="hidden flight-form-value" id="flight-type" val="RET" />
                                                <input type="text" class="hidden flight-form-value" id="flight-cabin" />
                                                <input type="text" class="hidden flight-form-value" id="flight-info" name="info" />
                                                <button class="btn btn-primary btn-yellow" id="flight-search">SEARCH</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </section><!-- .search-hotel -->
                    </section>
                </section><!-- .flight-form -->
            </section><!-- .header-form -->
        </div><!-- .header-form-wrapper -->
    </header>
    <!-- site header end -->
    <!-- site content start -->
    <div id="site-content" class="site-content">

        @RenderBody()

    </div>
    <!-- site content end -->
    <!-- site footer start -->
    <footer id="site-footer" class="site-footer">
        <section class="footer-menu">
            <div class="container">
                <div class="row">

                    <div class="col-sm-6">

                        <div class="row">
                            <div class="col-sm-4">
                                <h4>Tentang Kami</h4>
                                <ul>
                                    <li><a href="#">Sejarah</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Syarat &amp; Ketentuan</a></li>
                                    <li><a href="#">Kebijakan &amp; privasi</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <h4>Penawaran</h4>
                                <ul>
                                    <li><a href="#">Hotel</a></li>
                                    <li><a href="#">Mitra Kami</a></li>
                                    <li><a href="#">Program Perjalanan</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <h4>Kontak</h4>
                                <ul>
                                    <li><a href="#">Lokasi</a></li>
                                    <li><a href="#">Email</a></li>
                                    <li><a href="#">Social Media</a></li>
                                    <li><a href="#">Maps</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-5 col-sm-offset-1">
                        <h4>Subscribe Email</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur odit fugit, harum, voluptas distinctio ratione enim ipsum.</p>
                        <form action="#" class="form subscribe-form">
                            <div class="form-group">
                                <input type="text" placeholder="Email address" class="form-control no-radius">
                            </div>
                            <div class="form-group text-right">
                                <button class="btn btn-primary no-radius">SUBSCRIBE</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </section>
        <section class="footer-copyright">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12">

                        <div class="text-center footer-socialmedia">
                            <a href="#" class="fa fa-instagram"></a>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-pinterest"></a>
                            <a href="#" class="fa fa-youtube"></a>
                        </div>
                        <p class="text-center">
                            Copyright 2014 - Travelmadezy. All Rights Reserved.
                        </p>

                    </div>

                </div>
            </div>
        </section>
    </footer>
    <!-- site footer end -->
    <!-- javascripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.cycle2.min.js"></script>

    <script src="/Assets/js/angular.min.js"></script>
    <script src="/Assets/js/angular-route.min.js"></script>
    
    <script src="/Assets/js/jquery.range-min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="/Assets/js/jquery.pickmeup.min.js"></script>
    <script src="/assets/js/jquery.pickmeup.twitter-bootstrap.min.js"></script>
    
    <script src="/assets/js/_prod_cfg.js"></script>
    <script src="/assets/js/application.js"></script>

    <script>
        $('#flight-search').click(function (evt) {
            evt.preventDefault();
            var info = function () {
                var s = "";
                var ori = $('#flight-origin').val();
                var dest = $('#flight-destination').val();
                var date = $('#flight-date').val();
                s = s.concat(ori, dest, date.substring(0, 2), date.substring(3, 5), date.substring(8, 10));
                if ($('#return-flight').prop('checked')) {
                    var ori2 = $('#flight-destination').val();
                    var dest2 = $('#flight-origin').val();
                    var date2 = $('#flight-return-date').val();
                    s = s.concat('.', ori2, dest2, date2.substring(0, 2), date2.substring(3, 5), date2.substring(8, 10));
                }
                var cabin = 'y';
                var adult = $('#flight-adult').val();
                var child = $('#flight-child').val();
                var infant = $('#flight-infant').val();
                s = s.concat('-', adult, child, infant, cabin);
                return s;
            }
            $('#flight-info').val(info);
            $(this).closest('form').submit();
        })
    </script>

</body>
</html>
