<div class="notice-wrapper">
    
    <div class="notice">
    
        <div class="notice-content search-expired">
            <p>Search flight has been expired. </p>
            
            <div class="notice-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="/" class="btn btn-default btn-block">Kembali ke Halaman Depan</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="javascript:window.history.go(0)" class="btn btn-yellow btn-block">Refresh search page</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="notice-content booking-expired">
            Your booking has been expired.
            <div class="notice-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="/" class="btn btn-default btn-block">Kembali ke Halaman Depan</a>
                    </div>
                    <div class="col-sm-6">
                        <a onclick="window.history.go(-1);" class="btn btn-yellow btn-block">Kembali ke Halaman Pencarian</a>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- .notice -->

</div><!-- .notice-wrapper -->