﻿<section class="section-benefit normal-txt container">
    <h1 class="text-center section-title stripe xlg-txt">KEUNTUNGAN MEMBER <span>TRAVORAMA</span></h1>
    <div class="container">

        <div class="row">
            <div class="col-xs-3 benefit">
                <img src="/Assets/images/benefit-1.jpg" alt="Update News" />
                <h4 class="md-txt">Update News</h4>
                <p>Dapatkan info promo tiket penerbangan, hotel, activity serta info destinasi populer di e-mail Travelers.</p>
            </div>
            <div class="col-xs-3 benefit">
                <img src="/Assets/images/benefit-2.jpg" alt="Diskon Ekslusif" />
                <h4 class="md-txt">Exclusive Deals</h4>
                <p>Dapatkan info penawaran eksklusif dan voucher diskon khusus untuk member.</p>
            </div>
            <div class="col-xs-3 benefit">
                <img src="/Assets/images/benefit-3.jpg" alt="Atur Pemesanan" />
                <h4 class="md-txt">Archived</h4>
                <p>Lakukan pengecekan semua riwayat pemesanan serta download e-ticket, voucher hotel dan invoice kapan saja.</p>
            </div>
            <div class="col-xs-3 benefit">
                <img src="/Assets/images/benefit-4.jpg" alt="Refund Praktis" />
                <h4 class="md-txt">Online Refund</h4>
                <p>Ajukan refund tiket penerbangan, hotel dan activity secara online.</p>
            </div>
        </div>
    </div>
</section><!-- .section-benefit -->