<footer class="site-footer">
    
    <div class="container">
        
        <h4 class="text-center"><b>Follow Us</b> on:</h4>
        
        <div class="text-center social-link">
            <a href="https://www.facebook.com/travorama" target="_blank" class="social-facebook"><img src="/Assets/images/social-facebook.png" alt="Alternate Text" /></a>
            <a href="https://twitter.com/travoramaid" target="_blank" class="social-twitter"><img src="/Assets/images/social-twitter.png" alt="Alternate Text" /></a>
            <a href="https://instagram.com/travorama" target="_blank" class="social-instagram"><img src="/Assets/images/social-instagram.png" alt="Alternate Text" /></a>
        </div>
        
        <h5 class="text-center">Copyright 2015 Travel Madezy International. All Rights Reserved</h5>

    </div>

</footer><!-- .site-footer -->