body
{
	background-color: #C9B681;
	font-family: Arial;
	margin: 2em;
}

.field-validation-error { color: Red; }
.input-validation-error { background-color: #FFCCCC; }

#editorRows { margin: 1em; }

h2 { margin-top: 0; }
#container { border: 3px solid #4D4344; background-color: #FAFAFA; padding: 1em; }