/*

FOOTER Styling
file : /Assets/travorama20/css/_footer.scss

including in this file :
- section subscribe
- section payment
- section feedback
- site footer menu
- site footer

*/

/* site footer menu */
.site-footer-menu {background:#303030; color:#fff; padding:0 0 30px; width:100%; bottom:157px; position: absolute;
    a {color:#fff;}

    .menu-left {padding-right:50px;
        .footer-logo {margin-bottom:30px; margin-top:26px;}
        .googlePlay {margin-bottom:15px; display:block;}
        .appStore {}
    }
    .menu-right {

        //*****
        .row:first-child {padding-top:25px; padding-bottom:15px;
            .col-sm-4 {width:30%;}
            .col-sm-2 {width:15%;}
            .col-sm-6 {width:50%; position:relative;}
        }
        .row + .row {margin-top:30px;}

        .call-center {margin-top:10px;
            img {float:left; padding-right:10px; width:60px;}
            p {margin-bottom:0;}
            h2 {margin:0; font-weight:bold;}
        }
        .asita {text-align:center;
            img {height:auto; vertical-align:bottom; position:relative; top:10px;}
        }
        .verisign {background:url(/Assets/images/verisign-bg.jpg) bottom right no-repeat; text-align:center; position:absolute; width:100%; top:-25px; padding:30px 0 20px;
            img {height:50px;}
            img + img {margin-left:15px;}
            &:after {content:url(/Assets/images/verisign-pin.png); position:absolute; top:-5px; left:30px;}
        }

        //*****
        .menu-flight {width:30%;}
        .menu-hotel {width:20%;}
        .menu-about {margin-left:20px;}
        .menu-other {}

        .list-title {font-weight:bold;}
        ul {padding:0; margin:0; list-style:none;
            li {margin-bottom:2px;}
        }
    }
    &>.container {max-width: none;}
}

/* site-footer */
.site-footer {background:#111; color:#fff; padding:15px 0; bottom:0; width:100%;  position: absolute;
    .social-link {padding:15px 0;
        img {width:40px;}
        a {margin-left:3px;}
        a+a {margin-left:10px;}
    }
}