/*

HEADER styling
file : /Assets/travorama20/css/_header.scss

*/

.site-header {@extend .os-regular; position:fixed; top:0; left:0; z-index:10; width:100%; height:70px; background:#fff; @include box-shadow(0px -2px 15px #555); letter-spacing:0.1px;
    .site-logo {padding-top:13px; display:block;
        img {height:40px;}
    }
    .menu-top {margin-bottom:3px;
        &:before, &:after {@include clearfix();}
        nav {float:right; background:$color-main-blue; padding:5px 12px; -webkit-border-bottom-right-radius:$border-radius-default; -webkit-border-bottom-left-radius:$border-radius-default; -moz-border-radius-bottomright:$border-radius-default; -moz-border-radius-bottomleft:$border-radius-default; border-bottom-right-radius:$border-radius-default; border-bottom-left-radius:$border-radius-default;
            ul {padding:0; margin:0;
                li {display:inline; padding:0 5px; font-size:12px;
                    a {color:#fff;}
                }
                li+li {border-left:1px solid #fff;}
                .check-order {}
                .currency-select {}
                .language-select {
                    img {width:20px;}
                }
            }
        }
    }
    .menu-bottom {
        .menu-main {height:40px;
            nav {height:100%;
                ul {margin:0; padding:0; height:100%;
                    li {display:inline-block; height:100%; padding-top:3px;
                        a {color:$color-main-blue; font-weight:bold; font-size:13px; padding:5px 10px; display:inline-block;}
                    }
                    li+li {
                        a {border-left:1px solid #ddd;}
                    }
                    // if menu active
                    li.active {background:url(/Assets/images/main-menu-arrow.png) bottom center no-repeat;}
                }
            }
        }
        .menu-side {float:right; margin-left:30px; height:40px;
            nav {height:100%;
                ul {margin:0; padding:0; height:100%;
                    li {display:inline-block; height:100%;
                        a {color:$color-main-blue; @extend .os-semibold; font-weight:600; font-size:13px; padding:5px 10px; display:inline-block;}
                        & + li {padding-top:3px;}
                    }
                    // li+li {border-left:2px solid $color-main-blue;
                    //    a {padding-right:0;}
                    // }
                    .caret {opacity:0.5;}
                }
            }
            // dropdown content
            .dropdown-content {background:#7fdafc; border-top:0; right:0; left:auto;
                &:before {content:""; display:block; position:absolute; top:-10px; left:50%; margin-left:-4px; width:10px; height:10px; background:url(/Assets/images/hover-menu-arrow.png) bottom center no-repeat;}
                a {color:#fff;}
                a:hover {background:#fff; color:$color-main-blue !important;}
            }
        }
    }
    &>.container {max-width: none;}
}
body {padding-top:70px;}

// header SSL on checkout header
.header-ssl {text-align:right; padding-top:12px;
    p {float:right; width:80%; padding-top:5px; margin-bottom:0;}
    .image-wrapper {float:right; width:20%;}
}