/*

ACCOUNT PAGES
file : /Assets/travorama20/css/_page_password.scss

*/

// page account
.page-account {
    @extend .os-regular; 
    .form-section {padding:50px 0; background-position:center top; background-repeat:no-repeat;}
    form {
        background: rgba(255,255,255,0.3);
        padding: 20px 15px;
        color:#525252;
        hgroup {margin-bottom:24px;
            h1,h4 {@extend .os-bold; color:#525252;}
        }
        input {text-align:center; @include border-radius(3px);
            &[type="submit"]{padding: 10px 0; text-transform: uppercase;}
        }
        a {@extend .os-bold; color:inherit;}
        .link-container p > a {color: #37bcf2; text-decoration: underline;}
    }
    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }
}

// login page
.page-account-login {
    .login-form {float: right;}
    .form-section {
        background-image: url(/Assets/images/login-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 520px;
        h1 {
            font-size: 19px;
            margin: 0;
            line-height: 30px;
        }
        h4 {
            font-size: 12px;
            @extend .os-regular;
            font-weight: 400;
            margin: 0;
        }
        form[name="loginForm"] {
            width: 300px;
            border-radius: 3px;
            padding: 20px 15px;        
            input[name="RememberMe"] {vertical-align: text-bottom;}
        }
    }
}

// register page
.page-account-register {
    .register-form {float: right;}
    .register-title {margin-left: 250px;}
    .form-section {
        background-image:url(/Assets/images/register-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 520px;
        h1 {font-size:40px;}
    }
    hgroup {text-align:right; margin-bottom:20px;
        h1,h4 {@extend .os-bold;}
    }
    form[name="registerForm"] {
        width: 300px;
        border-radius: 3px;
        padding: 20px 15px;        
    }
}

// section benefit
.section-benefit {padding:15px 0 30px;
    .benefit {text-align:center;
        h4 {color:$color-main-blue; @extend .os-semibold; font-weight:600;}
    }
    &.container {max-width: none !important;}
}

// account page
.page-account-profile {
    .site-content {padding-top:30px; padding-bottom:50px;}
    form {text-align:left;
        header {margin-bottom:15px;}
        input {height:auto; padding:6px 12px; text-align:left;}
    }    

    // account menu
    .account-menu {color:#fff;
        header {background:$color-main-blue; padding:12px;
            &:after {@include clearfix();}
            &:before {width:50px; height:50px; background-image:url(/Assets/images/user-account-sprite.png); background-repeat:no-repeat; display:inline-block; content:""; vertical-align:middle; margin-right:12px;}
            span {@extend .os-semibold; font-weight:600; font-size:12px; display:inline-block; width:110px; vertical-align:middle;}
        }
        ul {margin:0; padding:0;
            li {
                a {display:block; background:#c6f0ff; font-size:12px; color:$color-main-blue; cursor:pointer; @extend .os-semibold; font-weight:600; padding:0 12px; position:relative;
                    &:before {width:50px; height:50px; display:inline-block; content:""; vertical-align:middle; background-image:url(/Assets/images/user-account-sprite.png); background-repeat:no-repeat; background-position:-50px; margin-right:12px;}
                    // if active
                    &.active {background:#abe9ff;
                        &:after {content:""; background:url(/Assets/images/user-account-active-arrow.png) left center no-repeat; width:10px; height:100%; position:absolute; right:-10px;}
                    }
                }
                // profile
                &.profile {}
                // order
                &.order {
                    a:before {background-position:-100px;}
                }
            }
        }
    }
    // account content
    .account-content {padding-left:30px;
        .content-header {border-bottom:$border-default;
            h2 {margin: 0 0 15px; text-transform: uppercase; font-size: 19px;}
        }
        // form
        form {font-size:12px;
            header {display:block; margin-bottom: 0;
                &:after {@include clearfix();}
                h4 {}
                .btn {width:150px;}
            }
            .control-label {text-align:left;}
            .form-group {margin-bottom:5px;
                >div:first-child:after {content:":"; position:absolute; right:6px; top:6px;}
                &>.col-xs-3 {padding: 0}
            }
            &[name="passwordForm"] {border-top:$border-default;}
            &[name="profileForm"], &[name="passwordForm"] {padding: 15px 0;}
        }
        // profile content
        .profile-content {}
        // history content
        .history-content {
            .tab-header {margin-top: 15px;
                &>nav>ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    display: inline-block;
                    width: 100%;
                    &>li {
                        width: 50%;
                        background: #e9e9e9;
                        display: inline;
                        float: left;
                        padding: 12px;
                        text-align: center;
                        text-transform: uppercase;
                        &.active {
                            background: #1daee4;
                            &:after {
                                content: '';
                                width: 20px;
                                height: 20px;
                                display: block;
                                position: absolute;
                                margin-top: 12px;
                                margin-left: 137px;
                                border-right: 10px solid transparent;
                                border-left: 10px solid transparent;
                                border-top: 10px solid #1daee4;
                            }
                        }
                        a {
                            color: #fff;
                            @extend .os-bold; 
                            font-weight: 700;
                            font-size: 14px;
                            text-decoration: none;
                            padding: 0 100px;
                        }
                    }
                }
            }
            .tab-content {padding: 10px 0;}
        }
    }

    // order history
    .order-wrapper {margin-top:15px;
        .order {
            &.flight, &.hotel {background:#f1f1f1; background-position:top left; background-repeat:no-repeat;}
            // flight order
            &.flight { background-image:url(/Assets/images/order-flight-list-bg.png); padding: 10px 55px;
                header {padding:5px; font-size:12px; @extend .os-bold;
                    .row {margin-bottom:3px;}
                    span {color:$color-main-blue;}
                }
                section {
                    .row {margin-bottom:3px;}
                    .detail {
                        .col-xs-4 {width:30%;}
                        .status {@extend .os-bold;
                            &.success {color:#14b413;}
                            &.failed {color:#fe0001;}
                            &.pending {color:#b551ea;}
                        }
                    }
                    .action {float: right;}
                }
                &+.order {border-top:$border-default;}
            }
            &.hotel {background-image:url(/Assets/images/order-hotel-list-bg.png); padding: 15px 55px; padding-right: 40px;
                .ot {margin-bottom: 8px;}
                .wt-location {margin: 5px 0;
                    &:before {
                        content: '';
                        display: inline-block;
                        background: url(/Assets/travorama20/images/Hotel/location.png) no-repeat;
                        width: 12px;
                        height: 17px;
                        vertical-align: middle;
                    }
                }
                .action-hotel {
                    position: absolute;
                    margin-top: -35px;
                    right: 0;
                    margin-right: 75px;
                }
                .order-bottom .ot-left:after {
                    content: ':';
                    display: inline-block;
                    float: right;
                    margin-right: 3px;
                }
            }
        }
    }

    // order detail
    .order-detail {
        .content-body {
            & > div + div {border-top:$border-default;}
        }
        h2, h4 {letter-spacing:0;}
        h4 {margin-bottom:18px;}
        .flight {padding-left:36px; position:relative;
            .col-xs-9 {@extend .os-bold;}
            img {height:36px; margin-right:24px;}
            span {@extend .os-bold; color:$color-main-blue;}
            &:before {content:''; width:20px; height:20px; position:absolute; top:0; left:0; background-color:$color-main-blue; background-image:url(/Assets/images/plane-updown-sprite.png); background-size:200%; background-repeat:no-repeat; border:2px solid $color-main-blue;}
            // departure flight
            &.departure {}
            // return flight
            &.return {
                &:before {background-position:-16px;}
            }
        }
        .form {
            .form-group {margin-bottom:6px;}
            .control-label {text-align:left;
                &.col-xs-3 {padding: 0;}
            }
            label + div:before {content:":"; display:inline; float:left; position:relative; padding-top:6px; left:-18px;}
        }
        .passenger-list {list-style:none; counter-reset:passenger-number; margin:0; padding:0;
            p {margin-bottom:0;}
            li {position:relative; margin-bottom:1px; padding-left:30px; background:#efefef;
                &:before {content:counter(passenger-number); counter-increment:passenger-number; position:absolute; text-align:center; width:20px; height:100%; color:#fff; background:$color-main-blue; z-index:2; left:0; padding:6px;}
                .row {
                    & > div {padding:6px;}
                    div+div {background:#e2e2e2;}
                }
            }
        }
        .info-buyer, .info-flight, .info-hotel {padding: 15px 0;}
        .info-hotel {
            .otl, .otr {float: left;}
            .otr {padding-left: 10px;}
            .order-bottom > .row {padding: 6px 0;}
        }
    }
}

.page-account-profile {
    .site-content>.container {max-width: none !important;}
}
.page-account-register, .page-account-login {
    .form-section>.container {max-width: none !important;}
    .section-benefit>.container {max-width: none !important;}
}

