.detail-hotel {
    border-top: 1px solid #ccc;
    .big-slider {
        margin: 15px 0 10px;
        .top-desc {
            margin-bottom: 15px;
            .slider-title-lg {
                font-size: 20px;
                font-weight: 700;
                margin-right: 30px;
                vertical-align: text-bottom;
            }
            &>.star {display: inline-block;}
            .address {line-height: 25px;
                &:before {
                    @extend .maps-icon;
                    margin-right: 10px;
                }
            }
        }
        .col-right-slider {
            display: none;
            border: 1px solid #ccc;
            background: #fff;
            .btn-container {
                text-align: center;
                margin: 5px 0;
            }
            .rs-title {
                background: #1daee4;
                padding: 7px 20px;
                text-align: center;
                color: #fff;
                font-weight: 700;
                &:before {
                    @extend .hotel-icon;
                    margin-right: 10px;
                }
            }
            .rs-list {
                border-top: 1px solid #ccc;
                padding: 25px 20px;
            }
            .rs-rating {font-weight: 600;
                .rs-txt-big {
                    font-size: 40px;
                    float: right;
                    line-height: 40px;
                }
                .col-right-rs {
                    line-height: 14px;
                    padding: 7px 5px;
                }
            }
            .rs-review {
                &>.blue-txt {text-align: center;
                    &:before {@extend .plane-icon;}
                }
                .review-bar {
                    width: 100%;
                    margin-top: 10px;
                    font-size: 11px;
                    font-weight: 600;
                    line-height: 11px;
                    .rb-container {margin-bottom: 12px;}
                    .bar-horizontal {
                        width: 75%;
                        height: 12px;
                        box-shadow: 1px 1px 1px 1px #999;
                        display: inline-block;
                        z-index: 0;
                        position: relative;
                    }
                    .bar-range {
                        background: $color-main-blue;
                        display: block;
                        width: 80%;
                        z-index: 1;
                        position: absolute;
                        height: 12px;
                    }
                    .total-review {float: right;}
                }
            }
            .rs-ta {
                text-align: center;
                .ta-title.green-txt {
                    /*margin: 10px 0;*/
                    &:before {@extend .ta-logo;}
                    &:after {@extend .ta-rating; margin-top: 8px;}
                }
                .grey-txt.sm-txt.italic-txt {margin: 6px 0;}
            }
        }
    }
    
    /*Slider*/
    .slider {
        margin: 0;
        background: none;
        .lSSlideOuter .lSPager.lSGallery {
            margin: 0;
            padding: 0 40px;
            background: #000;
            background: rgba(0,0,0,0.6);
            position: absolute;
            margin-top: -130px !important;
            width: 908px !important;
            z-index: 0;
            &>li {
                width: 16.666666666666667% !important;
                padding: 15px 5px;
                margin-right: 0 !important;
                &.active img {
                    border: 2px solid #fff;
                    opacity: 1;
                }
            }
            img {
                height: 100px !important;
                opacity: 0.7;
                width: 100%;
            }
        }
        .lSAction {
            &>a {
                width: 22px;
                top: auto; 
                height: 37px;
                background: url(/Assets/images/calendar-sprite.png);
                cursor: pointer;
                position: absolute;
                z-index: 1;
                margin-top: -83px;
                &.lSNext {
                    background-position: -22px 0;
                }
            }
        }                        
    }
    .pointer {cursor: pointer;}
    .menu-hotel {
        margin-bottom: 20px;
        .mh-title {
            font-weight: 600;
            color: #fff;
            background: #a0a0a0;
            padding: 12px 25px;
            text-align: center;
            &:before {
                @extend .hotel-icon;
                margin-right: 10px;
            }
            &:after {
                content: '';
                display: inline-block;
                background: url('/Assets/travorama20/images/Hotel/triangle-grey.png') no-repeat;
                width: 22px;
                height: 47px;
                vertical-align: middle;
                right: -21px;
                position: absolute;
                top: 0;
                z-index: 1;
            }
        }
        .mh-container {
            padding: 15px 30px;
            margin: 0;
            list-style: none;
            background: #dcdcdc;
            li.mh-list {
                padding: 0 25px;
                display: inline-block;
                a {
                    text-decoration: underline;
                    color: #000;
                    &:hover {color: $color-main-blue;}
                }
                &:before {
                    content: '';
                    width: 6px;
                    height: 6px;
                    background: $color-main-blue;
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
    }
    .room {
        padding: 20px 0 15px;
        border-top: 1px solid #ccc;
        .total-day {text-align: right;}
        .room-sort {
            font-weight: 700;
            text-align: center;
            a.sort {
                content: '';
                width: 16px;
                height: 11px;
                display: inline-block;
                background: url(/Assets/travorama20/images/Hotel/sort.png) no-repeat;
                margin-right: 10px;
            }
        }
        .room-list-container {
            padding: 0;
            list-style: none;
            .rl-accordion {
                .accordion-rl.active {
                    .room-list {
                        border: 3px solid $color-main-blue;
                        border-bottom: none;
                    }
                    &>.room-right {border: none;}
                }
                &>.accordion-wrapper .accordion-content.show {
                    padding: 0;
                    border: none;
                }
            }
        }
        .room-list {
            margin-top: 15px;
            border: none;
            &.active {border: 3px solid #1daee4;}
            .room-pic {
                width: 100%; 
                height: 133px; 
                background-size: cover; 
                background-position: center center;
            } 
            .no-room-pic {
                background: url(/Assets/travorama20/images/Hotel/room.jpg);
                width: 100%; 
                height: 133px; 
                background-size: cover; 
                background-position: center center;
            }
            .room-right {
                padding: 14px 25px;
                border: 1px solid #ccc;
                background: #fff;
                height: 133px;
                .room-rl { 
                    cursor:pointer;
                    padding: 10px 0;
                    .facility {margin: 5px 0;}
                    .info-room {
                        margin-top: 6px;
                        .info-icon {
                            background: $color-main-blue;
                            padding: 3px 7px;
                            color: #fff;
                            font-family: georgia;
                            font-weight: 700;
                            font-size: 11px;
                            line-height: 11px;
                            @include border-radius(18px);
                            margin-right: 5px;
                        }
                        &>.blue-txt.sm-txt {
                            text-decoration: underline;
                            cursor: default;
                            &:after {
                                width: 0;
                                height: 0;
                                border-left: 4px solid transparent;
                                border-right: 4px solid transparent;
                                border-top: 4px solid #1daee4;
                                content: '';
                                position: absolute;
                                bottom: 15px;
                                margin-left: 5px;
                            }
                        }
                    }
                }
                .room-rm { display: none;
                    .dropdown-container {
                        margin: 10px 0;
                        border-left: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                        padding: 20px 0;
                        .form-control.change-room {
                            width: 80px;
                            margin: 0 auto;
                            padding: 8px 30px;
                            cursor: pointer;
                            &:after {
                                content: url(/Assets/images/select-arrow.png);
                                position: absolute;
                                margin-left: 10px;
                            }
                            .option {
                                margin: 0 auto;
                                left: 29px;
                                max-width: 78px;
                                top: 65px;
                            }
                        }
                    }
                }
                .room-rr {
                    border-left: 1px solid #ccc;
                    padding-left: 25px;
                    color: #ff7200;
                    line-height: 22px;
                    .btn.btn-yellow {padding: 4px 25px;}
                }
            }
        }
        .hotel-detail {
            border: 3px solid #1daee4;
            border-top: none;
            background: #fff;
            display: none;
            .col-left-bottom {display:none;}
            .col-left-top {                 
                .sm-slider {padding: 30px 30px 0;
                    .lSSlideOuter .lSPager.lSGallery {display:none;}
                    .lSAction {
                        &>a {
                            position: absolute;
                            z-index: 1;
                            font-size: 0;
                            padding: 0;
                            width: 30px;
                            height: 30px;
                            @include border-radius(30px);
                            top: 50%;
                            -webkit-appearance: none;
                            border: 15px solid #1daee4;
                            box-shadow: none;
                            opacity: 1;
                            -webkit-transition: none;
                            transition: none;
                            margin-top: -30px;
                        }
                        &>.lSPrev {
                            left: 0;
                            &:after {
                                content: '';
                                background: url(/Assets/travorama20/images/Hotel/prev-white.png) no-repeat;
                                width: 9px;
                                height: 14px;
                                display: inline-block;
                                margin: 8px 10px;
                                position: absolute;
                                margin-left: -5px;
                                margin-top: -7px;
                            }
                        } &>.lSNext {
                            right: 0;
                            &:after {
                                content: '';
                                background: url(/Assets/travorama20/images/Hotel/next-white.png) no-repeat;
                                width: 9px;
                                height: 14px;
                                display: inline-block;
                                margin: 8px 10px;
                                position: absolute;
                                margin-left: -5px;
                                margin-top: -7px;
                            }
                        }
                    }
                }
                .total-img {
                    text-align: center;
                    margin: 10px 0;
                }
            }
            .hd-list {
                margin: 0;
                list-style: none;
                padding: 15px 30px;
                font-weight: 600;
                line-height: 25px;
                li {
                    &.hd-size:before {
                        content: '';
                        display: inline-block;
                        width: 20px;
                        height: 15px;
                        background: url(/Assets/travorama20/images/Hotel/size.png) no-repeat;
                        margin-right: 10px;
                        vertical-align: middle;
                    }
                    &.hd-bed:before {
                        content: '';
                        display: inline-block;
                        width: 19px;
                        height: 15px;
                        background: url(/Assets/travorama20/images/Hotel/bed.png) no-repeat;
                        margin-right: 10px;
                        vertical-align: middle;
                    }
                    &.hd-view:before {
                        content: '';
                        display: inline-block;
                        width: 20px;
                        height: 15px;
                        background: url(/Assets/travorama20/images/Hotel/view.png) no-repeat;
                        margin-right: 10px;
                        vertical-align: middle;
                    }
                }
            }
            .col-right-result {
                padding: 15px;
                border-left: 1px dashed #1daee4;
                min-height: 212px;
                .hd-right-container {
                    margin: 15px;
                    margin-right: 0;
                    padding-right: 15px;
                    max-height: 270px;
                    overflow-y: auto;
                    &::-webkit-scrollbar {width: 13px;}
                    &::-webkit-scrollbar-track {background: #ddd;}
                    &::-webkit-scrollbar-thumb {background: #999;}
                }
                .hd-description {
                    padding: 0;
                    list-style: none;
                    margin: 0;
                    li.hd-point {margin-bottom: 15px;
                        &:last-child {margin-bottom: 0;}
                    }
                    .hd-title {
                        font-weight: 700;
                        margin-bottom: 5px;
                        font-size: 14px;
                        line-height: 14px;
                        &:before {
                            content: '';
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            background: #1daee4;
                            vertical-align: middle;
                            margin-right: 10px;
                        }
                    }
                    .hd-txt {padding-left: 20px;}
                }
            }
        }
        .hotel-result {
            text-align: right;
            margin-top: 15px;
            .hotel-result-txt {line-height: 24px;}
            .btn-hotel-result {
                margin-left: 15px; 
                padding-right: 25px;
                &:after {
                    width: 0;
                    height: 0;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-top: 4px solid #fff;
                    content: '';
                    margin-top: -8px;
                    position: absolute;
                    margin-left: 5px;
                }
            }
        }
    }
    .info-hotel {
        border-top: 1px solid #ccc;
        padding: 20px 0 15px;
        .ih-accordion {margin-bottom: 15px;
            .accordion-wrapper {
                .accordion-title {padding: 12px 25px;
                    &:after {
                        font-size: 0;
                        float: right;
                        margin-left: 0;
                        content: '';
                        width: 22px;
                        height: 22px;
                        border: 2px solid #fff;
                        @include border-radius(22px);
                        background: url(/Assets/travorama20/images/Hotel/up.png) no-repeat center 3px;
                    }
                    &.active:after {background: url(/Assets/travorama20/images/Hotel/down.png) no-repeat center center;}
                }
                .accordion-content {
                    margin-bottom: 0;
                    border-bottom: 1px solid #e3e3e3;
                    &.show {
                        padding: 15px 30px;
                        border: 1px solid #ccc;
                        .snk-container {padding: 15px 0;
                            .blue-list {
                                line-height: 20px;
                                margin: 7px 0 0;
                                padding: 0;
                            }
                        }
                    }
                }
                .tnc-hotel {margin-top: 15px;}
            }
        }
        .ih-row {
            border-top: 1px solid #ccc;
            padding: 15px 0;
            &:first-child {border-top: none;}
            .ih-left {
                font-weight: 600;
                text-align: center;
                &.hotel-blue:before {@extend .hotel-blue-icon;}
                &.sport-blue:before {@extend .sport-blue-icon;}
                &.wifi-blue:before {@extend .wifi-blue-icon;}
                &.parking-blue:before {@extend .park-blue-icon;}
            }
        }
        .ih-title {
            text-align: center;
            margin: 15px 0 30px;
        }
        .ih-desc {margin-bottom: 15px;
            .col-half {
                &.ih-l {padding-right: 15px;}
                &.ih-r {padding-left: 15px;}
            }
        }
        
    }
}