/*

FORGOT PASSWORD and RESET PASSWORD
file : /Assets/travorama20/css/_page_password.scss

*/

// page password
.page-password {
    .site-content {padding-top:50px; padding-bottom:50px;}

    p {font-size:14px;}

    // form wrapper
    .form-wrapper {margin-top:24px;
        header {text-align:center; color:#fff; background:$color-main-blue; padding:12px;
            .header-title {margin:0; font-weight:bold;}
        }
        section {background:#e2e2e2; padding:25px 50px;
            .form-group:last-child {margin-bottom:0;}
        }
    }

}

// page forgot password
.page-password-forgot {
    // email sent
    .email-sent {
        p {padding-left:100px; background:url(/Assets/images/email-send-icon.png) center left no-repeat;}
    }
}

// page reset password
.page-password-reset {
    // form container
    .form-container {}
    // form sent
    .form-container-sent {
        a.btn {padding:10px 50px; margin-top:24px;}
    }
}

// page check order
.page-check-order {
    .form-wrapper {
        section {padding:12px 24px;}
    }
}

