.search-list {
    .top-title {
        border-bottom: 1px solid #cccccc;
        .total-result {text-align: right;}
    }
    .search-list-result {
        margin: 15px 0;
        position: relative;
        .filter {
            .map-filter {
                margin-bottom: 15px;
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
            .filter-container {
                background: #fff;
                border: 1px solid #ccc;
            }
            .header-filter {
                background: #9a9a9a;
                padding: 7px 20px;
                color: #fff;
                font-size: 16px;
                @extend .os-semibold;
                font-weight: 600;
            }
            .filter-group {
                padding: 20px 15px;
                border-top: 1px solid #ccc;
            }
            label.filter-title {
                color: #000;
                margin-bottom: 10px;
            }
            .slider-price { 
                margin-bottom: 10px;
                height: 10px;
                background: #525252;
                .ui-slider-range {
                    background: #ffd632;
                }
                .ui-slider-handle {
                    @include size(18px, 18px);
                    @include border-radius(18px);
                    background:#ffffff;
                    border: 1px solid #ccc;
                }
            }
            .city-name {float: right;
                &>a {color: $color-main-blue;}
            }
            .city-hotel {
                display: inline-block;
                width: 20px;
                height: 20px;
                background: $color-main-blue;
                float: right;
                color: #fff;
                border-radius: 20px;
                font-size: 9px;
                text-align: center;
                line-height: 20px;
            }
        }
        .col-right-result {
            padding-left: 30px;
            position: relative;
            .sort {
                background: #eaeaea;
                padding: 10px 15px;
                border-radius: 2px;
                border: 1px solid #ccc;
                margin-bottom: 30px;
                .sort-l {width: 30%; margin-top: 5px;}
                .sort-r {width: 35%;}
                .sort-l, .sort-r {
                    position: relative;
                    float: left;
                }
            }
        }
    }
}