// page static
.page-static {
    .site-content {padding:0; padding-bottom:24px;}
}

// static page header
.static-header {background:#003b70;
    .row {padding-top:12px;
        .col-xs-4 {
            a {color:#fff; display:block; width:100%; text-align:center; font-size:16px; @include border-radius($border-radius-default $border-radius-default 0 0); padding:12px 0;
                span {
                    &:before {content:""; display:inline-block; width:25px; height:25px; background-image:url(/Assets/images/static-header-sprite.png); background-repeat:no-repeat; background-position:0 0; vertical-align:middle; margin-right:6px;}
                }
                // if active
                &.active {background:#f9f9f9; color:#003b70; font-weight:600;}
                &.terms {
                    span:before {background-position:0 0;}
                    &.active span:before {background-position:0 -25px;}
                }
                &.privacy {
                    span:before {background-position:-25px 0;}
                    &.active span:before {background-position:-25px -25px;}
                }
                &.faq {
                    span:before {background-position:-50px 0; width:35px;}
                    &.active span:before {background-position:-50px -25px;}
                }
            }
        }
    }
}

// page questions
.page-faq {

    .question-wrapper {
        &>ol {list-style:none; counter-reset:main-number;
            &>li {position:relative;
                > header {padding-left:40px;
                    h2 {color:$color-main-blue; font-size:18px; line-height:30px; font-weight:bold;
                        span {font-size:14px; text-decoration:underline; cursor:pointer;}
                    }
                }
                &:before {content:counter(main-number); counter-increment:main-number; background:#ffd632; color:#4f3500; position:absolute; height:30px; width:30px; text-align:center; @include border-radius(50px); font-size:14px; font-weight:600; padding-top:5px;}
                &>ol {list-style:none; counter-reset:sub-number;
                    &>li {position:relative; background:#fff; padding:12px; border:$border-default; padding-left:42px;
                        &:before {content:counter(main-number) '.' counter(sub-number); counter-increment:sub-number; position:absolute; top:12px; left:12px;}
                        > header {color:$color-main-blue; cursor:pointer;
                            > h3 {margin:0; font-size:17px;
                                span {width:23px; height:22px; border:2px solid $color-main-blue; display:inline-block; @include border-radius(15px); background-image:url(/Assets/images/faq-toggle-sprite.png); background-position:-13px 0;}
                            }
                        }
                        > section {height:0; overflow:hidden;}
                        > section {}
                        // if active
                        &.active {
                            > header {margin-bottom:12px;
                                > h3 {
                                    span {background-position:1px 0;}
                                }
                            }
                            > section {display:block; height:auto;}
                        }
                    }
                }
            }
        }
    }

}

// page terms
.page-term, .page-static {
    ol.listing {list-style:none; counter-reset:main-counter; margin:0; padding:0;
        > li {position:relative; padding-left:40px;
            &:before {content:counter(main-counter); counter-increment:main-counter; background:#ffd632; color:#4f3500; position:absolute; width:30px; height:30px; text-align:center; font-weight:bold; @include border-radius(30px); padding-top:6px; top:0; left:0;}
            h4 {color:$color-main-blue; font-weight:600; line-height:18px; padding-top:6px;}
            ol {list-style:lower-alpha;
                > li {color:$color-main-blue; font-weight:bold;
                    p {color:#333; font-weight:normal;}
                }
            }
        }
    }
}
