/*

Page Checkout Styling
file : /Assets/travorama20/css/_page_checkout.scss

*/

// page checkout
.page-checkout {}

// checkout step
.checkout-step {position:relative;
    &:before {content:""; background:#a6a6a6; position:absolute; width:50%; left:0; top:0; height:100%; z-index:1;}
    &:after {content:""; background:#2fb4e6; position:absolute; width:50%; top:0; height:100%; left:50%; z-index:1;}
    .step {float:left; width:25%; font-size:21px; position:relative; z-index:2; color:#fff; padding:15px; background:#2fb4e6;
        &+.step {border-left:1px solid #1f99c7;}
        &.active {background:#032e55;}
        &.inactive {background:#a6a6a6;}
        &.inactive + .step {border-left:1px solid #a6a6a6;}
        span {font-size:14px; font-weight:bold;}
    }

    // if step 4 active
    &.active-1:before {background:#032e55;}

    &.active-4:after {background:#032e55;}

}

// checkout content
.checkout-content {padding-bottom:15px;}

// flight detail
.flight-detail {margin-bottom:20px;
    // if return flight
    &#return-flight {
        header span:before {background-position:-20px;}
    }
    // *****
    // header
    header {background:$color-main-blue; color:#fff; padding:12px; font-size:14px; position:relative;
        span {font-weight:bold; padding-left:25px; margin-left:5px; position:relative;
            &:before {content:""; width:20px; height:20px; left:0; position:absolute; background-image:url(/Assets/images/plane-updown-sprite.png); background-size:200%;}
        }
        .fare-detail {background:#028ec3; position:absolute; right:0; top:0; height:100%; padding:12px;}
    }
    // detail content
    .detail-content {border:$border-default; border-top:none;
        // flight segment
        .segment {position:relative; padding-bottom:12px;
            &:before,&:after {content:""; clear:both; display:block; width:100%;}
            .segment-airline-name {font-weight:bold; color:$color-main-blue; font-size:12px; padding-right:30px; display:block; padding-left:10%; margin-top:0; padding-top:7.5px;}
            .segment-number {float:left; width:5%; position:absolute; top:10px;
                span {background:$color-main-blue; color:#fff; font-weight:600; padding:3px 10px;}
            }
            .segment-left {float:left; width:10%; margin-left:10%; position:relative;
                .segment-airline-logo {width:50px; border:$border-default; float:left; margin-right:15px;}
                .segment-airline-number {font-weight:600; color:$color-main-blue; font-size:12px;}
            }
            .segment-right {@extend .segment-left; width:80%; margin-left:0;
                &:before,&:after {content:""; clear:both; display:block; width:100%;}
                &>div {float:left;}
                .segment-departure {width:35%; padding-top:7.5px; padding-left:15px;
                    h5 {margin:0; margin-bottom:5px; font-size:11px;}
                    h3 {font-weight:bold; margin:0; margin-bottom:5px; font-size:16px;}
                    h4 {font-weight:bold; margin:0; margin-bottom:5px; font-size:12px;}
                }
                .segment-duration {width:30%; padding-right:20px; padding-top:20px;
                    h5 {border-bottom:3px solid $color-main-blue; text-align:center; padding-bottom:5px;
                        span {font-weight:bold;}
                    }
                }
                .segment-arrival {@extend .segment-departure; padding-left:0;}
            }
            .segment-operator {display:block; clear:both; padding-left:60px; padding-right:60px; padding-top:5px;
                p {border-top:$border-default; margin-top:10px; padding-top:10px; margin-bottom:0; font-style:italic;
                    img {height:20px;}
                    span {font-weight:600;}
                }
            }
        }
        // flight transit
        .transit {text-align:center; padding:15px 0;
            &:after {border-top:1px dashed $color-main-blue; content:""; display:block; width:100%; position:relative; top:-10px;}
            p {background:#fff; display:inline; font-style:italic; font-weight:600; color:$color-main-blue; background:#fff; position:relative; z-index:2; padding:0 10px;}
        }
    }
}

// passenger detail
.passenger-detail {margin-bottom:12px;
    
    // passenger form
    .passenger-form {padding-bottom:12px;
        header {background:$color-main-blue; color:#fff; padding:12px; font-size:14px; font-weight:bold; position:relative;
            .toggle {content:""; position:absolute; top:0; right:0; padding:0; background:#028ec3; height:100%; display:block; width:40px; cursor:pointer;
                &:after {content:"-"; position:absolute; font-size:28px; color:#fff; font-weight:bold; top:0; left:0; text-align:center; width:100%;}
            }
        }
        .passenger-content {padding:12px; border:$border-default; border-top:none;}
        // if passenger form inactive
        &.inactive {
            header .toggle:after {content:"+";}
            .passenger-content {display:none;}
        }
    }
}

// widget
.widget-container {
    .widget {
        .widget-title {}
        header {}
        .widget-content {background:#f4f4f4;}
        footer {}

        // widget price detail
        &.price-detail {
            .widget-content {padding:12px; font-size:12px;
                dl {
                    &:before, &:after {@include clearfix();}
                    dt {font-weight:normal; width:60%; float:left; position:relative;
                        &:before {content:""; position:absolute; width:7px; height:7px; background:#fd8524; left:-12px; top:3px;}
                    }
                    dd {font-weight:600; width:40%; float:left; text-align:right;}
                }
                dl.total-price {border-top:$border-default; padding-top:12px; margin-bottom:0;
                    dt {font-weight:600; width:40%;
                        &:before {display:none;}
                    }
                    dd {color:#ff7200; font-size:16px; font-weight:bold; width:60%;}
                }
            }
            footer {padding:12px; background:#ddd; font-style:italic;}
        }

        // widget voucher
        &.voucher {
            .widget-content {padding:12px;}
        }

        // widget airline
        &.flight {
            .widget-content {padding:12px;
                .airline {padding-bottom:12px;
                    .airline-image {width:50px; border:$border-default; float:left; margin-right:12px; background:#fff;}
                    .airline-name {font-weight:bold; color:$color-main-blue;}
                    .airline-number {@extend &.airline-name;}
                }
                .route {
                    &:before, &:after {@include clearfix;}
                    .origin {float:left; width:45%;}
                    .duration {float:left; width:7%; margin-right:3%; content:""; border-top:3px solid $color-main-blue; margin-top:50px;}
                    .destination {@extend &.origin;}
                    //
                    h4 {font-weight:bold;}
                    h5 {}
                }
            }
            // return flight
            #return-flight {margin-top:-20px;}
        }


    }

}

// step button
.step-button {
    .btn {padding:8px 50px; font-size:14px;}
}

// travorama login
.travorama-login {border-top:$border-default; position:relative; margin-bottom:45px;
    a.login-toggle {background:$color-main-blue; position:absolute; z-index:2; top:0; right:0; color:#fff; padding:12px; @include border-radius($border-radius-default); padding-left:30px; cursor:pointer;
        &:before {width:16px; height:16px; background:url(/Assets/images/user-icon.png); background-size:contain; content:""; position:absolute; left:10px; top:12px;}
    }
    .login-content {background:$color-main-blue; padding:15px; padding-top:50px; display:none;
        .form-group {margin-bottom:5px;}
        .form-group:last-child {margin-bottom:0;}
        a {color:#fff;}
    }
    // if active
    &.active {
        .login-content {display:block;}
    }
}

