/*

FLIGHT Page styling
file: /Assets/travorama20/css/_page_flight.scss

*/

// *****
// page flight
.page-flight {
    // *****
    // search location
    .search-location {position:absolute; top:95px;
        &#origin {left:5px;}
        &#destination {left:5px;}
        .location-body {border:$border-default;}
        li {color:#666;
            &:hover {color:#fff;}
        }
    }

    // *****
    // page progress
    .page-progress {padding:24px 0;
        b {color:$color-main-blue; margin-bottom:12px; display:block;}
        .progress-wrapper {background:#f0f0f0; height:6px; position:relative;
            .progress-bar {height:6px; background:$color-main-blue; position:absolute; height:100%; top:0; left:0; padding-right:120px;}
            .plane {position:absolute; top:-10px; right:0; background:#fff; height:30px; width:120px; padding-left:50px; background:url(/Assets/images/loading-plane.png) left center #f9f9f9 no-repeat; font-size:28px; color:#ccc; text-align:left;
                span {top:0; line-height:100%;}
            }
        }
    }

    // *****
    // page overlay
    .page-overlay {position:fixed; width:100%; height:100%; top :0; left:0; z-index:1000; background:rgba(100,100,100,0.7);
        .overlay-content {width:400px; height:250px; background:#fff; position:absolute; margin:auto; top:0; right:0; bottom:0; left:0; @include border-radius($border-radius-default); overflow:hidden;
            header {background:$color-main-blue; text-align:center; color:#fff; padding:15px;
                h4 {margin:0; font-weight:600;}
                .close {color:#fff; opacity:1;}
            }
            section {padding:15px;}
            footer {position:absolute; bottom:15px; left:0; width:100%;}
        }
    }

    // *****
    // section slider
    .page-slider {background:url(/Assets/images/flight-page-slider.jpg) center center no-repeat; background-size:cover; height:200px; color:#fff;
        h2 {line-height:140%; padding-top:45px; background-position:left bottom; font-size:25px;}
    }
    // *****
    // section form
    .search-result-form {background:#032e55; color:#fff; padding-top:20px; padding-bottom:20px;
        &>.container {position:relative;}
        .result-form-left {
            h3 {margin-top:0; font-size:16px;}
            h4 {margin-bottom:0; font-size:12px;}
        }
        .col-sm-3 {display:table;}
        .result-form-right {display:table-cell; vertical-align:middle;
            .btn {padding:10px 0;}
        }
        // form content
        form.change-flight {border-top:1px solid #fff; margin-top:15px; padding-top:15px; display:none;
            .change-flight-type {margin-right:15px; cursor:pointer;}
            .change-flight-left {float:left; width:35%;}
            .switch-flight {float:left; width:5%; text-align:center;}
            .change-flight-right {float:left; width:60%;
                &>div {
                    &:before, &:after {@include clearfix();}
                }
                &>div+div >div {width:24%; float:left; height:45px;
                    &+div {margin-left:1.25%;}
                }
            }
            .form-group {margin-bottom:10px;}
            // ***
            .change-flight-origin {margin-bottom:10px;}
            .change-flight-departure {background:#fff; @include border-radius($border-radius-default); color:#969696; float:left; width:49%; padding:10px; position:relative; height:45px; cursor:pointer;
                small {font-size:9px; line-height:120%; position:absolute;}
                .date {font-size:30px; font-weight:600; position:absolute; right:35px; top:0; color:#666;}
                .month {font-size:11px; font-weight:600; position:absolute; left:80%; top:5px; color:#666;}
                .year {font-size:11px; font-weight:600; position:absolute; left:80%; top:20px; color:#666;}
            }
            .change-flight-return, .change-flight-oneway {@extend & .change-flight-departure; margin-left:2%;
                &.disabled {cursor:not-allowed; color:#b8b8b8;}
            }
            .change-flight-oneway {display:none; cursor:not-allowed;}
            .change-flight-passenger {background:#fff; @include border-radius($border-radius-default); color:#666; padding:6px; position:relative; cursor:pointer;
                small {position:absolute;}
                h5 {font-size:30px; font-weight:600; position:absolute; right:10px; top:0;}
            }
            .change-flight-destination {width:65%; float:left; margin-bottom:10px;}
            .change-flight-class {width:34%; margin-left:1%; float:left; background:#fff; @include border-radius($border-radius-default); position:relative; cursor:pointer;
                &:after {content:url(/Assets/images/select-arrow.png); position:absolute; right:10px; top:7px;}
                .option {
                    span {text-align:left;}
                }
            }
            .change-flight-switch {width:35px; height:35px; background:url(/Assets/images/flight-switch-horizontal.png); display:block; text-align:center; margin:0 auto; cursor:pointer;}
            .btn.btn-yellow {height:45px; vertical-align:middle; font-size:21px;}
            .option {position:absolute; top:100%; left:0; width:100%; z-index:2; display:none;
                span {display:block; width:100%; background:#ddd; position:static; font-size:12px; padding:5px; padding-right:20px; text-align:right;
                    &+span {border-top:$border-default;}
                    &:hover {background:$color-main-blue; color:#fff;}
                }
            }
        }
    }
    // *****
    // flight filter
    .search-result-filter {margin-bottom:15px; letter-spacing:0;
        .filter-left {float:left; width:7%; border-top:$border-default;
            &>span {font-weight:bold; padding:15px 0; display:block; font-size:13px;}
        }
        .filter-right {float:left; width:93%; border-top:$border-default;
            .filter-trigger {background:#eceaea;
                &:before, &:after {@include clearfix();}
                &>div {float:left; width:25%; padding:15px; padding-right:0; text-align:center;
                    span {font-weight:bold; color:$color-main-blue; font-size:13px; display:inline-block; cursor:pointer; position:relative; padding-left:28px;
                        &:before {width:20px; height:20px; background:url(/Assets/images/flight-filter-title-sprite.png) no-repeat; content:""; position:absolute; left:0; top:0;}
                    }
                    &+div {border-left:$border-default;}
                    &.filter-stop {
                        span:before {}
                        &.active span:before {background-position:0px -20px;}
                    }
                    &.filter-price {
                        span:before {background-position:-20px 0;}
                        &.active span:before {background-position:-20px -20px;}
                    }
                    &.filter-airline {
                        span:before {background-position:-40px 0;}
                        &.active span:before {background-position:-40px -20px;}
                    }
                    &.filter-time {padding-left:10px;
                        span {padding-left:35px;}
                        span:before {background-position:-60px 0; width:40px;}
                        &.active span:before {background-position:-70px -20px;}
                    }
                    // if active
                    &.active {background:#999; color:#fff;
                        span {color:#fff;}
                    }
                }
            }
            .filter-content {
                &>div {background:#999999; color:#fff; padding:25px; position:relative; display:none;
                h3 {margin-top:0;}
                    &.active {display:block;}
                    .tab-detail {}
                    .tab-option {position:absolute; right:0; top:0; height:100%; width:150px; background:#666;}
                    // *****
                    &.filter-transit {
                        .tab-detail {
                            label {margin-right:10px; cursor:pointer; margin-bottom:0;}
                            label+label {border-left:2px solid #fff; padding-left:15px;}
                        }
                        .tab-option {padding:15px;
                            label {display:block; cursor:pointer;}
                        }
                    }
                    // *****
                    &.filter-airline {
                        .tab-detail {width:590px;
                            .row {margin-bottom:15px;}
                            .airline {
                                label {cursor:pointer;}
                                input {float:left;}
                                img {width:50px; display:block;}
                                span {display:block;}
                            }
                        }
                        .tab-option {padding:15px;
                            label {display:block; cursor:pointer;}
                        }
                    }
                    // *****
                    &.filter-time {
                        .tab-detail {
                            .departure {padding-right:15px;}
                            .arrival {padding-left:15px;}
                        }
                    }
                }
            }
        }
    }
    // *****
    // flight sort
    .search-result-sort {padding:10px 0;
        &:before, &:after {@include clearfix();}
        .container>div {float:left; text-align:center;
            span {font-weight:bold; font-size:14px; cursor:pointer;
                &:before {content:url(/Assets/images/flight-sort-switch.png); margin-right:5px;}
            }
            &.sort-airline {width:18.2%;}
            &.sort-departure {width:17.5%;}
            &.sort-duration {width:18.5%;}
            &.sort-arrival {width:18.8%;}
            &.sort-price {width:27%; text-align:left; padding-left:15px;}
        }
    }
    // *****
    // search result
    .search-result {min-height:500px; padding-top:20px; letter-spacing:0;}
    // *****
    // flight
    .flight {border:$border-default; @include border-radius($border-radius-default); color:#525252; background:#fff; margin-bottom:15px; position:relative;
        // if active
        &.active {border:3px solid $color-main-blue;
            .flight-detail {border-top:3px solid $color-main-blue; max-height:1000px; display:block;}
            &:after {background-image:url(/Assets/images/flight-detail-active.png); background-size:contain; position:absolute; top:0; left:0; z-index:2; width:30px; height:30px; content:"";}
        }
        // if not active
        .flight-summary {
            &:before, &:after {@include clearfix();}
            .flight-summary-left {float:left; width:73%; border-right:$border-default;
                &:before, &:after {@include clearfix();}
                .summary-top {border-bottom:$border-default;
                    &:before, &:after {@include clearfix();}
                    .summary-top-left {text-align:center; float:left; width:25%; border-right:$border-default;
                        h5 {color:$color-main-blue; font-weight:bold;}
                        img {height:55px;}
                    }
                    .summary-top-right {float:left; width:75%; padding-top:15px;
                        .flight-date-departure {float:left; width:35%; padding-right:20px; text-align:right;
                            h4 {font-weight:600; font-size:18px;
                                span {font-weight:bold; margin-left:10px;}
                                span.overday {font-size:11px; background:#aaa; color:#fff; position:relative; top:-3px; padding:3px;}
                            }
                            h5 {font-size:12px;}
                        }
                        .flight-date-duration {float:left; width:30%; text-align:center;
                            .time {margin-top:5px; margin-bottom:5px; font-size:11px;
                                span {position:relative;}
                                span:before {content:""; background-image:url(/Assets/images/sandclock.png); background-repeat:no-repeat; background-size:contain; margin-right:10px; width:10px; height:15px; position:absolute; top:0; left:-12px;}
                            }
                            .transit {border-top:3px solid $color-main-blue; padding-top:5px; margin-top:0; font-size:11px;}
                        }
                        .flight-date-arrival {@extend .flight-date-departure; text-align:left; padding-right:0; padding-left:20px;}
                    }
                }
                .summary-bottom {
                    .summary-bottom-left {float:left; width:25%; border-right:$border-default; text-align:center; padding-top:3px;
                        span {background:url(/Assets/images/flight-facilities-sprite.png) no-repeat; display:inline-block; margin:0 5px;
                            &.flight-baggage {width:35px; background-position:-64px; text-align:center; color:#fff; position:relative; padding-top:5px; margin-top:-10px; top:-7px;}
                            &.flight-tax {width:35px; background-position:-30px; padding-bottom:30px;}
                            &.flight-meal {width:30px; padding-bottom:30px;}
                        }
                    }
                    .summary-bottom-right {float:right; width:75%; text-align:right;
                        .flight-detail-trigger {margin-left:30px; padding:7px; display:inline-block; position:relative; color:$color-main-blue; text-decoration:none; cursor:pointer;
                            &:before {content:""; display:block; position:absolute; width:20px; height:20px; background:url(/Assets/images/flight-button-sprite.png) no-repeat; background-size:200%; left:-20px; top:5px;}
                        }
                        .flight-rules-trigger {@extend .flight-detail-trigger;
                            &:before {background-position:-20px;}
                        }
                    }
                }
            }
            .flight-summary-right {color:$color-main-orange; padding:10px; float:left; width:27%; padding-left:20px;
                &:before, &:after {@include clearfix();}
                h4 {font-size:25px; font-weight:bold; margin:0; margin-bottom:3px; margin-top:5px;}
                small {display:block; font-size:12px; margin-bottom:7px; font-size:10px;}
                .btn {padding-right:30px; padding-left:30px;}
                sup {top:-7px;}
            }
        }
        .flight-detail {border-top:$border-default; padding-bottom:20px; position:relative; height:auto; max-height:0; overflow:hidden; display:none;
            &>h3 {padding:10px; padding-left:5%; font-weight:600; color:$color-main-blue; margin-top:10px; font-size:13px;
                .close-flight-detail {color:#bbb; cursor:pointer; font-weight:bold;}
            }
            .segment {
                &:before,&:after {content:""; clear:both; display:block; width:100%;}
                .segment-number {float:left; width:5%;
                    span {background:$color-main-blue; color:#fff; font-weight:600; padding:3px 10px;}
                }
                .segment-left {float:left; width:23%; position:relative;
                    &:after {content:""; background-image:url(/Assets/images/flight-segment-separator.png); background-repeat:no-repeat; background-size:contain; width:10px; position:absolute; right:15px; top:15px; width:0; height:20px;}
                    .segment-airline-logo {width:50px; border:$border-default; float:left; margin-right:15px;}
                    .segment-airline-name {font-weight:bold; color:$color-main-blue; font-size:12px; padding-right:30px;}
                    .segment-airline-number {font-weight:600; color:$color-main-blue; font-size:12px;}
                }
                .segment-right {@extend .segment-left; width:72%;
                    &:before,&:after {content:""; clear:both; display:block; width:100%;}
                    &>div {float:left;}
                    .segment-departure {width:33.33333334%; padding-top:7.5px; padding-left:15px;
                        h5 {margin:0; margin-bottom:5px; font-size:11px;}
                        h3 {font-weight:bold; margin:0; margin-bottom:5px; font-size:16px;}
                        h4 {font-weight:600; margin:0; margin-bottom:5px; font-size:12px;}
                    }
                    .segment-duration {width:33.33333334%; padding-right:40px; padding-top:20px;
                        h5 {border-bottom:3px solid $color-main-blue; text-align:center; padding-bottom:5px;
                            span {font-weight:bold;}
                        }
                    }
                    .segment-arrival {@extend .segment-departure; padding-left:0;}
                }
                .segment-operator {display:block; clear:both; padding-left:60px; padding-right:60px; padding-top:5px;
                    p {border-top:$border-default; margin-top:10px; padding-top:10px; margin-bottom:0; font-style:italic;
                        img {height:20px;}
                        span {font-weight:600;}
                    }
                }
            }
            .transit {text-align:center; padding:15px 0;
                &:after {border-top:1px dashed $color-main-blue; content:""; display:block; width:100%; position:relative; top:-10px;}
                p {background:#fff; display:inline; font-style:italic; font-weight:600; color:$color-main-blue; background:#fff; position:relative; z-index:2; padding:0 10px;}
            }
        }
    }

    // search calendar
    .search-calendar {position:absolute; top:150px; width:670px; height:300px;
        .calendar-body {padding-top:0;}
        .date-picker {padding-left:30px; padding-right:30px;}
        .ui-datepicker {
            &:before, &:after {@include clearfix();}
        }
        .ui-datepicker-group {width:300px; float:left;}
        .ui-datepicker-group-last {border-top:none !important; border-left:$border-default;}
        .ui-datepicker-prev {background:url(/Assets/images/calendar-sprite.png) no-repeat; width:22px; height:37px; text-indent:-1000px; top:80px !important; left:-15px !important; overflow:hidden;}
        .ui-datepicker-next {background:url(/Assets/images/calendar-sprite.png) no-repeat; background-position:-22px; width:22px; height:37px; text-indent:-1000px; top:80px !important; left:auto !important; right:-15px !important; overflow:hidden;}
        &#departure {left:5px;}
        &#return {left:155px;}
    }


}

// *****
// page flight oneway
.page-flight.page-flight-oneway {
    // flight
    .flight {

        .flight-summary-left {
            .summary-top {border-bottom:0;
                .summary-top-left {height:110px; padding:10px;}
                .summary-top-right {
                    .summary-top-right-top {
                        &:before, &:after {@include clearfix();}
                    }
                    .summary-top-right-bottom {clear:both; width:100%; border-top:$border-default; text-align:right; margin-top:10px;}
                }
            }
        }

        .flight-detail-trigger {margin-left:30px; padding:7px; display:inline-block; position:relative; color:$color-main-blue; text-decoration:none; cursor:pointer;
            &:before {content:""; display:block; position:absolute; width:20px; height:20px; background:url(/Assets/images/flight-button-sprite.png) no-repeat; background-size:200%; left:-20px; top:5px;}
        }
        .flight-rules-trigger {@extend &.flight-detail-trigger;
            &:before {background-position:-20px;}
        }
    }
}

// *****
// page flight return
.page-flight.page-flight-return {
    // search result container
    .search-result-container {
        .search-result-selected {display:none;}
        // if search loading
        &>.loading {
            //.search-result-filter {display:none;}
            //.search-result-sort {display:none;}
        }
        // if search result departure or search result return is active
        &>.active {width:530px;
            .search-result-title {
                p span.route-date {display:inline;}
            }
        }
        &>.inactive {width:290px; opacity:0.5;
            .search-result-filter {display:none;}
            .search-result-sort {display:none;}
            .flight {
                .flight-summary {
                    .flight-summary-left {border-right:none; width:100%;
                        .summary-top-left {}
                        .summary-top-right {
                            .flight-date-duration {padding-top:35px; width:15%;
                                h5 {display:none;}
                                &:after {content:""; display:block; width:100%; border-bottom:3px solid $color-main-blue;}
                            }
                            .flight-date-arrival {width:50%;
                                span.overday {display:inline !important;}
                            }
                        }
                        .summary-bottom-left {}
                        .summary-bottom-right {
                            &.flight-button {display:none;}
                            &.flight-duration {display:block !important; padding-top:10px; padding:6px;
                                .duration {width:50%; text-align:center; float:left; position:relative;
                                    &:before {width:10px; height:20px; background:url(/Assets/images/sandclock.png) top left no-repeat; background-size:100%; margin-right:5px; position:absolute; top:0; left:10px; content:"";}
                                }
                                .transit {width:50%; text-align:center; float:left;}
                            }
                        }
                    }
                    .flight-summary-right {display:none;}
                }
                .flight-detail {}
            }
        }
        &>.selected {width:290px; opacity:1;
            .search-result-filter {display:none;}
            .search-result-sort {display:none;}
            .search-result-list {display:none;}
            .search-result-selected {border:$border-default; margin-top:-15px; background:#f9f9f9; border-top:none; display:block;
                &>div {border-top:$border-default;}
                .flight-airline {
                    &:before, &:after {@include clearfix();}
                    h3 {float:left; width:80%; margin:0; color:#3fabe3; font-weight:bold; display:table;
                        img {height:35px; margin-left:10px; margin-right:10px; float:left;}
                        span {font-size:12px; display:block; float:left; display:table-cell; vertical-align:middle; padding-top:10px;}
                    }
                    .flight-facilities {float:right; width:20%; text-align:right; padding-right:5px; padding-top:5px;
                        span {background:url(/Assets/images/flight-facilities-sprite.png) no-repeat; display:inline-block; margin:0;
                            &.flight-baggage {width:35px; background-position:-64px; text-align:center; color:#fff; position:relative; padding-top:5px; margin-top:-10px; top:-7px;}
                            &.flight-tax {width:35px; background-position:-30px; padding-bottom:30px;}
                            &.flight-meal {width:30px; padding-bottom:30px;}
                        }
                    }
                }
                .flight-date {
                    &:before, &:after {@include clearfix();}
                    .flight-date-departure {float:left; width:35%; padding-right:20px; text-align:right;
                        h4 {font-weight:600; font-size:16px;
                            span {font-weight:bold; display:block;}
                        }
                        h5 {font-size:10px;}
                    }
                    .flight-date-duration {float:left; width:30%; text-align:center;
                        .time {margin-top:5px; margin-bottom:5px; font-size:10px;
                            span {}
                            span:before {content:""; background-image:url(/Assets/images/sandclock.png); background-size:100%; margin-right:10px; width:10px; height:20px; background-repeat:no-repeat; position:relative; display:inline-block; vertical-align:middle;}
                        }
                        .transit {border-top:2px solid $color-main-blue; padding-top:5px; margin-top:0; font-size:10px;}
                    }
                    .flight-date-arrival {@extend .flight-date-departure; text-align:left; padding-right:0; padding-left:20px;
                        span.overday {font-size:11px; background:#aaa; color:#fff; position:relative; top:-3px; padding:3px; display:inline;}
                    }
                }
                .flight-button {padding:5px 0; text-align:center;
                    .flight-detail-trigger {margin-left:20px; padding:5px; display:inline-block; position:relative; color:$color-main-blue; text-decoration:none;
                        &:before {content:""; display:block; position:absolute; width:20px; height:20px; background:url(/Assets/images/flight-button-sprite.png); background-size:200%; left:-18px;}
                    }
                    .flight-rules-trigger {@extend .flight-detail-trigger;
                        &:before {background-position:-20px;}
                    }
                }
                .flight-price {text-align:center; padding-top:15px; padding-bottom:15px;
                    label {font-weight:bold; font-size:12px;}
                    h3 {color:$color-main-orange; font-weight:bold; font-size:27px; margin-top:0; margin-bottom:0;}
                    p {font-size:9px; color:$color-main-orange; margin-bottom:0;}
                    .btn {width:80%; margin-right:auto; margin-left:auto; padding-top:10px; padding-bottom:10px; font-size:12px; margin-top:15px;}
                }
            }
        }
        //*****
        // search result departure
        .search-result-departure {float:left;}
        // search result return
        .search-result-return {float:right;}
        
        //*****
        // search result title
        .search-result-title {color:#fff; background:#1daee4; position:relative; margin-bottom:15px;
            &:before, &:after {@include clearfix();}
            h4 {font-size:36px; font-weight:600; position:absolute; padding:15px; background:#2d9ac6; margin:0; height:100%;}
            div {float:left; padding:10px; margin-left:75px;
                h5 {font-size:16px; font-weight:600; margin:0; margin-bottom:10px; position:relative; padding-left:35px;
                    &:before {width:30px; height:30px; display:block; content:""; position:absolute; background:url(/Assets/images/plane-updown-sprite.png) no-repeat; top:0; left:0;}
                }
                p {margin-bottom:0; font-size:12px;
                    span.separator {display:inline-block; width:30px; border-top:2px solid #fff; position:relative; top:-3px;}
                    span.route-date {display:block;}
                }
            }
        }
        //*****
        // flight filter
        .search-result-filter {margin-bottom:15px;
            .container {padding:0;}
            .filter-left {float:left; width:10%; border-top:none;
                &>span {font-weight:bold; padding:15px 0; display:block; font-size:14px;}
            }
            .filter-right {float:left; width:90%; border-top:none;
                .filter-trigger {
                    &>div {text-align:center; padding:10px 0;
                        span {position:relative; padding-left:0;
                            &:before {width:20px; height:20px; background:url(/Assets/images/flight-filter-title-sprite.png) no-repeat; content:""; display:block; margin-left:auto; margin-right:auto; position:static;}
                        }
                        &+div {border-left:$border-default;}
                        &.filter-stop {width:25%;
                            span:before {background-position:0 0;}
                            &.active span:before {background-position:0 -20px;}
                        }
                        &.filter-price {width:20%;
                            span:before {background-position:-20px 0;}
                            &.active span:before {background-position:-20px -20px;}
                        }
                        &.filter-airline {width:20%;
                            span:before {background-position:-40px 0;}
                            &.active span:before {background-position:-40px -20px;}
                        }
                        &.filter-duration {width:35%;
                            span:before {background-position:-60px 0; width:50px;}
                            &.active span:before {background-position:-60px -20px;}
                        }
                    }
                }
                .filter-content {
                    .filter-transit {
                        .tab-detail label {display:block; border-left:none; margin-left:0; padding-left:0;}
                    }
                    .filter-airline {
                        .tab-detail {width:300px;}
                    }
                    .filter-duration {
                        .departure {padding-right:10px;}
                        .arrival {padding-left:10px;}
                    }
                }
            }
        }
        //*****
        // flight sort
        .search-result-sort {padding:10px 0; margin-bottom:0;
            .container>div {float:left; text-align:center;
                span {font-size:12px;}
                &.sort-airline {width:22%;}
                &.sort-departure {width:18.5%;}
                &.sort-duration {width:18%;}
                &.sort-arrival {width:15%; text-align:left;}
                &.sort-price {width:23%; text-align:left; padding-left:5px;}
            }
        }
        //*****
        // flight search result list
        .search-result-list {
            >.container {padding:0;}
        }

        //*****
        // flight
        .flight {
            // if inactive
            &.inactive {
                .flight-summary {
                    .flight-summary-left {}
                    .flight-summary-right {display:none;}
                }
                .flight-detail {display:none;}
            }

            // default
            .flight-summary {
                .flight-summary-left {width:72.5%;
                    .summary-top {
                        .summary-top-left {width:30%;
                            h5 {}
                            img {height:50px;}
                        }
                        .summary-top-right {width:70%; padding:0; padding-top:20px;
                            .flight-date-departure {
                                h4 {font-size:16px;
                                    span {display:block; margin:0;}
                                }
                            }
                            .flight-date-duration {
                                h5 {font-size:10px;}
                            }
                            .flight-date-arrival {@extend .flight-date-departure; text-align:left; padding-right:0;
                                span.overday {display:inline;}
                            }
                        }
                    }
                    .summary-bottom {
                        .summary-bottom-left {width:30%;
                            span {margin:0;}
                        }
                        .summary-bottom-right {width:70%;
                            a {font-size:9px; margin-left:7px;
                                &:before {left:-13px; top:3px;}
                            }
                            &.flight-duration {display:none;}
                        }
                    }
                }
                .flight-summary-right {width:27.5%; padding:10px; padding-right:0; padding-bottom:0;
                    h4 {font-size:19px;}
                    small {font-size:8px;}
                    a {}
                }
            }
            .flight-detail {
                &>h3 {margin:5px 0; padding-left:7%;}
                .segment {position:relative;
                    .segment-number {width:7%;
                        span {padding:3px 5px;}
                    }
                    .segment-left {width:10%; position:static; padding-top:30px;
                        &:after {content:"";}
                        .segment-airline-name {position:absolute; top:-10px; left:7%; width:100%;}
                    }
                    .segment-right {width:83%; padding-top:30px;
                        .segment-departure {padding-top:0;}
                        .segment-duration {padding:0; padding-top:15px;}
                        .segment-arrival {@extend .segment-departure;}
                    }
                }
                .transit {
                    p {font-weight:600;}
                }
            }
        }

    }
}

// **********
// flight review wrapper
.flight-review-wrapper {position:fixed; width:100%; height:100%; top:0; left:0; background:rgba(100,100,100,0.7); z-index:100;
    .close-review {cursor:pointer;}
    // if active
    &.active {overflow:auto;
        .flight-review {height:auto; position:relative;
            .flight-review-detail {display:block;}
        }
    }
    // default
    .flight-review {@include border-radius($border-radius-default); border:5px solid $color-main-blue; background:#fff; width:860px; height:340px; position:absolute; margin:auto; top:0; right:0; bottom:0; left:0;
        // flight review header
        .flight-review-header {background:#1daee4; padding:10px;
            h3 {color:#fff; text-align:center; padding-right:15px; margin:0;}
        }
        // flight review summary
        .flight-review-summary {
            &:before, &:after {@include clearfix();}
            .summary-left {width:75%; float:left; border-right:$border-default;
                &>section {
                    &:before, &:after {@include clearfix();}
                }
                &>section+section {border-top:$border-default;}
                .summary-flight {
                    &.warning {
                        header:after {background-image:url(/Assets/images/flight-detail-active-red.png);}
                        header h3 {padding-right:0;}
                        header span.warning {background:#e80000; color:#fff; padding:10px; float:right; position:relative; top:-10px;}
                    }
                    header {background:#eaeaea; position:relative; padding-left:40px;
                        &:after {content:""; position:absolute; top:0; left:0; height:100%; overflow:hidden; width:50px; background:url(/Assets/images/flight-detail-active.png) top left no-repeat; background-size:contain;}
                        h3 {margin:0; font-weight:bold; font-size:12px; padding:10px; padding-left:25px; position:relative;
                            &:after {position:absolute; width:15px; height:15px; background:url(/Assets/images/flight-review-title-sprite.png) no-repeat; background-size:200%; content:""; top:10px; left:0;}
                        }
                    }
                    .flight-content {
                        .flight-airline {width:25%; float:left; text-align:center; border-right:$border-default;
                            h5 {color:$color-main-blue; font-weight:bold;}
                             img {height:65px;}
                        }
                        .flight-date {width:75%; float:left; padding-top:12px;
                            .flight-date-departure {float:left; width:35%; padding-right:20px; text-align:right;
                                h4 {font-weight:600; font-size:18px;
                                    span {font-weight:bold; margin-left:10px;}
                                }
                                h5 {font-size:12px;}
                            }
                            .flight-date-duration {float:left; width:30%; text-align:center;
                                .time {margin-top:5px; margin-bottom:5px; font-size:11px; position:relative;
                                    &:before {content:""; background:url(/Assets/images/sandclock.png) top left no-repeat; background-size:100%; width:10px; height:20px; position:relative; margin-right:10px; display:inline-block; vertical-align:middle;}
                                }
                                .transit {border-top:3px solid $color-main-blue; padding-top:5px; margin-top:0; font-size:11px;}
                            }
                            .flight-date-arrival {@extend .flight-date-departure; text-align:left; padding-right:0; padding-left:20px;
                                .overday {background:#aaa; color:#fff; position:relative; top:-3px; padding:3px; font-size:11px;}
                            }
                        }
                    }
                    // if flight return
                    &.flight-return {
                        header h3:after {background-position:-15px;}
                    }
                }
                .flight-button {text-align:right; padding:5px 0;;
                    .flight-detail-trigger {margin-left:30px; padding:7px; display:inline-block; position:relative; color:$color-main-blue; text-decoration:none; cursor:pointer;
                        &:before {content:""; display:block; position:absolute; width:24px; height:24px; background:url(/Assets/images/flight-button-sprite.png); left:-24px;}
                    }
                    .flight-rules-trigger {@extend .flight-detail-trigger; cursor:pointer;
                        &:before {background-position:-24px;}
                    }
                }
            }
            .summary-right {width:25%; float:left; text-align:center; padding-top:80px;
                label {}
                h3 {color:$color-main-orange; font-weight:bold; font-size:27px; margin-bottom:0; margin-top:0;}
                p {color:$color-main-orange; font-size:9px;}
                .btn {padding-right:50px; padding-left:50px;}
            }
        }
        // flight review detail
        .flight-review-detail {border-top:5px solid $color-main-blue; display:none;
            &>h3 {background:#bfeeff; color:$color-main-blue; text-align:center; padding:15px; margin:0; font-weight:bold; font-size:16px;}
            .detail-flight {
                .flight-header {background:#eaeaea; position:relative; padding-left:40px; margin-bottom:25px;
                    &:after {content:""; position:absolute; top:0; left:0; height:100%; overflow:hidden; width:50px; background:url(/Assets/images/flight-review-title-bg.png) top left no-repeat; background-size:contain;}
                    h3 {margin:0; font-weight:bold; font-size:12px; padding:10px; padding-left:25px; position:relative;
                        &:after {position:absolute; width:15px; height:15px; background:url(/Assets/images/flight-review-title-sprite.png) no-repeat; background-size:200%; content:""; top:10px; left:0;}
                    }
                }
                &.flight-return {
                    .flight-header h3:after {background-position:-15px;}
                }
                .flight-detail {padding-bottom:20px; position:relative;
                    &>h3 {padding:10px; padding-left:5%; font-weight:600; color:$color-main-blue; margin-top:10px;
                        .close-flight-detail {color:#bbb; cursor:pointer; font-weight:bold;}
                    }
                    .segment {
                        &:before,&:after {content:""; clear:both; display:block; width:100%;}
                        .segment-number {float:left; width:5%;
                            span {background:$color-main-blue; color:#fff; font-weight:600; padding:3px 10px;}
                        }
                        .segment-left {float:left; width:23%; position:relative; padding-right:25px;
                            &:after {content:""; background-image:url(/Assets/images/flight-segment-separator.png); background-repeat:no-repeat; width:0px; height:35px; position:absolute; right:15px; top:15px;}
                            .segment-airline-logo {height:50px; border:$border-default; float:left; margin-right:15px;}
                            .segment-airline-name {font-weight:bold; color:$color-main-blue; font-size:12px;}
                            .segment-airline-number {font-weight:600; color:$color-main-blue; font-size:12px;}
                            .flight-facilities {padding-right:5px; padding-top:5px;
                                span {background:url(/Assets/images/flight-facilities-sprite.png) no-repeat; display:inline-block; margin:0;
                                    &.flight-baggage {width:35px; background-position:-64px; text-align:center; color:#fff; position:relative; padding-top:5px; margin-top:-10px; top:-7px;}
                                    &.flight-tax {width:35px; background-position:-30px; padding-bottom:30px;}
                                    &.flight-meal {width:30px; padding-bottom:30px;}
                                }
                            }
                        }
                        .segment-right {@extend .segment-left; width:72%; padding-right:0;
                            &:before,&:after {content:""; clear:both; display:block; width:100%;}
                            &>div {float:left;}
                            .segment-departure {width:33.33333334%; padding-top:5px; padding-left:15px;
                                h5 {margin:0; margin-bottom:5px; font-size:12px;}
                                h3 {font-weight:bold; margin:0; margin-bottom:10px; font-size:14px;}
                                h4 {font-weight:600; margin:0; margin-bottom:5px; font-size:12px;}
                            }
                            .segment-duration {width:33.33333334%; padding-right:40px; padding-top:25px;
                                h5 {border-bottom:3px solid $color-main-blue; text-align:center; padding-bottom:5px;
                                    span {font-weight:bold;}
                                }
                            }
                            .segment-arrival {@extend .segment-departure; padding-left:0;}
                        }
                    }
                    .transit {text-align:center; padding:15px 0;
                        &:after {border-top:1px dashed $color-main-blue; content:""; display:block; width:100%; position:relative; top:-10px;}
                        p {background:#fff; display:inline; font-style:italic; font-weight:600; color:$color-main-blue; background:#fff; position:relative; z-index:2; padding:0 10px;}
                    }
                }
            }
        }
    }
}
