/*

INDEX Page styling
file : /Assets/travorama20/css/_page_index.scss

*/


.page-index {
    //*****
    // section search 
    .section-search {height:665px; overflow:hidden; position:relative;
        &:before, &:after {@include clearfix();}

        // search form
        .search-form {width:450px; height:665px; background:rgba(37,37,37,0.8); position:relative; z-index:2;
            .tab-header {height:70px; overflow:hidden;
                &:before, &:after {@include clearfix();}
                nav {
                    ul {margin:0; padding:0;
                        li {float:left; width:33.333333334%; list-style:none;
                            a {color:#4f4f4f; background:#d2d2d2; display:block; padding:20px 15px; font-weight:600; text-decoration:none; font-size:20px;
                                &:before {content:""; width:30px; height:30px; display:inline-block; background-image:url(/Assets/images/search-tab-sprite.png); margin-bottom:-5px; margin-right:5px;}
                            }
                            &.active {
                                a {color:#ffe932; background:#4e4e4e;}
                            }
                            &.flight {
                                a:before {background-position:0 0;}
                                &.active a:before {background-position:0px 30px;}
                            }
                            &.hotel {
                                a:before {background-position:60px 0;}
                                &.active a:before {background-position:60px 30px;}
                            }
                            &.activity {
                                a:before {background-position:30px 0;}
                                &.active a:before {background-position:30px 30px;}
                            }
                        }
                        li+li {border-left:2px solid #bdbdbd;}
                    }
                }
            }
            .tab-content {color:#fff; padding:30px;
                &>div {display:none;}
                &>div.active {display:block;}
                &:before, &:after {@include clearfix();}
                input {color:#6a6a6a;}
                //*****
                // tab flight
                .tab-flight {
                    .form-group {margin-bottom:5px;}
                    h3 {margin-bottom:15px; margin-top:0;}
                    .form-flight-type {margin-bottom:10px;}
                    label {font-weight:normal;}
                    .btn.btn-yellow {font-size:20px; letter-spacing:0.1px; padding:10px 0;}
                    // flight type
                    .form-group.flight-type {}
                    // flight destination
                    .form-group.flight-destination {margin-bottom:10px;}
                    .switch-destination {background:url(/Assets/images/switch-destination.png) center center no-repeat; width:41px; height:41px; display:inline-block; margin:10px 0 5px;}
                    .form-flight-origin, .form-flight-destination {text-align:center; font-size:17px; padding:20px 15px;}
                    // flight date
                    .form-group.flight-date {margin-bottom:10px;
                        &>div:first-child {padding-right:7.5px;}
                        &>div:last-child {padding-left:7.5px;}
                    }
                    .form-flight-departure {background:#fff; color:#6a6a6a; padding:10px 15px 0; @include border-radius(4px); border:1px solid #ccc; font-weight:600;
                        &:before, &:after {@include clearfix();}
                        small {display:block; font-weight:normal; margin-bottom:-10px;}
                        .date {float:left; font-size:52px; margin-right:10px; width:60px;}
                        .month {display:block; margin-top:15px; margin-bottom:-5px; font-size:19px;}
                        .year {display:block; font-size:19px;}
                    }
                    .form-flight-return {@extend .form-flight-departure;}
                    // flight class
                    .form-group.flight-class {margin-bottom:10px;}
                    .form-flight-class {display:block; padding:10px 15px; height:auto; text-decoration:none;}
                    // flight passenger
                    .form-group.flight-passenger {margin-bottom:10px;
                        &>div {padding-left:7.5px; padding-right:7.5px;}
                        &>div:first-child {padding-right:7.5px; padding-left:15px;}
                        &>div:last-child {padding-left:7.5px; padding-right:15px;}
                    }
                    .form-flight-passenger {background:#fff; padding:10px; color:#6a6a6a; @include border-radius(4px); border:1px solid #ccc; position:relative; height:80px;
                        small {font-sizE:12px; line-height:0;
                            br {display:block; margin-top:0; margin-bottom:-5px; content:"";}
                        }
                        input {width:50px; height:60px; position:absolute; right:5px; border:0; text-align:right; font-size:45px; padding:0; line-height:0; margin:0; letter-spacing:0; font-weight:600;}
                    }
                }
                //*****
                // tab hotel
                .tab-hotel {
                    h3 {margin-bottom:30px;}
                    // hotel location
                    .form-group.hotel-location {
                        input[type="text"] {height:auto; padding:15px; text-align:center; font-size:17px;}
                    }
                    // hotel checkin and checkout date
                    .form-group.hotel-date {
                        &>div:first-child {padding-right:7.5px;}
                        &>div:last-child {padding-left:7.5px;}
                    }
                    .form-hotel-checkin {background:#fff; color:#6a6a6a; padding:10px 15px 0; @include border-radius(4px); border:1px solid #ccc; font-weight:600;
                        &:before, &:after {@include clearfix();}
                        small {display:block; font-weight:normal; margin-bottom:-10px;}
                        .date {float:left; font-size:52px; margin-right:10px; width:60px;}
                        .month {display:block; margin-top:15px; margin-bottom:-5px; font-size:19px;}
                        .year {display:block; font-size:19px;}
                    }
                    .form-hotel-checkout {@extend .form-hotel-checkin;}
                    // hotel room
                    .form-group.hotel-room {margin-bottom:60px;
                        &>div:first-child {padding-right:7.5px;}
                        &>div:last-child {padding-left:7.5px;}
                        //
                        .form-hotel-night {background:#fff; padding:10px; color:#6a6a6a; @include border-radius(4px); border:1px solid #ccc; position:relative; height:80px;
                            small {font-sizE:12px; line-height:0;
                                br {display:block; margin-top:0; margin-bottom:-5px; content:"";}
                            }
                            input {width:50px; height:60px; position:absolute; right:5px; border:0; text-align:right; font-size:45px; padding:0; line-height:0; margin:0; letter-spacing:0; font-weight:600;}
                        }
                        .form-hotel-room {@extend .form-hotel-night;}        

                    }
                    // hotel submit
                    input[type="submit"] {padding:15px; height:auto; font-size:19px;}
                }
                //*****
                // tab activity
                .tab-activity {text-align:center;
                    h2 {font-size:37px; line-height:120%; margin-bottom:30px;}
                    h4 {font-size:19px; line-height:125%; margin-bottom:30px;}
                    hr {width:50%;}
                    h3 {font-size:25px; margin-top:45px; margin-bottom:45px;}
                    input[type="text"] {padding:15px; text-align:center; height:auto;}
                    input[type="submit"] {padding:15px; height:auto; font-size:19px;}
                }
            }
        }
        // search calendar
        .search-calendar {width:450px; height:665px; background:#252525; position:absolute; top:0; left:450px; z-index:2; display:none;
            .calendar-header {height:70px; background:#4e4e4e; color:#fff; font-weight:600; font-size:22px; padding:20px 15px;
                .close-calendar {float:right; cursor:pointer;}
            }
            .calendar-body {}
        }
        // location dropdown
        .search-location {width:900px; height:665px; background:#fff; position:absolute; top:0; left:450px; z-index:2; display:none;
            .location-header {height:70px; background:#4e4e4e; color:#fff; font-weight:600; font-size:22px; padding:20px 15px;
                .close-location {float:right; cursor:pointer;}
            }
            .location-body {
                .location-recommend {}
                .location-search {display:none;}
            }
        }
        // slider
        .slider {position:absolute; width:100%; height:100%; top:0; left:0; background:url(/Assets/images/_sample/main-slider.jpg) center center; background-size:cover;
            .slider-text {font-size:17px; color:#fff; font-weight:600; text-align:center; height:250px; top:50%; margin-top:-200px; position:relative;}
        }

    }

    //*****
    // section reason
    .section-reason {
        &:before, &:after {@include clearfix();}
        .reason {color:#fff; float:left; width:25%; padding:30px; height:170px;
            h3 {margin:0; position:relative; margin-bottom:15px; letter-spacing:0; line-height:120%;
                &:before {position:absolute; left:0; top:0;}
            }
            p {margin-bottom:0;}
        }
        //*****
        .reason-1 {background:#032e55; padding:40px 70px;
            h3 {font-size:36px;
                b {font-size:48px;}
            }
        }
        .reason-2 {background:#1daee4;
            h3 {padding-left:110px;
                &:before {content:url(/Assets/images/reason-2-icon.png);}
            }
        }
        .reason-3 {background:#47cdff;
            h3 {padding-left:75px;
                &:before {content:url(/Assets/images/reason-3-icon.png);}
            }
        }
        .reason-4 {background:#7fdafc;
            h3 {padding-left:90px;
                &:before {content:url(/Assets/images/reason-4-icon.png);}
            }
        }
    }
    //*****
    // section popular
    .section-popular {padding-top:30px;
        .popular-left {padding-right:7.5px;}
        .popular-middle {padding-left:7.5px; padding-right:7.5px;}
        .popular-right {padding-left:7.5px;}
        img {max-width:100%;}
        .destination {position:relative; margin-bottom:15px; overflow:hidden;
            a {position:absolute; top:0; width:100%; height:100%; background:url(/Assets/images/popular-destination-bg.png) bottom center repeat-x; color:#fff;
                h3 {float:left; width:65%; position:absolute; bottom:0; left:0; z-index:2; color:#fff; padding:15px; padding-left:25px; margin:0;
                    small {display:block; color:#fff; margin-bottom:5px;}
                }
                span {float:left; width:35%; position:absolute; bottom:0; right:0; z-index:2; padding:150px 10px 15px; background:url(/Assets/images/popular-destination-bg.png) bottom center repeat-x; color:#ffd132; font-size:17px; text-align:center; font-weight:600; text-decoration:underline;}
            }
            img {}
            //*****
            &.yellow {
                a {background:url(/Assets/images/popular-destination-bg-yellow.png) bottom center repeat-x;
                    span {background:url(/Assets/images/popular-destination-bg-yellow.png) bottom center repeat-x;}
                }
            }
            //*****
            &.small {height:260px;}
            &.medium {height:435px;}
            &.large {height:375px;}
            &.half {height:542.5px;}
        }
    }
}