body.page-error.global-error-page-mobile {padding:0; overflow: hidden;}
.error-page {
    background-image: url(/Assets/images/global-error.jpg);
    background-size: cover;
    min-height: 974px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    font-family: 'Open Sans';
    .container {width: 860px;}
    .page-content {
        max-width: 300px;
        margin-top: 120px;
        .logo {
            background: url('/Assets/images/logo-travorama.png') no-repeat;
            display: block;
            height: 34px;
            margin-bottom: 40px;
        }
        .bg-txt {
            font-size: 27px;
            text-transform: uppercase;
            font-weight: 600;
        }
        .sm-txt {
            font-size: 13px;
            line-height: 20px;
            margin: 40px 0 30px;
            &>a {
                color: #000;
                text-decoration: underline;
            }
        }
        a.btn.btn-yellow {
            background: #ffd632;
            font-size: 15px;
            text-transform: uppercase;
            color: #000;
            font-weight: 700;
            letter-spacing: 1px;
            padding: 10px 20px;
            border: 2px solid #ebb600;
        }
    }
    &.mobile {
        background-image: none;
        min-height: auto;
        .container {width: auto;}
        .logo {
            background: url(/Assets/images/travorama-logo-color.png) no-repeat center;
            display: block;
            height: 27px;
            margin: 15px 0 60px;
        }
        .page-content {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            padding: 0 15px;
            width: 100%;
            max-width: none;
            margin-top: 0;
            .bg-txt {
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 700;
                text-align: center;
                padding-bottom: 10px;
                border-bottom: 1px solid #ccc;
            }
            .sm-txt {
                font-size: 11px;
                line-height: 16px;
                margin: 30px 0;
            }
            a.btn.btn-yellow {
                background: #ffd632;
                font-size: 15px;
                text-transform: uppercase;
                color: #000;
                font-weight: 700;
                letter-spacing: 0.5px;
                padding: 10px;
                height: 40px;
            }
        }
    }
}