/*GENERAL*/
body {font-family: 'Open Sans', sans-serif;}
body.contact-us {padding-top: 0; background: #fff;}
span.italic {font-style: italic;}
.form-control {padding: 6px 10px;}

/*FAQ, HOW TO, CONTACT US*/
.faq-header, .how-to-header{
    font-size: 13px;
    color: #000;
    padding: 20px 15px;
}
.faq-footer {
    font-size: 13px;
    .faq-top {
        padding: 20px 15px;
        border-bottom: 1px solid #c9c9c9;
        span.phone {
            font-size: 24px;
            font-weight: 900;
        }
    }
    .faq-bottom {padding: 20px 15px 40px;}
}

.how-to-footer {
    font-size: 13px;
    padding: 20px 15px 40px;
    a {
        color: #36a1e5;
        text-decoration: underline;
    }
}

/*.page.page-contact.contact-us {
    .container {padding: 0 30px;}
    .contact-list {@include border-radius(5px); @include box-shadow(0px -2px 15px #555); background:#0c9ed5; padding:15px; color:#fff; margin-top:15px; margin-bottom:35px; position:relative; margin-top:60px; padding-top:35px; padding-bottom:0;
        &:before {width:154px; height:154px; background:url(/Assets/mobile/images/contact-plane.png) center center no-repeat; content:""; position:absolute; top: 0; left: 50%; transform: translate(-50%, -50%); background-size: 50%;}
    }
}*/

.contactus-page {
    .container-page {
        input.form-control {
            -webkit-box-shadow:none;
            -moz-box-shadow:none;
            box-shadow:none;
            border: none;
            -webkit-border-radius:0;
            -moz-border-radius:0;
            border-radius:0;
            border-bottom: 1px solid #dcdcdc;
            height: 30px;
        }
        textarea.form-control {
            -webkit-box-shadow:none;
            -moz-box-shadow:none;
            box-shadow:none;
            -webkit-border-radius:0;
            -moz-border-radius:0;
            border-radius:0;
            border: 1px solid #dcdcdc;
            height: 80px;
        }
        label.control-label {
            margin-bottom: 15px;
            font-weight: 400;
        }
    }
    .btn.btn-yellow {border: none;}
    input[type="text"], input[type="password"], input[type="number"], input[type="email"], textarea {
        &::-webkit-input-placeholder {
            font-style: italic;
        } &::-moz-placeholder {
            font-style: italic;
        } &:-ms-input-placeholder {
            font-style: italic;
        } &:-moz-placeholder {
            font-style: italic;
        }
    }
    .form-group textarea {resize: none;}
    
    .section-title {font-weight:700;
        &.stripe {background-size: 50%;}
    }
}

/*ACCORDION*/
.accordion-wrapper { 
    border-bottom: 1px solid #c9c9c9;
    .accordion-title {
        background-color: #f0f0f4;
        color: #000;
        cursor: pointer;
        padding: 15px;
        width: 100%;
        font-size: 13px;
        font-weight: 600;
        border-top: 1px solid #c9c9c9;
        &.active {
            border-bottom: 1px solid #c9c9c9;
            &:after {
                content: " ";
                display: block;
                background:url(/Assets/images/helpSection/arrow-up.png) no-repeat;
                width: 20px;
                height: 8px;
                background-size: 70%;
                float: right;
                margin-top: 6px;
            }
        }
        &:after {
            content: " ";
            display: block;
            background:url(/Assets/images/helpSection/arrow-down.png) no-repeat;
            width: 20px;
            height: 8px;
            background-size: 70%;
            float: right;
            margin-top: 6px;
        }
    }
    .accordion-content {
        max-height: 0;
        overflow: hidden;
        font-size: 12px;
        line-height: 16px;
        &.show {
            max-height: 100%;
            padding: 15px 20px;
            .accordion-desc {
                color: #282828;
                a {
                    color: #36a1e5; 
                    text-decoration: underline;
                }
                &>ol {
                    padding: 0 15px;
                    &>li {margin-bottom: 10px;}
                }
            }
            &>ul {
                list-style-type: none;
                padding: 0;
                &>li {margin-bottom: 15px;}
            }
            
            .accordion-subtitle {
                color: #36a1e5;
                font-weight: 600;
                margin-bottom: 10px;
            }
        }
    }
    img {
        max-width: 100%;
        height: auto;
    }
}

