/*
TRAVORAMA 2.0
file : /Assets/travorama20/css/travorama20.scss
*/

/*--------------------*/
/* variables */
$color-main-blue:#1daee4;
$color-main-orange:#ff7200;
$border-default:1px solid #ccc;
$border-radius-default:2px;
$transition-default:all 0.5s;

/*--------------------*/
/* icon */
$app-store-bg: '../images/app-store-bg.png';
$app-store-cs: '../images/app-store-cs.png';
$play-store-bg: '../images/play-store-bg.png';
$mobile-app: '../images/mobile-app.png';


/*--------------------*/
/* mixins */
@mixin letter-spacing($value){
    letter-spacing:$value;
}

@mixin border-radius($radius){
    -webkit-border-radius:$radius;
    -moz-border-radius:$radius;
    border-radius:$radius;
}

@mixin box-shadow($properties){
    -webkit-box-shadow:$properties;
    -moz-box-shadow:$properties;
    box-shadow:$properties;
}

@mixin skew-x($value){
    -ms-transform: skewX($value); /* IE 9 */
    -webkit-transform: skewX($value); /* Safari */
    transform: skewX($value); /* Standard syntax */
}

@mixin transition($value){
    -webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    transition: $value;
}

@mixin clearfix(){
    display:block; width:100%; content:""; clear:both;
}

/*--------------------*/
/* mixins */
@mixin letter-spacing($value){
    letter-spacing:$value;
}

@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($properties){
    -webkit-border-radius: $properties;
    -moz-border-radius: $properties;
    -ms-border-radius: $properties;
    box-shadow: $properties;
}


@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin translate($x, $y) {
    -webkit-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    transform: translate($x, $y);
}

/*--------------------*/
/*Font Family*/
@font-face {
    font-family: 'Open Sans';
    src: url("../../fonts/OpenSans-Semibold.eot");
    src: url("../../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans-Regular.woff2") format("woff2"), url("../../fonts/OpenSans-Regular.woff") format("woff"), url("../../fonts/OpenSans-Regular.ttf") format("truetype"), url("../../fonts/OpenSans-Regular.svg#din-regularregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*--------------------*/
/* font */
.os-regular {font-family: 'Open Sans'; font-weight: 400}
.os-semibold {font-family: 'Open Sans'; font-weight: 600}
.os-bold {font-family: 'Open Sans'; font-weight: 700}

.xs-txt {font-size: 9px !important;}
.sm-txt {font-size: 11px !important;}
.normal-txt {font-size: 12px !important;}
.md-txt {font-size: 16px !important;}
.lg-txt {font-size: 19px !important;}
.xlg-txt {font-size: 24px !important;}

.up-txt {text-transform: uppercase;}

/*--------------------*/
/* general class */
html {height:100%;}

body {overflow-x: hidden; margin: 0; font-family:'Open Sans', sans-serif; letter-spacing:0.5px; -webkit-font-smoothing: subpixel-antialiased; position:relative; min-height:100%; background:#f9f9f9; letter-spacing: 0; -webkit-font-smoothing: antialiased;}

hr {border-top:$border-default;}

b, strong {font-weight: 700;}

.img-loading {
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.page-loading {display:none;}
.page-loaded {display:block;}

.hide {height:0; overflow:hidden; @include transition($transition-default);}

img {max-width:100%;}

span.close {cursor:pointer;}

.no-scroll {overflow:hidden;}

.regular-txt {
    font-family:'Open Sans';
    font-weight: 400;
}

.semibold-txt {
    font-family:'Open Sans';
    font-weight: 600;
}

.bold-txt {
    font-family:'Open Sans';
    font-weight: 700;
}

.darkgrey-txt {color: #555555;}
.blue-txt {color: $color-main-blue;
    &.bg {
        font-size: 16px;
        @extend .os-bold; 
        font-weight: 700;
        line-height: 20px;
    }
}
.grey-txt {color: #999;}
.green-txt {color: #3a8e1b;}
.orange-txt {color: #ff7200;}
.white-txt {color: #ffffff;}

/*Custom scrollbar*/ 
.custom-scroll {
    &::-webkit-scrollbar {width: 13px;}
    &::-webkit-scrollbar-track {background: #ddd;}
    &::-webkit-scrollbar-thumb {background: #999;}
}

.btn.btn-yellow {background:#ffd632; border:2px solid #ebb600; color:#4f3500; @extend .os-bold; height: auto;
    &.lg-btn {@include border-radius(2px); text-transform: uppercase; padding: 10px 20px;}
    &.sm-btn {@include border-radius(2px); text-transform: uppercase; padding: 6px 12px;}
}
.btn.btn-grey, .btn.btn-gray {background:#adadad; color:#fff; @extend .os-bold; border:2px solid #999;
    &.lg-btn {@include border-radius(2px); text-transform: uppercase; padding: 10px 20px;}
    &.sm-btn {@include border-radius(2px); text-transform: uppercase; padding: 6px 12px;}
}
.btn.block {display:block; width:100%;}

.result-form-right .btn-yellow {
    height: auto;
    font-size: 14px;
    border-radius: 2px;
}

.section-title.stripe {@extend .os-semibold; font-weight:600; background:url(/Assets/images/yellow-stripe.png) center bottom no-repeat; padding-bottom:30px; margin-bottom:45px;
    &.small-stripe {background-image:url(/Assets/images/yellow-stripe-small.png);}
    span {color:#1eafe4; @extend .os-bold;}
}

.dropdown-wrapper {position:relative;}
.dropdown-content {background:#ddd; position:absolute; top:100%; left:0; display:none; z-index:2;
    ul {margin:0; padding:0;
        li {list-style:none; display:block; width:100%; border:none !important;
            a {display:block; width:100%; text-align:center;
                &:hover {background:$color-main-blue; color:#fff !important; text-decoration:none;}
            }
        }
    }
}
.dropdown-content.flag-select {width:150%; left:auto; right:0;
    li {padding:0 !important;}
    a {padding:10px;}
}

form label.important:after {content:"*"; color:#f00000;}

.text-main-color {color:$color-main-blue;}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
}

.no-spacing {letter-spacing:0;}

.caret {margin-left: 5px;}

.list-blue {list-style:none; padding-left:25px; counter-reset:list-counter;
    li {position:relative; padding-top:5px; padding-bottom:10px;
        &:before {content:counter(list-counter); counter-increment:list-counter; background:#3ab8e7; color:#fff; position:absolute; @include border-radius(50px); @extend .os-bold; width:25px; height:25px; padding-top:5px; display:block; text-align:center; left:-30px; top:0;}
    }
}

input[type="submit"] {box-shadow: none !important;}

input[type="text"], input[type="password"], input[type="number"], input[type="email"], select.form-control, .change-flight-class.form-control {
    box-shadow: none; border: 1px solid #d6d6d6; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; font-size: 12px; padding: 15px 12px; height: auto
}

.form-control {color: #000000;}

// form Search Location pop up
// and form Date Selector pop up
// search calendar
.search-calendar, .search-calendar-hotel {width:320px; max-height: 320px; width: 908px; background:#252525; position:absolute; top: 0; z-index:2; display:none;
    .calendar-header {height:40px; background:#4e4e4e; color:#fff; @extend .os-semibold; font-weight:600; font-size:17px; padding:10px 15px;
        .close-calendar, .close-calendar-hotel {float:right; cursor:pointer;}
    }
    .calendar-body {padding-top:15px;}
    .home-nav {display:none;}
}
// datepicker
.hotel-date-picker, .date-picker {padding: 25px 50px;
    .ui-datepicker {width:100% !important; position:relative;
        .ui-datepicker-group {width:100%; padding: 15px 50px;
            & + .ui-datepicker-group {border-top:$border-default;}
            .ui-datepicker-title {color:#fff; color:$color-main-blue; font-size:14px; @extend .os-semibold; font-weight:600; margin-bottom:10px;}
            .ui-datepicker-calendar {width:100%; color:#fff;
                thead {
                    th {text-align:center; padding-bottom:10px;
                        span {color:#fff !important; font-size:12px;}
                    }
                }
                tbody {
                    tr {margin-bottom:5px;
                        td {text-align:center;
                            span, a {color:#fff; display:inline-block; font-size:12px; padding-top:4px; width:25px; height:25px;}
                            a:hover {background:#fff; color:#252525; text-decoration:none;}
                        }
                    }
                }
                .ui-state-disabled, .ui-datepicker-unselectable {cursor:not-allowed;
                    span {color:#666;}
                }

                .ui-state-holiday, .ui-datepicker-week-end.ui-state-holiday {
                    span, a {color:red;}
                }
                .ui-datepicker-week-end {
                    span, a {color:#fed83e;}
                    a:hover {background:#fed83e;}
                    // if disabled
                    &.ui-datepicker-unselectable {
                        span, a {color:#666;}
                    }
                }
            }
            .ui-datepicker-prev {position:absolute; top:-10px; left:15px; cursor:pointer; color:$color-main-blue; font-size:12px;}
            .ui-datepicker-next {position:absolute; top:-10px; cursor:pointer; color:$color-main-blue; font-size:12px; left:auto; right:15px; font-size:12px;}
        }
    }
}

// location dropdown
.search-location, .search-hotel {width:850px; min-height:520px; background:#fff; position:absolute; top:0; left:325px; z-index:3; display:none;
    .location-header {height:40px; background:#4e4e4e; color:#fff; @extend .os-semibold; font-weight:600; font-size:17px; padding:10px 15px;
        .close-location, .close-hotel {float:right; cursor:pointer;}
    }
    .location-body {color:#333; height: 400px;
        .location-recommend {
            .tab-header {background:#eaeaea; width:100%; padding:0 30px; position:relative;
                a.nav-click {width:30px; height:60px; display:block; background-color:#999999; position:absolute; background-image:url(/Assets/images/nav-sprite.png); background-repeat:no-repeat;
                    &.prev {left:0; top:0;}
                    &.next {right:0; top:0; background-position:-30px 0;}
                }
                &:before, &:after {@include clearfix();}
                nav {height:60px; overflow:hidden;
                    ul {margin:0; padding:0; display:block;
                        &:before, &:after {@include clearfix();}
                        li {display:table; float:left; border-right:$border-default; cursor:pointer;
                            span {display:block; color:#626262; background:#eaeaea; font-size:14px; @extend .os-bold; height:60px; padding:0 20px; display:table-cell; vertical-align:middle; line-height:120%;}
                            &.active {border-right-color:#fff;
                                span {color:#21afe5; background:#fff;}
                            }
                            &:last-child {border-right:none;}
                        }
                    }
                }
            }
            .tab-content {
                .col-xs-3 {padding:0 12px;}
                &>div {display:none;
                    &.active {display:block;}
                    h3 {color:$color-main-blue; font-size:14px; @extend .os-bold; margin-top:10px; margin-bottom:6px;}
                    ul {margin:0; padding:0; list-style:none; margin-bottom:23px;
                        li {margin-bottom:0px;
                            a {color:#2f2f2f; @extend .os-semibold; font-weight:600; font-size:13px;
                                &:hover {text-decoration:none;
                                    &:before {content:url(/Assets/images/recommend-selector.png); position:absolute; left:0px;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .location-search {padding:10px; height:475px; overflow:auto;
            .autocomplete-pre {
                .text-pre {display:none;}
                .text-loading {display:none;}
            }
            .autocomplete-no-result {display:none;}
            .autocomplete-result {
                ul {margin:0; padding:0;
                    li {padding:10px; list-style:none; cursor:pointer;
                        &:hover {background:$color-main-blue;}
                    }
                    li+li {border-top:$border-default;}
                }
            }
        }
    .hotel-location-search {height:475px; overflow:auto;
        .hotel-autocomplete-pre {
            .text-pre {display:block;}
            .text-loading {display:block;}
        }
        .hotel-autocomplete-no-result {}
        .hotel-autocomplete-result {
            ul {margin:0; padding:0;
                li {padding:10px; list-style:none; cursor:pointer;
                    &:hover {background:$color-main-blue;}
                }
                li+li {border-top:$border-default;}
            }
        }
    }
}

.search-location {
    .location-search {display:none;}
    nav {width:790px;
        ul {width:945px;
            li {width:135px;}
        }
    }
    .tab-content {padding:0 30px; padding-bottom:15px; padding-top:30px;}
}

.search-hotel {
    nav {width:100%;
        ul {width:100%;
            li {width:50%;}
        }
    }
}

.img-sm {
    width: 100%; 
    height: 63px; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    }

.img-md {
    width: 120px;
    height: 120px;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    padding-right: 10px;
}

// slider
.slider {margin-top:10px; margin-bottom:10px; background:#666;
    .ui-slider-range {background:#fed446;}
    .ui-slider-handle {background:#dedede; @include border-radius(20px); width:15px; height:15px; color:#fff;
        &:focus {border:0;}
    }
}

.button_popup{
border:1px solid #CE9A01;-webkit-box-shadow: #FFF563 0px 1px 0px inset;-moz-box-shadow: #FFF563 0px 1px 0px inset; box-shadow: #FFF563 0px 1px 0px inset; -webkit-border-radius: 10px; -moz-border-radius: 10px;border-radius: 10px;font-family:arial, helvetica, sans-serif; padding: 7px 14px 7px 14px; text-decoration:none; display:inline-block;text-shadow: 0px 1px 0 rgba(255,255,255,0.44);@extend .os-bold; color: #63460C;
 background-color: #FFD65E; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFD65E), to(#FEBF04));
 background-image: -webkit-linear-gradient(top, #FFD65E, #FEBF04);
 background-image: -moz-linear-gradient(top, #FFD65E, #FEBF04);
 background-image: -ms-linear-gradient(top, #FFD65E, #FEBF04);
 background-image: -o-linear-gradient(top, #FFD65E, #FEBF04);
 background-image: linear-gradient(to bottom, #FFD65E, #FEBF04);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFD65E, endColorstr=#FEBF04);
}

.btn.popup-btn-yellow {background:#ffd632; border:2px solid #ebb600; color:#4f3500; @extend .os-bold;}
.btn.popup-block {display:block; width:100%;}
.btn.book-failed{width:30%;}
.btn.price-changed{width:40%;}


// page overlay
.page-overlay {position:fixed; width:100%; height:100%; top :0; left:0; z-index:1000; background:rgba(0,0,0,0.7);
    .overlay-content {width:400px; height:220px; background:#fff; position:absolute; margin:auto; top:0; right:0; bottom:0; left:0; @include border-radius($border-radius-default); overflow:hidden;
        header {background:$color-main-blue; text-align:center; color:#fff; padding:15px;
            h4 {margin:0; @extend .os-semibold; font-weight:600;}
            .close {color:#fff; opacity:1;}
        }
        section {padding:15px;
            h3 {margin-top:0;}
            a {cursor:pointer;}
        }
        footer {position:absolute; bottom:15px; left:0; width:100%;}
    }
}

//newsletter popup
.page-newsletter {position:fixed; bottom :0; left:4%; z-index:1000;
    .overlay-content {width:373px; height:164px; background:url("/Assets/images/popup/fullframe.png"); margin:auto; top:0; right:0; bottom:0; left:0; @include border-radius($border-radius-default); overflow:hidden;
        section {
            .normal-flow{display:block;
                .close-newsletter{padding-top:55px;}
                .header{padding-top:55px;padding-left:130px;margin-bottom:5px;}
                .popup-text{padding-top:0px;margin-top:0px; padding-left:130px; font-size:12px;padding-right:5px;}
                .form-newsletter{padding-left:130px;
                    .form-group{
                        .input-type{height:28px;width:155px;}
                    }
                }
            }
            .member-exist{display:none;padding-top:55px;padding-left:130px}
            
        }
    }
        footer {bottom:15px; left:0; width:100%;}
}



//Thank You Popup
.thankyou-popup {//display:none; position:fixed; width:100%; height:100%; top :0; left:0; z-index:1000; background:rgba(0,0,0,0.7); visibility: visible;
    .overlay-content {   
        .modal-content{
            .modal-body{ width:620px; height:296px; position:absolute; margin:auto; top:0; right:0; bottom:0; left:0; background:url("/Assets/images/popup/thankyou2_600px.png"); @include border-radius($border-radius-default); overflow:hidden;
                section {
                }
            }
        }
    } 
}

.popup__wrapper {background:rgba(0,0,0,0.7); position:fixed; top:0; left:0; width:100%; height:100%; z-index:1000; display:none;
    .popup {position:absolute; left: 50%; top: 50%; @include translate(-50%, -50%); width:300px; min-height: 200px; background:#ffffff; @include border-radius($border-radius-default);
        .popup__header {background:#1daee5; color:#fff; padding:12px;
            .popup__title {text-align:center; margin:0; @extend .os-bold;}
        }
        .popup__body {
            padding:20px;
        }
        .popup__footer {
            width:100%; padding: 20px;
        }
        .container_new {
            ol {padding-left: 20px;}
            &.price-change-footer {
                .btn.btn-grey {min-width: 100%;}
                .btn.btn-yellow {
                    min-width: 100%;
                    margin-bottom: 8px;
                }
            }
            &.tnc {
                .btn.btn-grey, .btn.btn-yellow {min-width: 100%;}
            }
        }
    }
    // if active
    &.active {display:block;}
}
.popup__wrapper.popup--revalidate {
    .popup {text-align:center; background:none; padding-top:50px;
        .revalidate-image {}
        .revalidate-anim {padding:10px 0;}
        p {font-size:16px; color:#fff; @extend .os-semibold; font-weight:600;}
    }
}
/*.modal {
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    //To center vertically
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    // Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it
    width:620px;
    height:296px;
    background:url("/Assets/images/popup/thankyou2_600px.png") no-repeat; 
    //To center horizontally
    margin: 0 auto;
    border-radius: 0 !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    $baseBorderRadius: 0;
    $navbar-border-radius: 0;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}*/

//Price Change Pop Up
.thankyou-popup {position:fixed; width:100%; height:100%; top :0; left:0; z-index:1000; background:rgba(0,0,0,0.7);display:none;
    .overlay-content {width:620px; height:296px; background:url("/Assets/images/popup/thankyou2_600px.png"); position:absolute; margin:auto; top:0; right:0; bottom:0; left:0; @include border-radius($border-radius-default); overflow:hidden;
        section {
        }
    }
}

//PopUp Loading
.loading-popup {display:block; position:fixed; width:100%; height:100%; top :0; left:0; z-index:1000; background:rgba(0,0,0,0.7); visibility: visible;
    .overlay-content {width:380px; height:382px; background:url("/Assets/images/popup/pleasewait350px.png"); background-repeat: no-repeat; position:absolute; margin:auto; top:0; right:0; bottom:0; left:0; @include border-radius($border-radius-default); overflow:hidden;
        section {
        }
    }
}

//Price Change Pop Up
.priceChaged-popup {position:fixed; width:100%; height:100%; top :0; left:0; z-index:1000; background:rgba(0,0,0,0.7);display: block;
    .overlay-content {width:500px; height:261px; background:url("/Assets/images/popup/pricechanged500px.png"); background-repeat: no-repeat;position:absolute; margin:auto; top:0; right:0; bottom:0; left:0; @include border-radius($border-radius-default); overflow:hidden;
        section {
        }
    }
}

//Payment Failed
.payment-popup {position:fixed; width:100%; height:100%; top :0; left:0; z-index:1000; background:rgba(0,0,0,0.7);display: block;
    .overlay-content {width:500px; height:258px; background:url("/Assets/images/popup/paymentfailed500px.png");background-repeat: no-repeat; position:absolute; margin:auto; top:0; right:0; bottom:0; left:0; @include border-radius($border-radius-default); overflow:hidden;
        section {
        }
    }
}

//bookfailed
.bookfailed-popup {position:fixed; width:100%; height:100%; top :0; left:0; z-index:1000; background:rgba(0,0,0,0.7);display: block;
    .overlay-content {width:500px; height:289px; background:url("/Assets/images/popup/notavailable500px.png"); background-repeat: no-repeat;position:absolute; margin:auto; top:0; right:0; bottom:0; left:0; @include border-radius($border-radius-default); overflow:hidden;
        section {
        }
        footer {bottom:15px; left:0; width:100%;}
    }
}

//after selectflight

.select-flight {position:fixed; width:100%; height:100%; top :0; left:0; z-index:1000; background:rgba(0,0,0,0.7);display: block;
    .overlay-content {width:500px; height:289px; background:url("/Assets/images/popup/pricechanged500px.png"); background-repeat: no-repeat;position:absolute; margin:auto; top:0; right:0; bottom:0; left:0; @include border-radius($border-radius-default); overflow:hidden;
        section {
        }
        footer {bottom:15px; left:0; width:100%;}
    }
}  

.login-succeed {position:fixed; width:100%; height:100%; top :0; left:0; z-index:1000; background:rgba(0,0,0,0.7);display: block;
    .overlay-content {width:500px; height:289px; background:url("/Assets/images/popup/pricechanged500px.png"); background-repeat: no-repeat;position:absolute; margin:auto; top:0; right:0; bottom:0; left:0; @include border-radius($border-radius-default); overflow:hidden;
        section {
        }
        footer {bottom:15px; left:0; width:100%;}
    }
}  

// page campaign
.page-campaign {
    // Danamon Sweet Valentine Promo
    &.campaign-danamon-sweet-valentine {
        .site-content {
            .row>div:first-child {padding-right:30px;}
        }
        h4 {margin-bottom:15px;}
        .promo-image {margin-bottom:20px;}
        .promo-duration {padding:15px 0; margin-top:15px; border-top:1px dotted #3ab8e7; border-bottom:1px dotted #3ab8e7;
            p {color:#3ab8e7;}
        }
    }
}
.clearer {
    clear:both ;
}
.pointer {
    cursor:pointer;
}

/*ACCORDION*/
.accordion-wrapper { 
    .accordion-title {
        background-color: #35b6e7; 
        color: #fff;
        cursor: pointer;
        padding: 7px 15px;
        width: 100%;
        font-size: 13px;
        @extend .os-semibold;
        font-weight: 600;
        &.active:after {content: '-'}
        &:after {
            content: '+';
            font-size: 20px;
            color: #fff;
            float: right;
            margin-left: 5px;
            line-height: 20px;
        }
    }
    .accordion-content {
        max-height: 0;
        overflow: hidden;
        line-height: 16px;
        margin-bottom: 5px;
        &.show {
            max-height: 100%;
            padding: 15px 20px;
            border: 1px solid #e3e3e3;
            background: #fff;
            &>ul {
                list-style-type: none;
                padding: 0;
                &>li {margin-bottom: 15px;}
            }
            &>ol {
                padding: 0 15px;
                &>li {margin-bottom: 10px;}
            }
        }
    }
}

/*Modal Box*/
.modal-box {
    background: url(/Assets/images/campaign/Harbolnas2016/Harbolnas_popup.jpg) no-repeat;
    min-height: 520px;
    width: 780px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    &>.custom-close {
        width: 780px;
        height: 520px;
        margin: 0 0 0 0;
    }
}

// widget
.widget-container {
    .widget {
        .widget-content {background:#ededed;}
        // widget price detail
        &.price-detail {
            .widget-content {padding:12px; font-size:12px;
                dl {
                    margin-bottom: 12px;
                    &:before, &:after {@include clearfix();}
                    dt {@extend .os-semibold; font-weight:600; width:60%; float:left; position:relative;
                        &:before {content:""; position:absolute; width:7px; height:7px; background:#fd8524; left:-12px; top:3px;}
                        &.dt-title {width: 45%;}
                    }
                    dd {@extend .os-semibold; font-weight:600; width:40%; float:left; text-align:right;
                        &.dd-price {width: 55%;}
                    }
                }
                dl.total-price {border-top:$border-default; padding-top:12px; margin-bottom:0;
                    dt {@extend .os-bold; font-weight:700; width:40%;
                        &:before {display:none;}
                    }
                    dd {color:#ff7200; font-size:16px; @extend .os-bold; width:60%;}
                }
            }
            footer {padding:12px; background:#ddd; font-style:italic;}
        }

        // widget voucher
        &.voucher {
            .widget-content {padding:12px;}
            .bg-danger, .bg-success {padding:6px; margin-top:6px;}
        }

        // widget airline
        &.flight {
            .widget-content {padding:12px; border:$border-default; border-top:none;
                .airline {padding-bottom:12px;
                    .airline-image {width:50px; border:$border-default; float:left; margin-right:12px; background:#fff;}
                    .airline-name {@extend .os-bold; color:$color-main-blue;}
                    .airline-number {@extend .airline-name;}
                }
                .route {
                    &:before, &:after {@include clearfix;}
                    .origin {float:left; width:45%;}
                    .duration {float:left; width:7%; margin-right:3%; content:""; border-top:3px solid $color-main-blue; margin-top:50px;}
                    .destination {@extend .origin;}
                    //
                    h4 {@extend .os-bold;}
                    h5 {}
                }
            }
        }

        // widget countdown
        &.countdown {
            .widget-content {background:#ffd632; padding:12px;
                P {padding-left:28px; background:url(/Assets/images/sandclock-yellow.png) left 3px no-repeat; font-size:12px; margin-bottom:12px;}
                .timer {background:#ffefb1; border-bottom:1px solid #dab939; text-align:center; padding:12px; color:#4d4e4e;
                    & > div {display:inline-block;}
                    h5 {@extend .os-bold; font-size:36px; margin-bottom:0; margin-top:0;}
                    span {font-size:12px;}
                    .separator {vertical-align:top; margin-left:6px; margin-right:6px;}
                }
            }
        }
        
        // widget hotel
        &.hotel {
            .widget-content {
                padding:12px; 
                border:$border-default; 
                border-top:none;
                .wt-top .col-right-hotel {padding: 15px 10px;}
                .wt-bottom {
                    margin: 7px 0;
                    margin-left: 25px;
                    line-height: 16px;
                    &:before {@extend .maps-icon;}
                }
                .widget-bottom {
                    line-height: 24px;
                    border-top: 1px solid #ccc;
                    padding-top: 7px;
                }
            }
            .widget-subtitle {
                background: #1daee4;
                color: #fff;
                padding: 7px 15px;
                font-size: 15px;
                @extend .os-semibold;
                font-weight: 600;
                position: relative;
            }
            .widget-wrapper.notes {margin-top: 15px;
                .sqr-blue-list li {
                    padding-left: 8px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

/*Back to Top*/
#back-to-top {
    position: fixed;
    bottom: 60px;
    right: 60px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 2px solid #1daee4;
    border-radius: 50px;
    @include transition(opacity 0.2s ease-out);
    opacity: 0;
    visibility: hidden;
    &:after {        
        background-image: url(/Assets/images/go-top.png);
        width: 30px;
        height: 30px;
        content: '';
        display: block;
        margin: 7px 8px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    &:hover {opacity: 1;}
    &.show {
        opacity: .5;
        visibility: visible;
        &:hover {
            opacity: 1;     
            @include transition(opacity 0.2s ease-out);
        }
    }
}

/*--------------------*/
/* imports */
@import 'screenSmall';
@import 'screenLarge';

@import 'header';
@import 'footer';

@import 'page_index';
@import 'page_flight';
@import 'page_hotel';

@import 'page_checkout';
@import 'page_password';
@import 'page_account';
@import 'page_static';