/*

TRAVORAMA 2.0
file : /Assets/travorama20/css/travorama20.scss

*/

/*--------------------*/
/* variables */
$color-main-blue:#1daee4;
$border-default:1px solid #ccc;
$border-radius-default:4px;

/*--------------------*/
/* mixins */
@mixin letter-spacing($value){
    letter-spacing:$value;
}

@mixin border-radius($radius){
    -webkit-border-radius:$radius;
    -moz-border-radius:$radius;
    border-radius:$radius;
}

@mixin box-shadow($properties){
    -webkit-box-shadow:$properties;
    -moz-box-shadow:$properties;
    box-shadow:$properties;
}

@mixin clearfix(){
    display:block; width:100%; content:""; clear:both;
}

/*--------------------*/
/* imports */
@import 'screenSmall';
@import 'screenMedium';
@import 'screenLarge';

@import 'header';
@import 'footer';

@import 'page_index';
@import 'page_flight';

body {font-family:'Open Sans', sans-serif; letter-spacing:0.5px; -webkit-font-smoothing: subpixel-antialiased;}

/*--------------------*/
/* general class */
.btn.btn-yellow {background:#ffd632; border:2px solid #ebb600; color:#4b4b4b; font-weight:bold;}
.btn.block {display:block; width:100%;}

.section-title.stripe {font-weight:600; background:url(/Assets/images/yellow-stripe.png) center bottom no-repeat; padding-bottom:30px; margin-bottom:45px;
    span {color:#1eafe4; font-weight:bold;}
}

.dropdown-wrapper {position:relative;}
.dropdown-content {background:#ddd; position:absolute; top:100%; left:0; display:none; z-index:2;
    ul {margin:0; padding:0;
        li {list-style:none; display:block; width:100%; border:none !important;
            a {display:block; width:100%; text-align:center;
                &:hover {background:$color-main-blue; color:#fff !important; text-decoration:none;}
            }
        }
    }
}
.dropdown-content.flag-select {width:150%; left:auto; right:0;
    li {padding:0 !important;}
    a {padding:10px;}
}
