/*

TRAVORAMA 2.0

*/
/* import */
@media (min-width: 1200px) {
  .container {
    width: 1200px; } }

/*

FOOTER part

include :
- section subscribe
- section payment
- section feedback
- site footer menu
- site footer

*/
/* section subscribe */
.section-subscribe {
  color: #18a5db; }

/* section payment */
.section-payment span {
  color: #1eafe4; }

/* section feedback */
/* site footer menu */
.site-footer-menu {
  background: #303030;
  color: #fff;
  padding: 20px 0; }
  .site-footer-menu a {
    color: #fff; }
  .site-footer-menu .menu-right .menu-hotel {
    width: 21.66666667%; }
  .site-footer-menu .menu-right .menu-about {
    width: 20%; }
  .site-footer-menu .menu-right .list-title {
    font-weight: bold; }
  .site-footer-menu .menu-right ul {
    padding: 0;
    margin: 0;
    list-style: none; }

/* site-footer */
.site-footer {
  background: #111;
  color: #fff;
  padding: 20px 0; }
