/*

TRAVORAMA 2.0
file : /Assets/travorama20/css/travorama20.scss

*/

/*--------------------*/
/* variables */
$color-main-blue:#1daee4;
$color-main-orange:#ff7200;
$border-default:1px solid #ccc;
$border-radius-default:2px;

/*--------------------*/
/* mixins */
@mixin letter-spacing($value){
    letter-spacing:$value;
}

@mixin border-radius($radius){
    -webkit-border-radius:$radius;
    -moz-border-radius:$radius;
    border-radius:$radius;
}

@mixin box-shadow($properties){
    -webkit-box-shadow:$properties;
    -moz-box-shadow:$properties;
    box-shadow:$properties;
}

@mixin skew-x($value){
    -ms-transform: skewX($value); /* IE 9 */
    -webkit-transform: skewX($value); /* Safari */
    transform: skewX($value); /* Standard syntax */
}

@mixin clearfix(){
    display:block; width:100%; content:""; clear:both;
}
/*--------------------*/
/* general class */
html {height:100%;}
body {font-family:'Open Sans', sans-serif; letter-spacing:0.5px; -webkit-font-smoothing: subpixel-antialiased; position:relative; padding-bottom:415px; min-height:100%; background:#f9f9f9;}

hr {border-top:$border-default;}

.page-loading {display:none;}
.page-loaded {display:block;}

img {max-width:100%;}

span.close {cursor:pointer;}

.no-scroll {overflow:hidden;}

.btn.btn-yellow {background:#ffd632; border:2px solid #ebb600; color:#4f3500; font-weight:bold;}
.btn.btn-grey, .btn.btn-gray {background:#adadad; color:#fff; font-weight:bold; border:2px solid #adadad;}
.btn.block {display:block; width:100%;}

.section-title.stripe {font-weight:600; background:url(/Assets/images/yellow-stripe.png) center bottom no-repeat; padding-bottom:30px; margin-bottom:45px;
    &.small-stripe {background-image:url(/Assets/images/yellow-stripe-small.png);}
    span {color:#1eafe4; font-weight:bold;}
}

.dropdown-wrapper {position:relative;}
.dropdown-content {background:#ddd; position:absolute; top:100%; left:0; display:none; z-index:2;
    ul {margin:0; padding:0;
        li {list-style:none; display:block; width:100%; border:none !important;
            a {display:block; width:100%; text-align:center;
                &:hover {background:$color-main-blue; color:#fff !important; text-decoration:none;}
            }
        }
    }
}
.dropdown-content.flag-select {width:150%; left:auto; right:0;
    li {padding:0 !important;}
    a {padding:10px;}
}

form label.important:after {content:"*"; color:#f00000;}

.text-main-color {color:$color-main-blue;}

// form Search Location pop up
// and form Date Selector pop up
// search calendar
.search-calendar {width:320px; height:520px; background:#252525; position:absolute; top:0; left:325px; z-index:2; display:none;
    .calendar-header {height:40px; background:#4e4e4e; color:#fff; font-weight:600; font-size:17px; padding:10px 15px;
        .close-calendar {float:right; cursor:pointer;}
    }
    .calendar-body {padding-top:15px;}
}
// datepicker
.date-picker {padding:15px;
    .ui-datepicker {width:100% !important; position:relative;
        .ui-datepicker-group {width:100%; padding:15px;
            & + .ui-datepicker-group {border-top:$border-default;}
            .ui-datepicker-title {color:#fff; color:$color-main-blue; font-size:14px; font-weight:600; margin-bottom:10px;}
            .ui-datepicker-calendar {width:100%; color:#fff;
                thead {
                    th {text-align:center; padding-bottom:10px;
                        span {color:#fff !important; font-size:12px;}
                    }
                }
                tbody {
                    tr {margin-bottom:5px;
                        td {text-align:center;
                            span, a {color:#fff; display:inline-block; font-size:12px; padding-top:4px; width:25px; height:25px;}
                            a:hover {background:#fff; color:#252525; text-decoration:none;}
                        }
                    }
                }
                .ui-state-disabled, .ui-datepicker-unselectable {cursor:not-allowed;
                    span {color:#666;}
                }
                .ui-datepicker-week-end {
                    span, a {color:#fed83e;}
                    a:hover {background:#fed83e;}
                    // if disabled
                    &.ui-datepicker-unselectable {
                        span, a {color:#666;}
                    }
                }
            }
            .ui-datepicker-prev {position:absolute; top:-10px; left:15px; cursor:pointer; color:$color-main-blue; font-size:12px;}
            .ui-datepicker-next {position:absolute; top:-10px; cursor:pointer; color:$color-main-blue; font-size:12px; left:auto; right:15px; font-size:12px;}
        }
    }
}

// location dropdown
.search-location {width:850px; min-height:520px; background:#fff; position:absolute; top:0; left:325px; z-index:3; display:none;
    .location-header {height:40px; background:#4e4e4e; color:#fff; font-weight:600; font-size:17px; padding:10px 15px;
        .close-location {float:right; cursor:pointer;}
    }
    .location-body {
        .location-recommend {
            .tab-header {background:#eaeaea; width:100%; padding:0 30px; position:relative;
                a.nav-click {width:30px; height:60px; display:block; background-color:#999999; position:absolute; background-image:url(/Assets/images/nav-sprite.png); background-repeat:no-repeat;
                    &.prev {left:0; top:0;}
                    &.next {right:0; top:0; background-position:-30px 0;}
                }
                &:before, &:after {@include clearfix();}
                nav {width:790px; height:60px; overflow:hidden;
                    ul {margin:0; padding:0; display:block; width:945px;
                        &:before, &:after {@include clearfix();}
                        li {display:table; width:135px; float:left; border-right:$border-default; cursor:pointer;
                            span {display:block; color:#626262; background:#eaeaea; font-size:14px; font-weight:bold; height:60px; padding:0 20px; display:table-cell; vertical-align:middle; line-height:120%;}
                            &.active {border-right-color:#fff;
                                span {color:#21afe5; background:#fff;}
                            }
                            &:last-child {border-right:none;}
                        }
                    }
                }
            }
            .tab-content {padding:0 30px; padding-bottom:15px; padding-top:30px;
                .col-xs-3 {padding:0 12px;}
                &>div {display:none;
                    &.active {display:block;}
                    h3 {color:$color-main-blue; font-size:14px; font-weight:bold; margin-top:10px; margin-bottom:6px;}
                    ul {margin:0; padding:0; list-style:none; margin-bottom:23px;
                        li {margin-bottom:-1px;
                            a {color:#2f2f2f; font-weight:600;
                                &:hover {text-decoration:none;
                                    &:before {content:url(/Assets/images/recommend-selector.png); position:absolute; left:0px;}
                                }
                            }
                        }
                    }
                }
            }
        }
        .location-search {padding:10px; height:480px; overflow:auto; display:none;
            .autocomplete-no-result {}
            .autocomplete-result {
                ul {margin:0; padding:0;
                    li {padding:10px; list-style:none; cursor:pointer;
                        &:hover {background:$color-main-blue;}
                    }
                    li+li {border-top:$border-default;}
                }
            }
        }
    }
}

// slider
.slider {margin-top:10px; margin-bottom:10px; background:#666;
    .ui-slider-range {background:$color-main-blue;}
    .ui-slider-handle {background:#dedede; @include border-radius($border-radius-default);}
}

/*--------------------*/
/* imports */
@import 'screenSmall';
@import 'screenLarge';

@import 'header';
@import 'footer';

@import 'page_index';
@import 'page_flight';

@import 'page_checkout';
@import 'page_password';
@import 'page_account';
@import 'page_static';