<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.StringTemplate" version="3.4.1.9005" targetFramework="net45" />
  <package id="CsvHelper" version="2.10.0" targetFramework="net45" />
  <package id="Dapper" version="1.22" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.0.371" targetFramework="net45" />
</packages>